<h2 class="mt-30">{{t 'loggingPage.embedded.header'}}</h2>
<hr/>

<section class="box">
  <h4>{{t 'loggingPage.embedded.resouceRequestsAndLimits'}}</h4>
  <div class="row">
    <div class="col span-6">
      <label class="acc-label">{{t 'loggingPage.embedded.cpuRequests.label'}}{{field-required}}</label>
      {{input-number
          min=1
          type="number"
          value=requestsCpu
          className="form-control"
          placeholder=(t 'loggingPage.embedded.cpuRequests.placeholder')
          id="embedded-cpuRequests"
      }}
      <p class="text-small text-info">{{t 'loggingPage.embedded.cpuRequests.helpText'}}</p>
    </div>

    <div class="col span-6">
      <label class="acc-label">{{t 'loggingPage.embedded.cpuLimits.label'}}{{field-required}}</label>
      {{input-number
          min=1
          type="number"
          value=limitsCpu
          className="form-control"
          placeholder=(t 'loggingPage.embedded.cpuLimits.placeholder')
      }}
      <p class="text-small text-info">{{t 'loggingPage.embedded.cpuLimits.helpText'}}</p>
    </div>
  </div>

  <div class="row">
    <div class="col span-6">
      <label class="acc-label">{{t 'loggingPage.embedded.memRequests.label'}}{{field-required}}</label>
      {{input-number
          min=512
          type="number"
          value=config.requestsMemory
          className="form-control"
          placeholder=(t 'loggingPage.embedded.memRequests.placeholder')
      }}
      <p class="text-small text-info">{{t 'loggingPage.embedded.memRequests.helpText'}}</p>
    </div>

    <div class="col span-6">
      <label class="acc-label">{{t 'loggingPage.embedded.memLimits.label'}}{{field-required}}</label>
      {{input-number
          min=512
          type="number"
          value=config.limitsMemory
          className="form-control"
          placeholder=(t 'loggingPage.embedded.memLimits.placeholder')
      }}
      <p class="text-small text-info">{{t 'loggingPage.embedded.memLimits.helpText'}}</p>
    </div>
  </div>

  <h4 class="mt-20">{{t 'loggingPage.embedded.indexPatterns.header'}}</h4>
  <p class="text-info text-small">{{t 'loggingPage.embedded.indexPatterns.helpText'}}</p>

      <label class="acc-label">{{t 'loggingPage.embedded.indexPatterns.prefix'}}{{field-required}}</label>
      {{input
          type="text"
          value=config.indexPrefix
          className="form-control"
          placeholder=(t 'loggingPage.embedded.indexPatterns.prefixPlaceholder')
      }}

      <div style="margin-top: 34px;">
        <label>{{t 'loggingPage.embedded.indexPatterns.dateFormat'}}</label>
        <label class="mr-10">{{radio-button selection=config.dateFormat value="YYYY-MM-DD"}} YYYY-MM-DD</label>
        <label class="mr-10">{{radio-button selection=config.dateFormat value="YYYY-MM"}} YYY-MMM</label>
        <label class="mr-10">{{radio-button selection=config.dateFormat value="YYYY"}} YYYY</label>
      </div>

  <div>
  {{t 'loggingPage.embedded.generatedIndex'
    esIndex=esIndex
    htmlSafe=true
    }}
  </div>
</section>

{{logging/form-log-format logPreview=logPreview model=model}}
{{!--
  {{#advanced-section advanced=showAdvanced}}
  {{logging/form-log-docker model=model parentModel=parentModel}}
  {{/advanced-section}} --}}
