{{#each snapshots as |snapshot|}}
  <div class="snapshot {{snapshot.state}}" style={{snapshot.position}}>
    {{#if (or (eq snapshot.state 'transitioning') (eq snapshot.state 'backingup'))}}
        {{#tooltip-element type='tooltip-action-menu' model=snapshot tooltipTemplate='tooltip-snapshot-timeline' tagName="div" classNames='timeline-child' tooltipFor="snapshotTimelineIcon"}}
          <i class="icon {{snapshot.stateIcon}}"></i>
        {{/tooltip-element}}
    {{else}}
        {{tooltip-element type='tooltip-action-menu' model=snapshot tooltipTemplate='tooltip-snapshot-timeline' tagName="div" classNames='timeline-child' tooltipFor="snapshotTimelineChild"}}
    {{/if}}
  </div>
{{else}}
  <div class="text-muted">{{t 'snapshotTimeline.noData'}}</div>
{{/each}}
