<div class="header clearfix">
  <h1 class="pull-left">
    {{t "clusterTemplatesPage.new.header"}}
  </h1>
</div>

<CruClusterTemplate
  @clusterTemplate={{model.clusterTemplate}}
  @clusterTemplateRevision={{model.clusterTemplateRevision}}
  @users={{model.users}}
  @psps={{model.psps}}
  @mode="new"
  @forceExpandOnInit={{false}}
  @cancel={{action "cancel"}}
  @done={{action "done"}}
/>