<aside class="nav-hosts active">
  <label>Host</label>
  <h3>{{displayName}}</h3>

  {{#if description}}
    <label style="margin-top: 10px;">Description</label>
    <p>{{description}}</p>
  {{/if}}

  <ul class="list-unstyled links">
    {{#link-to "host.index" tagName="li"}}
      <a {{bind-attr href="view.href"}}>
        <i class="ss-barchart"></i> Monitoring
      </a>
    {{/link-to}}
    {{#link-to "host.containers" tagName="li"}}
      <a {{bind-attr href="view.href"}}>
        <i class="ss-box" style="position: relative; top: 1px"></i> Containers <span class="badge">{{arrangedInstances.length}}</span>
      </a>
    {{/link-to}}
  </ul>

  <div class="clearfix">
    <label>Info</label>
    {{resource-actions-menu model=this choices=availableActions classNames="pull-right"}}
  </div>

  <ul class="list-unstyled info">
    <li>
      <i {{bind-attr class=":fa-fw stateIcon"}}></i>
      {{displayState}}
      {{#if isTransitioning}}
        <div class="progress progress-striped active" style="height: 10px; border: 0;">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" {{bind-attr aria-valuenow=displayProgress style=progressStyle}}>
            <span class="sr-only">{{displayProgress}}% Complete</span>
          </div>
        </div>
      {{/if}}
      {{#if showTransitioningMessage}}
        <div class="force-wrap">
          {{transitioningMessage}}
        </div>
      {{/if}}
    </li>

    <li>
      <i class="fa-fw ss-link"></i>
      {{displayIp}}
    </li>
  </ul>

</aside>

{{outlet}}
