<div>
  <label class="acc-label pt-10" for="">{{t 'hostsPage.cloudHostsPage.addPage.zone'}}</label>
  {{hostOptions.availabilityZone}}
</div>
<hr/>
<div>
  <label class="acc-label pt-10" for="">{{t 'hostsPage.cloudHostsPage.addPage.instance'}}</label>
  {{hostOptions.instanceProfile}}
</div>
<hr/>
<div>
  <label class="acc-label pt-10" for="">{{t 'hostsPage.cloudHostsPage.addPage.size'}}</label>
  {{hostOptions.diskSize}}
</div>