<div>
  <h2>{{t 'envCatalog.header'}}</h2>
  <h5 class="text-muted">{{format-html-message 'envCatalog.subtext'}}</h5>
  <hr/>
</div>
<div>
  <div class="form-control-static">
    <button class="btn-circle-text" {{action "add"}}><i class="icon icon-plus-circle"/> <span>{{t 'envCatalog.addActionLabel'}}</span></button>
  </div>

  {{#if (or global.length ary.length)}}
    <table class="table fixed no-lines no-top-padding">
      <tr class="text-muted hidden-xs hidden-sm text-left">
        <th width="200">{{t 'catalogSettings.more.name.label'}}</th>
        <th width="30">&nbsp;</th>
        <th>{{t 'catalogSettings.more.url.label'}}</th>
        <th width="30">&nbsp;</th>
        <th width="100">{{t 'catalogSettings.more.kind.label'}}</th>
        <th width="30">&nbsp;</th>
        <th width="200">{{t 'catalogSettings.more.branch.label'}}</th>
        <th width="30">&nbsp;</th>
      </tr>
      {{#each global as |row|}}
        <tr>
          <td class="r-pt5 r-pb5" data-title="{{t 'catalogSettings.more.name.label'}}:">
            {{row.name}}
          </td>
          <td>&nbsp;</td>
          <td class="r-pt5 r-pb5" data-title="{{t 'catalogSettings.more.url.label'}}:">
            {{row.url}}
          </td>
          <td>&nbsp;</td>
          <td class="r-pt5 r-pb5" data-title="{{t 'catalogSettings.more.kind.label'}}:">
            Global
          </td>
          <td>&nbsp;</td>
          <td class="r-pt5 r-pb5" data-title="{{t 'catalogSettings.more.branch.label'}}:">
            {{row.branch}}
          </td>
        </tr>
      {{/each}}
      {{#each ary as |row|}}
        <tr>
          <td class="r-pt5 r-pb5" data-title="{{t 'catalogSettings.more.name.label'}}:">
            {{input class="form-control input-sm name" type="text" value=row.name placeholder=(t 'catalogSettings.more.name.placeholder')}}
          </td>
          <td>&nbsp;</td>
          <td class="r-pt5 r-pb5" data-title="{{t 'catalogSettings.more.url.label'}}:">
            {{input class="form-control input-sm" type="text" value=row.url placeholder=(t 'catalogSettings.more.url.placeholder')}}
          </td>
          <td>&nbsp;</td>
          <td class="r-pt5 r-pb5" data-title="{{t 'catalogSettings.more.kind.label'}}:">
            {{new-select
              classNames="form-control input-sm"
              content=kindChoices
              optionLabelPath="translationKey"
              optionValuePath="value"
              localizedLabel=true
              value=row.kind
            }}
          </td>
          <td>&nbsp;</td>
          <td class="r-pt5 r-pb5" data-title="{{t 'catalogSettings.more.branch.label'}}:">
            {{input class="form-control input-sm" type="text" value=row.branch placeholder=(t 'catalogSettings.more.branch.placeholder')}}
          </td>

          <td class="r-pt5 r-pb5 text-right">
            <button class="btn bg-primary btn-sm" {{action "remove" row}}><i class="icon icon-minus"/><span class="sr-only">{{t 'generic.remove'}}</span></button>
          </td>
        </tr>
      {{/each}}
    </table>
  {{/if}}
</div>
{{top-errors errors=errors}}
{{save-cancel classNames="pt-20" cancel=(action cancel) editing=true save="save"}}
