<div>
  <h2 class="alert-header">{{t 'envCatalog.header'}}</h2>
  <hr/>
  <h5 class="text-muted">{{t 'envCatalog.subtext' htmlSafe=true}}</h5>
</div>
<div>
  <div class="form-control-static">
    <button class="btn bg-primary icon-btn" {{action "add"}}>
      <span class="darken"><i class="icon icon-plus"/></span>
      <span>{{t 'envCatalog.addActionLabel'}}</span>
    </button>
  </div>

  {{#if (or global.length ary.length)}}
    <table class="table fixed">
      <thead>
        <tr class="fixed-header">
          <th width="200">{{t 'catalogSettings.more.name.label'}}</th>
          <th width="30">&nbsp;</th>
          <th>{{t 'catalogSettings.more.url.label'}}</th>
          <th width="30">&nbsp;</th>
          <th width="100">{{t 'catalogSettings.more.kind.label'}}</th>
          <th width="30">&nbsp;</th>
          <th width="200">{{t 'catalogSettings.more.branch.label'}}</th>
          <th width="30">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
      {{#each global as |row|}}
        <tr class="main-row">
          <td class="pt-5 pb-5" data-title="{{t 'catalogSettings.more.name.label'}}:">
            {{row.name}}
          </td>
          <td>&nbsp;</td>
          <td class="pt-5 pb-5" data-title="{{t 'catalogSettings.more.url.label'}}:">
            {{row.url}}
          </td>
          <td>&nbsp;</td>
          <td class="pt-5 pb-5" data-title="{{t 'catalogSettings.more.kind.label'}}:">
            Global
          </td>
          <td>&nbsp;</td>
          <td class="pt-5 pb-5" data-title="{{t 'catalogSettings.more.branch.label'}}:">
            {{row.branch}}
          </td>
        </tr>
      {{/each}}
      {{#each ary as |row|}}
        <tr class="main-row">
          <td class="pt-5 pb-5" data-title="{{t 'catalogSettings.more.name.label'}}:">
            {{input class="form-control input-sm name" type="text" value=row.name placeholder=(t 'catalogSettings.more.name.placeholder')}}
          </td>
          <td>&nbsp;</td>
          <td class="pt-5 pb-5" data-title="{{t 'catalogSettings.more.url.label'}}:">
            {{input class="form-control input-sm" type="text" value=row.url placeholder=(t 'catalogSettings.more.url.placeholder')}}
          </td>
          <td>&nbsp;</td>
          <td class="pt-5 pb-5" data-title="{{t 'catalogSettings.more.kind.label'}}:">
            {{t 'generic.environment'}}
          </td>
          <td>&nbsp;</td>
          <td class="pt-5 pb-5" data-title="{{t 'catalogSettings.more.branch.label'}}:">
            {{input class="form-control input-sm" type="text" value=row.branch placeholder=(t 'catalogSettings.more.branch.placeholder')}}
          </td>

          <td class="pt-5 pb-5 text-right">
            <button class="btn bg-primary btn-sm" {{action "remove" row}}><i class="icon icon-minus"/><span class="sr-only">{{t 'generic.remove'}}</span></button>
          </td>
        </tr>
      {{/each}}
      </tbody>
    </table>
  {{/if}}
</div>
{{top-errors errors=errors}}
{{save-cancel classNames="pt-20" cancel=(action cancel) editing=true save="save"}}
