<section class="header clearfix">
  <h1>{{t 'newPipeline.header'}}</h1>
</section>
<div class="mt-10"></div>
<section class="has-tabs clearfix row">
  <h1 class="col span-2" style="margin-top: 8px">{{input type="text" value=model.pipeline.name classNames="form-control"
      placeholder=(t 'newPipeline.name.placeholder')}}
  </h1>
</section>

<section class="pipeline-container">
  {{pipeline-stages
    clusterPipeline=model.clusterPipeline
    envvars=model.envvars
    pipeline=model.pipeline
    stagesDraggable=true
    accounts=model.accounts
    model=model
    editable=true
    editMode="new"
    saved=saved
  }}
</section>

{{!-- <div class="mt-10"></div>
{{pipeline-parameters
  pipeline=model.pipeline
}}
 --}}
{{top-errors errors=errors}}
<div class="mt-20"></div>
<div class="text-center pipeline-wrap-header-button">
  {{#save-cancel class="pipeline-save-cancel" createLabel="newPipeline.add" save="save" cancel="cancel"}}
  {{/save-cancel}}
</div>
