{{#if (or isEdit (eq step 1))}}
  {{#accordion-list showExpandAll=false as |al expandFn|}}
    {{#accordion-list-item
      title=(t 'clusterNew.rke.customize.label')
      detail=(t 'clusterNew.rke.customize.detail')
      expandAll=al.expandAll
      expand=(action expandFn)
    }}
      <div class="row">
        <div class="col span-4">
          <label class="acc-label">{{t 'clusterNew.rke.version.label'}}</label>
          {{new-select
            content=versionChoices
            optionLabelPath='value'
            value=config.kubernetesVersion
          }}
        </div>
        <div class="col span-4">
          <label class="acc-label">{{t 'clusterNew.rke.network.label'}}</label>
          {{new-select
            classNames="form-control"
            content=networkChoices
            localizedLabel=true
            value=config.network.plugin
          }}
        </div>
        <div class="col span-4">
          <label class="acc-label">{{t 'clusterNew.psp.label'}}</label>
          {{new-select
            content=model.psps
            optionLabelPath='displayName'
            optionValuePath='id'
            prompt='generic.none'
            localizedPrompt=true
            value=cluster.defaultPodSecurityPolicyTemplateId
          }}
        </div>
      </div>
      <div class="row">
        <div class="col span-4">
          <label class="acc-label">{{t 'clusterNew.rke.registry.label'}}</label>
          <div class="radio">
            <label>
              {{radio-button selection=registry value="default"}}
              {{t 'clusterNew.rke.registry.default'}}
            </label>
          </div>
          <div class="radio">
            <label>
              {{radio-button selection=registry value="custom"}}
              {{t 'clusterNew.rke.registry.custom'}}
            </label>
          </div>
          {{#if (eq registry 'custom')}}
            <label class="acc-label">{{t 'clusterNew.rke.registry.url.label'}}</label>
            {{input type="text" value=registryUrl}}
            <label class="acc-label">{{t 'clusterNew.rke.registry.user.label'}}</label>
            {{input type="text" value=registryUser}}
            <label class="acc-label">{{t 'clusterNew.rke.registry.password.label'}}</label>
            {{input type="password" value=registryPass}}
          {{/if}}
        </div>

        <div class="col span-8">
          <label class="acc-label">{{t 'clusterNew.rke.ignoreDockerVersion.label'}}</label>
          <div class="radio">
            <label>
              {{radio-button selection=config.ignoreDockerVersion value=false}}
              {{t 'clusterNew.rke.ignoreDockerVersion.disabled'}}
            </label>
          </div>
          <div class="radio">
            <label>
              {{radio-button selection=config.ignoreDockerVersion value=true}}
              {{t 'clusterNew.rke.ignoreDockerVersion.enabled'}}
            </label>
          </div>
        </div>
      </div>
    {{/accordion-list-item}}
  {{/accordion-list}}

  {{#unless isCustom}}
    {{cru-node-pools
      mode=mode
      cluster=cluster
      driver=nodeWhich
      nodeTemplates=model.nodeTemplates
      registerHook=(action "registerHook")
      setNodePoolErrors=(action "setNodePoolErrors")
    }}
  {{/unless}}
{{/if}}

{{#if (eq step 2) }}
  <div class="mt-20">
    {{banner-message color="bg-info" message=(t 'clusterNew.rke.command.instructions'
      appName=settings.appName
      docsBase=settings.docsBase
      htmlSafe=true
    )}}
  </div>

  <div class="copy-pre mt-20 mb-20">
    {{copy-to-clipboard clipboardText=command tagName="div" classNames="copy-to-pre"}}
    <pre id="registration-command" style="font-size: 14px;">{{command}}</pre>
  </div>

  {{#accordion-list showExpandAll=false as |al expandFn|}}
    {{#accordion-list-item
      title=(t 'clusterNew.rke.role.title')
      detail=(t 'clusterNew.rke.role.detail')
      expandOnInit=true
      expandAll=al.expandAll
      expand=(action expandFn)
    }}
      <div class="row">
        <div class="col span-4 text-center">
          <label>{{input type="checkbox" checked=etcd}} {{t 'clusterNew.rke.role.header.etcd'}}</label>
        </div>
        <div class="col span-4 text-center">
          <label>{{input type="checkbox" checked=controlplane}} {{t 'clusterNew.rke.role.header.controlplane'}}</label>
        </div>
        <div class="col span-4 text-center">
          <label>{{input type="checkbox" checked=worker}} {{t 'clusterNew.rke.role.header.worker'}}</label>
        </div>
      </div>
    {{/accordion-list-item}}

    {{form-user-labels
      setLabels=(action 'setLabels')
      expandAll=al.expandAll
      expand=(action expandFn)
      detailKey="formUserLabels.nodeDetail"
    }}
  {{/accordion-list}}

  {{#if newNodeCount}}
    <div class="banner bg-success">
      <div class="banner-icon"><span class="icon icon-success"></span></div>
      <div class="banner-message">
        <p>{{t 'clusterNew.custom.detected' count=newNodeCount}}</p>
      </div>
    </div>
  {{/if}}
{{/if}}

{{top-errors errors=errors}}
{{#if (or isEdit (eq step 1))}}
  {{save-cancel createLabel=(if isCustom 'saveCancel.next' 'saveCancel.create') editing=isEdit save="driverSave" cancel="close"}}
{{else}}
  <div class="footer-actions">
    <button {{action "close"}} class="btn bg-primary">{{t 'clusterNew.rke.done'}}</button>
  </div>
{{/if}}
