<section class="header clearfix">
  <h1>{{t 'storagePoolsPage.newVolume.header'}}</h1>
</section>
<section class="horizontal-form container-fluid">
  {{form-name-description model=model.volume}}

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label class="form-control-static">{{t 'storagePoolsPage.newVolume.form.driverOptions'}}</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{form-key-value
        changed=(action (mut model.volume.driverOpts))
        nameLabel='storagePoolsPage.newVolume.form.addActionLabel'
      }}
    </div>
  </div>

</section>

{{top-errors errors=errors}}
{{save-cancel save="save" cancel="cancel"}}
