<section class="horizontal-form container-fluid">
  <h2>Add Volume</h2>
  {{top-errors errors=errors}}

  {{form-name-description model=model.volume}}

  {{form-divider}}

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label class="form-control-static">Driver Options</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{form-key-value
        changed=(action (mut model.driverOpts))
        nameLabel="Option"
      }}
    </div>
  </div>

</section>

{{partial "save-cancel"}}
