<section>
  <h2>{{headerText}}</h2>
  <div>
    {{#if access.enabled}}
      {{t 'authPage.localAuth.subtext.enabled.text' appName=settings.appName}} {{#link-to "admin-tab.accounts"}}{{t 'authPage.localAuth.subtext.enabled.linkText'}}{{/link-to}}
    {{else}}
      {{t 'authPage.localAuth.subtext.disabled' appName=settings.appName}}
    {{/if}}
  </div>
</section>
{{#if access.enabled}}
  <section class="box mt-30">
    <h3>{{t 'authPage.localAuth.accessEnabled.header' htmlSafe=true}}</h3>
    <hr/>

    <p>
      {{t 'authPage.localAuth.accessEnabled.warning' appName=settings.appName htmlSafe=true}}
    </p>

    {{#if confirmDisable}}
      <button class="btn bg-error" {{action "disable"}}>
        <i class="icon icon-alert"></i> {{t 'authPage.localAuth.accessEnabled.buttonText.disable'}}
      </button>
    {{else}}
      <button class="btn bg-error" {{action "promptDisable"}}>
        <i class="icon icon-umbrella"></i> {{t 'authPage.localAuth.accessEnabled.buttonText.prompt'}}
      </button>
    {{/if}}

  </section>
{{/if}}

{{#unless access.enabled}}
  <section class="box mt-30">
    <h3>{{t 'authPage.localAuth.accessDisabled.header'}}</h3>
    <hr/>
    <p class="text-info">{{t 'authPage.localAuth.accessDisabled.helpText' appName=settings.appName}}</p>
    <div class="row">
      <div class="col span-6">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'authPage.localAuth.accessDisabled.form.login.labelText'}}{{field-required}}</label>
          {{input type="text" value=adminPublicValue placeholder=(t 'authPage.localAuth.accessDisabled.form.login.placeholder') classNames="form-control"}}
        </div>
      </div>
      <div class="col span-6">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'authPage.localAuth.accessDisabled.form.name.labelText'}}</label>
          {{input type="text" value=adminName placeholder=(t 'authPage.localAuth.accessDisabled.form.name.placeholder') classNames="form-control"}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col span-6">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'authPage.localAuth.accessDisabled.form.password.labelText'}}{{field-required}}</label>
          {{input type="password" value=adminSecretValue classNames="form-control"}}
          <div class="text-info">{{validateDescription}}</div>
        </div>
      </div>
      <div class="col span-6">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'authPage.localAuth.accessDisabled.form.confirmPassword.labelText'}}{{field-required}}</label>
          {{input type="password" value=adminSecretValue2 classNames="form-control"}}
        </div>
      </div>
    </div>
  </section>

  <section class="box mt-30">
    <h3>{{t 'authPage.localAuth.accessControl.header'}}</h3>
    <hr/>
    <p class="text-info">{{t 'authPage.localAuth.accessControl.helpText'}}</p>
    {{top-errors errors=errors}}

    <button disabled={{createDisabled}} class="btn bg-primary mt-25" style="height: 38px; line-height: 28px;" {{action "test"}}>
      {{#if testing}}
        <i class="icon icon-spinner icon-spin"></i> {{t 'authPage.localAuth.accessControl.buttonText.post'}}
      {{else}}
        {{t 'authPage.localAuth.accessControl.buttonText.pre'}}
      {{/if}}
    </button>
  </section>
{{/unless}}
