<section class="well">
  <h2>{{headerText}}</h2>
  <div>
    {{#if access.enabled}}
      {{t 'authPage.localAuth.subtext.enabled.text' appName=settings.appName}} {{#link-to "admin-tab.accounts"}}{{t 'authPage.localAuth.subtext.enabled.linkText'}}{{/link-to}}
    {{else}}
      {{t 'authPage.localAuth.subtext.disabled' appName=settings.appName}}
    {{/if}}
  </div>
</section>
{{#if access.enabled}}
  <section class="well">
    <h3>{{format-html-message 'authPage.localAuth.accessEnabled.header'}}</h3>
    <hr/>

    <p>
      {{format-html-message 'authPage.localAuth.accessEnabled.warning' appName=settings.appName}}
    </p>

    {{#if confirmDisable}}
      <button class="btn btn-danger" {{action "disable"}}>
        <i class="icon icon-alert"></i> {{t 'authPage.localAuth.accessEnabled.buttonText.disable'}}
      </button>
    {{else}}
      <button class="btn btn-danger" {{action "promptDisable"}}>
        <i class="icon icon-umbrella"></i> {{t 'authPage.localAuth.accessEnabled.buttonText.prompt'}}
      </button>
    {{/if}}

  </section>
{{/if}}

{{#unless access.enabled}}
  <section class="well">
    <h3>{{t 'authPage.localAuth.accessDisabled.header'}}</h3>
    <hr/>
    <p class="help-block">{{t 'authPage.localAuth.accessDisabled.helpText' appName=settings.appName}}</p>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>{{t 'authPage.localAuth.accessDisabled.form.login.labelText'}}*</label>
          {{input type="text" value=adminPublicValue placeholder=(t 'authPage.localAuth.accessDisabled.form.login.placeholder') classNames="form-control"}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>{{t 'authPage.localAuth.accessDisabled.form.name.labelText'}}</label>
          {{input type="text" value=adminName placeholder=(t 'authPage.localAuth.accessDisabled.form.name.placeholder') classNames="form-control"}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>{{t 'authPage.localAuth.accessDisabled.form.password.labelText'}}*</label>
          {{input type="password" value=adminSecretValue classNames="form-control"}}
          <div class="help-block">{{validateDescription}}</div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>{{t 'authPage.localAuth.accessDisabled.form.confirmPassword.labelText'}}*</label>
          {{input type="password" value=adminSecretValue2 classNames="form-control"}}
        </div>
      </div>
    </div>
  </section>

  <section class="well">
    <h3>{{t 'authPage.localAuth.accessControl.header'}}</h3>
    <hr/>
    <p class="help-block">{{t 'authPage.localAuth.accessControl.helpText'}}</p>
    {{top-errors errors=errors}}

    <button disabled={{createDisabled}} class="btn btn-primary" style="display: block;" {{action "test"}}>
      {{#if testing}}
        <i class="icon icon-spinner icon-spin"></i> {{t 'authPage.localAuth.accessControl.buttonText.post'}}
      {{else}}
        {{t 'authPage.localAuth.accessControl.buttonText.pre'}}
      {{/if}}
    </button>
  </section>
{{/unless}}
