<section class="grid-header">
  <div class="row">
    <div class="col-sm-6">
      <h3>All Registries ({{length}})</h3>
    </div>
    <div class="col-sm-6 text-right">
      <button {{action "newRegistry"}} class="btn btn-sm btn-primary"><i class="ss-plus"></i> Add Registry</button>
    </div>
  </div>
</section>
<section>
  <table class="grid fixed" style="margin-bottom: 0">
    <thead>
      <tr>
        <th width="120">State</th>
        <th>Address</th>
        <th>Email</th>
        <th>Username</th>
        <th>Created</th>
        <th width="50">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each registry in this}}
        <tr>
          <td>
            <span {{bind-attr class=":badge :state registry.stateBackground"}}>
              {{registry.displayState}}
            </span>
          </td>
          <td>
            {{registry.displayAddress}}
          </td>
          <td>
            {{#if registry.credential.email}}{{registry.credential.email}}{{else}}<i class="text-muted">None</i>{{/if}}
          </td>
          <td>
            {{#if registry.credential.publicValue}}{{registry.credential.publicValue}}{{else}}<i class="text-muted">None</i>{{/if}}
          </td>
          <td>
            {{date-calendar registry.created}}
          </td>
          <td align="right">
            {{resource-actions-menu model=registry choices=registry.availableActions}}
          </td>
        </tr>
      {{else}}
        <tr><td colspan="4" class="text-center text-muted">You don't have any registries yet.</td></tr>
      {{/each}}
    </tbody>
  </table>
</section>
