<tr class="main-row">
    <td width="100" class="pl-15 pr-15 vertical-top  pt-15"><BadgeState @model={{badgeState}} class="text-center full-width" /></td>
    <td>
        {{#if model.nodeId}}
            <a href="{{href-to 'authenticated.cluster.monitoring.node-detail' scope.currentCluster.id model.nodeId}}">{{model.name}}</a>
        {{else}}
            {{model.name}} - {{t 'cis.scan.detail.table.nodesTable.notAvailable'}}
        {{/if}}
    </td>
</tr>