<section class="header clearfix">
  <h1>{{t 'haPage.header'}}</h1>
</section>

<section class="well">
  {{t 'haPage.setup.prefix' appName=settings.appName}}<a href="{{settings.docsBase}}/installing-rancher/installing-server/#multi-nodes" target="_blank" rel="nofollow noreferrer">{{t 'haPage.setup.link' appName=settings.appName}}</a>{{t 'haPage.setup.suffix' appName=settings.appName}}
</section>

<section class="well instances">
  <table class="grid fixed r-mb0">
    <thead>
      <tr>
        {{sortable-th sortable=this action="changeSort" name="uuid" label="generic.uuid" width="280"}}
        {{sortable-th sortable=this action="changeSort" name="address" label="haPage.table.address"}}
        {{sortable-th sortable=this action="changeSort" name="port" label="haPage.table.port" width="80"}}
        {{sortable-th sortable=this action="changeSort" name="clustered" label="haPage.table.clustered" width="80"}}
        {{sortable-th sortable=this action="changeSort" name="heartbeat" label="haPage.table.heartbeat" width="200"}}
      </tr>
    </thead>
    <tbody>
      {{#each arranged as |member|}}
        <tr>
          <td>{{member.uuid}}</td>
          <td>{{member.advertiseAddress}}</td>
          <td>{{member.httpPort}}</td>
          <td>{{#if member.clustered}}{{t 'generic.yess'}}{{else}}{{t 'generic.noo'}}{{/if}}</td>
          <td>{{date-str member.heartbeat}}</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>

