<section class="header clearfix">
  <h1>{{t 'haPage.header'}}</h1>
</section>

<section>
  {{t 'haPage.setup.prefix' appName=settings.appName}}<a href="{{settings.docsBase}}/installing-rancher/installing-server/#multi-nodes" target="_blank" rel="nofollow noreferrer">{{t 'haPage.setup.link' appName=settings.appName}}</a>{{t 'haPage.setup.suffix' appName=settings.appName}}
</section>

<section class="instances">
  {{#sortable-table
       classNames="grid sortable-table"
       bulkActions=false
       rowActions=false
       paging=false
       search=false
       sortBy=sortBy
       headers=headers
       body=model
       as |sortable kind member dt|
  }}
    {{#if (eq kind "row")}}
      <td>{{member.uuid}}</td>
      <td>{{member.advertiseAddress}}</td>
      <td>{{member.httpPort}}</td>
      <td>{{#if member.clustered}}{{t 'generic.yes'}}{{else}}{{t 'generic.no'}}{{/if}}</td>
      <td>{{date-str member.heartbeat}}</td>
    {{else if (eq kind "norows")}}
      <tr>
        <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'processesPage.summary.noData'}}</td>
      </tr>
    {{/if}}
  {{/sortable-table}}
</section>
