{{#if ary.length}}
  <table class="table fixed no-lines mb-10">
    <tr class="hidden-xs hidden-sm">
      <th>{{t valueLabel}}</th>
      <th width="30">&nbsp;</th>
    </tr>
    {{#each ary as |row|}}
    <div class="pt-10"></div>
      <tr>
        <td data-title="{{t valueLabel}}">
          {{input-paste pasted="pastedValues" class="form-control input-sm value" type="text" value=row.value placeholder=valuePlaceholder}}
        </td>

        <td class="text-right">
          <button class="btn bg-primary btn-sm" {{action "remove" row}}><i class="icon icon-minus"/><span class="sr-only">{{t 'generic.remove'}}</span></button>
        </td>
      </tr>
    {{/each}}
  </table>
{{/if}}
<button class="btn bg-link icon-btn" {{action "add"}}><span class="darken"><i class="icon icon-plus text-small"/></span> <span>{{t addActionLabel}}</span></button>

{{#if ary.length}}
  {{#if showProTip}}
    <div class="protip pt-10">
      {{t 'formValueArray.protip'}}
    </div>
  {{/if}}
{{/if}}