<div class="form-control-static">
  <button class="btn-circle-text" {{action "add"}}><i class="icon icon-plus-circle"/> <span>Add {{nameLabel}}</span></button>
</div>

{{#if ary.length}}
  <table class="table fixed no-lines no-top-padding tight small">
    <tr class="text-muted">
      <th>{{valueLabel}}</th>
      <th width="30">&nbsp;</th>
    </tr>
    {{#each ary as |row|}}
      <tr>
        <td>
          {{input-paste pasted="pastedValues" class="form-control input-sm value" type="text" value=row.value placeholder=valuePlaceholder}}
        </td>

        <td class="text-right">
          <button class="btn-circle" {{action "remove" row}} tabindex="-1"><i class="icon icon-x-circle"/></button>
        </td>
      </tr>
    {{/each}}
  </table>
  {{#if showProTip}}
    <div class="text-muted" style="font-size: 12px; margin-bottom: 12px;">
      ProTip: Paste one or more lines of values into any field for easy bulk entry.
    </div>
  {{/if}}
{{/if}}
