{{#accordion-list-item
     title=(t 'formVolumes.title')
     detail=(t 'formVolumes.detail' appName=settings.appName)
     status=status
     statusClass=statusClass
     expand=(action expandFn)
}}
  {{#if projects.current.isWindows}}
    <div class="text-center p-20">Volume support is not currently available for Windows.</div>
  {{else}}
    <div class="dropdown">
      <button type="button" class="btn bg-link p-0 icon-btn dropdown-toggle pl-10" data-toggle="dropdown" aria-expanded="false">
        <span>{{t 'formVolumes.add.label'}}</span>
        <span class="darken"><i class="icon icon-chevron-down"></i></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li class="disabled"><a {{!--action "addVolume"--}}>{{t 'formVolumes.add.existing'}} (Coming Soon)</a></li>
        <li class="disabled"><a {{!--action "addNewVolume"--}}>{{t 'formVolumes.add.new'}} (Coming Soon)</a></li>
        <li><a {{action "addBindMount"}}>{{t 'formVolumes.add.bindMount'}}</a></li>
        <li><a {{action "addTmpfs"}}>{{t 'formVolumes.add.tmpfs'}}</a></li>
        {{#if isService}}
          {{#if hasSidekicks}}
            <li><a {{action "addVolumesFromLaunchConfig"}}>{{t 'formVolumes.add.fromLaunchConfig'}}</a></li>
          {{/if}}
        {{else}}
          <li><a {{action "addVolumesFromContainer"}}>{{t 'formVolumes.add.fromContainer'}}</a></li>
        {{/if}}
        <li class="divider"></li>
        <li class="disabled"><a {{action "addCustom"}}>{{t 'formVolumes.add.custom'}} (Coming Soon)</a></li>
      </ul>
    </div>

    {{#if volumesArray.length}}
      <div class="mt-20">
        <table class="table fixed no-lines mt-20">
          <thead>
            <tr>
              <td width="150">{{t 'formVolumes.table.kind'}}</td>
              <td width="20"></td>
              <td>{{t 'formVolumes.table.source'}}</td>
              <td width="20"></td>
              <td>{{t 'formVolumes.table.mountPoint'}}</td>
              <td width="20"></td>
              <td width="150">{{t 'formVolumes.table.opts'}}</td>
              <td width="20"></td>
              <td width="40" class="actions"></td>
            </tr>
          </thead>
          <tbody>
            {{#each volumesArray as |vol|}}
              {{container/form-volume-row
                model=vol
                stack=stack
                isService=isService
                requestedHostId=launchConfig.requestedHostId
                remove=(action "remove" vol)
              }}
            {{/each}}
          </tbody>
        </table>
      </div>
    {{/if}}


    {{#if hasCustom}}
      <div class="mt-20">
        <label class="acc-label" for="volumeDriver">{{t 'formVolumes.volumeDriver.label'}}</label>
        {{input-suggest
          value=launchConfig.volumeDriver
          grouped=driverChoices
          placeholder=(t 'formVolumes.volumeDriver.placeholder')
        }}
      </div>
    {{/if}}
  {{/if}}
{{/accordion-list-item}}
