<div class="form-group">
  {{#if canRequestHost}}
    <div class="radio">
      <label class="form-control-static">{{radio-button selection=isRequestedHost value=true}}
        {{#if isService}}
          Run <b>all</b> {{if isVm 'virtual machines' 'containers'}} on a specific host{{if isRequestedHost ':'}}
        {{else}}
          Run on a specific host{{if isRequestedHost ':'}}
        {{/if}}</label>
        {{#if isRequestedHost}}
          {{new-select
            class="form-control"
            content=hostChoices
            value=requestedHostId
            optionValuePath="id"
            optionLabelPath="name"
            disabled=(not isRequestedHost)
            style="display: inline-block; width: auto;"
          }}
        {{/if}}
    </div>

    <div class="radio">
      <label>{{radio-button selection=isRequestedHost value=false}}
        {{#if isService}}
          {{#if isGlobal}}
            Automatically run on every host matching scheduling rules:
          {{else}}
            Automatically pick hosts for each {{if isVm 'virtual machine' 'container'}} matching scheduling rules:
          {{/if}}
        {{else}}
          Automatically pick a host matching scheduling rules:
        {{/if}}
      </label>
    </div>
  {{else}}
    {{#if isService}}
      {{#if isGlobal}}
        Automatically run on every host matching scheduling rules:
      {{else}}
        Automatically pick hosts for each {{if isVm 'virtual machine' 'container'}} matching scheduling rules:
      {{/if}}
    {{else}}
      Automatically pick a host matching scheduling rules:
    {{/if}}
  {{/if}}

  {{#unless isRequestedHost}}
    <div class="form-control-static">
      <button class="btn-circle-text" {{action "addSchedulingRule"}}><i class="icon icon-plus-circle"/> <span>Add Scheduling Rule</span></button>
    </div>
    {{#if affinityLabelArray.length}}
      <table class="table fixed no-lines no-top-padding tight small">
        <thead>
          <tr class="text-muted">
            <th width="70"></th>
            <th width="100">Condition</th>
            <th width="60"></th>
            <th width="180">Field</th>
            <th width="30"></th>
            <th>Key</th>
            <th width="30"></th>
            <th>Value</th>
            <th width="30"></th>
          </tr>
        </thead>
        <tbody>
          {{#each labelArray as |rule|}}
            {{#if (eq rule.type "affinity")}}
              {{scheduling-rule-row rule=rule allHosts=allHosts remove="removeSchedulingRule" isGlobal=isGlobal}}
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  {{/unless}}
</div>
