<div class="form-group">
  {{#if canRequestHost}}
    <div class="radio">
      <label class="form-control-static">{{radio-button selection=isRequestedHost value=true}}
        {{#if isService}}
          {{#if (eq isVm 'virtual machines')}}
            {{format-html-message 'formScheduling.canRequestHost.vm'}}
          {{else}}
            {{format-html-message 'formScheduling.canRequestHost.containers'}}
          {{/if~}}
          {{if isRequestedHost ':'}}
        {{else}}
          Run on a specific host{{if isRequestedHost ':'}}
        {{/if}}</label>
        {{#if isRequestedHost}}
          {{new-select
            class="form-control"
            content=hostChoices
            value=requestedHostId
            optionValuePath="id"
            optionLabelPath="name"
            disabled=(not isRequestedHost)
            style="display: inline-block; width: auto;"
          }}
        {{/if}}
    </div>

    <div class="radio">
      <label>{{radio-button selection=isRequestedHost value=false}}
        {{#if isService}}
          {{#if isGlobal}}
            {{t 'formScheduling.autoRun'}}
          {{else}}
            {{#if (eq isVm 'virtual machines')}}
              {{t 'formScheduling.autoPick.vm'}}
            {{else}}
              {{t 'formScheduling.autoPick.container'}}
            {{/if~}}
          {{/if}}
        {{else}}
          {{t 'formScheduling.autoPick.host'}}
        {{/if}}
      </label>
    </div>
  {{else}}
    {{#if isService}}
      {{#if isGlobal}}
        {{t 'formScheduling.autoRun'}}
      {{else}}
        {{#if isVm}}
          {{t 'formScheduling.autoPick.vm'}}
        {{else}}
          {{t 'formScheduling.autoPick.container'}}
        {{/if~}}
      {{/if}}
    {{else}}
      {{t 'formScheduling.autoPick.host'}}
    {{/if}}
  {{/if}}

  {{#unless isRequestedHost}}
    <div class="form-control-static">
      <button class="btn-circle-text" {{action "addSchedulingRule"}}><i class="icon icon-plus-circle"/> <span>{{t 'formScheduling.addRule'}}</span></button>
    </div>
    {{#if affinityLabelArray.length}}
      <table class="table fixed no-lines no-top-padding tight small">
        <thead>
          <tr class="text-muted">
            <th width="70"></th>
            <th width="100">{{t 'formScheduling.condition'}}</th>
            <th width="60"></th>
            <th width="180">{{t 'formScheduling.field'}}</th>
            <th width="30"></th>
            <th>{{t 'formScheduling.key'}}</th>
            <th width="30"></th>
            <th>{{t 'formScheduling.value'}}</th>
            <th width="30"></th>
          </tr>
        </thead>
        <tbody>
          {{#each labelArray as |rule|}}
            {{#if (eq rule.type "affinity")}}
              {{scheduling-rule-row rule=rule allHosts=allHosts remove="removeSchedulingRule" isGlobal=isGlobal}}
            {{/if}}
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  {{/unless}}
</div>
