<tr class="main-row">
  <td class="row-check" valign="middle" style="padding-top: 2px;">
    {{#if model.canBulkRemove}}
      {{check-box nodeId=model.id}}
    {{/if}}
  </td>
  <td data-title="{{dt.state}}" class="state">
    {{badge-state model=model}}
  </td>
  <td data-title="{{dt.fqdn}}">
    {{model.fqdn}}
  </td>
  <td data-title="{{dt.projectIds}}">
    {{model.projectIds}}
  </td>
  <td data-title="{{dt.providerName}}">
    {{model.providerName}}
  </td>
  <td data-title="{{dt.actions}} "class="actions">
    {{action-menu model=model}}
  </td>
</tr>
