<AccordionListItem
  @title={{t "formGlobalRoles.title"}}
  @detail={{t "formGlobalRoles.description" appName=settings.appName}}
  @expandOnInit={{true}}
  @showExpand={{false}}
>
  {{#each baseRoles as |baseRole|}}
    <FormGlobalRolesRow
      @model={{baseRole}}
    />
  {{/each}}

  <hr/>

  <div class="pb-10">
    <label>
      {{t "formGlobalRoles.mode.custom.label"}}
      <p class="help-block">
        {{t "formGlobalRoles.mode.custom.detail"}}
      </p>
    </label>
  </div>

  {{#each additionalRoles as |role|}}
    <FormGlobalRolesRow
      @model={{role}}
    >
      <div class="input-group mb-10 border" onclick={{action "toggle"}}>
        <label class="input-group-addon bg-default p-10 vertical-middle">
          {{input type="checkbox" checked=role.active}}
        </label>
        <div class="form-control p-10 vertical-middle">
          {{role.role.displayName}}
          {{#if role.role.detail}}
            <p class="help-block">
              {{role.role.detail}}
            </p>
          {{/if}}
        </div>
      </div>
    </FormGlobalRolesRow>
  {{/each}}
</AccordionListItem>