{{top-errors errors=errors}}

<h2>{{t (if editing 'modalEditBackup.edit' 'modalEditBackup.create')}}</h2>

<div class="inline-form">
  <label>{{t 'modalEditBackup.nameLabel'}}{{field-required}}</label>
  {{input class="form-control" value=backupName }}
</div>

<div class="inline-form">
  <label>{{t 'modalEditBackup.backupTarget'}}{{field-required}}</label>
    {{new-select
      classNames="form-control"
      prompt="modalEditBackup.backupTargetPlaceholder"
      content=backupTargets
      optionValuePath="id"
      optionLabelPath="name"
      value=backupTarget
    }}
</div>


{{save-cancel editing=editing save="saveBackup" cancel="cancel"}}
