<a class="btn bg-transparent">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    {{#if header.icon}}
      <i class="{{header.icon}}"></i>
    {{/if}}
    {{#if header.translationKey}}
      {{t header.translationKey}}
    {{else if header.label}}
      {{header.label}}
    {{/if}}
  {{/if}}
  {{#if header.sort}}
    <span class="icon-stack">
      <i class="icon icon-sort icon-stack-1x faded"></i>
      {{#if activeAscending}}
        <i class="icon icon-sort-down icon-stack-1x"></i>
      {{else if activeDescending}}
        <i class="icon icon-sort-up icon-stack-1x"></i>
      {{/if}}
    </span>
  {{/if}}
</a>
