<div class="form-control-static">
  <button class="btn-circle-text" {{action "addDisk"}}><i class="icon icon-plus-circle"/> <span>{{t 'formDisks.addDiskLabel'}}</span></button>
  <button class="btn-circle-text r-ml20" {{action "addRootDisk"}} disabled={{hasRoot}}><i class="icon icon-plus-circle"/> <span>{{t 'formDisks.addRootDiskLabel'}}</span></button>
</div>

{{#if disksArray.length}}
  <table class="table fixed no-lines no-top-padding tight">
    <tr class="text-muted">
      <th>{{t 'formDisks.name.label'}}*</th>
      <th width="30">&nbsp;</th>
      <th>{{t 'formDisks.size.label'}}</th>
      <th width="30">&nbsp;</th>
      <th width="130">{{t 'formDisks.driver.label'}}</th>
      <th width="50"></th>
    </tr>
    {{#each disksArray as |disk|}}
      <tr>
        <td>
          {{#if disk.root}}
            {{t 'formDisks.name.rootDisk'}}
          {{else}}
            {{input class="form-control input-sm" type="text" value=disk.name placeholder=(t 'formDisks.name.placeholder')}}
          {{/if}}
        </td>

        <td>&nbsp;</td>

        <td>
          <div class="row">
            {{#if disk.root}}
              <span class="text-muted">{{t 'formDisks.size.rootDisk'}}</span>
            {{else}}
              <div class="col-xs-8 col-sm-9">{{input-slider initialValue=disk.size changed=(action "setDiskSize" disk) valueMin=10 valueMax=500 step=10}}</div>
              <div class="col-xs-4 col-sm-3">{{str-replace disk.size match="g" with=" GB"}}</div>
            {{/if}}
          </div>
        </td>

        <td>&nbsp;</td>

        <td>
          {{new-select
            classNames="form-control"
            content=driverChoices
            value=disk.driver
          }}
        </td>

        <td class="text-right">
          <button class="btn btn-primary btn-sm" {{action "removeDisk" disk}}><i class="icon icon-minus"/><span class="sr-only">{{t 'generic.remove'}}</span></button>
        </td>
      </tr>
    {{/each}}
  </table>
{{/if}}
