<div>
  <button class="btn bg-link icon-btn" {{action "addDisk"}}>
  <span class="darken"><i class="icon icon-plus text-small"/></span>
  <span>{{t 'formDisks.addDiskLabel'}}</span>
  </button>
  <button class="btn bg-link icon-btn ml-20" {{action "addRootDisk"}} disabled={{hasRoot}}>
    <span class="darken"><i class="icon icon-plus text-small"></i></span>
    <span>{{t 'formDisks.addRootDiskLabel'}}</span>
  </button>
</div>

{{#if disksArray.length}}
  <table class="table fixed no-lines no-top-padding tight">
    <tr>
      <th>{{t 'formDisks.name.label'}}{{field-required}}</th>
      <th width="30">&nbsp;</th>
      <th>{{t 'formDisks.size.label'}}</th>
      <th width="30">&nbsp;</th>
      <th width="100">{{t 'formDisks.readIops.label'}}</th>
      <th width="30">&nbsp;</th>
      <th width="100">{{t 'formDisks.writeIops.label'}}</th>
      <th width="30">&nbsp;</th>
      <th width="130">{{t 'formDisks.driver.label'}}</th>
      <th width="50"></th>
    </tr>
    {{#each disksArray as |disk|}}
      {{disk-row disk=disk driverChoices=driverChoices remove=(action "removeDisk" disk)}}
    {{/each}}
  </table>
{{/if}}


        <button class="btn bg-link icon-btn" {{action "addRule" true}}>
        <i class="btn bg-link icon-btn"/>
        <span>{{t 'formBalancerRules.addSelectorLabel'}}</span>
      </button>
