<tr>
  <td class="force-wrap" data-title="State:">
    {{badge-state model=model}}
  </td>
  <td class="force-wrap" data-title="Name:">
    <a href="#" {{action "toggleExpand"}}><i class="icon {{if expanded 'icon-minus-square' 'icon-plus-square'}}"/></a>
    {{#link-to "service" model.stackId model.id}}{{model.displayName}}{{/link-to}}
  </td>
  <td class="force-wrap service-detail" data-title="Ports:">
    {{model.displayPorts}}
  </td>
  <td class="force-wrap" data-title="Containers:">
    {{#if model.instances.length}}
      {{model.instances.length}}
    {{else}}
      <span class="text-muted">{{t 'generic.none'}}</span>
    {{/if}}
  </td>
  <td class="actions" data-title="Actions:">
    {{action-menu model=model}}
  </td>
</tr>
{{#if expanded}}
  <tr class="nohover">
    <td colspan="5" class="subtable">
      {{swarm/container-section model=model.instances}}
    </td>
  </tr>
{{/if}}
