<section class="well welcome">
  <h2>{{t 'heroAddService.service.header'}}</h2>
  <p>
    {{t 'heroAddService.service.paragraph1' appName=settings.appName}}
  </p>
  <p>
    {{t 'heroAddService.service.paragraph2' appName=settings.appName}}
    {{#if settings.isRancher}}<a href="{{settings.docsBase}}/rancher-ui/applications/stacks/adding-services/" target="_blank">{{t 'heroAddService.service.contentLink'}}</a>{{/if}}
  </p>
  <button role="button" class="btn btn-primary" {{action "newService"}}>{{t 'heroAddService.addService'}}</button>
  {{#link-to "catalog-tab" class="btn btn-primary"}}{{t 'heroAddService.linkToCatalog'}}{{/link-to}}
</section>

<section class="well welcome">
  <h2>{{t 'heroAddService.infra.header'}}</h2>
  <p>
    {{t 'heroAddService.infra.paragraph' appName=settings.appName}}
  </p>

  <div class="infra-container">
    <div class="infra-box">
      <img class="backhill" height="100" src="{{app.baseAssets}}assets/images/providers/kubernetes.svg" />
      {{#link-to "catalog-tab.launch" "infra:infra*k8s" class="btn btn-primary"}}{{t 'heroAddService.addCatalog'}}{{/link-to}}
    </div>
    <div class="infra-box">
      <img class="backhill" height="100" src="{{app.baseAssets}}assets/images/providers/mesos.svg" />
      {{#link-to "catalog-tab.launch" "infra:infra*mesos" class="btn btn-primary"}}{{t 'heroAddService.addCatalog'}}{{/link-to}}
    </div>
    <div class="infra-box">
      <img class="backhill" height="100" src="{{app.baseAssets}}assets/images/providers/swarm.svg" />
      {{#link-to "catalog-tab.launch" "infra:infra*swarm" class="btn btn-primary"}}{{t 'heroAddService.addCatalog'}}{{/link-to}}
    </div>
    <div class="infra-box">
      <i class="icon icon-gear" style="font-size: 80px; margin: 10px 0 20px 0;"></i>
      {{#link-to "catalog-tab" (query-params catalogId="infra") class="btn btn-primary"}}{{t 'heroAddService.linkToCatalog'}}{{/link-to}}
    </div>
  </div>
</section>

