<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.azureFile.shareName.label'}}</label>
    {{#input-or-display editable=editing value=config.shareName}}
      {{input type="text" value=config.shareName classNames="form-control" placeholder=(t 'cruPersistentVolume.azureFile.shareName.placeholder')}}
    {{/input-or-display}}
  </div>

  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.azureFile.secretName.label'}}</label>
    {{#input-or-display editable=editing value=config.secretName}}
      {{input type="text" value=config.secretName classNames="form-control" placeholder=(t 'cruPersistentVolume.azureFile.secretName.placeholder')}}
    {{/input-or-display}}
  </div>
</div>

<div class="row">
  {{#if (eq volume.type "persistentVolume")}}
    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.azureFile.secretNamespace.label'}}</label>
      {{#input-or-display editable=editing value=config.secretNamespace}}
        {{input type="text" value=config.secretNamespace classNames="form-control" placeholder=(t 'cruPersistentVolume.azureFile.secretNamespace.placeholder')}}
      {{/input-or-display}}
    </div>
  {{/if}}
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.azureFile.readOnly.label'}}</label>
    {{#if editing}}
      <div class="text-muted">
        <label>
          {{radio-button selection=config.readOnly value=true}} {{t 'generic.yes'}}
        </label>
        <label>
          {{radio-button selection=config.readOnly value=false}} {{t 'generic.no'}}
        </label>
      </div>
    {{else}}
      <div class="text-muted">
        {{config.readOnly}}
      </div>
    {{/if}}
  </div>
</div>