<td data-title="{{dt.instanceName}}" class="clip">
  <a href="{{href-to 'container' model.instanceId}}">{{model.instanceName}}</a>
</td>
<td data-title="{{dt.path}}" class="clip">
  {{#copy-inline clipboardText=model.path}}
    {{model.path}}
  {{/copy-inline}}
</td>
<td data-title="{{dt.displayPermission}}" class="clip">
  {{model.displayPermission}}
</td>
<td data-title="{{dt.volumeName}}" class="clip">
  <a href="{{href-to 'volume' model.volumeId}}">{{model.displayVolumeName}}</a>
</td>