<div class="row">
 <div class="col span-6">
  <label class="acc-label">
    {{t "clusterNew.agentConfig.resourceRequirements.cpu" type=type}}
  </label>
      <div class="input-group">
      {{input-integer
        step="100"
        value=cpu
        classNames="form-control"
        placeholder=(t "formSecurity.milliCpuReservation.placeholder")
      }}
        <div class="input-group-addon bg-default">
          {{t "formSecurity.milliCpuReservation.unit"}}
        </div>
      </div>
    </div>
  <div class="col span-6">
    <label class="acc-label" for="input-milli-limit-memory">
      {{t "clusterNew.agentConfig.resourceRequirements.memory" type=type}}
    </label>
    <div class="input-group">
      {{input-integer
        step="1"
        value=memory
        classNames="form-control"
        placeholder=(t "formSecurity.memoryReservation.placeholder")
      }}
      <div class="input-group-addon bg-default">
        {{t "generic.mibibyte"}}
      </div>
    </div>
  </div>
</div>