{{log model "model"}}
<div class="row">
  <div class="col span-6">
    <div>
      <label class="acc-label">
        {{t "loggingPage.multiLine.enableMultiLineFilter.label"}}
      </label>
    </div>
    <div class="radio">
      <label>
        {{radio-button
          selection=model.enableMultiLineFilter
          value=false
        }}
        {{t "generic.disabled"}}
      </label>
    </div>
    <div class="radio">
      <label>
        {{radio-button
          selection=model.enableMultiLineFilter
          value=true
        }}
        {{t "generic.enabled"}}
      </label>
    </div>
  </div>
</div>

{{#if model.enableMultiLineFilter}}
  <div class="row">
    <div class="col span-4">
      <label class="acc-label">
        {{t "loggingPage.multiLine.multiLineStartRegexp.label"}}
      </label>
      {{input
        id=(concat "input-multi-start-" targetType)
        value=model.multiLineStartRegexp
        classNames="form-control"
      }}
    </div>
    <div class="col span-4">
      <label class="acc-label">
        {{t "loggingPage.multiLine.continueLineRegexp.label"}}
      </label>
      {{input
        id=(concat "input-multi-continue-" targetType)
        value=model.continueLineRegexp
        classNames="form-control"
      }}
    </div>
    <div class="col span-4">
      <label class="acc-label">
        {{t "loggingPage.multiLine.multiLineEndRegexp.label"}}
      </label>
      {{input
        id=(concat "input-multi-end-" targetType)
        value=model.multiLineEndRegexp
        classNames="form-control"
      }}
    </div>
  </div>
{{/if}}