  <div class="row mb-20">
    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.portworxVolume.volumeID.label'}}</label>
      {{#input-or-display editable=editing value=config.volumeID}}
        {{input type="text" value=config.volumeID classNames="form-control" placeholder=(t 'cruPersistentVolume.portworxVolume.volumeID.placeholder')}}
      {{/input-or-display}}
    </div>

    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.portworxVolume.fsType.label'}}</label>
      {{#input-or-display editable=editing value=config.fsType}}
        {{input type="text" value=config.fsType classNames="form-control" placeholder=(t 'cruPersistentVolume.portworxVolume.fsType.placeholder')}}
      {{/input-or-display}}
    </div>
  </div>

  <div class="row">
    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.portworxVolume.readOnly.label'}}</label>
      {{#if editing}}
        <div class="text-muted">
          <label>
            {{radio-button selection=config.readOnly value=true}} {{t 'generic.yes'}}
          </label>
          <label>
            {{radio-button selection=config.readOnly value=false}} {{t 'generic.no'}}
          </label>
        </div>
      {{else}}
        <div class="text-muted">
          {{config.readOnly}}
        </div>
      {{/if}}
    </div>
  </div>