<section class="header">
  <h1>{{t 'k8sTab.namespace.rcs.index.header'}}</h1>

  {{#link-to "k8s-tab.apply" (query-params kind="ReplicationController") classNames="btn btn-sm btn-primary"}}{{t 'k8sTab.namespace.rcs.index.linkTo'}}{{/link-to}}
</section>

<section class="well instances">
  <table class="grid fixed" style="margin-bottom: 0;">
    <thead>
      <tr>
        {{sortable-th sortable=this action="changeSort" name="name" label='generic.name'}}
        <th width="80">{{t 'k8sTab.namespace.rcs.index.table.header.replicas'}}</th>
        <th>{{t 'k8sTab.namespace.rcs.index.table.header.selectors'}}</th>
        <th>{{t 'k8sTab.namespace.rcs.index.table.header.containers'}}</th>
        <th class="actions" width="85">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each arranged as |rc|}}
        {{k8s/rc-row model=rc}}
      {{else}}
        <tr><td colspan="5" class="text-center text-muted">{{t 'k8sTab.namespace.rcs.index.table.body.noData'}}</td></tr>
      {{/each}}
    </tbody>
  </table>
</section>

