<div class="row mb-10">
  <div class="checkbox pt-10 pb-10">
    <label>
      {{input type="checkbox" checked=config.pushRemote}}
      {{t "newPipelineStep.stepType.build.pushRemote"}}
    </label>
  </div>
  {{#if config.pushRemote}}
    <label class="acc-label pb-5">{{t "generic.registry"}}{{field-required}}</label>
    {{searchable-select
      class="form-control"
      content=registryChoices
      value=config.registry
    }}
    {{#unless registryChoices.length}}
      <div class="banner bg-warning">
        <div class="banner-icon">
          <i class="icon icon-info"></i>
        </div>
        <div class="banner-message">
          <p>{{t "newPipelineStep.stepType.build.noRegistry" route=linkToRegistry htmlSafe=true}}</p>
        </div>
      </div>
    {{/unless}}
  {{/if}}
</div>
