<section class="header clearfix">
  <h1 class="pull-left">
    {{t 'servicePage.header' type=service.displayType name=service.displayName}}
  </h1>
  {{#if service.canHaveContainers}}
    <div class="pull-left mt-5">
      {{info-multi-stats model=service largeTargetId="largeStats"}}
    </div>
  {{/if}}
  <div class="right-buttons">
    {{badge-state model=service}}
    {{action-menu model=service showPrimary=false classNames="ml-10 pull-right" size="sm"}}
  </div>
</section>

<div id="largeStats">
</div>

{{#if model.description}}
  {{banner-message color='bg-secondary mb-0 mt-10' message=model.description}}
{{/if}}

{{!todo copy pasta}}
<section>
  <div class="row banner bg-info basics">

    {{#if service.launchConfig.memoryReservation}}
      <div class="inline-block">
        <label class="acc-label p-0">{{t 'containersPage.containerPage.infoMultiStats.memoryReservation.labelText'}}</label>
        {{service.memoryReservationBlurb}}
      </div>
    {{/if}}

    {{#if service.launchConfig.milliCpuReservation}}
      <div class="inline-block">
        <label class="acc-label p-0">{{t 'containersPage.containerPage.infoMultiStats.milliCpuReservation.labelText'}}</label>
        {{service.launchConfig.milliCpuReservation}}
      </div>
    {{/if}}

    {{#if service.fqdn}}
      <div class="inline-block">
        <label class="acc-label p-0">{{t 'servicePage.multistat.fqdn'}}</label>
        <a href="http://{{service.fqdn}}">{{service.fqdn}}</a> {{copy-to-clipboard clipboardText=service.fqdn size="small"}}
      </div>
      <hr>
    {{/if}}

    <div class="inline-block">
      <label class="acc-label p-0">{{t 'servicePage.multistat.scale'}}</label>
      {{#if service.canScale}}
        <span class="pr-5">{{service.scale}}</span>
        <div class="btn-group btn-group-xs p-0">
          <button class="btn bg-default btn-xs" {{action "scaleDown" target=service}} disabled={{eq service.scale 1}}><i class="icon icon-minus"></i></button>
          <button class="btn bg-default btn-xs" {{action "scaleUp" target=service}}><i class="icon icon-plus"></i></button>
        </div>
      {{else}}
        {{if service.isGlobalScale (concat service.scale (t 'servicePage.globalScale')) (t 'generic.na')}}
      {{/if}}
    </div>

    {{#if service.hasImage}}
      <div class="inline-block">
        <label class="acc-label p-0">{{t 'servicePage.multistat.image'}}</label>
        {{service.launchConfig.displayImage}} {{copy-to-clipboard clipboardText=service.launchConfig.displayImage size="small"}}
      </div>
    {{/if}}
  </div>
</section>

<section>
  {{#accordion-list as |al expandFn| }}
    {{#if (eq service.kind 'externalService')}}
      {{!-- since external services are the only ones that have externalIp/hostname it didnt make sense to give extIps its own route like other services  --}}
      <hr/>
      <section>
        <div>
          {{#if service.externalIpAddresses}}
            <label class="text-muted ml-15">{{t 'servicePage.external.externalIp'}}</label>
            <ul class="list-unstyled list-inline with-room">
              {{#each service.externalIpAddresses as |ip|}}
                <li>
                  <i class="icon icon-external-link"></i> {{ip}}
                </li>
              {{/each}}
            </ul>
          {{else}}
            <label class="text-muted">{{t 'servicePage.external.externalHostname'}} </label> {{service.hostname}}
          {{/if}}
        </div>
      </section>
      <hr/>
    {{/if}}

    {{#if service.canHaveContainers}}
      {{#accordion-list-item
            title=(t 'servicePage.containersTab.title')
            detail=(t 'servicePage.containersTab.detail')
            status=(t 'servicePage.containersTab.status' count=service.instances.length)
            statusClass=(if service.instances.length 'bg-success' 'text-muted')
            expanded=true
            expandAll=al.expandAll
            expand=(action expandFn)
            componentName='container-table'
            as | parent |
      }}
        {{component parent.intent
            body=service.instances
            bulkActions=true
            showHost=true
        }}
      {{/accordion-list-item}}
    {{/if}}

    {{#if service.isBalancer}}
      {{#accordion-list-item
            title=(t 'formBalancerRules.label')
            detail=(t 'formBalancerRules.detail')
            status=(t 'formBalancerRules.status' count=(if rules.length rules.length 0))
            statusClass=(if rules.length 'bg-success' 'text-muted')
            expandAll=al.expandAll
            expand=(action expandFn)
      }}
        {{#if rules.length}}
          <table class="grid fixed no-lines no-top-padding tight mb-0">
            <thead>
              <tr>
                <th width="65">{{t 'formBalancerRules.priority.label'}}</th>
                <th width="60">{{t 'formBalancerRules.access.label'}}</th>
                <th width="70">{{t 'formBalancerRules.protocol.label'}}</th>
                <th class="divided">{{t 'formBalancerRules.hostname.label'}}</th>
                <th width="60">{{t 'formBalancerRules.sourcePort.label'}}</th>
                <th>{{t 'formBalancerRules.path.label'}}</th>
                <th class="divided">{{t 'formBalancerRules.target'}}</th>
                <th width="60">{{t 'formBalancerRules.targetPort.label'}}</th>
                <th class="divided">{{t 'formBalancerRules.backendName.label'}}</th>
              </tr>
            </thead>

            <tbody>
              {{#each rules as |rule idx|}}
                <tr>
                  <td data-title="{{t 'formBalancerRules.priority.label'}}">
                    {{rule.priority}}
                  </td>

                  <td data-title="{{t 'formBalancerRules.access.label'}}">
                    {{uc-first rule.access}}
                  </td>

                  <td data-title="{{t 'formBalancerRules.protocol.label'}}">
                    {{upper-case rule.protocol}}
                  </td>

                  <td class="divided" data-title="{{t 'formBalancerRules.hostname.label'}}">
                    {{#if rule.canHostname}}
                      {{#if rule.hostname}}
                        {{rule.hostname}}
                      {{else}}
                        <span class="text-muted">{{t 'generic.none'}}</span>
                      {{/if}}
                    {{else}}
                      <span class="text-muted">{{t 'generic.na'}}</span>
                    {{/if}}
                  </td>

                  <td data-title="{{t 'formBalancerRules.sourcePort.label'}}">
                    {{rule.sourcePort}}
                  </td>

                  <td data-title="{{t 'formBalancerRules.path.label'}}">
                    {{#if rule.canPath}}
                      {{#if rule.path}}
                        {{rule.path}}
                      {{else}}
                        <span class="text-muted">{{t 'generic.none'}}</span>
                      {{/if}}
                    {{else}}
                      <span class="text-muted">{{t 'generic.na'}}</span>
                    {{/if}}
                  </td>

                  <td class="divided" data-title="{{t (if rule.isSelector 'formBalancerRules.selector.label' 'formBalancerRules.serviceId.label')}}">
                    {{#if rule.selector}}
                      {{rule.selector}}
                    {{else}}
                      <a href="{{href-to "service" rule.serviceId}}">
                        {{#if (not-eq service.stackId rule.service.stackId)~}}
                          {{rule.service.displayStack}}/
                          {{~/if~}}
                          {{~rule.service.displayName~}}
                      </a>
                      {{~/if~}}
                  </td>

                  <td data-title="{{t 'formBalancerRules.targetPort.label'}}">
                    {{rule.targetPort}}
                  </td>

                  <td class="divided" data-title="{{t 'formBalancerRules.backendName.label'}}">
                    {{#if rule.backendName}}
                      {{rule.backendName}}
                    {{else}}
                      <span class="text-muted">{{t 'generic.none'}}</span>
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          <div class="text-muted text-center">{{t 'formBalancerRules.noRules'}}</div>
        {{/if}}
      {{/accordion-list-item}}

      {{#accordion-list-item
            title=(t 'servicePage.certsTab.title')
            detail=(t 'servicePage.certsTab.detail')
            status=(t 'servicePage.certsTab.status' count=(if model.service.lbConfig.certificateIds.length model.service.lbConfig.certificateIds.length 0))
            statusClass=(if model.service.lbConfig.certificateIds.length 'bg-success' 'text-muted')
              expandAll=al.expandAll
              expand=(action expandFn)
      }}
        <div class="row">
          <div class="box col span-6">
            <label class="acc-label">{{t 'servicePage.certsTab.default'}}:</label>
            {{#if model.service.lbConfig.defaultCertificateId}}
              <a href="{{href-to "certificates.detail" model.service.lbConfig.defaultCertificateId}}">{{model.service.lbConfig.defaultCertificate.displayName}}</a>
            {{else}}
              <div class="text-muted">{{t 'generic.none'}}</div>
            {{/if}}
          </div>
          <div class="box col span-6">
            <label class="acc-label">{{t 'servicePage.certsTab.additional'}}:</label>
            {{#if model.service.lbConfig.certificateIds.length}}
              <ul class="list-unstyled">
                {{#each model.service.lbConfig.certificates as |cert|}}
                  <li>
                    <a href="{{href-to "certificates.detail" cert.id}}">{{cert.displayName}}</a>
                  </li>
                {{/each}}
              </ul>
            {{else}}
              <div class="text-muted">{{t 'generic.none'}}</div>
            {{/if}}
          </div>
        </div>
      {{/accordion-list-item}}
    {{/if}}

    {{#if (and service.isReal (not service.isBalancer))}}
      {{container/form-command
          tagName=''
          instance=service
          isService=true
          initialLabels=service.launchConfig.labels
          editing=false
          expandAll=al.expandAll
          expandFn=expandFn
      }}
    {{/if}}

    {{#if service.hasPorts}}
      {{#accordion-list-item
            title=(t 'servicePage.portsTab.title')
            detail=(t 'servicePage.portsTab.detail')
            status=(t 'servicePage.portsTab.status' count=service.endpointsByPort.length)
            statusClass=(if service.endpointsByPort.length 'bg-success' 'text-muted')
            expandAll=al.expandAll
            expand=(action expandFn)
      }}
        {{#if service.isActive}}
          {{#each model.service.endpointsByPort as |obj|}}
            <div class="row box mb-10">
              <div class="col span-2">
                <label class="acc-label">{{t 'servicePage.portsTab.table.header.port'}}</label>
                <div>{{obj.port}}</div>
              </div>

              <div class="col span-10">
                <label class="acc-label">{{t 'servicePage.portsTab.table.header.host'}}</label>
                <div>
                  {{#each obj.ipAddresses as |ip|}}
                    <a href="http://{{ip}}:{{obj.port}}" target="_blank" class="inline-block pr-10">{{ip}}</a>
                  {{/each}}
                </div>
              </div>
            </div>
          {{else}}
            <div class="text-muted text-center">{{t 'servicePage.portsTab.table.body.noData'}}</div>
          {{/each}}
        {{else}}
          <div class="text-center text-muted">{{t 'servicePage.portsTab.notActive'}}</div>
        {{/if}}
      {{/accordion-list-item}}
    {{/if}}

    {{labels-section model=service.launchConfig tagName='' expandAll=al.expandAll expandFn=expandFn}}

    {{#accordion-list-item
          title=(t 'servicePage.linksTab.header')
          detail=(t 'servicePage.linksTab.detail')
          status=(t 'servicePage.linksTab.status' count=service.consumedServicesWithNames.length)
          statusClass=(if service.consumedServicesWithNames.length 'bg-success' 'text-muted')
          expandAll=al.expandAll
          expand=(action expandFn)
    }}
      <label class="acc-label">{{t 'servicePage.linksTab.header'}}</label>
      <ul class="list-unstyled list-inline with-room">
        {{#each service.consumedServicesWithNames as |link|}}
          <li>{{consumed-service-link link=link stackId=service.stackId}}</li>
        {{else}}
          <li class="text-muted">{{t 'servicePage.linksTab.noData'}}</li>
        {{/each}}
      </ul>
    {{/accordion-list-item}}

    {{#accordion-list-item
          title=(t 'servicePage.logTab.title')
          detail=(t 'servicePage.logTab.detail')
          status=(t 'servicePage.logTab.status' count=model.logs.arrangedContent.length)
          statusClass=(if model.logs.arrangedContent.length 'bg-success' 'text-muted')
          expandAll=al.expandAll
          expand=(action expandFn)
    }}
      {{service-log logs=model.logs.arrangedContent}}
    {{/accordion-list-item}}
  {{/accordion-list}}
</section>
