<section class="header r-pt20 clearfix">
  <h1 class="r-mr5">Service:</h1>
  {{#power-select options=model.stack.services selected=service onchange=(action "changeService") searchField="displayName" as |obj|}}
    <div class="clip"><i class="{{obj.stateIcon}} {{obj.stateColor}}" tooltip="{{obj.displayState}}" data-placement="left"></i> {{obj.displayName}}</div>
  {{/power-select}}
  <strong class="r-mr5 r-ml5">in {{#link-to "environment" model.stack.id}}{{model.stack.displayName}}{{/link-to}}</strong>

  <div class="pull-right">
    {{action-menu model=service classNames="r-ml5 pull-right" size="sm"}}
    {{header-state model=service classNames="pull-right"}}
  </div>
</section>

{{!todo copy pasta}}
<section>
  <div class="container-multi-stat">

        <div class="container-flex bordered">
          <div class="col-flex">
            <label>Type:</label>
            {{service.displayType}}
          </div>
          <div class="col-flex">
            <label>FQDN:</label>
            {{#if service.fqdn}}
              <span><a href="http://{{service.fqdn}}">{{service.fqdn}}</a> {{zero-clipboard text=service.fqdn}}</span>
            {{else}}
              <span class="text-muted">None</span>
            {{/if}}
          </div>
          <div class="col-flex">
            <label>Scale:</label>
            {{#if service.canScale}}
              {{service.scale}}
              &nbsp;
              &nbsp;
              <div class="btn-group btn-group-xs">
                <button class="btn btn-default btn-xs" {{action "scaleDown" target=service}} disabled={{eq service.scale 1}}><i class="icon icon-minus"></i></button>
                <button class="btn btn-default btn-xs" {{action "scaleUp" target=service}}><i class="icon icon-plus"></i></button>
              </div>
            {{else}}
              {{if service.isGlobalScale 'Global' 'N/A'}}
            {{/if}}
          </div>
        </div>
        {{#if service.hasImage}}
          <div class="container-flex bordered">
            <div class="col-flex">
              <label>Image:</label>
              <span class="force-wrap">
                {{service.launchConfig.displayImage}} {{zero-clipboard text=service.launchConfig.displayImage}}
              </span>
            </div>
            <div class="col-flex">
              <label>Entrypoint:</label>
              <span class="force-wrap">
                {{#if service.launchConfig.entryPoint}}
                  {{service.launchConfig.entryPoint}}
                {{else}}
                  <span class="text-muted">None</span>
                {{/if}}
              </span>
            </div>
            <div class="col-flex">
              <label>Command:</label>
              <span class="force-wrap">
                {{#if service.launchConfig.command}}
                  {{concat-str service.launchConfig.command}}
                {{else}}
                  <span class="text-muted">None</span>
                {{/if}}
              </span>
            </div>
          </div>
        {{/if}}
        {{#if service.description}}
          <div class="container-flex bordered">
            <div class="col-flex description">
              <label>Description: </label>
              <span>{{service.description}}</span>
            </div>
          </div>
        {{/if}}
  </div>
</section>

{{#if (eq service.kind 'externalService')}}
  {{!-- since external services are the only ones that have externalIp/hostname it didnt make sense to give extIps its own route like other services  --}}
  <section>
    <div class="well">
      {{#if service.externalIpAddresses}}
        <label class="text-muted r-ml15">External IPs</label>
        <ul class="list-unstyled list-inline with-room">
          {{#each service.externalIpAddresses as |ip|}}
            <li>
              <i class="icon icon-external-link"></i> {{ip}}
            </li>
          {{/each}}
        </ul>
      {{else}}
        <label class="text-muted">External Host Name: </label> {{service.hostname}}
      {{/if}}
    </div>
  </section>
{{/if}}

{{#if (or (or service.hasLabels service.hasContainers) service.consumedServicesWithNames.length) }}
  <section>
    <ul class="nav nav-tabs nav-tabs-well">
      {{#if (not-eq service.kind 'dnsService')}}
        {{#if service.hasPorts}}
          {{#link-to "service.ports" tagName="li" href=false}}<a href="#">Ports</a>{{/link-to}}
        {{/if}}
        {{#if service.hasContainers}}
          {{#link-to "service.containers" tagName="li" href=false}}<a href="#">Containers</a>{{/link-to}}
        {{/if}}
        {{#if service.hasLabels}}
          {{#link-to "service.labels" tagName="li" href=false}}<a href="#">Labels</a>{{/link-to}}
        {{/if}}
        {{#link-to 'service.links' tagName='li' href=false}}<a href="#">Links</a>{{/link-to}}
      {{else}}
        {{#link-to 'service.links' tagName='li' href=false classNames='hide'}}<a href="#">Links</a>{{/link-to}}
      {{/if}}
    </ul>
    <div class="well nav-well">
      {{outlet}}
    </div>
  </section>
{{/if}}
