<section class="header clearfix">
  <h1 class="pull-left">
    {{t 'servicePage.header' type=service.displayType name=service.displayName}}
  </h1>
  {{#if service.canHaveContainers}}
    <div class="pull-left mt-10">
      {{info-multi-stats model=service largeTargetId="largeStats"}}
    </div>
  {{/if}}
  <div class="right-buttons">
    {{header-state model=service}}
    {{action-menu model=service showPrimary=false classNames="ml-10 pull-right" size="sm"}}
  </div>
</section>

<div id="largeStats">
</div>

{{#if model.description}}
  {{banner-message color='bg-secondary mb-0 mt-10' message=model.description}}
{{/if}}

{{!todo copy pasta}}
<section>
  <div class="row container-info banner bg-info">
    <div class="">{{ t 'containerPage.containerInfo.basicInfo' }}</div>

    {{#if service.launchConfig.memoryReservation}}
      <div class="col">
        <label>{{t 'containersPage.containerPage.infoMultiStats.memoryReservation.labelText'}}</label>
        {{service.memoryReservationBlurb}}
      </div>
    {{/if}}

    {{#if service.launchConfig.milliCpuReservation}}
      <div class="col">
        <label>{{t 'containersPage.containerPage.infoMultiStats.milliCpuReservation.labelText'}}</label>
        {{service.launchConfig.milliCpuReservation}}
      </div>
    {{/if}}

    {{#if service.fqdn}}
      <div class="col">
        <label>{{t 'servicePage.multistat.fqdn'}}</label>
        <a href="http://{{service.fqdn}}">{{service.fqdn}}</a> {{copy-to-clipboard clipboardText=service.fqdn size="small"}}
      </div>
      <hr>
    {{/if}}

    <div class="col">
      <label>{{t 'servicePage.multistat.scale'}}</label>
      {{#if service.canScale}}
        <span class="pr-5">{{service.scale}}</span>
        <div class="btn-group btn-group-xs p-0">
          <button class="btn bg-default btn-xs" {{action "scaleDown" target=service}} disabled={{eq service.scale 1}}><i class="icon icon-minus"></i></button>
          <button class="btn bg-default btn-xs" {{action "scaleUp" target=service}}><i class="icon icon-plus"></i></button>
        </div>
      {{else}}
        {{if service.isGlobalScale (concat service.scale (t 'servicePage.globalScale')) (t 'generic.na')}}
      {{/if}}
    </div>

    {{#if service.hasImage}}
      <div class="col">
        <label>{{t 'servicePage.multistat.image'}}</label>
        {{service.launchConfig.displayImage}} {{copy-to-clipboard clipboardText=service.launchConfig.displayImage size="small"}}
      </div>
    {{/if}}
  </div>
</section>
<section>
  <div class="row">
    <div class="col span-12">
      {{#if (eq service.kind 'externalService')}}
        {{!-- since external services are the only ones that have externalIp/hostname it didnt make sense to give extIps its own route like other services  --}}
        <hr/>
        <section>
          <div>
            {{#if service.externalIpAddresses}}
              <label class="text-muted ml-15">{{t 'servicePage.external.externalIp'}}</label>
              <ul class="list-unstyled list-inline with-room">
                {{#each service.externalIpAddresses as |ip|}}
                  <li>
                    <i class="icon icon-external-link"></i> {{ip}}
                  </li>
                {{/each}}
              </ul>
            {{else}}
              <label class="text-muted">{{t 'servicePage.external.externalHostname'}} </label> {{service.hostname}}
            {{/if}}
          </div>
        </section>
        <hr/>
      {{/if}}

      {{#accordion-row
          title=(t 'servicePage.portsTab.title')
          detail=(t 'servicePage.portsTab.detail')
          status=status
          statusClass=statusClass
      }}
        {{#if model.service.isActive}}
          <table class="grid fixed">
            <thead>
              <tr>
                <th width="150">{{t 'servicePage.portsTab.table.header.port'}}</th>
                <th>{{t 'servicePage.portsTab.table.header.host'}}</th>
              </tr>
            </thead>
            <tbody>
              {{#each model.service.endpointsByPort as |obj|}}
                <tr>
                  <td>
                    {{obj.port}}
                  </td>
                  <td>
                    {{#each obj.ipAddresses as |ip|}}
                      <span class="pr-10"><a href="http://{{ip}}:{{obj.port}}" target="_blank">{{ip}}</a></span>
                    {{/each}}
                  </td>
                </tr>
              {{else}}
                <tr>
                  <td colspan="2">
                    <div class="text-muted text-center">{{t 'servicePage.portsTab.table.body.noData'}}</div>
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          <div class="text-center text-muted">{{t 'servicePage.portsTab.notActive'}}</div>
        {{/if}}
      {{/accordion-row}}

      {{#accordion-row
           title=(t 'formBalancerRules.label')
           detail=(t 'formBalancerRules.detail')
           status=status
           statusClass=statusClass
      }}
        {{#if rules.length}}
          <table class="grid fixed no-lines no-top-padding tight mb-0">
            <thead>
              <tr>
                <th width="65">{{t 'formBalancerRules.priority.label'}}</th>
                <th width="60">{{t 'formBalancerRules.access.label'}}</th>
                <th width="70">{{t 'formBalancerRules.protocol.label'}}</th>
                <th class="divided">{{t 'formBalancerRules.hostname.label'}}</th>
                <th width="60">{{t 'formBalancerRules.sourcePort.label'}}</th>
                <th>{{t 'formBalancerRules.path.label'}}</th>
                <th class="divided">{{t 'formBalancerRules.target'}}</th>
                <th width="60">{{t 'formBalancerRules.targetPort.label'}}</th>
                <th class="divided">{{t 'formBalancerRules.backendName.label'}}</th>
              </tr>
            </thead>

            <tbody>
              {{#each rules as |rule idx|}}
                <tr>
                  <td data-title="{{t 'formBalancerRules.priority.label'}}">
                    {{rule.priority}}
                  </td>

                  <td data-title="{{t 'formBalancerRules.access.label'}}">
                    {{uc-first rule.access}}
                  </td>

                  <td data-title="{{t 'formBalancerRules.protocol.label'}}">
                    {{upper-case rule.protocol}}
                  </td>

                  <td class="divided" data-title="{{t 'formBalancerRules.hostname.label'}}">
                    {{#if rule.canHostname}}
                      {{#if rule.hostname}}
                        {{rule.hostname}}
                      {{else}}
                        <span class="text-muted">{{t 'generic.none'}}</span>
                      {{/if}}
                    {{else}}
                      <span class="text-muted">{{t 'generic.na'}}</span>
                    {{/if}}
                  </td>

                  <td data-title="{{t 'formBalancerRules.sourcePort.label'}}">
                    {{rule.sourcePort}}
                  </td>

                  <td data-title="{{t 'formBalancerRules.path.label'}}">
                    {{#if rule.canPath}}
                      {{#if rule.path}}
                        {{rule.path}}
                      {{else}}
                        <span class="text-muted">{{t 'generic.none'}}</span>
                      {{/if}}
                    {{else}}
                      <span class="text-muted">{{t 'generic.na'}}</span>
                    {{/if}}
                  </td>

                  <td class="divided" data-title="{{t (if rule.isSelector 'formBalancerRules.selector.label' 'formBalancerRules.serviceId.label')}}">
                    {{#if rule.selector}}
                      {{rule.selector}}
                    {{else}}
                      <a href="{{href-to "service" rule.serviceId}}">
                        {{#if (not-eq service.stackId rule.service.stackId)~}}
                          {{rule.service.displayStack}}/
                        {{~/if~}}
                        {{~rule.service.displayName~}}
                      </a>
                    {{~/if~}}
                  </td>

                  <td data-title="{{t 'formBalancerRules.targetPort.label'}}">
                    {{rule.targetPort}}
                  </td>

                  <td class="divided" data-title="{{t 'formBalancerRules.backendName.label'}}">
                    {{#if rule.backendName}}
                      {{rule.backendName}}
                    {{else}}
                      <span class="text-muted">{{t 'generic.none'}}</span>
                    {{/if}}
                  </td>
                </tr>
              {{/each}}
            </tbody>
          </table>
        {{else}}
          <div class="text-muted text-center">{{t 'formBalancerRules.noRules'}}</div>
        {{/if}}
      {{/accordion-row}}

      {{#accordion-row
           title=(t 'servicePage.certsTab.title')
           detail=(t 'servicePage.certsTab.detail')
           status=status
           statusClass=statusClass
      }}
        <div>
          <label>{{t 'servicePage.certsTab.default'}}:</label>
          {{#if model.service.lbConfig.defaultCertificateId}}
            <a href="{{href-to "certificates.detail" model.service.lbConfig.defaultCertificateId}}">{{model.service.lbConfig.defaultCertificate.displayName}}</a>
          {{else}}
            <span class="text-muted">{{t 'generic.none'}}</span>
          {{/if}}
        </div>

        <div>
          <label>{{t 'servicePage.certsTab.additional'}}:</label>
          {{#if model.service.lbConfig.certificateIds.length}}
            <ul class="list-unstyled">
              {{#each model.service.lbConfig.certificates as |cert|}}
                <li>
                  <a href="{{href-to "certificates.detail" cert.id}}">{{cert.displayName}}</a>
                </li>
              {{/each}}
            </ul>
          {{else}}
            <span class="text-muted">{{t 'generic.none'}}</span>
          {{/if}}
        </div>
      {{/accordion-row}}

      {{container/form-command
          tagName=''
          instance=service
          isService=true
          initialLabels=service.launchConfig.labels
          editing=false
      }}

      {{#accordion-row
           title=(t 'servicePage.containersTab.title')
           detail=(t 'servicePage.containersTab.detail')
           status=status
           statusClass=statusClass
      }}
        {{container-table
            body=model.service.instances
            showHost=true
        }}
      {{/accordion-row}}

      {{labels-section model=model.service.launchConfig tagName=''}}

      {{#accordion-row
           title=(t 'servicePage.linksTab.header')
           detail=(t 'servicePage.linksTab.detail')
           status=status
           statusClass=statusClass
      }}
        <label class="text-muted ml-15">{{t 'servicePage.linksTab.header'}}</label>
        <ul class="list-unstyled list-inline with-room">
          {{#each model.service.consumedServicesWithNames as |link|}}
            <li>{{consumed-service-link link=link stackId=model.service.stackId}}</li>
          {{else}}
            <li class="text-muted">{{t 'servicePage.linksTab.noData'}}</li>
          {{/each}}
        </ul>
      {{/accordion-row}}

      {{#accordion-row
           title=(t 'servicePage.logTab.title')
           detail=(t 'servicePage.logTab.detail')
           status=status
           statusClass=statusClass
      }}
        <table class="grid fixed">
          <thead>
            <tr>
              <th width="100">{{t 'servicePage.logTab.table.header.date'}}</th>
              <th width="75">{{t 'servicePage.logTab.table.header.level'}}</th>
              <th>{{t 'servicePage.logTab.table.header.event'}}</th>
              <th>{{t 'servicePage.logTab.table.header.description'}}</th>
              <th class="actions" width="75">&nbsp;</th>
            </tr>
          </thead>
          <tbody>
            {{#each model.logs.arrangedContent as |obj|}}
              <tr>
                <td>
                  {{date-str obj.created format="hh:mm:ss A"}}
                </td>
                <td>
                  <span class="state badge {{obj.stateColor}} {{obj.stateBackground}}">{{upper-case obj.level}}</span>
                </td>
                <td>
                  {{obj.eventType}}{{#if obj.runTime}} ({{obj.runTime}}){{/if}}
                </td>
                <td>
                  {{obj.description}}
                </td>
                <td data-title="{{t 'generic.actions'}}:" class="actions">
                  {{action-menu model=obj}}
                </td>
              </tr>
            {{else}}
              <tr>
                <td colspan="5">
                  <div class="text-muted text-center">{{t 'servicePage.logTab.table.body.noData'}}</div>
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
      {{/accordion-row}}

      </div>
    </div>
</section>
