{{#with environment as env controller="environment"}}
  <section class="header">
    <h3>
      {{resource-actions-menu model=this choices=availableActions classNames="pull-right"}}
      <div {{bind-attr class=":state stateColor"}}>
        <i {{bind-attr class="stateIcon"}}></i> {{displayState}}
      </div>
      <span class="right-divider">{{#link-to "environments"}}Projects:{{/link-to}} {{#link-to "environment" env.id}}{{env.displayName}}:{{/link-to}} {{displayName}}</span>
    </h3>
    {{partial "description"}}
  </section>

  <section class="well">
    <label class="section">Info</label>
    <ul class="list-lines">
      {{#if showTransitioningMessage}}
        <li>
          <label>Message</label>
          <span class="force-wrap">
            {{transitioningMessage}}
          </span>
        </li>
      {{/if}}

      <li>
        <label>Type</label>
        {{displayType}}
      </li>

      {{#if hasScale}}
        <li>
          <label>Scale</label>
          {{scale}}
          &nbsp;
          &nbsp;
          <button class="btn btn-default btn-xs" {{action "scaleDown"}}><i class="ss-hyphen"></i></button>
          <button class="btn btn-default btn-xs" {{action "scaleUp"}}><i class="ss-plus"></i></button>
        </li>
      {{/if}}

      {{#if hasImage}}
        <li>
          <label>Image</label>
          <span class="force-wrap">
            {{display-image launchConfig.imageUuid}} {{zero-clipboard text=launchConfig.imageUuid}}
          </span>
        </li>

        <li>
          <label>Entrypoint</label>
          <span class="force-wrap">
            {{#if launchConfig.entryPoint}}
              {{launchConfig.entryPoint}}
            {{else}}
              <span class="text-muted">None</span>
            {{/if}}
          </span>
        </li>

        <li>
          <label>Command</label>
          <span class="force-wrap">
            {{#if launchConfig.command}}
              {{launchConfig.command}}
            {{else}}
              <span class="text-muted">None</span>
            {{/if}}
          </span>
        </li>
      {{/if}}

    </ul>
  </section>

  {{#if hasLabels}}
    <section class="well" style="margin-bottom: 0;">
      <label class="section">Labels</label>
      {{labels-section model=launchConfig.labels}}
    </section>
  {{/if}}

  <section>
    <ul class="nav nav-tabs nav-tabs-well">
      {{#link-to "service.containers" tagName="li" href=false}}<a><i class="ss-box"></i> Containers</a>{{/link-to}}
    </ul>
    <div class="well nav-well">
      {{outlet}}
    </div>
  </section>
{{/with}}
