<table class="grid fixed" style="margin-bottom: 0;">
  <thead>
    {{#if labelArray.length}}
      <tr>
        {{sortable-th sortable=this action="changeSort" name="kind" width="90"}}
        {{sortable-th sortable=this action="changeSort" name="key"}}
        {{sortable-th sortable=this action="changeSort" name="value"}}
      </tr>
    {{/if}}
  </thead>
  <tbody>
    {{#each arranged as |label|}}
      <tr>
        <td>{{uc-first label.type}}</td>
        <td>{{label.key}}</td>
        <td>{{label.value}}</td>
      </tr>
    {{else}}
      <tr><td colspan="3" class="text-center text-muted">No labels</td></tr>
    {{/each}}
  </tbody>
</table>
