<table class="grid fixed" style="margin-bottom: 0;">
  <thead>
    {{#if labelArray.length}}
      <tr>
        {{#if showKind}}{{sortable-th sortable=this action="changeSort" name="kind" label='labelsSection.kind' width="90"}}{{/if}}
        {{sortable-th sortable=this action="changeSort" name="key" label='labelsSection.key' width="350"}}
        {{sortable-th sortable=this action="changeSort" name="value" label='labelsSection.value'}}
      </tr>
    {{/if}}
  </thead>
  <tbody>
    {{#each arranged as |label|}}
      <tr>
        {{#if showKind}}<td data-title="{{t 'labelsSection.kind'}}:" class="valign-top">{{uc-first label.type}}</td>{{/if}}
        <td data-title="{{t 'labelsSection.key'}}:" class="force-wrap valign-top">{{label.key}}</td>
        <td data-title="{{t 'labelsSection.value'}}:" class="force-wrap valign-top">{{pretty-json value=label.value}}</td>
      </tr>
    {{else}}
      <tr><td colspan="3" class="text-center text-muted">{{t 'labelsSection.noData'}}</td></tr>
    {{/each}}
  </tbody>
</table>
