{{#sortable-table
    classNames="grid fixed mb-0 sortable-table"
    bulkActions=false
    paging=false
    search=false
    sortBy=sortBy
    descending=descending
    headers=headers
    body=labelArray
    as |sortable kind label|
}}
  {{#if (eq kind "row")}}
    {{#if showKind}}<td data-title="{{t 'labelsSection.kind'}}:"  >{{uc-first label.type}}</td>{{/if}}
    <td data-title="{{t 'labelsSection.key'}}:" class="force-wrap valign-top">{{label.key}}</td>
    <td data-title="{{t 'labelsSection.value'}}:" class="force-wrap valign-top">{{pretty-json value=label.value}}</td>
  {{else if (eq kind "norows")}}
    <tr>
      <td colspan="{{headers.length}}" class="text-center text-muted">{{t 'labelsSection.noData'}}</td>
    </tr>
  {{/if}}
{{/sortable-table}}