<table class="grid fixed" style="margin-bottom: 0;">
  <thead>
    <tr>
      <th width="90">Kind</th>
      <th>Key</th>
      <th>Value</th>
    </tr>
  </thead>
  <tbody>
    {{#each labelArray as |label|}}
      <tr class="{{unless label.isUser 'text-muted'}}">
        <td>{{uc-first label.type}}</td>
        <td>{{label.key}}</td>
        <td>{{label.value}}</td>
      </tr>
    {{else}}
      <tr><td colspan="3" class="text-center text-muted">No labels</td></tr>
    {{/each}}
  </tbody>
</table>
