<table class="grid fixed" style="margin-bottom: 0;">
  <thead>
    {{#if labelArray.length}}
      <tr>
        {{#if showKind}}{{sortable-th sortable=this action="changeSort" name="kind" width="90"}}{{/if}}
        {{sortable-th sortable=this action="changeSort" name="key"}}
        {{sortable-th sortable=this action="changeSort" name="value"}}
      </tr>
    {{/if}}
  </thead>
  <tbody>
    {{#each arranged as |label|}}
      <tr>
        {{#if showKind}}<td data-title="Kind:">{{uc-first label.type}}</td>{{/if}}
        <td data-title="Key:" class="force-wrap">{{label.key}}</td>
        <td data-title="Value:" class="force-wrap">{{pretty-json value=label.value}}</td>
      </tr>
    {{else}}
      <tr><td colspan="3" class="text-center text-muted">No labels</td></tr>
    {{/each}}
  </tbody>
</table>
