<div>
  <div class="row mb-10">
    <FormNodeAffinityK8s
      @editing={{editing}}
      @nodeAffinity={{nodeAffinity}}
    />
  </div>
  <div class="row">
    <FormPodAffinityK8s
      @editing={{editing}}
      @podAffinity={{podAffinity}}
      @podAntiAffinity={{podAntiAffinity}}
    />
  </div>
</div>