<div>
  <div class="row">
    <FormNodeAffinityK8s
      @mode={{mode}}
      @value={{nodeAffinity}}
    />
  </div>
  <div class="row">
    <FormPodAffinityK8s
      @mode={{mode}}
      @value={{podAffinity}}
    />
  </div>
  <div class="row">
    <FormPodAffinityK8s
      @anti={{true}}
      @mode={{mode}}
      @value={{podAntiAffinity}}
    />
  </div>
</div>