<div>
  <div class="row">
    <FormNodeAffinityK8s
      @mode={{mode}}
      @nodeAffinity={{nodeAffinity}}
    />
  </div>
  <div class="row">
    <FormPodAffinityK8s
      @mode={{mode}}
      @value={{podAffinity}}
      @podAffinity={{podAffinity}}
      @podAntiAffinity={{podAntiAffinity}}
      {{!-- //TODO nb used? --}}
      @update={{action "affinityChanged"}}
    />
  </div>
</div>