<div class="row">
    <div class="col span-3">
      <label for="">{{t 'hostsPage.cloudHostsPage.browsePage.sorts.realm.label'}}</label>
      {{new-select
          classNames="form-control"
          content=model.realms
          optionLabelPath="translationKey"
          optionValuePath="id"
          localizedLabel=true
          value=realmSort
      }}
    </div>
    <div class="col span-3">
      <label for="">{{t 'hostsPage.cloudHostsPage.browsePage.sorts.mem.label'}}</label>
      <div class="input-group">
          {{input type='text' value=memSort}}
          <span class="input-group-addon bg-default" type="button">{{t 'hostsPage.cloudHostsPage.browsePage.sorts.mem.unit'}}</span>
      </div>
    </div>
    <div class="col span-3">
      <label for="">{{t 'hostsPage.cloudHostsPage.browsePage.sorts.storage.label'}}</label>
      <div class="input-group">
          {{input type='text' value=storageSort}}
          <span class="input-group-addon bg-default" type="button">{{t 'hostsPage.cloudHostsPage.browsePage.sorts.storage.unit'}}</span>
      </div>
    </div>
    <div class="col span-3">
      <label for="">{{t 'hostsPage.cloudHostsPage.browsePage.sorts.cost.label'}}</label>
      <div class="input-group">
          <span class="input-group-addon bg-default" type="button">{{t 'hostsPage.cloudHostsPage.browsePage.sorts.cost.preUnit'}}</span>
          {{input type='text' value=costSort}}
          <span class="input-group-addon bg-default" type="button">{{t 'hostsPage.cloudHostsPage.browsePage.sorts.cost.unit'}}</span>
      </div>
    </div>
</div>
{{ partial 'host/cloud/table-content' }}