<section class="pl-15 pr-15 clearfix">
  {{#each filteredContent as |host|}}
    {{#catalog-box
         model=host.uiOptions
         active=(not (eq host.uiOptions.state 'inactive'))
         classNames='cloud-host'
         showIcon=false
         showDescription=false
         as |section|
    }}
      {{#if (eq section 'header')}}
        {{mark-favorite classNames="pull-left" tagName="span" id=host.uiOptions.id rowRemoved=(action 'favoriteChanged') iconSize='icon-2x'}}
        <div class="catalog-icon mb-10 mt-10 {{parse-host-icon host.provider}}"/>
      {{else if (eq section 'body')}}
        <hr class="m-10" />
        <h2>{{host.uiOptions.displayName}}</h2>
        <div>
          <div class="details">
            <div class="memory">
              <strong>{{host.uiOptions.memory}}{{t 'hostsPage.cloudHostsPage.favoritesPage.memStUnit'}}</strong> <span class="help-text">{{t 'hostsPage.cloudHostsPage.favoritesPage.help.ram'}}</span>
            </div>
            <div class="storage">
              <strong>{{host.uiOptions.storage}}{{#if (not (eq host.uiOptions.provider 'Amazon'))}}{{t 'hostsPage.cloudHostsPage.favoritesPage.memStUnit'}}{{/if}}</strong> {{#if (not (eq host.uiOptions.provider 'Amazon'))}}<span class="help-text">{{t 'hostsPage.cloudHostsPage.favoritesPage.help.storage'}}</span>{{/if}}
            </div>
            <div class="transfer">
              <strong>{{host.uiOptions.transfer}}</strong>{{t 'hostsPage.cloudHostsPage.favoritesPage.transferUnit'}} <span class="help-text">{{t 'hostsPage.cloudHostsPage.favoritesPage.help.transfer'}}</span>
            </div>
          </div>

        </div>
      {{else if (eq section 'footer')}}
        <button role="button" class="btn bg-primary" {{action "selectMachine" host.uiOptions.id}}>{{format-number host.uiOptions.pricePerMonth style='currency' currency='USD'}}{{t 'hostsPage.cloudHostsPage.favoritesPage.price'}}</button>
      {{/if}}
    {{/catalog-box}}
  {{/each}}
</section>
