<div class="row">
  {{#sortable-table
    classNames="grid sortable-table"
    bulkActions=false
    rowActions=false
    paging=false
    search=false
    sortBy=sortBy
    headers=headers
    body=filteredContent
    as |sortable kind row dt|
  }}
    {{#if (eq kind "row")}}
      <td>
        {{mark-favorite id=row.uiOptions.id rowRemoved=(action 'favoriteChanged')}}
      </td>
      <td>{{row.pretty_provider}}</td>
      <td>{{row.uiOptions.zone}}</td>
      <td>{{row.uiOptions.displayName}}</td>
      <td>{{row.uiOptions.memory}} GB</td>
      <td>
        {{#if (eq row.uiOptions.transfer -1)}}
          Unlimited
        {{else if (eq row.uiOptions.transfer 0)}}
          None
        {{else}}
          {{format-si row.uiOptions.transfer suffix="B" startingExponent=2}}
        {{/if}}
      </td>
      <!-- <td>{{star-rating rating=row.uiOptions.cpuRating}}</td> -->
      <!-- <td>{{star-rating rating=row.uiOptions.diskRating}}</td> -->
      <td>
        {{format-number row.uiOptions.pricePerMonth style='currency' currency='USD' maximumFractionDigits=2}}{{#if row.uiOptions.variableFees}}<sup>&#10746;</sup>{{/if}}
      </td>
      <td class="text-right"><button role="button" class="btn bg-primary" {{action "selectMachine" row.uiOptions.id}}> {{t 'generic.select'}}</button></td>
    {{else if (eq kind "norows")}}
      <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t noDataMessage}}</td>
    {{/if}}
  {{/sortable-table}}
  <div class="pull-left text-small mt-10">{{#link-to "hosts.new"}}{{t 'hostsPage.cloudHostsPage.browsePage.table.classic'}}{{/link-to}}</div>
  <div class="pull-right text-small mt-10">{{t 'hostsPage.cloudHostsPage.browsePage.table.help' htmlSafe=true}}</div>

</div>
