<div class="row form-group">
  <div class="col-md-2 form-label">{{t 'reservationParameters.label'}}</div>
  <!--
  <div class="col-md-4">
    <label>{{t 'reservationParameters.localStorage.labelText'}}</label>
    <div class="input-group">
      {{input-integer min="1" step="1" value=model.localStorageMb classNames="form-control" placeholder=(t 'reservationParameters.localStorage.placeholder')}}
      <div class="input-group-addon">{{t 'reservationParameters.localStorage.unit'}}</div>
    </div>
  </div>
  -->
  <div class="col-md-5">
    <label>{{t 'reservationParameters.memory.labelText'}}</label>
    <div class="input-group">
      {{input-integer min="4" step="1" value=memoryLimit classNames="form-control" placeholder=(t 'reservationParameters.memory.placeholder')}}
      <div class="input-group-addon">{{t 'reservationParameters.memory.unit'}}</div>
    </div>
  </div>
  <div class="col-md-5">
    <label>{{t 'reservationParameters.milliCpu.labelText'}}</label>
    <div class="input-group">
      {{input type="text" value=model.milliCpu classNames="form-control" placeholder=(t 'reservationParameters.milliCpu.placeholder')}}
      <div class="input-group-addon">{{t 'reservationParameters.milliCpu.unit'}}</div>
    </div>
  </div>
</div>
