<div class="row form-group">
  <div class="col-md-2 form-label">{{t 'reservationParameters.localStorage.labelText'}}</div>
  <div class="col-md-3">
      <div class="input-group">
        {{input type="number" min="1" step="1" value=model.localStorageMb classNames="form-control" placeholder=(t 'formSecurity.memoryLimit.placeholder')}}
        <div class="input-group-addon">{{t 'formSecurity.memoryLimit.mb'}}</div>
      </div>
  </div>
  <div class="col-md-2 form-label">{{t 'reservationParameters.memory.labelText'}}</div>
  <div class="col-md-3">
      <div class="input-group">
        {{input type="number" min="1" step="1" value=memoryLimit classNames="form-control" placeholder=(t 'formSecurity.memoryLimit.placeholder')}}
        <div class="input-group-addon">{{t 'formSecurity.memoryLimit.mb'}}</div>
      </div>
  </div>
</div>
<div class="row form-group">
  <div class="col-md-2 form-label">{{t 'reservationParameters.milliCpu.labelText'}}</div>
  <div class="col-md-3">
    {{input type="text" value=model.milliCpu classNames="form-control" placeholder=(t 'reservationParameters.milliCpu.placeholder')}}

  </div>
</div>
