<section class="header clearfix">
  <div class="pull-left"><h1>{{t 'authPage.root.header'}}</h1></div>
  <div class="right-buttons">
    {{#if access.enabled}}

      <div class="m-0 banner bg-info text-small"><p class="p-5 m-0">{{t 'authPage.localAuth.header.enabled'}}</p></div>

    {{else}}
{{!--       <div class="m-0 banner bg-warning"><p class="p-5 m-0">{{t 'authPage.localAuth.header.disabled'}}</p></div>
 --}}    {{/if}}
  </div>
</section>

{{#unless access.enabled}}
  <section>
    <div class="row nav nav-boxes checked-active">
      {{#each drivers as |driver|}}
        {{#if driver.available}}
          {{#link-to driver.route alt=driver.label classNames=(concat "col span-2 nav-box-item driver auth-driver " driver.css) href=false disabled=true}}
            <p class="sr-only">{{driver.label}}</p>
          {{/link-to}}
        {{/if}}
      {{/each}}
    </div>
  </section>
{{/unless}}

{{!-- outlet --}}
<section class="text-center m-20">
  <div class="banner bg-info p-0">
    <div class="banner-icon" style="width: 68px;"><span class="icon icon-2x icon-info"></span></div>
    <div class="banner-info">
      <p class="p-15 ">
        Access Control is not available for this preview release.
      </p>
    </div>
  </div>
</section>
