<section class="header">
  <h1>
    {{#link-to "infrastructure-tab"}}Hosts:{{/link-to}}
    Add Host
  </h1>
</section>

{{#if apiHostSet}}
  {{#if (gt drivers.length 1)}}
    <section class="well">
      <div class="nav nav-boxes checked-active">
        {{#each drivers as |driver|}}
          <a {{action "switchDriver" driver.name}} alt={{driver.label}} class="nav-box-item driver machine-driver {{driver.css}} {{if driver.active 'active'}}" href="#"></a>
        {{/each}}
      </div>
    </section>
  {{/if}}

  {{#if driver}}
    <section>
      {{component driverSelection cancel=(route-action 'cancel') goBack=(route-action 'goBack')}}
    </section>
  {{/if}}
{{else}}
  <section>
    <div class="well">
      {{host-settings saved="savedHost"}}
    </div>
  </section>
{{/if}}
