<section class="header">
  <h1>
    {{#link-to "infrastructure-tab"}}{{t 'hostsPage.new.header.linkTo'}}{{/link-to}}
    {{t 'hostsPage.new.header.text'}}
  </h1>
</section>

{{#if apiHostSet}}
  <section class="well">
    {{#if showPicker}}
      <div class="nav nav-boxes checked-active">

        {{#if allowCustom}}
          <a {{action "switchDriver" "custom"}} alt="custom" class="nav-box-item driver machine-driver custom {{if (eq driver 'custom') 'active'}}" href="#"></a>
        {{/if}}

        {{#each sortedDrivers as |choice|}}
          {{#if choice.hasUi}}
            <a {{action "switchDriver" choice.name}} alt={{choice.name}} class="nav-box-item driver machine-driver {{choice.name}} {{if (eq choice.name driver) 'active'}}" href="#"></a>
          {{/if}}
        {{/each}}

        {{#if (and allowOther hasOther)}}
          <a {{action "switchDriver" "other"}} alt="other" class="nav-box-item driver machine-driver other {{if (eq driver 'other') 'active'}}" href="#"></a>
        {{/if}}
      </div>
    {{/if}}
    {{#if access.admin}}
      <p class="text-center small r-m0">
        {{#link-to "admin-tab.settings"}}{{t 'hostsPage.new.manageLink'}}{{/link-to}}
      </p>
    {{/if}}
  </section>

  {{#if driver}}
    <section>
      {{component (concat "machine/driver-" driver)
        cancel=(route-action 'cancel')
        goBack=(route-action 'goBack')
        clonedModel=clonedModel
        availableDrivers=model.availableDrivers
      }}
    </section>
  {{/if}}
{{else}}
  <section>
    <div class="well">
      {{host-settings saved="savedHost"}}
    </div>
  </section>
{{/if}}
