{{partial "top-error"}}

<section class="horizontal-form">
  <div class="container-fluid">
    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="name" class="form-control-static">Name</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{input id="name" type="text" value=name classNames="form-control" placeholder="e.g. app01"}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="description" class="form-control-static">Description</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{textarea id="description" value=description classNames="form-control no-resize" rows="3" placeholder="e.g. My EC2 host"}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <hr/>
      </div>
    </div>


    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="accessKey" class="form-control-static">Access Key*</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="accessKey" classNames="form-control" placeholder="Your AWS access key" value=amazonec2Config.accessKey}}
      </div>
      <div class="col-sm-12 col-md-2 form-label">
        <label for="secretKey" class="form-control-static">Secret Key*</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="password" id="secretKey" classNames="form-control" placeholder="Your AWS secret key" value=amazonec2Config.secretKey}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="sessionToken" class="form-control-static">Session Token</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="sessionToken" classNames="form-control" placeholder="" value=amazonec2Config.sessionToken}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <hr/>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="region" class="form-control-static">Region</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="region" classNames="form-control" placeholder="" value=amazonec2Config.region}}
      </div>
      <div class="col-sm-12 col-md-2 form-label">
        <label for="zone" class="form-control-static">Zone</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="zone" classNames="form-control" placeholder="" value=amazonec2Config.zone}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <hr/>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="vpcId" class="form-control-static">VPC ID*</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="vpcId" classNames="form-control" placeholder="" value=amazonec2Config.vpcId}}
      </div>
      <div class="col-sm-12 col-md-2 form-label">
        <label for="subnetId" class="form-control-static">Subnet ID</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="subnetId" classNames="form-control" placeholder="" value=amazonec2Config.subnetId}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="securityGroup" class="form-control-static">Security Group</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="securityGroup" classNames="form-control" placeholder="" value=amazonec2Config.securityGroup}}
      </div>
      <div class="col-sm-12 col-md-2 form-label">
        <label for="iamInstanceProfile" class="form-control-static">IAM Profile</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="iamInstanceProfile" classNames="form-control" placeholder="" value=amazonec2Config.iamInstanceProfile}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <hr/>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="instanceType" class="form-control-static">Instance Type</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="instanceType" classNames="form-control" placeholder="" value=amazonec2Config.instanceType}}
      </div>
      <div class="col-sm-12 col-md-2 form-label">
        <label for="rootSize" class="form-control-static">Root Size</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="rootSize" classNames="form-control" placeholder="" value=amazonec2Config.rootSize}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="ami" class="form-control-static">AMI</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="ami" classNames="form-control" placeholder="" value=amazonec2Config.ami}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <hr/>
      </div>
    </div>
  </div>

  {{partial "save-cancel"}}
</section>
