<div class="box">
  <h4>{{t 'reservationParameters.label'}}</h4>
  <div class="row">
    <div class="col span-6">
      <label class="acc-label pb-5">{{t 'reservationParameters.memory.labelText'}}</label>
      <div class="input-group">
        {{input-integer min="4" step="1" value=memoryLimit classNames="form-control" placeholder=(t 'reservationParameters.memory.placeholder')}}
        <div class="input-group-addon bg-default">{{t 'reservationParameters.memory.unit'}}</div>
      </div>
    </div>
    <div class="col span-6">
      <label class="acc-label pb-5">{{t 'reservationParameters.milliCpu.labelText'}}</label>
      <div class="input-group">
        {{input type="text" value=model.milliCpu classNames="form-control" placeholder=(t 'reservationParameters.milliCpu.placeholder')}}
        <div class="input-group-addon bg-default">{{t 'reservationParameters.milliCpu.unit'}}</div>
      </div>
    </div>
  </div>
</div>
