{{#security-header}}
  {{#link-to "security.roles.new" classNames="btn btn-sm bg-primary right-divider-btn"}} {{t 'rolesPage.addRole'}}{{/link-to}}
{{/security-header}}

<section class="instances">
  {{#sortable-table
    classNames="grid sortable-table"
    fullRows=true
    sortBy=sortBy
    headers=headers
    searchText=searchText
    body=filtered
    as |sortable kind row dt|
  }}
    {{#if (eq kind "row")}}
      <tr class="main-row">
        <td valign="middle" class="row-check" style="padding-top: 2px;">
          {{check-box nodeId=row.id}}
        </td>
        <td data-title="{{t 'rolesPage.index.table.name'}}:" class="clip">
          {{#link-to "security.roles.detail" row.id}}
            {{row.name}}
          {{/link-to}}
        </td>
        <td data-title="{{t 'rolesPage.index.table.builtin'}}:" >
          {{#if row.builtin}}
            <i class="icon icon-check"/>
          {{else}}
            <span class="text-muted">&ndash;</span>
          {{/if}}
        </td>
        <td data-title="{{t 'generic.created'}}:" class="text-right pr-20">
          {{date-calendar row.created}}
        </td>
        <td data-title="{{t 'generic.actions'}}:" class="actions">
          {{action-menu model=row}}
        </td>
      </tr>
    {{else if (eq kind "nomatch")}}
      <td colspan="5" class="text-center text-muted lacsso pt-20 pb-20">{{t 'rolesPage.index.table.noMatch'}}</td>
    {{else if (eq kind "norows")}}
      <td colspan="5" class="text-center text-muted lacsso pt-20 pb-20">{{t 'rolesPage.index.table.noData'}}</td>
    {{/if}}
  {{/sortable-table}}
</section>
