<div class="pod-header">
  {{resource-actions-menu model=model choices=model.availableActions}}

  <div {{bind-attr class=":pod-state stateBackground"}}><span>{{model.displayState}}</span></div>
  <div class="pod-icon"><i {{bind-attr class=":fa-lg model.stateIcon iconColor"}}></i></div>
  <div class="pod-name">
    {{#link-to "loadbalancer" model.id}}{{model.displayName}}{{/link-to}}
    {{#if model.showTransitioningMessage}}
      <div {{bind-attr class=":pod-message model.isError:text-danger:text-muted"}}>
        {{model.transitioningMessage}}
      </div>
    {{/if}}
  </div>
  {{#if model.isTransitioning}}
    <div class="progress progress-striped active">
      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" {{bind-attr aria-valuenow=model.displayProgress style=model.progressStyle}}>
        <span class="sr-only">{{model.displayProgress}}% Complete</span>
      </div>
    </div>
  {{/if}}
</div>

<div class="pod-info clearfix">
  {{#each host in model.hosts itemController="host"}}
    <div class="pod-info-line clip">
      <div class="pod-info-item"><i class="ss-link"></i> {{host.displayName}}: {{host.displayIp}}</div>
    </div>
  {{/each}}
</div>

<div class="clearfix no-resource-action-hover">
  {{#each item in model.arrangedTargets itemController="loadbalancertarget"}}
    {{loadbalancertarget-subpod model=item}}
  {{/each}}
  {{#if showAdd}}
    {{add-subpod action="newTarget" label="Add Target"}}
  {{/if}}
</div>
