<section class="header clearfix">
  <div class="pull-left">
    {{#if editing}}
      <h1>{{t 'podSecurityPoliciesPage.editPodSecurityPolicy'}}</h1>
    {{else}}
      <h1>{{t 'podSecurityPoliciesPage.addPodSecurityPolicy'}}</h1>
    {{/if}}
  </div>
</section>

<section class="horizontal-form container-fluid">
  {{form-name-description
      name=model.name
      nameRequired=true
      nameDisabled=editing
      namePlaceholder="podSecurityPoliciesPage.new.form.name.placeholder"
      colClass="col span-7"
      descriptionShown=false
  }}
</section>

<section>
  {{#accordion-list as |al expandFn|}}
    <div class="mt-20">
      {{form-basic-policy
        model=model
        expandAll=al.expandAll
        expandFn=expandFn
      }}
    </div>

    <div class="mt-20">
      {{form-capability-policy
        model=model
        expandAll=al.expandAll
        expandFn=expandFn
      }}
    </div>

    <div class="mt-20">
      {{form-volume-policy
        model=model
        expandAll=al.expandAll
        expandFn=expandFn
      }}
    </div>

    <div class="mt-20">
      {{form-hostpath-policy
        model=model
        expandAll=al.expandAll
        expandFn=expandFn
      }}
    </div>

    <div class="mt-20">
      {{form-fsgroup-policy
        model=model
        expandAll=al.expandAll
        expandFn=expandFn
      }}
    </div>

    <div class="mt-20">
      {{form-hostports-policy
        model=model
        expandAll=al.expandAll
        expandFn=expandFn
      }}
    </div>

    <div class="mt-20">
      {{form-runasuser-policy
        model=model
        expandAll=al.expandAll
        expandFn=expandFn
      }}
    </div>

    <div class="mt-20">
      {{form-selinux-policy
        model=model
        expandAll=al.expandAll
        expandFn=expandFn
      }}
    </div>

    <div class="mt-20">
      {{form-supplementalgroups-policy
        model=model
        expandAll=al.expandAll
        expandFn=expandFn
      }}
    </div>

  {{/accordion-list}}
</section>


{{top-errors errors=errors}}
{{save-cancel editing=editing  save="save" cancel="cancel"}}
