<h2>
  <i class="icon icon-file"></i> {{t 'containerLogs.title' instanceName=instance.displayName}}
  <div class="console-status text-muted pull-right">{{t (concat-str 'containerLogs.status' status character='.')}}</div>
</h2>
{{#if showProtip}}
  <div class="protip">
      {{t 'containerLogs.protip' key=alternateLabel}}
  </div>
{{/if}}
<pre class="log-body">
</pre>
{{yield}}
<div class="footer-actions">
  <button {{action "scrollToTop"}} class="btn bg-default">{{t 'containerLogs.scrollTop'}}</button>
  <button {{action "scrollToBottom"}} class="btn bg-default">{{t 'containerLogs.scrollBottom'}}</button>
  <button {{action "clear"}} class="btn bg-default">{{t 'containerLogs.clear'}}</button>
  <button {{action "cancel"}} class="btn bg-primary">{{t 'generic.closeModal'}}</button>
</div>
