<div class="over-hr mt-40">
  <span>
    {{#if testing}}
      <button
        class="btn bg-info btn-disabled text-white"
        {{action "test"}}
      >
        <i class="icon icon-spinner icon-spin"></i>{{t 'loggingPage.testAction.testing'}}
      </button>
    {{else}}
      {{#if tested}}
        <button
          {{action "test"}}
          class="btn  btn-disabled {{if testOk 'bg-success' 'bg-error'}} text-white"
        >
          {{if testOk (t 'loggingPage.testAction.testOk') (t 'loggingPage.testAction.testFailed')}}
        </button>
      {{else}}
        <button
          {{action "test"}}
          class="btn bg-info text-white"
        >
          {{t 'loggingPage.testAction.test'}}
        </button>
      {{/if}}
    {{/if}}
  </span>
</div>