{{#if settings.isRancher}}
  <div class="logo-text">
    <div class="parachute"></div>
  </div>
{{/if}}

<table align="center" class="fixed no-lines">
  <tr>
    <th class="hidden-xs hidden-sm" style="border-bottom: 1px solid #eff2f6;">
      {{t "modalAboutComponent.component"}}
    </th>
    <th class="hidden-xs hidden-sm" style="border-bottom: 1px solid #eff2f6;">
      {{t "modalAboutComponent.version"}}
    </th>
  </tr>

  {{#if settings.rancherVersion}}
    <tr>
      <td data-title="Component">
        <a href="https://github.com/rancher/rancher" target="_blank" rel="nofollow noopener noreferrer">
          {{settings.appName}}
        </a>
      </td>
      <td data-title="Version">
        {{settings.rancherVersion}}
      </td>
    </tr>
  {{/if}}
  {{#if settings.uiVersion}}
    <tr>
      <td data-title="Component">
        <a href="https://github.com/rancher/ui" target="_blank" rel="nofollow noopener noreferrer">
          {{t "modalAboutComponent.ui"}}
        </a>
      </td>
      <td data-title="Version">
        {{settings.uiVersion}}
      </td>
    </tr>
  {{/if}}
  {{#if settings.cliVersion}}
    <tr>
      <td data-title="Component">
        <a href="https://github.com/rancher/cli" target="_blank" rel="nofollow noopener noreferrer">
          {{settings.appName}} {{t "modalAboutComponent.cli"}}
        </a>
      </td>
      <td data-title="Version">
        {{settings.cliVersion}}
      </td>
    </tr>
  {{/if}}
  {{#if settings.helmVersion}}
    <tr>
      <td data-title="Component">
        <a href="https://github.com/rancher/helm" target="_blank" rel="nofollow noopener noreferrer">
          {{t "modalAboutComponent.helm"}}
        </a>
      </td>
      <td data-title="Version">
        {{settings.helmVersion}}
      </td>
    </tr>
  {{/if}}
  {{#if settings.dockerMachineVersion}}
    <tr>
      <td data-title="Component">
        <a href="https://github.com/rancher/machine" target="_blank" rel="nofollow noopener noreferrer">
          {{t "modalAboutComponent.machine"}}
        </a>
      </td>
      <td data-title="Version">
        {{settings.dockerMachineVersion}}
      </td>
    </tr>
  {{/if}}
  <tr>
    <td data-title="linux-imgae-list">
      {{t "modalAboutComponent.linuxImageList"}}
    </td>
    <td data-title="download-linux-imgae-list">
      <button class="btn bg-transparent p-0" {{action "downloadLinuxImages"}}>
        {{t "generic.download"}}
      </button>
    </td>
  </tr>
  <tr>
    <td data-title="windows-imgae-list">
      {{t "modalAboutComponent.windowsImageList"}}
    </td>
    <td data-title="download-windows-imgae-list">
      <button class="btn bg-transparent p-0" {{action "downloadWindowsImages"}}>
        {{t "generic.download"}}
      </button>
    </td>
  </tr>
</table>

<div class="footer-actions">
  <button {{action "cancel"}} class="btn bg-primary">
    {{t "generic.closeModal"}}
  </button>
</div>
