{{#if settings.isRancher}}
  <div class="logo-text">
    <div class="parachute"></div>
  </div>
{{/if}}

<table align="center" class="fixed no-lines">
  <tr>
    <th class="hidden-xs hidden-sm" style="border-bottom: 1px solid #eff2f6;">{{t 'modalAboutComponent.component'}}</th>
    <th class="hidden-xs hidden-sm" style="border-bottom: 1px solid #eff2f6;">{{t 'modalAboutComponent.version'}}</th>
  </tr>

  {{#if settings.rancherVersion}}
    <tr>
      <td data-title="Component"><a href="https://github.com/rancher/rancher" target="_blank">{{settings.appName}}</a></td>
      <td data-title="Version">{{settings.rancherVersion}}</td>
    </tr>
  {{/if}}
  {{#if settings.cattleVersion}}
    <tr>
      <td data-title="Component"><a href="https://github.com/rancher/cattle" target="_blank">{{t 'modalAboutComponent.cattle'}}</a></td>
      <td data-title="Version">{{settings.cattleVersion}}</td>
    </tr>
  {{/if}}
  {{#if settings.uiVersion}}
    <tr>
      <td data-title="Component"><a href="https://github.com/rancher/ui" target="_blank">{{t 'modalAboutComponent.ui'}}</a></td>
      <td data-title="Version">{{settings.uiVersion}}</td>
    </tr>
  {{/if}}
  {{#if settings.cliVersion}}
    <tr>
      <td data-title="Component"><a href="https://github.com/rancher/cli" target="_blank">{{settings.appName}} {{t 'modalAboutComponent.cli'}}</a></td>
      <td data-title="Version">{{settings.cliVersion}}</td>
    </tr>
  {{/if}}
  {{#if settings.composeVersion}}
    <tr>
      <td data-title="Component"><a href="https://github.com/rancher/rancher-compose" target="_blank">{{settings.appName}} {{t 'modalAboutComponent.compose'}}</a></td>
      <td data-title="Version">{{settings.composeVersion}}</td>
    </tr>
  {{/if}}
  {{#if settings.goMachineVersion}}
    <tr>
      <td data-title="Component"><a href="https://github.com/rancher/go-machine-service" target="_blank">{{t 'modalAboutComponent.machineService'}}</a></td>
      <td data-title="Version">
        {{settings.goMachineVersion}}
        {{#if settings.dockerMachineVersion}}
          (<a href="https://github.com/docker/machine" target="_blank">{{t 'modalAboutComponent.dockerMachine'}}</a> {{settings.dockerMachineVersion}})
        {{/if}}
      </td>
    </tr>
  {{/if}}
</table>

<div class="footer-actions">
<button {{action "cancel"}} class="btn bg-primary">{{t 'generic.closeModal'}}</button>
</div>
