<section>
  {{#if error}}
    <div class="alert alert-danger">
      <i style="float: left;" class="fa-lg ss-alert"></i>
      <p style="margin-left: 50px">{{error}}</p>
    </div>
  {{/if}}

  <div class="well">
    <p>Rancher supports grouping resources into multiple <b>projects</b>.  Each project gets its own set of hosts and other resources, and is owned by a single GitHub user, team or organization.</p>
    <p>For example, you might create separate &quot;dev&quot;, &quot;test&quot;, and &quot;production&quot; projects to keep logical environments isolated from each other, and give &quot;dev&quot; access to your entire organization but restrict the &quot;production&quot; project to a small team.</p>
  </div>

  <div>
    <div class="clearfix">
      <div style="float: right">
        <button {{action "newProject"}} class="btn btn-primary"><i class="ss-plus"></i> Create a project</button>
      </div>
    </div>
    <table class="table fixed" style="margin-bottom: 0">
      <tr>
        <th width="120">State</th>
        <th>Name<br/><span class="text-muted">Description</span></th>
        <th>Owner</th>
        <th width="140">&nbsp;</th>
      </tr>
      {{#each p in arrangedContent itemController="project"}}
        <tr>
          <td {{bind-attr class="p.stateColor"}}>
            <i {{bind-attr class="p.stateIcon"}}></i> {{p.displayState}}
          </td>
          <td>
            {{p.displayName}}
            <p class="text-muted">{{#if p.description}}{{p.description}}{{else}}<span class="text-italic">No description</span>{{/if}}</p>
          </td>
          <td>
            {{github-block type=p.githubType login=p.githubLogin}}
          </td>
          <td align="right">
            {{resource-actions-menu model=p choices=p.availableActions}}
          </td>
        </tr>
      {{else}}
        <tr><td colspan="4" class="text-center text-muted">You don't have any Projects yet.</td></tr>
      {{/each}}
    </table>
  </div>
</section>
