<form class="{{if getTemplate.isRunning 'hide'}}">
  <div class="btn-group  pull-right">
    {{#if pasteOrUpload}}
      <button class="btn btn-sm" {{action 'cancel'}}>{{t 'inputAnswers.editAsForm'}}</button>
    {{else}}
      <button class="btn btn-sm bg-primary" {{action 'showPaste'}}>{{t 'inputAnswers.yaml'}} <span class="icon icon-copy"></span></button>
    {{/if}}
    <button class="btn btn-sm bg-primary" {{action 'upload'}}>{{t 'uploadFile.label'}} <span class="icon icon-upload"></span></button>
  </div>
  <div>
    {{#if showHeader}}
      <h4 class="mb-0">{{t 'inputAnswers.config'}}</h4>
      <span class="protip">{{t 'inputAnswers.protip'}}</span>
    {{/if}}
    &nbsp;
  </div>
  <div class="mt-25">
    {{#if pasteOrUpload}}
      <div class="p-20">
        {{input-yaml
          showUpload=false
          showDownload=false
          canChangeName=false
          value=pastedAnswers
          autoResize=true
        }}
      </div>
      {{top-errors errors=yamlErrors}}
    {{else}}
     {{#each answerSections as |section index|}}
        {{#if section.title}}
          <div class="over-hr"><span>{{section.title}}</span></div>
        {{else if (gt index 0)}}
          <hr>
        {{/if}}
        {{#each section.data as |group|}}
          <div class="row">
            {{#each group as |question|}}
              <div class="col span-6">
                <label class="acc-label">{{or question.label question.variable}}{{#if question.required}}{{field-required}}{{/if}}</label>

                {{#if question.supported}}
                  {{component question.inputComponent field=question value=question.answer}}
                {{else}}
                  {{input type="text" value=question.answer class="form-control"}}
                  <p>{{t 'inputAnswers.unknownType'}} {{question.type}}</p>
                {{/if}}

                <p class="help-block">{{question.description}}</p>
              </div>
            {{/each}}
          </div>
        {{/each}}
     {{else}}
        <span class="text-muted">{{t 'inputAnswers.noConfig'}}</span>
     {{/each}}
    {{/if}}
  </div>
</form>
<input type="file" accept="{{actualAccept}}" class="hide">