{{yield}}
{{#if saving}}
  <button class="btn bg-primary btn-disabled"><i class="icon icon-spinner icon-spin"></i> {{t savingLabel}}</button>
{{else}}
  <button {{action "save"}} disabled={{saveDisabled}} class="btn {{if saved savedColor saveColor}}">
    {{t btnLabel}}
  </button>
{{/if}}
{{#unless cancelDisabled}}
  <button {{action "cancel"}} class="btn {{cancelColor}}">{{t cancelLabel}}</button>
{{/unless}}
