{{yield}}
{{#if saving}}
  <button class="btn btn-primary btn-disabled"><i class="icon icon-spinner icon-spin"></i> {{t 'saveCancel.saving'}}</button>
{{else}}
  <button {{action "save"}} disabled={{saveDisabled}} class="btn {{if saved 'btn-success' 'btn-primary'}}">
    {{t btnLabel}}
  </button>
{{/if}}
{{#unless cancelDisabled}}
  <button {{action "cancel"}} class="btn btn-link">{{t cancelLabel}}</button>
{{/unless}}
