{{yield 'header' this model}}

{{#if showIcon}}
  <div class="catalog-icon">
    <img src="{{app.baseAssets}}assets/images/generic-catalog.svg" data-src={{model.links.icon}}/>
  </div>
  <hr class="ml-20 mr-20" />
{{/if}}
{{#if model.certified}}
  <div class="certified">
    <span>{{model.certified}}</span>
  </div>
{{/if}}
<div class="itemwrap mt-20">
  {{yield 'body' this model}}
</div>
<div class="footer">
  {{yield 'footer' this model}}
</div>
