<section class="fail-whale">
  <div class="error">
    <h2 class="bg-danger">Error</h2>
    <div class="r-p20">
      <h4 class="r-mt20">{{model.code}} {{#if model.status}}({{model.status}}){{/if}}</h4>
      <p>{{model.message}}</p>
      <p class="small">{{model.detail}}</p>
      <div class="r-mt20">
        <a href="#" onclick="window.location.href = window.location.href; return false;">Reload</a> to try again
        or <a class="hand" {{action "logout"}}>log out</a>
      </div>
    </div>
  </div>

  {{#unless settings.isPrivateLabel}}
    <div class="failplane">
      <img src="{{app.baseAssets}}assets/images/logos/fail_plane.svg" width="484" height="269" />
      <img class="failprop" src="{{app.baseAssets}}assets/images/logos/fail_prop.svg" width="123" height="246" />
    </div>

    <img class="failcow" src="{{app.baseAssets}}assets/images/logos/fail_cowparachute.svg" width="178" height="255"/>
    <img class="cloud" src="{{app.baseAssets}}assets/images/logos/fail_cloud1.svg" width="254" height="121" />
    <img class="cloud" src="{{app.baseAssets}}assets/images/logos/fail_cloud2.svg" width="151" height="91" />
    <img class="cloud" src="{{app.baseAssets}}assets/images/logos/fail_cloud3.svg" width="175" height="102" />
    <img class="cloud" src="{{app.baseAssets}}assets/images/logos/fail_cloud4.svg" width="300" height="142" />
    <img class="cloud" src="{{app.baseAssets}}assets/images/logos/fail_cloud5.svg" width="320" height="152" />

    <div class="wave"></div>
  {{/unless}}
</section>
