<section class="row">
  <label class="acc-label col span-1-of-24">
    {{if isFirst (t 'alertPage.newOrEdit.to') (t 'alertPage.newOrEdit.and')}}
  </label>
  <div class="col mt-0 span-9-of-24">
    {{searchable-select
        content=notifiers
        value=model.notifierId
        optionValuePath="id"
        optionLabelPath="displayNameAndType"
        placeholder=(t 'alertPage.newOrEdit.notifierPlaceholder')
    }}
  </div>

  <div class="col text-center text-centerpt-0 span-3-of-24">
    {{#if selectedNotifier.notifierLabel}}
      {{selectedNotifier.notifierLabel}}
    {{else}}
      <span class="text-muted"> {{t 'alertPage.na'}} </span>
    {{/if}}
  </div>

  <div class="col mt-0 span-9-of-24">
    {{#unless (or (eq model.notifierType "dingtalk") (eq model.notifierType "msteams"))}}
      <Input
        @type="text"
        @value={{model.recipient}}
        @placeholder={{recipientPlaceholder}}
        @classNames="form-control"
        @showSearch={{showSearch}}
      />
      <p class="help-block text-info text-small">{{t 'alertPage.newOrEdit.recipient.helpText'}}</p>
    {{/unless}}
  </div>

  <div class="col mt-0 span-1-of-24" style="padding-top:2px;">
    <button class="btn bg-link icon-btn {{if disableRemove 'disabled' ''}}" {{action "remove"}}>
      <span class="darken"><i class="icon icon-minus text-small"/></span>
    </button>
  </div>
</section>
