<section class="header">
  <h1>
    {{t "cis.scan.modal.title"}}
  </h1>
</section>

<label>{{t "cis.scan.modal.chooseAProfile"}}</label>
{{new-select
  id="cis-scan-profile"
  classNames="form-control"
  content=cisScanProfileOptions
  value=profile
}}

<div class="footer-actions pull-right">
  <button {{action "cancel"}} class="btn bg-secondary">
    {{t "generic.cancel"}}
  </button>

  <button {{action "run"}} class="btn bg-primary">
    {{t "generic.run"}}
  </button>
</div>
