{{#with instance as container controller="container"}}
  <h1><i class="fa fa-file-text-o"></i> Logs: {{container.displayName}}</h1>
{{/with}}
<pre class="log-body">
</pre>
<div class="footer-actions">
  <div class="console-status text-muted">{{view.status}}</div>
  <button {{action "scrollToTop" target="view"}} class="btn btn-default">Scroll to Top</button>
  <button {{action "scrollToBottom" target="view"}} class="btn btn-default">Scroll to Bottom</button>
  <button {{action "clear" target="view"}} class="btn btn-default">Clear Screen</button>
  <button {{action "cancel"}} class="btn btn-primary">Close</button>
</div>

{{partial "overlay-close"}}
