{{#with instance as container controller="container"}}
  <h2>
    <i class="ss-file"></i> Logs: {{container.displayName}}
  </h2>
{{/with}}
{{#if view.onlyCombinedLog}}
  <div class="text-muted"><b>Note:</b> Only combined stdout/stderr logs are available for this container because it was run with the TTY (-t) flag.</div>
{{else}}
  <ul class="nav nav-tabs">
    <li role="presentation" {{bind-attr class="view.isCombined:active"}}><a {{action "changeShow" "combined" target="view"}}>Combined</a></li>
    <li role="presentation" {{bind-attr class="view.isStdOut:active"}}><a {{action "changeShow" "stdout" target="view"}}>Standard Out</a></li>
    <li role="presentation" {{bind-attr class="view.isStdErr:active"}}><a {{action "changeShow" "stderr" target="view"}}>Standard Error</a></li>
  </ul>
{{/if}}
<pre {{bind-attr class=":log-body view.stdErrVisible::hide-stderr view.stdOutVisible::hide-stdout"}}>
</pre>
<div class="footer-actions">
  <div class="console-status text-muted">{{view.status}}</div>
  <button {{action "scrollToTop" target="view"}} class="btn btn-default">Scroll to Top</button>
  <button {{action "scrollToBottom" target="view"}} class="btn btn-default">Scroll to Bottom</button>
  <button {{action "clear" target="view"}} class="btn btn-default">Clear Screen</button>
  <button {{action "cancel"}} class="btn btn-primary">Close</button>
</div>

{{partial "overlay-close"}}
