{{#if (and (eq step 1) (and (or isK3sCluster isRke2Cluster) (not isDockerCluster)))}}
  <AccordionList @showExpandAll={{false}} as |al expandFn|>
    <AccordionListItem
      @title={{t "managedImportClusterInfo.title" provider=cluster.displayProvider}}
      @detail={{t "managedImportClusterInfo.detail" provider=cluster.displayProvider}}
      @expandAll={{al.expandAll}}
      @everExpanded={{true}}
      @expandOnInit={{true}}
      @expanded={{true}}
      @expand={{action expandFn}}
    >
      <ManagedImportClusterInfo
        @configField={{configField}}
        @cluster={{model.cluster}}
        @originalCluster={{model.originalCluster}}
        @editing={{isEdit}}
        @errors={{errors}}
      />
    </AccordionListItem>
  </AccordionList>
{{else if (and (eq step 2) (or (eq originalCluster.state "pending") isPostSave))}}
  <ImportCommand @cluster={{cluster}}/>
{{/if}}

<TopErrors @errors={{errors}} />
<TopErrors @errors={{otherErrors}} />
<TopErrors @errors={{clusterErrors}} />

{{#if (and (eq step 2) (or (eq originalCluster.state "pending") isPostSave))}}
  <div class="footer-actions">
    <button class="btn bg-primary" type="button" {{action "close"}}>
      {{t "clusterNew.rke.done"}}
    </button>
  </div>
{{else}}
  <SaveCancel
    @save={{"driverSave"}}
    @editing={{isEdit}}
    @cancel={{action "close"}}
  />
{{/if}}