<section>
  <table class="table fixed" style="margin-bottom: 0">
    <tbody>
      <tr>
        <th width="120">State</th>
        <th>Name</th>
        <th>Containers</th>
        <th>Created</th>
        <th width="140">&nbsp;</th>
      </tr>
      <tr class="no-lines">
        <th colspan="5" class="text-muted">Host Path
      </tr>
    </tbody>
    {{#each volume in nonRootVolumes itemController="volume"}}
      <tbody>
        <tr>
          <td {{bind-attr class="volume.stateColor"}}>
            <i {{bind-attr class=":fa volume.stateIcon"}}></i> {{volume.displayState}}
          </td>

          <td>
            {{volume.displayName}}
          </td>

          <td>
            {{#if volume.activeMounts.length}}
              {{volume.activeMounts.length}}
            {{else}}
              <span class="text-muted">None</span>
            {{/if}}
          </td>

          <td>
            <div class="text-muted">{{date-calendar volume.created}}</div>
          </td>

          <td align="right" rowspan="2">
            {{resource-actions-menu model=volume choices=volume.availableActions}}
          </td>
        </tr>
        <tr class="no-lines">
          <td colspan="4" class="text-muted clip">
            {{volume.displayUri}}
          </td>
        </tr>
      </tbody>
    {{/each}}
  </table>
</section>
