<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.vsphereVolume.volumePath.label'}}</label>
    {{#input-or-display editable=editing value=config.volumePath}}
      {{input type="text" value=config.volumePath classNames="form-control" placeholder=(t 'cruPersistentVolume.vsphereVolume.volumePath.placeholder')}}
    {{/input-or-display}}
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.vsphereVolume.storagePolicyName.label'}}</label>
    {{#input-or-display editable=editing value=config.storagePolicyName}}
      {{input type="text" value=config.storagePolicyName classNames="form-control" placeholder=(t 'cruPersistentVolume.vsphereVolume.storagePolicyName.placeholder')}}
    {{/input-or-display}}
  </div>
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.vsphereVolume.storagePolicyID.label'}}</label>
    {{#input-or-display editable=editing value=config.storagePolicyID}}
      {{input type="text" value=config.storagePolicyID classNames="form-control" placeholder=(t 'cruPersistentVolume.vsphereVolume.storagePolicyID.placeholder')}}
    {{/input-or-display}}
  </div>

  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.vsphereVolume.fsType.label'}}</label>
    {{#input-or-display editable=editing value=config.fsType}}
      {{input type="text" value=config.fsType classNames="form-control" placeholder=(t 'cruPersistentVolume.vsphereVolume.fsType.placeholder')}}
    {{/input-or-display}}
  </div>
</div>