{{#accordion-list-item
     title=(t 'formCapabilityPodSecurityPolicy.title')
     detail=(t 'formCapabilityPodSecurityPolicy.detail')
     status=status
     statusClass=statusClass
     expandAll=expandAll
     expand=(action expandFn)
}}
  <div class="row">
    <div class="col box span-4">
      <label class="acc-label">{{t 'formCapabilityPodSecurityPolicy.capabilities.allow'}}</label>
      {{#if readOnly}}
        {{#if model.allowedCapabilities.length}}
          <div>
            {{#each model.allowedCapabilities as |choice index|}}
              {{if index ", "}} {{choice}}
            {{/each}}
          </div>
        {{else}}
          <div>{{t 'generic.none'}}</div>
        {{/if}}
      {{else}}
        <select class="form-control select-cap-allow" multiple="true" onchange={{action 'modifyCapabilities' 'allowedCapabilities' }}>
          {{#each capabilityChoices as |choice|}}
            <option value={{choice}} selected={{array-includes model.allowedCapabilities choice}}>{{choice}}</option>
          {{/each}}
        </select>
      {{/if}}
    </div>

    <div class="col box span-4">
      <label class="acc-label">{{t 'formCapabilityPodSecurityPolicy.capabilities.add'}}</label>
      {{#if readOnly}}
        {{#if model.defaultAddCapabilities.length}}
          <div>
            {{#each model.defaultAddCapabilities as |choice index|}}
              {{if index ", "}} {{choice}}
            {{/each}}
          </div>
        {{else}}
          <div>{{t 'generic.none'}}</div>
        {{/if}}
      {{else}}
        <select class="form-control select-cap-add" multiple="true" onchange={{action 'modifyCapabilities' 'defaultAddCapabilities' }}>
          {{#each capabilityChoices as |choice|}}
            <option value={{choice}} selected={{array-includes model.defaultAddCapabilities choice}}>{{choice}}</option>
          {{/each}}
        </select>
      {{/if}}
    </div>

    <div class="col box span-4">
      <label class="acc-label">{{t 'formCapabilityPodSecurityPolicy.capabilities.drop'}}</label>
      {{#if readOnly}}
        {{#if model.requiredDropCapabilities.length}}
          <div>
            {{#each model.requiredDropCapabilities as |choice index|}}
              {{if index ", "}} {{choice}}
            {{/each}}
          </div>
        {{else}}
          <div>{{t 'generic.none'}}</div>
        {{/if}}
      {{else}}
        <select class="form-control select-cap-drop" multiple="true" onchange={{action 'modifyCapabilities' 'requiredDropCapabilities'}}>
          {{#each capabilityChoices as |choice|}}
            <option value={{choice}} selected={{array-includes model.requiredDropCapabilities choice}}>{{choice}}</option>
          {{/each}}
        </select>
      {{/if}}
    </div>

  </div>
{{/accordion-list-item}}
