<section class="header clearfix">
  <h1>{{t 'stacksPage.new.header'}}</h1>
</section>

<section class="container-fluid well">
  {{form-name-description
    model=primaryResource
    namePlaceholder="stacksPage.new.form.name.placeholder"
    descriptionPlaceholder="stacksPage.new.form.description.placeholder"
  }}

  <div class="over-hr"><span>{{t 'stacksPage.new.composeLabel'}}</span></div>
  <div class="row form-group">
    <div class="col-sm-12 col-md-6">
      <div class="clearfix r-mb10 r-mt15">
        <label class="r-pt5">{{t 'stacksPage.new.form.dockerCompose.label'}}</label>
      </div>
      {{input-text-file
        accept=".yml, .yaml"
        value=primaryResource.dockerCompose
        placeholder="stacksPage.new.form.dockerCompose.placeholder"
      }}
    </div>
    <div class="col-sm-12 col-md-6">
      <div class="clearfix r-mb10 r-mt15">
        <label class="r-pt5">{{t 'stacksPage.new.form.rancherCompose.label'}}</label>
      </div>
      {{input-text-file
        accept=".yml, .yaml"
        value=primaryResource.rancherCompose
        placeholder="stacksPage.new.form.rancherCompose.placeholder"
      }}
    </div>
  </div>
  {{#advanced-section}}
    <div class="row">
      <div class="col-md-6">
        <label class="r-pt5">{{t 'editStack.group.label'}}</label>
        <div class="input-group">
          {{input type="text" value=primaryResource.group classNames="form-control" placeholder=(t 'editStack.group.placeholder')}}
          <div class="input-group-btn">
            <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon icon-chevron-down"></i></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              {{#each groupChoices as |key|}}
                <li><a {{action "addTag" key}}>{{key}}</a></li>
              {{/each}}
            </ul>
          </div>
        </div>
        <p class="help-block">{{t 'editStack.group.help'}}</p>
      </div>
      <div class="col-md-6">
        <label class="r-pt5">&nbsp;</label>
        <div class="form-control-static checkbox">
          <label>{{input type="checkbox" checked=primaryResource.startOnCreate}} {{t 'stacksPage.new.form.startOnCreate.label'}}</label>
        </div>
      </div>
    </div>
  {{/advanced-section}}
</section>

{{top-errors errors=errors}}
{{save-cancel save="save" cancel="cancel"}}
