<div class="row">
  <div class="col clip mb-0">
    {{#if inputName}}
      {{input value=name placeholder=(if namePlaceholder (t namePlaceholder) '')}}
    {{else}}
      <label class="acc-label">
        {{#if label}}
          {{t label}}
        {{else}}
          {{name}}
        {{/if}}
      </label>
    {{/if}}
  </div>
  <div class="pull-right">
    {{#if showUploadLabel}}
      <button class="btn bg-link icon-btn" {{action "click"}}>
        <span class="darken"><i class="icon icon-upload text-small"/></span>
        <span>{{t 'inputTextFile.tooltip'}}</span>
      </button>
    {{else}}
      {{#tooltip-element type="tooltip-basic" model=(t 'inputTextFile.tooltip') tooltipTemplate="tooltip-static" aria-describedby="tooltip-base" tooltipFor="inputTextFile"}}
        <button type="button" class="btn bg-link" {{action "click"}}><i class="icon icon-upload"></i></button>
      {{/tooltip-element}}
    {{/if}}
    {{yield}}
  </div>
</div>
<div class="row">
  <div class="col span-12 pt-10 mb-0">
    {{textarea-autogrow
      value=value
      classNames="form-control"
      placeholder=placeholder
      minHeight=minHeight
      maxHeight=maxHeight
    }}
  </div>
</div>
<input type="file" accept="{{actualAccept}}" class="hide">
