<div class="aside-background {{asideColor}} {{unless hasAside 'hide'}}"></div>
{{page-header
  currentPath=currentPath
  authController=this
  showAbout="showAbout"
  switchProject="switchProject"
  goToPrevious="goToPrevious"
}}
<main class="{{if hasAside 'has-aside'}}">
  {{outlet}}
  {{!liquid-outlet class="main-container"}}
</main>
