<div class="aside-background {{asideColor}} {{unless hasAside 'hide'}}"></div>
{{page-header
  currentPath=currentPath
  authController=this
  switchProject="switchProject"
  goToPrevious="goToPrevious"
}}
<main class="{{if hasAside 'has-aside'}}">
  {{outlet}}
</main>
