{{#unless isPopup}}
{{#if azureNeedsUpdate}}
  <div class="bg-warning" id ='azuread-warning-banner'>
    {{t 'authPage.azuread.updateEndpoint.banner.message'}}{{" "}}{{#link-to "global-admin.security.authentication.azuread"}}{{t 'authPage.azuread.updateEndpoint.banner.linkText'}}{{/link-to}}
  </div>
{{/if}}
  {{page-header
    pageScope=pageScope
    goToPrevious="goToPrevious"
  }}
{{/unless}}
<main class="clearfix">
  {{outlet}}
</main>
{{#unless isPopup}}
  {{page-footer
    showAbout="showAbout"
  }}
{{/unless}}
