<div class="nav-background"></div>
<div {{bind-attr class=":aside-background asideColor hasAside::hide"}}></div>
{{#if project}}
  {{page-nav activeTab=activeTab}}
{{/if}}
{{page-header
  pageName=pageName
  projects=projects
  project=project
  backRoute=backRoute
  backPrevious=backPrevious
  authController=this
  addRoute=addRoute
  addParams=addParams
  hasAside=hasAside
  switchProject="switchProject"
  goToPrevious="goToPrevious"
}}
<main {{bind-attr class="hasAside:has-aside"}}>
  {{outlet}}
</main>
