{{#if saving}}
  <button class="btn btn-disabled {{savingColor}}" type="button" {{action "doNothing"}}>
    <i class="icon icon-spinner icon-spin"></i>
    {{t savingLabel}}
  </button>
{{else}}
  <button type="submit" {{action "save"}} disabled={{saveDisabled}} class="btn {{if saved savedColor saveColor}}">
    {{t btnLabel}}
  </button>
{{/if}}
{{yield}}
{{#unless cancelDisabled}}
  <button class="btn {{cancelColor}}" type="button" {{action "cancel"}}>
    {{t cancelLabel}}
  </button>
{{/unless}}
