{{#sortable-table
  classNames="lacsso grid sortable-table"
  bulkActions=false
  paging=false
  search=false
  sortBy=sortBy
  headers=headers
  body=model.pools
  as |row kind|
}}
  {{#if (eq kind "row")}}
    <td data-title="{{dt.name}}">{{row.displayName}}</td>
    <td data-title="{{dt.activeTasks}}" class="{{if (gte row.activeTasks row.poolSize) 'text-warning text-bold'}}">{{format-number row.activeTasks}}</td>
    <td data-title="{{dt.poolSize}}">
      {{~format-number row.poolSize~}}
      {{#if (or (not-eq row.poolSize row.minPoolSize) (not-eq row.poolSize row.maxPoolSize))}}
        <span class="text-muted"> (
          {{~format-number row.minPoolSize~}}
          -
          {{~#if (eq row.maxPoolSize 2147483647)}}&infin;{{else}}{{format-number row.maxPoolSize}}{{/if~}}
        )</span>
      {{/if}}
    </td>
    <td data-title="{{dt.rejectedTasks}}">{{format-number row.rejectedTasks}}</td>
    <td data-title="{{dt.completedTasks}}">{{format-number row.completedTasks}}</td>
    <td data-title="{{dt.queueSize}}">{{format-number row.queueSize}}</td>
    <td data-title="{{dt.queueRemainingCapacity}}">
      {{#if (eq row.queueRemainingCapacity 2147483647)}}
        &infin;
      {{else}}
        {{format-number row.queueRemainingCapacity}}
      {{/if}}
    </td>
  {{else if (eq kind "nomatch")}}
    <td colspan="{{headers.length}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'processesPage.pools.noMatch'}}</td>
  {{else if (eq kind "norows")}}
    <td colspan="{{headers.length}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'processesPage.pools.noData'}}</td>
  {{/if}}
{{/sortable-table}}
