<td class="force-wrap">
  {{#link-to "k8s-tab.namespace.pods.pod" model.displayName}}{{model.displayName}}{{/link-to}}
</td>
<td>
  {{model.status.phase}}
</td>
<td>
  {{model.displayContainerStatus}}
</td>
<td>
  {{model.status.hostIP}}
</td>
<td>
  {{model.status.podIP}}
</td>
<td class="actions">
  {{action-menu model=model}}
</td>
