{{yield}}
<div class="gh-icon">
  {{#if avatarUrl}}
    <a {{bind-attr href=url}} target="_blank">
      <img {{bind-attr src=avatarUrl}} width="40" height="40">
    </a>
  {{else}}
    <div class="gh-placeholder"></div>
  {{/if}}
</div>
<div class="gh-avatar-content">
  <div class="clip">
    <a {{bind-attr href=url}} target="_blank">{{login}}</a>
  </div>
  <div class="text-muted clip">{{#if name}}{{name}}{{else}}<i>No name</i>{{/if}}</div>
</div>
