{{yield}}
{{#if avatarUrl}}
  {{#if link}}
    <a {{bind-attr href=url}} target="_blank">
      <img {{bind-attr src=avatarUrl width=size height=size}}>
    </a>
  {{else}}
    <img {{bind-attr src=avatarUrl width=size height=size}}>
  {{/if}}
{{else}}
  <div class="gh-placeholder"></div>
{{/if}}
