<section class="horizontal-form container-fluid">
  <h2>{{t 'editRegistry.title'}}</h2>
  {{top-errors errors=errors}}
</section>

<section class="horizontal-form container-fluid">
  <div class="row inline-form">
    <div class="col span-2 col-inline">
      <label>{{t 'editRegistry.address.label'}}</label>
    </div>
    <div class="col span-8">
      <div>{{model.registry.serverAddress}}</div>
    </div>
  </div>

  <div class="row inline-form">
    <div class="col span-2 col-inline">
      <label>{{t 'editRegistry.email.label'}}{{field-required}}</label>
    </div>
    <div class="col span-8">
      {{input type="text" class="form-control email" value=model.credential.email placeholder=(t 'editRegistry.email.placeholder')}}
    </div>
  </div>

  <div class="row inline-form">
    <div class="col span-2 col-inline">
      <label>{{t 'editRegistry.username.label'}}</label>
    </div>
    <div class="col span-8">
      {{input type="text" class="form-control" value=model.credential.publicValue placeholder=(t 'editRegistry.username.placeholder')}}
    </div>
  </div>

  <div class="row inline-form">
    <div class="col span-2 col-inline">
      <label>{{t 'editRegistry.password.label'}}</label>
    </div>
    <div class="col span-8">
      {{input type="password" class="form-control" value=model.credential.secretValue placeholder=(t 'editRegistry.password.placeholder')}}
    </div>
  </div>
</section>

{{save-cancel editing=editing save="save" cancel="cancel"}}
