<section class="horizontal-form container-fluid">
  <h2>Edit Registry</h2>
  {{top-errors errors=errors}}
</section>

<section class="horizontal-form container-fluid">
  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label form-control-static">
      <label>Address</label>
    </div>
    <div class="col-sm-12 col-md-8">
      <div class="form-control-static">{{model.registry.serverAddress}}</div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label form-control-static">
      <label>Email*</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{input type="text" class="form-control email" value=model.credential.email placeholder="e.g. you@example.com"}}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label form-control-static">
      <label>Username</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{input type="text" class="form-control" value=model.credential.publicValue placeholder="e.g. username"}}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label form-control-static">
      <label>Password</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{input type="password" class="form-control" value=model.credential.secretValue placeholder="e.g. password"}}
    </div>
  </div>
</section>

{{save-cancel save="save" cancel="cancel"}}
