<Input
  @value={{value}}
  @placeholder={{placeholder}}
  @type="text"
  @focus-out={{action "focusOutHandler"}}
  @class={{if invalid "input-error" ""}}
  @disabled={{disabled}}
  @classNames={{inputStyles}}
/>
<span class="error-container text-error help-block {{if invalid '' 'hide'}}">
  {{errorMessage}}
</span>