<label class="acc-label">{{t 'formAccessModes.label'}}</label>
<div class="checkbox">
  <label>
    {{#if editing}}{{input type="checkbox" checked=accessRWO}}{{/if}}
    {{t 'formAccessModes.accessRWO'}}
  </label>
</div>
<div class="checkbox">
  <label>
    {{#if editing}}{{input type="checkbox" checked=accessROX}}{{/if}}
    {{t 'formAccessModes.accessROX'}}
  </label>
</div>
<div class="checkbox">
  <label>
    {{#if editing}}{{input type="checkbox" checked=accessRWX}}{{/if}}
    {{t 'formAccessModes.accessRWX'}}
  </label>
</div>
