<section class="header clearfix">
  <div class="pull-left">
    <h2>{{t 'namespacesPage.addNamespace'}}</h2>
  </div>
</section>

{{form-name-description
  model=model.namespace
}}
{{#if nameExists}}
  <p class="text-error text-small mt-0 mb-0">
    {{t 'editStack.name.error'}}
  </p>
{{/if}}
{{#unless from}}
  <label class="pt-20 pb-5 acc-label">{{t 'editStack.project.label'}}</label>
  {{new-select
      classNames="form-control"
      optionValuePath="id"
      optionLabelPath="displayName"
      content=allProjects
      value=model.namespace.projectId
      prompt="editStack.project.prompt"
      localizedPrompt=true
  }}
{{/unless}}

{{#if model.namespace.project.resourceQuota}}
  <label class="pt-20 pb-5 acc-label">{{t 'editStack.quota.label'}}</label>
  {{new-select
      classNames="form-control"
      optionValuePath="id"
      optionLabelPath="displayName"
      content=allQuotaTemplates
      value=model.namespace.resourceQuotaTemplateId
      prompt="editStack.quota.prompt"
      localizedPrompt=true
  }}
{{/if}}

{{top-errors errors=errors}}
{{save-cancel editing=false save="save" cancel="cancel"}}
