<td>
  {{badge-state model=model}}
</td>
<td>
  {{#link-to "settings.projects.detail" model.id (query-params editing=false)}}{{model.displayName}}{{/link-to}}
</td>
<td>
  {{#if model.description}}{{model.description}}{{else}}<span class="text-muted">No description</span>{{/if}}
</td>
<td>
  {{model.displayClustering}}
</td>
<td>
  {{#if model.isDefault}}<i class="icon icon-check"></i>{{else}}<span class="text-muted">&ndash;</span>{{/if}}
</td>
<td class="actions">
  {{partial "fast-action-menu"}}
</td>
