<td data-title="State:" class="state">
  {{badge-state model=model}}
</td>
<td data-title="Name:">
  {{#link-to "settings.projects.detail" model.id (query-params editing=false)}}{{model.displayName}}{{/link-to}}
</td>
<td data-title="Description:">
  {{#if model.description}}{{model.description}}{{else}}<span class="text-muted">No description</span>{{/if}}
</td>
<td data-title="Orchestration:">
  {{model.displayOrchestration}}
</td>
<td data-title="Default:">
  {{#if model.isDefault}}<i class="icon icon-check"></i>{{else}}<span class="text-muted">&ndash;</span>{{/if}}
</td>
<td data-title="Actions:" class="actions">
  {{partial "fast-action-menu"}}
</td>
