<td>
  <span class="badge state {{model.stateBackground}}">
    {{model.displayState}}
  </span>
</td>
<td>
  {{#link-to "settings.project-detail" model.id}}{{model.displayName}}{{/link-to}}
</td>
<td>
  {{#if model.description}}{{model.description}}{{else}}<span class="text-muted">No description</span>{{/if}}
</td>
<td>
  {{#if model.isDefault}}<i class="icon icon-check"></i>{{else}}<span class="text-muted">&ndash;</span>{{/if}}
</td>
<td class="actions">
  {{partial "fast-action-menu"}}
</td>
