<h2>
  {{t "editPipelineConfig.header"}}
</h2>
<hr/>
<div>
  <div class="radio">
    <label>
      {{radio-button selection=push value=true}} {{t "editPipelineConfig.pushToReop"}}
    </label>
  </div>
  <div class="radio">
    <label>
      {{radio-button selection=push value=false}} {{t "editPipelineConfig.download"}}
    </label>
  </div>
  <div class="container-header-text display-name">
    {{#each branches as |branch|}}
      <div>
        {{t "generic.branch"}}: {{branch}}
      </div>
    {{/each}}
  </div>
</div>

{{save-cancel
  createLabel="generic.confirm"
  save=(action "save")
  cancel=(action "cancel")
}}