<div class="row banner bg-info basics">
  <div class="vertical-middle">
    <label class="acc-label vertical-middle p-0">{{t 'clustersPage.provider.label'}}:</label>
    <span>{{cluster.displayProvider}}</span>
  </div>

  <div class="vertical-middle">
    <label class="acc-label vertical-middle p-0">{{t 'clustersPage.version.label'}}:</label>
    <span>{{cluster.version.gitVersion}}</span>
  </div>

  <div class="vertical-middle">
    <label class="acc-label vertical-middle p-0">{{t 'generic.created'}}:</label>
    <span>{{date-calendar cluster.created}}</span>
  </div>
</div>