<h3>{{t 'telemetryOpt.header'}}</h3>
<h5>{{format-html-message 'telemetryOpt.subtext' appName=settings.appName}} <a href="{{settings.docsBase}}/telemetry" target="_blank" rel="noopener nofollow">{{t 'telemetryOpt.learnMore.label'}}</a></h5>
<hr>

<div class="form-label checkbox">
  <label>{{input type="checkbox" checked=optIn}} {{t 'telemetryOpt.label'}}</label>
</div>

{{save-cancel cancelDisabled=true editing=true save="save"}}
