<section class="header clearfix">
  <h1 class="pull-left">
    {{model.clusterTemplate.displayName}}: {{model.clusterTemplateRevision.displayName}}
  </h1>
  <div class="right-buttons">
    <ActionMenu
      class="pull-right"
      @size="sm"
      @model={{model.clusterTemplateRevision}}
    />
  </div>
</section>

<CruClusterTemplate
  @clusterTemplate={{model.clusterTemplate}}
  @clusterTemplateRevision={{model.clusterTemplateRevision}}
  @clusterTemplateRevisionId={{model.clusterTemplateRevisionId}}
  @psps={{model.psps}}
  @mode="view"
  @cancel={{action "cancel"}}
  @done={{action "done"}}
/>
