<h2>
  {{t "enablePipeline.header"}}
</h2>
{{#if canConfig}}
  <div>
    {{t "enablePipeline.helpText"}}
  </div>
  {{save-cancel
    createLabel="enablePipeline.configNow"
    save=(action "save")
    cancel=(action "cancel")
  }}
{{else}}
  <div>
    {{t "enablePipeline.noPermission"}}
  </div>
  <div class="text-center">
    <button class="btn bg-transparent" {{action "cancel"}}>
      {{t "generic.cancel"}}
    </button>
  </div>
{{/if}}