<main class="row mt-30">
<h2 class="mt-0">{{t 'loggingPage.additional.header'}}</h2>
<hr/>
<div class="col span-5">
<section class="additional-logging-configuration-content">
    <label>{{t 'loggingPage.additional.fields.header'}}</label>
    <div class="mb-30">
      <p class="text-info text-small">{{t 'loggingPage.additional.fields.helpText'}}</p>
      {{form-key-value
          addActionLabel="loggingPage.tags.addActionLabel"
          initialMap=model.outputTags
          changed=(action (mut model.outputTags))
      }}
    </div>
    {{!-- <h4>{{t 'loggingPage.additional.flushInterval.header'}}</h4> --}}
    <div class="row">
      <div class="col">
        <label class="acc-label">{{t 'loggingPage.additional.flushInterval.label'}}</label>
        <div class="input-group">
          {{input-integer
              min=1
              value=model.outputFlushInterval
              class="form-control"
              placeholder=(t 'loggingPage.additional.flushInterval.placeholder')
              aria-describedby="basic-addon2"
          }}
          <span class="input-group-addon bg-default" id="basic-addon2">{{t 'loggingPage.additional.flushInterval.sec'}}</span>
        </div>
        <p class="text-info text-small mb-0">{{t 'loggingPage.additional.flushInterval.helpText'}}</p>
      </div>
    </div>
  </section>
</div>

<div class="col span-7 logging-format">
    {{code-block code=logPreview}}
</div>
</main>