<main class="row mt-20">
  <div class="col span-6 logging-format">
    <h2 class="mt-0">{{t 'loggingPage.logPreview.header'}}</h2>
    <hr/>
    {{code-block code=logPreview}}
  </div>
  <div class="col span-6">
    <h2 class="mt-0">{{t 'loggingPage.additional.header'}}</h2>
    <hr/>
    <section class="box additional-logging-configuration-content">
      <h4>{{t 'loggingPage.additional.fields.header'}}</h4>
      <div class="mb-30">
        <p class="text-info text-small">{{t 'loggingPage.additional.fields.helpText'}}</p>
        {{form-key-value
            addActionLabel="loggingPage.tags.addActionLabel"
            initialMap=model.outputTags
            changed=(action (mut model.outputTags))
        }}
      </div>
      <h4>{{t 'loggingPage.additional.flushInterval.header'}}</h4>
      <div class="row">
        <div class="col span-8">
          <span class="acc-label">{{t 'loggingPage.additional.flushInterval.label'}}</span>
          <div class="input-group">
            {{input-integer
                min=1
                value=model.outputFlushInterval
                class="form-control"
                placeholder=(t 'loggingPage.additional.flushInterval.placeholder')
                aria-describedby="basic-addon2"
            }}
            <span class="input-group-addon bg-default" id="basic-addon2">{{t 'loggingPage.additional.flushInterval.sec'}}</span>
          </div>
          <p class="text-info text-small mb-0">{{t 'loggingPage.additional.flushInterval.helpText'}}</p>
        </div>
      </div>
    </section>
  </div>
</main>