<section class="header">
  <h1>Revert {{setting.id}} to default value?</h1>
</section>
<section>

  <div class="modal-content row">
    <div class="col span-12">
      <label class="acc-label" for="">Current Value</label>
      <div>
        {{setting.value}}
      </div>
    </div>
    <div class="col span-12">
      <label class="acc-label" for="">Default Value</label>
      <div>
        {{setting.default}}
      </div>
    </div>
  </div>
</section>

{{save-cancel save="save" cancel="goBack" createLabel="generic.save"}}
{{top-errors errors=errors}}
