{{#if projects.orchestrationState.kubernetesReady}}
  <section class="header clearfix">
    <h1>{{t 'k8sTab.dashboard.header'}}</h1>
  </section>

  <div class="row r-mt20 r-ml20 r-mr20">
    <div class="text-center col-md-6 col-md-offset-3 gutter">
      <div class="well">
        <div class="row">
          <img height="55" src="{{app.baseAssets}}assets/images/hexagon-kubernetes.svg" />
        </div>
        <h4>{{t 'k8sTab.dashboard.dashboard.header'}}</h4>
        <p>{{t 'k8sTab.dashboard.dashboard.content'}}</p>
        {{#if model.dashboardUrl}}
          <a {{action "openDashboard"}} class="btn btn-primary">{{t 'k8sTab.dashboard.dashboard.button'}}</a>
        {{else}}
          <button class="btn btn-primary btn-disabled">{{t 'k8sTab.dashboard.dashboard.button'}}</button>
        {{/if}}
      </div>
    </div>
  </div>
{{/if}}
