{{~#if showDropdown~}}
  <button type="button" class="btn {{color}} {{btnClass}} dropdown-toggle icon-btn" data-toggle="dropdown" aria-expanded="true">
    <span>{{t (concat-str 'upgradeBtn.status.' upgradeStatus character='')}}</span>
    <span class="sr-only">{{t 'nav.srToggleDropdown'}}</span>
    <span class="darken"><i class="icon icon-chevron-down chevron"></i></span>
  </button>
  <ul class="dropdown-menu dropdown-menu-right" role="menu">
    {{#each-in allVersions as |version url|}}
      <li class="{{if (eq currentVersion version) 'active'}}">
        <a {{action "changeVersion" version url}}>
          {{version}}
        </a>
      </li>
    {{/each-in}}
  </ul>
{{else}}
    <button type="button" class="btn {{color}} {{btnClass}}" {{action "doUpgrade"}}>
      {{t (concat-str 'upgradeBtn.status.' upgradeStatus character='')}}
    </button>
{{/if}}



{{!-- <button class="btn bg-link icon-btn" data-ember-action="" data-ember-action-2451="2451">
  <span class="darken"><i class="icon icon-chevron-down chevron"></i></span>
  <span>{{t (concat-str 'upgradeBtn.status.' upgradeStatus character='')}}</span>
  <span class="sr-only">{{t 'nav.srToggleDropdown'}}</span>
</button> --}}


{{!-- old
  <button type="button" class="btn {{color}} {{btnClass}} dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
    {{t (concat-str 'upgradeBtn.status.' upgradeStatus character='')}}
    <span class="sr-only">{{t 'nav.srToggleDropdown'}}</span>
    <i class="icon icon-chevron-down chevron"></i>
  </button> --}}