<section class="horizontal-form container-fluid">
  <h2>Edit Container</h2>
  {{top-errors errors=errors}}

  {{partial "container/edit-name"}}

  {{partial "form-divider"}}

  {{partial "container/edit-ports"}}

  {{partial "form-divider"}}

  {{partial "container/edit-links"}}
</section>

{{partial "save-cancel"}}
{{partial "overlay-close"}}
