<section class="header has-tabs clearfix">
  <ul class="tab-nav">
    <li>{{#link-to "authenticated.project.apikeys.account"}}{{t 'apiPage.account.header'}}{{/link-to}}</li>
    <li>{{#link-to "authenticated.project.apikeys.environment"}}{{t 'apiPage.header'}}{{/link-to}}</li>
  </ul>

  <div class="right-buttons">
    <button class="btn btn-sm bg-primary" {{action "newApikey" "account"}}>{{t 'apiPage.account.buttonText'}}</button>
  </div>
</section>

<section>
  <p class="help-text">
    {{t 'apiPage.account.content.paragraph1'}}
    {{#if access.identity.name}}
      (<code>{{access.identity.displayName}}</code>)
    {{/if}}
    {{t 'apiPage.account.content.paragraph2'}}
  </p>

  <p>
    <b>{{t 'apiPage.currentEndpoint'}}</b>
    <code>
      <a href="{{endpointService.api.auth.account.current}}" target="_blank" rel="nofollow noreferer">{{endpointService.api.display.account.current}}</a>
      {{copy-to-clipboard clipboardText=endpointService.api.auth.account.current size="sm"}}
    </code>
  </p>
</section>

<section>
  {{#sortable-table
      tableClassNames="bordered"
      bulkActions=false
      paging=false
      search=false
      sortBy=sortBy
      headers=headers
      body=filtered
      fullRows=true
      as |sortable kind key|
  }}
    {{#if (eq kind "row")}}
      {{apikey-row model=key}}
    {{else if (eq kind "norows")}}
      <tr>
        <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'apiPage.account.table.noData'}}</td>
      </tr>
    {{/if}}
  {{/sortable-table}}
</section>
