<div class="row form-group">
  <div class="col-md-6">
    <div class="form-label">
      <label class="form-control-static">{{nameLabel}}{{if nameRequired '*'}}</label>
    </div>
    {{input type="text" value=_name classNames="form-control" placeholder=namePlaceholder disabled=nameDisabled}}
    {{#if nameHelp}}<p class="help-block">{{nameHelp}}</p>{{/if}}
  </div>

  <div class="col-md-6">
    <div class="form-label">
      <label class="form-control-static">{{descriptionLabel}}{{if descriptionRequired '*'}}</label>
    </div>
    {{textarea-autogrow value=_description classNames="form-control no-resize" rows="1" placeholder=descriptionPlaceholder disabled=descriptionDisabled}}
    {{#if descriptionHelp}}<p class="help-block">{{descriptionHelp}}</p>{{/if}}
  </div>
</div>

