<div class="row form-group">
  <div class="col-md-6">
    <div class="form-label">
      <label class="form-control-static">{{t nameLabel}}{{if nameRequired '*'}}</label>
    </div>
    {{input type="text" value=_name classNames="form-control" placeholder=(t namePlaceholder) disabled=nameDisabled}}
    {{#if nameHelp}}<p class="help-block">{{t nameHelp}}</p>{{/if}}
  </div>

  <div class="col-md-6">
    <div class="form-label">
      <label class="form-control-static">{{t descriptionLabel}}{{if descriptionRequired '*'}}</label>
    </div>
    {{textarea-autogrow value=_description classNames="form-control no-resize" rows="1" placeholder=(t descriptionPlaceholder) disabled=descriptionDisabled}}
    {{#if descriptionHelp}}<p class="help-block">{{t descriptionHelp}}</p>{{/if}}
  </div>
</div>

