<div class="row form-group">
  <div class="col span-6">
    <div class="form-label">
      <label class="form-control-static">{{t nameLabel}}{{if nameRequired '*'}}</label>
    </div>
    {{input type="text" value=_name classNames="form-control" placeholder=(t namePlaceholder) disabled=nameDisabled}}
    {{#if nameHelpText}}<p class="text-info">{{nameHelpText}}</p>{{/if}}
  </div>

  <div class="col span-6">
    {{#if descriptionShown}}
      <div class="form-label">
        <label class="form-control-static">{{t descriptionLabel}}{{if descriptionRequired '*'}}</label>
      </div>
      {{textarea-autogrow value=_description classNames="form-control no-resize" rows="1" placeholder=descriptionPlaceholder disabled=descriptionDisabled}}
      {{#if descriptionHelp}}<p class="text-info">{{t descriptionHelp}}</p>{{/if}}
    {{else}}
      {{yield}}
    {{/if}}
  </div>
</div>

