<h4>Catalog</h4>
<h5>Catalogs contain rancher-compose templates that allow users to easily deploy applications by answering a few questions</h5>

<hr>

<div class="row">
  <div class="col-md-6 r-pl0">
    <h5>{{unless settings.isPrivateLabel 'Rancher'}} Certified</h5>
    <p class="help-block">
      {{#if settings.isPrivateLabel}}
        Officially maintained and supported templates.
      {{else}}
        Certified templates maintained and supported by Rancher Labs.
      {{/if}}
    </p>
    <div class="r-mt10">
      <label class="r-mr20 hand">
        {{radio-button selection=enableLibrary value=true}} Enabled
      </label>
      <label class="hand">
        {{radio-button selection=enableLibrary value=false}} Disabled
      </label>
    </div>
  </div>
  <div class="col-md-6 r-pr0">
    <h5>Community Contributed</h5>
    <p class="help-block">
      Templates created and maintained by community members.{{#unless isPrivateLabel}}  Not certified by Rancher Labs.{{/unless}}
    </p>
    <div class="r-mt10">
      <label class="r-mr20 hand">
        {{radio-button selection=enableCommunity value=true}} Enabled
      </label>
      <label class="hand">
        {{radio-button selection=enableCommunity value=false}} Disabled
      </label>
    </div>
  </div>
</div>

<hr>

<h5>More</h5>
<p class="help-block">You can define your own custom catalog sources here.  Each one needs a unique name and a URL that <code>git clone</code> can handle (see <a href="https://git-scm.com/docs/git-clone#_git_urls_a_id_urls_a" target="_blank">docs</a> for more info).</p>
{{form-key-value
  nameLabel="Catalog"
  initialMap=keymap
  keyLabel="Name"
  valueLabel="URL"
  changed=(action (mut keymap))
}}

{{save-cancel cancelDisabled=true editing=true save="save"}}
