<h4>{{t 'catalogSettings.header'}}</h4>
<h5>{{t 'catalogSettings.subtext'}}</h5>

<hr>

<div class="row">
  <div class="col-md-6 r-pl0">
    <h5>{{t (if settings.isRancher 'catalogSettings.rancherCertified.header.rancherCertified' 'catalogSettings.rancherCertified.header.rancherCertified.plCertified') appName=settings.appName}}</h5>
    <p class="help-block">
      {{#if settings.isRancher}}
        {{t 'catalogSettings.rancherCertified.helpText.isRancher'}}
      {{else}}
        {{t 'catalogSettings.rancherCertified.helpText.community'}}
      {{/if}}
    </p>
    <div class="r-mt10">
      <label class="r-mr20 hand">
        {{radio-button selection=enableLibrary value=true}} {{t 'generic.enabled'}}
      </label>
      <label class="hand">
        {{radio-button selection=enableLibrary value=false}} {{t 'generic.disabled'}}
      </label>
    </div>
  </div>
  <div class="col-md-6 r-pr0">
    <h5>{{t 'catalogSettings.community.header'}}</h5>
    <p class="help-block">
      {{t 'catalogSettings.community.helpText.text'}}{{#if settings.isRancher}}  {{t 'catalogSettings.community.helpText.isRancher'}}{{/if}}
    </p>
    <div class="r-mt10">
      <label class="r-mr20 hand">
        {{radio-button selection=enableCommunity value=true}} {{t 'generic.enabled'}}
      </label>
      <label class="hand">
        {{radio-button selection=enableCommunity value=false}} {{t 'generic.disabled'}}
      </label>
    </div>
  </div>
</div>

<hr>

<h5>{{t 'catalogSettings.more.header'}}</h5>
<p class="help-block">{{format-html-message 'catalogSettings.more.helpText'}}</p>
{{form-key-value
  addActionLabel="catalogSettings.more.addActionLabel"
  initialMap=keymap
  keyLabel="catalogSettings.more.keyLabel"
  keyPlaceholder="catalogSettings.more.keyPlaceholder"
  valueLabel="catalogSettings.more.valueLabel"
  valuePlaceholder="catalogSettings.more.valuePlaceholder"
  changed=(action (mut keymap))
}}

{{save-cancel cancelDisabled=true editing=true save="save"}}
