<section>
  {{form-name-description
    model=config
    nameDisabled=isEdit
  }}
</section>
<form class="horizontal-form container-fluid text-left" autocomplete="off">
  <div class="row">
    <div class="col span-6 mb-0">
      <label
        class="acc-label"
        for="alidns-root-domain"
      >
        {{t "globalDnsPage.providersPage.config.root.label"}}
      </label>
      {{input
        classNames="form-control"
        id="alidns-root-domain"
        placeholder=(t "globalDnsPage.providersPage.config.root.placeholder")
        type="text"
        value=config.rootDomain
      }}
    </div>
  </div>

  <div class="row">
    <div class="col span-6 mb-0">
      <label
        class="acc-label"
        for="alidns-api-email"
      >
        {{t "globalDnsPage.providersPage.config.accessKey.label"}}{{field-required}}
      </label>
      {{input
        classNames="form-control"
        id="alidns-api-email"
        placeholder=(t "globalDnsPage.providersPage.config.accessKey.placeholder")
        type="text"
        value=config.alidnsProviderConfig.accessKey
      }}
    </div>

    <div class="col span-6 mb-0">
      <label
        class="acc-label"
        for="alidns-api-key"
      >
        {{t "globalDnsPage.providersPage.config.secretKey.label"}}
        {{#if (eq mode "edit")}}
          {{#tooltip-element
             type="tooltip-basic"
             model=(t "globalDnsPage.providersPage.config.secretKey.info")
             tooltipTemplate="tooltip-static"
             aria-describedby="tooltip-base"
             tooltipFor="tooltipSecretKey"
          }}
            <i class="icon icon-info"></i>
          {{/tooltip-element}}
        {{else}}
          {{field-required}}
        {{/if}}
      </label>
      {{input
        classNames="form-control"
        id="alidns-api-key"
        placeholder=(t "globalDnsPage.providersPage.config.secretKey.placeholder")
        type="password"
        value=config.alidnsProviderConfig.secretKey
      }}
    </div>
  </div>
</form>