<section>
  {{#if isEnabled}}
    <h3>{{t 'ldap.header.enabled.label' providerName=(t providerName)}}</h3>
    <hr/>
  {{else}}
    <div class="banner bg-warning">
      <div class="banner-icon"><span class="icon icon-alert"></span></div>
      <div class="banner-message">
        <p>{{t 'ldap.header.disabled.label' providerName=(t providerName)}}</p>
      </div>
    </div>
  {{/if}}

  <div>
    {{#if isEnabled}}
      {{t (concat-str 'ldap.header.enabled.' adConfig.accessMode character='') appName=settings.appName providerName=(t providerName) users=numUsers groups=numGroups}}
    {{else}}
      {{t 'ldap.header.disabled.warning' appName=settings.appName providerName=(t providerName)}}
    {{/if}}
  </div>
</section>

{{#if isEnabled}}
  <section class="box mt-30">
    <div class="header clear-fix mb-15 pb-0">
      <h3 class="pull-left">{{t 'ldap.accessEnabled.header'}}</h3>
      <div class="vertical-middle"></div>
      <div class="right-buttons">
        <button class="btn btn-sm right-divider-btn" disabled=true>
          {{t 'generic.edit'}}
        </button>
        <button class="btn btn-sm right-divider-btn bg-error" {{action "disable"}}>
          {{t 'ldap.accessEnabled.disable.confirmDisable.pre'}}
        </button>
      </div>
    </div>
    <hr/>
    <p class="text-info">{{t 'ldap.accessEnabled.subtext'}}</p>

    <div class="row">
      <div class="col span-4">
        <h3>{{t 'ldap.accessEnabled.general.header'}}</h3>
        <div><b>{{t 'ldap.accessEnabled.general.server'}} </b> <span class="text-muted">{{adConfig.server}}:{{adConfig.port}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.general.tls'}} </b> <span class="text-muted">{{if adConfig.tls "Yes" "No"}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.general.serviceAccount'}} </b> <span class="text-muted">{{adConfig.serviceAccountUsername}}</span></div>
        {{#unless isOpenLdap}}
          <div><b>{{t 'ldap.accessEnabled.general.defaultDomain'}} </b> <span class="text-muted">{{adConfig.defaultLoginDomain}}</span></div>
        {{/unless}}
      </div>
      <div class="col span-4">
        <h3>{{t 'ldap.accessEnabled.users.header'}}</h3>
        <div><b>{{t 'ldap.accessEnabled.general.searchBase'}} </b> <span class="text-muted">{{adConfig.userSearchBase}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.users.objectClass'}} </b> <span class="text-muted">{{adConfig.userObjectClass}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.users.login'}} </b> <span class="text-muted">{{adConfig.userLoginAttribute}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.users.name'}} </b> <span class="text-muted">{{adConfig.userNameAttribute}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.users.search'}} </b> <span class="text-muted">{{adConfig.userSearchAttribute}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.users.enabled'}} </b> <span class="text-muted">{{adConfig.userEnabledAttribute}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.users.disabledBitMask'}} </b> <span class="text-muted">{{adConfig.userDisabledBitMask}}</span></div>
      </div>
      <div class="col span-4">
        <h3>{{t 'ldap.accessEnabled.group.header'}}</h3>
        <div><b>{{t 'ldap.accessEnabled.general.searchBase'}} </b> <span class="text-muted">{{adConfig.groupDomain}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.group.objectClass'}} </b> <span class="text-muted">{{adConfig.groupObjectClass}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.group.name'}} </b> <span class="text-muted">{{adConfig.groupNameAttribute}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.group.search'}} </b> <span class="text-muted">{{adConfig.groupSearchAttribute}}</span></div>
      </div>
    </div>
  </section>

  {{site-access
      model=model.activeDirectory
      collection='siteAccess.organizations'
  }}
{{/if}}

{{#unless isEnabled}}
  <section class="box mt-30">
    <h3>{{t 'ldap.accessConfig.header' providerName=(t providerName)}}</h3>
    <hr/>
    <p class="text-info mb-0">{{t 'ldap.accessConfig.subtext1' providerName=(t providerName) htmlSafe=true}}</p>
    <div class="row">
      <div class="col span-6 mb-0">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'model.openldapconfig.server.label'}}{{field-required}}</label>
          {{input value=configServers classNames="form-control"}}
        </div>
      </div>
      <div class="col span-6 mb-0">
        <label class="acc-label pb-5">{{t 'ldap.accessConfig.port.labelText'}}</label>
        <div class="input-group">
          {{input-integer value=adConfig.port min=1 max=65535 classNames="form-control"}}
          <span class="input-group-addon bg-default">
            <label>{{t 'ldap.accessConfig.port.checkbox'}} {{input type="checkbox" checked=adConfig.tls}}</label>
          </span>
        </div>
      </div>
    </div>
    <hr class="mt-30 mb-30"/>
    <p class="text-info mb-0">{{t 'ldap.accessConfig.subtext2' appName=settings.appName}}</p>
    <div class="row">
      {{#unless isOpenLdap}}
        <div class="col span-4">
          <div class="inline-form">
            <label class="acc-label pb-5">{{t 'ldap.accessConfig.defaultDomain.labelText'}}</label>
            {{input value=adConfig.defaultLoginDomain classNames="form-control" placeholder=(t 'ldap.accessConfig.defaultDomain.placeholder')}}
            <p class="help-block">{{t 'ldap.accessConfig.defaultDomain.helpText'}}</p>
          </div>
        </div>
      {{/unless}}
      <div class="col span-4">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'model.openldapconfig.serviceAccountUsername.label'}}{{field-required}}</label>
          {{input value=adConfig.serviceAccountUsername classNames="form-control"}}
        </div>
      </div>
      <div class="col span-4">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'model.openldapconfig.serviceAccountPassword.label'}}{{field-required}}</label>
          {{input type="password" value=adConfig.serviceAccountPassword classNames="form-control"}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col span-6">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.users.searchBase.labelText'}}{{field-required}}</label>
          {{input value=adConfig.userSearchBase classNames="form-control" placeholder=(t 'ldap.accessConfig.userSearchBase.placeholder')}}
          <p class="help-block">{{t 'model.openldapconfig.domain.help'}}</p>
        </div>
      </div>
      <div class="col span-6">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'ldap.accessConfig.groupSearchBase.labelText'}}</label>
          {{input value=adConfig.groupDomain classNames="form-control" placeholder=(t 'ldap.accessConfig.groupSearchBase.placeholder')}}
          <p class="help-block">{{t 'ldap.accessConfig.groupSearchBase.helpText'}}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="box mt-30">
    <h3>{{t 'ldap.customizeSchema.header'}}</h3>
    <hr/>
    <p class="text-info">{{t 'ldap.customizeSchema.helpText'}}</p>
    <div class="row">
      <div class="col span-6">
        <h3>{{t 'ldap.customizeSchema.users.header'}}</h3>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.users.objectClass.labelText'}}</label>
          {{input value=adConfig.userObjectClass classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.users.name.labelText'}}</label>
          {{input value=adConfig.userNameAttribute classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.users.login.labelText'}}</label>
          {{input value=adConfig.userLoginAttribute classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.users.search.labelText'}}</label>
          {{input value=adConfig.userSearchAttribute classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.users.enabledAttribute.labelText'}}</label>
          {{input value=adConfig.userEnabledAttribute classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.users.disabledBitMask.labelText'}}</label>
          {{input-integer value=adConfig.userDisabledBitMask min=1 classNames="form-control"}}
        </div>
      </div>
      <div class="col span-6">
        <h3>{{t 'ldap.customizeSchema.groups.header'}}</h3>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.groups.objectClass.labelText'}}</label>
          {{input value=adConfig.groupObjectClass classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.groups.name.labelText'}}</label>
          {{input value=adConfig.groupNameAttribute classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.groups.groupMemberUser.labelText'}}</label>
          {{input value=adConfig.groupMemberUserAttribute classNames="form-control" placeholder=(t 'ldap.customizeSchema.groups.groupMemberUser.placeholder')}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.groups.search.labelText'}}</label>
          {{input value=adConfig.groupSearchAttribute classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.groups.groupMemberMapping.labelText'}}</label>
          {{input value=adConfig.groupMemberMappingAttribute classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.groups.groupDN.labelText'}}</label>
          {{input value=adConfig.groupDNAttribute classNames="form-control" placeholder=(t 'ldap.customizeSchema.groups.groupDN.placeholder')}}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col span-12 input-group mt-0">
        <div class="clearfix">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.cert.labelText'}}</label>
        </div>
        {{input-text-file
            value=adConfig.certificate
            canChangeName=false
            accept="text/plain,.pem,.pkey,.key"
            minHeight=60
            placeholder="newCertificate.key.placeholder"
            shouldChangeName=false
        }}
      </div>
    </div>
  </section>

  <section class="box mt-30">
    <h3>{{t 'ldap.testAuth.header'}}</h3>
    <hr/>
    <p class="text-info">{{t 'ldap.testAuth.helpText' providerName=(t providerName)}}</p>

    <div class="row">
      <div class="col span-5">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'ldap.testAuth.userName.labelText'}}{{field-required}}</label>
          {{input value=username classNames="form-control"}}
        </div>
      </div>
      <div class="col span-5">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'ldap.testAuth.password.labelText'}}{{field-required}}</label>
          {{input type="password" value=password classNames="form-control"}}
        </div>
      </div>
      <div class="col span-2">
        <a style="height: 38px; line-height: 28px;" disabled={{createDisabled}} class="btn bg-primary mt-25"  {{action "test"}}>
          {{#if testing}}
            <i class="icon icon-spinner icon-spin"></i> {{t 'ldap.testAuth.authenticate.post'}}
          {{else}}
            {{t 'ldap.testAuth.authenticate.pre'}}
          {{/if}}
        </a>
      </div>
    </div>
  </section>
{{/unless}}
{{!--
  --}}
