<section>
  <section class="header has-tabs clearfix p-0">
    <ul class="tab-nav">
      <li>{{#link-to "accounts"}}{{t 'nav.admin.accounts'}}{{/link-to}}</li>
      <li>{{#link-to "roles.index" (query-params type="project")}}{{t 'nav.admin.projectRoles'}}{{/link-to}}</li>
      <li>{{#link-to "roles.index" (query-params type="cluster")}}{{t 'nav.admin.clusterRoles'}}{{/link-to}}</li>
      <li>{{#link-to "policies.index"}}{{t 'nav.admin.podSecurityPolicies'}}{{/link-to}}</li>
      <li>{{#link-to "audit-logs"}}{{t 'nav.admin.audit'}}{{/link-to}}</li>
      <li>{{#link-to "settings.auth"}}{{t 'nav.admin.settings.auth'}}{{/link-to}}</li>
      <li>{{#link-to "settings.machine"}}{{t 'nav.admin.settings.machine'}}{{/link-to}}</li>
      <li>{{#link-to "settings.advanced"}}{{t 'nav.admin.settings.advanced'}}{{/link-to}}</li>
    </ul>
  </section>
  {{outlet}}
</section>
