<h4>{{t 'virtualMachineSettings.header'}}</h4>
<hr>
<h5>{{format-html-message 'virtualMachineSettings.subtext'}}</h5>

<div class="r-pt10">
  <label class="r-mr20 hand">
    {{radio-button selection=virtualMachine value=true}} {{t 'generic.enabled'}}
  </label>
  <label class="hand">
    {{radio-button selection=virtualMachine value=false}} {{t 'generic.disabled'}}
  </label>
</div>

{{save-cancel cancelDisabled=true editing=true save="save"}}
