<h1 class="header">{{t 'modalFeedback.header' appName=settings.appName}}</h1>

<p>(Imagine a form here...)</p>

<div class="footer-actions">
<button {{action "send"}} class="btn btn-primary">{{t 'modalFeedback.send'}}</button>
<button {{action "cancel"}} class="btn btn-default">{{t 'modalFeedback.later'}}</button>
<button {{action "never"}} class="btn btn-default">{{t 'modalFeedback.never'}}</button>
</div>
