<div class="r-pt10 r-pb40 r-pl40 r-pr40 welcome-copy">
  <h1 class="header">{{t 'modalFeedback.header' appName=settings.appName}}</h1>
  <p>{{t 'modalFeedback.subtitle'}}</p>

  <div id="feedback-form" class="clearfix" style="min-height: 100px;">
    <div class="text-center r-p20"><i class="icon icon-spinner icon-spin"/> {{t 'generic.loading'}}</div>
  </div>

  <div class="footer-actions r-pt20">
    <button {{action "submit"}} class="btn btn-primary" disabled={{loading}}>{{t 'modalFeedback.send'}}</button>
  </div>
</div>
