<div class="pt-10 pb-40 pl-40 pr-40 welcome-copy">
  <h1 class="header">{{t 'modalFeedback.header' appName=settings.appName}}</h1>
  <p>{{t 'modalFeedback.subtitle'}}</p>

  <div id="feedback-form" class="clearfix" style="min-height: 100px;">
    <div class="text-center p-20"><i class="icon icon-spinner icon-spin"/> {{t 'generic.loading'}}</div>
  </div>

  <div class="footer-actions pt-20">
    <button {{action "submit"}} class="btn bg-primary" disabled={{loading}}>{{t 'modalFeedback.send'}}</button>
  </div>
</div>
