<div class="row inline-form">
  <div class="col span-2 col-inline">
    <label>{{t 'formVirtualMachines.vcpus'}}</label>
  </div>
  <div class="col span-6">
    {{input-slider value=launchConfig.vcpu valueMin=1 valueMax=16}}
  </div>
  <div class="col span-2">
    {{launchConfig.vcpu}}
  </div>
</div>
<div class="row inline-form">
  <div class="col span-2 col-inline">
    <label>{{t 'formVirtualMachines.memory'}}</label>
  </div>
  <div class="col span-6">
    {{input-slider value=launchConfig.memoryMb valueMin=512 valueMax=16384 step=512}}
  </div>
  <div class="col span-2">
    {{format-mib launchConfig.memoryMb adaptive=false}}
  </div>
</div>
