{{#if header}}
  <section class="header has-tabs clearfix">
    <h1>Welcome</h1>
  </section>
{{/if}}

<div class="row">
  <div class="col span-4 offset-2 text-center option option-primary {{unless canCreate 'option-disabled'}}">
    <h2>Add Hosts</h2>
    <div class="box">
      <p>Define and manage hosts inside {{settings.appName}}.</p>
      <p>Supports on-premise, bare-metal, and cloud infrastructure.</p>

      {{#if canCreate}}
        <div class="links" style="top: auto; bottom: 47px;">
          {{#link-to "authenticated.clusters.cluster.host-templates" projects.currentCluster.id class="btn bg-primary"}}Select{{/link-to}}
        </div>
      {{/if}}
    </div>
    <div class="bubble bg-body round"><img src="{{app.baseAssets}}assets/images/environment-advanced.svg" class="mt-5" /></div>
  </div>

  {{!-- Import --}}
  <div class="col span-4 text-center option {{unless canImport 'option-disabled'}}">
    <h2>Import an external Cluster</h2>
    <div class="box">
      <p>Use an external Kubernetes v1.7+ cluster.</p>
      <p>Hosts are managed by cluster provider outside of {{settings.appName}}.</p>
      <p>Supports hosted services like Google Container Engine.</p>

      {{#if canImport}}
        <div class="links" style="top: auto; bottom: 47px;">
          {{#link-to "authenticated.clusters.cluster.import" projects.currentCluster.id class="btn bg-primary"}}Select{{/link-to}}
        </div>
      {{/if}}
    </div>
    <div class="bubble bg-body round"><img src="{{app.baseAssets}}assets/images/environment-advanced.svg" class="mt-5" /></div>
  </div>
</div>
