<label class="acc-label mt-5">{{t 'authPage.azuread.configure.endpoints.label'}}{{field-required}}</label>
<div class="row">
  <div class="col span-3">
    <div class="radio">
      <label>
        {{radio-button selection=region value='standard'}} {{t 'authPage.azuread.configure.regions.standard'}}
      </label>
    </div>
    <div class="radio">
      <label>
        {{radio-button selection=region value='china'}} {{t 'authPage.azuread.configure.regions.china'}}
      </label>
    </div>
    <div class="radio">
      <label>
        {{radio-button selection=region value='custom'}} {{t 'authPage.azuread.configure.regions.custom'}}
      </label>
    </div>
  </div>
</div>
{{#if (eq region 'custom')}}
  <div class="row">
    <div class="col span-6">
      <div class="inline-form">
        <label class="acc-label pb-5" for="endpoint">{{t 'authPage.azuread.configure.azureADEndpoint.label'}}{{field-required}}</label>
        {{input id="endpoint" type="url" value=authConfig.endpoint classNames="form-control"}}
      </div>
    </div>
    <div class="col span-6">
      <div class="inline-form">
        <label class="acc-label pb-5" for="graph-endpoint">{{t 'authPage.azuread.configure.azureADGraphEndpoint.label'}}{{field-required}}</label>
        {{input id="graph-endpoint" type="url" value=authConfig.graphEndpoint classNames="form-control"}}
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col span-6">
      <div class="inline-form">
        <label class="acc-label pb-5" for="token-endpoint" >{{t 'authPage.azuread.configure.azureADTokenEndpoint.label'}}{{field-required}}</label>
        {{input id="token-endpoint" type="url" value=authConfig.tokenEndpoint classNames="form-control"}}
      </div>
    </div>
    <div class="col span-6">
      <div class="inline-form">
        <label class="acc-label pb-5" for="auth-endpoint">{{t 'authPage.azuread.configure.azureADAuthEndpoint.label'}}{{field-required}}</label>
        {{input id="auth-endpoint" type="url" value=authConfig.authEndpoint classNames="form-control"}}
      </div>
    </div>
  </div>
{{/if}}