{{#if header}}
  <section class="header">
    <h1>{{t 'clusterWelcome.welcome'}}</h1>
    <p>{{t 'clusterWelcome.noHost'}}</p>
  </section>
{{/if}}

<div class="row">
  <div class="col span-5 offset-1 text-center option option-primary {{unless canCreate 'option-disabled'}}">
    <h2>{{t 'clusterWelcome.addHost'}}</h2>
    <div class="box">
      {{t 'clusterWelcome.embeddedDescription' appName=settings.appName htmlSafe=true}}
      {{#if canCreate}}
        <div class="links" style="top: auto; bottom: 30px;">
          {{#link-to "authenticated.host-templates" scope.currentCluster.id class="btn bg-primary"}}{{t 'clusterWelcome.select'}}{{/link-to}}
        </div>
      {{/if}}
    </div>
    <div class="bubble bg-body round p-10"><img src="{{app.baseAssets}}assets/images/environment-standard.svg" class="mt-5" /></div>
  </div>

  {{!-- Import --}}
  <div class="col span-5 text-center option {{unless canImport 'option-disabled'}}">
    <h2>{{t 'clusterWelcome.importCluster'}}</h2>
    <div class="box">
      {{t 'clusterWelcome.importClusterDescription' appName=settings.appName htmlSafe=true}}
      <div class="row">
                <div class="col span-6 text-center">
          <a class="block mb-5" target="_blank" rel="nofollow noreferrer" href="https://cloud.google.com/container-engine/">
            <img src="{{app.baseAssets}}assets/images/providers/gke.svg" width="150" height="auto" />
          </a>
        </div>
        <div class="col span-6 text-center">
          <a class="block" target="_blank" rel="nofollow noreferrer" href="https://www.ibm.com/cloud-computing/bluemix/containers">
            <img src="{{app.baseAssets}}assets/images/providers/bluemix.svg" width="150" height="auto" /><br/>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col span-6 text-center">
          <a class="block mb-5" target="_blank" rel="nofollow noreferrer" href="https://azure.microsoft.com/en-us/services/container-service/">
            <img src="{{app.baseAssets}}assets/images/providers/acs.svg" width="150" height="auto" /><br/>
          </a>
        </div>
        <div class="col span-6 text-center">
          <a class="block mb-5" target="_blank" rel="nofollow noreferrer" href="https://www.ubuntu.com/kubernetes">
            <img src="{{app.baseAssets}}assets/images/providers/ubuntu.svg" width="150" height="auto" />
          </a>
        </div>
      </div>

      {{#if canImport}}
        <div class="links" style="top: auto; bottom: 30px;">
          {{#link-to "authenticated.cluster.import" scope.currentCluster.id class="btn bg-primary"}}{{t 'clusterWelcome.select'}}{{/link-to}}
        </div>
      {{/if}}
    </div>
    <div class="bubble bg-body round p-10"><img src="{{app.baseAssets}}assets/images/environment-import.svg" class="mt-5" /></div>
  </div>
</div>
