<section class="header clearfix">
  <h1>{{t 'helpPage.header'}}</h1>
</section>

{{#if (and settings.isRancher latestAnnouncement (not modelError))}}
  <div class="alert alert-info alert-header r-ml20 r-mr20 r-mt10">
    <span class="banner-head">{{t 'helpPage.banner'}}</span>
    {{#if modelResolved}}
      <span class="banner-content">
          <span><strong>Latest: </strong><a href="{{latestAnnouncement.link}}" target="_blank">{{latestAnnouncement.title}}</a></span>
          <span><strong>{{t 'helpPage.releaseText'}} </strong>{{format-relative latestAnnouncement.created interval=C.LANGUAGE.FORMAT_RELATIVE_TIMEOUT}}</span>
      </span>
      {{else}}
        <div class="loading text-center"></div>
    {{/if}}
  </div>
{{/if}}

<section>
  <div class="flex-wrap">
    <div class="flex-item-third">
      <div class="flex-content well">
        <h3>{{t 'helpPage.environment.header'}}</h3>
        <hr/>
        {{format-html-message 'helpPage.environment.content' appName=settings.appName}}
        {{#link-to 'settings.projects' class="btn btn-primary right-divider-btn"}} {{t 'helpPage.environment.manageLink'}} {{/link-to}}
      </div>
    </div>

    <div class="flex-item-third">
      <div class="flex-content well">
        <h3>{{t 'helpPage.host.header'}}</h3>
        <hr/>
        <p>{{t 'helpPage.host.content' appName=settings.appName minVersion=settings.minDockerVersion}} <a href="{{docsLink}}/hosts/" target="_blank">{{t 'helpPage.host.contentLink'}}</a></p>
        {{#link-to "hosts.new" class="btn btn-primary"}}{{t 'helpPage.host.addHostLink'}}{{/link-to}}
      </div>
    </div>

    <div class="flex-item-third">
      <div class="flex-content well">
        <h3>{{t 'helpPage.stacks.header'}}</h3>
        <hr/>
        <p>{{t 'helpPage.stacks.content.paragraph1' appName=settings.appName}}</p>

        <p>{{t 'helpPage.stacks.content.paragraph2' appName=settings.appName}} <a href="{{docsLink}}/cattle/adding-services/" target="_blank">{{t 'helpPage.stacks.content.link'}}</a></p>

        {{#if hasHosts}}
          {{#link-to "applications-tab" class="btn btn-primary r-mb10"}} {{t 'helpPage.stacks.addServiceLink'}}{{/link-to}}
          {{#link-to "catalog-tab" class="btn btn-primary"}} {{t 'helpPage.stacks.addCatalogLink'}}{{/link-to}}
        {{else}}
          <div class="alert alert-danger">{{t 'helpPage.stacks.noHosts'}}</div>
          {{#link-to "applications-tab" class="btn btn-primary r-mb10" disabled=true}}{{t 'helpPage.stacks.manageServiceLink'}}{{/link-to}}
          {{#link-to "catalog-tab" class="btn btn-primary" disabled=true}}{{t 'helpPage.stacks.addCatalogLink'}}{{/link-to}}
        {{/if}}
      </div>
    </div>
  </div>
</section>

{{#if settings.isRancher}}
  <section class="well">
    <div class="header">
      <h3>{{t 'helpPage.issues.header.text'}}</h3>
      <div class="pull-right r-mb20">
        {{t 'helpPage.issues.header.tagline'}} <a href="{{settings.issueUrl}}" class="btn btn-primary r-ml10" target="_blank">{{t 'helpPage.issues.header.fileBug'}}</a>
      </div>
    </div>

    <hr/>

    <div class="row">
      <p class="text-center col-sm-12 col-md-8 col-md-offset-2">{{t 'helpPage.issues.content.paragraph1' appName=settings.appName}}</p>
    </div>

    <div class="row">
      <div class="col-sm- col-md-4 text-center">
        <a href="{{settings.issueUrl}}" target="_blank"><img src="{{app.baseAssets}}assets/images/help-bug.svg" width="50%" /></a>
        <p>
          {{t 'helpPage.issues.content.graphic1.text'}}
          <br/>
          <a href="{{settings.issueUrl}}" target="_blank">{{t 'helpPage.issues.content.graphic1.link'}}</a>
        </p>
      </div>

      <div class="col-sm-12 col-md-4 text-center">
        <a href="{{companyLink}}/learn/" target="_blank"><img src="{{app.baseAssets}}assets/images/help-docs.svg" width="50%" /></a>
        <p>
          {{t 'helpPage.issues.content.graphic2.text'}}
          <br/>
          {{format-html-message 'helpPage.issues.content.graphic2.link'
            appName=settings.appName
            companyLink=companyLink
            docsLink=docsLink}}
        </p>
      </div>

      <div class="col-sm- col-md-4 text-center">
        <a href="{{docsLink}}/faqs/" target="_blank"><img src="{{app.baseAssets}}assets/images/help-troubleshoot.svg" width="50%" /></a>
        <p>
          {{t 'helpPage.issues.content.graphic3.text'}}
          <br/><a href="{{docsLink}}/faqs/" target="_blank">{{t 'helpPage.issues.content.graphic3.link'}}</a>
        </p>
      </div>
    </div>

  </section>

  <section class="well">
    <div class="header">
      <h3>{{t 'helpPage.forums.header'}}</h3>
      <div class="pull-right r-mb20">
        {{t 'helpPage.forums.tagline'}} <a href="{{forumsLink}}" class="btn btn-primary r-ml10" target="_blank">{{t 'helpPage.forums.buttonText'}}</a>
      </div>
    </div>
    <hr/>
  {{#if modelResolved}}
    {{#unless modelError}}
      <div class="row">
        <div class="col-sm-12 col-md-6">
          <h5>{{t 'helpPage.forums.announcements.header'}}</h5>
          <ul class="list-unstyled">
            {{#each model.announcements.topics as |topic|}}
              <li class="clip">
                <a href="{{forumsLink}}/t/{{topic.slug}}" target="_blank">{{topic.title}}</a>
              </li>
            {{/each}}
          </ul>
          <a class="btn btn-sm btn-default r-mt10 r-mb20" href="{{forumsLink}}/c/announcements" target="blank">{{t 'helpPage.forums.announcements.buttonText'}}</a>

          <h5>{{t 'helpPage.forums.general.header'}}</h5>
          <ul class="list-unstyled">
            {{#each model.general.topics as |topic|}}
              <li class="clip">
                <a href="{{forumsLink}}/t/{{topic.slug}}" target="_blank">{{topic.title}}</a>
              </li>
            {{/each}}
          </ul>
          <a class="btn btn-sm btn-default r-mt10 r-mb20" href="{{forumsLink}}/c/general" target="blank">{{t 'helpPage.forums.general.buttonText'}}</a>

        </div>
        <div class="col-sm-12 col-md-6">
          <h5>{{t 'helpPage.forums.rancher.header'}}</h5>
          <ul class="list-unstyled">
            {{#each model.rancher.topics as |topic|}}
              <li class="clip">
                <a href="{{forumsLink}}/t/{{topic.slug}}" target="_blank">{{topic.title}}</a>
              </li>
            {{/each}}
          </ul>
          <a class="btn btn-sm btn-default r-mt10 r-mb20" href="{{forumsLink}}/c/rancher" target="blank">{{t 'helpPage.forums.rancher.buttonText'}}</a>

          <h5>{{t 'helpPage.forums.rancherOs.header'}}</h5>
          <ul class="list-unstyled">
            {{#each model.rancherOS.topics as |topic|}}
              <li class="clip">
                <a href="{{forumsLink}}/t/{{topic.slug}}" target="_blank">{{topic.title}}</a>
              </li>
            {{/each}}
          </ul>
          <a class="btn btn-sm btn-default r-mt10 r-mb20" href="{{forumsLink}}/c/rancher-os" target="blank">{{t 'helpPage.forums.rancherOs.buttonText'}}</a>
        </div>
      </div>
    {{else}}
      <div class="text-center">Looks like you're offline. Please go online to see content from the forums.</div>
    {{/unless}}
  {{else}}
    <div class="loading text-center"></div>
  {{/if}}
  </section>

  <section class="well">
    <h3>{{t 'helpPage.commercial.header'}}</h3>
    <hr/>
    <p>
      {{format-html-message 'helpPage.commercial.content'
        appName=settings.appName}}
    </p>
  </section>
{{/if}}

