{{#sortable-table
     body=model
     groupByKey="projectId"
     groupByRef="project"
     groupedSortBy="displayName"
     headers=headers
     paging=paging
     sortGroupedFirst=true
     pagingLabel="pagination.project"
     searchText=searchText
     sortBy=sortBy
     subRows=subRows
     suffix=suffix
     tableClassNames="bordered"
     as |sortable kind ns dt|
}}
  {{#if (eq kind "row")}}
    <tr class="main-row">
      <td valign="middle" class="row-check" style="padding-top: 2px;">
        {{check-box nodeId=ns.id}}
      </td>
      <td>
        {{badge-state model=ns}}
      </td>
      <td>
        {{ns.name}}
        {{#if ns.description}}
          <p class="text-small text-muted m-0">{{linkify ns.description}}</p>
        {{/if}}
      </td>
      <td>
        {{#if ns.resourceQuotaTemplateId}}
          <a href="{{href-to "authenticated.cluster.quotas.detail" scope.currentCluster.id ns.resourceQuotaTemplateId}}">{{ns.resourceQuotaTemplate.displayName}}</a>
        {{/if}}
      </td>
      <td>
        {{date-calendar ns.created}}
      </td>
      <td data-title="{{t 'generic.actions'}}:" class="actions">
        {{action-menu model=ns}}
      </td>
    </tr>
    <tr class="separator-row">
      <td colspan="{{fullColspan}}"></td>
    </tr>
  {{else if (eq kind "group")}}
    {{#if ns.ref}}
      {{project-group
          model=ns.ref
          noGroup="namespaceGroup.project"
          fullColspan=sortable.fullColspan
      }}
    {{else}}
      <tr class="group-row">
        <td colspan="{{sortable.fullColspan}}" class="pl-10">
          {{t 'projectsListNamespacePage.notIn'}}
        </td>
      </tr>
    {{/if}}
  {{else if (eq kind "nomatch")}}
    <tr>
      <td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'projectsPage.noMatch'}}</td>
    </tr>
  {{else if (eq kind "norows")}}
    <tr>
      <td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'projectsPage.noData'}}</td>
    </tr>
  {{else if (eq kind "suffix")}}
    {{#if prns.length}}
      <tbody class="group">
        {{#each prns as |project|}}
          {{project-group
              model=project
              noGroup="namespaceGroup.project"
              fullColspan=sortable.fullColspan
              noNamespace=true
          }}
        {{/each}}
      </tbody>
    {{/if}}
  {{/if}}
{{/sortable-table}}
