{{#if projects.current.isWindows}}
  <section>
    <h3>{{t 'machine.driverCustom.windows.windowsHeader'}}</h3>
    <div class="container-fluid">
      <div class="row inline-form">
        <ol>
          <li>
            {{t 'machine.driverCustom.windows.step1' htmlSafe=true}}
          </li>
          <li>
            {{t 'machine.driverCustom.windows.step2' htmlSafe=true}}
            <div class="copy-pre">
              <pre id="network-command">{{t 'machine.driverCustom.windows.step2Copy'}}</pre>
              {{copy-to-clipboard clipboardText=(t 'machine.driverCustom.windows.step2Copy')}}
            </div>
          </li>
          <li>
            {{t 'machine.driverCustom.windows.step3' appName=settings.appName}}
            <div class="copy-pre">
              <pre id="registration-command">{{registrationCommandWindows}}</pre>
              {{copy-to-clipboard clipboardText=registrationCommandWindows}}
            </div>
          </li>
          <li>
            {{t 'machine.driverCustom.step5Close.part1'}} {{#link-to "hosts"}}{{t 'machine.driverCustom.step5Close.link'}}{{/link-to}} {{t 'machine.driverCustom.step5Close.part2'}}
          </li>
        </ol>
      </div>
    </div>
  </section>
{{/if}}

<section>
  <div class="container-fluid">
    {{#if projects.current.isWindows}}
      <h3>{{t 'machine.driverCustom.windows.linuxHeader'}}</h3>
    {{/if}}
    <div class="row inline-form">
      <ol>
        <li>
          {{t 'machine.driverCustom.step1' docsBase=settings.docsBase htmlSafe=true}}
        </li>
        <li>
          {{t 'machine.driverCustom.step2'}}
          <ul>
            <li>{{t 'machine.driverCustom.step2li' htmlSafe=true}}</li>
          </ul>
        </li>
        <li>
          {{t 'machine.driverCustom.step3'}}
          <div class="mt-10">
            {{form-user-labels setLabels=(action 'setLabels') expandAll=null}}
          </div>
        </li>
        <li>
          {{t 'machine.driverCustom.step4' rancherImage=settings.rancherImage htmlSafe=true}}
          <div class="checkbox mt-10">
            {{input type="text" value=cattleAgentIp classNames="form-control" placeholder=(t 'machine.driverCustom.agentIp.placeholder')}}
          </div>
        </li>
        <li>
          {{t 'machine.driverCustom.step5Copy'}} {{settings.appName}}:
          {{#if registrationCommand}}
            <div class="copy-pre">
              <pre id="registration-command">{{registrationCommand}}</pre>
              {{copy-to-clipboard clipboardText=registrationCommand}}
            </div>
          {{else}}
            <div><i class="icon icon-spinner icon-spin"></i> {{t 'machine.driverCustom.generating'}}</div>
          {{/if}}
        </li>
        <li>
          {{t 'machine.driverCustom.step5Close.part1'}} {{#link-to "hosts"}}{{t 'machine.driverCustom.step5Close.link'}}{{/link-to}} {{t 'machine.driverCustom.step5Close.part2'}}
        </li>
      </ol>
    </div>
  </div>
</section>

<section>
  <div class="footer-actions">
    <button {{action "cancel"}} class="btn bg-primary">{{t 'machine.driverCustom.close'}}</button>
  </div>
</section>
