{{#if projects.current.isWindows}}
  <section class="box mb-30">
    <h3>{{t 'machine.driverCustom.windows.windowsHeader'}}</h3>
    <div class="container-fluid">
      <div class="row inline-form">
        <ol>
          <li>
            {{t 'machine.driverCustom.windows.step1' htmlSafe=true}}
          </li>
          <li>
            {{t 'machine.driverCustom.windows.step2' htmlSafe=true}}
            <div class="copy-pre">
              <pre id="network-command">{{t 'machine.driverCustom.windows.step2Copy'}}</pre>
              {{copy-to-clipboard clipboardText=(t 'machine.driverCustom.windows.step2Copy')}}
            </div>
          </li>
          <li>
            {{t 'machine.driverCustom.windows.step3' appName=settings.appName}}
            <div class="copy-pre">
              <pre id="registration-command">{{registrationCommandWindows}}</pre>
              {{copy-to-clipboard clipboardText=registrationCommandWindows}}
            </div>
          </li>
          <li>
            {{t 'machine.driverCustom.step5Close.part1'}} {{#link-to "hosts"}}{{t 'machine.driverCustom.step5Close.link'}}{{/link-to}} {{t 'machine.driverCustom.step5Close.part2'}}
          </li>
        </ol>
      </div>
    </div>
  </section>
{{/if}}

<section class="box">
  {{#if projects.current.isWindows}}
    <h4>{{t 'machine.driverCustom.windows.linuxHeader'}}</h4>
  {{/if}}

  {{t 'machine.driverCustom.instructions'
    appName=settings.appName
    docsBase=settings.docsBase
    htmlSafe=true
  }}

  {{#if registrationCommand}}
    <div class="copy-pre m-20">
      <pre id="registration-command" style="font-size: 14px;">{{registrationCommand}}</pre>
      {{copy-to-clipboard clipboardText=registrationCommand}}
    </div>
  {{else}}
    <div><i class="icon icon-spinner icon-spin"></i> {{t 'machine.driverCustom.generating'}}</div>
  {{/if}}

  <hr/>

  <ul class="mt-20">
    <li class="pt-10">
      {{t 'machine.driverCustom.detail.ip'}}
      <ul>
        <li>{{t 'machine.driverCustom.detail.manual' rancherImage=settings.rancherImage htmlSafe=true}}</li>
      </ul>
    </li>
    <li class="pt-10">{{t 'machine.driverCustom.detail.firewall'}}</li>
    <li class="pt-10">
      {{t 'machine.driverCustom.detail.networking'}}
      <ul>
        <li>{{t 'machine.driverCustom.detail.ipsec' htmlSafe=true}}</li>
        <li>{{t 'machine.driverCustom.detail.vxlan' htmlSafe=true}}</li>
      </ul>
    </li>
  </ul>
</section>

<div class="box mt-30">
  <h4>{{t 'machine.driverCustom.advanced'}}</h4>

    <label class="acc-label">{{t 'generic.ipAddress'}}</label>
    {{input type="text" value=cattleAgentIp classNames="form-control" placeholder=(t 'machine.driverCustom.agentIp.placeholder')}}
    <p class="help-block mb-30">{{t 'machine.driverCustom.agentIp.label'}}</p>

  {{form-user-labels setLabels=(action 'setLabels') expandAll=null}}
</div>

{{#if newHosts}}
  <div class="banner bg-success">
    <div class="banner-icon"><span class="icon icon-success"></span></div>
    <div class="banner-message">
      <p>{{t 'machine.driverCustom.detected' count=newHosts}}</p>
    </div>
  </div>
{{/if}}

<section>
  <div class="footer-actions">
    <button {{action "cancel"}} class="btn bg-primary">{{t 'generic.closeModal'}}</button>
  </div>
</section>
