{{stack-header model=model.stack all=model.all.stacks}}

<section>
  {{#accordion-list as |al expandFn| }}
    {{#accordion-list-item
         title=(t 'stackPage.containers.header')
         detail=(t 'stackPage.containers.detail')
         status=(t 'stackPage.containers.status' count=instances.length)
         statusClass=(if instances.length 'bg-success' 'text-muted')
         expandAll=al.expandAll
         expand=(action expandFn)
         componentName='container-table'
         as | parent |
    }}
      {{component parent.intent
          body=instances
          search=true
          sortBy=sortBy
          stickyHeader=false
          bulkActions=true
          showHost=false
      }}
    {{/accordion-list-item}}

    {{#accordion-list-item
         title=(t 'stackPage.scalingGroups.header')
         detail=(t 'stackPage.scalingGroups.detail')
         status=(t 'stackPage.scalingGroups.status' count=scalingGroups.length)
         statusClass=(if scalingGroups.length 'bg-success' 'text-muted')
         expandAll=al.expandAll
         expand=(action expandFn)
         componentName='sortable-table'
         as | parent |
    }}
      {{#component parent.intent
           classNames="grid sortable-table"
           body=scalingGroups
           sortBy=sortBy
           stickyHeader=false
           bulkActions=true
           fullRows=true
           pagingLabel="pagination.container"
           headers=sgHeaders as |sortable kind serv dt|}}
        {{#if (eq kind "row")}}
          {{service-row
              model=serv
              canExpand=false
              showInstanceCount=false
              dt=dt
          }}
        {{else if (eq kind "nomatch")}}
          <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'containersPage.table.noMatch'}}</td></tr>
        {{/if}}
      {{/component}}
    {{/accordion-list-item}}

    {{#accordion-list-item
         title=(t 'stackPage.loadBalancers.header')
         detail=(t 'stackPage.loadBalancers.detail')
         status=(t 'stackPage.loadBalancers.status' count=loadBalancers.length)
         statusClass=(if loadBalancers.length 'bg-success' 'text-muted')
         expandAll=al.expandAll
         expand=(action expandFn)
         componentName='sortable-table'
         as | parent |
    }}
      {{#component parent.intent
           classNames="grid sortable-table"
           body=loadBalancers
           sortBy=sortBy
           stickyHeader=false
           bulkActions=true
           fullRows=true
           pagingLabel="pagination.container"
           headers=sgHeaders as |sortable kind serv dt|}}
        {{#if (eq kind "row")}}
          {{service-row
              model=serv
              canExpand=false
              showInstanceCount=false
              dt=dt
          }}
        {{else if (eq kind "nomatch")}}
          <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'containersPage.table.noMatch'}}</td></tr>
        {{/if}}
      {{/component}}
    {{/accordion-list-item}}

    {{#accordion-list-item
         title=(t 'stackPage.dnsServices.header')
         detail=(t 'stackPage.dnsServices.detail')
         status=(t 'stackPage.dnsServices.status' count=dnsServices.length)
         statusClass=(if dnsServices.length 'bg-success' 'text-muted')
         expandAll=al.expandAll
         expand=(action expandFn)
         componentName='sortable-table'
         as | parent |
    }}
      {{#component parent.intent
           classNames="grid sortable-table"
           body=dnsServices
           sortBy=sortBy
           stickyHeader=false
           bulkActions=true
           fullRows=true
           pagingLabel="pagination.container"
           headers=sgHeaders as |sortable kind serv dt|}}
        {{#if (eq kind "row")}}
          {{service-row
              model=serv
              canExpand=false
              showInstanceCount=false
              dt=dt
          }}
        {{else if (eq kind "nomatch")}}
          <tr><td colspan="{{sortable.fullColspan}}"  class="text-center text-muted pt-20 pb-20">{{t 'containersPage.table.noMatch'}}</td></tr>
        {{/if}}
      {{/component}}
    {{/accordion-list-item}}
  {{/accordion-list}}
</section>
