{{#if applyClusterTemplate}}
  {{#if (has-override questions=questions paramName=paramName)}}
    {{yield}}
  {{else}}
    <div>
      {{get clusterTemplateRevision paramName}}
    </div>
  {{/if}}
{{else}}
  {{yield}}
{{/if}}