{{#if applyClusterTemplate}}
  {{#if (has-override questions=questions paramName=paramName)}}
    {{yield}}
  {{else}}
    <div>
      {{#if value}}
        {{value}}
      {{else}}
        {{get clusterTemplateRevision paramName}}
      {{/if}}
    </div>
  {{/if}}
{{else}}
  {{yield}}
{{/if}}