{{#if applyClusterTemplate}}
  {{#if (has-override questions=questions paramName=paramName)}}
    {{yield (hash
      hasOverride=true
      )}}
  {{else}}
    <div>
      {{#if (or value (eq value false))}}
        {{value}}
      {{else}}
        {{get clusterTemplateRevision paramName}}
      {{/if}}
    </div>
  {{/if}}
{{else}}
  {{#if (and (eq mode "view") (or (get clusterTemplateRevision paramName) (eq (get clusterTemplateRevision paramName) false))) }}
    {{get clusterTemplateRevision paramName}}
  {{else}}
    {{yield}}
  {{/if}}
{{/if}}