{{#if logs}}
  {{#sortable-table
    tableClassNames="grid sortable-table bordered"
    body=logs
    bulkActions=false
    search=true
    fullRows=true
    sortBy=sortBy
    pagingLabel="pagination.event"
    headers=headers as |sortable kind row dt|}}
    {{#if (eq kind "row")}}
      <tr>
        <td data-title="{{dt.time}}">
          {{date-str row.created format="hh:mm:ss A"}}
        </td>
        <td data-title="{{dt.level}}">
          <span class="tag tag-xs {{row.stateBackground}}">{{upper-case row.level}}</span>
        </td>
        <td data-title="{{dt.detail}}">
          {{row.description}}
        </td>
        <td data-title="{{dt.actions}}" class="actions">
          {{action-menu model=row}}
        </td>
      </tr>
    {{else if (eq kind "nomatch")}}
      <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted p-20">{{t 'serviceLog.noMatch'}}</td></tr>
    {{else if (eq kind "norows")}}
      <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted p-20">{{t 'serviceLog.noData'}}</td></tr>
    {{/if}}
  {{/sortable-table}}
{{else}}
  <div class="text-center">
    <i class="icon icon-spinner icon-spin"/> {{t 'generic.loading'}}
  </div>
{{/if}}
