<section class="header clearfix">
  <div class="right-buttons">
    <button class="btn bg-default mr-10" disabled={{rbac-prevents resource="persistentvolume" scope="cluster"
      permission="create" }} type="button" {{action "importYaml" }}>
      {{t "nav.containers.importCompose"}}
    </button>
    {{#link-to "authenticated.cluster.storage.persistent-volumes.new" class="btn bg-primary" disabled=(rbac-prevents resource="persistentvolume" scope="cluster" permission="create")}}
      {{t 'persistentVolumePage.addActionLabel'}}
    {{/link-to}}
  </div>

  <h1>{{t 'persistentVolumePage.header'}}</h1>
</section>

{{persistent-volume-table rows=model.persistentVolumes}}
