<section>
  <h3>
    <span class="right-divider">Stacks</span>
    {{#link-to "environments.new" classNames="btn btn-sm btn-primary right-divider-btn"}}Add Stack{{/link-to}}

    <div class="pull-right">
      <label class="text-muted" style="font-size: 12px;">Sort By</label>
      <div class="btn-group btn-sm" role="group" aria-label="Sort By">
        <button {{action 'setSort' 'state'}} type="button" class="btn btn-sm btn-default {{if (eq sortBy "state") 'active'}}">State</button>
        <button {{action 'setSort' 'name'}}  type="button" class="btn btn-sm btn-default {{if (eq sortBy "name") 'active'}}">Name</button>
      </div>
    </div>
  </h3>
</section>

<section>
  {{#if showTabs}}
    <ul class="nav nav-tabs nav-tabs-well">
      {{#link-to (query-params which="all") tagName="li" href=false}}<a>All</a>{{/link-to}}
      {{#link-to (query-params which="user") tagName="li" href=false}}<a>User</a>{{/link-to}}
      {{#link-to (query-params which="system") tagName="li" href=false}}<a>System</a>{{/link-to}}
      {{#link-to (query-params which="kubernetes") tagName="li" href=false}}<a>Kubernetes</a>{{/link-to}}
    </ul>
  {{/if}}
  <div class="well {{if showTabs 'nav-well'}} r-pl0 r-pr0">
    {{#each arranged as |stack|}}
      {{stack-section model=stack}}
    {{else}}
      <div class="r-m20 text-center text-muted">No Stacks</div>
    {{/each}}
  </div>
</section>
