<section class="header">
  <h1 class="{{unless (eq which 'kubernetes') 'right-divider'}}">
    {{if (eq which "kubernetes") "Kubernetes" "Stacks"}}
  </h1>

  {{#unless (or (eq which "kubernetes") single)}}
    {{#link-to "environments.new" classNames="btn btn-sm btn-primary"}}Add Stack{{/link-to}}
  {{/unless}}

  <div class="pull-right">
    <label class="text-muted r-pr5" style="font-size: 13px;">Sort By: </label>
    <div class="btn-group r-pr0" role="group" aria-label="Sort By">
      <button {{action 'sortResults' 'state'}} type="button" class="btn btn-sm btn-default {{if (eq sortBy "state") 'active'}}">State</button>
      <button {{action 'sortResults' 'name'}}  type="button" class="btn btn-sm btn-default {{if (eq sortBy "name") 'active'}}">Name</button>
    </div>
  </div>
</section>

<section>
  <div class="well r-pl0 r-pr0">
    {{#each arranged as |stack|}}
      {{stack-section model=stack showAddtlInfo='showAddtlInfo'}}
    {{else}}
      <div class="r-m20 text-center text-muted">No Stacks</div>
    {{/each}}
  </div>
</section>

{{service-addtl-info service=selectedService dismiss='dismiss' show=showAddtlInfo}}
