<section class="header">
  <ol class="breadcrumb right-divider">
    <li class="active">Applications</li>
    <li class="active">Stacks</li>
  </ol>

  {{#link-to "environments.new" classNames="btn btn-sm btn-primary"}}Add Stack{{/link-to}}

  <div class="pull-right">
    <label class="text-muted r-pr5" style="font-size: 13px;">Sort By: </label>
    <div class="btn-group r-pr0" role="group" aria-label="Sort By">
      <button {{action 'setSort' 'state'}} type="button" class="btn btn-sm btn-default {{if (eq sortBy "state") 'active'}}">State</button>
      <button {{action 'setSort' 'name'}}  type="button" class="btn btn-sm btn-default {{if (eq sortBy "name") 'active'}}">Name</button>
    </div>
  </div>
</section>

<section>
  {{#if showTabs}}
    <ul class="nav nav-tabs nav-tabs-well">
      {{#link-to (query-params which="all") tagName="li" href=false}}<a>All</a>{{/link-to}}
      {{#link-to (query-params which="user") tagName="li" href=false}}<a>User</a>{{/link-to}}
      {{#link-to (query-params which="system") tagName="li" href=false}}<a>System</a>{{/link-to}}
      {{#link-to (query-params which="kubernetes") tagName="li" href=false}}<a>Kubernetes</a>{{/link-to}}
    </ul>
  {{/if}}
  <div class="well {{if showTabs 'nav-well'}} r-pl0 r-pr0">
    {{#each arranged as |stack|}}
      {{stack-section model=stack showAddtlInfo='showAddtlInfo'}}
    {{else}}
      <div class="r-m20 text-center text-muted">No Stacks</div>
    {{/each}}
  </div>
</section>
{{#liquid-if showAddtlInfo containerless=true}}
  {{#service-addtl-info service=selectedService dismiss='dismiss'}}
  {{/service-addtl-info}}
{{/liquid-if}}

