<section class="header">
  <h1>
    {{t pageHeader}}
  </h1>

  {{#link-to "environments.new" (query-params system=addSystem) classNames="btn btn-sm btn-primary"}}{{t 'stacksPage.actionButton'}}{{/link-to}}

  <div class="pull-right">
    <label class="text-muted r-pr5" style="font-size: 13px;">{{t 'stacksPage.sort.label'}}: </label>
    <div class="btn-group r-pr0" role="group" aria-label="{{t 'stacksPage.sort.label'}}">
      <button {{action 'sortResults' 'state'}} type="button" class="btn btn-sm btn-default {{if (eq sortBy "state") 'active'}}">{{t 'stacksPage.sort.state'}}</button>
      <button {{action 'sortResults' 'name'}}  type="button" class="btn btn-sm btn-default {{if (eq sortBy "name") 'active'}}">{{t 'stacksPage.sort.name'}}</button>
    </div>
  </div>
</section>

<section class="stacks-wrap">
  <div>
    {{#each arranged as |stack|}}
      {{stack-section model=stack showAddtlInfo='showAddtlInfo'}}
    {{else}}
      {{#if addSystem}}
        <div class="r-m20 text-center text-muted">{{t 'stacksPage.noSystemStacks'}}</div>
      {{else}}
        {{hero-add-service}}
      {{/if}}
    {{/each}}
  </div>
</section>

{{service-addtl-info service=selectedService dismiss='dismiss' show=showAddtlInfo}}
