{{#if model}}
  <a href="{{href-to 'stack' model.id}}">{{t 'stackRow.label' name=model.displayName}}</a>
  {{#each model.tags as |tag|}}
    <span class="tag-xs bg-info"><i class="icon icon-tag"></i> {{tag}}</span>
  {{/each}}
{{else}}
  {{t 'stackRow.standalone'}}
{{/if}}
