<section class="horizontal-form container-fluid">
  <h2>{{t 'editExternalService.title'}}</h2>
  {{top-errors errors=errors}}

  {{form-name-description
    model=service
    namePlaceholder="editExternalService.name.placeholder"
    descriptionPlaceholder="editExternalService.description.placeholder"
  }}

  {{form-target-ip
    service=service
  }}
</section>

{{save-cancel editing=editing save="save" cancel="cancel"}}
