<div class="container-fluid">
  <div class="row form-group">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      <ul class="list-circles list-circles-clear">
        <li>
          <i>1</i>
          Start up a Linux machine somewhere and install the latest version of <a href="http://www.docker.com/" target="_blank">Docker</a> on it.
        </li>
        <li>
          <i>2</i>
          Make sure any security groups or firewalls allow traffic:
          <ul>
            <li>From and To all other hosts on <code>UDP</code> ports <code>500</code> and <code>4500</code> <span class="text-muted">(for IPsec networking)</span></li>
          </ul>
        </li>
        <li>
          <i>3</i>
          Optional: Add labels to be applied to the host.
          <div>
            {{form-user-labels setLabels=(action 'setLabels')}}
          </div>
        </li>
        <li>
          <i>4</i>
          Optional: Specify the public IP that should be used for this host.  This is required if you're trying to add the host the <code>rancher/server</code> container is on.
          <div class="checkbox r-mt10">
            {{input type="text" value=cattleAgentIp classNames="form-control" placeholder="e.g. 127.0.0.1"}}
          </div>
        </li>
        <li>
          <i>5</i>
          Copy, paste, and run the command below to register the host with {{settings.appName}}:
          {{#if registrationCommand}}
            <div class="copy-pre">
              <pre id="registration-command">{{registrationCommand}}</pre>
              {{copy-to-clipboard clipboardText=registrationCommand}}
            </div>
          {{else}}
            <div><i class="icon icon-spinner icon-spin"></i> Generating registration URL...</div>
          {{/if}}
        </li>
        <li>
          <i>5</i>
          Click close below.  The new host should pop up on the {{#link-to "hosts"}}Hosts{{/link-to}} screen within a minute.
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="footer-actions">
  <button {{action "cancel"}} class="btn btn-primary">Close</button>
</div>
