<section class="header clearfix">
  <h1>{{t 'projectList.indexTemplate.header'}}</h1>
  {{#link-to "settings.projects.new-template" class="btn btn-sm bg-primary pull-right"}}{{t 'projectList.indexTemplate.new'}}{{/link-to}}
</section>
<section>
  <div class="box mb-20">
    {{t 'projectList.indexTemplate.subtext' appName=settings.appName htmlSafe=true}}
  </div>
</section>

<section>
  {{#sortable-table
      classNames="grid fixed mb-0 sortable-table"
      bulkActions=false
      paging=true
      search=true
      sortBy=sortBy
      descending=descending
      headers=headers
      body=model
      fullRows=true
      as |sortable kind row|
  }}
    {{#if (eq kind "row")}}
      {{project-template-row model=row}}
    {{else if (eq kind "norows")}}
      <tr>
        <td colspan="{{sortable.fullColspan}}" class="text-center text-muted">{{t 'projectList.indexTemplate.table.body.noData'}}</td>
      </tr>
    {{/if}}
  {{/sortable-table}}
</section>
