<section class="header clearfix">
  <h1>{{t 'projectList.indexTemplate.header'}}</h1>
  {{#link-to "settings.projects.new-template" class="btn btn-sm bg-primary"}}{{t 'projectList.indexTemplate.new'}}{{/link-to}}
</section>
<section>
  <div>
    {{format-html-message 'projectList.indexTemplate.subtext' appName=settings.appName}}
  </div>
</section>

<section>
  {{#sortable-table
      classNames="grid fixed mb-0 sortable-table"
      bulkActions=false
      paging=false
      search=false
      sortBy=sortBy
      descending=descending
      headers=headers
      body=model
      as |sortable kind row|
  }}
    {{#if (eq kind "row")}}
      {{project-template-row model=row}}
    {{else if (eq kind "norows")}}
      <tr>
        <td colspan="{{headers.length}}" class="text-center text-muted">{{t 'projectList.indexTemplate.table.body.noData'}}</td>
      </tr>
    {{/if}}
  {{/sortable-table}}
</section>
