{{#if projectController.showClusterWelcome}}
  {{cluster-welcome}}
{{else}}
  <section class="header clearfix">
    <div class="pull-left"><h1>{{t 'nodesPage.header'}}</h1></div>
  </section>

  {{#if rows.length}}
    {{#sortable-table
      classNames="grid sortable-table"
      body=rows
      searchText=searchText
      sortBy=sortBy
      bulkActions=true
      subRows=true
      pagingLabel="pagination.node"
      extraSearchFields=extraSearchFields
      headers=headers as |sortable kind node dt|}}
      {{#if (eq kind "row")}}
        {{node-row
          view="cluster"
          model=node
          fullColspan=sortable.fullColspan
          dt=dt
        }}
      {{else if (eq kind "nomatch")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'nodesPage.table.noMatch'}}</td></tr>
      {{else if (eq kind "norows")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'nodesPage.table.noData'}}</td></tr>
      {{/if}}
    {{/sortable-table}}
  {{else}}
    You don't have any nodes yet
  {{/if}}
{{/if}}
