<section class="header r-pt20 clearfix">
  <h1>{{#link-to "applications-tab"}}{{t 'swarmPage.projects.project.linkTo'}}{{/link-to}}</h1>
  {{#power-select options=model.projects selected=model.project onchange=(action "changeProject") searchField="displayName" as |obj|}}
    {{select-dot model=obj}}
  {{/power-select}}

  <div class="pull-right">
    {{action-menu model=model.project classNames="r-ml5 pull-right" size="sm"}}
    {{header-state model=model.project classNames="pull-right"}}
  </div>
</section>

<section class="well instances">
  <table class="grid fixed r-mb0">
    <thead>
      <tr>
        {{sortable-th sortable=this action="changeSort" name="state" width="125" label="generic.state"}}
        {{sortable-th sortable=this action="changeSort" name="name" label="generic.name"}}
        <th>{{t 'swarmPage.projects.project.table.header.ports'}}</th>
        {{sortable-th sortable=this action="changeSort" name="containers" width="100" label='swarmPage.projects.project.table.header.containers'}}
        <th class="actions" width="85">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each arranged as |service|}}
        {{swarm/service-row model=service}}
      {{else}}
        <tr><td colspan="7" class="text-center text-muted">{{t 'swarmPage.projects.project.table.body.noData'}}</td></tr>
      {{/each}}
    </tbody>
  </table>
</section>
