<section class="horizontal-form container-fluid modal-cluster-template-diff">
  <h2>{{t "clusterTemplatesPage.compare.header" }}</h2>

  <div class="mt-10 template-diff-key">
    <div>{{t "clusterTemplatesPage.compare.key" }}</div>
    <div class="jsondiffpatch-textdiff-deleted template-diff-item">
      {{ leftName }}
    </div>
    <div class="jsondiffpatch-textdiff-added template-diff-item">
      {{ rightName }}
    </div>
  </div>

  <div class="mt-10 modal-scroll-panel">
    <pre class="bg-setting" style="margin: 0; padding: 0">
      {{diff}}
    </pre>
  </div>

  <div class="footer-actions">
    <button class="mt-10 btn bg-primary" type="button" {{action "cancel"}}>{{t 'clusterTemplatesPage.compare.closeModal'}}</button>
  </div>
</section>
