<h2>{{t 'userSettingsPage.theme'}}</h2>
<div class="container-theme-toggle row">
  <div class="col span-4 bg-default {{if (eq theme 'ui-light') 'active' ''}}" {{action 'changeTheme' 'ui-light'}}>
    <i class="icon icon-sun icon-4x"></i>
    <div>
      {{t 'nav.user.themeLight'}}
    </div>
  </div>
  <div class="col span-4 bg-default {{if (eq theme 'ui-auto') 'active' ''}}"  {{action 'changeTheme' 'ui-auto'}} >
    <i class="icon icon-auto icon-4x"></i>
    <div>
      {{t 'nav.user.themeAuto'}}
    </div>
  </div>
  <div class="col span-4 bg-default {{if (eq theme 'ui-dark') 'active' ''}}" {{action 'changeTheme' 'ui-dark'}} >
    <i class="icon icon-moon icon-4x"></i>
    <div>
      {{t 'nav.user.themeDark'}}
    </div>
  </div>
</div>
<p class="text-info">{{t 'userSettingsPage.themeAuto'}}</p>