<section class="horizontal-form">
  <form name="login">
    <div class="container-fluid">
      <div class="over-hr r-mt20 r-mb20">
        <span>Account Access</span>
      </div>

      <div class="row {{if isStep1 'form-group'}}">
        <div class="col-md-2 form-label">
          <label class="form-control-static">Reseller ID</label>
        </div>
        <div class="col-md-10">
          {{#if isStep1}}
            {{input type="text" name="clientId" classNames="form-control" placeholder="Your Ubiquity Hosting API Reseller ID" value=ubiquityConfig.clientId}}
          {{else}}
            <div class="form-control-static">{{ubiquityConfig.clientId}}</div>
          {{/if}}
        </div>
      </div>
      <div class="row {{if isStep1 'form-group'}}">
        <div class="col-md-2 form-label">
          <label class="form-control-static">Remote ID</label>
        </div>
        <div class="col-md-10">
          {{#if isStep1}}
            {{input type="text" name="apiUsername" classNames="form-control" placeholder="Your Ubiquity Hosting Remote ID" value=ubiquityConfig.apiUsername}}
          {{else}}
            <div class="form-control-static">{{ubiquityConfig.apiUsername}}</div>
          {{/if}}
        </div>
      </div>
      <div class="row {{if isStep1 'form-group'}}">
        <div class="col-md-2 form-label">
          <label class="form-control-static">Access Key</label>
        </div>
        <div class="col-md-10">
          {{#if isStep1}}
            {{input type="password" name="apiToken" classNames="form-control" placeholder="Your Ubiquity Hosting Access Key" value=ubiquityConfig.apiToken}}
          {{else}}
            <div class="form-control-static text-muted text-italic">Provided</div>
          {{/if}}
          {{#if isStep1}}
            <p class="help-block">You can find your Ubiquity Hosting API credentials <a href="https://motion.ubiquityhosting.com/api">here</a>. Don't have an account? Learn more about <a href="http://www.ubiquityhosting.com/">Ubiquity Hosting</a> today!</p>
          {{/if}}
        </div>
      </div>
    </div>
    {{#if isStep1}}
      {{top-errors errors=errors}}
      <div class="footer-actions">
        <button {{action "ubiLogin"}} name="submit" class="btn btn-primary">Next: Authenticate &amp; Create a New Cloud Instance</button>
        <button {{action "cancel"}} class="btn btn-link">Cancel</button>
      </div>
    {{/if}}
  </form>
</section>

<section class="horizontal-form {{unless isStep2 'hide'}}" style="padding-top: 0">
  <div class="text-center">
    <i class="icon icon-spinner icon-spin"></i> Loading cloud instance creation details...
  </div>
</section>

<section class="horizontal-form {{unless isGteStep3 'hide'}}" style="padding-top: 0;">
  <div class="container-fluid">
       <div class="over-hr r-mt20 r-mb20">
      <span>Instance</span>
    </div>

    {{partial "host/add-common"}}

    <div class="over-hr r-mt20 r-mb20">
      <span>Region</span>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">Region</label>
      </div>
      <div class="col-md-10">
        <select class="form-control" onchange={{action "setZone" target.value}}>
          {{#each allZones as |choice|}}
            <option value={{choice.id}} selected={{eq ubiquityConfig.zoneId choice.id}}>{{choice.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">Image</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" onchange={{action (mut ubiquityConfig.imageId) value="target.value"}}>
          {{#each allImages as |choice|}}
            <option value={{choice.id}} selected={{eq ubiquityConfig.imageId choice.id}}>{{choice.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-md-2 form-label">
        <label class="form-control-static">Flavor</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" onchange={{action (mut ubiquityConfig.flavorId) value="target.value"}}>
          {{#each allFlavors as |choice|}}
            <option value={{choice.id}} selected={{eq ubiquityConfig.flavorId choice.id}}>{{choice.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    {{partial "host/add-options"}}
  </div>

  {{top-errors errors=errors}}
  {{partial "save-cancel"}}
</section>
