<section class="horizontal-form">
  <form name="login">
    <div class="container-fluid">
      <div class="over-hr r-mb20">
        <span>{{t 'machine.driverUbiquity.accountSection'}}</span>
      </div>

      <div class="row {{if isStep1 'form-group'}}">
        <div class="col-md-2 form-label">
          <label class="form-control-static">{{t 'machine.driverUbiquity.clientId.label'}}</label>
        </div>
        <div class="col-md-10">
          {{#if isStep1}}
            {{input type="text" name="clientId" classNames="form-control" placeholder=(t 'machine.driverUbiquity.clientId.placeholder') value=ubiquityConfig.clientId}}
          {{else}}
            <div class="form-control-static">{{ubiquityConfig.clientId}}</div>
          {{/if}}
        </div>
      </div>
      <div class="row {{if isStep1 'form-group'}}">
        <div class="col-md-2 form-label">
          <label class="form-control-static">{{t 'machine.driverUbiquity.apiUsername.label'}}</label>
        </div>
        <div class="col-md-10">
          {{#if isStep1}}
            {{input type="text" name="apiUsername" classNames="form-control" placeholder=(t 'machine.driverUbiquity.apiUsername.placeholder') value=ubiquityConfig.apiUsername}}
          {{else}}
            <div class="form-control-static">{{ubiquityConfig.apiUsername}}</div>
          {{/if}}
        </div>
      </div>
      <div class="row {{if isStep1 'form-group'}}">
        <div class="col-md-2 form-label">
          <label class="form-control-static">{{t 'machine.driverUbiquity.apiToken.label'}}</label>
        </div>
        <div class="col-md-10">
          {{#if isStep1}}
            {{input type="password" name="apiToken" classNames="form-control" placeholder=(t 'machine.driverUbiquity.apiToken.placeholder') value=ubiquityConfig.apiToken}}
          {{else}}
            <div class="form-control-static text-muted text-italic">{{t 'machine.driverUbiquity.apiToken.provided'}}</div>
          {{/if}}
          {{#if isStep1}}
            <p class="help-block">{{format-html-message 'machine.driverUbiquity.accountHelp'}}</p>
          {{/if}}
        </div>
      </div>
    </div>
    {{#if isStep1}}
      {{top-errors errors=errors}}
      <div class="footer-actions">
        <button {{action "ubiLogin"}} name="submit" class="btn btn-primary">{{t 'machine.driverUbiquity.loginAction'}}</button>
        <button {{action "cancel"}} class="btn btn-link">{{t 'generic.cancel'}}</button>
      </div>
    {{/if}}
  </form>
</section>

<section class="horizontal-form r-pt0 {{unless isStep2 'hide'}}">
  <div class="text-center">
    <i class="icon icon-spinner icon-spin"></i> {{t 'machine.driverUbiquity.loadingInstance'}}
  </div>
</section>

<section class="horizontal-form r-pt0 {{unless isGteStep3 'hide'}}">
  <div class="container-fluid">
       <div class="over-hr r-mt20 r-mb20">
      <span>{{t 'machine.driverUbiquity.instanceSection'}}</span>
    </div>

    {{partial "host/add-common"}}

    <div class="over-hr r-mt20 r-mb20">
      <span>{{t 'machine.driverUbiquity.regionSection'}}</span>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverUbiquity.region.label'}}</label>
      </div>
      <div class="col-md-10">
        <select class="form-control" onchange={{action "setZone" target.value}}>
          {{#each allZones as |choice|}}
            <option value={{choice.id}} selected={{eq ubiquityConfig.zoneId choice.id}}>{{choice.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverUbiquity.image.label'}}</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" onchange={{action (mut ubiquityConfig.imageId) value="target.value"}}>
          {{#each allImages as |choice|}}
            <option value={{choice.id}} selected={{eq ubiquityConfig.imageId choice.id}}>{{choice.name}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverUbiquity.flavor.label'}}</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" onchange={{action (mut ubiquityConfig.flavorId) value="target.value"}}>
          {{#each allFlavors as |choice|}}
            <option value={{choice.id}} selected={{eq ubiquityConfig.flavorId choice.id}}>{{choice.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    {{partial "host/add-options"}}
  </div>

  {{top-errors errors=errors}}
  {{save-cancel save="save" cancel="cancel"}}
</section>
