<div class="r-p40 text-center">
  <h1 class="header">{{t 'projectUpgrade.header' appName=settings.appName}}</h1>

  <p>{{format-html-message 'projectUpgrade.detail' appName=settings.appName appVersion=settings.minorVersion}}</p>

    <div class="footer-actions">
      {{#if canUpgrade}}
        <button {{action "upgrade"}} class="btn btn-primary">{{t 'projectUpgrade.actionButton'}}</button>
      {{else}}
        <button class="btn btn-primary btn-disabled" disabled="disabled">{{t 'projectUpgrade.actionButton'}}</button>
        <p class="text-muted">{{t 'projectUpgrade.notOwner'}}</p>
      {{/if}}
    </div>
</div>
