<label class="acc-label">
  {{t "clusterDashboard.k3sInfo.nodeArgs.title"}}
</label>
<p class="help-block">
  {{t "clusterDashboard.k3sInfo.nodeArgs.detail"}}
</p>
{{#if (gte model.node.k3sNodeArgs.length 1)}}
  <pre style="font-size: 14px;">{{node.k3sNodeArgs}}</pre>
{{else}}
  {{t "clusterDashboard.k3sInfo.nodeArgs.noArgs"}}
{{/if}}