<label class="acc-label">
  {{t "clusterDashboard.k3sInfo.nodeArgs.title"}}
</label>
<p class="help-block">
  {{t "clusterDashboard.k3sInfo.nodeArgs.detail"}}
</p>
{{#if (gte node.k3sNodeArgs.length 1)}}
  <pre class="bg-setting" style="font-size: 14px;">{{node.k3sNodeArgs}}</pre>
{{else}}
  <div class="mt-20 text-center">
    {{t "clusterDashboard.k3sInfo.nodeArgs.noArgs"}}
  </div>
{{/if}}