<section class="header clearfix">
  <h1>{{t 'backupTargetsPage.newTarget.header'}}</h1>
</section>
<section class="horizontal-form container-fluid">
  {{form-name-description 
    model=model
    nameRequired=true
  }}

  <div class="over-hr r-p10">
    <span>{{t 'backupTargetsPage.newTarget.hr'}} </span>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <label class="form-control-static">{{t 'backupTargetsPage.server.label'}}*</label>
      {{input type="text" value=model.nfsConfig.server classNames="form-control" placeholder=(t 'backupTargetsPage.server.placeholder')}}
    </div>
    <div class="col-md-6">
      <label class="form-control-static">{{t 'backupTargetsPage.share.label'}}*</label>
      {{input type="text" value=model.nfsConfig.share classNames="form-control" placeholder=(t 'backupTargetsPage.share.placeholder')}}
    </div>
  </div>
  <div class="row form-group">
    <div class="col-md-6">
      <label class="form-control-static">{{t 'backupTargetsPage.mountOptions.label'}}</label>
      {{input type="text" value=model.nfsConfig.mountOptions classNames="form-control" placeholder=(t 'backupTargetsPage.mountOptions.placeholder')}}
    </div>
  </div>

</section>

{{top-errors errors=errors}}
{{save-cancel save="save" cancel="cancel"}}
