<div class="clearfix">
  <label class="acc-label pb-5">
    {{#if isReuse}}
      {{t 'formStack.label.reuse'}}
    {{else}}
      {{t 'formStack.label.create'}}{{field-required}}
    {{/if}}
  </label>
  <div class="pull-right text-small">
    <a role="button" class="btn bg-transparent p-0" {{action "toggle"}}>{{t (if isReuse 'formStack.toggle.create' 'formStack.toggle.reuse')}}</a>
  </div>
</div>

<div>
  {{#if isReuse}}
    {{new-select
      content=choices
      prompt=(t 'formStack.reuse.prompt')
      optionLabelPath="displayName"
      optionValuePath="id"
      value=reuseStackId
    }}
  {{else}}
    {{input classNames="new-name" placeholder=(t 'formStack.create.placeholder') value=createStack.name}}
  {{/if}}
</div>
