{{#if projects.current.isWindows}}
  <div class="text-center p-20">Volume support is not currently available for Windows.</div>
{{else}}
  <div class="row inline-form">
    <div class="col span-2 col-inline">
      <label>{{t 'formVolumes.volumes'}}</label>
    </div>

    <div class="col span-8">
      <div>
        <button class="btn bg-link icon-btn" {{action "addVolume"}}><i class="icon icon-plus text-small"/> <span>{{t 'formVolumes.addActionLabel'}}</span></button>
      </div>
      {{#if volumesArray.length}}
        <table class="table fixed no-lines no-top-padding tight">
          {{#each volumesArray as |vol|}}
            <tr>
              <td>
                {{input type="text" class="form-control volume-path" value=vol.value placeholder="e.g. [volumename: or /path/on/host:]/path/in/container[:ro]"}}
              </td>
              <td width="30" class="text-right">
                <button class="btn bg-primary btn-sm" {{action "removeVolume" vol}}><i class="icon icon-minus"/></button>
              </td>
            </tr>
          {{/each}}
        </table>
      {{/if}}
    </div>
  </div>

  {{#if isService}}
    <div class="row inline-form">
      <div class="col span-2 col-inline">
        <label>{{t 'formVolumes.volumesFrom'}}</label>
      </div>

      <div class="col span-8">
        {{#if volumesFromLaunchConfigChoices.length}}
          {{#each volumesFromLaunchConfigChoices as |choice|}}
            <label class="mr-10 radio small" style="color: inherit; text-transform: none;">{{input type="checkbox" checked=choice.enabled}} {{choice.displayName}}</label>
          {{/each}}
        {{else}}
          <span class="text-muted">{{t 'formVolumes.noLaunchConfigs'}}</span>
        {{/if}}
      </div>
    </div>
  {{else}}
    <div class="row inline-form">
      <div class="col span-2 col-inline">
        <label>{{t 'formVolumes.volumesFrom'}}</label>
      </div>

      <div class="col span-8">
        <div>
          {{#if instance.requestedHostId}}
            {{#if hostContainerChoices.length}}
              <button class="btn bg-link icon-btn" {{action "addVolumeFrom"}}><i class="icon icon-plus text-small"/></button>
            {{else}}
              <span class="text-muted">{{t 'formVolumes.noHostContainers'}}</span>
            {{/if}}
          {{else}}
              <span class="text-muted">{{t 'formVolumes.onlySingleHost'}}</span>
          {{/if}}
        </div>
        {{#if volumesFromArray.length}}
          <table class="table fixed no-lines no-top-padding tight">
            {{#each volumesFromArray as |vol|}}
              <tr>
                <td>
                  {{new-select
                    classNames="form-control input-sm volumefrom-container"
                    prompt="formVolumes.value.prompt"
                    value=vol.value
                    content=hostContainerChoices
                    optionValuePath="id"
                    optionLabelPath="name"
                    optionGroupPath="group"
                  }}
                </td>
                <td width="30" class="text-right">
                  <button class="btn bg-primary btn-sm" {{action "removeVolumeFrom" vol}}><i class="icon icon-minus"/></button>
                </td>
              </tr>
            {{/each}}
          </table>
        {{/if}}
      </div>
    </div>
  {{/if}}

  <div class="row inline-form">
    <div class="col span-2 col-inline">
      <label for="volumeDriver">{{t 'formVolumes.volumeDriver.label'}}</label>
    </div>

    <div class="col span-8">
      {{input type="text" class="form-control" value=instance.volumeDriver placeholder=(t 'formVolumes.volumeDriver.placeholder')}}
    </div>
  </div>
{{/if}}
