<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Volumes</label>
  </div>

  <div class="col-sm-12 col-md-8">
    <div class="form-control-static">
      <button class="btn-circle" {{action "addVolume"}}><i class="icon icon-plus-circle"/></button>
    </div>
    {{#if volumesArray.length}}
      <table class="table fixed no-lines no-top-padding tight">
        {{#each volumesArray as |vol|}}
          <tr>
            <td>
              {{input type="text" class="form-control volume-path input-sm" value=vol.value placeholder="e.g. [volumename: or /path/on/host:]/path/in/container[:ro]"}}
            </td>
            <td width="30" class="text-right">
              <button class="btn btn-primary btn-sm" {{action "removeVolume" vol}}><i class="icon icon-minus"/></button>
            </td>
          </tr>
        {{/each}}
      </table>
    {{/if}}
  </div>
</div>

{{#if isService}}
  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label class="form-control-static">Volumes From</label>
    </div>

    <div class="col-sm-12 col-md-8 form-control-static">
      {{#if volumesFromLaunchConfigChoices.length}}
        {{#each volumesFromLaunchConfigChoices as |choice|}}
          <label class="r-mr10" style="color: inherit; text-transform: none;">{{input type="checkbox" checked=choice.enabled}} {{choice.displayName}}</label>
        {{/each}}
      {{else}}
        <span class="text-muted">There are no other launch configs in this service to share volumes with.</span>
      {{/if}}
    </div>
  </div>
{{else}}
  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label class="form-control-static">Volumes From</label>
    </div>

    <div class="col-sm-12 col-md-8">
      <div class="form-control-static">
        {{#if instance.requestedHostId}}
          {{#if hostContainerChoices.length}}
            <button class="btn-circle" {{action "addVolumeFrom"}}><i class="icon icon-plus-circle"/></button>
          {{else}}
            <span class="text-muted">This host has no containers to use the volumes from.</span>
          {{/if}}
        {{else}}
            <span class="text-muted">Only available when adding a container to a particular host.</span>
        {{/if}}
      </div>
      {{#if volumesFromArray.length}}
        <table class="table fixed no-lines no-top-padding tight">
          {{#each volumesFromArray as |vol|}}
            <tr>
              <td>
                {new-select{
                  classNames="form-control input-sm volumefrom-container"
                  prompt="Select a container..."
                  value=vol.value
                  content=hostContainerChoices
                  optionValuePath="id"
                  optionLabelPath="name"
                  optionGroupPath="group"
                }}
              </td>
              <td width="30" class="text-right">
                <button class="btn btn-primary btn-sm" {{action "removeVolumeFrom" vol}}><i class="icon icon-minus"/></button>
              </td>
            </tr>
          {{/each}}
        </table>
      {{/if}}
    </div>
  </div>
{{/if}}

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label for="volumeDriver" class="form-control-static">Volume Driver</label>
  </div>

  <div class="col-sm-12 col-md-8">
    {{input type="text" class="form-control" value=instance.volumeDriver placeholder="Experimental: Requires Docker 1.7"}}
  </div>
</div>
