<div id="underlay" class="underlay hide"></div>
<div id="loading-underlay" class="underlay"></div>
<div id="loading-overlay" class="loading-overlay">
  {{#if settings.isRancher}}
    <div class="square">
      <div class="lid">
      </div>
    </div>
  {{else}}
    <div class="whiteboxloader">
      <div class="loader-inner ball-clip-rotate-pulse">
        <div></div>
        <div></div>
      </div>
    </div>
  {{/if}}
</div>

{{outlet "overlay"}}
{{outlet "error"}}

<div id="application" class="container">
  {{outlet}}
</div>

<div class="dropdown" id="resource-actions-parent">
  <ul role="menu" id="resource-actions" class="hide resource-actions global-actions dropdown-menu dropdown-menu-right">
    <li class="resource-actions-tabbable"><a tabindex="-1" id="resource-actions-first" aria-label="Select an Action below"></a></li>
    {{#each resourceActions.activeActions as |item|}}
      {{#if item.divider}}
        <li class="divider"></li>
      {{else}}
        <li>
          {{action-menu-item
            label=item.label
            icon=item.icon
            action="clickedAction"
            actionArg=item.action
            altActionArg=item.altAction
          }}
        </li>
      {{/if}}
    {{else}}
      <li><a href="#" onclick="return false;" disabled="true">No actions available</a></li>
    {{/each}}
  </ul>
</div>

{{component tooltip tooltipTemplate=tooltipTemplate class="container-tooltip" id="tooltip-base" role="tooltip" aria-hidden="false"}}
{{modal-root}}
{{svg-gradients}}
