{{#if isAdvanced}}
  <td>
    {{input classNames="form-control input-sm" value=tgt.hostname placeholder="e.g. svc.com"}}
  </td>
  <td class="text-center">
    <div class="form-control-static input-sm">:</div>
  </td>
  <td>
    {{input classNames="form-control input-sm" value=tgt.srcPort placeholder="e.g. 80"}}
  </td>
  <td>&nbsp;</td>
  <td>
    {{input classNames="form-control input-sm" value=tgt.path placeholder="e.g. /svc"}}
  </td>
  <td class="text-center">
    <div class="form-control-static input-sm"><i class="icon icon-arrow-right"></i></div>
  </td>
{{/if}}
<td>
  {{new-select
    classNames="form-control input-sm lb-target"
    prompt="Select a service..."
    value=tgt.value
    content=targetChoices
    optionValuePath="id"
    optionLabelPath="name"
  }}
</td>
{{#if isAdvanced}}
  <td>&nbsp;</td>
  <td>
    {{input classNames="form-control input-sm" value=tgt.dstPort placeholder="e.g. 8080"}}
  </td>
{{/if}}
<td class="text-right">
  <button class="btn-circle" {{action "remove"}} tabindex="-1"><i class="icon icon-x-circle"/></button>
</td>
