{{yield}}
{{#if showPrimary}}
  {{#each model.primaryActions as |act|}}
    <button class="btn btn-default btn-{{size}}" {{action 'sendAction' act.action}}><i class="icon-fw {{act.icon}}" tooltip="{{act.label}}" data-placement="left" alt="{{act.label}}"></i></button>
  {{/each}}
{{/if}}
<button class="btn btn-default btn-{{size}} more-actions"><i class="icon icon-fw icon-chevron-down" alt="More Actions"></i></button>
