{{#if showPrimary}}
  {{#each model.primaryActions as |act|}}
    <button type="button" class="btn btn-default btn-{{size}}"><i class="icon icon-fw {{act.icon}}" {{action 'sendAction' act.action}} tooltip="{{act.label}}"></i></button>
  {{/each}}
{{/if}}
<button type="button" class="btn btn-default btn-{{size}} more-actions"><i class="icon icon-fw icon-chevron-down"></i></button>

