{{yield}}
{{#if (and showPrimary model.primaryAction)}}
  <button class="btn btn-default btn-{{size}}" data-primary="0" aria-label="{{t model.primaryAction.label}}">
    {{#tooltip-element type="tooltip-basic" model=model.primaryAction tooltipFor="actionMenu"}}
      <i class="icon-fw {{model.primaryAction.icon}}"></i>
    {{/tooltip-element}}
  </button>
{{/if}}
<button aria-label="{{t 'generic.moreActions'}}" aria-controls="resource-actions" class="btn btn-default btn-{{size}} more-actions must-propagate" data-toggle="dropdown" data-target=".resource-actions" aria-expanded="false">
  <i class="icon icon-fw icon-vertical-ellipsis" alt="{{t 'generic.moreActions'}}"></i>
</button>
