{{#if showPrimary}}
  {{#each model.primaryActions as |act|}}
    <a class="btn btn-default btn-{{size}}"><i class="icon-fw {{act.icon}}" {{action 'sendAction' act.action}} tooltip="{{act.label}}" data-placement="left" alt="{{act.label}}"></i></a>
  {{/each}}
{{/if}}
<a class="btn btn-default btn-{{size}} more-actions"><i class="icon icon-fw icon-chevron-down" alt="More Actions"></i></a>

