{{yield}}
{{#if showPrimary}}
  {{#each model.primaryActions as |act|}}
    <button class="btn btn-default btn-{{size}}" {{action 'sendAction' act.action}}>
      {{#tooltip-element type="tooltip-basic" model=act }}
        <i class="icon-fw {{act.icon}}" alt="{{act.label}}"></i>
      {{/tooltip-element}}
    </button>
  {{/each}}
{{/if}}
<button class="btn btn-default btn-{{size}} more-actions pull-right" data-toggle="dropdown" aria-expanded="false"><i class="icon icon-fw icon-vertical-ellipsis" alt="More Actions"></i></button>


