{{yield}}
{{#if (and showPrimary model.primaryAction)}}
  <button class="btn bg-default {{sizeClass}}" data-primary="0" aria-label="{{t model.primaryAction.label}}">
    {{#tooltip-element type="tooltip-basic" model=model.primaryAction tooltipFor="actionMenu"}}
      <i class="icon-fw {{model.primaryAction.icon}}"></i>
    {{/tooltip-element}}
  </button>
{{/if}}
<button type="button" aria-label="{{t 'generic.moreActions'}}" aria-controls="resource-actions" class="btn bg-default {{sizeClass}} more-actions {{if showLabel 'pr-10 bg-primary'}}" data-toggle="dropdown" data-target=".resource-actions" aria-expanded="false">
  {{#if showLabel}}{{t 'generic.actions'}} {{/if}}
  <i class="icon icon-fw icon-vertical-ellipsis" alt="{{t 'generic.moreActions'}}"></i>
</button>
