<section class="header clearfix">
  <h1>{{t (if editing 'editDns.title.edit' 'editDns.title.new')}}</h1>
</section>

<section class="horizontal-form container-fluid">
  <div class="row">
    <div class="col span-11-of-24">
      {{form-name-description
        model=record
        namePlaceholder="editDns.name.placeholder"
        nameRequired=true
        descriptionPlaceholder="editDns.description.placeholder"
      }}
    </div>
    <div class="col span-11-of-24 offset-1-of-24">
      {{#unless editing}}
        {{form-stack
          stack=stack
          errors=stackErrors
        }}
      {{/unless}}
    </div>
  </div>

  <div class="row">
    <div class="col span-6">
      <div class="mb-20">
        <label>{{t 'editDns.mode.label'}}</label>
      </div>
      <div class="mb-20">
        <div class="radio">
          <label>{{radio-button selection=mode value="externalip"}}&nbsp;{{t 'editDns.mode.externalip'}}</label>
        </div>
        <div class="radio">
          <label>{{radio-button selection=mode value="externalhostname"}}&nbsp;{{t 'editDns.mode.externalhostname'}}</label>
        </div>
        <div class="radio">
          <label>{{radio-button selection=mode value="dnsservice"}}&nbsp;{{t 'editDns.mode.dnsservice'}}</label>
        </div>
        <div class="radio">
          <label>{{radio-button selection=mode value="service"}}&nbsp;{{t 'editDns.mode.service'}}</label>
        </div>
      </div>
    </div>
    <div class="col span-6">
      <div class="box">
        {{#if (eq mode "dnsservice")}}
          {{form-targets
            isBalancer=false
            existing=record
            exclude=service.id
            changed=(action "setTargetServices")
          }}
        {{else if (or (eq mode "externalip") (eq mode "externalhostname"))}}
          {{#if (eq mode "externalip")}}
            <div class="mb-20">
              <label>{{t 'editDns.targetIp.label'}}{{field-required}}</label>
            </div>
            <div>
              <button class="btn bg-link icon-btn" {{action "addTargetIp"}}>
                <span class="darken"><i class="icon icon-plus text-small"/></span>
                <span>{{t 'editDns.targetIp.add'}}</span>
              </button>
            </div>
            {{#if targetIpArray.length}}
              <div class="row">
                <div class="col span-12">
                  <table class="table fixed no-lines no-top-padding">
                    <tbody>
                      {{#each targetIpArray as |tgt|}}
                        <tr>
                          <td class="pr-0 pl-0 pb-10">
                            {{input type="text" class="form-control input-sm target-ip" value=tgt.value placeholder="e.g. 192.168.2.24"}}
                          </td>
                          <td width="30" class="text-right pr-0 pl-0 pb-10">
                            <button class="btn bg-primary btn-sm" {{action "removeTargetIp" tgt}}><i class="icon icon-minus"/></button>
                          </td>
                        </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>
              </div>
            {{/if}}
          {{else}}
            <div class="mb-20">
              <label>{{t 'editDns.hostname.label'}}{{field-required}}</label>
            </div>
            {{input value=record.hostname placeholder=(t 'editDns.hostname.placeholder')}}
          {{/if}}
        {{else}}
          <div class="mb-20">
            <label>{{t 'editDns.selectorContainer.label'}}{{field-required}}</label>
          </div>
          {{input value=record.selectorContainer placeholder=(t 'editDns.selectorContainer.placeholder')}}
        {{/if}}
      </div>
    </div>
  </div>
</section>

{{#if canHealthCheck}}
  {{form-healthcheck
      isService=true
      showStrategy=false
      healthCheck=record.healthCheck
      dnsNote=true
      expandFn=expand
  }}
{{/if}}

{{top-errors errors=errors}}
{{save-cancel editing=editing save="save" cancel="cancel"}}
