<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.userInfo.label"}}</label>
    {{searchable-select
        content=userInfoContent
        classNames="form-control"
        value=config.userInfo
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.computeEngine.label"}}</label>
    {{searchable-select
        content=computeEngineContent
        classNames="form-control"
        value=config.computeEngine
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.storage.label"}}</label>
    {{searchable-select
        content=storageContent
        classNames="form-control"
        value=config.storage
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.taskQueue.label"}}</label>
    {{searchable-select
        content=taskQueueContent
        classNames="form-control"
        value=config.taskQueue
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.bigQuery.label"}}</label>
    {{searchable-select
        content=bigQueryContent
        classNames="form-control"
        value=config.bigQuery
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.cloudSQL.label"}}</label>
    {{searchable-select
        content=cloudSQLContent
        classNames="form-control"
        value=config.cloudSQL
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.cloudDatastore.label"}}</label>
    {{searchable-select
        content=cloudDatastoreContent
        classNames="form-control"
        value=config.cloudDatastore
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.stackdriverLoggingAPI.label"}}</label>
    {{searchable-select
        content=stackdriverLoggingAPIContent
        classNames="form-control"
        value=config.stackdriverLoggingAPI
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.stackdriverMonitoringAPI.label"}}</label>
    {{searchable-select
        content=stackdriverMonitoringAPIContent
        classNames="form-control"
        value=config.stackdriverMonitoringAPI
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.cloudPlatform.label"}}</label>
    {{searchable-select
        content=cloudPlatformContent
        classNames="form-control"
        value=config.cloudPlatform
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.bigtableData.label"}}</label>
    {{searchable-select
        content=bigtableDataContent
        classNames="form-control"
        value=config.bigtableData
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.bigtableAdmin.label"}}</label>
    {{searchable-select
        content=bigtableAdminContent
        classNames="form-control"
        value=config.bigtableAdmin
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.cloudPub.label"}}</label>
    {{searchable-select
        content=cloudPubContent
        classNames="form-control"
        value=config.cloudPub
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.serviceControl.label"}}</label>
    {{searchable-select
        content=serviceControlContent
        classNames="form-control"
        value=config.serviceControl
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.serviceManagement.label"}}</label>
    {{searchable-select
        content=serviceManagementContent
        classNames="form-control"
        value=config.serviceManagement
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.stackdriverTrace.label"}}</label>
    {{searchable-select
        content=stackdriverTraceContent
        classNames="form-control"
        value=config.stackdriverTrace
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.cloudSourceRepositories.label"}}</label>
    {{searchable-select
        content=cloudSourceRepositoriesContent
        classNames="form-control"
        value=config.cloudSourceRepositories
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t "clusterNew.googlegke.cloudDebugger.label"}}</label>
    {{searchable-select
        content=cloudDebuggerContent
        classNames="form-control"
        value=config.cloudDebugger
        localizedLabel=true
        readOnly=readOnly
    }}
  </div>
</div>