<h2>{{t 'catalogSettings.header'}}</h2>
<p class="text-muted">{{t 'catalogSettings.subtext'}}</p>
<hr>

<div class="row row-same-height">
  <div class="col span-6">
    <p>{{t (if settings.isRancher 'catalogSettings.certified.header.rancher' 'catalogSettings.certified.header.pl') appName=settings.appName}}</p>
    <div class="">
      <label class="mr-20 hand">
        {{radio-button selection=enableLibrary value=true}} {{t 'generic.enabled'}}
      </label>
      <label class="hand">
        {{radio-button selection=enableLibrary value=false}} {{t 'generic.disabled'}}
      </label>
    </div>
    <p class="text-info">
      {{#if settings.isRancher}}
        {{t 'catalogSettings.certified.detail.rancher'}}
      {{else}}
        {{t 'catalogSettings.certified.detail.pl'}}
      {{/if}}
    </p>
  </div>
  <div class="col span-6">
    <p>{{t (if settings.isRancher 'catalogSettings.community.header.rancher' 'catalogSettings.community.header.pl') appName=settings.appName}}</p>
    <div class="">
      <label class="mr-20 hand">
        {{radio-button selection=enableCommunity value=true}} {{t 'generic.enabled'}}
      </label>
      <label class="hand">
        {{radio-button selection=enableCommunity value=false}} {{t 'generic.disabled'}}
      </label>
    </div>
    <p class="text-info">
      {{#if settings.isRancher}}
        {{t 'catalogSettings.community.detail.rancher'}}
      {{else}}
        {{t 'catalogSettings.community.detail.pl'}}
      {{/if}}
    </p>
  </div>
</div>

<hr>

<p>{{t 'catalogSettings.more.header'}}</p>
<p>{{t 'catalogSettings.more.helpText' htmlSafe=true}}</p>

<button class="btn bg-link icon-btn" {{action "add"}}>
  <span class="darken"><i class="icon icon-plus text-small"/></span>
  <span>{{t 'catalogSettings.more.addActionLabel'}}</span>
</button>

{{#if ary.length}}
<div class="pt-10"></div>
  <table class="table fixed no-lines">
    <tr class="text-muted hidden-xs hidden-sm text-left">
      <th width="200">{{t 'catalogSettings.more.name.label'}}</th>
      <th width="30">&nbsp;</th>
      <th>{{t 'catalogSettings.more.url.label'}}</th>
      <th width="30">&nbsp;</th>
      <th width="100">{{t 'catalogSettings.more.kind.label'}}</th>
      <th width="30">&nbsp;</th>
      <th width="200">{{t 'catalogSettings.more.branch.label'}}</th>
      <th width="30">&nbsp;</th>
    </tr>
    {{#each ary as |row|}}
      <tr>
        <td data-title="{{t 'catalogSettings.more.name.label'}}:">
          {{input class="form-control input-sm name" type="text" value=row.name placeholder=(t 'catalogSettings.more.name.placeholder')}}
        </td>
        <td>&nbsp;</td>
        <td data-title="{{t 'catalogSettings.more.url.label'}}:">
          {{input class="form-control input-sm" type="text" value=row.url placeholder=(t 'catalogSettings.more.url.placeholder')}}
        </td>

        <td>&nbsp;</td>
        <td data-title="{{t 'catalogSettings.more.kind.label'}}:">
          {{new-select
            classNames="form-control"
            content=kindChoices
            optionLabelPath="translationKey"
            optionValuePath="value"
            localizedLabel=true
            value=row.kind
          }}
        </td>

        <td>&nbsp;</td>
        <td data-title="{{t 'catalogSettings.more.branch.label'}}:">
          {{input class="form-control input-sm" type="text" value=row.branch placeholder=(t 'catalogSettings.more.branch.placeholder')}}
        </td>

        <td class="valign-top text-right">
          <button class="btn bg-primary btn-sm" {{action "remove" row}}><i class="icon icon-minus"/><span class="sr-only">{{t 'generic.remove'}}</span></button>
        </td>
      </tr>
      <div class="pt-10"></div>
    {{/each}}
  </table>
{{/if}}

{{save-cancel cancelDisabled=true editing=true save="save"}}
