<h4>{{t 'modalConfirmDeactiviate.header'}} {{isService.message}}:</h4>

<div style="margin: 30px 10px;">
  <h3>{{originalModel.displayName}}</h3>
</div>

<div class="text-muted" style="font-size: 12px;">
  {{t 'modalConfirmDeactiviate.protip' alternateLabel=alternateLabel isServiceButton=isService.button}} 
</div>

<div class="footer-actions">
  <button {{action "confirm"}} class="btn btn-danger">{{isService.button}}</button>
  <button {{action "cancel"}} class="btn btn-link">{{t 'modalConfirmDeactiviate.cancel'}}</button>
</div>
