<div class="protip">{{t 'modalConfirmDeactiviate.protip' alternateLabel=alternateLabel isServiceButton=isService.button}}</div>
<hr>
<div class="container-header-text">
  {{t 'modalConfirmDeactiviate.header'}} {{isService.message}}:
  <div class="display-name">
    {{originalModel.displayName}}
  </div>
</div>


<div class="footer-actions">
  <button {{action "confirm"}} class="btn btn-danger">{{isService.button}}</button>
  <button {{action "cancel"}} class="btn btn-link">{{t 'modalConfirmDeactiviate.cancel'}}</button>
</div>
