<h4>Are you sure you want to {{isService.message}}:</h4>

<div style="margin: 30px 10px;">
  <h3>{{originalModel.displayName}}</h3>
</div>

<div class="text-muted" style="font-size: 12px;">
  ProTip: Hold the {{alternateLabel}} key while clicking {{isService.button}} to bypass this confirmation.
</div>

<div class="footer-actions">
  <button {{action "confirm"}} class="btn btn-danger">{{isService.button}}</button>
  <button {{action "cancel"}} class="btn btn-link">Cancel</button>
</div>
