<div class="protip">{{t 'modalConfirmDeactivate.protip' key=alternateLabel isServiceButton=isService.button}}</div>
<hr>
<div class="container-header-text">
  {{t 'modalConfirmDeactivate.header'}} {{isService.message}}:
  <div class="display-name">
    {{originalModel.displayName}}
  </div>
</div>


<div class="footer-actions">
  <button {{action "confirm"}} class="btn bg-error">{{isService.button}}</button>
  <button {{action "cancel"}} class="btn bg-transparent">{{t 'modalConfirmDeactivate.cancel'}}</button>
</div>
