{{#if dataMap.selectLaunchConfig}}
  <section class="header">
    <h1>{{t "newContainer.sidekick.header" service=dataMap.workload.displayName}}</h1>
  </section>
  <h2>{{t "newContainer.sidekick.title" service=dataMap.workload.displayName}}</h2>
  <p class="help-block">{{t "newContainer.sidekick.detail" service=dataMap.workload.displayName}}</p>

  <div class="clearfix">
    {{#catalog-box
      classNames="bg-secondary"
      tagName="div"
      model=dataMap.workload.launchConfig
      showIcon=false
      showDescription=false
    }}
      <div class="darken p-20 m-0">
        <i class="icon icon-service"/>
      </div>
      <span class="text-muted">
        {{dataMap.workload.launchConfig.name}}
      </span>
      <p class="help-block mb-10">
        {{t "newContainer.sidekick.primary"}}
      </p>
      {{#link-to
        (query-params launchConfigIndex=-1)
        class="btn btn-sm bg-info"
        disabled=deleting
      }}
        {{t "action.edit"}}
      {{/link-to}}
    {{/catalog-box}}

    {{#each dataMap.workload.secondaryLaunchConfigs as |slc index|}}
      {{#catalog-box
        model=slc
        showIcon=false
        showDescription=false
        tagName="div"
      }}
        <div class="darken p-20 m-0">
          <i class="icon icon-container"/>
        </div>
        <div>
        <span>
          {{slc.name}}
        </span>
        </div>
        <p class="help-block mb-10">
          {{t "newContainer.sidekick.sidekick"}}
        </p>
        <button
          class="btn btn-sm bg-error"
          {{action "promptRemove" index}}
          disabled={{deleting}}
        >
          {{t "action.remove"}}
        </button>
        {{#link-to
            (query-params launchConfigIndex=index)
            class="btn btn-sm bg-primary"
            disabled=deleting
        }}
          {{t "action.edit"}}
        {{/link-to}}
      {{/catalog-box}}
    {{/each}}
  </div>
  <div class="text-center">
    <button class="btn bg-transparent" {{action "cancel"}}>{{t "generic.cancel"}}</button>
  </div>
{{else}}
  {{container/new-edit
      loggingEnabled=model.loggingEnabled
      scaleMode=dataMap.scaleMode
      isUpgrade=dataMap.isUpgrade
      service=dataMap.workload
      launchConfig=dataMap.container
      launchConfigIndex=launchConfigIndex
      done=(action "done")
      cancel=(action "cancel")
      editing=false
      primaryResource=dataMap.workload
      primaryService=dataMap.workload
      allHosts=dataMap.allHosts
  }}
{{/if}}
