<div class="row">
  {{form-name-description model=primaryResource nameRequired=true}}
</div>
<div class="box mt-20">
  <h4>{{t 'clusterNew.azureaks.placement.label'}}</h4>
  <div class="row">
    <div class="col span-6">
      <label class="acc-label">{{t 'clusterNew.azureaks.location.label'}}</label>
      {{#if editing}}
        <div>
          {{config.location}}
        </div>
      {{else}}
        {{new-select
            classNames="form-control"
            optionValuePath="name"
            optionLabelPath="displayName"
            prompt="clusterNew.azureaks.location.prompt"
            content=zones
            value=config.location
            localizedPrompt=true
        }}
      {{/if}}
    </div>
    <div class="col span-6 mb-0">
      <label class="acc-label">{{t 'clusterNew.azureaks.resourceGroup.label'}}</label>
      {{#if editing}}
        <div>
          {{config.resourceGroup}}
        </div>
      {{else}}
        {{input type="text" value=config.resourceGroup classNames="form-control" placeholder=(t 'clusterNew.azureaks.resourceGroup.placeholder')}}
      {{/if}}
    </div>
  </div>
</div>

<div class="box mt-20">
  <h4>{{t 'machine.driverAzure.accountAccessSection'}}</h4>

  <div class="row">
    <div class="col span-6 mb-0">
      <label class="acc-label">{{t 'machine.driverAzure.subscriptionId.label'}}{{field-required}}</label>
      {{#if editing}}
        <div>
          {{config.subscriptionId}}
        </div>
      {{else}}
        {{input type="text" value=config.subscriptionId classNames="form-control" placeholder=(t 'machine.driverAzure.subscriptionId.placeholder')}}
      {{/if}}
    </div>
    <div class="col span-6 mb-0">
      <label class="acc-label">{{t 'machine.driverAzure.tenant.label'}}{{field-required}}</label>
      {{#if editing}}
        <div>
          {{config.tenantId}}
        </div>
      {{else}}
        {{input type="text" value=config.tenantId classNames="form-control" placeholder=(t 'machine.driverAzure.tenant.placeholder')}}
      {{/if}}
    </div>
  </div>

  <div class="row">
    <div class="col span-6 mb-0">
      <label class="acc-label">{{t 'clusterNew.azureaks.clientId.label'}}{{field-required}}</label>
      {{#if editing}}
        <div>
          {{config.clientId}}
        </div>
      {{else}}
        {{input type="text" value=config.clientId classNames="form-control" placeholder=(t 'clusterNew.azureaks.clientId.placeholder')}}
        <p class="text-info text-small mb-0">{{t 'clusterNew.azureaks.helpBlock' htmlSafe=true}}</p>
      {{/if}}
    </div>

    <div class="col span-6 mb-0">
      <label class="acc-label">{{t 'clusterNew.azureaks.clientSecret.label'}}{{field-required}}</label>
      {{#if editing}}
        <div>
          {{t 'generic.na'}}
        </div>
      {{else}}
        {{input type="text" value=config.clientId classNames="form-control" placeholder=(t 'clusterNew.azureaks.clientId.placeholder')}}
        <p class="text-info text-small mb-0">{{t 'clusterNew.azureaks.helpBlock' htmlSafe=true}}</p>
      {{/if}}
    </div>
  </div>
</div>

<div class="box mt-30">
  <h4>{{t 'cloud.machine'}}</h4>
  <div class="row">
    <div class="col span-6">
      <label class="acc-label">{{t 'cloud.nodeCount.label'}}</label>
      {{input-number min=1 value=config.nodeCount}}
    </div>
    <div class="col span-6">
      <label class="acc-label">{{t 'clusterNew.azureaks.admin.label'}}</label>
      {{#if editing}}
        <div>
          {{config.adminUsername}}
        </div>
      {{else}}
        {{input type="text" value=config.adminUsername classNames="form-control" placeholder=(t 'clusterNew.azureaks.admin.placeholder')}}
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col span-6">
      <label class="acc-label">{{t 'clusterNew.azureaks.machineType.label'}}</label>
      {{#if editing}}
        <div>
          {{config.agentVmSize}}
        </div>
      {{else}}
        {{new-select
            classNames="form-control"
            optionValuePath="value"
            optionLabelPath="value"
            content=machineSizes
            value=config.agentVmSize
            prompt="clusterNew.azureaks.machineType.prompt"
            localizedPrompt=true
        }}
      {{/if}}
    </div>
    <div class="col span-6">
      <label class="acc-label">{{t 'clusterNew.azureaks.diskSizeGb.label'}}</label>
      {{#if editing}}
        <div>
          {{config.agentVmSize}}
        </div>
      {{else}}
        <div class="input-group">
          {{input-number min=0 value=config.osDiskSizeGb}}
          <span class="input-group-addon bg-default">{{t 'generic.gigabyte'}}</span>
        </div>
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col span-12">
      <label>{{t 'clusterNew.azureaks.ssh.label'}}{{field-required}}</label>
      {{#if editing}}
        <div>
          {{config.sshPublicKeyContents}}
        </div>
      {{else}}
        {{textarea value=config.sshPublicKeyContents classNames="form-control no-resize" rows="6"}}
      {{/if}}
    </div>
  </div>
</div>

{{#accordion-list showExpandAll=false as |al expandFn|}}
  {{#accordion-list-item
    title=(t 'clusterNew.members.label')
    detail=(t 'clusterNew.members.detail')
    expandAll=al.expandAll
    expand=(action expandFn)
  }}
    {{form-members
      editing=true
      memberConfig=memberConfig
      primaryResource=primaryResource
      creator=model.me
      roles=model.roleTemplates
      users=model.users
      type="cluster"
      registerHook=(action "registerHook")
    }}
  {{/accordion-list-item}}

  {{#accordion-list-item
        title=(t 'clusterNew.azureaks.customize.label')
        detail=(t 'clusterNew.azureaks.customize.detail')
        expandAll=al.expandAll
        expand=(action expandFn)
  }}
    <div class="row">
      <div class="col span-4">
        <label class="acc-label">{{t 'clusterNew.azureaks.masterVersion.label'}}</label>
        {{new-select
            classNames="form-control"
            content=versions
            optionValuePath="value"
            optionLabelPath="value"
            value=config.kubernetesVersion
            prompt="clusterNew.azureaks.masterVersion.prompt"
            localizedPrompt=true
        }}
      </div>
    </div>
  {{/accordion-list-item}}
{{/accordion-list}}

{{top-errors errors=errors}}
{{save-cancel save="save" cancel=cancel}}
