<div class="top-row clearfix">
  <div class="logo" {{action "showAbout"}} aria-label="About Rancher"></div>
  <nav>
    {{#if project}}
      {{#link-to "applications-tab"}}Applications{{/link-to}}
      {{#link-to "infrastructure-tab"}}Infrastructure{{/link-to}}
      {{#if isAdmin}}
        {{#link-to "admin-tab"}}Admin{{/link-to}}
      {{/if}}
    {{/if}}
  </nav>

  <div class="dropdown user-btn">
    <span class="user-toggle" id="user-dropdown" data-toggle="dropdown" aria-expanded="true" aria-label="User Menu: {{session.user}}">
      {{#if accessEnabled}}
        {{identity-avatar link=false identity=access.identity}}
        <i class="icon icon-chevron-down"></i>
      {{else}}
        <div class="gh-avatar">
          <div class="gh-placeholder">
            <i class="icon icon-user"></i>
          </div>
        </div>
        <i class="icon icon-chevron-down"></i>
      {{/if}}
    </span>
    <ul class="dropdown-menu dropdown-menu-right user-menu" role="menu" aria-labelledby="user-dropdown">
      {{#if accessEnabled}}
        <li role="presentation" class="user-auth">
          {{identity-block avatar=false identity=access.identity}}
          {{#link-to "logout" tabindex="-1" class="user-logout"}}<i class="icon icon-logout"></i> Log Out{{/link-to}}
        </li>
      {{/if}}

      {{#if isLocalAuth}}
        <li role="presentation" class="dropdown-header">
          Your Account
        </li>

        <li role="presentation">
          <a {{action "changePassword"}} role="menuitem" tabindex="-1">Change Password</a>
        </li>

        <li role="presentation" class="divider"></li>
      {{/if}}

      <li role="presentation" class="dropdown-header">
        This Environment
      </li>

      <li role="presentation">
        {{#link-to "settings.apikeys" role="menuitem" tabindex="-1"}}API &amp; Keys{{/link-to}}
      </li>

      <li role="presentation">
        {{#link-to "settings.registries" role="menuitem" tabindex="-1"}}Registries{{/link-to}}
      </li>
    </ul>
  </div>

  {{#if project}}
    <div class="dropdown btn-group project-btn">
      <button type="button" class="btn btn-link dropdown-toggle text-left clip" data-toggle="dropdown" aria-expanded="false">
        <i class="{{project.icon}} icon-fw"></i>&nbsp;{{project.displayName}}
        <i class="icon icon-chevron-down"></i>
      </button>
      <ul class="dropdown-menu dropdown-menu-right project-menu" role="menu">
        {{#if projectChoices.length}}
          <li role="presentation" class="dropdown-header">
            {{#if accessEnabled}}
              Your Environments
            {{else}}
              All Environments
            {{/if}}
          </li>
          {{#each projectChoices as |p|}}
            <li class="{{if p.active 'disabled selected'}}">
              <a {{action "switchProject" p.id}} class="clip">
                <i class="icon {{p.icon}}"></i>
                &nbsp;
                {{p.displayName}}
              </a>
            </li>
          {{/each}}
        {{/if}}
        {{#if projectChoices.length}}
          <li role="presentation" class="divider"></li>
        {{/if}}
        {{#if projectIsMissing}}
          <li role="presentation" class="dropdown-header">Selected Environment:</li>
          <li class="{{if project.active 'disabled selected'}}">
            <a {{action "switchProject" project.id}} class="clip">
              <i class="icon {{project.icon}}"></i>
              &nbsp;
              {{project.displayName}}
            </a>
          </li>
          <li role="presentation" class="divider"></li>
        {{/if}}
        <li>{{#link-to "settings.projects"}}Manage Environments{{/link-to}}</li>
      </ul>
    </div>
  {{/if}}
</div>

<div class="bottom-row clearfix">
  <nav>
    {{#if isInfrastructureTab}}
      {{#link-to "hosts"}}<i class="icon icon-host"></i>Hosts{{/link-to}}
      {{#link-to "containers"}}<i class="icon icon-box"></i>Containers{{/link-to}}
      {{#if hasVm}}
        {{#link-to "virtualmachines"}}<i class="icon icon-vm"></i>Virtual Machines{{/link-to}}
      {{/if}}
      {{#link-to "storagepools"}}<i class="icon icon-hdd"></i>Storage Pools{{/link-to}}
      {{#link-to "certificates"}}<i class="icon icon-certificate"></i>Certificates{{/link-to}}
    {{/if}}
    {{#if isApplicationsTab}}
      {{#link-to "environments" (query-params which="user")}}<i class="icon icon-globe"></i> Stacks{{/link-to}}
      {{#link-to "applications-tab.catalog"}}<i class="icon icon-database"></i> Catalog{{/link-to}}
      {{#if hasKubernetes}}
        {{#link-to "environments" (query-params which="kubernetes")}}<i class="icon icon-kubernetes"></i>Kubernetes{{/link-to}}
      {{/if}}

      <div class="compose-download">
        <a class="dropdown-toggle hand" data-toggle="dropdown" aria-expanded="false">
          <i class="icon icon-download"></i> Download CLI <i class="icon icon-chevron-down"></i>
        </a>
        <ul class="dropdown-menu text-right" role="menu" style="min-width: 0">
          <li><a {{action "composeDownload" "darwin"}}>Mac OS X <i class="icon icon-fw icon-apple"></i></a></li>
          <li><a {{action "composeDownload" "windows"}}>Windows <i class="icon icon-fw icon-windows"></i></a></li>
          <li><a {{action "composeDownload" "linux"}}>Linux <i class="icon icon-fw icon-linux"></i></a></li>
        </ul>
      </div>
    {{/if}}
    {{#if isAdminTab}}
      {{#link-to "admin-tab.accounts"}}<i class="icon icon-users"></i>Accounts{{/link-to}}
      {{#link-to "admin-tab.auth"}}<i class="icon icon-key"></i>Access Control{{/link-to}}
      {{#link-to "admin-tab.host"}}<i class="icon icon-network"></i>Host Registration{{/link-to}}
      {{#link-to "admin-tab.processes"}}<i class="icon icon-processes"></i>Processes{{/link-to}}
    {{/if}}
  </nav>
</div>
