<nav class="clearfix" role="navigation">
  <a class="nav-logo logo-{{app.mode}} btn bg-transparent"><span class="sr-only">{{settings.appName}}</span></a>

  <ul class="nav-main">
    {{#each navTree as |item|}}
      {{#if item.submenu.length}}
        {{! Has a submenu }}
        <li class="dropdown">
          {{#if item.route}}
            {{#link-to-as-attrs
                item.route
                models=item.ctx
                queryParams=item.queryParams
                moreCurrentWhen=item.moreCurrentWhen
                activeParent=true
                class="dropdown-toggle"
                role="button"
                aria-haspopup="true"
                aria-expanded="false"
            }}
              {{maybe-t item.localizedLabel item.label}}
              <span class="icon icon-chevron-down"/>
            {{/link-to-as-attrs}}

          {{else}}
            <a class="dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" aria-label={{maybe-t item.localizedLabel item.label}}>
              {{maybe-t item.localizedLabel item.label}}
              <span class="icon icon-chevron-down"/>
            </a>
          {{/if}}

          <ul class="dropdown-menu" data-dropdown-id={{item.id}}>
            {{#each item.submenu as |subitem|}}
              {{#if subitem.route}}
                <li>
                  {{#link-to-as-attrs
                    subitem.route
                    models=subitem.ctx
                    queryParams=subitem.queryParams
                    activeParent=true
                    moreCurrentWhen=subitem.moreCurrentWhen
                    submenuItem=true
                  }}
                    <i class="{{subitem.icon}}"/> {{maybe-t subitem.localizedLabel subitem.label}}
                  {{/link-to-as-attrs}}
                </li>
              {{else if subitem.divider}}
                <li class="divider"></li>
              {{else}}
                {{! Just a label }}
                <li class="dropdown-header">
                  <i class="{{subitem.icon}}"/> {{maybe-t subitem.localizedLabel subitem.label}}
                </li>
              {{/if}}
            {{/each}}
          </ul>
          {{#if item.showAlert}}
            {{#tooltip-element class="bg-error badge-xs" type='tooltip-warning' tooltipFor="showAlert" style="position:absolute; display:inline;"}}
              {{#link-to item.alertRoute data-toggle="tooltip" data-placement="bottom"}}!{{/link-to}}
            {{/tooltip-element}}
          {{/if}}
        </li>
      {{else if item.route}}
        {{! No submenu }}
        <li>
          {{#link-to-as-attrs
            item.route
            models=item.ctx
            queryParams=item.queryParams
            activeParent=true
            moreCurrentWhen=item.moreCurrentWhen
          }}
            {{maybe-t item.localizedLabel item.label}}
          {{/link-to-as-attrs}}
        </li>
      {{else}}
        {{! Just a label }}
        <li class="dropdown-header">
          {{maybe-t item.localizedLabel item.label}}
        </li>
      {{/if}}
    {{/each}}

    {{#if (or isOss (gt projects.active.length 1))}}
      {{~page-header-environment
        currentPath=currentPath
        isOwner=isOwner
        switchProject="switchProject"
        switchNamespace="switchNamespace"
      ~}}
    {{/if}}
  </ul>

  <!--quick add-->
  <!--
  <ul class="quick-add dropdown">
    <li>
      <a class="btn btn-sm dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" aria-label={{t 'nav.user.label' username=session.user}}>
        Quick Add <i class="icon icon-plus"></i>
        <span class="sr-only">{{t 'nav.srToggleDropdown'}}</span>
      </a>
    </li>
  </ul>
  -->

  <ul class="nav-user dropdown">
    <li>
      <a class="btn dropdown-toggle" role="button" aria-haspopup="true" aria-expanded="false" aria-label={{t 'nav.user.label' username=session.user}}>
        {{#if accessEnabled}}
          {{identity-avatar link=false identity=access.identity}}
        {{else}}
          <div class="gh-avatar">
            <div class="gh-placeholder">
              <i class="icon icon-user"></i>
            </div>
          </div>
        {{/if}}
        <span class="sr-only">{{t 'nav.srToggleDropdown'}}</span>
        <i class="icon icon-chevron-down"></i>
      </a>

      <ul class="dropdown-menu dropdown-menu-right" data-dropdown-id="header-user-menu">
        {{#if accessEnabled}}
          <li role="presentation" class="user-auth">
            {{identity-block avatar=false identity=access.identity}}
          </li>
        {{/if}}

        {{#if isCaas}}
          <li role="separator" class="divider"></li>
          <li>{{#link-to "settings.projects"}}{{t 'nav.environment.manage'}}{{/link-to}}</li>
        {{/if}}

        <li>{{#link-to "user-preferences"}}{{t 'nav.userPreferences.link'}}{{/link-to}}</li>
        <li role="separator" class="divider"></li>

        <li>{{#link-to "logout" class="user-logout"}}<i class="icon icon-logout"></i> {{t 'nav.user.logout'}}{{/link-to}}</li>
      </ul>
    </li>
  </ul>
</nav>

{{#if projects.current.isUpgrading}}
  <div class="banner bg-warning mb-0 p-0">
    <div class="banner-icon" style="width: 68px;"><span class="icon icon-2x icon-spinner icon-spin"></span></div>
    <div class="banner-message">
      <p class="mt-15 mb-15">
        {{t 'projectUpgrade.banner' htmlSafe=true}}
      </p>
    </div>
  </div>
{{/if}}
