<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">{{t 'nav.srToggleNav'}}</span>
        <i class="icon icon-ellipsis"></i>
      </button>
      <a class="navbar-brand logo"></a>
      {{page-header-environment
        currentPath=currentPath
        switchProject="switchProject"
        switchNamespace="switchNamespace"
      }}
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {{#each navTree as |item|}}
          {{#if item.url}}
            <li>
              <a href="{{item.url}}" target="{{item.target}}">{{#if item.localizedLabel}}{{t item.localizedLabel}}{{else}}{{item.label}}{{/if}}</a>
            </li>
          {{else}}
            {{#if item.submenu.length}}
              {{! Has a submenu }}
              <li class="dropdown">
                {{#link-to-as-attrs
                  item.route
                  models=item.ctx
                  queryParams=item.queryParams
                  moreCurrentWhen=item.moreCurrentWhen
                  activeParent=true
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                }}
                  {{#if item.localizedLabel}}{{t item.localizedLabel}}{{else}}{{item.label}}{{/if}} <span class="icon icon-chevron-down"/>
                {{/link-to-as-attrs}}
                <ul class="dropdown-menu">
                  {{#each item.submenu as |subitem|}}
                    {{#if subitem.divider}}
                      <li class="divider"></li>
                    {{else}}
                      {{#if subitem.url}}
                        <li>
                          <a href="{{subitem.url}}" target="{{subitem.target}}">
                            <i class="icon {{subitem.icon}}"/> {{#if subitem.localizedLabel}}{{t subitem.localizedLabel}}{{else}}{{subitem.label}}{{/if}}
                          </a>
                        </li>
                      {{else}}
                        <li>
                          {{#link-to-as-attrs
                            subitem.route
                            models=subitem.ctx
                            queryParams=subitem.queryParams
                            activeParent=true
                            moreCurrentWhen=subitem.moreCurrentWhen
                          }}
                            <i class="icon {{subitem.icon}}"/> {{#if subitem.localizedLabel}}{{t subitem.localizedLabel}}{{else}}{{subitem.label}}{{/if}}
                          {{/link-to-as-attrs}}
                        </li>
                      {{/if}}
                    {{/if}}
                  {{/each}}
                </ul>
              </li>
            {{else}}
              {{! No submenu }}
              <li>
                {{#link-to-as-attrs
                  item.route
                  models=item.ctx
                  queryParams=item.queryParams
                  activeParent=true
                  moreCurrentWhen=item.moreCurrentWhen
                }}
                  {{#if item.localizedLabel}}{{t item.localizedLabel}}{{else}}{{item.label}}{{/if}}
                {{/link-to-as-attrs}}
              </li>
            {{/if}}
          {{/if}}
        {{/each}}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>{{page-header-user}}</li>
      </ul>
    </div>
  </div>
</nav>
