<nav class="navbar">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <i class="icon icon-ellipsis"></i>
      </button>
      <a class="navbar-brand logo"></a>
      {{page-header-environment
        currentPath=currentPath
        switchProject="switchProject"
        switchNamespace="switchNamespace"
      }}
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        {{#each navTree as |item|}}
          {{#if item.url}}
            <li>
              <a href="{{item.url}}" target="{{item.target}}">{{item.label}}</a>
            </li>
          {{else}}
            {{#if item.submenu.length}}
              {{! Has a submenu }}
              {{#active-link class="dropdown"}}
                {{#link-to-as-attrs
                  item.route
                  models=item.ctx
                  query=item.queryParams
                  class="dropdown-toggle"
                  data-toggle="dropdown"
                  role="button"
                  aria-haspopup="true"
                  aria-expanded="false"
                }}
                  {{item.label}} <span class="caret"/>
                  <ul class="dropdown-menu">
                    {{#each item.submenu as |subitem|}}
                      {{#if subitem.divider}}
                        <li class="divider"></li>
                      {{else}}
                        {{#if subitem.url}}
                          <li>
                            <a href="{{subitem.url}}" target="{{subitem.target}}">
                              <i class="icon {{subitem.icon}}"/> {{subitem.label}}
                            </a>
                          </li>
                        {{else}}
                          {{#active-link}}
                            {{#link-to-as-attrs subitem.route models=subitem.ctx query=subitem.queryParams}}
                              <i class="icon {{subitem.icon}}"/> {{subitem.label}}
                            {{/link-to-as-attrs}}
                          {{/active-link}}
                        {{/if}}
                      {{/if}}
                    {{/each}}
                  </ul>
                {{/link-to-as-attrs}}
              {{/active-link}}
            {{else}}
              {{! No submenu }}
              {{#active-link}}
                {{#link-to-as-attrs item.route models=item.ctx query=item.queryParams}}
                  {{item.label}}
                {{/link-to-as-attrs}}
              {{/active-link}}
            {{/if}}
          {{/if}}
        {{/each}}
      </ul>

      <ul class="nav navbar-nav navbar-right">
        <li>{{page-header-user}}</li>
      </ul>
    </div>
  </div>
</nav>
