<section class="header">
  <h1>{{t 'apiPage.header'}}</h1>

  <button class="btn btn-sm btn-primary" {{action "newApikey" "environment"}}>{{t 'apiPage.actionButton'}}</button>
</section>

<section class="well">
  <p>
    {{format-html-message 'apiPage.content'
      displayName=project.displayName
    }}
  </p>
  <label>{{t 'apiPage.labelText'}}</label>
  {{!--@@TODO: Does displayEndpointEnvironment need to be part of i18n --}}
  <code><a href="{{endpointWithAuthEnvironment}}" target="_blank">{{displayEndpointEnvironment}}</a></code>
  {{copy-to-clipboard clipboardText=endpointWithAuthEnvironment size="sm"}}

  <table class="grid fixed r-mb0 r-mt10">
    <thead>
      <tr>
        {{sortable-th sortable=this action="changeSort" name="state" width="125" label="apiPage.table.state"}}
        {{sortable-th sortable=this action="changeSort" name="name" label="apiPage.table.name"}}
        {{sortable-th sortable=this action="changeSort" name="description"  label="apiPage.table.description"}}
        {{sortable-th sortable=this action="changeSort" name="publicValue" label="apiPage.table.publicValue"}}
        {{sortable-th sortable=this action="changeSort" name="created"  label="apiPage.table.created"}}
        <th width="75">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each environmentArranged as |key|}}
        {{apikey-row model=key}}
      {{else}}
        <tr><td colspan="6" class="text-center text-muted">{{t 'apiPage.table.noData'}}</td></tr>
      {{/each}}
    </tbody>
  </table>
</section>

{{#advanced-section}}
  <section class="header">
    <h1>{{t 'apiPage.account.header'}}</h1>

    <button class="btn btn-sm btn-primary" {{action "newApikey" "account"}}>{{t 'apiPage.account.buttonText'}}</button>
  </section>

  <section class="well">
    <p>{{t 'apiPage.account.content.paragraph1'}} {{#if access.identity.name}}(<code>{{access.identity.displayName}}</code>){{/if}} {{t 'apiPage.account.content.paragraph2'}}</p>
    <label>{{t 'apiPage.labelText'}}</label>
    <code><a href="{{endpointWithAuth}}" target="_blank">{{displayEndpoint}}</a></code>
    {{copy-to-clipboard clipboardText=endpointWithAuth size="sm"}}
    <table class="grid fixed r-mb0 r-mt10">
      <thead>
        <tr>
          {{sortable-th sortable=this action="changeSort" name="state" width="125" label="apiPage.table.state"}}
          {{sortable-th sortable=this action="changeSort" name="name" label="apiPage.table.name"}}
          {{sortable-th sortable=this action="changeSort" name="description"  label="apiPage.table.description"}}
          {{sortable-th sortable=this action="changeSort" name="publicValue" label="apiPage.table.publicValue"}}
          {{sortable-th sortable=this action="changeSort" name="created"  label="apiPage.table.created"}}
          <th width="75">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each accountArranged as |key|}}
          {{apikey-row model=key}}
        {{else}}
          <tr><td colspan="6" class="text-center text-muted">{{t 'apiPage.account.table.noData'}}</td></tr>
        {{/each}}
      </tbody>
    </table>
  </section>
{{/advanced-section}}
