<td class="state">
  {{badge-state model=model}}
</td>
<td data-title="Address:">
  {{model.displayAddress}}
</td>
<td data-title="Email:">
  {{#if model.credential.email}}{{model.credential.email}}{{else}}<i class="text-muted">None</i>{{/if}}
</td>
<td data-title="Username:">
  {{#if model.credential.publicValue}}{{model.credential.publicValue}}{{else}}<i class="text-muted">None</i>{{/if}}
</td>
<td data-title="Created:">
  {{date-calendar model.created}}
</td>
<td data-title="Actions:" align="actions">
  {{action-menu model=model}}
</td>
