<table class="fixed grid sortable-table {{if bulkActions 'has-actions'}} {{if subRows 'has-sub-rows'}}">
  <thead>
    <tr class="fixed-header-placeholder">
      {{#if bulkActions}}
        <th width="30"></th>
      {{/if}}
      {{#each headers as |header idx|}}
        <th width={{if header.width header.width}}></th>
      {{/each}}
    </tr>
    {{#if (or paging search bulkActions)}}
      <div class="fixed-header-actions row">
        <div class="col span-8">
          {{#if bulkActions}}
            <div class="bulk-actions">
              {{#each availableActions as |action index|}}
                {{#if action.enabled}}
                  <a class="btn btn-sm bg-primary" href="#" onclick={{action 'executeBulkAction' action.action}} tabindex={{index}}>
                    {{t action.label}}
                    <i class="{{action.icon}}"></i>
                  </a>
                {{else}}
                  <a class="btn btn-sm bg-default btn-disabled" href="#" onclick="return false;" tabindex={{index}}>
                    {{t action.label}}
                    <i class="{{action.icon}}"></i>
                  </a>
                {{/if}}
              {{/each}}
              {{#if selectedNodes.length}}
                {{t pagingLabel pages=1 count=selectedNodes.length}}
              {{/if}}
            </div>
          {{/if}}
        </div>
        <div class="col span-4 clearfix">
          {{#if search}}
            <div class="pull-right input-group">
              {{input value=searchText type="search" class="input-sm" placeholder=(t 'generic.search')}}
              {{#if searchText}}
                <span class="input-group-btn">
                  <button class="btn bg-primary" {{action 'clearSearch'}}><i class="icon icon-close"/></button>
                </span>
              {{/if}}
            </div>
          {{/if}}
        </div>
      </div>
    {{/if}}

    <tr class="fixed-header">
      {{#if bulkActions}}
        <th width="40" class="select-for-action">
          {{check-box classNames="select-all-check" checked=isAll}}
        </th>
      {{/if}}
      {{#each headers as | header |}}
        {{#if header.sort}}
          {{sortable-thead
            sortable=this
            current=sortBy
            descending=descending
            action="changeSort"
            name=header.name
            isActions=header.isActions
            label=header.displayName
            translationKey=header.translationKey
            icon=header.icon
            classNames=header.classNames
          }}
        {{else}}
          {{#if header.translationKey}}
            <th width="{{header.width}}" class="{{header.classNames}}"> {{t header.translationKey}} </th>
          {{else}}
            <th width="{{header.width}}" class="{{header.classNames}}">&nbsp;</th>
          {{/if}}
        {{/if}}
      {{/each}}
    </tr>
  </thead>
  <tbody>
    {{#if prefix}}
      {{yield this 'prefix'}}
    {{/if}}
    {{#if fullRows}}
      {{#each pagedContent as |row|}}
        {{yield this 'row' row dt (array-includes childFilterNodes row.id)}}
      {{else}}
        {{yield this (if arranged.length 'nomatch' 'norows')}}
      {{/each}}
    {{else}}
      {{#each pagedContent as |row|}}
        <tr class="main-row">
          {{#if bulkActions}}
            <td width="40" class="select-for-action">
              {{check-box nodeId=row.id}}
            </td>
          {{/if}}
          {{#if hasBlock}}
            {{yield this 'row' row dt}}
          {{else}}
            {{#each headers as |header|}}
              <td data-title={{header.displayName}} data-id={{row.id}}>{{select-property row header.name}}</td>
            {{/each}}
          {{/if}}
        </tr>
        {{#if hasBlock}}
          {{yield this 'sub-row' row dt}}
        {{/if}}
      {{else}}
        {{#if hasBlock}}
          {{yield this (if arranged.length 'nomatch' 'norows')}}
        {{/if}}
      {{/each}}
    {{/if}}
    {{#if suffix}}
      {{yield this 'suffix'}}
    {{/if}}
  </tbody>
</table>
{{#if paging}}
  {{page-numbers content=pagedContent class="text-center mt-10 mb-10 no-select" indexTo=indexTo indexFrom=indexFrom totalCount=filtered.length textLabel=pagingLabel}}
{{/if}}
