{{partial "transitioning-progress"}}

<section>
  <div class="row">
    <div class="col-sm-6">
      <h3>{{displayName}}</h3>
    </div>
    <div class="col-sm-6 text-right">
      <h3 {{bind-attr class=":instance-status stateColor"}}>
        <i {{bind-attr class="stateIcon"}}></i> {{displayState}}
      </h3>
      <div {{bind-attr class=":force-wrap isError:text-danger:text-muted showTransitioningMessage::hide"}}>
        {{transitioningMessage}}
      </div>
    </div>
  </div>
</section>
