<div width="100%" class="hand bg-default clearfix" {{action "toggle"}}>
  <div class="inline-block">
    <div class="pull-left"><i role="button" class="icon icon-chevron-right eased text-small btn bg-transparent p-10 {{if expanded 'icon-rotate-90'}}"></i></div>
    <div class="inline-block">
      <span class="m-0">{{title}}</span>
      <p class="help-block">{{detail}}</p>
    </div>
  </div>

  <div rowspan="2" class="pull-right p-10 {{statusClass}}">
    {{status}}
  </div>
</div>
<div class="accordion-content {{unless expanded 'hide'}}">
  {{yield}}
</div>
