<table width="100%" class="hand" {{action "toggle"}}>
  <tbody>
    <tr>
      <td class="pl-10">
        <i role="button" class="icon icon-play eased text-small text-muted {{if expanded 'icon-rotate-90'}}"></i>
        {{title}}
      </td>
      <td rowspan="2" class="pr-10 text-right {{statusClass}}">
        {{status}}
      </td>
    </tr>
    <tr>
      <td class="pl-10">
        <p class="help-block">{{detail}}</p>
      </td>
    </tr>
  </tbody>
</table>
<div class="p-10 {{unless expanded 'hide'}}">
  {{yield}}
</div>
