<h4>Are you sure you want to delete:</h4>

<div style="margin: 30px 10px;">
  {{#each resources as |resource|}}
    <h3>{{resource.displayName}}</h3>
  {{/each}}
</div>

{{#if isEnvironment}}
  <div class="r-mb15">
    Note: All resources inside this Environment will be permanently removed, including any Hosts that were created through {{settings.appName}}.
  </div>
{{/if}}

<div class="text-muted" style="font-size: 12px;">
  ProTip: Hold the {{alternateLabel}} key while clicking Delete to bypass this confirmation.
</div>

<div class="footer-actions">
  <button {{action "confirm"}} class="btn btn-danger">Delete</button>
  <button {{action "cancel"}} class="btn btn-link">Cancel</button>
</div>
