<h2>
  {{t "moveNamespace.title"
    count=model.length
    name=model.firstObject.displayName
  }}
</h2>

{{#if (gt model.length 1)}}
  <ul class="list-unstyled">
    {{#each model as |item|}}
      <li>{{item.displayName}}</li>
    {{/each}}
  </ul>
{{/if}}

<h2 class="pt-20">
  {{t "moveNamespace.to"}}
</h2>
<ul class="list-unstyled pl-30">
  <label>
    {{radio-button
      selection=projectId
      value=null
    }}
    <b>{{t "generic.none"}}</b>
  </label>
  {{#each allProjects as |project|}}
    <li>
      <label>
        {{radio-button
          selection=projectId
          value=project.id
        }}
        {{project.displayName}}
      </label>
    </li>
  {{/each}}
</ul>

{{top-errors errors=errors}}
{{save-cancel
  editing=true
  saving=saving
  editLabel="moveNamespace.actionLabel"
  save=(action "save")
  cancel=(action "cancel")
}}
