<h2>{{t 'moveNamespace.title'}}</h2>

<h4>{{t 'moveNamespace.move' count=model.length}}</h4>
<ul>
  {{#each model as |item|}}
    <li>{{model.displayName}}</li>
  {{#each}}
</ul>

<h4>{{t 'moveNamespace.to'}}</h4>
<ul>
  {{#each allProjects as |project|}}
    <li>
      <label>
        {{radio-button selection=projectId value=project.id}}
        {{project.displayName}}
      </label>
    </li>
  {{/each}}
</ul>

{{top-errors errors=errors}}
{{save-cancel editing=editing save="save" cancel="cancel"}}
