<div class="row">
  <label>{{t "formIngress.label"}}</label>
</div>
<hr/>
{{#each rules as |rule|}}
  {{form-ingress-rows
    editing=editing
    ingress=ingress
    namespace=namespace
    removeRule=(action "removeRule")
    rule=rule
    rules=rules
  }}
{{else}}
  <div class="p-20">{{t "formIngress.noRules"}}</div>
{{/each}}

{{#if editing}}
  <div class="row">
    <button class="btn bg-link icon-btn pull-right" {{action "addRule"}}>
      <span class="darken"><i class="icon icon-plus text-small"></i></span>
      <span>{{t "formIngress.addRuleLabel"}}</span>
    </button>
  </div>
{{/if}}