<section class="header">
  <h1>
    {{t "editHost.title"}}
  </h1>
</section>
<section class="horizontal-form container-fluid">
  <div class="row inline-form">
    <div class="col span-2 col-inline">
      <label>
        {{t "editHost.hostname.label"}}
      </label>
    </div>
    <div class="col span-8">
      {{model.hostname}}
      <p class="text-info">
        {{t "editHost.hostname.help"}}
      </p>
    </div>
  </div>

  <div class="row inline-form">
    <div class="col span-2 col-inline">
      <label>
        {{t "editHost.customName.label"}}
      </label>
    </div>
    <div class="col span-8">
      {{input
        type="text"
        value=customName
        classNames="form-control"
        placeholder=(t "editHost.customName.placeholder")
      }}
    </div>
  </div>

  <div class="row inline-form">
    <div class="col span-2 col-inline">
      <label>
        {{t "editHost.description.label"}}
      </label>
    </div>
    <div class="col span-8">
      {{textarea
        value=primaryResource.description
        classNames="form-control no-resize"
        rows="5"
        placeholder=(t "editHost.description.placeholder")
      }}
    </div>
  </div>

  <div class="row inline-form">
    <div class="col span-12">
      {{#accordion-list showExpandAll=false as |al expandFn|}}
        {{form-labels-annotations
          classNames="accordion-wrapper"
          expandAll=al.expandAll
          expandFn=expandFn
          initialLabels=model.labels
          model=model
        }}
        {{#if taintCapabilites}}
          {{form-node-taints
            model=model
            isNode=true
          }}
        {{/if}}
      {{/accordion-list}}
    </div>
  </div>
</section>

{{top-errors errors=errors}}
{{save-cancel
  editing=editing
  save=(action "save")
  cancel=(action "cancel")
}}