{{stack-header model=model.stack all=model.all.stacks}}

<section>
  <div class="col-md-6">
    docker-compose.yml {{copy-to-clipboard clipboardText=model.dockerCompose size='small'}}
    {{code-block language="yaml" code=model.dockerCompose classNames="docker-compose"}}
  </div>
  <div class="col-md-6">
    rancher-compose.yml {{copy-to-clipboard clipboardText=model.rancherCompose size='small'}}
    {{code-block language="yaml" code=model.rancherCompose classNames="rancher-compose"}}
  </div>
</section>
