<rect width="{{width}}" height="{{height}}" style="opacity: .1;"/>
<foreignObject width="{{width}}" height="{{height}}">
  {{#if true}}
    {{! This seemingly useless if makes the foreignObject work for reasons unknown}}
    <body>
      <div class="node container" style="height:{{height}}px;width:{{width}}px" xmlns="http://www.w3.org/1999/xhtml">
        <div class="state {{stateBackground}}"></div>
        <div class="row">
          <div class="badge pull-right"><i class="icon icon-container"></i> {{containerCount}}</div>
          {{#if node.service.secondaryLaunchConfigs}}
            <span class="label label-default label-sidekick pull-right">{{t svgServiceContainer.sidekicks}}</span>
          {{/if}}
        </div>
        <div class="row title">
          <h5>{{node.service.name}}</h5>
        </div>
        <div class="row actions">
          {{action-menu model=node.service size='xs'}}
        </div>
        {{#if (not-eq node.service.displayType 'Service')}}
          <div class="container-badge">
            <div class="badge service">
              {{node.service.displayType}}
            </div>
          </div>
        {{/if}}
      </div>
    </body>
  {{/if}}
</foreignObject>
