{{top-errors errors=errors}}

<h2>{{t (if editing 'modalEditSnapshot.edit' 'modalEditSnapshot.create')}}</h2>

<div class="form-group">
  <label>{{t 'modalEditSnapshot.nameLabel'}}*</label>
  {{input class="form-control" value=snapshotName }}
</div>

{{save-cancel editing=editing save="saveSnapshot" cancel="cancel"}}
