<section class="header has-tabs clearfix hosts-cloud-new">
  <div class="row">
    <h1>{{t 'hostsPage.new.header.text'}}</h1>
    {{#select-tab initialTab=from tab=(mut tab) tagName='div' classNames='inline-block' as |component|}}
        <ul class="tab-nav" style="display: inline-block" role="tablist">
          <li class="tab" role="tab" aria-controls="panel" data-section="favorites" {{action "selectTab" "favorites" target=component}}>
            <a href="#" {{action 'sendTab' 'favorites'}}>{{t 'hostsPage.cloudHostsPage.tabs.fav'}}</a>
          </li>
          <li class="tab" role="tab" aria-controls="panel" data-section="browse" {{action "selectTab" "browse" target=component}}>
            <a href="#" {{action 'sendTab' 'browse'}}>{{t 'hostsPage.cloudHostsPage.tabs.browse'}}</a>
          </li>
        </ul>
    {{/select-tab}}
  </div>
</section>

<section class="mt-20">
  <div class="horizontal-form" role="tabpanel">
    <div class="section" data-section="{{tab}}">
      {{partial (concat 'host/cloud/' tab)}}
    </div>
  </div>
</section>
