<div class="row">
  <div class="col span-6">
    <div class="radio mb-10">
      <label>{{radio-button disabled=(not editing) selection=workloadConfig.strategy value="RollingUpdate"}} {{t 'formUpgrade.strategy.rollingUpdate'}}</label>
    </div>
    <div class="radio">
      <label>{{radio-button disabled=(not editing) selection=workloadConfig.strategy value="OnDelete"}} {{t 'formUpgrade.strategy.onDelete'}}</label>
    </div>
  </div>
  <div class="col span-6">
    <div class="box mt-10">
      <label class="acc-label">{{t 'formUpgrade.strategy.maxUnavailable.label'}}</label>
      {{#input-or-display editable=editing value=workloadConfig.maxUnavailable}}
        <div class="input-group">
          {{input classNames="form-control" value=workloadConfig.maxUnavailable}}
          <span class="input-group-addon bg-default">{{t 'pagination.podLabel' count=workloadConfig.maxUnavailable}}</span>
        </div>
        <p class="help-block">{{t 'formUpgrade.strategy.maxUnavailable.detail'}}</p>
      {{/input-or-display}}
    </div>
  </div>
</div>

<hr/>

<div class="row">
  <div class="col span-6">
    <div class="box">
      <label class="acc-label">{{t 'formUpgrade.strategy.minReadySeconds.label'}}</label>
      {{#input-or-display editable=editing value=workloadConfig.minReadySeconds}}
        <div class="input-group">
          {{input classNames="form-control" value=workloadConfig.minReadySeconds}}
          <span class="input-group-addon bg-default">{{t 'generic.seconds'}}</span>
        </div>
        <p class="help-block">{{t 'formUpgrade.strategy.minReadySeconds.detail'}}</p>
      {{/input-or-display}}
    </div>
  </div>
</div>
