<div class="welcome-copy">
{{!--     <div class="row">
      <div class="col span-4 offset-4"> --}}

{{!--       </div>
    </div> --}}

    <h1 class="alert-header">{{t 'modalWelcome.header' appName=settings.appName}}</h1>

  <hr/>
  <div class="row">
  <div class="col span-4">
    <img src="{{app.baseAssets}}assets/images/welcome-scene.svg" />
    </div>
    <div class="col span-8">
    <p>{{t 'telemetryOpt.subtext' appName=settings.appName htmlSafe=true}}</p>

    <div class="col-inline checkbox pt-30 text-small">
      <label>{{input type="checkbox" checked=optIn}} {{t 'telemetryOpt.label'}}</label> <a href="{{settings.docsBase}}/faq/telemetry" target="_blank" rel="noopener nofollow">{{t 'telemetryOpt.learnMore.label'}}</a>
    </div>
    </div>
  </div>

  <div class="footer-actions">
    <button {{action "cancel"}} class="btn bg-primary">{{t 'modalWelcome.closeModal'}}</button>
  </div>
</div>
