<tr class="main-row">
  <td class="row-check" valign="middle" style="padding-top: 2px;">
    {{check-box nodeId=model.id}}
  </td>
  <td data-title="{{dt.state}}" class="state">
    {{badge-state model=model}}
  </td>
  <td data-title="{{dt.name}}">
    {{#link-to-external 'authenticated.cluster' model.id}}{{model.displayName}}{{/link-to-external}}
  </td>
  <td data-title="{{dt.provider}}">
    {{model.displayProvider}}
  </td>
  {{#if (eq model.state "inactive")}}
    <td colspan="4" class="text-center">
      {{t 'clusterRow.noHosts'}}
    /td>
  {{else}}
    <td data-title="{{dt.hosts}}">
      {{model.machines.length}}
    </td>
    <td data-title="{{dt.cpu}}">
      {{#if model.cpuUsage}}
        {{model.cpuUsage}}
      {{else}}
        <span class="text-muted">
          {{t 'generic.na'}}
        </span>
      {{/if}}
    </td>

    <td data-title="{{dt.memory}}">
      {{#if model.memoryUsage}}
        {{model.memoryUsage}}
      {{else}}
        <span class="text-muted">
          {{t 'generic.na'}}
        </span>
      {{/if}}
    </td>

    <td data-title="{{dt.pod}}">
      {{#if model.podUsage}}
        {{model.podUsage}}
      {{else}}
        <span class="text-muted">
          {{t 'generic.na'}}
        </span>
      {{/if}}
    </td>
  {{/if}}
  <td data-title="{{dt.actions}} "class="actions">
    {{action-menu model=model}}
  </td>
</tr>

{{#if model.showTransitioningMessage}}
  {{error-sub-row fullColspan=fullColspan model=model}}
{{/if}}
