<div style={{positionStyle}} class={{hiddenClass}} >
  <ul class="dropdown-menu js-hint-dropdown" style="position: static;display:inline-block;max-height: 200px;overflow: scroll">
    {{#if loading}}
      <li>loading...</li>
    {{else}}
      {{#each matchedArry as |hint index|}}
        <li class="{{if (eq activeIndex index) 'active' ''}}" {{action "clickHint" hint}}> <a href="#">{{hint}}</a> </li>
      {{/each}}
    {{/if}}
  </ul>
</div>