<div style={{positionStyle}} class={{hiddenClass}} >
  <ul class="dropdown-menu" style="position: static;display:inline-block;max-height: 200px;overflow: scroll">
    {{#if loading}}
      <li>loading...</li>
    {{else}}
      {{#each matchedArry as |hint|}}
        <li {{action "clickHint" hint}}> <a href="#">{{hint}}</a> </li>
      {{/each}}
    {{/if}}
  </ul>
</div>