<h2 class="mt-30">
  {{t "loggingPage.splunk.header"}}
  <span class="text-info text-small">
    {{t "loggingPage.splunk.helpText" htmlSafe=true}}
  </span>
</h2>
<hr/>
<section class="box">
  <div class="mb-30">
    <label class="acc-label" for="">{{t "loggingPage.endpoint"}}{{field-required}}</label>
    {{input
      type="text"
      value=config.endpoint
      classNames="form-control"
      placeholder=(t "loggingPage.splunk.endpoint.placeholder")
      id="splunk-endpoint"
    }}
  </div>

  <div class="row">
    <div class="col span-12 mt-0 pt-0">
      <label class="acc-label" for="">{{t "loggingPage.splunk.token"}}{{field-required}}</label>
      {{input
        type="text"
        value=config.token
        classNames="form-control"
        placeholder=(t "loggingPage.splunk.tokenPlaceholder")
      }}
      <p class="text-info text-small">
        {{t "loggingPage.splunk.tokenHelpText" htmlSafe=true}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col span-6 mt-0 pt-0">
      <label class="acc-label" for="">{{t "loggingPage.splunk.source"}}</label>
      {{input
        type="text"
        value=config.source
        classNames="form-control"
        placeholder=(t "loggingPage.splunk.sourcePlaceholder")
      }}
      <p class="text-info text-small">
        {{t "loggingPage.splunk.sourceHelpText" htmlSafe=true}}
      </p>
    </div>
    <div class="col span-6 mt-0 pt-0">
      <label class="acc-label" for="">{{t "loggingPage.splunk.index"}}</label>
      {{input
        type="text"
        value=config.index
        classNames="form-control"
        placeholder=(t "loggingPage.splunk.indexPlaceholder")
      }}
      <p class="text-info text-small">
        {{t "loggingPage.splunk.indexHelpText" htmlSafe=true}}
      </p>
    </div>
  </div>
</section>

{{logging/form-log-ssl
  config=config
  targetType=targetType
  disabled=(not enableSSLConfig)
}}

{{logging/form-log-format
  logPreview=logPreview
  model=model
  loggingModel=parentModel
}}
{{!--
{{#advanced-section advanced=showAdvanced}}
{{logging/form-log-docker model=model parentModel=parentModel}}
{{/advanced-section}} --}}
