{{#unless secretOnly}}
  <td data-title="{{t "formSources.kind.label"}}">
    {{#if editing}}
      {{new-select
        classNames="form-control"
        optionValuePath="id"
        content=sources
        value=source.source
      }}
    {{else}}
      {{#if source.source}}
        {{source.source}}
      {{else}}
        <span class="text-muted">{{t "generic.na"}}</span>
      {{/if}}
    {{/if}}
  </td>
  <td>&nbsp;</td>
{{/unless }}
<td>
  {{input type="text" value=source.name classNames="form-control" placeholder=(t "formSources.fooPlaceholder")}}
</td>
<td>&nbsp;</td>
<td data-title="{{t "formSources.kind.label"}}">
  {{#if editing}}
    {{#if (eq source.source "secret")}}
      {{schema/input-secret
        namespace=namespace
        value=source.valueFrom
        valueKey="name"
        selectedSecret=selectedSecret
      }}
    {{else if (eq source.source "configMap")}}
      {{schema/input-config-map
        namespace=namespace
        value=source.valueFrom
        valueKey="name"
        selectedConfigMap=selectedConfigMap
      }}
    {{else if (eq source.source "resource")}}
      {{input type="text" value=source.valueFrom classNames="form-control" placeholder=(t "formSources.containerPlaceholder")}}
    {{else if (eq source.source null)}}
      {{input type="text" value=source.value classNames="form-control" placeholder=(t "formSources.barPlaceholder")}}
    {{else}}
      <span class="text-muted">&ndash;</span>
    {{/if}}
  {{/if}}
</td>
<td>&nbsp;</td>
<td data-title="{{t "formSources.prefixOrKey.label"}}">
  {{#if (or (eq source.source "secret") (eq source.source "configMap"))}}
    {{searchable-select
      placeholder=valuePlaceholder
      classNames="form-control"
      optionValuePath="id"
      optionLabelPath="label"
      content=prefixOrKeys
      value=source.value
      readOnly=(or (not source.valueFrom) (not editing))
    }}
  {{else if (eq source.source "resource")}}
    {{new-select
      classNames="form-control"
      optionValuePath="id"
      content=resourceKeyOpts
      value=valueFrom
    }}
  {{else if (eq source.source "field")}}
    {{input type="text" value=source.value classNames="form-control" placeholder=(t "formSources.labelsKeyPlaceholder")}}
  {{else}}
    <span class="text-muted">&ndash;</span>
  {{/if}}
</td>
<td>
  {{#if editing}}
    <button class="btn bg-primary btn-sm" type="button" {{action remove source}}>
      <i class="icon icon-minus"/><span class="sr-only">{{t "generic.remove"}}</span>
    </button>
  {{/if}}
</td>