<section>
  <h3>
    <span class="right-divider">Environments</span>
    <button class="btn btn-sm btn-primary right-divider-btn" {{action "new"}}>Add Environment</button>
  </h3>
</section>
<section>
  <div class="well">
    <p>Rancher supports grouping resources into multiple <b>environments</b>.  Each one gets its own set of services and infrastructure resources, and is owned by one or more GitHub users, teams or organizations.</p>
    <p>For example, you might create separate &quot;dev&quot;, &quot;test&quot;, and &quot;production&quot; environments to keep things isolated from each other, and give &quot;dev&quot; access to your entire organization but restrict the &quot;production&quot; environment to a smaller team.</p>
  </div>

  {{#unless projects.current}}
    <div class="alert alert-danger"><i class="ss-alert"></i> There are no active environments.  You will need to create or activate one before you can do anything else.</div>
  {{/unless}}
</section>

<section class="well">
  <table class="grid fixed" style="margin-bottom: 0">
    <thead>
      <tr>
        {{sortable-th sortable=this action="changeSort" name="state" width="120"}}
        {{sortable-th sortable=this action="changeSort" name="name"}}
        {{sortable-th sortable=this action="changeSort" name="description"}}
        <th width="80">Default</th>
        <th width="50">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each arranged as |p|}}
        <tr>
          <td>
            <span class="badge state {{p.stateBackground}}">
              {{p.displayState}}
            </span>
          </td>
          <td>
            {{#link-to "settings.project-detail" p.id}}{{p.displayName}}{{/link-to}}
          </td>
          <td>
            {{#if p.description}}{{p.description}}{{else}}<span class="text-muted">No description</span>{{/if}}
          </td>
            <td>
              {{#if p.isDefault}}<i class="ss-check"></i>{{else}}<span class="text-muted">&ndash;</span>{{/if}}
            </td>
          <td align="right">
            {{#with p controller="project" as |ctrl|}}
              {{resource-actions-menu model=ctrl choices=ctrl.availableActions parentController=this}}
            {{/with}}
          </td>
        </tr>
      {{else}}
        <tr><td colspan="4" class="text-center text-muted">You don't have any environments yet.</td></tr>
      {{/each}}
    </tbody>
  </table>
</section>
