<section class="header">
  <h1>{{t 'k8sTab.namespaces.header'}}</h1>

  {{#link-to "k8s-tab.apply" (query-params kind="Namespace") classNames="btn btn-sm btn-primary"}}{{t 'k8sTab.namespaces.linkTo'}}{{/link-to}}
</section>

<section class="well instances">
  <table class="grid fixed" style="margin-bottom: 0;">
    <thead>
      <tr>
        {{sortable-th sortable=this action="changeSort" name="name" label='generic.name'}}
        <th class="actions" width="85">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each arranged as |ns|}}
        {{k8s/ns-row model=ns}}
      {{else}}
        <tr><td colspan="5" class="text-center text-muted">{{t 'k8sTab.namespaces.table.body.noData'}}</td></tr>
      {{/each}}
    </tbody>
  </table>
</section>

