<div class="row">
  <div class="col-md-6 form-label">
    <label class="form-control-static">{{t 'formImage.label'}}*</label>
  </div>
  <div class="col-md-6 radio r-mb0">
    <label class="form-control-static r-pl0">{{input type="checkbox" checked=pullImage}} {{t 'formImage.pullImage.label'}}</label>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    {{#if isVm}}
      <div class="input-group">
        {{input type="text" value=userInput placeholder=(t 'formImage.vm.placeholder') class="form-control"}}
        <div class="input-group-btn">
          <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon icon-chevron-down"></i></button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu" style="min-width: 250px; max-height: 300px; overflow-y: auto;">
            <li role="presentation" class="dropdown-header">{{t 'formImage.vm.dropdownLabel' appName=settings.appName}}</li>
            <li><a href="#" {{action "setInput" "rancher/vm-ubuntu"}}>rancher/vm-ubuntu</a></li>
            <li><a href="#" {{action "setInput" "rancher/vm-centos"}}>rancher/vm-centos</a></li>
            <!--<li><a href="#" {{action "setInput" "rancher/vm-rancheros"}}>rancher/vm-rancheros</a></li>-->
          </ul>
        </div>
      </div>
    {{else}}
      {{input type="text" class="form-control" value=userInput placeholder=(t 'formImage.container.placeholder')}}
    {{/if}}
  </div>
</div>
