<form {{action "authenticate" on="submit"}} class="text-left">
  <p class="text-center">
    <button disabled={{waiting}} class="btn bg-primary" {{action "authenticate"}}>
      {{t 'loginShibboleth.buttonText'}}
    </button>
    <a href="{{outRoute}}/v1-auth/saml/logout" target="_blank" class="inline-block mt-15">IDP Logout</a>
  </p>
</form>
