<section class="header clearfix">
  <h1>{{mode}}{{uc-first type}}Yaml</h1>
</section>

<section class="container-fluid">
{{input-text-file mode="yaml" accept=".yml, .yaml" name=name canChangeName=false value=model.yaml placeholder="pipelinesPage.importPlaceHolder"}}

</section>

{{top-errors errors=errors}}
{{save-cancel save="save" cancel="cancel" createLabel=createLabel}}
