{{#multi-container-stats model=model linkName=linkName emitMaps=true as |stats|}}
  {{#liquid-if (eq mode "small") class=(if stats.loading 'child-loading')}}
    {{#if stats.loading}}
      <span class="text-muted" style="position: relative; top: 3px;">Connecting&hellip;</span>
    {{else if stats.active}}
      {{spark-line
        data=stats.cpuTotal
        width=smallWidth height=smallHeight
        prefix="containersPage.table.sparkPrefixCpu"
        formatter="percent"
        gradient="cpu"
        minMax=100
      }}

      {{spark-line
        data=stats.memory
        width=smallWidth height=smallHeight
        prefix="containersPage.table.sparkPrefixMemory"
        formatter="mib"
        gradient="memory"
        maxDoubleInital=true
      }}

      {{spark-line
        data=stats.networkTotal
        width=smallWidth height=smallHeight
        prefix="containersPage.table.sparkPrefixNetwork"
        formatter="kbps"
        gradient="network"
        minMax=100
      }}

      {{spark-line
        data=stats.storageTotal
        width=smallWidth height=smallHeight
        prefix="containersPage.table.sparkPrefixStorage"
        formatter="kbps"
        gradient="storage"
        minMax=100
      }}

      <button class="btn btn-sm bg-transparent hide" style="vertical-align: top" {{action "toggle"}}><i class="icon icon-plus-circle"></i></button>
    {{else}}
      <span class="text-muted" style="position: relative; top: 4px;">Stats not available</span>
    {{/if}}
  {{/liquid-if}}
  {{#if (eq mode "large")}}
    {{#ember-wormhole to=largeTargetId}}
      <div class="row">
        <div class="col span-6">
        </div>
        <div class="col span-6">
        </div>
      </div>
      <div class="row">
        <div class="col span-6">
          {{!-- graph-area data=stats.maps fields=networkFields gradient="network"--}}
        </div>
        <div class="col span-6">
        </div>
      </div>
      <button class="btn btn-sm bg-transparent" style="vertical-align: top" {{action "toggle"}}><i class="icon icon-minus-circle"></i></button>
    {{/ember-wormhole}}
  {{/if}}
{{/multi-container-stats}}
