<section class="header">
  <h1>Processes</h1>
</section>
<section class="processes">
  <ul class="nav nav-tabs nav-tabs-well shadowed" role="tablist">
    <li role="tab" aria-controls="panel" class={{if showRunning 'active' ''}}>
      <a href="#" {{action 'showRunningProcesses'}}>Running</a>
    </li>
    <li role="tab" aria-controls="panel" class={{if showRunning '' 'active'}}>
      <a href="#" {{action 'showRunningProcesses'}}>All</a>
    </li>
  </ul>
  <div  class="well" role="tabpanel">
    <div class="row r-mb20">
      <div class="form-inline r-ml15 inline-block">
        <div class="form-group">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{if resourceTypeReadable resourceTypeReadable 'Select a Resource type: '}} <i class="icon icon-chevron-down"></i></button>
          <ul class="dropdown-menu" role="menu">
            {{#each model.resourceTypes as |resource|}}
            <li {{action 'updateType' resource}}>
              <a href="#">{{resource}}</a>
            </li>
            {{/each}}
          </ul>

          {{input value=ownResourceId class="form-control input-sm r-mr5" enter='submit' placeholder='Resource Id' disabled=disableId}}
          {{input value=ownProcessName class="form-control input-sm r-mr5" enter='submit' placeholder='Process Name'}}
          <button class="btn btn-primary btn-danger btn-sm inline-block" {{action 'reset'}} disabled={{disableClear}}>Clear</button>
          <button class="btn btn-primary btn-sm inline-block" {{action 'submit'}} disabled={{disableSearch}}>Search</button>
        </div>
      </div>
    </div>
    <table class="grid fixed table table-hover">
      <thead>
        {{sortable-th sortable=this action="changeSort" name="id" width="75"}}
        {{sortable-th sortable=this action="changeSort" name="processName" label="Name"}}
        {{sortable-th sortable=this action="changeSort" name="resource" label="Resource Type:Id"}}
        {{sortable-th sortable=this action="changeSort" name="exitReason" width="150"}}
        {{sortable-th sortable=this action="changeSort" name="startTime" label="Started" width="100"}}
        {{sortable-th sortable=this action="changeSort" name="endTime" label="Ended" width="100"}}
        {{sortable-th sortable=this action="changeSort" name="runTime" label="Duration" width="100"}}
      </thead>
      <tbody>
        {{#each arranged as |instance|}}
          {{#link-to 'admin-tab.processes.process' instance.id tagName="tr" classNames='hand'}}
              <td data-title="ID:">
                <span class={{if instance.endTime 'label label-success' 'label label-warning'}}>{{instance.id}}</span>
              </td>
              <td data-title="Name:" class="clip"><span title={{instance.processName}}>{{instance.processName}}</span></td>
              <td data-title="Resource Type(ID):" class="clip"><span title={{instance.resourceType}}>{{instance.resourceType}}:{{instance.resourceId}}</span></td>
              <td data-title="Exit Reason:">{{instance.exitReason}}</td>
              {{#if instance.startTime}}
                <td data-title="Started:">{{date-from-now instance.startTime}}</td>
              {{else}}
                <td></td>
              {{/if}}
              {{#if instance.endTime}}
                <td data-title="Ended:">{{date-from-now instance.endTime}}</td>
              {{else}}
                <td></td>
              {{/if}}
              <td data-title="Duration:">{{run-time instance.startTimeTS instance.endTimeTS}}</td>
          {{/link-to}}
        {{else}}
          <tr><td colspan="7" class="text-center text-muted">There are no recent processes.</td></tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
