<section class="header">
  <h1>{{t 'processesPage.indexPage.header'}}</h1>
</section>
<section class="processes tabs">
  <ul class="tab-header shadowed" role="tablist">
    <li role="tab" aria-controls="panel" class={{if showRunning 'active' ''}}>
      <a href="#" {{action 'showRunningProcesses'}}>{{t 'processesPage.indexPage.tabNav.running'}}</a>
    </li>
    <li role="tab" aria-controls="panel" class={{if showRunning '' 'active'}}>
      <a href="#" {{action 'showRunningProcesses'}}>{{t 'processesPage.indexPage.tabNav.all'}}</a>
    </li>
  </ul>
  <div  class="well" role="tabpanel">
    <div class="row mb-20">
      <div class="form-inline ml-15 inline-block">
        <div class="form-group">
          <button type="button" class="btn btn-sm bg-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{if resourceTypeReadable resourceTypeReadable (t 'processesPage.indexPage.form.resourceType')}} <i class="icon icon-chevron-down"></i></button>
          <ul class="dropdown-menu" role="menu">
            {{#each model.resourceTypes as |resource|}}
            <li {{action 'updateType' resource}}>
              <a href="#">{{resource}}</a>
            </li>
            {{/each}}
          </ul>

          {{input value=ownResourceId class="form-control input-sm mr-5" enter='submit' placeholder=(t 'processesPage.indexPage.form.resourceId.placeholder') disabled=disableId}}
          {{input value=ownProcessName class="form-control input-sm mr-5" enter='submit' placeholder=(t 'processesPage.indexPage.form.processName.placeholder')}}
          <button class="btn btn-primary btn-danger btn-sm inline-block" {{action 'reset'}}>{{t 'processesPage.indexPage.form.clear'}}</button>
          <button class="btn btn-primary btn-sm inline-block" {{action 'submit'}}>{{t 'processesPage.indexPage.form.search'}}</button>
        </div>
      </div>
    </div>
    <table class="grid fixed table table-hover">
      <thead>
        {{sortable-th sortable=this action="changeSort" name="id" label='processesPage.indexPage.table.header.id' width="75"}}
        {{sortable-th sortable=this action="changeSort" name="processName" label='processesPage.indexPage.table.header.processName'}}
        {{sortable-th sortable=this action="changeSort" name="resource" label='processesPage.indexPage.table.header.resource'}}
        {{sortable-th sortable=this action="changeSort" name="exitReason" label='processesPage.indexPage.table.header.exitReason' width="150"}}
        {{sortable-th sortable=this action="changeSort" name="startTime" label='processesPage.indexPage.table.header.startTime' width="100"}}
        {{sortable-th sortable=this action="changeSort" name="endTime" label='processesPage.indexPage.table.header.endTime' width="100"}}
        {{sortable-th sortable=this action="changeSort" name="runTime" label='processesPage.indexPage.table.header.duration' width="100"}}
      </thead>
      <tbody>
        {{#each arranged as |instance|}}
          <tr>
            <td data-title="{{t 'processesPage.indexPage.table.header.id'}}:">
              <span class={{if instance.endTime 'label label-success' 'label label-warning'}}>{{instance.id}}</span>
            </td>
            <td data-title="{{t 'processesPage.indexPage.table.header.processName'}}:" class="clip">{{#link-to 'admin-tab.processes.process' instance.id classNames='hand'}}<span title={{instance.processName}}>{{instance.processName}}</span>{{/link-to}}</td>
            <td data-title="{{t 'processesPage.indexPage.table.header.resource'}}:" class="clip">
              {{process-link model=instance}}
            </td>
            <td data-title="{{t 'processesPage.indexPage.table.header.processName'}}:">{{instance.exitReason}}</td>
            {{#if instance.startTime}}
              <td data-title="{{t 'processesPage.indexPage.table.header.startTime'}}:">{{date-from-now instance.startTime}}</td>
            {{else}}
              <td></td>
            {{/if}}
            {{#if instance.endTime}}
              <td data-title="{{t 'processesPage.indexPage.table.header.endTime'}}:">{{date-from-now instance.endTime}}</td>
            {{else}}
              <td></td>
            {{/if}}
            <td data-title="{{t 'processesPage.indexPage.table.header.duration'}}:">{{run-time instance.startTimeTS instance.endTimeTS}}</td>
          </tr>
        {{else}}
          <tr><td colspan="7" class="text-center text-muted">{{t 'processesPage.indexPage.table.noData'}}</td></tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
