{{#sortable-table
  classNames="lacsso grid sortable-table"
  bulkActions=false
  paging=false
  search=false
  sortBy=sortBy
  headers=headers
  body=model.summary
  as |row kind|
}}
  {{#if (eq kind "row")}}
    <td data-title="{{headers.0.displayName}}: ">{{row.processName}}</td>
    <td data-title="{{headers.1.displayName}}: ">{{row.running}}</td>
    <td data-title="{{headers.2.displayName}}: ">{{row.ready}}</td>
    <td data-title="{{headers.3.displayName}}: ">{{row.delay}}</td>
  {{else if (eq kind "norows")}}
    <td colspan="4" class="text-center text-muted lacsso pt-20 pb-20">{{t 'processesPage.summary.noData'}}</td>
  {{/if}}
{{/sortable-table}}
