<table class="grid fixed">
  <thead>
    <tr>
      <th width="90">State</th>
      <th width="150">IP Address</th>
      <th>Public (on Host)</th>
      <th>Private (in Container)</th>
      <th width="90">Protocol</th>
    </tr>
  </thead>
  <tbody>
    {{#each model as |port|}}
      <tr>
        <td data-title="State">
          {{badge-state model=port}}
        </td>
        <td data-title="IP Address">
          {{#if port.displayPublicIp}}
            {{port.displayPublicIp}}
          {{else}}
            <span class="text-muted">None</span>
          {{/if}}
        </td>
        <td data-title="Public (on Host)">
          {{#if port.publicPort}}
            {{port.publicPort}}
          {{else}}
            <span class="text-muted">None</span>
          {{/if}}
        </td>
        <td data-title="Private (in Container)">
          {{#if port.privatePort}}
            {{port.privatePort}}
          {{else}}
            <span class="text-muted">None</span>
          {{/if}}
        </td>
        <td data-title="Protocol">
          {{upper-case port.protocol}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="5">
          <div class="text-muted text-center">This container has no ports.</div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
