<table class="grid fixed">
  <thead>
    <tr>
      <th width="150">{{t 'containersPage.containerPage.portsTab.table.header.ip'}}</th>
      <th>{{t 'containersPage.containerPage.portsTab.table.header.public'}}</th>
      <th>{{t 'containersPage.containerPage.portsTab.table.header.private'}}</th>
      <th width="90">{{t 'containersPage.containerPage.portsTab.table.header.protocol'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.ports as |port|}}
      <tr>
        <td data-title="{{t 'containersPage.containerPage.portsTab.table.header.ip'}}:">
          {{#if port.displayPublicIp}}
            {{port.displayPublicIp}}
          {{else}}
            <span class="text-muted">{{t 'generic.none'}}</span>
          {{/if}}
        </td>
        <td data-title="{{t 'containersPage.containerPage.portsTab.table.header.public'}}:">
          {{#if port.publicPort}}
            {{port.publicPort}}
          {{else}}
            <span class="text-muted">{{t 'generic.none'}}</span>
          {{/if}}
        </td>
        <td data-title="{{t 'containersPage.containerPage.portsTab.table.header.private'}}:">
          {{#if port.privatePort}}
            {{port.privatePort}}
          {{else}}
            <span class="text-muted">{{t 'generic.none'}}</span>
          {{/if}}
        </td>
        <td data-title="{{t 'containersPage.containerPage.portsTab.table.header.protocol'}}:">
          {{upper-case port.protocol}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td colspan="5">
          <div class="text-muted text-center">{{t 'containersPage.containerPage.portsTab.table.body.noData'}}</div>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
