{{#accordion-list-item
    title=(t 'formSecrets.title')
    detail=(t 'formSecrets.detail' appName=settings.appName)
    status=status
    statusClass=statusClass
    expandAll=expandAll
    expand=(action expandFn)
}}
  {{#if haveAny}}
    {{#if editing}}
      <button class="btn bg-link icon-btn" {{action "addSecret"}}>
        <span class="darken"><i class="icon icon-plus text-small"/></span>
        <span>{{t 'formSecrets.addLabel'}}</span>
      </button>
    {{/if}}

    {{#if secrets.length}}
      <table class="grid fixed no-lines mt-10 cell-padding">
        <tr>
          <th class="text-muted">{{t 'formSecrets.secret.label'}}{{field-required}}</th>
          <th width="30">&nbsp;</th>
          <th class="text-muted">{{t 'formSecrets.name.label'}}</th>
          {{#if showPermissions}}
            <th class="divided text-muted">{{t 'formSecrets.uid.label'}}</th>
            <th class="text-muted">{{t 'formSecrets.gid.label'}}</th>
            <th class="text-muted">{{t 'formSecrets.mode.label'}}</th>
          {{/if}}
          <th width="40">&nbsp;</th>
        </tr>
        {{#each secrets as |row|}}
          <tr>
            <td data-title="{{t 'formSecrets.secret.label'}}: ">
              {{#if editing}}
                {{schema/input-secret selectClass="form-control input-sm" selected=row.secretId}}
              {{else}}
                {{row.alias}}
              {{/if}}
            </td>

            <td class="text-center">
              <p><i class="icon icon-chevron-right"></i></p>
            </td>

            <td data-title="{{t 'formSecrets.name.label'}}: ">
              {{#input-or-display editable=editing value=row.name}}
                {{input type="text" class="form-control input-sm" value=row.name placeholder=(t 'formSecrets.name.placeholder')}}
              {{/input-or-display}}
            </td>

            {{#if showPermissions}}
              <td class="divided" data-title="{{t 'formSecrets.uid.label'}}: ">
                {{#input-or-display editable=editing value=row.uid}}
                  {{input-integer type="text" class="form-control input-sm" value=row.uid placeholder=(t 'formSecrets.uid.placeholder')}}
                {{/input-or-display}}
              </td>
              <td data-title="{{t 'formSecrets.gid.label'}}: ">
                {{#input-or-display editable=editing value=row.gid}}
                  {{input-integer class="form-control input-sm" value=row.gid placeholder=(t 'formSecrets.gid.placeholder')}}
                {{/input-or-display}}
              </td>

              <td data-title="{{t 'formSecrets.mode.label'}}: ">
                {{#input-or-display editable=editing value=row.mode}}
                  {{input-integer class="form-control input-sm" value=row.mode placeholder=(t 'formSecrets.mode.placeholder')}}
                {{/input-or-display}}
              </td>
            {{/if}}

              <td class="text-right">
                {{#if editing}}
                  <button class="btn bg-primary btn-sm" {{action "removeSecret" row}}><i class="icon icon-minus"/><span class="sr-only">{{t 'generic.remove'}}</span></button>
                {{/if}}
              </td>
          </tr>
        {{/each}}
      </table>
      <p class="help-block">
        {{t 'formSecrets.help.prefix' htmlSafe=true}}
        {{#unless showPermissions}}
          <a href="#" {{action "showPermissions"}}>
            {{t 'formSecrets.help.showPermissionsLink'}}
          </a>
        {{/unless}}
        {{t 'formSecrets.help.suffix' htmlSafe=true}}
      </p>
    {{else if (not editing)}}
      <span class="text-muted">{{t 'formSecrets.noData'}}</span>
    {{/if}}
  {{else}}
    {{t 'formSecrets.noneDefined'}}
  {{/if}}
{{/accordion-list-item}}
