<div class="host-header">
  <div {{bind-attr class=":host-overlay stateBackground"}}>
    <div class="host-name">{{model.displayName}}</div>
    {{resource-actions model=model choices=model.primaryActions big=true}}
  </div>

  <div {{bind-attr class=":host-state stateBackground"}}>{{model.displayState}}</div>
  <div class="host-icon"><i {{bind-attr class=":fa :fa-lg model.stateIcon iconColor"}}></i></div>
  <div class="host-name">{{model.displayName}}</div>
</div>

<div class="host-info clearfix">
  <div class="host-info-item"><i class="fa fa-sm fa-link"></i> {{model.displayIp}}</div>
</div>

<div class="clearfix">
  {{#if dot}}
    {{#each item in model.arrangedInstances itemController="container"}}
      {{container-dot model=item}}
    {{/each}}
  {{else}}
    {{#each item in model.arrangedInstances itemController="container"}}
      {{container-widget model=item}}
    {{else}}
      <div class="text-center text-muted">No containers</div>
    {{/each}}
  {{/if}}
</div>
