<div class="host-header">
  {{resource-actions-menu model=model choices=model.availableActions}}

  <div {{bind-attr class=":host-state stateBackground"}}><span>{{model.displayState}}</span></div>
  <div class="host-icon"><i {{bind-attr class=":fa-lg model.stateIcon iconColor"}}></i></div>
  <div class="host-name">
    {{#if isMachine}}
      {{model.displayName}}
    {{else}}
      {{#link-to "host" model.id}}{{model.displayName}}{{/link-to}}
      {{#if model.showTransitioningMessage}}
        <div {{bind-attr class=":host-message model.isError:text-danger:text-muted"}}>
          {{model.transitioningMessage}}
        </div>
      {{/if}}
    {{/if}}
  </div>
  {{#if model.isTransitioning}}
    <div class="progress progress-striped active">
      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" {{bind-attr aria-valuenow=model.displayProgress style=model.progressStyle}}>
        <span class="sr-only">{{model.displayProgress}}% Complete</span>
      </div>
    </div>
  {{/if}}
</div>

{{#if isMachine}}
  <div class="machine-info">
    {{#if isActive}}
      <i class="fa fa-spinner fa-spin"></i>
      Waiting for host to check in&hellip;
    {{else}}
      {{#if model.isError}}
        {{#if model.transitioningMessage}}
          <span class="text-danger">{{model.transitioningMessage}}</span>
        {{else}}
          <span class="text-danger">Error creating machine</span>
        {{/if}}
      {{else}}
        <div class="color:black;">Setting up machine&hellip;</div>
        {{model.transitioningMessage}}
      {{/if}}
    {{/if}}
  </div>
{{else}}
  <div class="host-info clearfix">
    <div class="host-info-line">
      <div class="host-info-item"><i class="ss-link"></i> {{model.displayIp}}</div>
      {{#if model.osBlurb}}
        <div class="host-info-item"><i class="fa fa-linux"></i> {{model.osBlurb}}</div>
      {{/if}}
      {{#if model.machine}}
        <div class="host-info-item"><i class="ss-microwave"></i> {{model.machine.driver}}</div>
      {{/if}}
    </div>
    <div class="host-info-line">
      {{#if model.cpuBlurb}}
        <div class="host-info-item"><i class="fa fa-tachometer" style="position: relative; top: -1px;"></i> {{model.cpuBlurb}}</div>
      {{/if}}
      {{#if model.memoryBlurb}}
        <div class="host-info-item"><i class="ss-microchip"></i> {{model.memoryBlurb}}</div>
      {{/if}}
      {{#if model.diskBlurb}}
        <div class="host-info-item"><i class="ss-hdd"></i> {{model.diskBlurb}}</div>
      {{/if}}
    </div>
  </div>

  <div class="clearfix no-resource-action-hover">
    {{#if dot}}
      {{#each item in model.arrangedInstances itemController="container"}}
        {{container-dot model=item}}
      {{/each}}
    {{else}}
      {{#each item in model.arrangedInstances itemController="container"}}
        {{container-widget model=item}}
      {{/each}}
      {{#if showAdd}}
        {{add-container-widget action="newContainer"}}
      {{/if}}
    {{/if}}
  </div>
{{/if}}
