<div class="host-header resource-action-hover">
  <div {{bind-attr class=":host-name model.stateColor"}}>
    <i {{bind-attr class=":fa model.stateIcon" tooltip=model.displayState}}></i>
    {{#link-to "host.index" model.id}}
      {{model.displayName}}
    {{/link-to}}
    <div class="host-ip">{{model.displayIp}}</div>
  </div>
  {{resource-actions model=model}}
</div>

<div class="no-resource-action-hover">
  {{#if dot}}
    <div class="clearfix">
      {{#each item in model.instances itemController="container"}}
        {{container-dot model=item}}
      {{/each}}
    </div>
  {{else}}
    {{#each item in model.instances itemController="container"}}
      {{container-widget model=item}}
    {{else}}
      <div class="text-center text-muted">No containers yet.</div>
    {{/each}}
  {{/if}}
</div>

{{#link-to "hosts.containerNew" (query-params hostId=model.id tab="basic") tagName="div" classNames="add-to-host" tooltip="Create Container"}}
  <span class="fa-stack fa-lg">
    <i class="fa fa-circle-thin fa-stack-2x"></i>
    <i class="fa fa-plus fa-stack-1x"></i>
  </span>
{{/link-to}}
