{{waiting-orchestration}}

<div class="k8s-tab">
  <section class="header mb-0">
    <h1>Status</h1>
  </section>
  <div class="row text-center">
    <div class="col span-3 mt-0">
      {{banner-message icon=(if etcd 'icon-success' 'icon-alert') color=(if etcd 'bg-success' 'bg-warning') message='Etcd'}}
    </div>
    <div class="col span-3 mt-0">
      {{banner-message icon=(if kubelet 'icon-success' 'icon-alert') color=(if kubelet 'bg-success' 'bg-warning') message='Kubelets'}}
    </div>
    <div class="col span-3 mt-0">
      {{banner-message icon=(if controlPlane 'icon-success' 'icon-alert') color=(if controlPlane 'bg-success' 'bg-warning') message='Control Plane'}}
    </div>
    <div class="col span-3 mt-0">
      {{banner-message icon=(if systemStacks 'icon-success' 'icon-alert') color=(if systemStacks 'bg-success' 'bg-warning') message='System Services'}}
    </div>
  </div>

  <section class="header">
    <h1>Resources</h1>
  </section>
  <div class="box">
    <div class="row">
      <div class="col span-6 mt-0">
        {{banner-message title=model.workload.deploymentList.listMeta.totalItems color='bg-info' message='Deployments'}}
        {{banner-message title=model.workload.replicaSetList.listMeta.totalItems color='bg-info' message='Replica Sets'}}
        {{banner-message title=model.workload.replicationControllerList.listMeta.totalItems color='bg-info' message='Replication Controllers'}}
        {{banner-message title=model.workload.podList.listMeta.totalItems color='bg-info' message='Pods'}}
      </div>

      <div class="col span-6 mt-0">
        {{banner-message title=model.workload.daemonSetList.listMeta.totalItems color='bg-info' message='Daemon Sets'}}
        {{banner-message title=model.workload.statefulSetList.listMeta.totalItems color='bg-info' message='Stateful Sets'}}
        {{banner-message title=model.workload.jobList.listMeta.totalItems color='bg-info' message='Jobs'}}
      </div>
    </div>
  </div>

  <div class="text-right mt-10">
    <button {{action "dashboard"}} class="btn bg-primary"><i class="icon icon-external-link"></i> Launch Dashboard</button>
    <button {{action "kubectl"}} class="btn bg-primary"><i class="icon icon-terminal"></i> Launch kubectl Shell</button>
    <button {{action "kubeconfig"}} class="btn bg-primary"><i class="icon icon-file"></i> Generate Config File</button>
  </div>
</div>
