<p>{{t 'dangerZone.subtext' appName=settings.appName htmlSafe=true}}</p>

{{#if loading}}
  <div class="p-20 text-center"><i class="icon icon-spinner icon-spin"></i> {{t 'generic.loading'}}</div>
{{else}}
  <div>
    {{#each current as |row|}}
      <div class="advanced-setting">
        {{action-menu model=row.obj showPrimary=false classNames="pull-right mt-5" size="xs"}}
        <div>
          <label class="acc-label">{{row.key}}</label>
          <p class="text-info">{{t row.descriptionKey}}</p>
        </div>
        {{!-- <div class="edit btn bg-warning" {{action "showEdit" row.key}}><i class="icon icon-edit"></i></div> --}}
        {{#if row.hide}}
          <div class="row text-center">
            <div class="btn bg-info btn-sm" {{action "showNode" row}}>Show {{row.key}}</div>
          </div>
        {{else}}
          <pre class="{{unless (or (not row.obj) (eq row.obj.default row.obj.value)) 'text-bold'}}">
            {{#if row.obj.value}}
              {{row.obj.value}}
            {{else}}
              <span class="text-muted">&lt;none&gt;</span>
            {{/if}}
          </pre>
          <div class="row text-center">
            {{#if (eq row.kind 'multiline')}}
              <div class="btn bg-info btn-sm" {{action "showNode" row}}>Hide {{row.key}}</div>
            {{/if}}
          </div>
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/if}}
