<section class="header">
  <h1>
    {{#if isEdit}}
      {{t 'clustersPage.editClusterName' name=originalCluster.displayName}}
    {{else if (eq step 1)}}
      {{t 'clustersPage.newCluster'}}
    {{else}}
      {{t 'clustersPage.newClusterName' name=cluster.displayName}}
    {{/if}}
  </h1>
</section>

{{#unless initialProvider}}
  {{#each providerGroups as |choices|}}
    <div class="row nav nav-boxes checked-active">
      {{#each choices as |choice|}}
        {{#link-to (query-params provider=choice.name) class=(concat "col span-2 col-inline nav-box-item driver generic machine-driver " choice.name)}}
          <p class="sr-only">{{driver-name choice.name}}</p>
          {{#if choice.genericIcon}}
            <p class="text-link text-bold">{{driver-name choice.name}}</p>
          {{/if}}
        {{/link-to}}
      {{/each}}
    </div>
  {{/each}}
{{/unless}}

{{#if (eq step 1)}}
  <form onsubmit={{action "clickNext"}}>
    <div class="row">
      {{form-name-description
          model=model.cluster
          nameRequired=true
          nameLabel='clusterNew.name.label'
          namePlaceholder='clusterNew.name.placeholder'
          descriptionPlaceholder='clusterNew.description.placeholder'
      }}
    </div>

    {{#accordion-list showExpandAll=false as |al expandFn|}}
      {{#accordion-list-item
           title=(t 'clusterNew.members.label')
           detail=(t 'clusterNew.members.detail')
           expandAll=al.expandAll
           everExpanded=true
           expand=(action expandFn)
      }}
        {{form-members
            editing=notView
            isNew=isNew
            memberConfig=memberConfig
            primaryResource=cluster
            creator=model.me
            roles=model.roleTemplates
            users=model.users
            type="cluster"
            registerHook=(action "registerHook")
        }}
      {{/accordion-list-item}}
    {{/accordion-list}}

    {{top-errors errors=errors}}
  </form>
{{/if}}

{{component driverInfo.driverComponent
    mode=mode
    nodeWhich=driverInfo.nodeWhich
    model=model
    save=(action 'save')
    close=(action 'close')
    registerHook=(action "registerHook")
}}

{{#if (and isEdit (not provider))}}
  {{save-cancel editing=true save="save" cancel="close"}}
{{/if}}
