<section class="header">
  <h1>
    {{#if isEdit}}
      {{t 'clustersPage.editClusterName' name=originalCluster.displayName}}
    {{else if (eq step 1)}}
      {{t 'clustersPage.newCluster'}}
    {{else}}
      {{t 'clustersPage.newClusterName' name=cluster.displayName}}
    {{/if}}
  </h1>
</section>

{{#unless initialProvider}}

  <div class="row">
    <div class="col span-4 offset-1 mb-0 pb-0">
      <label class="acc-label">Create clusters in hoseted Kubernetes Provider</label>
    </div>
    <div class="col span-2 offset-4 mb-0 pb-0">
      <label class="acc-label">Import Cluster</label>
    </div>
  </div>
  <div class="row nav nav-boxes checked-active">
    {{#each (get providerGroups "cloudGroup") as |choice|}}
      {{#link-to (query-params provider=choice.name) class=(concat "mb-20 mt-10 col span-2 col-inline nav-box-item driver generic machine-driver " choice.name)}}
        <p class="sr-only">{{driver-name choice.name}}</p>
        {{#if choice.genericIcon}}
          <p class="text-link text-bold">{{driver-name choice.name}}</p>
        {{/if}}
      {{/link-to}}
    {{/each}}

    {{#each (get providerGroups "emportGroup") as |choice|}}
      {{#link-to (query-params provider=choice.name) class=(concat "mb-20 mt-10 col span-2 offset-2 col-inline nav-box-item driver generic machine-driver " choice.name)}}
        <p class="sr-only">{{driver-name choice.name}}</p>
        {{#if choice.genericIcon}}
          <p class="text-link text-bold">{{driver-name choice.name}}</p>
        {{/if}}
      {{/link-to}}
    {{/each}}
  </div>

  <div class="row">
    <div class="col span-4 offset-1 mb-0 pb-0">
      <label class="acc-label">Create clusters in an infrastructure Provider</label>
    </div>
    <div class="col span-2 offset-4 mb-0 pb-0">
      <label class="acc-label">Bring your own nodes</label>
    </div>
  </div>
  <div class="row nav nav-boxes checked-active">
    {{#each (get providerGroups "rkeGroup") as |choice|}}
      {{#link-to (query-params provider=choice.name) class=(concat "mb-20 mt-10 col span-2 col-inline nav-box-item driver generic machine-driver " choice.name)}}
        <p class="sr-only">{{driver-name choice.name}}</p>
        {{#if choice.genericIcon}}
          <p class="text-link text-bold">{{driver-name choice.name}}</p>
        {{/if}}
      {{/link-to}}
    {{/each}}

    {{#each (get providerGroups "customGroup") as |choice|}}
      {{#link-to (query-params provider=choice.name) class=(concat "mb-20 mt-10 col span-2 col-inline nav-box-item driver generic machine-driver " choice.name)}}
        <p class="sr-only">{{driver-name choice.name}}</p>
        {{#if choice.genericIcon}}
          <p class="text-link text-bold">{{driver-name choice.name}}</p>
        {{/if}}
      {{/link-to}}
    {{/each}}
  </div>
{{/unless}}

{{#if (eq step 1)}}
  <form onsubmit={{action "clickNext"}}>
    <div class="row">
      {{form-name-description
          model=model.cluster
          nameRequired=true
          nameLabel='clusterNew.name.label'
          namePlaceholder='clusterNew.name.placeholder'
          descriptionPlaceholder='clusterNew.description.placeholder'
      }}
    </div>

    {{#accordion-list showExpandAll=false as |al expandFn|}}
      {{#accordion-list-item
           title=(t 'clusterNew.members.label')
           detail=(t 'clusterNew.members.detail')
           expandAll=al.expandAll
           everExpanded=true
           expanded=expanded
           expand=(action expandFn)
      }}
        {{form-members
            creator=model.me
            editing=notView
            expanded=expanded
            isNew=newCluster
            memberConfig=memberConfig
            errors=memberErrors
            primaryResource=cluster
            registerHook=(action "registerHook")
            roles=model.roleTemplates
            type="cluster"
            users=model.users
        }}
      {{/accordion-list-item}}
    {{/accordion-list}}
  </form>
{{/if}}

{{component driverInfo.driverComponent
    mode=mode
    nodeWhich=driverInfo.nodeWhich
    model=model
    originalCluster=originalCluster
    otherErrors=memberErrors
    clusterErrors=errors
    save=(action 'save')
    close=(action 'close')
    registerHook=(action "registerHook")
}}

{{#if (and isEdit (not provider))}}
  {{save-cancel editing=true save="save" cancel="close"}}
{{/if}}
