<section class="header clearfix">
  <h1 class="pull-left">{{t 'clusterDashboard.title'}}: {{model.cluster.displayName}}</h1>

  <div class="right-buttons">
    <button class="btn bg-primary btn-sm icon-btn hide" {{action "dashboard"}}>
      <span class="darken"><i class="icon icon-external-link"></i></span>
      <span>{{t 'k8sPage.dashboard.button'}}</span>
    </button>

    <button class="btn bg-primary btn-sm icon-btn ml-10" disabled={{not model.cluster.isReady}} onClick={{action "kubectl" allowedKeys="meta"}}>
      <span class="darken"><i class="icon icon-terminal"></i></span>
      <span>{{t 'k8sPage.shell.button'}}</span>
    </button>

    <button class="btn bg-primary btn-sm icon-btn ml-10" disabled={{not model.cluster.isReady}} {{action "kubeconfig"}}>
      <span class="darken"><i class="icon icon-file"></i></span>
      <span>{{t 'k8sPage.configFile.button'}}</span>
    </button>

    {{action-menu size="sm" classNames="pull-right" model=model.cluster}}
  </div>
</section>

{{#if model.cluster.description}}
  <div class="row mb-30">
    {{banner-message color='bg-secondary mb-0 mt-10' message=(linkify model.cluster.description)}}
  </div>
{{/if}}

<div class="row banner bg-info basics">
  <div class="vertical-middle">
    <label class="acc-label vertical-middle p-0">{{t 'clustersPage.provider.label'}}</label>
    {{model.cluster.displayProvider}} {{copy-to-clipboard clipboardText=model.cluster.displayProvider size="small"}}
  </div>
  {{#if model.cluster.version.gitVersion}}
    <div class="vertical-middle">
      <label class="acc-label vertical-middle p-0">{{t 'clustersPage.version.label'}}</label>
      {{model.cluster.version.gitVersion}} {{copy-to-clipboard clipboardText=model.cluster.version.gitVersion size="small"}}
    </div>
  {{/if}}
  <div class="vertical-middle">
    <label class="acc-label vertical-middle p-0">{{t 'clustersPage.nodes.label'}}</label>
    {{#if (eq model.cluster.state "inactive")}}
      {{t 'clusterRow.noHosts'}}
    {{else}}
      {{model.cluster.machines.length}}
    {{/if}}
  </div>
  <div class="vertical-middle">
    <label class="acc-label vertical-middle p-0">{{t 'generic.created'}}</label>
    {{date-calendar model.cluster.created}}
  </div>
</div>

<section class="text-center">
  {{cluster-dashboard nodes=currentClusterNodes}}
</section>
