<section class="header clearfix">
  <h1 class="pull-left">Dashboard: {{model.cluster.displayName}}</h1>

  <div class="right-buttons">
    <button class="btn bg-primary icon-btn hide" {{action "dashboard"}}>
      <span class="darken"><i class="icon icon-external-link"></i></span>
      <span>{{t 'k8sPage.dashboard.button'}}</span>
    </button>

    <button class="btn bg-primary icon-btn ml-10" disabled={{not model.cluster.isActive}} onClick={{action "kubectl" allowedKeys="meta"}}>
      <span class="darken"><i class="icon icon-terminal"></i></span>
      <span>{{t 'k8sPage.shell.button'}}</span>
    </button>

    <button class="btn bg-primary icon-btn ml-10" disabled={{not model.cluster.isActive}} {{action "kubeconfig"}}>
      <span class="darken"><i class="icon icon-download"></i></span>
      <span>{{t 'k8sPage.configFile.button'}}</span>
    </button>
  </div>
</section>

{{#if model.cluster.description}}
  <div class="row mb-30">
    {{banner-message color='bg-secondary mb-0 mt-10' message=(linkify model.cluster.description)}}
  </div>
{{/if}}

{{#unless model.cluster.isActive}}
  {{banner-message color='bg-error' message=(t 'clusterDashboard.notActive' state=model.cluster.displayState)}}
{{/unless}}

<section class="text-center">
  {{cluster-dashboard nodes=currentClusterNodes}}
</section>
