<section class="header clearfix">
  <h1 class="pull-left">&quot;{{model.displayName}}&quot; Dashboard</h1>

  <div class="right-buttons">
    <button class="btn bg-primary icon-btn hide" {{action "dashboard"}}>
      <span class="darken"><i class="icon icon-external-link"></i></span>
      <span>{{t 'k8sPage.dashboard.button'}}</span>
    </button>

    <button class="btn bg-primary icon-btn ml-10" onClick={{action "kubectl" allowedKeys="meta"}}>
      <span class="darken"><i class="icon icon-terminal"></i></span>
      <span>{{t 'k8sPage.shell.button'}}</span>
    </button>

    <button class="btn bg-primary icon-btn ml-10" {{action "kubeconfig"}}>
      <span class="darken"><i class="icon icon-download"></i></span>
      <span>{{t 'k8sPage.configFile.button'}}</span>
    </button>
  </div>
</section>

<section class="text-center">
  {{cluster-dashboard nodes=model.nodes}}
</section>
