<div class="row">
  <div class="col-xs-6 col-md-2 form-label">
    <label>{{t 'formBalancerListeners.label'}}</label>
  </div>
  <div class="col-xs-6 col-md-8">
    {{#unless editing}}
      <button class="btn-circle-text" {{action "addListener"}}><i class="icon icon-plus-circle"/> <span>{{t 'formBalancerListeners.addAction'}}</span></button>
    {{/unless}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <table class="grid fixed no-lines no-top-padding tight" style="margin-bottom: 0;">
      {{#if listenersArray.length}}
        <thead>
          <tr>
            <th>{{t 'formBalancerListeners.table.host'}}{{#unless editing}}*{{/unless}}</th>
            <th width="20"></th>
            <th width="80">{{t 'formBalancerListeners.table.protocol'}}</th>
            <th width="50" class="text-center">{{t 'formBalancerListeners.table.ssl'}}</th>
            <th>{{t 'formBalancerListeners.table.container'}}</th>
            <th width="20"></th>
            <th width="80">{{t 'formBalancerListeners.table.listener'}}</th>
            <th width="40">&nbsp;</th>
          </tr>
        </thead>
      {{/if}}
      <tbody>
        {{#each listenersArray as |listener|}}
          <tr>
            {{#if editing}}
              <td data-title="{{t 'formBalancerListeners.table.host'}}">{{listener.host}}</td>
              <td>&nbsp;</td>
              <td data-title="{{t 'formBalancerListeners.table.protocol'}}">{{listener.protocol}}</td>
              <td data-title="{{t 'formBalancerListeners.table.ssl'}}" class="text-center">{{#if listener.ssl}}<i class="icon icon-check"></i>{{/if}}</td>
              <td data-title="{{t 'formBalancerListeners.table.container'}}">
                {{listener.container}}
              </td>
              <td>&nbsp;</td>
              <td data-title="{{t 'formBalancerListeners.table.access'}}">{{t (if listener.isPublic 'formBalancerListeners.listen.public' 'formBalancerListeners.listen.internal')}}</td>
              <td class="text-right">&nbsp;</td>
            {{else}}
              <td data-title="{{t 'formBalancerListeners.table.host'}}*:">
                {{input type="text" classNames="form-control lb-listener-source-port input-sm" value=listener.host placeholder=(t 'formBalancerListeners.host.placeholder')}}
              </td>
              <td>&nbsp;</td>
              <td data-title="{{t 'formBalancerListeners.table.protocol'}}*:">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">{{listener.protocol}} <i class="icon icon-chevron-down"></i></button>
                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header">
                      {{t 'formBalancerListeners.protocol.placeholder'}}
                    </li>
                    {{#each sourceProtocolOptions as |choice|}}
                      <li {{action "changeListener" listener "protocol" choice}}>
                        <a href="#">{{choice}}</a>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              </td>
              <td data-title="{{t 'formBalancerListeners.table.ssl'}}:" class="text-center">
                {{input safeStyle="margin-top: 10px;" type="checkbox" checked=listener.ssl}}
              </td>
              <td data-title="{{t 'formBalancerListeners.table.container'}}:">
                {{input type="text" classNames="form-control lb-listener-target-port input-sm" min="1" max="65535" step="1" value=listener.container placeholder=(t 'formBalancerListeners.container.placeholder')}}
              </td>
              <td>&nbsp;</td>
              <td data-title="{{t 'formBalancerListeners.table.listener'}}:">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">{{t (if listener.isPublic 'formBalancerListeners.listen.public' 'formBalancerListeners.listen.internal')}} <i class="icon icon-chevron-down"></i></button>
                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header">
                      Select access:
                    </li>
                    <li {{action "changeListener" listener "isPublic" true}}><a href="#">{{t 'formBalancerListeners.listen.public'}}</a></li>
                    <li {{action "changeListener" listener "isPublic" false}}><a href="#">{{t 'formBalancerListeners.listen.internal'}}</a></li>
                  </ul>
                </div>
              </td>
              <td class="text-right">
                <button role="button" class="btn btn-primary btn-sm" {{action "removeListener" listener}}><i class="icon icon-minus"/><span class="sr-only">{{t 'generic.remove'}}</span></button>
              </td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
