<div class="row">
  <div class="col-xs-6 col-md-2 form-label">
    <label>Listening Ports</label>
  </div>
  <div class="col-xs-6 col-md-8">
    {{#unless editing}}
      <button class="btn-circle-text" {{action "addListener"}}><i class="icon icon-plus-circle"/> <span>Add Port</span></button>
    {{/unless}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-8 col-md-offset-2">
    <table class="grid fixed no-lines no-top-padding tight" style="margin-bottom: 0;">
      {{#if listenersArray.length}}
        <thead>
          <tr>
            <th>Source Port{{#unless editing}}*{{/unless}}</th>
            <th width="20"></th>
            <th width="60">Protocol</th>
            <th width="50" class="text-center">SSL</th>
            <th>Default Target Port</th>
            <th width="20"></th>
            <th width="80">Access</th>
            <th width="40">&nbsp;</th>
          </tr>
        </thead>
      {{/if}}
      <tbody>
        {{#each listenersArray as |listener|}}
          <tr>
            {{#if editing}}
              <td>{{listener.host}}</td>
              <td>&nbsp;</td>
              <td>{{listener.protocol}}</td>
              <td class="text-center">{{#if listener.ssl}}<i class="icon icon-check"></i>{{/if}}</td>
              <td>
                {{listener.container}}
              </td>
              <td>&nbsp;</td>
              <td>{{if listener.isPublic "Public" "Internal"}}</td>
              <td class="text-right">&nbsp;</td>
            {{else}}
              <td data-title="Source Port*:">
                {{input type="text" classNames="form-control lb-listener-source-port input-sm" min="1" max="65535" step="1" value=listener.host placeholder="On Host, e.g. 80"}}
              </td>
              <td>&nbsp;</td>
              <td data-title="Protocol:">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">{{listener.protocol}} <i class="icon icon-chevron-down"></i></button>
                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header">
                      Select a protocol:
                    </li>
                    {{#each sourceProtocolOptions as |choice|}}
                      <li {{action "changeListener" listener "protocol" choice}}>
                        <a href="#">{{choice}}</a>
                      </li>
                    {{/each}}
                  </ul>
                </div>
              </td>
              <td data-title="SSL:" class="text-center">
                {{input safeStyle="margin-top: 10px;" type="checkbox" checked=listener.ssl}}
              </td>
              <td data-title="Default Target Port:">
                {{input type="text" classNames="form-control lb-listener-target-port input-sm" min="1" max="65535" step="1" value=listener.container placeholder="In Container, e.g. 8080"}}
              </td>
              <td>&nbsp;</td>
              <td data-title="Access">
                <div class="btn-group">
                  <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">{{if listener.isPublic "Public" "Internal"}} <i class="icon icon-chevron-down"></i></button>
                  <ul class="dropdown-menu" role="menu">
                    <li role="presentation" class="dropdown-header">
                      Select access:
                    </li>
                    <li {{action "changeListener" listener "isPublic" true}}><a href="#">Public</a></li>
                    <li {{action "changeListener" listener "isPublic" false}}><a href="#">Internal</a></li>
                  </ul>
                </div>
              </td>
              <td class="text-right">
                <button role="button" class="btn btn-primary btn-sm" {{action "removeListener" listener}}><i class="icon icon-minus"/></button>
              </td>
            {{/if}}
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
