<section class="grid-header">
  <div class="row">
    <div class="col-sm-6">
      <h3>All Volumes ({{nonRootVolumes.length}})</h3>
    </div>
  </div>
</section>
<section>
  <table class="grid fixed" style="margin-bottom: 0;">
    <thead>
      <tr>
        <th width="120">State<br><span class="text-muted">Host Path</span></th>
        <th>Name</th>
        <th>Containers</th>
        <th>Created</th>
        <th class="actions" width="50">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each volume in nonRootVolumes itemController="volume"}}
        <tr>
          <td>
            <span {{bind-attr class=":badge :state volume.stateBackground"}}>
              {{volume.displayState}}
            </span>
          </td>

          <td>
            {{volume.displayName}}
          </td>

          <td>
            {{#if volume.activeMounts.length}}
              {{volume.activeMounts.length}}
            {{else}}
              <span class="text-muted">None</span>
            {{/if}}
          </td>

          <td>
            <div class="text-muted">{{date-calendar volume.created}}</div>
          </td>

          <td align="right" rowspan="2">
            {{resource-actions-menu model=volume choices=volume.availableActions}}
          </td>
        </tr>
        <tr class="no-lines">
          <td colspan="4" class="text-muted clip">
            {{volume.displayUri}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>
