{{#if model.length}}
  <table class="grid fixed no-lines r-mb0">
    <thead>
      <tr>
        <th width="125">{{t 'swarm.serviceSection.state'}}State</th>
        <th>{{t 'swarm.serviceSection.name'}}</th>
        <th>{{t 'swarm.serviceSection.ports'}}</th>
        <th width="100">{{t 'swarm.serviceSection.containers'}}</th>
        <th class="actions" width="85">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each model as |service|}}
        {{swarm/service-row model=service}}
      {{/each}}
    </tbody>
  </table>
{{else}}
  <span class="text-muted">{{t 'swarm.serviceSection.none'}}</span>
{{/if}}
