<section class="horizontal-form container-fluid">
  <h2>Add Targets</h2>

  <div class="row">
    <div class="col-xs-6 col-md-8 col-md-offset-2">
      <p class="help-block" style="margin: 0;">Choose one or more targets to send traffic to</p>
      <button class="btn-circle-plus btn-circle-text" style="margin-right: 20px;" {{action "addTargetContainer" target="view"}}>Add Container</button>
      <button class="btn-circle-plus btn-circle-text" {{action "addTargetIp" target="view"}}>Add External IP Address</button>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-12 col-md-8 col-md-offset-2 text-center">
      {{partial "loadbalancer/edit-targets"}}
    </div>
  </div>
</section>

{{partial "add-cancel"}}
{{partial "overlay-close"}}
