{{#unless model.inherited}}
  <div class="row">
    <div class="col span-4 mt-0">
      <label class="acc-label">{{t "alertPage.newOrEdit.groupWaitSeconds.label"}}</label>
      {{alert/time-duration
          value=model.groupWaitSeconds
      }}
      <p class="text-info text-small mb-0">
        {{t "alertPage.newOrEdit.groupWaitSeconds.helpText"}}
      </p>
    </div>

    <div class="col span-4 offset-2 mt-0">
      <label class="acc-label">{{t "alertPage.newOrEdit.groupIntervalSeconds.label"}}</label>
      {{alert/time-duration
          value=model.groupIntervalSeconds
      }}
      <p class="text-info text-small mb-0">
        {{t "alertPage.newOrEdit.groupIntervalSeconds.helpText"}}
      </p>
    </div>
  </div>
  <div class="row">
    <div class="col span-4 mt-0">
      <label class="acc-label">{{t "alertPage.newOrEdit.repeatIntervalSeconds.label"}}</label>
      {{alert/time-duration
          value=model.repeatIntervalSeconds
      }}
      <p class="text-info text-small mb-0">
        {{t "alertPage.newOrEdit.repeatIntervalSeconds.helpText"}}
      </p>
    </div>
  </div>
{{/unless}}