<section class="header clearfix">
  <h1>{{t 'settingsPage.header'}}</h1>
</section>

<section class="well">
  {{settings/host-registration initialValue=model.host}}
</section>

<section class="well">
  {{settings/catalog-url initialValue=model.catalog}}
</section>

{{#if (and settings.isOSS settings.isRancher)}}
  <section class="well">
    {{settings/telemetry-opt initialValue=model.telemetry}}
  </section>
{{/if}}

<section class="well">
  {{settings/danger-zone}}
</section>
