<section class="header">
  <ol class="breadcrumb right-divider">
    <li class="active">Settings</li>
  </ol>
</section>

<section>
  {{top-errors errors=errors}}
</section>

<section class="well">
  {{host-settings host=model.host sendActiveValue=(action (mut model.host))}}
</section>

{{#unless backToAdd}}
  <section class="well">
    {{catalog-settings catalog=model.catalog keymapChanged="setActiveCatalog"}}
  </section>

  <section class="well">
    <h4>Virtual Machine</h4>
    <hr>
    <h5>Here you can enable access to virtual machines.</h5>
    <div class="row r-mt20">
      <div class="col-md-2">
        <label>Virtual Machines Access</label>
      </div>
      <div class="col-md-10">
        <div class="radio small">
          <label>
            {{radio-button selection=model.vm value=true}}
            Enable
          </label>
        </div>
        <div class="radio small">
          <label>
            {{radio-button selection=model.vm value=false}}
            Disable
          </label>
        </div>
      </div>
    </div>
  </section>
{{/unless}}


<div class="footer-actions">
  {{partial "save-cancel"}}
</div>
