<section class="header">
  <h1 class="r-mr10">Settings</h1>
</section>

{{#if errors.length}}
  <section>
   {{top-errors errors=errors}}
  </section>
{{/if}}

<section class="well">
  {{host-settings host=model.host sendActiveValue=(action (mut model.host))}}
</section>

{{#unless backToAdd}}
  <section class="well">
    {{catalog-settings catalog=model.catalog keymapChanged="setActiveCatalog"}}
  </section>

  <section class="well">
    <h4>Virtual Machines</h4>
    <hr>
    <h5>Enable Virtual Machine support in the UI.  Requires hosts that have <a href="https://en.wikipedia.org/wiki/Kernel-based_Virtual_Machine" target="_blank">KVM</a> loaded.</h5>
    <div class="r-pt10">
      <div class="radio">
        <label>
          {{radio-button selection=model.vm value=true}}
          Enabled
        </label>
      </div>
      <div class="radio">
        <label>
          {{radio-button selection=model.vm value=false}}
          Disabled
        </label>
      </div>
    </div>
  </section>
{{/unless}}


<div class="footer-actions">
  {{partial "save-cancel"}}
</div>
