<section class="header clearfix">
  <h1>{{t 'settingsPage.header'}}</h1>
</section>

<section>
  {{settings/host-registration initialValue=model.host}}
</section>

<section>
  {{settings/catalog-url initialValue=model.catalog}}
</section>

{{#if (and (not settings.isEnterprise) settings.isRancher)}}
  <section>
    {{settings/telemetry-opt initialValue=model.telemetry}}
  </section>
{{/if}}

<section>
  {{settings/danger-zone}}
</section>
