<section class="header">
  <h1>Settings</h1>
</section>

{{#if errors.length}}
  <section>
   {{top-errors errors=errors}}
  </section>
{{/if}}


<section class="well">
  {{host-settings host=model.host backToAdd=backToAdd sendActiveValue=(action (mut model.host)) newHostSet='newHostSet'}}
</section>

{{#unless backToAdd}}
  <section class="well">
    {{catalog-settings catalog=model.catalog}}
  </section>

  <section class="well">
    {{virtual-machine-settings virtualMachine=model.vm}}
  </section>

  <section class="well">
    {{dynamic-driver-settings drivers=model.machineDrivers}}
  </section>
{{/unless}}

