<section class="row">
  <div class="col span-1">
    <div class="pt-10">
      <label>{{t 'alertPage.newOrEdit.whenA'}}</label>
    </div>
  </div>

  <div class="col span-10">

    <div class="row">
      <div class="col span-3">
        <label>
          {{radio-button selection=model._targetType value="systemService"}} {{t 'alertPage.targetTypes.systemService'}}
        </label>
      </div>
      <div class="col span-8 mt-0">
        {{searchable-select
            content=systemServices
            class="form-control"
            value=model.targetSystemService.condition
            placeholder=(t 'alertPage.newOrEdit.systemServicePlaceholder')
            readOnly=(not-eq model._targetType 'systemService')
        }}
      </div>
    </div>

    <div class="row">
      <div class="col span-3">
        <label class="pr-5">
          {{radio-button selection=model._targetType value="normalEvent"}} {{t 'alertPage.newOrEdit.normal'}}
        </label>
        <label>
          {{radio-button selection=model._targetType value="warningEvent"}} {{t 'alertPage.newOrEdit.normal'}}
        </label>
      </div>
      <div class="col span-8 mt-0">
        {{searchable-select
            content=resourceKinds
            class="form-control"
            value=model.targetEvent.resourceKind
            placeholder=(t 'alertPage.newOrEdit.resourcePlaceholder')
            readOnly=(not-eq isEventTarget true)
        }}
      </div>
      <div class="col span-1"> {{t 'alertPage.targetTypes.event'}} </div>
    </div>

    <div class="row">
      <div class="col span-3">
        <label>
          {{radio-button selection=model._targetType value="node"}} {{t 'alertPage.targetTypes.node'}}
        </label>
      </div>
      <div class="col span-8 mt-0">
        {{searchable-select
            content=nodes
            class="form-control"
            value=model.targetNode.nodeId
            optionValuePath="id"
            optionLabelPath="name"
            placeholder=(t 'alertPage.newOrEdit.nodePlaceholder')
            readOnly=(not-eq model._targetType 'node')
        }}
      </div>
    </div>
    <div class="row">
      <div class="col span-3">
        <label>
          {{radio-button selection=model._targetType value="nodeSelector"}} {{t 'alertPage.targetTypes.nodeSelector'}}
        </label>
      </div>
      <div class="col span-8 mt-0">
        {{#if (eq model._targetType 'nodeSelector')}}
          {{form-key-value
              addActionLabel="alertPage.addSelectorLabel"
              initialMap=model.targetNode.selector
              changed=(action (mut model.targetNode.selector))
          }}
        {{else}}
          <button {{action "noop"}} style="cursor:not-allowed;" class="btn bg-disabled icon-btn">
            <span class="darken"><i class="icon icon-plus text-small"/></span>
            <span>{{t 'alertPage.addSelectorLabel'}}</span>
          </button>
        {{/if}}
      </div>
    </div>
  </div>
</section>
<hr/>
<section class="row">
  <div class="col span-1">
    <div style="{{if (eq _targetType 'systemService') '' 'padding-top: 6px;'}}">{{if isEventTarget (t 'alertPage.newOrEdit.happens') (t 'alertPage.newOrEdit.is')}}</div>
  </div>
  <div class="col span-10">
  {{#if (eq model._targetType 'systemService')}}
    <label class="mr-10 pt-5">
      {{radio-button selection="whatever" value="whatever"}} {{t 'alertPage.newOrEdit.unhealthy'}}
    </label>
  {{else if (or (eq model._targetType 'node') (eq model._targetType 'nodeSelector'))}}
    <label class="mr-10">
      {{radio-button selection=model.targetNode.condition value="notready"}} {{t 'alertPage.newOrEdit.notReady'}}
    </label>
    <label class="ml-10">
      {{radio-button selection=model.targetNode.condition value="cpu"}} {{t 'alertPage.newOrEdit.cpuUsage'}}
    </label>
    <div style="display:inline-block;width:60px;">
      {{input-integer
          classNames="form-contorl input-sm"
          disabled=(not-eq model.targetNode.condition 'cpu')
          min=1
          value=model.targetNode.cpuThreshold
      }}
    </div>%

    <label class="ml-10">
      {{radio-button selection=model.targetNode.condition value="mem"}} {{t 'alertPage.newOrEdit.memUsage'}}
    </label>
    <div style="display:inline-block;width:60px;">
      {{input-integer
          classNames="form-contorl input-sm"
          disabled=(not-eq model.targetNode.condition 'mem')
          min=1
          max=100
          value=model.targetNode.memThreshold
      }}
    </div>%
  {{else}}
  {{/if}}
  </div>
</section>

<hr/>
<section class="row">
  <div class="col span-1">
    {{t 'alertPage.newOrEdit.sendA'}}
  </div>
  <div class="col span-10">
    <label class="mr-10">{{radio-button selection=model.severity value="critical"}} {{t 'alertPage.newOrEdit.critical'}}</label>
    <label class="mr-10">{{radio-button selection=model.severity value="warning"}} {{t 'alertPage.newOrEdit.warning'}}</label>
    <label class="mr-10">{{radio-button selection=model.severity value="info"}} {{t 'alertPage.newOrEdit.info'}}</label>
  </div>
</section>
