<div class="instance-name" {{action "showActions"}}>
  <i {{bind-attr class=":fa model.stateIcon model.stateColor" tooltip=model.displayState}}></i>
  {{model.displayName}}
</div>
{{#if model.showTransitioningMessage}}
  <div {{bind-attr class=":instance-message :clip model.isError:text-danger:text-muted model.showTransitioningMessage::hide"}}>
    {{model.transitioningMessage}}
  </div>
{{else}}
  <div class="instance-ip">
    {{model.displayIp}}
  </div>
{{/if}}

<div class="instance-actions-trigger" {{action "showActions"}}>
  <i class="fa fa-chevron-right"></i>
</div>

{{#if model.isTransitioning}}
  <div class="corner-triangle"></div>
  <div class="corner-triangle-content">
    {{#if model.hasProgress}}
      {{model.transitioningProgress}}%
    {{else}}
      <i class="fa fa-spinner fa-spin fa-lg" style="padding: 5px;"></i>
    {{/if}}
  </div>
{{/if}}

<div {{bind-attr class=":instance-actions stateBackground :hide"}} {{action "hideActions"}}>
  {{resource-actions model=model choices=model.primaryActions}}
</div>
