<section class="header clearfix">
  <h1 class="pull-left text-capitalize">{{t headerLabel}}</h1>
</section>

<div class="banner bg-info">
  <div class="banner-icon p-20"><i class="icon icon-info"></i></div>
  <div class="banner-message p-20">
    {{#if isClusterLevel}}
      {{t 'loggingPage.helpText.cluster' htmlSafe=true}}
    {{else}}
      <ul>
        <li style="list-style: circle;"> {{t 'loggingPage.helpText.cluster' htmlSafe=true}} </li>
        <li style="list-style: circle;">
          {{#if (and clusterTargetType (not-eq clusterTargetType 'none'))}}
            {{t 'loggingPage.helpText.clusterTarget' clusterTargetType=clusterTargetType htmlSafe=true}}
          {{else}}
            {{t 'loggingPage.helpText.noClusterTarget'}}
          {{/if}}
        </li>
      </ul>
    {{/if}}
  </div>
</div>

{{logging/targets-nav
    originalModel=originalModel
    targetType=targetType
    isClusterLevel=isClusterLevel
    pageScope=pageScope
}}

{{#if (eq targetType 'embedded')}}
  <div class="banner bg-warning">
    <div class="banner-icon p-20"><i class="icon icon-alert"></i></div>
    <div class="banner-message p-10">
      <ul>
        <li style="list-style: circle;"> {{t 'loggingPage.embedded.helpText.persistantStorage'}} </li>
        <li style="list-style: circle;"> {{t 'loggingPage.embedded.helpText.requirements'}} </li>
      </ul>
    </div>
  </div>

  {{#if (and originalModel.showTransitioningMessage (eq originalModel.targetType 'embedded'))}}
    <div class="banner {{originalModel.stateBackground}}">
      <div class="banner-icon p-20"><i class="icon {{originalModel.stateIcon}}"></i></div>
      <div class="banner-message p-20">
        <table>
          {{error-sub-row fullColspan=fullColspan model=originalModel}}
        </table>
      </div>
    </div>
  {{/if}}

  {{#if originalModel.embeddedConfig.elasticsearchEndpoint}}
      <div class="banner bg-success">
        <div class="banner-icon p-20"><i class="icon icon-check text-success"></i></div>
        <div class="banner-message p-10">
          {{t 'loggingPage.embedded.elasticsearchEndpoint'}}
          <a target="_blank" rel="nofollow noreferrer noopener" href="{{originalModel.embeddedConfig.elasticsearchEndpoint}}">
            {{originalModel.embeddedConfig.elasticsearchEndpoint}}
          </a>
          {{copy-to-clipboard
              size='small'
              clipboardText=originalModel.embeddedConfig.elasticsearchEndpoint
              htmlSafe=true
          }}
        </div>
      </div>
    {{/if}}

    {{#if originalModel.embeddedConfig.kibanaEndpoint}}
      <div class="banner bg-success">
        <div class="banner-icon p-20"><i class="icon icon-check text-success"></i></div>
        <div class="banner-message p-10">
          {{t 'loggingPage.embedded.kibanaEndpoint'}}
          <a target="_blank" rel="nofollow noreferrer noopener" href="{{originalModel.embeddedConfig.kibanaEndpoint}}">
            {{originalModel.embeddedConfig.kibanaEndpoint}}
          </a>
          {{copy-to-clipboard
              size='small'
              clipboardText=originalModel.embeddedConfig.kibanaEndpoint
              htmlSafe=true
          }}
        </div>
      </div>
    {{/if}}

{{/if}}

{{#if (not-eq targetType 'embedded')}}
  {{#if (and originalModel.showTransitioningMessage (eq originalModel.targetType targetType))}}
    <div class="banner {{originalModel.stateBackground}}">
      <div class="banner-icon p-20"><i class="icon {{originalModel.stateIcon}}"></i></div>
      <div class="banner-message p-20">
        <table>
          {{error-sub-row fullColspan=fullColspan model=originalModel}}
        </table>
      </div>
    </div>
  {{/if}}
{{/if}}

{{#if (eq targetType 'elasticsearch')}}
  {{logging/target-elasticsearch
       targetType=targetType
       model=model.elasticsearch
       pageScope=pageScope
       parentModel=model
  }}
{{else if (eq targetType 'embedded')}}
  {{#if isClusterLevel}}
    {{logging/target-embedded
        model=model.embedded
        targetType=targetType
        parentModel=model
    }}
  {{/if}}
{{else if (eq targetType 'splunk')}}
  {{logging/target-splunk
      model=model.splunk
      parentModel=model
      targetType=targetType
  }}
{{else if (eq targetType 'kafka')}}
  {{logging/target-kafka
      model=model.kafka
      parentModel=model
      targetType=targetType
  }}
{{else if (eq targetType 'syslog')}}
  {{logging/target-syslog
      model=model.syslog
      parentModel=model
  }}
{{/if}}

{{top-errors errors=errors}}

{{save-cancel saveDisabled=saveDisabled disabled=true cancelDisabled=true editing=true save="save"}}
