<section class="header clearfix">
  <h1 class="pull-left">
    {{t 'containerPage.header' name=model.displayName}}
  </h1>
  <div class="pull-left mt-10">
    {{info-multi-stats model=model largeTargetId="largeStats"}}
  </div>
  <div class="right-buttons">
    {{badge-state model=model}}
    {{action-menu model=model showPrimary=false classNames="ml-10 inline-block" size="sm"}}
  </div>
</section>

<div id="largeStats">
</div>

{{#if model.description}}
  {{banner-message color='bg-secondary mb-0 mt-10' message=model.description}}
{{/if}}

<section class="pt-10 pb-10">
  {{#if model.stack}}
    {{#banner-message class='tight inline' color='bg-info' title=(t 'generic.stack')}}
      <p>
        {{#link-to "stack" projects.current.id model.stack.id}}{{model.stack.displayName}}{{/link-to}}
      </p>
    {{/banner-message}}
  {{/if}}
  {{#if model.service}}
    {{#banner-message class='tight inline' color='bg-info' title=(t 'generic.service')}}
      <p>
        {{#link-to "service" projects.current.id model.service.id}}{{model.service.displayName}}{{/link-to}}
      </p>
    {{/banner-message}}
  {{/if}}
  {{#if model.primaryHost}}
    {{#banner-message class='tight inline' color='bg-info' title=(t 'generic.host')}}
      <p>
        {{#link-to "host" model.primaryHost.id}}{{model.primaryHost.displayName}}{{/link-to}}
      </p>
    {{/banner-message}}
  {{/if}}

  {{#if model.displayExternalId}}
    {{#banner-message class='tight inline' color='bg-info' title=(t 'generic.uuid')}}
     <p>
        {{#copy-inline clipboardText=model.externalId}}
          {{model.displayExternalId}}
        {{/copy-inline}}
      </p>
    {{/banner-message}}
  {{/if}}

  {{#if model.displayIp}}
    {{#banner-message class='tight inline' color='bg-info' title=(t 'generic.ipAddress')}}
      <p>
        {{#copy-inline clipboardText=model.displayIp}}
          {{model.displayIp}}
        {{/copy-inline}}
      </p>
    {{/banner-message}}
  {{/if}}

  {{#banner-message class='tight inline' color='bg-info' title=(t 'generic.image')}}
    <p>
      {{#copy-inline clipboardText=model.displayImage}}
        {{model.displayImage}}
      {{/copy-inline}}
    </p>
  {{/banner-message}}

  {{#if model.entrypoint}}
    {{#banner-message class='tight inline' color='bg-info' title=(t 'generic.entrypoint')}}
      <p>
        {{model.entrypoint}}
      </p>
    {{/banner-message}}
  {{/if}}

  {{#if model.command}}
    {{#banner-message class='tight inline' color='bg-info' title=(t 'generic.command')}}
      <p>
        {{model.command}}
      </p>
    {{/banner-message}}
  {{/if}}
</section>

<section>
  <div class="row tabs">
    <ul class="tab-header">
      {{#link-to "container.ports" tagName="li" href=false replace=true}}<a href="#">{{t 'containerPage.navTabs.ports'}}</a>{{/link-to}}
      {{#link-to "container.commands" tagName="li" href=false replace=true}}<a href="#">{{t 'containerPage.navTabs.command'}}</a>{{/link-to}}
      {{#link-to "container.volumes" tagName="li" href=false replace=true}}<a href="#">{{t 'containerPage.navTabs.volumes'}}</a>{{/link-to}}
      {{#link-to "container.networking" tagName="li" href=false replace=true}}<a href="#">{{t 'containerPage.navTabs.networking'}}</a>{{/link-to}}
      {{#link-to "container.security" tagName="li" href=false replace=true}}<a href="#">{{t 'containerPage.navTabs.security'}}</a>{{/link-to}}
      {{#link-to "container.healthcheck" tagName="li" href=false replace=true}}<a href="#">{{t 'containerPage.navTabs.healthCheck'}}</a>{{/link-to}}
      {{#link-to "container.labels" tagName="li" href=false replace=true}}<a href="#">{{t 'containerPage.navTabs.labels'}}</a>{{/link-to}}
      {{#link-to "container.scheduling" tagName="li" href=false replace=true}}<a href="#">{{t 'containerPage.navTabs.scheduling'}}</a>{{/link-to}}
    </ul>
    <div class="tab-content">
      {{outlet}}
    </div>
  </div>
</section>
