<section class="header clearfix">
  <h1>{{#link-to "containers"}}{{t 'containersPage.containerPage.header'}}{{/link-to}}</h1>
  {{#power-select options=model.primaryHost.arrangedInstances selected=model onchange=(action "changeContainer") searchField="displayName" as |obj|}}
    <span class="clip r-mr15">
      {{select-dot model=obj}}
    </span>
  {{/power-select}}

  <div class="pull-right">
    {{action-menu model=model  classNames="r-ml5 pull-right" size="sm"}}
    {{header-state model=model classNames="pull-right"}}
  </div>

</section>

<section>
  <div class="row">
    <div class="col-md-3 r-mb15">
      {{#if model.description}}
        <div>
          <label class="block">{{t 'containersPage.containerPage.infoMultiStats.description'}}</label>
          <div>{{model.description}}</div>
        </div>

        <hr>
      {{/if}}

      {{#if model.primaryService}}
          <label class="block">{{t 'containersPage.containerPage.infoMultiStats.stack'}}</label>

          <div>{{#link-to "stack" model.primaryService.stackId}}{{model.primaryService.stack.displayName}}{{/link-to}}/{{#link-to "service" model.primaryService.stackId model.primaryService.id}}{{model.primaryService.displayName}}{{/link-to}}</div>
        <hr>
      {{/if}}

      <div>
        <label class="block">{{t 'containersPage.containerPage.infoMultiStats.host'}}</label>
        {{#if model.primaryHost}}
          {{#link-to "host" model.primaryHost.id}}{{model.primaryHost.displayName}}{{/link-to}}
          {{copy-to-clipboard clipboardText=model.primaryHost.displayIp tooltipText=(t 'containersPage.containerPage.infoMultiStats.tooltip.host') size="small"}}
        {{else}}
          <span class="text-muted">{{t 'generic.none'}}</span>
        {{/if}}
      </div>

      {{#if model.memoryReservation}}
        <hr/>
        <div>
          <label class="block">{{t 'containersPage.containerPage.infoMultiStats.memoryReservation.labelText'}}</label>
          {{model.memoryReservationBlurb}}
        </div>

      {{/if}}

      {{#if model.milliCpuReservation}}
        <hr/>
        <div>
          <label class="block">{{t 'containersPage.containerPage.infoMultiStats.milliCpuReservation.labelText'}}</label>
          {{model.milliCpuReservation}}
        </div>
      {{/if}}
      <hr>

      <div>
        <label class="block">{{t 'containersPage.containerPage.infoMultiStats.ip'}}</label>
        {{copy-ip ip=model.displayIp showCopy=true}}
      </div>

      <hr>

      <div>
        <label class="block">{{t 'containersPage.containerPage.infoMultiStats.docker'}}</label>
        {{#if model.displayExternalId}}
          {{model.displayExternalId}} {{copy-to-clipboard clipboardText=model.externalId size='small'}}
        {{else}}
          <span class="text-muted">{{t 'generic.none'}}</span>
        {{/if}}
      </div>

      <hr>

      <div>
        <label class="block">{{t 'containersPage.containerPage.infoMultiStats.image'}}</label>
        <span class="force-wrap">
          {{model.displayImage}} {{copy-to-clipboard clipboardText=model.displayImage size='small'}}
        </span>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row">
        {{info-multi-stats model=model linkName="containerStats" single=true}}
      </div>
      <div class="row r-p15">
        <ul class="nav nav-tabs nav-tabs-well shadowed">
          {{#link-to "container.ports" tagName="li" href=false replace=true}}<a href="#">{{t 'containersPage.containerPage.navTabs.ports'}}</a>{{/link-to}}
          {{#link-to "container.commands" tagName="li" href=false replace=true}}<a href="#">{{t 'containersPage.containerPage.navTabs.command'}}</a>{{/link-to}}
          {{#link-to "container.volumes" tagName="li" href=false replace=true}}<a href="#">{{t 'containersPage.containerPage.navTabs.volumes'}}</a>{{/link-to}}
          {{#link-to "container.networking" tagName="li" href=false replace=true}}<a href="#">{{t 'containersPage.containerPage.navTabs.networking'}}</a>{{/link-to}}
          {{#link-to "container.security" tagName="li" href=false replace=true}}<a href="#">{{t 'containersPage.containerPage.navTabs.security'}}</a>{{/link-to}}
          {{#link-to "container.healthcheck" tagName="li" href=false replace=true}}<a href="#">{{t 'containersPage.containerPage.navTabs.healthCheck'}}</a>{{/link-to}}
          {{#link-to "container.labels" tagName="li" href=false replace=true}}<a href="#">{{t 'containersPage.containerPage.navTabs.labels'}}</a>{{/link-to}}
          {{#link-to "container.scheduling" tagName="li" href=false replace=true}}<a href="#">{{t 'containersPage.containerPage.navTabs.scheduling'}}</a>{{/link-to}}
        </ul>
        <div class="table-flat well">
          {{outlet}}
        </div>
      </div>

    </div>
  </div>
</section>
