<section class="header">
  <h1>{{#link-to "containers"}}Container:{{/link-to}}</h1>
  {{#power-select options=model.primaryHost.instances selected=model onchange=(action "changeContainer") searchField="displayName" as |obj|}}
    <div class="clip r-mr15">
      <i class="{{obj.stateIcon}} {{obj.stateColor}}" tooltip="{{obj.displayState}}" data-placement="left"></i> {{obj.displayName}}
    </div>
  {{/power-select}}
  <strong>on {{#link-to "host" model.primaryHost.id}}{{model.primaryHost.displayName}}{{/link-to}}</strong>

  {{action-menu model=model size="sm"}}
  {{header-state model=model}}
</section>

<section>
  {{#info-multi-stats model=model linkName="containerStats" single=true}}
    <div class="row multi-stats">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Host:</label>
        {{#if model.primaryHost}}
          {{#link-to "host" model.primaryHost.id}}{{model.primaryHost.displayName}}{{/link-to}}
        {{else}}
          <span class="text-muted">Unknown</span>
        {{/if}}
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Host IP:</label>
        {{#if model.primaryHost}}
          {{model.primaryHost.displayIp}} {{zero-clipboard text=model.primaryHost.displayIp}}
        {{else}}
          <span class="text-muted">Unknown</span>
        {{/if}}
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Container IP:</label>
        {{model.displayIp}} {{zero-clipboard text=model.displayIp}}
      </div>
    </div>
    <div class="row multi-stats">
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Image:</label>
        <span class="force-wrap">
          {{model.displayImage}} {{zero-clipboard text=model.displayImage}}
        </span>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Command:</label>
        <span class="force-wrap">
          {{#if model.command}}
            {{concat-str model.command}}
          {{else}}
            <span class="text-muted">None</span>
          {{/if}}
        </span>
      </div>
      <div class="col-sm-4 col-md-4 col-lg-4">
        <label>Entrypoint:</label>
        <span class="force-wrap">
          {{#if model.entryPoint}}
            {{concat-str model.entryPoint}}
          {{else}}
            <span class="text-muted">None</span>
          {{/if}}
        </span>
      </div>
    </div>
    {{#if model.description}}
      <div class="row multi-stats">
        <div class="col-sm-12 col-md-12 description">
          <label>Description: </label>
          <span>{{model.description}}</span>
        </div>
      </div>
    {{/if}}
  {{/info-multi-stats}}
</section>

<section>
  <ul class="nav nav-tabs nav-tabs-well shadowed">
    {{#link-to "container.labels" tagName="li" href=false}}<a href="#"><i class="icon icon-tag"></i> Labels</a>{{/link-to}}
    {{#link-to "container.volumes" tagName="li" href=false}}<a href="#"><i class="icon icon-hdd"></i> Volumes</a>{{/link-to}}
    {{#link-to "container.ports" tagName="li" href=false}}<a href="#"><i class="icon icon-network"></i> Ports</a>{{/link-to}}
  </ul>
  <div class="table-flat well">
    {{outlet}}
  </div>
</section>
