<section class="header">
  <h3>
    {{resource-actions-menu model=this choices=availableActions classNames="pull-right"}}
    <div {{bind-attr class=":state stateColor"}}>
      <i {{bind-attr class="stateIcon"}}></i> {{displayState}}
    </div>
    <span>
      {{#if primaryHost}}
        {{#with primaryHost as host controller="host"}}
          {{#link-to "hosts"}}Hosts:{{/link-to}}
          {{#link-to "host" host.id}}{{host.displayName}}:{{/link-to}}
          {{displayName}}
        {{/with}}
      {{else}}
        {{#link-to "containers"}}Containers:{{/link-to}}
        {{displayName}}
      {{/if}}
    </span>
  </h3>
  {{partial "description"}}
</section>

<section>
  {{#info-stats model=this}}
    <ul class="list-lines">
      {{#if showTransitioningMessage}}
        <li>
          <label>Message</label>
          <span class="force-wrap">
            {{transitioningMessage}}
          </span>
        </li>
      {{/if}}

      <li>
        <label>Host IP</label>
        {{#if primaryHost}}
          {{#with primaryHost as host controller="host"}}
            {{host.displayIp}} {{zero-clipboard text=host.displayIp}}
          {{/with}}
        {{else}}
          <span class="text-muted">(No host)</span>
        {{/if}}
      </li>

      <li>
        <label>Container IP</label>
        {{displayIp}} {{zero-clipboard text=displayIp}}
      </li>

      <li>
        <label>Image</label>
        <span class="force-wrap">
          {{display-image imageUuid}} {{zero-clipboard text=imageUuid}}
        </span>
      </li>

      <li>
        <label>Entrypoint</label>
        <span class="force-wrap">
          {{#if entryPoint}}
            {{entryPoint}}
          {{else}}
            <span class="text-muted">None</span>
          {{/if}}
        </span>
      </li>
      <li>
        <label>Command</label>
        <span class="force-wrap">
          {{#if command}}
            {{command}}
          {{else}}
            <span class="text-muted">None</span>
          {{/if}}
        </span>
      </li>

    </ul>
  {{/info-stats}}
</section>

<section>
  <div class="well">
    <label>Ports</label>
    <table class="grid fixed">
      <thead>
        <tr>
          <th width="90">State</th>
          <th width="150">IP Address</th>
          <th>Public (on Host)</th>
          <th>Private (in Container)</th>
          <th width="90" class="text-right">Protocol</th>
        </tr>
      </thead>
      <tbody>
        {{#each port in ports itemController="port"}}
          <tr>
            <td>
              <span {{bind-attr class=":badge :state port.stateBackground"}}>
                {{port.displayState}}
              </span>
            </td>
            <td>
              {{port.displayPublicIp}}
            </td>
            <td>
              {{#if port.publicPort}}
                {{port.publicPort}}
              {{else}}
                <span class="text-muted">None</span>
              {{/if}}
            </td>
            <td>
              {{#if port.privatePort}}
                {{port.privatePort}}
              {{else}}
                <span class="text-muted">None</span>
              {{/if}}
            </td>
            <td class="text-right">
              {{upper-case port.protocol}}
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="5">
              <div class="text-muted text-center">This container has no ports.</div>
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>

  <div class="well">
    <label>Volumes</label>
    <table class="grid fixed">
      <thead>
        <tr>
          <th width="90">State</th>
          <th>Mount Point</th>
          <th>Shared With</th>
          <th class="text-right" width="80">Writable</th>
        </tr>
      </thead>
      <tbody>
        {{#each mount in mounts itemController="mount"}}
          <tr>
            <td>
              <span {{bind-attr class=":badge :state mount.stateBackground"}}>
                {{mount.displayState}}
              </span>
            </td>
            <td>
              {{mount.path}}
            </td>
            <td>
              <ul class="list-unstyled">
              {{#each container in mount.volume.sharedWith itemController="container"}}
                <li>
                  {{#link-to "container" container.id}}{{container.displayName}}{{/link-to}}
                </li>
              {{else}}
                <li class="text-muted">No other containers</li>
              {{/each}}
              </ul>
            </td>
            <td class="text-right">
              <i {{bind-attr class="mount.isReadWrite:ss-check:ss-delete mount.isReadWrite::text-muted"}}></i>
            </td>
          </tr>
        {{else}}
          <tr>
            <td colspan="4">
              {{#if mountError}}
                <div class="text-danger text-center">Error: {{mountError.message}}</div>
              {{else}}
                <div class="text-muted text-center">This container has no volumes.</div>
              {{/if}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</section>
