<section class="header clearfix">
  <h1>{{t 'virtualMachinesPage.header'}}</h1>

  {{#link-to "virtualmachines.new" classNames="btn btn-sm btn-primary"}}{{t 'virtualMachinesPage.linkTo'}}{{/link-to}}
</section>

<section class="well instances">
  <table class="grid fixed" style="margin-bottom: 0;">
    <thead>
      <tr>
        {{sortable-th sortable=this action="changeSort" name="state" label="generic.state" width="125"}}
        {{sortable-th sortable=this action="changeSort" name="name" label="generic.name"}}
        {{sortable-th sortable=this action="changeSort" name="ip" label="generic.ipAddress" width="110"}}
        {{sortable-th sortable=this action="changeSort" name="image" label="generic.image"}}
        <th class="actions" width="75">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each arranged as |instance|}}
        {{container-row model=instance showCommand="no" tagName="tr" showActions=true}}
      {{else}}
        <tr><td colspan="5" class="text-center text-muted">{{t 'virtualMachinesPage.table.body.noData'}}</td></tr>
      {{/each}}
    </tbody>
  </table>
</section>
