<td valign="middle" class="row-check" style="padding-top: 2px;">
  &nbsp;
</td>
<td>
  {{badge-state model=model}}
</td>
<td>
  {{model.name}}
</td>
<td>
  {{#if model.project}}
    {{model.project.name}}
  {{else}}
    <b>None</b>
  {{/if}}
</td>
<td>
  {{model.pods.length}}
</td>
<td>
  {{model.workloads.length}}
</td>
<td>
  {{date-calendar model.created}}
</td>
<td data-title="{{t 'generic.actions'}}:" class="actions">
  {{action-menu model=model}}
</td>
