<div class="row">
  <div class="col span-4">
    <label>{{t 'formUpgrade.size'}}</label>
    {{input-integer min="1" class="form-control" value=batchSize}}
  </div>
  <div class="col span-4">
    <label>{{t 'formUpgrade.interval'}}</label>
    <div class="input-group">
      {{input-integer class="form-control" value=interval}}
      <span class="input-group-addon bg-default">{{t 'formUpgrade.sec'}}</span>
    </div>

  </div>
  <div class="col span-4">
    <label>{{t 'formUpgrade.behavior'}}</label>
    <div>
      <label class="checkbox ml-20" style="color: inherit; text-transform: none;">{{input type="checkbox" checked=startFirst}} {{t 'formUpgrade.startStop'}}</label>
    </div>
  </div>
</div>

{{#if hasSidekicks}}
  <div class="row">
    <div class="col span-2 col-inline">
      <label>{{t 'formUpgrade.whichServices'}}</label>
    </div>
    <div class="col span-8">
      {{#each choices as |choice|}}
        <label class="checkbox mr-10" style="color: inherit; text-transform: none;">{{input type="checkbox" checked=choice.enabled}} {{choice.name}}</label>
      {{/each}}
    </div>
  </div>
{{/if}}
