<div class="row form-group">
  <div class="col-md-4">
    <label>{{t 'formUpgrade.size'}}</label>
    {{input-integer min="1" class="form-control" value=batchSize}}
  </div>
  <div class="col-md-4">
    <label>{{t 'formUpgrade.interval'}}</label>
    <div class="input-group">
      {{input-integer class="form-control" value=interval}}
      <span class="input-group-addon">{{t 'formUpgrade.sec'}}</span>
    </div>

  </div>
  <div class="col-md-4">
    <label>{{t 'formUpgrade.behavior'}}</label>
    <div class="form-control-static">
      <label class="checkbox r-ml20" style="color: inherit; text-transform: none;">{{input type="checkbox" checked=startFirst}} {{t 'formUpgrade.startStop'}}</label>
    </div>
  </div>
</div>

{{#if hasSidekicks}}
  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label>{{t 'formUpgrade.whichServices'}}</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{#each choices as |choice|}}
        <label class="checkbox r-mr10" style="color: inherit; text-transform: none;">{{input type="checkbox" checked=choice.enabled}} {{choice.name}}</label>
      {{/each}}
    </div>
  </div>
{{/if}}
