{{#if editing}}
  <div class="row">
    <div class="form-label">
      <label class="form-control-static">{{t 'formScale.label'}}</label>
    </div>
  </div>

  <div class="row form-group">
    {{#if isGlobal}}
      <div class="col span-12">
        <span class="text-muted">{{t (if isVm 'formScale.global.vm' 'formScale.global.container')}}</span>
      </div>
    {{else}}
      <div class="col span-2">
        {{format-number scale}}
      </div>
      <div class="col span-10">
        {{input-slider value=scale valueMax=max scaleMax=oneLouder}}
      </div>
    {{/if}}
  </div>
{{else}}
  <div class="row">
    <div class="form-label">
      <label class="form-control-static">{{t 'formScale.label'}}</label>
    </div>
  </div>
  <div class="row">
    <div class="col span-3">
      <div class="radio">
        <label>{{radio-button selection=isGlobal value=false}} {{t (if isVm 'formScale.regular.vm' 'formScale.regular.container') scale=scale}}</label>
      </div>
    </div>
    <div class="col-sm-9 col span-9">
      {{input-slider value=scale valueMax=max scaleMax=oneLouder disabled=isGlobal}}
    </div>
  </div>
  <div class="row">
    <div class="col span-12">
      <div class="radio">
        <label>{{radio-button selection=isGlobal value=true}} {{t (if isVm 'formScale.global.vm' 'formScale.global.container')}}</label>
      </div>
    </div>
  </div>
{{/if}}
