<div class="inline-label">
  <label>{{t 'formScale.label'}}</label>
</div>

<div class="input-group" style="width: 175px">
  {{input-integer value=userInput min=min max=max}}

  <span class="input-group-btn">
    <button class="btn bg-primary" {{action "decrease"}} disabled={{eq asInteger min}}><i class="icon icon-minus"></i></button>
  </span>
  <span class="input-group-btn">
    <button class="btn bg-primary" {{action "increase"}} disabled={{eq asInteger max}}><i class="icon icon-plus"></i></button>
  </span>
</div>

<div class="radio">
  <label>{{radio-button selection=mode value="container"}} {{t 'formScale.mode.container' scale=asInteger}}</label>
</div>
<div class="radio">
  <label>{{radio-button selection=mode value="service"}} {{t 'formScale.mode.service' scale=asInteger}}</label>
</div>
<div class="radio">
  <label>{{radio-button selection=mode value="global"}} {{t 'formScale.mode.global' scale=asInteger}}</label>
</div>
