<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t "formSecurity.cpuLimit.label"}}</label>
    <span class="with-input">
      <div class="input-group">
        {{input-integer
            min="0"
            step="100"
            value=limitsCpu
            classNames="form-control"
            placeholder=(t "formSecurity.milliCpuReservation.placeholder")
        }}
        <div class="input-group-addon bg-default">
          {{t "formSecurity.milliCpuReservation.unit"}}
        </div>
      </div>
    </span>

    <label class="acc-label mt-20">{{t "formSecurity.milliCpuReservation.label"}}</label>
    <span class="with-input">
      <div class="input-group">
        {{input-integer
            min="0"
            step="100"
            value=requestsCpu
            classNames="form-control"
            placeholder=(t "formSecurity.milliCpuReservation.placeholder")
        }}
        <div class="input-group-addon bg-default">
          {{t "formSecurity.milliCpuReservation.unit"}}
        </div>
      </div>
    </span>
  </div>

  <div class="col span-6">
    <label class="acc-label">{{t "formSecurity.memoryLimit.label"}}</label>
    <div class="input-group">
      {{input-integer
          min="4"
          step="1"
          value=limitsMemory
          classNames="form-control"
          placeholder=(t "formSecurity.memoryReservation.placeholder")
      }}
      <div class="input-group-addon bg-default">
        {{t "generic.mibibyte"}}
      </div>
    </div>

    <label class="acc-label mt-20">{{t "formSecurity.memoryReservation.label"}}</label>
    <div class="input-group">
      {{input-integer
          min="4"
          step="1"
          value=requestsMemory
          classNames="form-control"
          placeholder=(t "formSecurity.memoryReservation.placeholder")
      }}
      <div class="input-group-addon bg-default">
        {{t "generic.mibibyte"}}
      </div>
    </div>
  </div>
</div>