<div class="row">
  <div class="col span-6">
    <label class="acc-label" for="input-milli-limit-cpu">
      {{t "formSecurity.cpuLimit.label"}}
    </label>
    <div class="input-group">
      {{input-integer
        step="100"
        value=limitsCpu
        classNames="form-control"
        id="input-milli-limit-cpu"
        placeholder=(t "formSecurity.milliCpuReservation.placeholder")
      }}
      <div class="input-group-addon bg-default">
        {{t "formSecurity.milliCpuReservation.unit"}}
      </div>
    </div>

    <label class="acc-label mt-20" for="input-milli-request-cpu">
      {{t "formSecurity.milliCpuReservation.label"}}
    </label>
    <div class="input-group">
      {{input-integer
        step="100"
        value=requestsCpu
        classNames="form-control"
        id="input-milli-request-cpu"
        placeholder=(t "formSecurity.milliCpuReservation.placeholder")
      }}
      <div class="input-group-addon bg-default">
        {{t "formSecurity.milliCpuReservation.unit"}}
      </div>
    </div>
  </div>

  <div class="col span-6">
    <label class="acc-label" for="input-milli-limit-memory">
      {{t "formSecurity.memoryLimit.label"}}
    </label>
    <div class="input-group">
      {{input-integer
        step="1"
        value=limitsMemory
        classNames="form-control"
        id="input-milli-limit-memory"
        placeholder=(t "formSecurity.memoryReservation.placeholder")
      }}
      <div class="input-group-addon bg-default">
        {{t "generic.mibibyte"}}
      </div>
    </div>

    <label class="acc-label mt-20" for="input-milli-request-memory">
      {{t "formSecurity.memoryReservation.label"}}
    </label>
    <div class="input-group">
      {{input-integer
        step="1"
        value=requestsMemory
        classNames="form-control"
        id="input-milli-request-memory"
        placeholder=(t "formSecurity.memoryReservation.placeholder")
      }}
      <div class="input-group-addon bg-default">
        {{t "generic.mibibyte"}}
      </div>
    </div>
  </div>
</div>