<header class="header">
  <h2>
    {{t
      "modalRollbackApp.title"
      appName=model.displayName
    }}
  </h2>
  <div class="pro-tip">
    {{t "modalRollbackApp.protip"}}
  </div>
</header>

{{#if loading}}
  <i class="icon icon-spinner icon-spin"/> {{t "generic.loading"}}
{{else}}
  <div class="row">
    <div class="col span-4">
      <label class="acc-label">
        {{t "modalRollbackApp.current.label"}}
      </label>
      <div class="form-control-static">
        {{current.name}}
      </div>
    </div>

    {{#if loading}}
      <i class="icon icon-spinner icon-spin"/> {{t "generic.loading"}}
    {{else}}
      <div class="col span-8">
        <label class="acc-label">
          {{t "modalRollbackApp.revision.label"}}
        </label>
        {{new-select
          content=choices
          value=revisionId
          prompt="modalRollbackApp.revision.prompt"
          localizedPrompt=true
          optionLabelPath="label"
          optionValuePath="value"
        }}
      </div>
    {{/if}}
  </div>

  {{#if (and diff diff.string)}}
    <div class="row mt-10">
      <div class="col span-12">
        <label class="acc-label">
          {{t "modalRollbackApp.difference.label"}}
        </label>
        <pre class="bg-setting">
          {{diff}}
        </pre>
      </div>
    </div>
  {{/if}}
  <div class="checkbox pt-10">
    <label>
      {{input
        type="checkbox"
        checked=forceUpgrade
      }}
      {{t "newCatalog.forceRollback"}}
    </label>
  </div>
  {{save-cancel
    editing=true
    editLabel="modalRollbackApp.action"
    save=(action "save")
    cancel=(action "cancel")
  }}
{{/if}}
