<section class="header">
  <h1 class="r-mr10">Accounts</h1>

  {{#if isLocal}}
    {{#link-to "admin-tab.accounts.new" classNames="btn btn-sm btn-primary right-divider-btn"}}Add Account{{/link-to}}
  {{/if}}
</section>

<section class="well instances">
  <table class="grid fixed" style="margin-bottom: 0;">
    <thead>
      <tr>
        {{sortable-th sortable=this action="changeSort" name="state" width="125"}}
        {{sortable-th sortable=this action="changeSort" name="id" label="ID" width="120"}}
        {{sortable-th sortable=this action="changeSort" name="kind" width="120"}}
        {{#if isLocal}}
          {{sortable-th sortable=this action="changeSort" name="username" label="Login Username"}}
          {{sortable-th sortable=this action="changeSort" name="name"}}
        {{else}}
          <th>Identity</th>
        {{/if}}
        <th class="actions" width="50">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each arranged as |account|}}
        {{account-row model=account isLocal=isLocal}}
      {{else}}
        <tr><td colspan="{{if isLocal '6' '5'}}" class="text-center text-muted">There are no accounts yet.</td></tr>
      {{/each}}
    </tbody>
  </table>
</section>

