<section class="header clearfix">
  <h1>{{t 'accountsPage.index.header'}}</h1>

  {{#if isLocal}}
    {{#link-to "admin-tab.accounts.new" classNames="btn btn-sm bg-primary right-divider-btn"}}{{t 'accountsPage.index.localLink'}}{{/link-to}}
  {{/if}}
</section>

<section class="instances">
  {{#sortable-table
    classNames="grid sortable-table"
    bulkActions=false
    paging=false
    fullRows=true
    search=false
    sortBy=sortBy
    headers=headers
    body=filteredByKind
    as |sortable kind row dt|
  }}
    {{#if (eq kind "row")}}
      {{account-row model=row isLocal=isLocal}}
    {{else if (eq kind "norows")}}
      <td colspan="{{if isLocal '6' '5'}}" class="text-center text-muted">{{t 'accountsPage.index.table.noData'}}</td>
    {{/if}}
  {{/sortable-table}}
</section>
