<div class="container-header-text">
  {{t 'authPage.azuread.updateEndpoint.modal.title'}}
  <div class="display-name">
    {{authConfig.id}}
  </div>
</div>

<section>
    <div>
        {{t 'authPage.azuread.updateEndpoint.modal.body' htmlSafe=true}}
    </div>
</section>


<div class="footer-actions">
  <button class="btn bg-primary" type="button" {{action "confirm"}}>{{t 'authPage.azuread.updateEndpoint.modal.update'}}</button>
  <button class="btn bg-transparent" type="button" {{action "cancel"}}>{{t 'generic.cancel'}}</button>
</div>
