<div class="row">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Image</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{input type="text" class="form-control" value=image placeholder="e.g. ubuntu:trusty"}}
  </div>
</div>
<div class="row">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Pull Image</label>
  </div>
  <div class="col-sm-12 col-md-8 form-control-static">
    <div class="radio input pull-left r-mr20">
      <label title="Always for latest tag, If Not Present otherwise">{{radio-button selection=pull value=""}} Automatic</label>
    </div>
    <div class="radio input pull-left r-mr20">
      <label>{{radio-button selection=pull value="Always"}} Always</label>
    </div>
    <div class="radio input pull-left r-mr20">
      <label>{{radio-button selection=pull value="IfNotPresent"}} If Not Present</label>
    </div>
    <div class="radio input pull-left r-mr20">
      <label>{{radio-button selection=pull value="Never"}} Never</label>
    </div>
  </div>
</div>
