{{#if editable}}
  {{yield}}
{{else}}
  {{#if value}}
    <div class={{classesForDisplay}}>{{value}}</div>
  {{else}}
    <div class="{{classesForDisplay}} text-muted">{{t 'generic.na'}}</div>
  {{/if}}
{{/if}}
