{{#if editable}}
  {{yield}}
{{else}}
  {{#if value}}
    <div class={{classesForDisplay}}>{{value}}</div>
  {{else}}
    <div class={{classesForDisplay}}>{{t 'generic.none'}}</div>
  {{/if}}
{{/if}}
