<section class="header">
  <h1 class="breadcrumb right-divider">
    {{#link-to "settings.projects" tagName="li" href=false}}<a>Environments</a>{{/link-to}}
    
      {{#power-select options=model.all selected=project onchange=(action "changeProject") searchField="displayName" as |obj|}}
        <div class="clip"><i class="{{obj.stateIcon}} {{obj.stateColor}}" tooltip="{{obj.displayState}}" data-placement="left"></i> {{obj.displayName}}</div>
      {{/power-select}}
    
  </h1>

  {{action-menu model=project size="sm"}}
</section>

<section class="well">
  {{partial "description"}}

  <label>Members</label>
  <table class="grid fixed" style="margin-bottom: 0;">
    <thead>
      <tr>
        {{sortable-th sortable=this action="changeSort" name="name"}}
        {{sortable-th sortable=this action="changeSort" name="type"}}
        {{sortable-th sortable=this action="changeSort" name="role"}}
      </tr>
    </thead>
    <tbody>
      {{#each arranged as |member|}}
        <tr>
          <td>
            {{identity-block identity=member}}
          </td>
          <td>{{member.displayType}}</td>
          <td>
            {{uc-first member.role}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="3" class="text-center text-muted">This project has no members.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>
