{{environment-header model=model.stack all=model.all}}

<section class="stack-section single-stack">
  <div class="header clearfix">
    <div class="left">
      <h4>
        <span class="divider clip r-pl20">{{model.stack.displayName}}</span>
      </h4>
    </div>

    <div class="right count">
      <p class="count">{{instanceCount}}</p>
      <label>Container{{unless (eq instanceCount 1) 's'}}</label>
    </div>

    <div class="right right-divider count">
      <p>{{model.stack.unremovedServices.length}}</p>
      <label>Service{{unless (eq model.stack.unremovedServices.length 1) 's'}}</label>
    </div>

    <div class="right right-divider stack-template">
      <div class="btn-group">
        {{#link-to "service.new" (query-params environmentId=model.stack.id) classNames="btn btn-default btn-sm"}}Add Service{{/link-to}}
        <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
          <span class="caret"></span>
          <span class="sr-only">Toggle Dropdown</span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
          <li>{{#link-to "service.new-balancer" (query-params environmentId=model.stack.id)}}Add Load Balancer{{/link-to}}</li>
          <li>{{#link-to "service.new-alias" (query-params environmentId=model.stack.id)}}Add Service Alias{{/link-to}}</li>
          <li>{{#link-to "service.new-external" (query-params environmentId=model.stack.id)}}Add External Service{{/link-to}}</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="well">
    {{#if model.stack.services.length}}
      <table class="grid fixed" style="margin-bottom: 0">
        {{#each model.stack.services as |service|}}
          <tr>
            <td><i class="{{service.stateIcon}} {{service.stateColor}}"></i> {{#link-to "service" model.stack.id service.id}}{{service.displayName}}{{/link-to}}</td>
            <td>{{service.displayDetail}}</td>
            <td>
              {{#if service.displayType}}
                <span class="badge badge-primary">{{service.displayType}}</span>
              {{/if}}
              {{#if service.hasSidekicks}}
                <span class="badge badge-default">{{service.secondaryLaunchConfigs.length}} Sidekick{{unless (eq service.secondaryLaunchConfigs.length 1) 's'}}</span>
              {{/if}}
              {{#if service.hasContainers}}
                <span class="badge badge-warning">{{default-str service.instances.length default="0"}} <i class="icon icon-box"></i></span>
              {{/if}}
            </td>
            <td class="actions">{{action-menu model=service}}</td>
          </tr>
        {{/each}}
      </table>
    {{else}}
      <div class="text-muted text-center r-p10">No Services</div>
    {{/if}}
  </div>
</section>
