<div style="margin-bottom: 20px;">
  <button class="btn btn-sm btn-primary" {{action "activateServices"}} {{bind-attr disabled=activateDisabled}}>Start Environment</button>
  <button class="btn btn-sm btn-danger" {{action "deactivateServices"}} {{bind-attr disabled=deactivateDisabled}}>Stop Environment</button>
</div>

{{#each col in view.columns}}
  <div class="pod-column">
    {{#each item in col}}
      {{#if item.isNewPlaceHolder}}
        {{add-pod action="addService" label="Add Service"}}
      {{else}}
        {{#with item as service controller="service"}}
          {{service-pod model=service}}
        {{/with}}
      {{/if}}
    {{/each}}
  </div>
{{else}}
  <div class="text-center text-muted">No services yet.</div>
{{/each}}
