{{#unless model.hosts.length}}
  <section class="welcome well">
    <i class="icon icon-host"></i>
    <h2>{{t 'splashPage.hosts.header'}}</h2>
    <p>
      {{t 'splashPage.hosts.content' appName=settings.appName}}
      {{#if settings.isRancher}}<a href="{{docsBase}}/rancher-ui/infrastructure/hosts/" target="_blank">{{t 'splashPage.hosts.contentLink'}}</a>{{/if}}
    </p>
    {{#link-to "hosts.new" class="btn btn-primary"}}{{t 'splashPage.hosts.linkToHost'}}{{/link-to}}
  </section>
{{/unless}}

{{#unless model.services.length}}
  <section class="welcome alt">
    <i class="icon icon-stacks"></i>
    <h2>{{t 'splashPage.service.header'}}</h2>
    <p>
      {{t 'splashPage.service.content.paragraph1' appName=settings.appName}}
    </p>
    <p>
      {{t 'splashPage.service.content.paragraph2' appName=settings.appName}}
      {{#if settings.isRancher}}<a href="{{docsBase}}/rancher-ui/applications/stacks/adding-services/" target="_blank">{{t 'splashPage.service.contentLink'}}</a>{{/if}}
    </p>
    <button role="button" class="btn btn-primary" {{action "newService"}}>{{t 'splashPage.service.addService'}}</button>
    {{#link-to "catalog-tab" class="btn btn-primary"}}{{t 'splashPage.service.linkToCatalog'}}{{/link-to}}
  </section>
{{/unless}}
