<div class="box mb-10 affinity-term">
  {{#if editing}}
    <div class="affinity-remove">
      <button class="btn btn-sm " type="button" {{action "removeTerm"}}>
          <i class="icon icon-x"/>
      </button>
    </div>
  {{/if }}
  <div class="row mt-10">
    <div class="col span-6">
      {{!-- <label class="acc-label">
        {{t "clusterNew.agentConfig.overrideAffinity.podAffinity.priority"}}
      </label> --}}
      <NewSelect 
        @class="form-control"
        @value={{priority}}
        @optionLabelPath="label"
        @optionValuePath="value"
        @localizedLabel={{true}}
        @content={{priorityOptions}}
      />
    </div>
    <div class="col span-6">
      {{!-- <label class="acc-label">
        {{t "clusterNew.agentConfig.overrideAffinity.podAffinity.priority"}}
      </label> --}}
      <NewSelect 
        @class="form-control"
        @value={{anti}}
        @optionLabelPath="label"
        @optionValuePath="value"
        @localizedLabel={{true}}
        @content={{affinityOptions}}
      />
    </div>
  </div>
  <div class="row">
    <div class="col span-12 mb-0">
      <div class="radio">
        <label>
          {{radio-button
            selection=namespaceMode
            value=namespaceModes.THIS_POD
          }} {{t "clusterNew.agentConfig.overrideAffinity.podAffinity.namespaces.radioOptions.thisPod"}}
        </label>
      </div> 
      <div class="radio">
        <label>
          {{radio-button
            selection=namespaceMode
            value=namespaceModes.ALL
          }} {{t "clusterNew.agentConfig.overrideAffinity.podAffinity.namespaces.radioOptions.all"}}
        </label>
      </div>
      <div class="radio">
        <label>
          {{radio-button
            selection=namespaceMode
            value=namespaceModes.IN_LIST
          }} {{t "clusterNew.agentConfig.overrideAffinity.podAffinity.namespaces.radioOptions.inList"}}
        </label>
      </div>
    </div>
    {{#if (eq namespaceMode namespaceModes.IN_LIST) }}
    <div class="col span-6 mt-0">
      {{#input-or-display
        editable=editing
        value=namespaces
      }}
      {{input-array-as-string
        type="text"
        inputClass="form-control input-sm"
        value=namespaces
      }}
      {{/input-or-display}}
    </div>
    {{/if}}
  </div>
  <div class="row">
    <FormMatchExpressionsK8s
      @mode={{mode}}
      @labelSelector={{labelSelector}}
    />
  </div>
  <div class="row">
    <div class="col span-6">
      <label class="acc-label">{{t "clusterNew.agentConfig.overrideAffinity.podAffinity.topologyKey.label"}}</label>
      {{#input-or-display
        editable=editing
        value=podAffintyTerm.topologyKey
      }}
      {{input
        type="text"
        class="form-control input-sm"
        value=podAffintyTerm.topologyKey
        placeholder=(t "clusterNew.agentConfig.overrideAffinity.podAffinity.topologyKey.placeholder")
      }}
      {{/input-or-display}}
    </div>
    {{#if (eq value.priority TERM_PRIORITY.PREFERRED)}}
      <div class="col span-6">
        <label class="acc-label">{{t "clusterNew.agentConfig.overrideAffinity.podAffinity.weight.label"}}</label>
        {{#input-or-display
          editable=editing
          value=weight
        }}
        {{input
          type="number"
          class="form-control input-sm"
          value=weight
          placeholder=(t "clusterNew.agentConfig.overrideAffinity.podAffinity.weight.placeholder")
        }}
        {{/input-or-display}}
      </div>
    {{/if}}
  </div>
</div>