<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.quobyte.volume.label'}}</label>
    {{#input-or-display editable=editing value=config.volume}}
      {{input type="text" value=config.volume classNames="form-control" placeholder=(t 'cruPersistentVolume.quobyte.volume.placeholder')}}
    {{/input-or-display}}
  </div>

  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.quobyte.user.label'}}</label>
    {{#input-or-display editable=editing value=config.user}}
      {{input type="text" value=config.user classNames="form-control" placeholder=(t 'cruPersistentVolume.quobyte.user.placeholder')}}
    {{/input-or-display}}
  </div>
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.quobyte.group.label'}}</label>
    {{#input-or-display editable=editing value=config.group}}
      {{input type="text" value=config.group classNames="form-control" placeholder=(t 'cruPersistentVolume.quobyte.group.placeholder')}}
    {{/input-or-display}}
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.quobyte.registry.label'}}</label>
    {{#input-or-display editable=editing value=config.registry}}
      {{input type="text" value=config.registry classNames="form-control" placeholder=(t 'cruPersistentVolume.quobyte.registry.placeholder')}}
    {{/input-or-display}}
  </div>
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.quobyte.readOnly.label'}}</label>
    {{#if editing}}
      <div class="text-muted">
        <label>
          {{radio-button selection=config.readOnly value=true}} {{t 'generic.yes'}}
        </label>
        <label>
          {{radio-button selection=config.readOnly value=false}} {{t 'generic.no'}}
        </label>
      </div>
    {{else}}
      <div class="text-muted">
        {{config.readOnly}}
      </div>
    {{/if}}
  </div>
</div>