<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.emptyDir.medium.label'}}</label>
    {{#if editing}}
      <div class="text-muted">
        <div>
          <label>
            {{radio-button selection=config.medium value=''}} {{t 'cruPersistentVolume.emptyDir.medium.default'}}
          </label>
        </div>
        <div>
          <label>
            {{radio-button selection=config.medium value='Memory'}} {{t 'cruPersistentVolume.emptyDir.medium.memory'}}
          </label>
        </div>
      </div>
    {{else if (eq config.medium '')}}
      <div class="text-muted">
        {{t 'cruPersistentVolume.emptyDir.medium.default'}}
      </div>
    {{else if (eq config.medium 'Memory')}}
      <div class="text-muted">
        {{t 'cruPersistentVolume.emptyDir.medium.memory'}}
      </div>
    {{/if}}
  </div>

  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.emptyDir.sizeLimit.label'}}</label>
    {{#input-or-display editable=editing value=config.sizeLimit}}
      {{input type="text" value=config.sizeLimit classNames="form-control" placeholder=(t 'cruPersistentVolume.emptyDir.sizeLimit.placeholder')}}
    {{/input-or-display}}
  </div>
</div>