<div class="r-p40 welcome-copy">
  <h1 class="header">{{t 'modalWelcome.header' appName=settings.appName}}</h1>

  <p>{{format-html-message 'telemetryOpt.subtext' appName=settings.appName}}</p>

  <div class="form-label checkbox">
    <label>{{input type="checkbox" checked=optIn}} {{t 'telemetryOpt.label'}}</label> <a href="{{settings.docsBase}}/telemetry" target="_blank" rel="noopener nofollow">{{t 'telemetryOpt.learnMore.label'}}</a>
  </div>

  <div class="footer-actions">
    <button {{action "cancel"}} class="btn btn-primary">{{t 'modalWelcome.closeModal'}}</button>
  </div>
</div>
