<div class="welcome-copy">
  <h1 class="alert-header">{{t 'modalWelcome.header' appName=settings.appName}}</h1>
  <hr/>
  <p class="text-muted">{{t 'telemetryOpt.subtext' appName=settings.appName htmlSafe=true}}</p>

  <div class="col-inline checkbox">
    <label>{{input type="checkbox" checked=optIn}} {{t 'telemetryOpt.label'}}</label> <a href="{{settings.docsBase}}/telemetry" target="_blank" rel="noopener nofollow">{{t 'telemetryOpt.learnMore.label'}}</a>
  </div>

  <div class="footer-actions">
    <button {{action "cancel"}} class="btn bg-primary">{{t 'modalWelcome.closeModal'}}</button>
  </div>
</div>
