<section class="header">

  {{#if editing}}
    <h1>Upgrade: <span style="font-weight: normal">{{environmentResource.name}}</span></h1>
  {{else}}
    <h1>{{#link-to parentRoute}}Catalog:{{/link-to}}</h1>
    {{#power-select options=allTemplates selected=templateResource onchange=(action "changeTemplate") searchField="name" as |obj|}}
      <div class="clip">{{obj.name}}</div>
    {{/power-select}}
  {{/if}}
</section>

<div>
  <section>
    <div class="well row">
      <div class="col-sm-12 col-md-3">
        {{#if templateResource.links.icon}}
          <img src={{templateResource.links.icon}} alt={{templateResource.name}} class="r-mr20" style="height:75px;max-width: 100%;">
        {{/if}}

        <div>
          <small><strong>Catalog:</strong> <span class="text-capitalize">{{templateResource.catalogId}}</span></small>
        </div>
        <div>
          <small><strong>Category:</strong> <span class="text-capitalize">{{templateResource.category}}</span></small>
        </div>
        {{#if templateResource.maintainer}}
          <div>
            <small><strong>Maintainer:</strong> {{templateResource.maintainer}}</small>
          </div>
        {{/if}}
        {{#if templateResource.license}}
          <div>
            <small><strong>License:</strong> {{templateResource.license}}</small>
          </div>
        {{/if}}
      </div>
      {{#if readmeContent}}
        <div class="col-sm-12 col-md-9" style="overflow-y: auto; max-height: 500px;">
          {{common-mark markdown=readmeContent}}
        </div>
      {{else}}
        <h2 class="r-mb10">
          {{if editing "Upgrade" "Add"}} {{templateResource.name}} Stack
        </h2>
        <p>{{templateResource.description}}</p>
      {{/if}}
    </div>
  </section>

  <section class="well">
    <h4>Template Version</h4>
    <hr/>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        {{new-select
          classNames="form-control"
          content=versionsArray
          prompt="Choose a Version"
          optionLabelPath="version"
          optionValuePath="link"
          value=selectedTemplateUrl
        }}
        <p class="help-block">Select a version of the template to {{if editing 'upgrade to' 'deploy'}}</p>
      </div>
    </div>
  </section>

  {{#if (and (not editing) selectedTemplateModel)}}
    <section class="well">
      <h4>New Stack</h4>
      <hr/>

      {{form-name-description
        model=environmentResource
        namePlaceholder="environmentResource.name"
      }}

    </section>
  {{/if}}

  <section class="well">
    {{#if loading}}
      <div class="col-md-12 text-center r-mt15 r-mb15">
        <i class="icon icon-spinner icon-spin" style="font-size:36px;"></i>
      </div>
    {{/if}}

    {{#if selectedTemplateModel}}
      <form {{action "submitTemplate" on="submit"}} class="{{if loading 'hide'}}">
        <h4>Configuration Options</h4>
        <hr/>

        <div class="row"><div class="col-sm-12"><div class="row">
          {{#each selectedTemplateModel.questions as |question|}}
            <div class="col-sm-12 {{if (eq selectedTemplateModel.questions.length 1) 'col-md-12' 'col-md-6'}} form-label r-mb10">
              <label class="form-label form-control-static">{{question.label}}{{if question.required "*"}}</label>

              {{#if question.supported}}
                {{component question.inputComponent field=question value=question.answer}}
              {{else}}
                {{input type="text" value=question.answer class="form-control"}}
                <p>Unrecognized question type: {{question.type}}</p>
              {{/if}}

              <p class="help-block">{{question.description}}</p>
            </div>
          {{/each}}
        </div></div></div>
        {{#if (eq templateBase "cattle")}}
          <div class="row">
            <div class="col-md-12">
              <label>{{input type="checkbox" checked=environmentResource.startOnCreate}} Start services after creating</label>
            </div>
          </div>
        {{/if}}
      </form>
    {{/if}}
  </section>

  {{#if (and selectedTemplateModel (not loading))}}
    {{#if errors.length}}
      <section>
        <div class="row">
          <div class="col-sm-12">
            {{top-errors errors=errors}}
          </div>
        </div>
      </section>
    {{/if}}

    <section>
      <div class="over-hr"><span {{action "togglePreview"}}>Preview <i class="icon {{if previewOpen 'icon-chevron-up' 'icon-chevron-down'}}"></i></span></div>
      
      {{#if previewOpen}}
        <ul class="nav nav-tabs nav-tabs-well">
          {{#each selectedTemplateModel.filesAsArray as |file|}}
            <li class="{{if (eq previewTab file.name) 'active'}}" {{action "selectPreviewTab" file.name}}><a href="#">{{file.name}} {{copy-to-clipboard clipboardText=file.body size="small"}}</a></li>
          {{/each}}
          <li class="{{if (eq previewTab 'answers') 'active'}}" {{action "selectPreviewTab" "answers"}}><a href="#">answers.txt {{copy-to-clipboard clipboardText=answersString size="small"}}</a></li>
        </ul>
        <div class="well nav-well preview-content">
          {{#each selectedTemplateModel.filesAsArray as |file|}}
            {{code-block code=file.body language="yaml" hide=(not-eq previewTab file.name)}}
          {{/each}}
          {{code-block code=answersString language="bash" hide=(not-eq  previewTab 'answers')}}
        </div>
      {{/if}}
    </section>

    {{save-cancel createLabel=(if editing 'Upgrade' 'Launch') save="save" cancel="cancel"}}
  {{else}}
    <div class="footer-actions">
      <button {{action "cancel"}} class="btn btn-default">Cancel</button>
    </div>
  {{/if}}
</div>
