<section class="header">
  <ol class="breadcrumb">
    {{#link-to "applications-tab.catalog" tagName="li" href=false}}<a>Catalog</a>{{/link-to}}
    <li class="active">
      {{#if editing}}
        {{templateResource.name}}
      {{else}}
        {{#power-select options=allTemplates selected=templateResource onchange=(action "changeTemplate") searchField="name" as |obj|}}
          <div class="power-select-img"><img src="{{obj.links.icon}}"><div class="clip">{{obj.name}}</div></div>
        {{/power-select}}
      {{/if}}
    </li>
  </ol>
</section>

<div class="container">
  <section>
    <div class="well row">
      <div class="col-sm-2 col-md-2">
        {{#if templateResource.links.icon}}
          <img src={{templateResource.links.icon}} alt={{templateResource.name}} class="r-mr20" style="height:75px;max-width: 100%;">
        {{/if}}
        <div>
          <small><strong>Category:</strong> {{templateResource.category}}</small>
        </div>
        <div>
          <small><strong>Release By:</strong> {{templateResource.maintainer}}</small>
        </div>
        <div>
          <small><strong>Requires:</strong> {{templateResource.minimumRancherVersion}}</small>
        </div>
        <div>
          <small><strong>License:</strong> {{templateResource.license}}</small>
        </div>
      </div>
      <div class="col-sm-10 col-md-10" style="min-height:160px;">
        <h2 class="r-mb10">
          {{if editing "Upgrade" "Add"}} {{templateResource.name}} Stack {{#if editing}}&quot;{{environmentResource.name}}&quot;{{/if}}
        </h2>
        <p>{{templateResource.description}}</p>
      </div>
      {{#if readmeContent}}
        <div class="col-sm-10 col-md-10 col-sm-offset-2 col-md-offset-2">
          <div class="over-hr r-mt5 r-mb15">
            <span style="text-transform: none;">
              <nav>
                <ul class="pagination pagination-sm r-m0">
                    <li class="">
                      <a href="#" {{action 'toggleReadMe'}}>{{if showReadme 'Hide' 'Show'}} Read Me</a>
                    </li>
                </ul>
              </nav>
            </span>
          </div>
          {{#liquid-if showReadme}}
            {{markdown-to-html markdown=readmeContent}}
          {{/liquid-if}}
        </div>
      {{/if}}
    </div>
  </section>

  <section>
    <h4>Template Version</h4>
    <hr/>
    <div class="row">
      <div class="col-sm-12 col-md-6">
        {{new-select
          classNames="form-control"
          content=versionsArray
          prompt="Choose a Version"
          optionLabelPath="version"
          optionValuePath="link"
          value=selectedTemplateUrl
        }}
        <p class="help-block">Select a version of the template to {{if editing 'upgrade to' 'deploy'}}</p>
      </div>
    </div>
  </section>

  {{#if (and (not editing) selectedTemplateModel)}}
    <section>
      <h4>New Stack</h4>
      <hr/>
      <div class="row form-group">
        <div class="col-sm-12 col-md-6 form-label">
          <label class="form-control-static">Name*</label>
          {{input type="text" class="form-control" value=environmentResource.name}}
        </div>
        <div class="col-sm-12 col-md-6 form-label">
          <label class="form-control-static">Description</label>
          {{textarea rows="3" class="form-control" value=environmentResource.description}}
        </div>
      </div>
    </section>
  {{/if}}

  <section>
    {{#if loading}}
      <div class="col-md-12 text-center r-mt15 r-mb15">
        <i class="icon icon-spinner icon-spin" style="font-size:36px;"></i>
      </div>
    {{/if}}

    {{#if selectedTemplateModel}}
      <form {{action "submitTemplate" on="submit"}} class="{{if loading 'hide'}}">
        <h4>Configuration Options</h4>
        <hr/>

        <div class="row"><div class="col-sm-12"><div class="row">
          {{#each selectedTemplateModel.questions as |question|}}
            <div class="col-sm-12 {{if (eq selectedTemplateModel.questions.length 1) 'col-md-12' 'col-md-6'}} form-label">
              <label class="form-label form-control-static">{{question.label}}{{if question.required "*"}}</label>

              {{! TODO replace this with 'component question.type }}
              {{#if (or (eq question.type "string") (eq question.type "int") (eq question.type "password"))}}
                {{#if (eq question.type "int")}}
                  {{input type="number" class="form-control r-mb10" value=question.answer}}
                {{else}}
                  {{input type=(if (eq question.type "password") "password" "text") class="form-control r-mb10" value=question.answer}}
                {{/if}}
              {{else}}
                {{#if (eq question.type "boolean")}}
                  <div class="r-mb10">
                    <label style="display:block;">
                      {{radio-button selection=question.answer value=true}} True
                    </label>
                    <label style="display:block;">
                      {{radio-button selection=question.answer value=false}} False
                    </label>
                  </div>
                {{else}}
                  {{#if (eq question.type "enum")}}
                    <select name="" class="form-control r-mb10" onChange={{action (mut question.answer) value="target.value"}}>
                      <option value="">Choose an option...</option>
                      {{#each question.options key="@identity" as |option|}}
                        <option value={{option}}>{{option}}</option>
                      {{/each}}
                    </select>
                  {{else}}
                    {{#if (eq question.type "multiline")}}
                      {{textarea value=question.answer rows="5" class="form-control"}}
                    {{else}}
                      {{#if (eq question.type 'service')}}
                        {{new-select
                          classNames="form-control"
                          content=serviceChoices
                          prompt="Choose a Service"
                          optionLabelPath="name"
                          optionValuePath="stack"
                          optionGroupPath="group"
                          value=question.answer
                        }}
                      {{else}}
                        Unknown question type: {{question.type}}
                      {{/if}}
                    {{/if}}
                  {{/if}}
                {{/if}}
              {{/if}}

              <p class="help-block">{{question.description}}</p>
            </div>
          {{/each}}
        </div></div></div>
        <div class="row">
          <div class="col-md-12">
            <label>{{input type="checkbox" checked=environmentResource.startOnCreate}} Start services after creating</label>
          </div>
        </div>
      </form>
    {{/if}}
  </section>

  {{#if (and selectedTemplateModel (not loading))}}
    {{#if errors.length}}
      <section>
        <div class="row">
          <div class="col-sm-12">
            {{top-errors errors=errors}}
          </div>
        </div>
      </section>
    {{/if}}

    <section>
      <h4 class="hand" {{action "togglePreview"}}><i class="icon {{if previewOpen 'icon-minus' 'icon-plus'}}"></i> Preview</h4>
      <hr/>
      {{#if previewOpen}}
        <ul class="nav nav-tabs nav-tabs-well">
          <li class="{{if (eq previewTab 'docker-compose') 'active'}}" {{action "selectPreviewTab" "docker-compose"}}><a>docker-compose.yml {{zero-clipboard text=selectedTemplateModel.dockerCompose}}</a></li>
          <li class="{{if (eq previewTab 'rancher-compose') 'active'}}" {{action "selectPreviewTab" "rancher-compose"}}><a>rancher-compose.yml {{zero-clipboard text=selectedTemplateModel.rancherCompose}}</a></li>
          <li class="{{if (eq previewTab 'answers') 'active'}}" {{action "selectPreviewTab" "answers"}}><a>answers.txt {{zero-clipboard text=answersString}}</a></li>
        </ul>
        <div class="well nav-well preview-content">
          <pre class="line-numbers language-yaml constrained {{unless (eq previewTab 'docker-compose') 'hide'}}"><code class="language-yaml">
            {{~selectedTemplateModel.dockerCompose~}}
          </code></pre>
          <pre class="line-numbers language-yaml constrained {{unless (eq previewTab 'rancher-compose') 'hide'}}"><code class="language-yaml">
            {{~selectedTemplateModel.rancherCompose~}}
          </code></pre>
          <pre class="line-numbers language-bash constrained {{unless (eq previewTab 'answers') 'hide'}}"><code class="language-bash">
            {{~answersString~}}
          </code></pre>
        </div>
      {{/if}}
    </section>

    {{save-cancel createLabel=(if editing 'Upgrade' 'Launch') save="save" cancel="cancel"}}
  {{else}}
    <div class="footer-actions">
      <button {{action "cancel"}} class="btn btn-default">Cancel</button>
    </div>
  {{/if}}
</div>
