<section class="header">
  <h3>
    <span>
      {{#link-to "applications-tab.catalog"}}Catalog:{{/link-to}}
      {{templateResource.name}}
    </span>
  </h3>
</section>

<section>
  <div class="well">
    <h2 class="r-mb20">
      {{#if templateResource.iconLink}}
        <img src={{templateResource.iconLink}} alt={{templateResource.name}} class="r-mr20" style="height:75px;">
      {{/if}}
      {{if editing "Upgrade" "Add"}} {{templateResource.name}} Stack {{#if editing}}&quot;{{environmentResource.name}}&quot;{{/if}}
    </h2>

    <p>{{templateResource.description}}</p>
  </div>
</section>

<section>
  <h4>Template Version</h4>
  <hr/>
  <div class="row">
    <div class="col-sm-12 col-md-10 col-md-offset-1">
      {{new-select
        classNames="form-control"
        content=versionsArray
        prompt="Choose a Version"
        optionLabelPath="version"
        optionValuePath="link"
        value=selectedTemplateUrl
      }}
      <p class="help-block">Select a version of the template to {{if editing 'upgrade to' 'deploy'}}</p>
    </div>
  </div>
</section>

{{#if (and (not editing) selectedTemplateModel)}}
  <section class="container-fluid">
    <h4>New Stack</h4>
    <hr/>
    <div class="row form-group">
      <div class="col-sm-12 col-md-5 col-md-offset-1 form-label">
        <label class="form-control-static">Name*</label>
        {{input type="text" class="form-control" value=environmentResource.name}}
      </div>
      <div class="col-sm-12 col-md-5 form-label">
        <label class="form-control-static">Description</label>
        {{textarea rows="3" class="form-control" value=environmentResource.description}}
      </div>
    </div>
  </section>
{{/if}}

<section class="container-fluid">
  {{#if loading}}
    <div class="col-md-12 text-center r-mt15 r-mb15">
      <i class="fa fa-spinner fa-spin" style="font-size:36px;"></i>
    </div>
  {{/if}}

  {{#if selectedTemplateModel}}
    <form {{action "submitTemplate" on="submit"}} class="{{if loading 'hide'}}">
      <h4>Configuration Options</h4>
      <hr/>

      <div class="row"><div class="col-sm-12 col-md-10 col-md-offset-1"><div class="row">
        {{#each selectedTemplateModel.questions as |question|}}
          <div class="col-sm-12 {{if (eq selectedTemplateModel.questions.length 1) 'col-md-12' 'col-md-6'}} form-label">
            <label class="form-label form-control-static">{{question.label}}{{if question.required "*"}}</label>

            {{#if (or (eq question.type "string") (eq question.type "int"))}}
              {{input type="text" class="form-control r-mb10" value=question.answer}}
            {{else}}
              {{#if (eq question.type "boolean")}}
                <div class="r-mb10">
                  <label style="display:block;">
                    {{radio-button selection=question.answer value=true}} True
                  </label>
                  <label style="display:block;">
                    {{radio-button selection=question.answer value=false}} False
                  </label>
                </div>
              {{else}}
                {{#if (eq question.type "enum")}}
                  <select name="" class="form-control r-mb10" onChange={{action (mut question.answer) value="target.value"}}>
                    <option value="">Choose an option...</option>
                    {{#each question.options key="@identity" as |option|}}
                      <option value={{option}}>{{option}}</option>
                    {{/each}}
                  </select>
                {{else}}
                  {{#if (eq question.type "multiline")}}
                    {{textarea value=question.answer rows="5" class="form-control"}}
                  {{else}}
                    {{#if (eq question.type 'service')}}
                      {{#if loadingServices}}
                          <i class="fa fa-spinner fa-spin" style="font-size:36px;"></i>
                      {{else}}
                        {{display-name-select
                          classNames="form-control"
                          content=services
                          prompt="Choose a Service"
                          optionLabelPath="content.stack"
                          optionValuePath="content.stack"
                          optionGroupPath="group"
                          value=question.answer}}
                      {{/if}}
                    {{else}}
                      Unknown question type: {{question.type}}
                    {{/if}}
                  {{/if}}
                {{/if}}
              {{/if}}
            {{/if}}

            <p class="help-block">{{question.description}}</p>
          </div>
        {{else}}
          <div class="text-muted text-center">There are no configuration options for this template.</div>
        {{/each}}
      </div></div></div>
    </form>
  {{/if}}
</section>

{{#if (and selectedTemplateModel (not loading))}}
  {{#if errors.length}}
    <section>
      <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
          {{top-errors errors=errors}}
        </div>
      </div>
    </section>
  {{/if}}

  {{partial "save-cancel"}}

  <section>
    <h4>Preview</h4>
    <hr/>
    <div class="row">
      <div class="col-sm-12 col-md-5 col-md-offset-1">
        docker-compose.yml {{zero-clipboard text=selectedTemplateModel.dockerCompose}}
        <pre class="line-numbers language-yaml constrained"><code class="language-yaml">
          {{~selectedTemplateModel.dockerCompose~}}
        </code></pre>
      </div>
      <div class="col-sm-12 col-md-5">
        rancher-compose.yml {{zero-clipboard text=selectedTemplateModel.rancherCompose}}
        <pre class="line-numbers language-yaml constrained"><code class="language-yaml">
          {{~selectedTemplateModel.rancherCompose~}}
        </code></pre>
      </div>
    </div>
  </section>
{{else}}
  <div class="footer-actions">
    <button {{action "cancel"}} class="btn btn-default">Cancel</button>
  </div>
{{/if}}
