<section class="horizontal-form container-fluid">
  <h2>{{t 'editAccount.title'}}</h2>
  <hr>

  <div class="row inline-form mt-20">
    <div class="col span-3 col-inline">
      <label>{{t 'editAccount.form.name.label'}}</label>
    </div>
    <div class="col span-7 col-inline">
      {{#if isAdmin}}
        {{input type="text" value=model.account.name classNames="form-control" placeholder=(t 'editAccount.form.name.placeholder')}}
      {{else}}
        <div>
          {{model.account.name}}
        </div>
      {{/if}}
    </div>
  </div>

  {{#if isAdmin}}
    <div class="row inline-form">
      <div class="col span-3 col-inline">
        <label>{{t 'editAccount.form.kind.label'}}</label>
      </div>
      <div class="col span-7">
        {{new-select
          classNames="form-control"
          content=accountTypeChoices
          value=model.account.kind
          localizedLabel=true
        }}
      </div>
    </div>
  {{/if}}

  {{#if isAdmin}}
    <div class="row inline-form">
      <div class="col span-3 col-inline">
        <label for="description">{{t 'editAccount.form.description.label'}}</label>
      </div>
      <div class="col span-7">
        {{textarea value=model.account.description classNames="form-control no-resize" rows="2" placeholder=(t 'editAccount.form.description.placeholder')}}
      </div>
    </div>
  {{/if}}

  {{#if isLocalAuth}}
    <div class="row inline-form">
      <div class="col span-3 col-inline">
        <label>{{t 'editAccount.form.publicValue.label'}}</label>
      </div>
      <div class="col span-7 col-inline">
        <div>
          {{model.credential.publicValue}}
        </div>
      </div>
    </div>

    {{#if needOld}}
      <div class="row inline-form">
        <div class="col span-3 col-inline">
          <label>{{t 'editAccount.form.oldPassword.label'}}</label>
        </div>
        <div class="col span-7">
          {{input type="password" value=oldPassword classNames="form-control"}}
        </div>
      </div>
    {{/if}}

    <div class="row inline-form">
      <div class="col span-3 col-inline">
        <label>{{t 'editAccount.form.newPassword.label'}}</label>
      </div>
      <div class="col span-7">
        {{schema/input-password value=newPassword generated="generated"}}
        <div class="text-info">{{validateDescription}}</div>
      </div>
    </div>

    {{#liquid-if showConfirm}}
      <div class="row inline-form">
        <div class="col span-3 col-inline">
          <label>{{t 'editAccount.form.confirmPassword.label'}}</label>
        </div>
        <div class="col span-7">
          {{input type="password" value=newPassword2 classNames="form-control"}}
        </div>
      </div>
    {{/liquid-if}}
  {{else}}
    <div class="row inline-form">
      <div class="col span-3 col-inline">
        <label>{{t 'editAccount.form.identity.label'}}</label>
      </div>
      <div class="col span-7">
        {{#if (and model.account.externalId model.account.externalIdType)}}
          {{identity-block externalIdType=model.account.externalIdType externalId=model.account.externalId}}
        {{else}}
          <div class="text-muted">
            {{t 'generic.none'}}
          </div>
        {{/if}}
      </div>
    </div>
  {{/if}}
</section>

{{top-errors errors=errors}}
{{save-cancel editing=editing save="save" cancel="cancel"}}
