<div class="box mt-20">
    <div class="form-label form-control-static">
      <label class="acc-label">{{t 'newReceiver.tag.label'}}{{field-required}}</label>
    </div>
    <div>
      {{input type="text" class="form-control" value=model.tag}}
    </div>
    <p class="help-block">{{t 'newReceiver.tag.help'}}</p>
</div>
<div class="box mt-20">
    <div class="form-label form-control-static">
      <label class="acc-label">{{t 'newReceiver.serviceSelector.label'}}{{field-required}}</label>
    </div>
    <div>
      {{form-key-value
        initialMap=model.serviceSelector
        changed=(action (mut model.serviceSelector))
        addActionLabel="newReceiver.serviceSelector.addActionLabel"
        allowEmptyValue=true
      }}
      <p class="help-block">{{t 'newReceiver.serviceSelector.help'}}</p>
    </div>
</div>
<div class="row box mt-20">
    <div class="col span-6">
      <label class="acc-label">{{t 'formUpgrade.batchSize.label'}}</label>
      <div>
        {{input-integer min="1" class="form-control" value=model.batchSize}}
      </div>
    </div>

    <div class="col span-6">
      <label class="acc-label">{{t 'formUpgrade.interval.label'}}</label>
      <div class="input-group">
        {{input-integer class="form-control" value=model.interval}}
        <span class="input-group-addon bg-default">{{t 'generic.seconds'}}</span>
      </div>
    </div>
</div>
<div class="box mt-20">
    <label class="acc-label">{{t 'formUpgrade.behavior'}}</label>
    <div class="row">
      <div class="col span-6">
        <label>{{radio-button selection=model.startFirst value=false}}&nbsp;{{t 'formUpgrade.stopFirst.label'}}</label>
        <p class="help-block">{{t 'formUpgrade.stopFirst.detail'}}</p>
      </div>
      <div class="col span-6">
        <label>{{radio-button selection=model.startFirst value=true}}&nbsp;{{t 'formUpgrade.startFirst.label'}}</label>
        <p class="help-block">{{t 'formUpgrade.startFirst.detail'}}</p>
      </div>
    </div>
</div>
