<tr class="main-row">
  <td valign="middle" class="row-check" style="padding-top: 2px;">
    {{check-box nodeId=model.id}}
  </td>
  <td>
    {{#if canExpand}}<i role="button" {{action "toggle"}} class="icon icon-play eased text-small text-muted {{if expanded 'icon-rotate-90'}}"><span class="visually-hidden">Open accordion</span></i>{{/if}}
  </td>
  <td data-title="{{dt.state}}" class="state">
    {{badge-state model=model}}
  </td>
  <td data-title="{{dt.name}}" class="clip">
    <a href="{{href-to "service" model.id}}">{{model.displayName}}</a>
    {{#if model.showTransitioningMessage}}
      <div class="clip text-small {{model.stateColor}}">{{model.transitioningMessage}}</div>
    {{/if}}
  </td>
  <td data-title="{{dt.displayType}}">
    {{model.displayType}}
  </td>
  <td data-title="{{dt.target}}">
    {{#if model.linkedServices}}
      {{#each linkedServicesArray as |entry idx|}}
        {{~if (gt idx 0) ', '~}}
        {{~#link-to 'service' projects.current.id entry.service.id~}}
          {{~#unless (eq entry.service.stackId model.stackId)~}}
            {{entry.service.displayStack}}/
          {{~/unless~}}
          {{entry.service.displayName}}
        {{~/link-to~}}
      {{/each}}
    {{else if model.selectorContainer}}
      <span>{{model.selectorContainer}}</span>
    {{else}}
      {{model.displayTargets}}
    {{/if}}
  </td>
  <td data-title="{{dt.actions}}" class="actions">
    {{action-menu model=model}}
  </td>
</tr>

{{#if canExpand}}
  <tr class="sub-row {{unless expanded 'hide'}}">
    <td colspan="2">{{! checkbox and expand}}</td>
    <td colspan="{{sub fullColspan 3}}">
      {{#if expanded}}
        {{container-dots
          containers=model.instances
          searchText=searchText
        }}
      {{/if}}
    </td>
    <td>{{! actions}}</td>
  </tr>

  {{#if expanded}}
    <tr class="separator-row">
      <td colspan="{{fullColspan}}"></td>
    </tr>
  {{/if}}
{{/if}}
