{{#if settings.isRancher}}
  <div class="row bg-info p-10 text-mono" style="color: white;">
    <div class="col span-3 text-left">
        <large class="text-uppercase">{{settings.appName}}</large>
        <div>022482</div>
      </div>
      <div class="col span-3 text-center">
        <large>&nbsp;</large>
        <div><i class="icon icon-container"/> x {{containerCount}}</div>
      </div>
      <div class="col span-3 text-center">
      <large class="text-uppercase">{{t "modalShortcuts.world"}}</large>
      <div>1-2</div>
    </div>

    <div class="col span-3 text-right">
      <large class="text-uppercase">{{t "modalShortcuts.time"}}</large>
      <div>{{time}}</div>
    </div>
  </div>
{{/if}}

{{#if settings.isRancher}}
  <h1 class="text-mono text-center pt-20 mb-0">{{t "modalShortcuts.title.rancher"}}</h1>
  <h5 class="text-center text-muted">({{t "modalShortcuts.title.pl"}})</h5>
{{else}}
  <h1 class="text-mono text-center pt-20">{{t "modalShortcuts.title.pl"}}</h1>
{{/if}}

<div class="row m-20">
  <div class="col span-6">
      <h3 class="m-0">{{t "modalShortcuts.global"}}</h3>
      <hr class="mt-5 mb-5">
      {{shortcut-key key="c" label="nav.admin.clusters"}}
      {{shortcut-key key="u" label="nav.admin.accounts"}}
      {{shortcut-key key="K" modifier="shift" label="nav.api.link"}}
      {{shortcut-key key="P" modifier="shift" label="nav.userPreferences.link"}}
      {{shortcut-key key="T" modifier="shift" label="nav.nodeTemplates.link"}}

      <h3 class="m-0 mt-20">{{t "modalShortcuts.project"}}</h3>
      <hr class="mt-5 mb-5">
      {{shortcut-key key="a" label="nav.apps.tab"}}
      {{shortcut-key key="b" label="nav.containers.ingresses"}}
      {{shortcut-key key="m" label="nav.cluster.members"}}
      {{shortcut-key key="s" label="nav.containers.dns"}}
      {{shortcut-key key="h" label="nav.containers.hpa"}}
      {{shortcut-key key="w" label="nav.containers.containers"}}
      {{shortcut-key key="v" label="nav.containers.volumes"}}
  </div>
  <div class="col span-6">
      <h3 class="m-0">{{t "modalShortcuts.cluster"}}</h3>
      <hr class="mt-5 mb-5">
      {{shortcut-key key="d" label="nav.cluster.dashboard"}}
      {{shortcut-key key="m" label="nav.cluster.members"}}
      {{shortcut-key key="n" label="nav.cluster.nodes"}}
      {{shortcut-key key="p" label="nav.cluster.projects"}}
      {{shortcut-key key="V" modifier="shift" label="nav.cluster.storage.volumes"}}

      <h3 class="m-0 mt-20">{{t "modalShortcuts.other"}}</h3>
      <hr class="mt-5 mb-5">
      {{shortcut-key key="delete" label="modalShortcuts.delete"}}
      {{shortcut-key key="g" label="modalShortcuts.viewGroup"}}
      {{shortcut-key key="t" label="modalShortcuts.nextTab"}}
      {{shortcut-key key="/" label="modalShortcuts.search"}}
      {{shortcut-key key="Tilde" label="modalShortcuts.kubectl"}}
      {{shortcut-key key="?" modifier="shift" label="modalShortcuts.shortcuts"}}
  </div>
</div>

<div class="footer-actions pb-20">
  <button {{action "cancel"}} class="btn bg-primary">{{t "generic.closeModal"}}</button>
</div>
