{{#if settings.isRancher}}
  <table width="100%" class="text-mono">
    <tr>
      <td colspan="2">{{settings.appName}}</td>
      <td class="text-center">{{t 'modalShortcuts.world'}}</td>
      <td class="text-right">{{t 'modalShortcuts.time'}}</td>
    </tr>
    <tr>
      <td>022482</td>
      <td class="text-center"><i class="icon icon-container"/> x {{containerCount}}</td>
      <td class="text-center">1-2</td>
      <td class="text-right">{{time}}</td>
    </tr>
  </table>
{{/if}}

<h1 class="text-mono text-center pt-20">{{t (if settings.isRancher 'modalShortcuts.title.rancher' 'modalShortcuts.title.pl')}}</h1>

<div class="row">
  <div class="col span-6">
    <table>
      <tr>
        <td colspan="2" class="text-bold">{{t 'modalShortcuts.navigation'}}</td>
      </tr>
      <tr>
        <td width="90" class="pb-5"><code>a</code></td>
        <td>{{t 'modalShortcuts.a'}}</td>
      </tr>
      <tr>
        <td class="pb-5"><code>b</code></td>
        <td>{{t 'modalShortcuts.b'}}</td>
      </tr>
      <tr>
        <td class="pb-5"><code>c</code></td>
        <td>{{t 'modalShortcuts.c'}}</td>
      </tr>
      <tr>
        <td class="pb-5"><code>d</code></td>
        <td>{{t 'modalShortcuts.d'}}</td>
      </tr>
      <tr>
        <td class="pb-5"><code>e</code></td>
        <td>{{t 'modalShortcuts.e'}}</td>
      </tr>
      <tr>
        <td class="pb-5"><code>h</code></td>
        <td>{{t 'modalShortcuts.h'}}</td>
      </tr>
      <tr>
        <td class="pb-5"><code>Shift-K</code></td>
        <td>{{t 'modalShortcuts.k'}}</td>
      </tr>
     <tr>
        <td class="pb-5"><code>v</code></td>
        <td>{{t 'modalShortcuts.v'}}</td>
      </tr>
    </table>
  </div>
  <div class="col span-6">
    <table>
      <tr>
        <td colspan="2" class="text-bold">{{t 'modalShortcuts.other'}}</td>
      </tr>
      <tr>
        <td width="90" class="pb-5"><code>g</code></td>
        <td>{{t 'modalShortcuts.g'}}</td>
      </tr>
      <tr>
        <td width="90" class="pb-5"><code>n</code></td>
        <td>{{t 'modalShortcuts.n'}}</td>
      </tr>
      <tr>
        <td class="pb-5"><code>s</code></td>
        <td>{{t 'modalShortcuts.s'}}</td>
      </tr>
      <tr>
        <td width="90" class="pb-5"><code>t</code></td>
        <td>{{t 'modalShortcuts.t'}}</td>
      </tr>
      <tr>
        <td class="pb-5"><code>/</code></td>
        <td>{{t 'modalShortcuts.slash'}}</td>
      </tr>
      <tr>
        <td class="pb-5"><code>?</code></td>
        <td>{{t 'modalShortcuts.question'}}</td>
      </tr>
    </table>

    {{#if isAdmin}}
      <table class="mt-10">
        <tr>
          <td colspan="2" class="text-bold">{{t 'modalShortcuts.admin'}}</td>
        </tr>
        <tr>
          <td width="90" class="pb-5"><code>p</code></td>
          <td>{{t 'modalShortcuts.p'}}</td>
        </tr>
      </table>
    {{/if}}
  </div>
</div>

<div class="footer-actions">
  <button {{action "cancel"}} class="btn bg-primary">{{t 'generic.closeModal'}}</button>
</div>
