{{#if projectController.showClusterWelcome}}
  {{cluster-welcome}}
{{else}}
  {{waiting-orchestration}}

  {{containers-header tags=tags simpleMode=true showGroup=false}}

  <div class="row">
    <div class="col span-4 text-center option option-primary">
      <h2>Dashboard</h2>
      <div class="box" style="min-height: 250px;">
        <p>Access the native Kubernetes dashboard.</p>

        <div class="links" style="top: auto; bottom: 47px;">
          <button class="btn bg-primary icon-btn" {{action "dashboard"}}>
            <span class="darken"><i class="icon icon-external-link"></i></span>
            <span>Launch Dashboard</span>
          </button>
        </div>
      </div>
      <div class="bubble bg-body round p-10"><img src="{{app.baseAssets}}assets/images/environment-dashboard.svg" class="mt-5" /></div>
    </div>

    <div class="col span-4 text-center option option-primary">
      <h2>Shell</h2>
      <div class="box" style="min-height: 250px;">
        <p>Run <code>kubectl</code> commands from your browser.</p>

        <div class="links" style="top: auto; bottom: 47px;">
          <button class="btn bg-primary icon-btn ml-10" {{action "kubectl"}}>
            <span class="darken"><i class="icon icon-terminal"></i></span>
            <span>Launch kubectl</span>
          </button>
        </div>
      </div>
      <div class="bubble bg-body round p-10"><img src="{{app.baseAssets}}assets/images/environment-shell.svg" class="mt-5" /></div>
    </div>

    <div class="col span-4 text-center option option-primary">
      <h2>Config File</h2>
      <div class="box" style="min-height: 250px;">
        <p>Generate a Kubernetes config file to use <code>kubectl</code> on your desktop.</p>

        <div class="links" style="top: auto; bottom: 47px;">
          <button class="btn bg-primary icon-btn ml-10" {{action "kubeconfig"}}>
            <span class="darken"><i class="icon icon-download"></i></span>
            <span>Download kubeconfig</span>
          </button>
        </div>
      </div>
      <div class="bubble bg-body round p-10"><img src="{{app.baseAssets}}assets/images/environment-config.svg" class="mt-5" /></div>
    </div>
  </div>
{{/if}}
