  <div class="clearfix well r-p0 r-m0">
    <div class="stack-state {{model.stateBackground}}"><i class="{{model.stateIcon}}"></i></div>

    <div class="header-left collapser">
      &nbsp;
    </div>


    <div class="header-left name {{if model.description 'with-description'}}">
      <h4 class="divider clip">
        {{model.name}}
      </h4>
      {{#if model.description}}
        <div class="text-muted clip">{{model.description}}</div>
      {{/if}}
    </div>

    <div class="header-right stack-template">
      {{action-menu model=model}}
    </div>
  </div>

<div class="stack-body">
  {{#if filtered.length}}
    <table class="grid fixed" style="margin-bottom: 0">
      <tbody>
        {{#each filtered as |inst|}}
          <tr>
            <td class="state">
              {{badge-state model=inst}}
            </td>

            <td class="force-wrap">
              <a href="{{detailBaseUrl}}{{inst.id}}" data-transition-link="true">{{inst.displayName}}</a>
            </td>

            <td class="actions wide">
              {{action-menu model=inst}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="text-muted text-center r-p10">No Pods</div>
  {{/if}}
</div>

