<div class="box">
  <div class="row">
    <div class="col span-3" style="border-right: 1px solid gray;">
      <label class="acc-label">{{t 'formVolumeRow.mode.label'}}</label>
      <div>
        {{t (concat 'formVolumeRow.mode.' model.mode)}}
        {{#if (eq mode "newPvc")}}
          <a action={{action 'defineNewPvc'}}> <i class="icon icon-edit"/></a>
        {{else if (eq mode "newVolume")}}
          <a action={{action 'defineNewVolume'}}> <i class="icon icon-edit"/></a>
        {{/if}}
      </div>

      <label class="acc-label">{{t 'formVolumeRow.name.label'}}</label>
      {{input type="text" value=model.volume.name placeholder=(t 'formVolumeRow.name.placeholder')}}

      <button class="btn bg-primary btn-sm" {{action "remove"}}>
        <i class="icon icon-minus"/> Remove Volume
        <span class="sr-only">{{t 'generic.remove'}}</span>
      </button>
    </div>
    <div class="col span-9">
      <label class="acc-label">Mounts</label>
      {{#each model.mounts as |mnt|}}
        {{input value=mnt.mountPath}}
      {{/each}}
    </div>
  </div>
</div>
