<section class="header clearfix">
  <h1>{{t 'certificatesPage.index.header'}}</h1>

  <div class="right-buttons">
    {{#link-to "certificates.new" classNames="btn btn-sm bg-primary right-divider-btn"}}{{t 'certificatesPage.index.linkTo'}}{{/link-to}}
  </div>
</section>

<section class="instances">
  {{#sortable-table
      classNames="grid fixed mb-0 sortable-table"
      bulkActions=false
      paging=false
      search=false
      sortBy=sortBy
      headers=headers
      body=model
      as |sortable kind cert|
  }}
    {{#if (eq kind "row")}}
      {{certificate-row model=cert}}
    {{else if (eq kind "norows")}}
      <tr>
        <td colspan="{{headers.length}}" class="text-center text-muted">{{t 'certificatesPage.index.table.body.noData'}}</td>
      </tr>
    {{/if}}
  {{/sortable-table}}
</section>
