<section class="header">
  <ol class="breadcrumb right-divider">
    <li class="active">Certificates</li>
  </ol>

  {{#link-to "certificates.new" classNames="btn btn-sm btn-primary right-divider-btn"}}Add Certificate{{/link-to}}
</section>

<section class="well instances">
  <table class="grid fixed" style="margin-bottom: 0;">
    <thead>
      <tr>
        {{sortable-th sortable=this action="changeSort" name="state" width="125"}}
        {{sortable-th sortable=this action="changeSort" name="name"}}
        {{sortable-th sortable=this action="changeSort" name="cn" label="Domain Name"}}
        {{sortable-th sortable=this action="changeSort" name="expires" width="120"}}
        <th class="actions" width="50">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each arranged as |cert|}}
        {{certificate-row model=cert}}
      {{else}}
        <tr><td colspan="5" class="text-center text-muted">You do not have any certificates yet.</td></tr>
      {{/each}}
    </tbody>
  </table>
</section>

