<section class="header clearfix">
  <div class="pull-left">
    <h1>{{t 'certificatesPage.index.header'}}</h1>
  </div>

  <div class="right-buttons">
    {{#link-to "certificates.new" classNames="btn btn-sm bg-primary right-divider-btn"}}{{t 'certificatesPage.index.linkTo'}}{{/link-to}}
  </div>
</section>

<section>
  {{#if model.length}}
    {{#sortable-table
        classNames="grid fixed mb-0 sortable-table"
        bulkActions=false
        paging=false
        search=false
        sortBy=sortBy
        headers=headers
        body=model
        as |sortable kind cert|
    }}
      {{#if (eq kind "row")}}
        {{certificate-row model=cert}}
      {{else if (eq kind "norows")}}
        <tr>
          <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'certificatesPage.index.table.body.noData'}}</td>
        </tr>
      {{/if}}
    {{/sortable-table}}
  {{else}}
    {{empty-table resource="certificate" newRoute="certificates.new" newTranslationKey="certificatesPage.index.linkTo"}}
  {{/if}}
</section>
