{{arranged.length}}
{{#sortable-table
  classNames="lacsso grid sortable-table"
  prefix=true
  bulkActions=false
  paging=true
  search=true
  sortBy=sortBy
  descending=descending
  headers=headers
  body=model.processInstances
  perPage=prefs.tablePerPage
  as |row kind dt|
}}
  {{#if (eq kind "row")}}
    <td data-title="{{dt.id}}">
      <span class={{if row.endTime 'label label-success' 'label label-warning'}}>{{row.id}}</span>
    </td>

    <td data-title="{{dt.processName}}" class="clip">
      {{#link-to 'admin-tab.process' row.id classNames='hand'}}{{row.processName}}{{/link-to}}
    </td>

    <td data-title="{{dt.resource}}" class="clip">
      {{process-link model=row}}
    </td>

    {{#if (or (eq which "delayed") (eq which "completed"))}}
      <td data-title="{{dt.exitReason}}">
        {{row.exitReason}}
      </td>
    {{/if}}

    <td data-title="{{dt.startTime}}">
      {{#if row.startTime}}
        {{date-calendar row.startTime}}
      {{else}}
        <span class="text-muted">&mdash;</span>
      {{/if}}
    </td>

    {{#if (eq which "completed")}}
      <td data-title="{{dt.endTime}}">
        {{#if row.endTime}}
          {{date-calendar row.endTime}}
        {{else}}
          <span class="text-muted">&mdash;</span>
        {{/if}}
      </td>
    {{/if}}

    {{#if (eq which "delayed")}}
      <td data-title="{{dt.runAfter}}">
        {{date-calendar row.runAfter}}
      </td>
    {{else}}
      <td data-title="{{dt.runTime}}">
        {{run-time row.startTimeTS row.endTimeTS}}
      </td>
    {{/if}}

    <td data-title="{{t 'generic.actions'}}:" class="actions">
      {{action-menu model=row showPrimary=false}}
    </td>
  {{else if (eq kind "nomatch")}}
    <td colspan="{{headers.length}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'processesPage.list.noMatch'}}</td>
  {{else if (eq kind "norows")}}
    <td colspan="{{headers.length}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'processesPage.list.noData' which=which}}</td>
  {{/if}}
{{/sortable-table}}
