<div class="over-hr" style="margin: 20px 0;">
  <span>Docker Engine</span>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Docker Install URL</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{input type="text" value=machine.engineInstallUrl classNames="form-control" placeholder="e.g. http://get.docker.com/"}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Storage Driver</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{input type="text" value=machine.engineStorageDriver classNames="form-control" placeholder="e.g. overlay"}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Engine Options</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{form-key-value
      initialMap=machine.engineOpt
      changed=(action (mut machine.engineOpt))
      nameLabel="Engine Option"
      keyPlaceholder="e.g. log-driver"
      valuePlaceholder="e.g. syslog"
    }}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Engine Labels</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{form-key-value
      initialMap=machine.engineLabel
      changed=(action (mut machine.engineLabel))
      nameLabel="Engine Label"
      keyLabel="Label"
    }}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Engine Environment</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{form-key-value
      initialMap=machine.engineEnv
      changed=(action (mut machine.engineEnv))
      nameLabel="Environment Variable"
      keyLabel="Variable"
      keyPlaceholder="e.g. HTTP_PROXY"
      valuePlaceholder="e.g. http://your-proxy:8080"
    }}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Insecure Registries</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{form-value-array
      initialValues=machine.engineInsecureRegistry
      changed=(action (mut machine.engineInsecureRegistry))
      nameLabel="Insecure Registry"
      valueLabel="Registry Domain"
      valuePlaceholder="e.g. registry.example.com"
    }}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Registry Mirrors</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{form-value-array
      initialValues=machine.engineRegistryMirror
      changed=(action (mut machine.engineRegistryMirror))
      nameLabel="Registry Mirror"
      valueLabel="Mirror URL"
      valuePlaceholder="e.g. https://my-mirror.example.com:5000"
    }}
  </div>
</div>

