<section class="header has-tabs clearfix p-0">
  <ul class="tab-nav">
    <li>
      {{#link-to "graph"}}{{t "istio.nav.graph"}}{{/link-to}}
    </li>
    <li>
      {{#link-to "metrics"}}{{t "istio.nav.metrics"}}{{/link-to}}
    </li>
    {{!-- <li>
      {{#link-to "rules"}}{{t "istio.nav.rules"}}{{/link-to}}
    </li> --}}
  </ul>

  <div class="right-buttons">
    <div class="inline-block vertical-bottom mr-20">
      <a
        class="inline-block"
        href={{kialiUrl}}
        target="_blank"
        rel="nofollow noopener noreferrer"
      >
        <div class="kiali"></div>
      </a>

      <a
        class="inline-block"
        href={{jaegerUrl}}
        target="_blank"
        rel="nofollow noopener noreferrer"
      >
        <div class="jaeger"></div>
      </a>

      <a
        class="inline-block"
        href={{grafanaUrl}}
        target="_blank" rel="nofollow noopener noreferrer">
        <div class="grafana"></div>
      </a>

      <a
        class="inline-block"
        href={{prometheusUrl}}
        target="_blank"
        rel="nofollow noopener noreferrer"
      >
        <div class="prometheus-icon"></div>
      </a>
    </div>
    {{yield}}
  </div>
</section>
