<section class="header has-tabs clearfix p-0">
  <ul class="tab-nav">
    {{#unless iconDisabled}}
      <li>
        {{#link-to "project-istio.graph"}}{{t "istio.nav.graph"}}{{/link-to}}
      </li>
    {{/unless}}
    <li>
      {{#link-to "project-istio.metrics"}}{{t "istio.nav.metrics"}}{{/link-to}}
    </li>
    {{!-- <li>
      {{#link-to "project-istio.rules"}}{{t "istio.nav.rules"}}{{/link-to}}
    </li> --}}
  </ul>

  {{#unless iconDisabled}}
    <div class="right-buttons">
      <div class="inline-block vertical-bottom mr-20">
        <a
          class="inline-block"
          href={{kialiUrl}}
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          <div class="kiali"></div>
        </a>

        <a
          class="inline-block"
          href={{jaegerUrl}}
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          <div class="jaeger"></div>
        </a>

        <a
          class="inline-block"
          href={{grafanaUrl}}
          target="_blank" rel="nofollow noopener noreferrer">
          <div class="grafana"></div>
        </a>

        <a
          class="inline-block"
          href={{prometheusUrl}}
          target="_blank"
          rel="nofollow noopener noreferrer"
        >
          <div class="prometheus-icon"></div>
        </a>
      </div>
      {{#if (and (eq currentRouteName "rules") project.id)}}
        <a
          class="btn btn-sm bg-primary mr-10"
          href="{{href-to "authenticated.project.project-catalogs" project.id (query-params istio=true)}}"
        >
          <i class="icon icon-gear icon-fw"/>
          <span>{{t "nav.apps.manage"}}</span>
        </a>

        <a
          class="btn btn-sm bg-primary"
          href="{{href-to "catalog-tab" project.id (query-params istio=true)}}"
          disabled={{rbac-prevents resource="app" scope="project" permission="create"}}
        >
          <span>{{t "rulesPage.new"}}</span>
        </a>
      {{/if}}
      {{yield}}
    </div>
  {{/unless}}
</section>
