{{input
    type="text"
    class="form-control"
    value=value
    placeholder=placeholder
}}

{{#basic-dropdown
     horizontalPosition="right"
     as |dd|}}
  {{#dd.trigger
       class="btn bg-primary input-group-btn"
  }}
    <i class="icon icon-chevron-down"></i>
  {{/dd.trigger}}

  {{#dd.content}}
    {{#if grouped}}
      {{#each-in grouped as |group choices|}}
        {{#if choices.length}}
          <li class="dropdown-header">{{group}}</li>
          {{#each choices as |value|}}
            <li {{action "select" value}}><a href="#">{{value}}</a></li>
          {{/each}}
        {{/if}}
      {{/each-in}}
    {{else}}
      {{#each choices as |value|}}
        <li {{action "select" value}}><a href="#">{{value}}</a></li>
      {{/each}}
    {{/if}}
  {{/dd.content}}
{{/basic-dropdown}}