{{#if hostConfig}}
  {{hostName}} <a href="#" {{action 'launchHost'}}>{{t 'generic.remove'}}</a>
{{else}}
  <button {{action "launchHost"}} class="btn bg-primary">{{t 'schema.inputHost.label'}}</button>
{{/if}}
