<section class="clearfix pt-20">
  <h4 class="pull-left m-0 pr-10 pt-5">{{t 'generic.cluster'}}: {{model.displayName}}</h4>
  {{#unless (eq model.state 'active')}}
    {{badge-state model=model}}
  {{/unless}}

  <div class="pull-right">
    {{#if (and (eq model.state 'active') model.registrationToken.hostCommand)}}
      {{#link-to "authenticated.clusters.cluster.host-templates" model.id class="btn btn-sm bg-primary"}}{{t 'clustersPage.newHost'}}{{/link-to}}
    {{else}}

    {{#link-to "authenticated.clusters.cluster.host-templates" projects.currentCluster.id class="btn bg-link icon-btn"}}<span class="darken"><i class="icon icon-plus text-small"></i></span> <span>{{t 'clusterBox.addHost'}}</span>{{/link-to}}

    {{#link-to "authenticated.clusters.cluster.import" projects.currentCluster.id class="btn bg-link icon-btn"}} <span class="darken"><i class="icon icon-upload text-small"></i></span><span>{{t 'clusterBox.importCluster'}}</span>{{/link-to}}

    {{/if}}
    {{action-menu model=model showPrimary=false classNames="ml-10 inline-block" size="sm"}}
  </div>
</section>
<hr/>

{{#if (eq model.state 'active')}}
<div class="row">
  <div class="col span-3">
    <div class="banner bg-info">
      <div style="width: 90px" class="banner-icon"><span class="icon icon-host"></span> Hosts</div>
      <div class="banner-message">
        <p>{{model.numHosts}} Total</p>
      </div>
    </div>
  </div>

  <div class="col span-3">
    <div class="banner bg-info">
      <div style="width: 90px" class="banner-icon"><span class="icon icon-cpu"></span> CPU</div>
      <div class="banner-message">
        <p>{{model.numGhz}} Total GHz</p>
      </div>
    </div>
  </div>

  <div class="col span-3">
    <div class="banner bg-info">
      <div style="width: 90px" class="banner-icon"><span class="icon icon-memory"></span> Memory</div>
      <div class="banner-message">
        <p>{{model.numMem}} Total GB</p>
      </div>
    </div>
  </div>

  <div class="col span-3">
    <div class="banner bg-info">
      <div style="width: 90px" class="banner-icon"><span class="icon icon-hdd"></span> Storage</div>
      <div class="banner-message">
        <p>{{model.numStorage}} Total GB</p>
      </div>
    </div>
  </div>

</div>
{{/if}}

{{#sortable-table
  tableClassNames="bordered"
  bulkActions=true
  rightActions=true
  paging=true
  pagingLabel="pagination.project"
  search=true
  sortBy=sortBy
  descending=descending
  headers=headers
  body=model.projects
  fullRows=true
  stickyHeader=false
  as |sortable kind p dt|
}}
  {{#if (eq kind "row")}}
    {{project-row model=p dt=dt}}
  {{else if (eq kind "nomatch")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'clusterBox.noMatch'}}</td></tr>
  {{else if (eq kind "norows")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'clusterBox.noData'}}</td></tr>
  {{else if (eq kind "right-actions")}}
    {{#link-to "authenticated.clusters.new-project" (query-params clusterId=model.id) class="btn btn-sm bg-primary"}}{{t 'clustersPage.newProject'}}{{/link-to}}
  {{/if}}
{{/sortable-table}}
