<div>
  <label for="">{{t 'hostsPage.cloudHostsPage.addPage.zone'}}</label>
  {{hostOptions.location}}
</div>
<hr/>
<div>
  <label for="">{{t 'hostsPage.cloudHostsPage.addPage.env'}}</label>
  {{hostOptions.environment}}
</div>
<hr/>
<div>
  <label for="">{{t 'hostsPage.cloudHostsPage.addPage.size'}}</label>
  {{hostOptions.size}}
</div>