{{#if model.supported }}
  <section class="pl-0 pr-0">
    {{#sortable-table
      classNames="grid sortable-table"
      body=rows
      searchText=searchText
      sortBy=sortBy
      bulkActions=true
      descending=descending
      subRows=true
      groupByKey="namespaceId"
      groupByRef="namespace"
      pagingLabel="pagination.gateways"
      headers=headers as |sortable kind inst dt|
    }}
      {{#if (eq kind "row")}}
        {{gateway-row
          model=inst
          searchText=searchText
          subMatches=sortable.subMatches
          fullColspan=sortable.fullColspan
          dt=dt
        }}
      {{else if (eq kind "group")}}
        {{namespace-group
          model=inst.ref
          fullColspan=sortable.fullColspan
        }}
      {{else if (eq kind "nomatch")}}
        <tr>
          <td
            colspan="{{sortable.fullColspan}}"
            class="text-center text-muted pt-20 pb-20"
          >
            {{t "gatewayPage.noMatch"}}
          </td>
        </tr>
      {{else if (eq kind "norows")}}
        <tr>
          <td
            colspan="{{sortable.fullColspan}}"
            class="text-center text-muted pt-20 pb-20"
          >
            {{t "gatewayPage.noData"}}
          </td>
        </tr>
      {{/if}}
    {{/sortable-table}}
  </section>
{{else}}
  {{banner-message
    icon="icon-alert"
    color="bg-warning mb-10"
    message=(t "gatewayPage.notSupported" htmlSafe=true)
  }}
{{/if}}