<section class="cluster-template-select row">
  <p>
    {{t "clustersSelectTemplatePage.label"}}
  </p>
  <div class="col span-6 col-inline">
    <label class="acc-label" for="input-cluster-template-select">
      {{t "clustersSelectTemplatePage.select.label"}}
    </label>
    {{new-select
      id="input-cluster-template-select"
      classNames="form-control"
      optionValuePath="clusterTemplateRevisionId"
      optionLabelPath="clusterTemplateRevisionId"
      optionGroupPath="clusterTemplateName"
      content=allTemplates
      value=clusterTemplateRevisionId
      prompt=(t "clustersSelectTemplatePage.select.prompt")
      localizedPrompt=true
    }}
  </div>
</section>

{{top-errors errors=errors}}
{{save-cancel
  createLabel="generic.confirm"
  save=(action "save")
  cancel=(action "cancel")
}}
