{{#liquid-if hasHttpListeners}}
  <div class="row {{unless isStickyNone 'form-group'}}">
    <div class="col-sm-12 col-md-2 form-label">
      <label>Stickiness</label>
    </div>
    <div class="col-sm-6 col-md-2 radio">
      <label>{{radio-button selection=stickiness value="none"}} None</label>
    </div>
    <div class="col-sm-6 col-md-4 radio">
      <label>{{radio-button selection=stickiness value="lbCookie"}} Create new cookie</label>
    </div>
  </div>

  {{#liquid-if isStickyLbCookie}}
    <div>
      <div class="row form-group">
        <div class="col-sm-12 col-md-2 form-label">
          <label class="form-control-static">Cookie Name</label>
        </div>
        <div class="col-sm-12 col-md-3">
          {{input type="text" classNames="form-control" value=lbCookie.cookie placeholder="e.g. sticky"}}
        </div>
        <div class="col-sm-12 col-md-2 form-label">
          <label class="form-control-static">Mode</label>
        </div>
        <div class="col-sm-12 col-md-3">
          {{new-select
            class="form-control"
            content=lbCookieModeChoices
            value=lbCookie.mode
          }}
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-12 col-md-2 form-label">
          <label class="form-control-static">Domain</label>
        </div>
        <div class="col-sm-12 col-md-8">
          {{input type="text" classNames="form-control" value=lbCookie.domain placeholder="e.g. mydomain.com"}}
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-12 col-md-2 form-label">
          <label class="form-control-static">Options</label>
        </div>
        <div class="col-sm-12 col-md-8">
          <div class="checkbox">
            <label>{{input type="checkbox" checked=lbCookie.indirect}} Indirect</label>
          </div>
          <div class="checkbox">
            <label>{{input type="checkbox" checked=lbCookie.nocache}} Send no-cache header</label>
          </div>
          <div class="checkbox">
            <label>{{input type="checkbox" checked=lbCookie.postonly}} Only set cookie on POST</label>
          </div>
        </div>
      </div>
    </div>
  {{/liquid-if}}
{{else}}
  <div class="text-muted text-center">
    There are no HTTP listening ports configured.
  </div>
{{/liquid-if}}
