{{#liquid-if lbConfig.canSticky}}
  <div class="row {{unless isNone 'form-group'}}">
    <div class="col-sm-12 col-md-2 form-label">
      <label>{{t 'formStickiness.stickiness'}}</label>
    </div>
    <div class="col-sm-6 col-md-2 radio">
      <label>{{radio-button selection=stickiness value="none"}} {{t 'formStickiness.none'}}</label>
    </div>
    <div class="col-sm-6 col-md-4 radio">
      <label>{{radio-button selection=stickiness value="cookie"}} {{t 'formStickiness.newCookie'}}</label>
    </div>
  </div>

  {{#liquid-if isCookie}}
    <div>
      <div class="row form-group">
        <div class="col-sm-12 col-md-2 form-label">
          <label class="form-control-static">{{t 'formStickiness.cookieName'}}</label>
        </div>
        <div class="col-sm-12 col-md-3">
          {{input type="text" classNames="form-control" value=policy.cookie placeholder=(t 'formStickiness.placeholder.sticky')}}
        </div>
        <div class="col-sm-12 col-md-2 form-label">
          <label class="form-control-static">{{t 'formStickiness.mode'}}</label>
        </div>
        <div class="col-sm-12 col-md-3">
          {{new-select
            class="form-control"
            content=modeChoices
            value=policy.mode
          }}
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-12 col-md-2 form-label">
          <label class="form-control-static">{{t 'formStickiness.domain'}}</label>
        </div>
        <div class="col-sm-12 col-md-8">
          {{input type="text" classNames="form-control" value=policy.domain placeholder=(t 'formStickiness.placeholder.domain')}}
        </div>
      </div>
      <div class="row form-group">
        <div class="col-sm-12 col-md-2 form-label">
          <label class="form-control-static">{{t 'formStickiness.options'}}</label>
        </div>
        <div class="col-sm-12 col-md-8">
          <div class="checkbox">
            <label>{{input type="checkbox" checked=policy.indirect}} {{t 'formStickiness.indirect'}}</label>
          </div>
          <div class="checkbox">
            <label>{{input type="checkbox" checked=policy.nocache}} {{t 'formStickiness.sendHeader'}}</label>
          </div>
          <div class="checkbox">
            <label>{{input type="checkbox" checked=policy.postonly}} {{t 'formStickiness.onPost'}}</label>
          </div>
        </div>
      </div>
    </div>
  {{/liquid-if}}
{{else}}
  <div class="text-muted">
    {{t 'formStickiness.noPorts'}}
  </div>
{{/liquid-if}}
