<<<<<<< HEAD
<label class="pb-5 acc-label">{{t 'formImage.label'}}{{field-required}}</label>
=======
<label class="acc-label pb-5">{{t 'formImage.label'}}{{field-required}}</label>
>>>>>>> put a lable on it

{{input-suggest
  value=userInput
  grouped=suggestions
  placeholder=(t 'formImage.container.placeholder')
}}
