<section>
  {{#if isEnabled }}
    <h3>{{t 'authPage.github.header.enabled.label' github=(t providerName)}}</h3>
    <hr/>
  {{else}}
    <div class="banner bg-warning">
      <div class="banner-icon"><span class="icon icon-alert"></span></div>
      <div class="banner-message">
        <p>{{t 'authPage.github.header.disabled.label'}}</p>
       </div>
    </div>
  {{/if}}
  <div>
    {{#if isEnabled}}
      <p>{{t (concat 'authPage.github.header.enabled.' githubConfig.accessMode) appName=settings.appName github=(t providerName) users=numUsers orgs=numOrgs}}</p>
    {{else}}
      <p>{{t 'authPage.github.header.disabled.warning' appName=settings.appName}}</p>
    {{/if}}
  </div>
  {{top-errors errors=errors}}
</section>

{{#if isEnabled}}
  <section class="box mt-30">
    <div class="header-borderless clear-fix mb-15 pb-0">
      <h3 class="pull-left">{{t 'authPage.github.authenticated.header.text'}}</h3>
      <div class="vertical-middle"></div>
      <div class="right-buttons">
        <button class="btn btn-sm right-divider-btn" {{action "promptDisable"}} disabled=true>
          {{t 'generic.edit'}}
        </button>
        <button class="btn btn-sm right-divider-btn bg-error" {{action "disable"}}>
          {{t 'authPage.github.authenticated.disableAccess.disable'}}
        </button>
      </div>
    </div>
    <hr/>
    {{#if isEnterprise }}
      <div><b>{{t 'authPage.github.authenticated.header.enterpriseHostName'}} </b> <span class="text-muted">{{githubConfig.hostname}}</span></div>
    {{/if}}
    <div><b>{{t 'authPage.github.authenticated.header.clientId.text'}} </b> <span class="text-muted">{{githubConfig.clientId}}</span></div>
  </section>

  {{site-access
      model=githubConfig
      principals=model.principals
      collection='siteAccess.organizations'
  }}
{{/if}}

{{#unless isEnabled}}
  <section class="box mt-30">
    <h3>{{t 'authPage.github.notAuthenticated.header'}}</h3>
    <hr/>
    <p>
      <ol class="alphalist ml-40">
        <li>
          {{t 'authPage.github.notAuthenticated.ul.li1.text' htmlSafe=true}}
          <ul>
            <li>{{t 'authPage.github.notAuthenticated.ul.li1.ul.li1'}}</li>
          </ul>
        </li>
        <li>
          {{t 'authPage.github.notAuthenticated.ul.li2.text'}}
          <ul>
            <li>{{t 'authPage.github.notAuthenticated.ul.li2.ul.li1' appName=settings.appName htmlSafe=true}}</li>
            <li>
              <b>{{t 'authPage.github.notAuthenticated.ul.li2.ul.li2'}}</b> <span>{{destinationUrl}}{{copy-to-clipboard size='small' clipboardText=destinationUrl htmlSafe=true}}</span>
            </li>
            <li>{{t 'authPage.github.notAuthenticated.ul.li2.ul.li3' htmlSafe=true}}</li>
            <li><b>{{t 'authPage.github.notAuthenticated.ul.li2.ul.li4'}}</b> <span id="auth-callback-url">{{destinationUrl}} {{copy-to-clipboard size='small' clipboardText=destinationUrl}}</span></li>
          </ul>
        </li>
        <li>{{t 'authPage.github.notAuthenticated.ul.li3.text'}}</li>
      </ol>
    </p>
  </section>

  <form autcomplete="on">
    <section class="box mt-30">
      <h4>{{t 'authPage.github.notAuthenticated.form.header' appName=settings.appName}}</h4>
      <div class="row">
        <div class="col span-6">
          <div class="inline-form">
            <label class="acc-label pb-5">{{t 'authPage.github.notAuthenticated.form.clientId.labelText'}}{{field-required}}</label>
            {{input type="text" name="username" value=githubConfig.clientId classNames="form-control"}}
            <p class="help-block">{{t 'authPage.github.notAuthenticated.form.subtext'}}</p>

          </div>
        </div>
        <div class="col span-6">
          <div class="inline-form">
            <label class="acc-label pb-5">{{t 'authPage.github.notAuthenticated.form.clientSecret.labelText'}}{{field-required}}</label>
            {{input type="password" name="password" value=githubConfig.clientSecret classNames="form-control"}}
          </div>
          <div class="checkbox pt-10">
            <label class="acc-label pb-5">{{input type="checkbox" checked=isEnterprise}} {{t 'authPage.github.notAuthenticated.form.ghEnterprise.labelText'}} (disabled)</label>
          </div>
          {{#liquid-if isEnterprise}}
            <div class="checkbox pt-10">
              <label class="acc-label pb-5">{{input type="checkbox" checked=secure}} {{t 'authPage.github.notAuthenticated.form.isGHEnterprise.labelText'}} (<code>https://</code>).</label>
            </div>
          {{/liquid-if}}
          {{#liquid-if isEnterprise}}
            <label class="acc-label pb-5">{{t 'authPage.github.notAuthenticated.form.enterpriseHost.labelText'}}{{field-required}}</label>
            {{input type="text" value=githubConfig.hostname classNames="form-control" placeholder=(t 'authPage.github.notAuthenticated.form.enterpriseHost.placeholder')}}
          {{/liquid-if}}
        </div>
      </div>

      <div class="row">
        <div class="inline-form">
          <button class="btn bg-primary" style="display: block;margin: 0 auto;" {{action "save"}}>
            {{#if saving}}
              <i class="icon icon-spinner icon-spin"></i> {{t 'authPage.github.testAuth.buttonText.post'}}
            {{else if doneSaving}}
              {{t 'generic.saved'}}
            {{else}}
              <i class="icon icon-github"></i> {{t 'authPage.github.testAuth.buttonText.pre'}}
            {{/if}}
          </button>
        </div>
      </div>
    </section>
  </form>
{{/unless}}
