<div class="clearfix">
  <label class="acc-label">{{t 'newContainer.environment.from'}}</label>
</div>
<div>
  {{#if secrets.length}}
    <table class="table fixed no-lines small mb-10">
      <thead>
        <tr class="hidden-sm">
          <th width="140" class="{{unless editing 'acc-label'}}">{{t 'formSecrets.type.label'}}{{#if editing}}{{field-required}}{{/if}}</th>
          <th width="10"></th>
          <th width="220" class="{{unless editing 'acc-label'}}">{{t 'formSecrets.source.label'}}{{#if editing}}{{field-required}}{{/if}}</th>
          <th width="10"></th>
          <th class="{{unless editing 'acc-label'}}">{{t 'formSecrets.prefixOrKey.label'}}{{#if editing}}{{field-required}}{{/if}}</th>
          <th width="70"></th>
          <th class="{{unless editing 'acc-label'}}">{{t 'formSecrets.prefix.label'}}</th>
          <th width="40">&nbsp;</th>
        </tr>
      </thead>
      <tbody>
        {{#each secrets as |secret|}}
          {{form-secrets-row
            secret=secret
            namespace=namespace
            editing=editing
            remove=(action "removeSecret")
          }}
        {{/each}}
      </tbody>
    </table>
    {{else}}
    {{#unless editing}}
      <span class="text-center text-muted">{{t 'formSecrets.noData'}}</span>
    {{/unless}}
  {{/if}}
  {{#if editing}}
    <button type="button" class="btn bg-link icon-btn" {{action "addSecret"}}>
      <span class="darken"><i class="icon icon-plus icon-small"></i></span>
      <span>{{t 'newContainer.environment.addFrom'}}</span>
    </button>
  {{/if}}
</div>
