<div class="col span-12">
  <label class="acc-label">
    {{t "newMultiClusterApp.roles.label"}}
  </label>
  <div class="radio">
    <label class="acc-label" id="mc-app-role-project-member">
      {{radio-button
        selection=role
        value="project-member"
        id="mc-app-role-project-member"
      }}
      {{t "newMultiClusterApp.roles.radios.project"}}
    </label>
  </div>
  <div class="radio">
    <label class="acc-label" id="mc-app-role-cluster-owner">
      {{radio-button
        selection=role
        value="cluster-owner"
        id="mc-app-role-cluster-owner"
      }}
      {{t "newMultiClusterApp.roles.radios.cluster"}}
    </label>
  </div>
</div>