<div class="col span-6">
  <label class="acc-label">
    {{t "newMultiClusterApp.roles.label"}}
  </label>
  <div class="radio">
    <label class="acc-label" id="mc-app-role-project-member">
      {{radio-button
        selection=role
        value="project-member"
        id="mc-app-role-project-member"
      }}
      {{t "newMultiClusterApp.roles.radios.project"}}
    </label>
  </div>
  <div class="radio">
    <label class="acc-label" id="mc-app-role-cluster-owner">
      {{radio-button
        selection=role
        value="cluster-owner"
        id="mc-app-role-cluster-owner"
      }}
      {{t "newMultiClusterApp.roles.radios.cluster"}}
    </label>
  </div>
</div>
{{#if otherRoles.length}}
  <div class="col span-6">
    <label class="acc-label">
      {{t "newMultiClusterApp.roles.additionalRoles"}}
    </label>
    <table class="table fixed no-lines mt-5 mb-10">
      <tbody>
        {{#each otherRoles as |role|}}
          <tr>
            <td>{{role}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
{{/if}}