<h2><i class="icon icon-terminal"></i> {{t 'vmConsole.header'}} {{instance.displayName}}</h2>
{{#if showProtip}}
  <div class="protip mt-5 mb-10">
    {{t 'vmConsole.protip' key=alternateLabel}}
  </div>
{{/if}}
<div class="console-body clearfix">
  <div id="noVNC_screen">
    <canvas class="console-canvas" width="640" height="20">
      {{t 'vmConsole.canvas'}}
    </canvas>
  </div>
</div>

<div class="footer-actions">
  <button {{action "ctrlAltDelete"}} class="btn bg-default" disabled={{ctrlAltDeleteDisabled}}>{{t 'vmConsole.footerActions.buttonSend'}}</button>
  <button {{action "cancel"}} class="btn bg-primary">{{t 'vmConsole.footerActions.buttonCancel'}}</button>
  <div class="console-status text-muted">{{status}}</div>
</div>
