<section class="header">
  <ol class="breadcrumb">
    {{#link-to "environments" tagName="li" href=false}}<a>Stacks</a>{{/link-to}}
    <li class="active">
      {{#power-select options=all selected=model onchange=(action "changeStack") searchField="displayName" as |obj|}}
        <div class="clip"><i class="{{obj.stateIcon}} {{obj.stateColor}}" tooltip="{{obj.displayState}}" data-placement="left"></i> {{obj.displayName}}</div>
      {{/power-select}}
    </li>
  </ol>


  <div class="btn-group pull-right">
    {{#link-to "environment.index" classNames="btn btn-sm btn-default"}}<i class="icon icon-tasks" data-placement="bottom" tooltip="List"></i>{{/link-to}}
    {{#link-to "environment.graph" classNames="btn btn-sm btn-default"}}<i class="icon icon-share" data-placement="bottom" tooltip="Link Graph"></i>{{/link-to}}
    {{#link-to "environment.code" classNames="btn btn-sm btn-default"}}<i class="icon icon-file" data-placement="bottom" tooltip="Compose YAML"></i>{{/link-to}}
  </div>

<div class="btn-group r-ml5 left-divider">
      {{#link-to "service.new" (query-params environmentId=model.id) classNames="btn btn-primary btn-sm"}}Add Service{{/link-to}}
      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        <i class="icon icon-chevron-down"></i>
        <span class="sr-only">Toggle Dropdown</span>
      </button>
      <ul class="dropdown-menu dropdown-menu-right" role="menu">
        <li>{{#link-to "service.new-balancer" (query-params environmentId=model.id)}}Add Load Balancer{{/link-to}}</li>
        <li>{{#link-to "service.new-alias" (query-params environmentId=model.id)}}Add Service Alias{{/link-to}}</li>
        <li>{{#link-to "service.new-external" (query-params environmentId=model.id)}}Add External Service{{/link-to}}</li>
      </ul>
    </div> 

  {{action-menu model=model classNames="left-divider r-ml5" size="sm"}}

  {{upgrade-btn environmentResource=model classNames="left-divider"}}

  {{#if (and model.isError model.showTransitioningMessage)}}
    <div class="pull-right clip text-danger">
      {{model.transitioningMessage}}
    </div>
  {{/if}}
</section>
