<section class="header">
  <ol class="breadcrumb">
    <li class="active">Applications</li>
    {{#link-to "environments" tagName="li" href=false}}<a>Stacks</a>{{/link-to}}
    <li class="active">
      {{#power-select options=all selected=model onchange=(action "changeStack") searchField="displayName" as |obj|}}
        <div class="clip"><i class="{{obj.stateIcon}} {{obj.stateColor}}" tooltip="{{obj.displayState}}"></i> {{obj.displayName}}</div>
      {{/power-select}}
    </li>
  </ol>

  <div class="btn-group pull-right">
    {{#link-to "environment.index" classNames="btn btn-sm btn-default"}}<i class="icon icon-tasks" data-placement="bottom" tooltip="List"></i>{{/link-to}}
    {{#link-to "environment.graph" classNames="btn btn-sm btn-default"}}<i class="icon icon-share" data-placement="bottom" tooltip="Link Graph"></i>{{/link-to}}
    {{#link-to "environment.code" classNames="btn btn-sm btn-default"}}<i class="icon icon-file" data-placement="bottom" tooltip="Compose YAML"></i>{{/link-to}}
  </div>

  {{action-menu model=model classNames="left-divider r-ml5" size="sm"}}

  {{upgrade-btn environmentResource=model classNames="left-divider"}}

  {{#if (and model.isError model.showTransitioningMessage)}}
    <div class="pull-right clip text-danger">
      {{model.transitioningMessage}}
    </div>
  {{/if}}
</section>
