<section class="header">
  <h3>
    {{resource-actions-menu model=model choices=model.availableActions classNames="pull-right"}}
    <div {{bind-attr class=":state model.stateColor"}}>
      <i {{bind-attr class="model.stateIcon"}}></i> {{model.displayState}}
    </div>
    <span class="right-divider">{{#link-to "environments"}}Projects:{{/link-to}} {{model.displayName}}</span>
    <div class="btn-group right-divider" style="margin: 0 10px 0 -5px;">
      {{#link-to "environment.index" classNames="btn btn-sm btn-default"}}<i class="ss-thumbnails"></i>{{/link-to}}
      {{#link-to "environment.graph" classNames="btn btn-sm btn-default"}}<i class="ss-share"></i>{{/link-to}}
      {{#link-to "environment.code" classNames="btn btn-sm btn-default"}}<i class="ss-file"></i>{{/link-to}}
    </div>
    <div class="btn-group">
      <button type="button" class="btn btn-primary btn-sm dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
        Add&hellip; <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" role="menu">
        <li>{{#link-to "service.new" (query-params environmentId=model.id)}}Service{{/link-to}}</li>
        <li>{{#link-to "service.new-balancer" (query-params environmentId=model.id)}}Balancer Service{{/link-to}}</li>
        <li>{{#link-to "service.new-external" (query-params environmentId=model.id)}}External Service{{/link-to}}</li>
        <li>{{#link-to "service.new-alias" (query-params environmentId=model.id)}}Service Alias{{/link-to}}</li>
      </ul>
    </div>
  </h3>
</section>
