  <table class="grid" style="margin-bottom: 0">
    <thead>
      <tr>
        {{sortable-th sortable=this action="changeSort" name="state" width="125" label="generic.state"}}
        {{sortable-th sortable=this action="changeSort" name="name" label="generic.name"}}
        {{sortable-th sortable=this action="changeSort" name="volumeId" label="storagePoolsPage.volumeId"}}
        {{sortable-th sortable=this action="changeSort" name="created" label="generic.created"}}
        <th width="70">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each arranged as |target|}}
        <tr>
          <td class="state">
            {{badge-state model=target}}
          </td>
          <td class="force-wrap">
            {{target.name}}
          </td>
          <td class="force-wrap">
            {{#if target.volumeId}}
              {{target.volumeId}}
            {{else}}
              {{t 'storagePoolsPage.orphaned'}}
            {{/if}}
          </td>
          <td>
            {{date-str target.created}}
          </td>
          <td class="actions wide">
            {{action-menu model=target}}
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
