{{resource-actions-menu model=model choices=model.availableActions}}

<div class="subpod-name">
  {{#if model.isIp}}
    <i class="ss-record text-success"></i>
    {{model.ipAddress}}
  {{else}}
    {{#if model.instance}}
      {{#with model.instance controller="container" as |container|}}
        <i class="{{container.stateIcon}} {{container.stateColor}}" tooltip="{{container.displayState}}"></i>
        {{#link-to "container" model.instanceId}}
          {{container.displayName}}
        {{/link-to}}
      {{/with}}
    {{else}}
      <i class="ss-record-text-success" style="visibility: hidden"></i>
      <span class="text-muted">Loading...</span>
    {{/if}}
  {{/if}}
</div>
{{#if model.showTransitioningMessage}}
  <div class="subpod-detail clip {{if model.isError 'text-danger'}}">
    {{model.transitioningMessage}}
  </div>
{{else}}
  <div class="subpod-detail">
    {{#if model.isIp}}
      IP Address
    {{else}}
      Container
    {{/if}}
  </div>
{{/if}}
