<section class="header clearfix">
  {{#if showEdit}}
    <h1>
      {{#if editing}}
        {{t 'viewEditProject.showEdit.edit'}} {{originalProject.displayName}}
      {{else}}
        {{t 'viewEditProject.showEdit.add'}}
      {{/if}}
    </h1>
  {{else}}
    <h1>{{#link-to "settings.projects"}}{{t 'viewEditProject.header'}}{{/link-to}}</h1>
      {{#power-select options=allProjects selected=project onchange=(action "changeProject") searchField="displayName" as |obj|}}
          {{select-dot model=obj}}
      {{/power-select}}

    <div class="pull-right">
      {{header-state model=project}}
      {{action-menu model=project size="sm" classNames="r-ml10"}}
    </div>
  {{/if}}
</section>

{{#if showEdit}}
  <section class="well r-mb0">
    {{form-name-description
      model=project
      namePlaceholder="viewEditDescription.form.name.placeholder"
      descriptionPlaceholder="viewEditDescription.form.description.placeholder"
    }}

    <div class="row">
      <div class="col-xs-12">
        <label>{{t 'viewEditProject.showEdit.orchestration'}}</label>
        <div class="nav nav-boxes checked-active">
          {{#each orchestrationChoices as |driver|}}
            {{#if driver.disabled}}
              <a href="#" tabindex="1" alt={{driver.label}} class="nav-box-item driver orchestration-driver {{driver.css}}"></a>
            {{else}}
              <a href="#" tabindex="1" {{action "selectOrchestration" driver.name}} alt={{driver.label}} class="nav-box-item driver orchestration-driver {{if driver.active 'active'}} {{driver.css}}"></a>
            {{/if}}
          {{/each}}
        </div>
      </div>
    </div>
  </section>

{{else}}
  {{#if project.description}}
    <section class="well r-mb0">
      <label class="inline-block r-m0">{{t 'viewEditProject.description'}}: </label>
      <p class="inline-block r-m0">{{project.description}}</p>
    </section>
  {{/if}}

  <section class="well r-mb0">
    <label class="inline-block r-m0">{{t 'viewEditProject.showEdit.orchestration'}}: </label>
    <p class="inline-block r-m0">{{project.displayOrchestration}}</p>
  </section>
{{/if}}

{{#select-tab initialTab=tab tab=tab as |component|}}
  <ul class="nav nav-tabs nav-tabs-well" role="tablist">
    <li role="tab" class="tab" data-section="access" {{action "selectTab" "access" target="component"}}>
      <a href="#">{{t 'viewEditProject.tab.access'}}</a>
    </li>
    <li role="tab" class="tab" data-section="stacks" {{action "selectTab" "stacks" target="component"}}>
      <a href="#">{{t 'viewEditProject.tab.stacks'}}</a>
    </li>
    <li role="tab" class="tab" data-section="vm" {{action "selectTab" "vm" target="component"}}>
      <a href="#">{{t 'viewEditProject.tab.vm'}}</a>
    </li>
  </ul>

  <div class="well nav-well" role="tabpanel">
    <div class="section container-fluid" data-section="access">
      {{#if (and accessEnabled showEdit)}}
        <div class="form-group">
          {{input-identity action="checkMember" onError="error"}}
        </div>
      {{/if}}

      {{#if accessEnabled}}
        <table class="grid fixed" style="margin-bottom: 0;">
          <thead>
            <tr>
              {{sortable-th sortable=this action="changeSort" name="name" label="generic.name"}}
              {{sortable-th sortable=this action="changeSort" name="type" label="generic.type"}}
              {{sortable-th sortable=this action="changeSort" name="role" label="generic.role"}}
              {{#if showEdit}}<th width="40">&nbsp;</th>{{/if}}
            </tr>
          </thead>
          <tbody>
            {{#each arranged as |member|}}
              <tr>
                <td>
                  {{identity-block identity=member}}
                </td>
                <td>{{member.displayType}}</td>
                <td>
                  {{#if showEdit}}
                    <select class="form-control input-sm" onchange={{action (mut member.role) value="target.value"}}>
                      {{#each roleOptions as |choice|}}
                        <option value={{choice.value}} selected={{eq member.role choice.value}}>{{t choice.label}}</option>
                      {{/each}}
                    </select>
                  {{else}}
                    {{uc-first member.role}}
                  {{/if}}
                </td>
                {{#if showEdit}}
                  <td>
                    {{#if accessEnabled}}
                      <button class="btn btn-primary btn-sm pull-right gh-action" {{action "removeMember" member}}><i class="icon icon-minus"/></button>
                    {{else}}
                      &nbsp;
                    {{/if}}
                  </td>
                {{/if}}
              </tr>
            {{else}}
              <tr>
                <td colspan="3" class="text-center text-muted">
                  {{t 'viewEditProject.showEdit.noMembers'}}
                </td>
              </tr>
            {{/each}}
          </tbody>
        </table>
        <hr class="r-m0" />
      {{else}}
        <p class="help-block text-center">
          {{format-html-message 'viewEditProject.helpBlock'}}
        </p>
      {{/if}}
    </div>

    <div class="section container-fluid container-catalog clearfix" data-section="stacks">
      {{#each-in stacks as |id obj|}}
        {{#if (not-eq obj.tpl.category "Orchestration")}}
          {{#catalog-box model=obj.tpl active=obj.enabled as |section|}}
            {{#if (eq section 'footer')}}
              {{#if obj.enabled}}
                <button type="button" class="footer btn btn-default" {{action "disableStack" obj}}>{{t 'viewEditProject.stacks.disable'}}</button>
              {{else}}
                <button type="button" class="footer btn btn-primary" {{action "enableStack" obj}}>{{t 'viewEditProject.stacks.enable'}}</button>
              {{/if}}
            {{/if}}
          {{/catalog-box}}
        {{/if}}
      {{else}}
        <div class="text-muted r-p10">{{t 'viewEditProject.noTemplates'}}</div>
      {{/each-in}}
    </div>
    <div class="section container-fluid" data-section="vm">
      {{#if showEdit}}
        <label class="form-control-static">{{t 'viewEditProject.virtualMachine.label'}}</label>
        <div>
          <label class="r-mr20 hand">
            {{radio-button selection=project.virtualMachine value=true}} {{t 'generic.enabled'}}
          </label>
          <label class="hand">
            {{radio-button selection=project.virtualMachine value=false}} {{t 'generic.disabled'}}
          </label>
        </div>
      {{else}}
        <label class="inline-block r-m0">{{t 'viewEditProject.virtualMachine.label'}}: </label>
        {{t (if project.virtualMachine 'generic.enabled' 'generic.disabled')}}
      {{/if}}
      <p class="help-block">{{format-html-message 'viewEditProject.virtualMachine.subtext'}}</p>
    </div>
  </div>
{{/select-tab}}

{{#if showEdit}}
  {{top-errors errors=errors}}
  {{save-cancel editing=editing save="save" cancel="cancel"}}
{{/if}}
