<section class="header clearfix">
  {{#if showEdit}}
    <h1>
      {{#if editing}}
        {{t 'viewEditProject.showEdit.edit'}} {{originalProject.displayName}}
      {{else}}
        {{t 'viewEditProject.showEdit.add'}}
      {{/if}}
    </h1>
  {{else}}
    <h1>{{#link-to "settings.projects"}}{{t 'viewEditProject.header'}}{{/link-to}}</h1>
      {{#power-select options=allProjects selected=project onchange=(action "changeProject") searchField="displayName" as |obj|}}
          {{select-dot model=obj}}
      {{/power-select}}

    <div class="pull-right">
      {{header-state model=project}}
      {{action-menu model=project size="sm" classNames="r-ml10"}}
    </div>
  {{/if}}
</section>

{{#if showEdit}}
  <section class="well r-mb0">
    {{form-name-description
      model=project
      namePlaceholder="viewEditDescription.form.name.placeholder"
      descriptionPlaceholder="viewEditDescription.form.description.placeholder"
    }}
  </section>

  {{#unless editing}}
    <section class="well">
      <div class="row">
        <div class="col-xs-12">
          <label>{{t 'viewEditProject.showEdit.template'}}</label>
          <div class="nav nav-boxes checked-active">
            {{#each templateChoices as |tpl|}}
              <a href="#" tabindex="1" {{action "selectTemplate" tpl.id}} class="nav-box-item driver orchestration-driver r-p5 {{if (eq project.projectTemplateId tpl.id) 'active'}}">
                <img src="{{tpl.image}}"/>
                <div class="clip">{{tpl.name}}</div>
              </a>
            {{/each}}
          </div>
        </div>

        {{#each-in selectedProjectTemplate.summary as |category names|}}
          <div class="text-center">
            <label class="text-capitalize">{{category}}</label>: {{names}}
          </div>
        {{else}}
          <div class="text-center">
            <label class="text-capitalize">Orchestration</label>: Cattle
          </div>
        {{/each-in}}
      </div>
    </section>
  {{/unless}}
{{else if project.description}}
  <section class="well r-mb0">
    <label class="inline-block r-m0">{{t 'viewEditProject.description'}}: </label>
    <p class="inline-block r-m0">{{project.description}}</p>
  </section>
{{/if}}

<section>
  <h4>{{t 'viewEditProject.showEdit.accessControl'}}</h4>
  <hr/>
  <div class="well">
    {{#if (and accessEnabled showEdit)}}
      <div class="form-group">
        {{input-identity action="checkMember" onError="error"}}
      </div>
    {{/if}}

    {{#if accessEnabled}}
      <table class="grid fixed" style="margin-bottom: 0;">
        <thead>
          <tr>
            {{sortable-th sortable=this action="changeSort" name="name" label="generic.name"}}
            {{sortable-th sortable=this action="changeSort" name="type" label="generic.type"}}
            {{sortable-th sortable=this action="changeSort" name="role" label="generic.role"}}
            {{#if showEdit}}<th width="40">&nbsp;</th>{{/if}}
          </tr>
        </thead>
        <tbody>
          {{#each arranged as |member|}}
            <tr>
              <td>
                {{identity-block identity=member}}
              </td>
              <td>{{member.displayType}}</td>
              <td>
                {{#if showEdit}}
                  <select class="form-control input-sm" onchange={{action (mut member.role) value="target.value"}}>
                    {{#each roleOptions as |choice|}}
                      <option value={{choice.value}} selected={{eq member.role choice.value}}>{{t choice.label}}</option>
                    {{/each}}
                  </select>
                {{else}}
                  {{uc-first member.role}}
                {{/if}}
              </td>
              {{#if showEdit}}
                <td>
                  {{#if accessEnabled}}
                    <button class="btn btn-primary btn-sm pull-right gh-action" {{action "removeMember" member}}><i class="icon icon-minus"/></button>
                  {{else}}
                    &nbsp;
                  {{/if}}
                </td>
              {{/if}}
            </tr>
          {{else}}
            <tr>
              <td colspan="3" class="text-center text-muted">
                {{t 'viewEditProject.showEdit.noMembers'}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
      <hr class="r-m0" />
    {{else}}
      <p class="help-block text-center">
        {{format-html-message 'viewEditProject.helpBlock'}}
      </p>
    {{/if}}
  </div>
</section>


{{#if network}}
  <section>
    <h4>{{t 'viewEditProject.networkPolicy.label'}}</h4>
    <hr/>
    <div class="well">
      <div class="row">
        <div class="col-xs-12">
          <p>{{t 'viewEditProject.networkPolicy.description'}}</p>
          <hr/>
        </div>
      </div>
      {{#if missingManager}}
        <div class="row">
          <div class="col-xs-12">
            <p>{{t 'viewEditProject.networkPolicy.noManager'}}</p>
          </div>
        </div>
      {{else if hasUnsupportedPolicy}}
        <div class="row">
          <div class="col-xs-12">
            <p>{{t 'viewEditProject.networkPolicy.unsupported'}}</p>
          </div>
        </div>
      {{else}}
        <div class="row">
          <div class="col-md-3 col-sm-6">
            <label>{{t 'viewEditProject.networkPolicy.withinLinked'}}</label>
            {{#if showEdit}}
              <div class="radio">
                <label>{{radio-button selection=npWithinLinked.action value="allow"}}&nbsp;{{t 'viewEditProject.networkPolicy.allow'}}</label>
              </div>
              <div class="radio">
                <label>{{radio-button selection=npWithinLinked.action value="deny"}}&nbsp;{{t 'viewEditProject.networkPolicy.deny'}}</label>
              </div>
            {{else}}
              <div class="row">
                <div class="col-xs-12">
                  <p class="text-muted">{{t 'viewEditProject.networkPolicy.description'}}</p>
                </div>
              </div>
            {{/if}}
          </div>
          <div class="col-md-3 col-sm-6">
            <label>{{t 'viewEditProject.networkPolicy.withinService'}}</label>
            {{#if showEdit}}
              <div class="radio">
                <label>{{radio-button selection=npWithinService.action value="allow"}}&nbsp;{{t 'viewEditProject.networkPolicy.allow'}}</label>
              </div>
              <div class="radio">
                <label>{{radio-button selection=npWithinService.action value="deny"}}&nbsp;{{t 'viewEditProject.networkPolicy.deny'}}</label>
              </div>
            {{else}}
              <div>{{uc-first npWithinService.action}}</div>
            {{/if}}
          </div>
          <div class="col-md-3 col-sm-6">
            <label>{{t 'viewEditProject.networkPolicy.withinStack'}}</label>
            {{#if showEdit}}
              <div class="radio">
                <label>{{radio-button selection=npWithinStack.action value="allow"}}&nbsp;{{t 'viewEditProject.networkPolicy.allow'}}</label>
              </div>
              <div class="radio">
                <label>{{radio-button selection=npWithinStack.action value="deny"}}&nbsp;{{t 'viewEditProject.networkPolicy.deny'}}</label>
              </div>
            {{else}}
              <div>{{uc-first npWithinStack.action}}</div>
            {{/if}}
          </div>
          <div class="col-md-3 col-sm-6">
            <label>{{t 'viewEditProject.networkPolicy.default'}}</label>
            {{#if showEdit}}
              <div class="radio">
                <label>{{radio-button selection=network.defaultPolicyAction value="allow"}}&nbsp;{{t 'viewEditProject.networkPolicy.allow'}}</label>
              </div>
              <div class="radio">
                <label>{{radio-button selection=network.defaultPolicyAction value="deny"}}&nbsp;{{t 'viewEditProject.networkPolicy.deny'}}</label>
              </div>
            {{else}}
              <div>{{uc-first network.defaultPolicyAction}}</div>
            {{/if}}
          </div>
        </div>
      {{/if}}
    </div>
  </section>
{{/if}}

{{#if showEdit}}
  {{top-errors errors=errors}}
  {{save-cancel editing=editing save="save" cancel="cancel"}}
{{/if}}
