<section class="horizontal-form" style="background-color: white;">
  <h2>{{#if editing}}Edit Registry{{else}}Add Registry{{/if}}</h2>
  {{top-errors errors=errors}}

  {{#unless editing}}
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-12 col-md-2 form-label">
          <label class="form-control-static">Provider</label>
        </div>
        <div class="col-sm-12 col-md-8">
          <ul class="nav nav-boxes checked-active" id="providers">
            {{#each driver in drivers}}
              {{#if driver.available}}
                <li {{bind-attr class="driver.active:active"}}>
                  <a {{action "selectDriver" driver.name}} {{bind-attr alt=driver.label class=":driver :registry-driver driver.css"}}></a>
                </li>
              {{/if}}
            {{/each}}
          </ul>
        </div>
      </div>
    </div>
  {{/unless}}
  <div style="width: 10px; height: 10px; margin: 0 auto; border: 10px solid white; border-bottom-color: #f4f5f8; border-top: 0;"></div>
</section>

<section class="horizontal-form">
  <div class="container-fluid">
    {{#if isCustom}}
      <div class="row form-group">
        <div class="col-sm-12 col-md-2 form-label form-control-static">
          <label for="serverAddress">Address{{#if isCustom}}*{{/if}}</label>
        </div>
        <div class="col-sm-12 col-md-8">
          {{#if editing}}
            <div class="form-control-static">{{registry.serverAddress}}</div>
          {{else}}
            {{input id="serverAddress" type="text" value=registry.serverAddress classNames="form-control" placeholder="e.g. registry.example.com"}}
          {{/if}}
        </div>
      </div>
    {{/if}}

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label form-control-static">
        <label for="email">Email*</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{input id="email" type="text" class="form-control email" value=credential.email placeholder="e.g. you@example.com"}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label form-control-static">
        <label for="publicValue">Username</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{input id="publicValue" type="text" class="form-control" value=credential.publicValue placeholder="e.g. username"}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label form-control-static">
        <label for="email">Password</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{input id="privateValue" type="password" class="form-control" value=credential.secretValue placeholder="e.g. password"}}
      </div>
    </div>
  </div>
</section>

{{partial "save-cancel"}}
