<section class="header">
  <h1>{{t 'registriesPage.new.header'}}</h1>
</section>
<section class="horizontal-form container-fluid">
  {{top-errors errors=errors}}

  <section class="well">
    <div class="nav nav-boxes checked-active">
      {{#each drivers as |driver|}}
        <a href="false" {{action "selectDriver" driver.name}} alt={{driver.label}} class="nav-box-item driver registry-driver {{if driver.active 'active'}} {{driver.css}}"></a>
      {{/each}}
    </div>
  </section>
</section>

<section class="horizontal-form container-fluid" role="tabpanel">
  {{#if isCustom}}
    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label form-control-static">
        <label>{{t 'registriesPage.new.form.custom.labelText'}}{{#if isCustom}}*{{/if}}</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{input type="text" value=model.registry.serverAddress classNames="form-control" placeholder=(t 'registriesPage.new.form.custom.labelText')}}
      </div>
    </div>
  {{/if}}

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label form-control-static">
      <label>{{t 'registriesPage.new.form.email.labelText'}}*</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{input type="text" class="form-control email" value=model.credential.email placeholder=(t 'registriesPage.new.form.email.labelText')}}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label form-control-static">
      <label>{{t 'registriesPage.new.form.username.labelText'}}</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{input type="text" class="form-control" value=model.credential.publicValue placeholder=(t 'registriesPage.new.form.username.labelText')}}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label form-control-static">
      <label>{{t 'registriesPage.new.form.password.labelText'}}</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{input type="password" class="form-control" value=model.credential.secretValue placeholder=(t 'registriesPage.new.form.password.labelText')}}
    </div>
  </div>
</section>

{{save-cancel save="save" cancel="cancel"}}
