<section class="header clearfix">
  <h1>{{t 'registriesPage.new.header'}}</h1>
</section>
<section class="horizontal-form container-fluid">
  <section>
    <div class="row nav nav-boxes checked-active">
      {{#each drivers as |driver|}}
        <a href="false" {{action "selectDriver" driver.name}} alt={{driver.label}} class="col nav-box-item driver registry-driver {{if driver.active 'active'}} {{driver.css}}"></a>
      {{/each}}
    </div>
  </section>
</section>

<section class="horizontal-form container-fluid" role="tabpanel">
  {{#if isCustom}}
    <div class="row inline-form">
      <div class="col-inline">
        <label>{{t 'registriesPage.new.form.custom.labelText'}}{{#if isCustom}}{{field-required}}{{/if}}</label>
      </div>
      <div>
        {{input type="text" value=model.registry.serverAddress classNames="form-control" placeholder=(t 'registriesPage.new.form.custom.placeholder')}}
      </div>
      <p class="text-info">{{t 'registriesPage.new.form.custom.help'}}</p>
    </div>
  {{/if}}

  <div class="row inline-form">
    <div class="col-inline">
      <label>{{t 'registriesPage.new.form.username.labelText'}}</label>
    </div>
    <div>
      {{input type="text" class="form-control" value=model.credential.publicValue placeholder=(t 'registriesPage.new.form.username.placeholder')}}
    </div>
  </div>

  <div class="row inline-form">
    <div class="col-inline">
      <label>{{t 'registriesPage.new.form.password.labelText'}}</label>
    </div>
    <div>
      {{input type="password" class="form-control" value=model.credential.secretValue placeholder=(t 'registriesPage.new.form.password.placeholder')}}
    </div>
  </div>
</section>

{{top-errors errors=errors}}
{{save-cancel save="save" cancel="cancel"}}
