<td data-title="{{t 'generic.state'}}">
  {{badge-state model=model}}
</td>
<td data-title="{{t 'generic.name'}}">
  {{model.displayName}}
</td>
<td data-title="{{t 'hookPage.fields.kind.label'}}">
  {{model.displayKind}}
</td>
<td data-title="{{t 'hookPage.fields.detail.label'}}">
  {{#if (eq model.driver 'scaleService')}}
    {{t 'hookPage.scaleService.detailPrefix' displayService=model.displayService action=model.opt.action amount=model.opt.amount}}
    <a href="{{href-to "service" model.service.stack.id model.service.id}}">{{t 'hookPage.scaleService.detailLink' displayService=model.displayService action=model.opt.action amount=model.opt.amount}}</a>
    {{t 'hookPage.scaleService.detailSuffix' displayService=model.displayService action=model.opt.action amount=model.opt.amount}}
  {{else if (eq model.driver 'scaleHost')}}
    {{t 'hookPage.scaleHost.detail' labels=model.opt.hostSelectorStr action=model.opt.action amount=model.opt.amount}}
  {{else if (eq model.driver 'serviceUpgrade')}}
    {{t 'hookPage.serviceUpgrade.detail' labels=model.opt.serviceSelectorStr tag=model.opt.tag htmlSafe=true}}
  {{/if}}
</td>
<td data-title="{{t 'hookPage.fields.url.label'}}">
  {{copy-to-clipboard clipboardText=model.url size="small"}}
</td>
<td data-title="{{t 'generic.actions'}}" class="actions">
  {{action-menu model=model showPrimary=showPrimaryActions}}
</td>
