<section class="horizontal-form container-fluid">
  <h2>Add Load Balancer</h2>
  {{top-errors errors=errors}}

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label for="name">Name</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{input id="name" type="text" value=balancer.name classNames="form-control" placeholder="e.g. Website"}}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label for="description">Description</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{textarea id="description" value=balancer.description classNames="form-control no-resize" rows="5" placeholder="e.g. Balancer for mycompany.com"}}
    </div>
  </div>

  {{partial "form-divider"}}

  <div class="row">
    <div class="col-xs-6 col-md-2 form-label">
      <label>Hosts</label>
    </div>
    <div class="col-xs-6 col-md-8">
      <p class="help-block" style="margin: 0;">Choose one or more hosts to run balancing agents on</p>
      <button class="btn-circle-plus" {{bind-attr disabled=hostDisabled}} {{action "addHost" target="view"}}></button>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      {{partial "loadbalancer/edit-hosts"}}
    </div>
  </div>

  {{partial "form-divider"}}

  <div class="row">
    <div class="col-xs-6 col-md-2 form-label">
      <label>Targets</label>
    </div>
    <div class="col-xs-6 col-md-8">
      <p class="help-block" style="margin: 0;">Choose one or more targets to send traffic to</p>
      <button class="btn-circle-plus btn-circle-text" style="margin-right: 20px;" {{action "addTargetContainer" target="view"}}>Add Container</button>
      <button class="btn-circle-plus btn-circle-text" {{action "addTargetIp" target="view"}}>Add External IP Address</button>
    </div>
  </div>
  <div class="row form-group">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      {{partial "loadbalancer/edit-targets"}}
    </div>
  </div>

  <div class="row">
    <div class="col-xs-12 col-md-2 form-label">
      <label>Configuration</label>
    </div>
    <div class="col-xs-6 col-md-4 radio">
      <label>{{radio-button selection=useExisting value="yes" disabled=hasNoExisting}} Re-use existing Configuration</label>
    </div>
    <div class="col-xs-6 col-md-4 radio">
      <label>{{radio-button selection=useExisting value="no"}} Create a new Configuration</label>
    </div>
  </div>
</section>

{{partial "form-divider"}}

{{#if isUseExisting}}
  <div class="row">
    <div class="col-xs-12 col-md-8 col-md-offset-2">
      <label>Choose an existing Balancer Configuration</label>
      {{view "select"
        class="form-control"
        content=activeConfigs
        optionLabelPath="content.name"
        optionValuePath="content.id"
        value=existingConfigId
      }}
    </div>
  </div>
{{else}}
  {{partial "loadbalancer/edit-config"}}
{{/if}}

{{partial "save-cancel"}}
