{{#if (eq mode 'machineTemplate')}}
  {{host-template-list
      model=templates
      launch=(action 'launch')
      add=(action 'add')
  }}
  <div class="footer-actions">
    <button {{action 'add'}} class="btn bg-primary">{{t 'generic.save'}}</button>
    <button {{action "cancel"}} class="btn bg-transparent">{{t 'generic.cancel'}}</button>
  </div>
{{else if (eq mode 'launch')}}
  {{cloud-host-add-or-edit
      machineTemplate=launchMachineTemplate
      driver=launchHostDriver
      inModal=true
      clusterNodes=clusterNodes
      goBack=(action 'goBack')
      save=(action 'launch')
  }}
{{else if (eq mode 'add')}}
  {{add-host
      model=addHostModel.model
      driver=driver
      cluster=cluster
      clusterNodes=clusterNodes
      hostId=hostId
      inModal=true
      completed=(action 'completed')
      goBack=(action 'goBack')
      cancel=(action 'goBack')
  }}
{{/if}}
