<section class="header clearfix">
  <div class="pull-left"><h1>{{t 'editUser.title'}}</h1></div>
</section>

<div class="row">
  {{form-name-description
    name=primaryResource.userName
    nameLabel="editUser.form.userName.label"
    nameDisabled=true
    descriptionShown=false
  }}
</div>

<div class="row">
  <div class="col span-12">
    <label class="pb-5 acc-label">{{t 'editUser.form.name.label'}}</label>
    {{input type="text" value=primaryResource.name classNames="form-control" placeholder=(t 'editUser.form.name.placeholder')}}
  </div>
</div>

<div class="row">
  <div class="col span-12">
    <label class="pb-5 acc-label">{{t 'editUser.form.password.new'}}{{field-required}}</label>
    {{input type="password" value=password classNames="form-control start"}}
  </div>
</div>

<div class="row">
  <div class="col span-12">
    <label class="pb-5 acc-label">{{t 'editUser.form.password.confirm'}}{{field-required}}</label>
    {{input type="password" value=confirm classNames="form-control"}}
  </div>
  {{#unless passwordsMatch}}
  <div class="row mt-0">
    <div class="col span-12">
      <p class="help-text text-error span-12">{{t 'editUser.form.password.error'}}</p>
    </div>
  </div>
  {{/unless}}
  <div class="col span-12">
    <label>
      {{input type="checkbox" checked=primaryResource.mustChangePassword}}
      {{t 'editUser.form.password.mustChangePassword'}}
    </label>
  </div>
</div>

<hr class="mt-30 mb-30" />

<section class="horizontal-form container-fluid">
  {{#accordion-list
       showExpandAll=false
       as |al expandFn|
  }}
    {{#accordion-list-item
         title=(t 'accountsPage.detail.table.global.title')
         detail=(t 'accountsPage.detail.table.global.description')
         expandOnInit=true
         showExpand=false
    }}
      {{#sortable-table
           classNames="grid sortable-table"
           body=myGlobalRoles
           search=false
           sortBy=sortBy
           bulkActions=false
           pagingLabel="pagination.node"
           headers=headers as |sortable kind role dt|}}
        {{#if (eq kind "row")}}
          <tr class="main-row">
            <td data-title="{{dt.active}}" class="pl-20">
              {{input type="checkbox" checked=role.active}}
            </td>

            <td data-title="{{dt.name}}" class="state">
              {{role.name}}
            </td>
          </tr>

        {{else if (eq kind "norows")}}
          <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'editUser.form.globalRoles.noRoles'}}</td></tr>
        {{/if}}
      {{/sortable-table}}
    {{/accordion-list-item}}

  {{/accordion-list}}
</section>

{{top-errors errors=errors}}
{{save-cancel saveDisabled=passwordsMismatch save="doSave" createLabel="generic.save" cancel="cancel"}}
