<section class="horizontal-form container-fluid">
  <h2>{{t 'editUser.title'}}</h2>
  <hr>

  <div class="mb-30">
    <div class="row inline-form">
      <div class="col span-2 col-inline">
        <label>{{t 'editUser.form.userName.label'}}</label>
      </div>
      <div class="col span-8 col-inline">
        {{primaryResource.userName}}
      </div>
    </div>
    <div class="row inline-form">
      <div class="col span-2 col-inline">
        <label>{{t 'editUser.form.name.label'}}</label>
      </div>
      <div class="col span-8">
        {{input type="text" value=primaryResource.name classNames="form-control" placeholder=(t 'editUser.form.name.placeholder')}}
      </div>
    </div>
    <div class="row inline-form">
      <div class="col span-2 col-inline">
        <label>{{t 'editUser.form.password.new'}}</label>
      </div>
      <div class="col span-8">
        {{input type="password" value=password classNames="form-control start"}}
      </div>
    </div>
    <div class="row inline-form">
      <div class="col span-2 col-inline">
        <label>{{t 'editUser.form.password.confirm'}}</label>
      </div>
      <div class="col span-8">
        {{input type="password" value=confirm classNames="form-control"}}
      </div>
    </div>
    {{#unless passwordsMatch}}
      <div class="row mt-0">
        <div class="col span-12">
          <p class="help-text text-error span-12">{{t 'editUser.form.password.error'}}</p>
        </div>
      </div>
    {{/unless}}
  </div>

  {{#accordion-list
       showExpandAll=false
       as |al expandFn|
  }}
    {{#accordion-list-item
         title=(t 'editUser.form.globalRoles.label')
         detail=(t 'editUser.form.globalRoles.description')
         expandOnInit=true
         expandAll=false
         expand=(action expandFn)
    }}
      {{#sortable-table
           classNames="grid sortable-table"
           body=myGlobalRoles
           search=false
           sortBy=sortBy
           bulkActions=false
           pagingLabel="pagination.node"
           headers=headers as |sortable kind role dt|}}
        {{#if (eq kind "row")}}
          <tr class="main-row">
            <td data-title="{{dt.name}}" class="state">
              {{role.name}}
            </td>

            <td data-title="{{dt.active}}">
              {{input type="checkbox" checked=role.active}}
            </td>
          </tr>

        {{else if (eq kind "norows")}}
          <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'editUser.form.globalRoles.noRoles'}}</td></tr>
        {{/if}}
      {{/sortable-table}}
    {{/accordion-list-item}}

  {{/accordion-list}}
</section>

{{top-errors errors=errors}}
{{save-cancel save="doSave" createLabel="generic.save" cancel="cancel"}}
