<form {{action "authenticate" on="submit"}} class="row pt-10 pb-10">
  <button disabled={{waiting}} class="btn bg-primary" {{action "authenticate"}}>
    <i class="icon icon-ping"></i> {{t (concat "loginSaml." provider ".buttonText")}}
  </button>
  <TopErrors @errors={{errors}} />
</form>
