<td data-title="State:">
  {{badge-state model=model}}
</td>
<td data-title="Name:" class="force-wrap">
  {{#link-to "certificates.detail" model.id}}{{model.displayName}}{{/link-to}}
</td>
<td data-title="Domain Name:">
  {{#if model.CN}}
    {{model.CN}}
    {{#if model.countableSans.length}}
      + {{model.countableSans.length}} other{{if (eq model.countableSans.length 1) "" "s"}}
    {{/if}}
  {{else}}
    <span class="text-muted">None</span>
  {{/if}}
</td>
<td data-title="Expires:">
  <span class="{{if model.expiresSoon "text-bold text-danger"}}">
    {{date-from-now model.expiresDate}}
  </span>
</td>
<td data-title="Actions:" class="actions">
  {{partial "fast-action-menu"}}
</td>
