{{#if projectController.showClusterWelcome}}
  {{cluster-welcome}}
{{else}}
  <section class="header clearfix">
    <div class="pull-left"><h1>{{t 'hostsPage.index.header'}}</h1></div>

    <div class="right-buttons">
      {{#if scope.current.canAddHost}}
        {{#link-to "authenticated.clusters.cluster.host-templates.index" scope.currentCluster.id classNames="btn btn-sm bg-primary"}}{{t 'hostsPage.index.addHost'}}{{/link-to}}
      {{/if}}
    </div>
  </section>

  {{#if model.hosts.length}}
    {{#sortable-table
      classNames="grid sortable-table"
      body=model.hosts
      searchText=searchText
      sortBy=sortBy
      bulkActions=true
      subRows=true
      fullRows=true
      pagingLabel="pagination.host"
      extraSearchFields=extraSearchFields
      headers=headers as |sortable kind host dt|}}
      {{#if (eq kind "row")}}
        {{host-row
          view="cluster"
          model=host
          fullColspan=sortable.fullColspan
          dt=dt
        }}
      {{else if (eq kind "nomatch")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'hostsPage.index.table.noMatch'}}</td></tr>
      {{else if (eq kind "norows")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'hostsPage.index.table.noData'}}</td></tr>
      {{/if}}
    {{/sortable-table}}
  {{else}}
    {{empty-table
      resource="container"
      showNew=scope.current.canAddHost
      newRoute="authenticated.clusters.cluster.host-templates"
      newTranslationKey="nav.hosts.addHost" ctx="clusterId"}}
  {{/if}}
{{/if}}
