<section>
  {{#if (eq step 1)}}
    <i class="icon icon-spinner icon-spin"></i> {{t 'k8sPage.configFile.generating'}}
  {{/if}}
  {{#if (eq step 2)}}
    <p>{{t 'k8sPage.configFile.usage.helpText' htmlSafe=true}}</p>
    {{code-block language="yaml" code=kubeconfig}}
    {{copy-to-clipboard tooltipText="" buttonText="copyToClipboard.tooltip" clipboardText=kubeconfig class="with-clip"}}
    <p class="mt-10 mb-0">{{t 'k8sPage.configFile.usage.downloadText' downloadUrl=downloadUrl htmlSafe=true}}</p>
  {{/if}}
</section>
<div class="footer-actions">
  <button {{action "cancel"}} class="btn bg-primary close-kubeconfig">{{t 'generic.closeModal'}}</button>
</div>
