<section class="horizontal-form container-fluid">
  <h2>{{#if editing}}Edit{{else}}Add{{/if}} Service</h2>
  {{top-errors errors=errors}}

  {{partial "container/edit-name"}}

  {{#if hasScale}}
    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label>Scale</label>
      </div>
      {{#if isGlobal}}
        <div class="col-sm-10 col-md-8">
          <span class="text-muted">Always run one instance of this container on every host</span>
        </div>
      {{else}}
        <div class="col-sm-2 col-md-1">
          {{service.scale}}
        </div>
        <div class="col-sm-10 col-md-7">
          {{input-slider value=service.scale valueMin=1 valueMax=11 scaleMin=0 scaleMax=12}}
        </div>
      {{/if}}
    </div>
  {{/if}}

  {{partial "form-divider"}}

  {{partial "container/edit-services"}}
</section>

{{partial "save-cancel"}}
