<section class="header clearfix">
  <h1>{{t 'projectList.index.header'}}</h1>
  {{#link-to "settings.projects.new" class="btn btn-sm bg-primary"}}{{t 'projectList.index.new'}}{{/link-to}}
</section>
<section>
  <div>
    {{format-html-message 'projectList.index.subtext' appName=settings.appName}}
  </div>

  {{#unless projects.current}}
    <div class="banner bg-danger">
      <div class="banner-icon"><i class="icon icon-alert"></i></div> 
      <div class="banner-message"><p>{{t 'projectList.index.alert'}}</p></div>
    </div>
  {{/unless}}
</section>

<section>
  {{#sortable-table
    classNames="grid fixed mb-0 sortable-table"
    bulkActions=false
    paging=false
    search=false
    sortBy=sortBy
    descending=descending
    headers=headers
    body=model
    as |sortable kind p|
  }}
    {{#if (eq kind "row")}}
      {{project-row model=p}}
    {{else if (eq kind "norows")}}
      <tr>
        <td colspan="{{headers.length}}" class="text-center text-muted">{{t 'labelsSection.noData'}}</td>
      </tr>
    {{/if}}
  {{/sortable-table}}
</section>