<section>
  {{#unless projects.current}}
    <div class="banner bg-danger">
      <div class="banner-icon"><i class="icon icon-alert"></i></div>
      <div class="banner-message"><p>{{t 'projectList.index.alert'}}</p></div>
    </div>
  {{/unless}}
</section>

<section>
  {{#sortable-table
    tableClassNames="bordered"
    bulkActions=false
    paging=true
    search=true
    sortBy=sortBy
    descending=descending
    headers=headers
    body=model
    fullRows=true
    as |sortable kind p|
  }}
    {{#if (eq kind "row")}}
      {{project-row model=p}}
    {{else if (eq kind "norows")}}
      <tr class="main-row">
        <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'labelsSection.noData'}}</td>
      </tr>
    {{/if}}
  {{/sortable-table}}
</section>

<div class="box mt-20 pt-0 pb-0">
  {{t 'projectList.index.subtext' appName=settings.appName htmlSafe=true}}
</div>
