{{#with controllers.authenticated.project as p controller="project"}}
  <section class="header">
    <h3>
      <span class="right-divider">API &amp; Keys for &quot;{{p.displayName}}&quot; Environment</span>
      {{#link-to "apikeys.new" classNames="btn btn-sm btn-primary right-divider-btn"}}Add API Key{{/link-to}}
    </h3>
  </section>
{{/with}}

<section class="well">
  <label>Endpoint</label>
  <div>
    <a {{bind-attr href=endpointWithAuth}} target="_blank">{{endpoint}}</a>
  </div>
</section>

<section class="well">
  <table class="grid fixed" style="margin-bottom: 0">
    <thead>
      <tr>
        <th width="120">State</th>
        <th>Name</th>
        <th>Description</th>
        <th>Username</th>
        <th>Created</th>
        <th width="50">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each key in this}}
        <tr>
          <td>
            <span {{bind-attr class=":badge :state key.stateBackground"}}>
              {{key.displayState}}
            </span>
          </td>
          <td>
            {{#if key.name}}{{key.displayName}}{{else}}<span class="text-muted">None</span>{{/if}}
          </td>
          <td>
            {{#if key.description}}{{key.description}}{{else}}<span class="text-muted">None</span>{{/if}}
          </td>
          <td>
            {{#if key.publicValue}}{{key.publicValue}}{{else}}<span class="text-muted">No public value</span>{{/if}}
          </td>
          <td>
            <div class="text-muted">{{date-calendar key.created}}</div>
          </td>
          <td align="right">
            {{resource-actions-menu model=key choices=key.availableActions}}
          </td>
        </tr>
      {{else}}
        <tr><td colspan="4" class="text-center text-muted">You don't have any API keys yet.</td></tr>
      {{/each}}
    </tbody>
  </table>
</section>
