<section class="header clearfix">
  <h1>{{t 'certificatesPage.detail.header' name=model.certificate.displayDetailedName}}</h1>
  <div class="right-buttons">{{action-menu model=model.certificate size="sm"}}</div>
</section>

<section>
  <div class="row">
    <div class="row-same-height row-full-height">
      <div class="col span-6 col span-height col span-full-height col-top" style="margin-bottom: 20px;">
        <div class="no-padding-margin" style="height: 100%;">
          <div>
            <label class="section">{{t 'certificatesPage.detail.info.labelText'}}:</label>
            <div>
              <div>
                <label class="text-muted">{{t 'certificatesPage.detail.info.valid'}}:</label>
                <div>{{date-calendar model.certificate.issuedAt}} ({{date-from-now model.certificate.issuedDate}})</div>
              </div>
              <div>
              <hr class="mt-15 mb-15"/>
                <label class="text-muted">{{t 'certificatesPage.detail.info.expires'}}:</label>
                <span class="{{if model.certificate.expiresSoon "text-bold text-danger"}}">
                  <div>{{date-calendar model.certificate.expiresAt}}
                  ({{date-from-now model.certificate.expiresDate}})</div>
                </span>
              </div>
              <hr class="mt-15 mb-15"/>
              <div class="force-wrap">
                <label class="text-muted">{{t 'certificatesPage.detail.info.algorithm'}}:</label>
                <div>{{model.certificate.algorithm}}{{#if model.certificate.keySize}} - {{model.certificate.keySize}} bits{{/if}}</div>
              </div>
              <hr class="mt-15 mb-15"/>
              <div class="force-wrap">
                <label class="text-muted">{{t 'certificatesPage.detail.info.issuer'}}:</label>
                <div>{{model.certificate.displayIssuer}}</div>
              </div>
              <hr class="mt-15 mb-15"/>
              <div class="force-wrap">
                <label class="text-muted">{{t 'certificatesPage.detail.info.serialNumber'}}:</label>
                <div>{{model.certificate.serialNumber}}</div>
              </div>
              <hr class="mt-15 mb-15"/>
              <div>
                <label class="text-muted">{{t 'certificatesPage.detail.info.version'}}:</label>
                <div>{{model.certificate.version}}</div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col span-6 box">
        {{#if model.certificate.description}}
          <section>
            <div class="description">
              <label class="text-muted">{{t 'certificatesPage.detail.description'}}</label>
              <p class="mt-0">{{model.certificate.description}}</p>
            </div>
          </section>
        {{/if}}
        <div class="no-padding-margin" style="height: 100%;">
          <div>
            <label class="section">{{t 'certificatesPage.detail.domainNames.labelText'}}</label>
            <div>
              <ul class="list-unstyled">
                {{#if model.certificate.cn}}
                  <li><a href="https://{{model.certificate.cn}}" target="_blank">{{model.certificate.cn}}</a> (CN)</li>
                  {{#each model.certificate.displaySans as |san|}}
                    <li><a href="https://{{san}}" target="_blank">{{san}}</a></li>
                  {{/each}}
                {{else}}
                  <span class="text-muted">{{t 'generic.none'}}</span>
                {{/if}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
