<section class="header clearfix">
  <h1>{{#link-to "certificates"}}{{t 'certificatesPage.detail.header'}}{{/link-to}}</h1>

  {{#power-select options=model.allCertificates selected=model.certificate onchange=(action "changeCertificate") searchField="displayName" as |obj|}}
    <span class="clip">
      {{select-dot model=obj}}
    </span>
  {{/power-select}}

  {{action-menu model=model.certificate size="sm"}}
</section>

{{#if model.certificate.description}}
  <section>
    <div class="well description">
      <label>{{t 'certificatesPage.detail.description'}}</label>
      <p>{{model.certificate.description}}</p>
    </div>
  </section>
{{/if}}

<section>
  <div class="row">
    <div class="row-same-height row-full-height">
      <div class="col-sm-12 col-md-6 col-md-height col-md-full-height col-top" style="margin-bottom: 20px;">
        <div class="well no-padding-margin" style="height: 100%;">
          <div style="padding: 20px;">
            <label class="section">{{t 'certificatesPage.detail.info.labelText'}}</label>
            <div>
              <ul class="list-lines">
                <li>
                  <label>{{t 'certificatesPage.detail.info.valid'}}</label>
                  {{date-calendar model.certificate.issuedAt}} ({{date-from-now model.certificate.issuedDate}})
                </li>
                <li>
                  <label>{{t 'certificatesPage.detail.info.expires'}}</label>
                  <span class="{{if model.certificate.expiresSoon "text-bold text-danger"}}">
                    {{date-calendar model.certificate.expiresAt}}
                    ({{date-from-now model.certificate.expiresDate}})
                  </span>
                </li>
                <li class="force-wrap">
                  <label>{{t 'certificatesPage.detail.info.algorithm'}}</label>
                  {{model.certificate.algorithm}}{{#if model.certificate.keySize}} - {{model.certificate.keySize}} bits{{/if}}
                </li>
                <li class="force-wrap">
                  <label>{{t 'certificatesPage.detail.info.issuer'}}</label>
                  {{model.certificate.displayIssuer}}
                </li>
                <li class="force-wrap">
                  <label>{{t 'certificatesPage.detail.info.serialNumber'}}</label>
                  {{model.certificate.serialNumber}}
                </li>
                <li>
                  <label>{{t 'certificatesPage.detail.info.version'}}</label>
                  {{model.certificate.version}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-md-height col-md-full-height col-top" style="margin-bottom: 20px;">
        <div class="well no-padding-margin" style="height: 100%;">
          <div style="padding: 20px;">
            <label class="section">{{t 'certificatesPage.detail.domainNames.labelText'}}</label>
            <div>
              <ul class="list-unstyled">
                {{#if model.certificate.CN}}
                  <li><a href="https://{{model.certificate.CN}}" target="_blank">{{model.certificate.CN}}</a> (CN)</li>
                  {{#each model.certificate.displaySans as |san|}}
                    <li><a href="https://{{san}}" target="_blank">{{san}}</a></li>
                  {{/each}}
                {{else}}
                  <span class="text-muted">{{t 'generic.none'}}</span>
                {{/if}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
