<ol class="breadcrumb">
  {{#link-to "certificates" tagName="li" href=false}}<a>Certificates</a>{{/link-to}}
  <li class="active">{{model.certificate.displayName}}</li>
</ol>

<section class="header">
  <h3>
    {{#power-select options=model.allCertificates selected=model.certificate onchange=(action "changeCertificate") searchField="displayName" as |obj|}}
      <div class="clip"><i class="{{obj.stateIcon}} {{obj.stateColor}}" tooltip="{{obj.displayState}}"></i> {{obj.displayName}}</div>
    {{/power-select}}

    {{action-menu model=model.certificate classNames="left-divider r-ml5" size="sm"}}
  </h3>
</section>

<section>
  {{partial "description"}}

  <div class="row">
    <div class="row-same-height row-full-height">
      <div class="col-sm-12 col-md-6 col-md-height col-md-full-height col-top" style="margin-bottom: 20px;">
        <div class="well no-padding-margin" style="height: 100%;">
          <div style="padding: 20px;">
            <label class="section">Info</label>
            <div>
              <ul class="list-lines">
                <li>
                  <label>Valid Beginning</label>
                  {{date-calendar model.certificate.issuedAt}} ({{date-from-now model.certificate.issuedDate}})
                </li>
                <li>
                  <label>Expires</label>
                  <span class="{{if model.certificate.expiresSoon "text-bold text-danger"}}">
                    {{date-calendar model.certificate.expiresAt}}
                    ({{date-from-now model.certificate.expiresDate}})
                  </span>
                </li>
                <li class="force-wrap">
                  <label>Algorithm</label>
                  {{model.certificate.algorithm}}{{#if model.certificate.keySize}} - {{model.certificate.keySize}} bits{{/if}}
                </li>
                <li class="force-wrap">
                  <label>Issuer</label>
                  {{model.certificate.displayIssuer}}
                </li>
                <li class="force-wrap">
                  <label>Serial Number</label>
                  {{model.certificate.serialNumber}}
                </li>
                <li>
                  <label>Version</label>
                  {{model.certificate.version}}
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-md-height col-md-full-height col-top" style="margin-bottom: 20px;">
        <div class="well no-padding-margin" style="height: 100%;">
          <div style="padding: 20px;">
            <label class="section">Domain Names</label>
            <div>
              <ul class="list-unstyled">
                {{#if model.certificate.CN}}
                  <li><a href="{{model.certificate.CN}}" target="_blank">{{model.certificate.CN}}</a> (CN)</li>
                  {{#each model.certificate.displaySans as |san|}}
                    <li><a href="{{san}}" target="_blank">{{san}}</a></li>
                  {{/each}}
                {{else}}
                  <span class="text-muted">None</span>
                {{/if}}
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
