<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Network</label>
  </div>

  <div class="col-sm-12 {{if isContainerNetwork 'col-md-3' 'col-md-8'}}">
    {{new-select
      classNames="form-control"
      content=networkChoices
      value=instance.networkMode
    }}
  </div>

  {{#if isContainerNetwork}}
    <div class="col-sm-12 col-md-2 form-label">
      <label class="form-control-static">Container</label>
    </div>
    <div class="col-sm-12 col-md-3">
      {{new-select
        classNames="form-control"
        content=containersOnRequestedHost
        optionLabelPath="name"
        optionValuePath="id"
        optionGroupPath="group"
        value=instance.networkContainerId
      }}
    </div>
  {{/if}}
</div>

{{#if isManagedNetwork}}
  <div class="row">
    <div class="col-sm-12 col-md-2 form-label">
      <label class="form-control-static">Requested IP</label>
    </div>

    <div class="col-sm-12 col-md-8">
      {{input type="text" value=requestedIp classNames="form-control" placeholder="e.g. 10.42.2.24"}}
      <p class="help-block">Request a specific IP in the 10.42.0.0/16 block.  If the IP is already in use a random one will be assigned.</p>
    </div>
  </div>
  {{#if isService}}
    <div class="row">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Retain IP</label>
      </div>

      <div class="col-sm-12 col-md-8">
        <label class="form-control-static">{{input type="checkbox" checked=service.retainIp}} Reuse IP addresses when upgrading or replacing unhealthy instances.</label>
      </div>
    </div>
  {{/if}}
{{else}}
  {{#if isHostNetwork}}
    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">DNS</label>
      </div>

      <div class="col-sm-12 col-md-8">
        <label class="form-control-static">{{input type="checkbox" checked=dnsDiscovery}} Enable {{settings.appName}} DNS service discovery</label>
      </div>
    </div>
  {{/if}}
{{/if}}

{{#unless isService}}
  {{form-container-links instance=instance allHosts=allHosts editing=false}}
{{/unless}}

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Hostname</label>
  </div>

  <div class="col-sm-12 col-md-8">
    {{#if isService}}
      <div class="radio small r-mt10">
        <label>{{radio-button selection=hostname value="default"}} Use the Docker container ID</label>
      </div>
      <div class="radio small r-mt10">
        <label>{{radio-button selection=hostname value="override"}} Use the container name</label>
      </div>
      <div class="radio small">
        <label>{{radio-button selection=hostname value="custom"}} Set a specific hostname:</label>
        {{input type="text" value=instance.hostname classNames="form-control r-ml10 input-sm" safeStyle="display:inline; width: 200px;" placeholder="e.g. web" disabled=(not-eq hostname "custom")}}
      </div>
    {{else}}
      {{input type="text" value=instance.hostname classNames="form-control" placeholder="e.g. web01"}}
    {{/if}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Domain Name</label>
  </div>

  <div class="col-sm-12 col-md-8">
    {{input type="text" value=instance.domainName classNames="form-control" placeholder="e.g. example.com"}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Resolving Servers</label>
  </div>

  <div class="col-sm-12 col-md-8">
    <div class="form-control-static">
      <button class="btn-circle" {{action "addDnsResolver"}}><i class="icon icon-plus-circle"/></button>
    </div>
    {{#if dnsResolverArray.length}}
      <table class="table fixed no-lines no-top-padding tight">
        {{#each dnsResolverArray as |dns|}}
          <tr>
            <td>
              {{input type="text" value=dns.value classNames="form-control dns-value input-sm" placeholder="e.g. 8.8.4.4"}}
            </td>
            <td width="30" class="text-right">
              <button class="btn btn-primary btn-sm" {{action "removeDnsResolver" dns}}><i class="icon icon-minus"/></button>
            </td>
          </tr>
        {{/each}}
      </table>
    {{/if}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Search Domains</label>
  </div>

  <div class="col-sm-12 col-md-8">
    <div class="form-control-static">
      <button class="btn-circle" {{action "addDnsSearch"}}><i class="icon icon-plus-circle"/></button>
    </div>
    {{#if dnsSearchArray.length}}
      <table class="table fixed no-lines no-top-padding tight">
        {{#each dnsSearchArray as |dnsSearch|}}
          <tr>
            <td>
              {{input type="text" value=dnsSearch.value classNames="form-control dns-search-value input-sm" placeholder="e.g. prod.example.com"}}
            </td>
            <td width="30" class="text-right">
              <button class="btn btn-primary btn-sm" {{action "removeDnsSearch" dnsSearch}}><i class="icon icon-minus"/></button>
            </td>
          </tr>
        {{/each}}
      </table>
    {{/if}}
  </div>
</div>
