<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Network</label>
  </div>

  <div class="col-sm-12 {{if isContainerNetwork 'col-md-3' 'col-md-8'}}">
    {{view "select"
      class="form-control"
      content=networkChoices
      optionLabelPath="content.label"
      optionValuePath="content.value"
      value=instance.networkMode
    }}
  </div>

  {{#if isContainerNetwork}}
    <div class="col-sm-12 col-md-2 form-label">
      <label class="form-control-static">Container</label>
    </div>
    <div class="col-sm-12 col-md-3">
      {{view "select"
        class="form-control"
        content=containersOnRequestedHost
        optionLabelPath="content.name"
        optionValuePath="content.id"
        optionGroupPath="group"
        value=instance.networkContainerId
      }}
    </div>
  {{/if}}
</div>

{{#unless isService}}
  {{form-container-links instance=instance allHosts=allHosts editing=false}}
{{/unless}}

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Host Name</label>
  </div>

  <div class="col-sm-12 col-md-8">
    {{input type="text" value=instance.hostname classNames="form-control" placeholder="e.g. web01"}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Domain Name</label>
  </div>

  <div class="col-sm-12 col-md-8">
    {{input type="text" value=instance.domainName classNames="form-control" placeholder="e.g. example.com"}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Resolving Servers</label>
  </div>

  <div class="col-sm-12 col-md-8">
    <div class="form-control-static">
      <button class="btn-circle" {{action "addDns"}}><i class="icon icon-plus-circle"/></button>
    </div>
    {{#if dnsArray.length}}
      <table class="table fixed no-lines no-top-padding tight">
        {{#each dnsArray as |dns|}}
          <tr>
            <td>
              {{input type="text" value=dns.value classNames="form-control dns-value input-sm" placeholder="e.g. 8.8.4.4"}}
            </td>
            <td width="30" class="text-right">
              <button class="btn-circle" {{action "removeDns" dns}} tabindex="-1"><i class="icon icon-x-circle"/></button>
            </td>
          </tr>
        {{/each}}
      </table>
    {{/if}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Search Domains</label>
  </div>

  <div class="col-sm-12 col-md-8">
    <div class="form-control-static">
      <button class="btn-circle" {{action "addDnsSearch"}}><i class="icon icon-plus-circle"/></button>
    </div>
    {{#if dnsSearchArray.length}}
      <table class="table fixed no-lines no-top-padding tight">
        {{#each dnsSearchArray as |dnsSearch|}}
          <tr>
            <td>
              {{input type="text" value=dnsSearch.value classNames="form-control dns-search-value input-sm" placeholder="e.g. prod.example.com"}}
            </td>
            <td width="30" class="text-right">
              <button class="btn-circle" {{action "removeDnsSearch" dnsSearch}} tabindex="-1"><i class="icon icon-x-circle"/></button>
            </td>
          </tr>
        {{/each}}
      </table>
    {{/if}}
  </div>
</div>
