<div class="row-same-height row-full-height">
    <ul class="nav nav-tabs nav-tabs-well shadowed">
      <li class="{{if (eq activeTab '') 'active'}}">
         <span class='close' {{action 'dismiss'}}><i class="icon icon-x"></i></span>
         <a href="#" class="clip" {{action 'selectTab' ''}}>{{service.name}}</a>
      </li>
      {{#each sidekicks as |sidekick|}}
        <li class="{{if (eq activeTab sidekick.name) 'active'}}">
          <a href="#" class="clip" {{action 'selectTab' sidekick.name}}>{{sidekick.name}}</a>
        </li>
      {{/each}}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div class="{{unless (eq activeTab '') 'hide'}}">
        <div class="inner">
          {{#if (eq service.type 'loadBalancerService')}}
            {{lb-addtl-info service=service containers=primaryContainers}}
          {{else}}
            {{#if (eq service.type 'dnsService')}}
              {{partial 'alias-service-addtl-info'}}
            {{else}}
              {{#if (eq service.type 'externalService')}}
                {{partial 'ext-service-addtl-info'}}
              {{else}}
                {{partial 'service-addtl-info'}}
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
      </div>
      {{#each sidekicks as |sidekick|}}
        <div class="{{unless (eq activeTab sidekick.name) 'hide'}}">
          <div class="inner">
            {{sidekick-addtl-info sidekick=sidekick.config containers=sidekick.instances}}
          </div>
        </div>
      {{/each}}
    </div>
  {{yield}}
</div>

