<div class="row-same-height row-full-height">
    <ul class="nav nav-tabs" role="tablist">
      <li role="presentation" class="tab-main active" id="service-tab">
         <span class='close' {{action 'dismiss'}}><i class="icon icon-x"></i></span>
         <a href="#home" aria-controls="home" role="tab" data-toggle="tab">{{service.name}}</a>
      </li>
      {{#if service.secondaryLaunchConfigs}}
        {{#each service.secondaryLaunchConfigs as |sidekick|}}
          <li role="presentation" class="tab-main sidekick">
            <a href="#sidekick-{{sidekick.name}}" aria-controls="profile" role="tab" data-toggle="tab">{{sidekick.name}}</a>
          </li>
        {{/each}}
      {{/if}}
    </ul>

    <!-- Tab panes -->
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="home">
        <div class="description">
          <label class="text-muted text-bold text-uppercase">Description:</label>
          {{service.description}}
        </div>
        <hr>
        <div class="inner">
        {{#if (eq service.type 'service')}}
          {{partial 'service-addtl-info'}}
        {{else}}
          {{#if (eq service.type 'dnsService')}}
            {{partial 'alias-service-addtl-info'}}
          {{else}}
            {{#if (eq service.type 'externalService')}}
              {{partial 'ext-service-addtl-info'}}
            {{else}}
              {{lb-addtl-info service=service serviceContainers=serviceContainers}}
            {{/if}}
          {{/if}}
        {{/if}}
        </div>
      </div>
      {{#if service.secondaryLaunchConfigs}}
        {{#each service.secondaryLaunchConfigs as |sidekick|}}
          <div role="tabpanel" class="tab-pane" id="sidekick-{{sidekick.name}}">
            {{sidekick-addtl-info sidekick=sidekick containers=(get sidekick.serviceContainers sidekick.name)}}
          </div>
        {{/each}}
      {{/if}}
    </div>
  {{yield}}
</div>

