<section class="header">
  <h1>Helpful links &amp; Information</h1>
</section>

{{#if (and helpEnabled (not modelError))}}
  <div class="banner r-ml20 r-mr20 r-mt10">
    <span class="banner-head">Announcements</span>
  {{#if modelResolved}}
  <span class="banner-content">
      <span ><strong>Latest: </strong><a href="{{latestAnnouncement.link}}" target="_blank">{{latestAnnouncement.title}}</a></span>
      <span><strong>Released: </strong>{{date-from-now latestAnnouncement.created}}</span>
  </span>
    {{else}}
      <div class="loading text-center"></div>
  {{/if}}
  </div>
{{/if}}

<section>
  <div class="flex-wrap">
    <div class="flex-item">
    	<div class="flex-content well">
      <h4>What is an environment?</h4>
      <hr/>
      <p>Rancher supports grouping resources into multiple environments. Each one gets its own set of services and infrastructure resources, and is owned by one or more GitHub users, teams or organizations.</p>

      <p>For example, you might create separate "dev", "test", and "production" environments to keep things isolated from each other, and give "dev" access to your entire organization but restrict the "production" environment to a smaller team.</p>
      {{#link-to 'settings.projects' class="btn btn-primary right-divider-btn"}} Manage Environments {{/link-to}}
      </div>
    </div>

    <div class="flex-item">
    	<div class="flex-content well">
      <h4>What is a host?</h4>
      <hr/>
      <p>Before adding your first service or launching a container, you must add at least a single Linux host that supports Docker 1.6+ and be able to reach the Rancher server via HTTP. Rancher supports adding Linux hosts in the form of a virtual or physical
        machine from any public cloud providers, privately hosted clouds, or even bare metal servers. Learn More</p>
      {{#link-to "hosts.new" class="btn btn-primary"}}Add Host{{/link-to}}
      </div>
    </div>
    <div class="flex-item">
    	<div class="flex-content well">
      <h4>What are stacks and services?</h4>
      <hr/>
      <p>A service is simply a group of containers created from the same Docker image but extends Docker's "link" concept to leverage Rancher's lightweight distributed DNS service for service discovery. Services can be added individually or by deploying
        an item from the Catalog.</p>

      <p>A service is also capable of leveraging other Rancher built-in services such as load balancers, health monitoring, upgrade support, and high-availability. Learn More</p>

      {{#if hasServices}}
        {{#link-to 'applications-tab' class="btn btn-primary r-mb10"}} Manage Services {{/link-to}}
        {{#link-to "applications-tab.catalog" class="btn btn-primary"}}Add From Catalog{{/link-to}}
      {{else}}
        <p>Note: You currently have no hosts. Please add a host before adding Services.</p>
        {{#link-to 'applications-tab' class="btn btn-primary r-mb10" disabled=true}} Manage Services {{/link-to}}
        {{#link-to "applications-tab.catalog" class="btn btn-primary" disabled=true}}Add From Catalog{{/link-to}}
      {{/if}}
    </div>

    </div>
  </div>
</section>

{{#if helpEnabled}}
  <section class="well">
    <div class="header">
      <h4>Issues &amp; Documentation</h4>
      <div class="pull-right r-mb20">
        Uh oh, Find an issue? <a href="{{githubLink}}/issues" class="btn btn-primary r-ml10" target="_blank">File a Bug</a>
      </div>
    </div>

    <hr/>

    <div class="row">
      <p class="text-center col-sm-12 col-md-8 col-md-offset-2">Rancher is an open source software platform that implements a purpose-built infrastructure for running containers in production. Docker containers, as an increasingly popular application workload, create new requirements in infrastructure services
        such as networking, storage, load balancer, security, service discovery, and resource management.</p>
    </div>

    <div class="row">
      <div class="col-sm- col-md-4 text-center">
        <img src="assets/images/help-bug.svg" width="50%" />
        <p>Find a bug?
          <br/>File and issue <a href="{{githubLink}}/issues" target="_blank">on GitHub.</a></p>
      </div>

      <div class="col-sm-12 col-md-4 text-center">
        <img src="assets/images/help-docs.svg" width="50%" />
        <p>For more information
          <br/>about using Rancher <a href="{{docsLink}}" target="_blank">Visit our docs.</a>
          <br/>or check out our <a href="{{companyLink}}/learn/" target="_blank">getting started</a> documentation.</p>
      </div>

      <div class="col-sm- col-md-4 text-center">
        <img src="assets/images/help-troubleshoot.svg" width="50%" />
        <p>Need help troubleshooting?
          <br/><a href="{{companyLink}}/faqs/" target="_blank">Check out our FAQs</a></p>
      </div>
    </div>

  </section>

  <section class="well">
    <div class="header">
      <h4>From the Forums</h4>
      <div class="pull-right r-mb20">
        Join the conversation <a href="{{forumsLink}}" class="btn btn-primary r-ml10" target="_blank">On the forums</a>
      </div>
    </div>
    <hr/>
  {{#if modelResolved}}
    {{#unless modelError}}
      <div class="row">
        <div class="col-sm-12 col-md-4 right-divider">
          <h5>Announcements</h5>
          <p><strong>Latest: </strong><a href="{{latestAnnouncement.link}}" target="_blank">{{latestAnnouncement.title}}</a></p>
          <p><strong>Released: </strong>{{date-from-now latestAnnouncement.created}}</p>
        </div>
        <div class="col-sm-12 col-md-4">
          <h5>General</h5>
          <ul class="list-unstyled">
            {{#each model.general.topics as |topic|}}
              <li class="clip">
                <a href="{{forumsLink}}/t/{{topic.slug}}" target="_blank">{{topic.title}}</a>
              </li>
            {{/each}}
          </ul>
          <a class="btn btn-sm btn-default r-mt10 r-mb20" href="{{forumsLink}}/c/general" target="blank">View More General Topics</a>

          <h5>RancherOS</h5>
          <ul class="list-unstyled">
            {{#each model.rancherOS.topics as |topic|}}
              <li class="clip">
                <a href="{{forumsLink}}/t/{{topic.slug}}" target="_blank">{{topic.title}}</a>
              </li>
            {{/each}}
          </ul>
          <a class="btn btn-sm btn-default r-mt10 r-mb20" href="{{forumsLink}}/c/rancher-os" target="blank">View More RancherOS Topics</a>
        </div>
        <div class="col-sm-12 col-md-4">
          <h5>Rancher</h5>
          <ul class="list-unstyled">
            {{#each model.rancher.topics as |topic|}}
              <li class="clip">
                <a href="{{forumsLink}}/t/{{topic.slug}}" target="_blank">{{topic.title}}</a>
              </li>
            {{/each}}
          </ul>
          <a class="btn btn-sm btn-default r-mt10 r-mb20" href="{{forumsLink}}/c/rancher" target="blank">View More Rancher Topics</a>

          <h5>Convoy</h5>
          <ul class="list-unstyled">
            {{#each model.convoy.topics as |topic|}}
              <li class="clip">
                <a href="{{forumsLink}}/t/{{topic.slug}}" target="_blank">{{topic.title}}</a>
              </li>
            {{/each}}
          </ul>
          <a class="btn btn-sm btn-default r-mt10 r-mb20" href="{{forumsLink}}/c/convoy" target="blank">View More Convoy Topics</a>
        </div>
      </div>
    {{else}}
      <div class="text-center">Looks like you're offline. Please go online to see content from the forums.</div>
    {{/unless}}
  {{else}}
    <div class="loading text-center"></div>
  {{/if}}
  </section>

  <section class="well">
    <h4>Commercial Support</h4>
    <hr/>
    <p>At Rancher Labs we provide commercial, enterprise-grade support for Rancher, including an available 24x7 support team, and priority bug fixes.  In addition we provide implementation, integration and consulting services for organizations looking to implement and scale Rancher.  For more information on any of these services, please email our sales team. <a href="mailto:sales@rancher.com">sales@rancher.com</a></p>
  </section>
{{/if}}

