
<div class="pull-right">
  <div class="compose-download inline-block">
    <a class="dropdown-toggle hand btn btn-sm btn-link" data-toggle="dropdown" aria-expanded="false">
      <i class="icon icon-download"></i> {{t 'pageFooter.download.link'}} <i class="icon icon-chevron-down"></i>
    </a>
    <ul class="dropdown-menu dropdown-menu-right text-right" role="menu" style="min-width: 0">
      <li class="dropdown-header">{{t 'pageFooter.download.headerCompose'}}</li>
      <li><a {{action "composeDownload" "darwin"}}>{{t 'pageFooter.download.mac'}} <i class="icon icon-fw icon-apple"></i></a></li>
      <li><a {{action "composeDownload" "windows"}}>{{t 'pageFooter.download.windows'}} <i class="icon icon-fw icon-windows"></i></a></li>
      <li><a {{action "composeDownload" "linux"}}>{{t 'pageFooter.download.linux'}} <i class="icon icon-fw icon-linux"></i></a></li>

      <li class="dropdown-header">{{t 'pageFooter.download.headerCli'}}</li>
      <li><a {{action "cliDownload" "darwin"}}>{{t 'pageFooter.download.mac'}} <i class="icon icon-fw icon-apple"></i></a></li>
      <li><a {{action "cliDownload" "windows"}}>{{t 'pageFooter.download.windows'}} <i class="icon icon-fw icon-windows"></i></a></li>
      <li><a {{action "cliDownload" "linux"}}>{{t 'pageFooter.download.linux'}} <i class="icon icon-fw icon-linux"></i></a></li>
    </ul>
  </div>
</div>
<div class="pull-right">
  {{language-dropdown}}
</div>
