<section class="header clearfix mb-5">
  <h1>
    {{t 'hostTemplatesPage.title'}}
  </h1>
</section>

<section class="clearfix">
   <div class="catalog-box cloud-host bg-secondary ml-0">
     <h2 class="darken p-20 m-0" style="color: white;">{{t 'hostTemplatesPage.new.title'}}</h2>
    <div class="itemwrap"><p>{{t 'hostTemplatesPage.new.helpText'}}</p></div>
    {{#link-to "hosts.new" classNames="btn bg-info"}}{{t 'hostTemplatesPage.new.btn'}}{{/link-to}}
  </div>

  {{#each arranged as |host|}}
    {{#catalog-box
        model=model
        classNames='cloud-host'
        showIcon=false
        showDescription=false
        as |section|
    }}
      {{#if (eq section 'header')}}
        {{action-menu model=host class="pull-right"}}
        <div class="catalog-icon {{parse-host-icon host.driver}}"/>
      {{else if (eq section 'body')}}
        <hr class="m-10" />
        <h2>{{host.name}}</h2>
        <div class="details">
          {{host.description}}
        </div>
      {{else if (eq section 'footer')}}
        <button role="button" class="btn bg-primary" {{action 'launch' host}}>{{t 'hostTemplatesPage.templateBox.button'}}</button>
      {{/if}}
    {{/catalog-box}}
  {{/each}}
</section>
{{#unless app.isCaas}}
  <div class="text-center">
    {{#link-to "custom-host" classNames="ml-10 btn btn-sm bg-transparent"}}{{t 'hostTemplatesPage.custom'}}{{/link-to}}
  </div>
{{/unless}}
