<section class="header clearfix">
  <h1>
    {{t 'hostTemplatesPage.title'}}
  </h1>
</section>

<section class="pl-15 pr-15 clearfix">
  {{#catalog-box
    classNames="cloud-host dotted"
    showIcon=false
    showDescription=false
    as |section|
  }}
    {{#if (eq section 'header')}}
      <div class="catalog-icon mt-10 newtemplate"/>
    {{else if (eq section 'body') }}
      <hr class="m-10" />
      <h2 class="text-muted">{{t 'hostTemplatesPage.new.title'}}</h2>
    {{else if (eq section 'footer') }}
      {{#link-to "hosts.new" classNames="btn bg-primary"}}{{t 'hostTemplatesPage.new.btn'}}{{/link-to}}
    {{/if}}
  {{/catalog-box}}

  {{#each arranged as |host|}}
    {{#catalog-box
        model=model
        classNames='cloud-host'
        showIcon=false
        showDescription=false
        as |section|
    }}
      {{#if (eq section 'header')}}
        {{action-menu model=host class="pull-right"}}
        <div class="catalog-icon mt-10 {{parse-host-icon host.driver}}"/>
      {{else if (eq section 'body')}}
        <hr class="m-10" />
        <h2>{{host.name}}</h2>
        <div class="details">
          {{host.description}}
        </div>
      {{else if (eq section 'footer')}}
        <button role="button" class="btn bg-primary" {{action 'launch' host}}>{{t 'hostTemplatesPage.templateBox.button'}}</button>
      {{/if}}
    {{/catalog-box}}
  {{/each}}
</section>
{{#unless app.isCaas}}
  <div class="text-center">
    {{#link-to "custom-host" classNames="ml-10 btn btn-sm bg-transparent"}}{{t 'hostTemplatesPage.custom'}}{{/link-to}}
  </div>
{{/unless}}
