<section class="header clearfix">
  {{#link-to "hosts.new" classNames="btn btn-sm bg-primary pull-right"}}{{t 'hostsPage.index.addHost'}}{{/link-to}}
  <h1>
    {{#link-to "infrastructure-tab"}}{{t 'hostsPage.new.header.linkTo'}}{{/link-to}}
    {{t 'hostTemplatesPage.title'}}
  </h1>
</section>

<section class="pl-15 pr-15 clearfix">
  {{#each filteredContent as |host|}}
    {{#catalog-box
         model=model
         active=(not (eq true 'inactive'))
         classNames='cloud-host'
         showIcon=false
         showDescription=false
         as |section|
    }}
      {{#if (eq section 'header')}}
        <div class="catalog-icon mb-10 {{parse-host-icon host.driver}}"/>
      {{else if (eq section 'body')}}
        <hr class="m-10" />
        <h2>{{host.name}}</h2>
        <div>
          <div class="details">
            <div>
              <label for="">{{t 'hostTemplatesPage.templateBox.labels.region'}}: </label>
              {{host.publicValues.region}}
            </div>
            <div>
              <label for="">{{t 'hostTemplatesPage.templateBox.labels.zone'}}: </label>
              {{host.publicValues.zone}}
            </div>
          </div>

        </div>
      {{else if (eq section 'footer')}}
        <button role="button" class="btn bg-primary" {{action 'launch' host}}>{{t 'hostTemplatesPage.templateBox.button'}}</button>
      {{/if}}
    {{/catalog-box}}
  {{/each}}
</section>
