<tr class="main-row {{if (or expanded showLabelRow) 'no-bottom'}}">
  <td class="row-check" rowspan={{if showLabelRow 2 1}}>
    {{check-box nodeId=model.id}}
  </td>
  <td rowspan={{if showLabelRow 2 1}}>
    <i role="button" {{action "toggle"}} class="icon icon-play eased text-small text-muted {{if expanded 'icon-rotate-90'}}"></i>
  </td>
  <td data-title="{{dt.state}}" class="state">
    {{badge-state model=model}}
  </td>
  <td data-title="{{dt.name}}" class="clip">
    <a href="{{href-to "host" model.id}}">{{model.displayName}}</a>
  </td>
  <td data-title="{{dt.ip}}">
    {{#copy-to-clipboard clipboardText=model.displayIp size="small"}}
      {{format-ip model.displayIp}}
    {{/copy-to-clipboard}}
  </td>
  <td data-title="{{dt.memory}}">
    {{model.memoryBlurb}}
  </td>
  <td data-title="{{dt.docker}}">
    {{model.dockerEngineVersion}}
  </td>
  <td data-title="{{dt.instanceCount}}">
    {{#if subMatches}}
      <b>{{get subMatches model.id}}/{{model.arrangedInstances.length}}</b>
    {{else}}
      {{model.arrangedInstances.length}}
    {{/if}}
  </td>
  <td data-title="{{dt.instanceState}}">
    {{progress-bar-multi
      labelKey="state"
      valueKey="count"
      values=model.instanceStates.byColor
      tooltipValues=model.instanceStates.byName
    }}
  </td>
  <td data-title="{{dt.actions}}" class="actions">
    {{action-menu model=model showPrimary=false}}
  </td>
</tr>

{{#if showLabelRow}}
  <tr class="sub-row hide">{{! make the alternating color match }}</tr>
  <tr class="sub-row no-top">
    <td colspan="{{sub fullColspan 3}}">
      {{#each model.displayUserLabelStrings as |label|}}
        <span class="tag-xs bg-info">{{label}}</span>
      {{/each}}
      {{#each model.requireAnyLabelStrings as |label|}}
        <span class="tag-xs bg-warning">{{label}}</span>
      {{/each}}
    </td>
    <td>{{! actions}}</td>
  </tr>
{{/if}}

  <tr class="sub-row hide">{{! make the alternating color match }}</tr>
  <tr class="sub-row {{unless expanded 'hide'}}">
    <td colspan="2">{{! checkbox and expand}}</td>
    <td colspan="{{sub fullColspan 3}}">
      {{#liquid-if expanded}}
        {{container-table
          body=model.instances
          stickyHeader=false
          bulkActions=false
          search=false
          searchText=searchText
          subRow=true
          showHost=false
        }}
      {{/liquid-if}}
    </td>
    <td>{{! actions}}</td>
  </tr>

  {{#if expanded}}
    <tr class="sub-row hide">{{! make the alternating color match }}</tr>
    <tr class="separator-row">
      <td colspan="{{fullColspan}}"></td>
    </tr>
  {{/if}}
