<td data-title="{{dt.stateSort}}" class="state">
  {{badge-state model=model}}
</td>
<td data-title="{{dt.name}}" class="clip">
  <a href="{{href-to "host" model.id}}">{{model.displayName}}</a>
</td>
<td data-title="{{dt.ip}}">
  {{format-ip model.displayIp}}
</td>
<td data-title="{{dt.docker}}">
  {{model.dockerEngineVersion}}
</td>
<td data-title="{{dt.good}}" class="text-right text-success">
  {{model.instanceGoodCount}}
</td>
<td data-title="{{dt.other}}" class="text-right {{if model.instanceOtherCount 'text-warning text-bold' 'text-muted'}}">
  {{model.instanceOtherCount}}
</td>
<td data-title="{{dt.bad}}" class="text-right {{if model.instanceBadCount 'text-error text-bold' 'text-muted'}}">
  {{model.instanceBadCount}}
</td>
<td data-title="{{dt.actions}}" class="actions">
  {{action-menu model=model showPrimary=false}}
</td>
