<div>
  <h2>{{t 'modalAuditlogInfo.header'}}</h2>
  <hr>
</div>
<div class="r-mb15" style="max-height: 400px; overflow: auto;">
  <h3>{{t 'modalAuditlogInfo.request'}}</h3>
  <div style="max-height: 400px; overflow: auto;">
    {{code-block language="javascript" code=requestJSON}}
  </div>
</div>
<div class="r-mb15">
  <h3>{{t 'modalAuditlogInfo.response'}}</h3>
  <div style="max-height: 400px; overflow: auto;">
    {{code-block language="javascript" code=responseJSON}}
  </div>
</div>
<div class="footer-actions">
  <button class="btn btn-primary" {{action 'dismiss'}}>{{t 'generic.closeModal'}}</button>
</div>
