<h2>{{t 'userPreferencesPage.generalInfo.header'}}</h2>
<div class="box">
  <div class="row">
    <div class="col span-12">
      <label class="acc-label">{{t 'userPreferencesPage.generalInfo.name.label'}}</label>
      {{input-or-display editable=editing value=account.name}}
    </div>
  </div>
  <div class="row">
    <div class="col span-12">
      <label class="acc-label">{{t 'userPreferencesPage.generalInfo.username.label'}}</label>
      {{input-or-display editable=editing value=account.login}}
    </div>
  </div>
  <div class="row text-center">
    <div class="col span-12 text-left">
      <button class="btn bg-primary" {{action 'editPassword'}}>{{t 'userPreferencesPage.generalInfo.password.text'}}</button>
    </div>
  </div>
</div>
