<h2>{{t 'userSettingsPage.generalInfo.header'}}</h2>
<div class="row">
  <div class="col span-12">
    <label>{{t 'userSettingsPage.generalInfo.form.name.label'}}</label>
    {{input-or-display editable=editing value=account.name}}
  </div>
</div>
<div class="row">
  <div class="col span-12">
    <label>{{t 'userSettingsPage.generalInfo.form.username.label'}}</label>
    {{input-or-display editable=editing value=account.login}}
  </div>
</div>
<div class="row">
  <div class="col span-12">
    <label>{{t 'userSettingsPage.generalInfo.form.password.label'}}</label>
    <div>
      <button class="btn bg-primary" {{action 'editPassword'}}>{{t 'userSettingsPage.generalInfo.form.password.text'}}</button>
    </div>
  </div>
</div>