<h2>{{t 'userSettingsPage.generalInfo.header'}}</h2>
<div class="row">
  <div class="col span-12">
    <label>{{t 'userSettingsPage.generalInfo.name.label'}}</label>
    {{input-or-display editable=editing value=account.name}}
  </div>
</div>
<div class="row">
  <div class="col span-12">
    <label>{{t (if app.isCaas 'userSettingsPage.generalInfo.email.label' 'userSettingsPage.generalInfo.username.label')}}</label>
    {{input-or-display editable=editing value=account.login}}
  </div>
</div>
<div class="row">
  <div class="col span-12">
    <button class="btn bg-primary" {{action 'editPassword'}}>{{t 'userSettingsPage.generalInfo.password.text'}}</button>
  </div>
</div>
