<h2>{{t 'userSettingsPage.generalInfo.header'}}</h2>

<div class="row inline-form">
  <div class="col span-2 inline-label">
    <label>{{t 'userSettingsPage.generalInfo.form.name.label'}}</label>
  </div>

  <div class="col span-8">
    {{input-or-display editable=editing value=account.name}}
  </div>
</div>
<div class="row inline-form">
  <div class="col span-2 inline-label">
    <label>{{t 'userSettingsPage.generalInfo.form.username.label'}}</label>
  </div>

  <div class="col span-8">
    {{input-or-display editable=editing value=account.login}}
  </div>
</div>
<div class="row inline-form">
  <div class="col span-2 inline-label">
    <label>{{t 'userSettingsPage.generalInfo.form.password.label'}}</label>
  </div>

  <div class="col span-8">
    <a class="btn btn-default" {{action 'editPassword'}}>{{t 'userSettingsPage.generalInfo.form.password.text'}}</a>
  </div>
</div>