<div class="row">
  <div class="col">
    <button class="btn bg-link icon-btn p-0" {{action "addMember"}}>
      <span class="darken">
        <i class="icon icon-plus text-small"/>
      </span>
      <span>
        {{t "formShareMember.add"}}
      </span>
    </button>
    <button class="btn bg-link icon-btn p-0" {{action "sharePublic"}}>
      <span class="darken">
        <i class="icon icon-plus text-small"/>
      </span>
      <span>
        {{t "formShareMember.public"}}
      </span>
    </button>
  </div>
</div>
<div>
  <SortableTable
    @class="grid sortable-table"
    @body={{allRows}}
    @searchText={{searchText}}
    @descending={{descending}}
    @sortBy={{sortBy}}
    @bulkActions={{false}}
    @pagingLabel="pagination.cluster"
    @headers={{membersHeaders}}
    @stickyHeader={{false}}
    as |sortable kind member dt|
  >
    {{#if (eq kind "row")}}
      {{#if (eq member.groupPrincipalId "*")}}
        <ShareMemberRow
          @member={{member}}
          @editing={{editing}}
          @clusterResource={{resource}}
          @users={{users}}
          @remove={{removeMember}}
          @isPublic={{true}}
        />
      {{else}}
        {{#unless member.pendingDelete}}
          <ShareMemberRow
            @member={{member}}
            @editing={{editing}}
            @clusterResource={{resource}}
            @users={{users}}
            @remove={{removeMember}}
          />
        {{/unless}}
      {{/if}}
    {{else if (eq kind "nomatch")}}
      <tr>
        <td colspan="{{sortable.fullColspan}}" class="no-match">
          {{t "formShareMember.table.noMatch"}}
        </td>
      </tr>
    {{else if (eq kind "norows")}}
      <tr>
        <td colspan="{{sortable.fullColspan}}" class="no-data">
          {{t "formShareMember.table.noData"}}
        </td>
      </tr>
    {{/if}}
  </SortableTable>
</div>
