<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.storageos.volumeName.label'}}</label>
    {{#input-or-display editable=editing value=config.volumeName}}
      {{input type="text" value=config.volumeName classNames="form-control" placeholder=(t 'cruPersistentVolume.storageos.volumeName.placeholder')}}
    {{/input-or-display}}
  </div>

  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.storageos.volumeNamespace.label'}}</label>
    {{#input-or-display editable=editing value=config.volumeNamespace}}
      {{input type="text" value=config.volumeNamespace classNames="form-control" placeholder=(t 'cruPersistentVolume.storageos.volumeNamespace.placeholder')}}
    {{/input-or-display}}
  </div>
</div>

<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.storageos.secretRef.name.label'}}</label>
    {{#input-or-display editable=editing value=config.secretRef.name}}
      {{input type="text" value=config.secretRef.name classNames="form-control" placeholder=(t 'cruPersistentVolume.storageos.secretRef.name.placeholder')}}
    {{/input-or-display}}
  </div>

  {{#if (eq volume.type "persistentVolume")}}
    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.storageos.secretRef.namespace.label'}}</label>
      {{#input-or-display editable=editing value=config.secretRef.namespace}}
        {{input type="text" value=config.secretRef.namespace classNames="form-control" placeholder=(t 'cruPersistentVolume.storageos.secretRef.namespace.placeholder')}}
      {{/input-or-display}}
    </div>
  {{/if}}
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.storageos.fsType.label'}}</label>
    {{#input-or-display editable=editing value=config.fsType}}
      {{input type="text" value=config.fsType classNames="form-control" placeholder=(t 'cruPersistentVolume.storageos.fsType.placeholder')}}
    {{/input-or-display}}
  </div>

  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.storageos.readOnly.label'}}</label>
    {{#if editing}}
      <div class="text-muted">
        <label>
          {{radio-button selection=config.readOnly value=true}} {{t 'generic.yes'}}
        </label>
        <label>
          {{radio-button selection=config.readOnly value=false}} {{t 'generic.no'}}
        </label>
      </div>
    {{else}}
      <div class="text-muted">
        {{config.readOnly}}
      </div>
    {{/if}}
  </div>
</div>