{{#accordion-list-item
     title=(t 'formSupplementalGroupsPodSecurityPolicy.title')
     detail=(t 'formSupplementalGroupsPodSecurityPolicy.detail')
     status=status
     statusClass=statusClass
     expandAll=expandAll
     expand=(action expandFn)
}}
  <div class="row">
    <div class="radio input">
      <label>{{radio-button selection=model.supplementalGroups.rule value="MustRunAs"}} {{t 'formSupplementalGroupsPodSecurityPolicy.rule.mustRunAs'}}</label>
    </div>
    <div class="radio input">
      <label>{{radio-button selection=model.supplementalGroups.rule value="RunAsAny"}} {{t 'formSupplementalGroupsPodSecurityPolicy.rule.runAsAny'}}</label>
    </div>
  </div>

  {{#if (eq model.supplementalGroups.rule "MustRunAs")}}
    <div class="row mt-20">
      <div>
        <button class="btn bg-link icon-btn" {{action "add"}}>
          <span class="darken"><i class="icon icon-plus text-small"/></span>
          <span>{{t 'formSupplementalGroupsPodSecurityPolicy.range.addLabel'}}</span>
        </button>
      </div>

      {{#if (eq model.supplementalGroups.rule "MustRunAs")}}
        <table class="table fixed no-lines no-top-padding mt-10">
          <tr class="hidden-sm hidden-xs">
            <th>{{t 'formSupplementalGroupsPodSecurityPolicy.range.min.label'}}{{field-required}}</th>
            <th width="30">&nbsp;</th>
            <th>{{t 'formSupplementalGroupsPodSecurityPolicy.range.max.label'}}{{field-required}}</th>
            <th width="40">&nbsp;</th>
          </tr>
          {{#each model.supplementalGroups.ranges as |range|}}
            <tr class="sm-noborder">
              <td data-title="{{t 'formSupplementalGroupsPodSecurityPolicy.range.min.label'}}">
                {{input class="form-control input-sm" type="number" value=range.min placeholder=(t 'formSupplementalGroupsPodSecurityPolicy.range.min.placeholder')}}
              </td>
              <td class="text-center">
                <p><i class="icon icon-chevron-right"></i></p>
              </td>
              <td data-title="{{t 'formSupplementalGroupsPodSecurityPolicy.range.max.label'}}">
                {{input class="form-control input-sm" type="number" value=range.max placeholder=(t 'formSupplementalGroupsPodSecurityPolicy.range.max.placeholder')}}
              </td>
              <td class="text-right">
                <button class="btn bg-primary btn-sm" {{action "remove" range}}><i class="icon icon-minus"/><span class="sr-only">{{t 'generic.remove'}}</span></button>
              </td>
            </tr>
          {{/each}}
        </table>
      {{/if}}
    </div>
  {{/if}}

{{/accordion-list-item}}
