<form {{action "add" on="submit"}}>
  <div class="input-group">
    {{principal-search
      add=(action "add")
      filter=filter
      includeLocal=includeLocal
      principal=addInput
      selectExact=(action "selectExact")
      selectExactOnBlur=selectExactOnBlur
      useLabel=true
      searchOnlyGroups=searchOnlyGroups
    }}
    <div class="input-group-btn">
      {{#if showDropdown}}
        <BasicDropdown @horizontalPosition="right" as |dd|>
          <dd.Trigger class="btn bg-default">
            <i class="icon icon-chevron-down"></i>
          </dd.Trigger>
          <dd.Content class="principal-search-list">
            <li
              role="presentation"
              class="dropdown-header"
              {{action dd.actions.close}}
            >
              {{dropdownLabel}}
            </li>
            {{#each dropdownChoices as |item|}}
              <li {{action dd.actions.close}}>
                <a {{action "addObject" item}}>
                  {{identity-block principal=item}}
                </a>
              </li>
            {{/each}}
          </dd.Content>
        </BasicDropdown>
      {{/if}}
    </div>
  </div>
</form>