<form {{action "add" on="submit"}}>
  <div class="input-group">
    {{principal-search principal=addInput filter=filter useLabel=true add="add" selectExact="selectExact" selectExactOnBlur=selectExactOnBlur includeLocal=includeLocal}}

    <div class="input-group-btn">
      {{#if showDropdown}}
        <button type="button" class="btn bg-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon icon-chevron-down"></i></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" style="min-width: 250px; max-height: 300px; overflow-y: auto;">
          <li role="presentation" class="dropdown-header">{{dropdownLabel}}</li>
            {{#each dropdownChoices as |item|}}
              <li>
                <a {{action "addObject" item}}>
                  {{identity-block principal=item}}
                </a>
              </li>
            {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
</form>
