<form {{action "add" on="submit"}}>
  <div class="input-group">
    {{#if (eq access.provider 'githubconfig')}}
      {{input type="text" value=addInput placeholder=(t 'inputIdentity.placeholder.github') class="form-control"}}
    {{else}}
      {{input type="text" value=addInput placeholder=(t 'inputIdentity.placeholder.generic') class="form-control"}}
    {{/if}}
    <div class="input-group-btn">
      {{#if checking}}
        <button class="btn bg-primary btn-disabled"><i class="icon icon-spinner icon-spin"></i></button>
      {{else}}
        <button class="btn bg-primary" {{action "add"}} disabled={{addDisabled}}><i class="icon icon-plus"></i></button>
      {{/if}}
      {{#if showDropdown}}
        <button type="button" class="btn bg-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon icon-chevron-down"></i></button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu" style="min-width: 250px; max-height: 300px; overflow-y: auto;">
          <li role="presentation" class="dropdown-header">{{dropdownLabel}}</li>
            {{#each dropdownChoices as |item|}}
              <li>
                <a {{action "addObject" item}}>
                  {{identity-block identity=item}}
                </a>
              </li>
            {{/each}}
        </ul>
      {{/if}}
    </div>
  </div>
</form>
