<section class="header clearfix">
  <h1 class="pull-left">
    {{t 'volumesPage.title'}}: {{model.name}}
    {{log model}}
  </h1>
</section>

<section>
  <div class="banner bg-info basics">
    <div class="inline-block">
      <label class="acc-label p-0">{{t 'volumesPage.banner.driver'}}:</label>
      {{#copy-inline clipboardText=model.driver}}
        {{model.driver}}
      {{/copy-inline}}
    </div>
  </div>
</section>