<section>
  {{top-errors errors=errors}}

  <div class="well">
    <h2>Access Control is {{#if app.authenticationEnabled}}<b>enabled</b>{{else}}<b class="text-warning">not configured</b>{{/if}}</h2>
    <div>
      {{#if app.authenticationEnabled}}
        {{#if wasRestricted}}
          Rancher is configured to restrict access to {{wasRestrictedMsg}}.
        {{else}}
          Rancher is configured to allow access to any GitHub user.
        {{/if}}
      {{else}}
        Rancher can be configured to restrict access to a set of GitHub users and organization members.  This is not currently set up, so anybody that reach this page (or the API) has full control over the system.
      {{/if}}
    </div>
  </div>

  {{#if app.authenticationEnabled}}
    <div class="well">
      <h4>Authentication</h4>
      <hr/>
      <div><b>Client ID: </b> <span class="text-muted">{{clientId}}</span></div>
      <p class="help-block">To change the configured GitHub application, disable access control below and then set it up again.</p>
    </div>

    <div class="well">
      <h4>Site Access</h4>
      {{#if showingAccessControl}}
        <p class="help-block">
          Configure who should be allowed to log in and user Rancher.  <b>Note:</b> Members added to projects are automatically allowed.
        </p>
        <hr/>

        <div class="row">
          <div class="col-md-6">
            <div class="radio">
              <label>{{radio-button selection=accessMode value="unrestricted"}} Allow any GitHub user</label>
            </div>
            <div class="radio">
              <label>{{radio-button selection=accessMode value="restricted"}} Restrict to specific GitHub users and organization members{{#if isRestricted}}:{{/if}}</label>
            </div>
          </div>
          <div class="col-md-6">
            {{#if isRestricted}}
              {{input-github allowTeams=false action="addAuthorized" onError="showError"}}

              <hr/>
              <h5>Authorized Users and Organizations</h5>

              <ul class="list-unstyled gh-block-list">
                {{#each user in allowedUsers}}
                  <li>
                    {{#github-block login=user}}
                      <button class="btn-circle-x btn-sm pull-right gh-action" {{action "removeUser" user}}></button>
                    {{/github-block}}
                  </li>
                {{/each}}
                {{#each org in allowedOrganizations}}
                  <li>
                    {{#github-block login=org}}
                      <button class="btn-circle-x btn-sm pull-right gh-action" {{action "removeOrg" org}}></button>
                    {{/github-block}}
                  </li>
                {{/each}}
              </ul>
              {{#unless allowedUsers.length}}
                {{#unless allowedOrganizations.length}}
                  <span class="text-muted">None</span>
                {{/unless}}
              {{/unless}}
            {{/if}}
          </div>
        </div>

        <hr/>

        <button class="btn btn-primary" {{bind-attr disabled=saveDisabled}} {{action "saveAuthorization"}}>
          {{#if saved}}
            Saved
          {{else}}
            {{#if saving}}
              <i class="fa fa-spinner fa-spin"></i> Saving...
            {{else}}
              Save authorization configuration
            {{/if}}
          {{/if}}
        </button>
      {{else}}
        <p class="help-block">
          By default, only users that are a member of a project are allowed to log in and access Rancher.
        </p>
        <button class="btn btn-primary" {{action "showAccessControl"}}>Customize</button>
      {{/if}}
    </div>

    <div class="well">
      <h4>Danger Zone&trade;</h4>
      <hr/>

      <p>
        <b class="text-danger">Caution:</b> Disabling access control will give complete control over Rancher to anyone that can reach this page or the API.
      </p>

      {{#if confirmDisable}}
        <button class="btn btn-danger" {{action "disable"}}>
          <i class="ss-thunderstorm"></i> Are you sure?  Click again to really disable access control
        </button>
      {{else}}
        <button class="btn btn-danger" {{action "promptDisable"}}>
          <i class="ss-lightning"></i> Disable access control
        </button>
      {{/if}}

    </div>
  {{/if}}

  {{#unless app.authenticationEnabled}}
    <div class="well">
      <h4>1. Setup a GitHub Application</h4>
      <hr/>
      <p>
        <ul>
          <li>
            <a href="https://github.com/settings/applications" target="_blank">Click here</a> to go to your GitHub applications settings in a new window.
          </li>
          <li>
            Click &quot;Register new application&quot; and fill out the form:
            <ul>
              <li><b>Application name:</b> <span class="text-muted">Anything you like, e.g. My Rancher</span></li>
              <li>
                <b>Homepage URL:&nbsp;</b> <span>{{destinationUrl}}</span>
              </li>
              <li><b>Application description:</b> <span class="text-muted">Anything you like, optional</span></li>
              <li><b>Authorization callback URL</b> <span>{{destinationUrl}}</span></li>
            </ul>
          </li>
          <li>Click &quot;Register application&quot;</li>
        </ul>
      </p>
    </div>

    <div class="well">
      <h4>2. Configure Rancher to use your Application for Authentication</h4>
      <hr/>
      <p>Copy and paste the Client ID and Secret from the upper-right corner of your newly-created application.</p>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label for="client-id">Client ID</label>
            {{input id="client-id" type="text" value=clientId classNames="form-control"}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label for="client-secret">Client Secret</label>
            {{input id="client-secret" type="text" value=clientSecret classNames="form-control"}}
          </div>
        </div>
      </div>
    </div>

    <div class="well">
      <h4>3. Test and enable Authentication</h4>
      <hr/>
      <div class="row">
        <div class="col-md-6">
          <p>Check that your application is configured correctly by testing authentication with it:</p>
        </div>
        <div class="col-md-6">
          <button {{bind-attr disabled=createDisabled}} class="btn btn-primary" {{action "test"}}>
            {{#if testing}}
              <i class="fa fa-spinner fa-spin"></i> Waiting to hear back from GitHub
            {{else}}
              <i class="fa fa-github"></i> Authenticate with GitHub
            {{/if}}
          </button>
        </div>
      </div>
    </div>
  {{/unless}}
</section>
