<div class="container-stack-card text-center">
  {{#link-to "environment" model.id}}
    <div class="stack-card-icon">
      <img src="{{model.urlImage}}"/>
    </div>
    <h5>
    {{model.name}}
    </h5>
  {{/link-to}}
  <hr class="r-m10" />
  <div class="itemwrap">

    <div class="stack-state {{model.stateBackground}}">
      <i class="{{model.stateIcon}}"></i> {{model.displayState}}
    </div>
  </div>
</div>
