<div class="container-stack-card text-center">
  <div class="stack-card-icon">
    {{!-- Implements a generic icon --}}
    {{#if publicLink}}
      <a href={{publicLink}} target="_blank"><img src={{model.urlImage}} /></a>
    {{else}}
      <img src={{model.urlImage}} />
    {{/if}}
    <img src=""/>
  </div>
  <div class="itemwrap">
    <h5>
      {{#link-to "environment" model.id}}{{model.name}}{{/link-to}}
    </h5>
  <hr class="r-m10" />
    <div class="stack-state {{model.stateBackground}}">
      <i class="{{model.stateIcon}}"></i> {{model.displayState}}
    </div>
  </div>
</div>
