<div class="pipeline-child-limit">
{{#if model.sourceCodeConfig}}
 {{#tooltip-element style="100%;" inlineBlock=true type="tooltip-basic" tooltipTemplate="tooltip-static" model=model.sourceCodeConfig.url tagName="span" tooltipFor="tooltip-basic"}}
    <p class="mt-0 mb-0 clip" style="width: 100%;">{{model.sourceCodeConfig.url}}</p>
    <p class="text-small mt-0 mb-0 clip italian text-italic" style="width: 100%;"><b>{{branchCondition}}</b> {{model.sourceCodeConfig.branch}}</p>
  {{/tooltip-element}}
{{/if}}

{{#if model.runScriptConfig}}
  {{#tooltip-element style="100%;" inlineBlock=true type="tooltip-basic" tooltipTemplate="tooltip-static" model=model.image tagName="span" tooltipFor="tooltip-basic"}}
    <p class="mt-0 mb-0 clip">{{t 'newPipelineStep.stepType.task.label'}}: </p>
    <p class="mt-0 mb-0 clip">{{model.runScriptConfig.image}}</p>
    <p class="text-small mt-0 mb-0 clip text-italic">{{model.runScriptConfig.command}}</p>
  {{/tooltip-element}}
{{/if}}

{{#if model.publishImageConfig}}
  {{#tooltip-element style="100%;" inlineBlock=true type="tooltip-basic" tooltipTemplate="tooltip-static" model=model.publishImageConfig.tag tagName="span" tooltipFor="tooltip-basic"}}
    <p class="mt-0 mb-0 clip">{{t 'newPipelineStep.stepType.build.label'}}: </p>
    <p class="mt-0 mb-0 clip">{{model.publishImageConfig.tag}}</p>
  {{/tooltip-element}}
{{/if}}
</div>