<section class="fail-whale">
  <div class="error">
    <h2 class="bg-error">404</h2>
    <div class="pl-20 text-center">
      <p>{{t 'notFoundPage.header'}}</p>
      <div>
        {{#link-to "authenticated"}}{{t 'notFoundPage.linkTo'}}{{/link-to}}
      </div>
    </div>
  </div>

  {{#if settings.isRancher}}
    <div class="failplane">
      <img src="{{app.baseAssets}}assets/images/logos/fail-plane.svg" width="484" height="269" />
      <img class="failprop" src="{{app.baseAssets}}assets/images/logos/fail-prop.svg" width="123" height="246" />
    </div>

    <img class="failcow" src="{{app.baseAssets}}assets/images/logos/fail-cowparachute.svg" width="178" height="255"/>
    <img class="cloud" src="{{app.baseAssets}}assets/images/logos/fail-cloud1.svg" width="254" height="121" />
    <img class="cloud" src="{{app.baseAssets}}assets/images/logos/fail-cloud2.svg" width="151" height="91" />
    <img class="cloud" src="{{app.baseAssets}}assets/images/logos/fail-cloud3.svg" width="175" height="102" />
    <img class="cloud" src="{{app.baseAssets}}assets/images/logos/fail-cloud4.svg" width="300" height="142" />
    <img class="cloud" src="{{app.baseAssets}}assets/images/logos/fail-cloud5.svg" width="320" height="152" />

    <div class="wave"></div>
  {{/if}}
</section>
