<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.cephfs.path.label'}}</label>
    {{#input-or-display editable=editing value=config.path}}
      {{input type="text" value=config.path classNames="form-control" placeholder=(t 'cruPersistentVolume.cephfs.path.placeholder')}}
    {{/input-or-display}}
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.cephfs.user.label'}}</label>
    {{#input-or-display editable=editing value=config.user}}
      {{input type="text" value=config.user classNames="form-control" placeholder=(t 'cruPersistentVolume.cephfs.user.placeholder')}}
    {{/input-or-display}}
  </div>
</div>

<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.cephfs.secretFile.label'}}</label>
    {{#input-or-display editable=editing value=config.secretFile}}
      {{input type="text" value=config.secretFile classNames="form-control" placeholder=(t 'cruPersistentVolume.cephfs.secretFile.placeholder')}}
    {{/input-or-display}}
  </div>

  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.cephfs.secretRef.name.label'}}</label>
    {{#input-or-display editable=editing value=config.secretRef.name}}
      {{input type="text" value=config.secretRef.name classNames="form-control" placeholder=(t 'cruPersistentVolume.cephfs.secretRef.name.placeholder')}}
    {{/input-or-display}}
  </div>
</div>

{{#if (eq volume.type "persistentVolume")}} 
  <div class="row mb-20">
    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.cephfs.secretRef.namespace.label'}}</label>
      {{#input-or-display editable=editing value=config.secretRef.namespace}}
        {{input type="text" value=config.secretRef.namespace classNames="form-control" placeholder=(t 'cruPersistentVolume.cephfs.secretRef.namespace.placeholder')}}
      {{/input-or-display}}
    </div>
  </div>
{{/if}}

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.cephfs.readOnly.label'}}</label>
    {{#if editing}}
      <div class="text-muted">
        <label>
          {{radio-button selection=config.readOnly value=true}} {{t 'generic.yes'}}
        </label>
        <label>
          {{radio-button selection=config.readOnly value=false}} {{t 'generic.no'}}
        </label>
      </div>
    {{else}}
      <div class="text-muted">
        {{config.readOnly}}
      </div>
    {{/if}}
  </div>

  <div class="col span-6">
    {{form-value-array
      initialValues=config.monitors
      editing=editing
      valueLabel="cruPersistentVolume.cephfs.monitors.label"
      addActionLabel="cruPersistentVolume.cephfs.monitors.addActionLabel"
      changed=(action (mut config.monitors))
    }}
  </div>
</div>