<div class="mt-40 text" style="width: 50%; margin-left: 25%">
  <h2 class="loading">{{t label}}</h2>

  <ul class="list-unstyled mt-20">
    {{#each steps as |step index|}}
      <li class="{{if (lt currentStep index) 'text-muted'}}">
        {{#if (eq currentStep index)}}
          <i class="icon icon-spinner icon-spin" />
        {{else}}
          {{#if (gt currentStep index)}}
            <i class="icon icon-check text-success" />
          {{else}}
            <i class="icon icon-circle-o" />
          {{/if}}
        {{/if}}

        <span>
          {{t step}}{{#if (and subStep subCount (eq currentStep index))}} {{t 'waitOrchestration.count' sub=subStep count=subCount}}{{/if}}
        </span>
      </li>
    {{/each}}
  </ul>
</div>
