{{#each section in view.sections}}
  <div class="host-zone">
    {{#with section.zone as zone controller="zone"}}
      <h3>{{#if zone.icon}}<i {{bind-attr class=":fa zone.icon"}}></i>{{/if}} {{zone.displayName}}</h3>
    {{/with}}
    {{#each col in section.columns}}
      <div class="host-column">
        {{#if dot}}
          {{#each host in col itemController="host"}}
            {{each host.instances itemViewClass="instanceDot" itemController="container"}}
          {{/each}}
        {{else}}
          {{each col itemViewClass="hosts/item" itemController="host"}}
        {{/if}}
      </div>
    {{/each}}
  </div>
{{/each}}
