<label class="acc-label block">
  {{#if valueLabelEnabled}}
    {{t valueLabel}}
  {{/if}}
  {{#if (and editing required)}}
    {{field-required}}
  {{/if}}
</label>

{{#if ary.length}}
  {{#each ary as |row|}}
    <div class="input-group mb-10">
      <span data-title="{{t valueLabel}}">
        {{#if hasBlock}}
          {{yield this row}}
        {{else if editing}}
          {{input-paste
            pasted=(action "pastedValues")
            class="form-control input-sm value"
            type="text"
            value=row.value
            placeholder=valuePlaceholder
          }}
        {{else}}
          {{row.value}}
        {{/if}}
      </span>
      {{#if editing}}
        <span class="input-group-btn">
          <button
            class="btn bg-primary btn-sm"
            {{action "remove" row}}>
            <i class="icon icon-minus"/>
            <span class="sr-only">
              {{t "generic.remove"}}
            </span>
          </button>
        </span>
      {{/if}}
    </div>
  {{/each}}


{{else if (not editing)}}
  <p class="text-center text-muted">
    {{t noDataLabel}}
  </p>
{{/if}}
{{#if editing}}
  <button
    class={{addButtonClass}}
    {{action "add"}}
    disabled={{not addButtonEnabled}}
  >
    <span class="darken">
      <i class="icon icon-plus text-small"/>
    </span>
    <span>
      {{t addActionLabel}}
    </span>
  </button>

  {{#if ary.length}}
    {{#if showProTip}}
      <div class="protip pt-10">
        {{t "formValueArray.protip"}}
      </div>
    {{/if}}
  {{/if}}
{{/if}}