<section>
  {{#if isEnabled}}
    <h3>{{t 'authPage.freeipa.header.enabled.label' providerName=(t providerName)}}</h3>
    <hr/>
  {{else}}
    <div class="banner bg-warning">
      <div class="banner-icon"><span class="icon icon-alert"></span></div>
      <div class="banner-message">
        <p>{{t 'authPage.freeipa.header.disabled.label' providerName=(t providerName)}}</p>
      </div>
    </div>
  {{/if}}

  <div>
    {{#if isEnabled}}
      {{t (concat 'authPage.freeipa.header.enabled.required') appName=settings.appName providerName=(t providerName) users=numUsers groups=numGroups}}
      {{!--
        {{t (concat 'authPage.freeipa.header.enabled.' freeipaConfig.accessMode) appName=settings.appName providerName=(t providerName) users=numUsers groups=numGroups}}
        --}}
    {{else}}
      {{t 'authPage.freeipa.header.disabled.warning' appName=settings.appName providerName=(t providerName)}}
    {{/if}}
  </div>
</section>