<div class="row">
  <div class="col span-12">
    <div class="over-hr pl-10">
      <span>
        <button class="btn bg-link icon-btn" {{action "addServiceLink"}}>
          <i class="icon icon-plus text-small"/> 
          <span>{{t 'formServiceLinks.addAction'}}</span>
        </button>
      </span>
    </div>
    {{#if serviceLinksArray.length}}
      <table class="table fixed no-lines no-top-padding">
        <tr class="text-muted hidden-sm hidden-xs">
          <th>{{t 'formServiceLinks.service.label'}}</th>
          {{#if withAlias}}
            <th width="30">&nbsp;</th>
            <th>{{t 'formServiceLinks.name.label'}}</th>
          {{/if}}
          <th width="30">&nbsp;</th>
        </tr>
        {{#each serviceLinksArray as |link|}}
          <tr class="sm-noborder">
            <td data-title="{{t 'formServiceLinks.service.label'}}">
              {{schema/input-service
                selectClass="form-control input-sm service-link"
                selected=link.serviceId
                exclude=service.id
              }}
            </td>
            {{#if withAlias}}
              <td class="text-center">
                <p><i class="icon icon-chevron-right"></i></p>
              </td>
              <td data-title="{{t 'formServiceLinks.name.label'}}">
                {{input class="form-control input-sm" type="text" value=link.name placeholder=(t 'formServiceLinks.name.placeholder')}}
              </td>
            {{/if}}
            <td class="text-right">
              <button class="btn bg-primary btn-sm" {{action "removeServiceLink" link}}><i class="icon icon-minus"/><span class="sr-only">{{t 'generic.remove'}}</span></button>
            </td>
          </tr>
        {{/each}}
      </table>
    {{else}}
      {{#if editing}}
        <span class="text-center text-muted">{{t 'formServiceLinks.noLinks'}}</span>
      {{/if}}
    {{/if}}
  </div>
</div>
