<div class="row">
  <div class="col-sm-12 col-md-12">
    <div class="over-hr r-p10">
    <span>
      <button class="btn-circle" {{action "addServiceLink"}}><i class="icon icon-plus-circle"/> {{t 'formServiceLinks.addAction'}}</button>
    </span>
    </div>
    {{#if serviceLinksArray.length}}
      <table class="table fixed no-lines no-top-padding tight small">
        <tr class="text-muted hidden-sm hidden-xs">
          <th>{{t 'formServiceLinks.service.label'}}</th>
          {{#if withAlias}}
            <th width="30">&nbsp;</th>
            <th>{{t 'formServiceLinks.name.label'}}</th>
          {{/if}}
          <th width="30">&nbsp;</th>
        </tr>
        {{#each serviceLinksArray as |link|}}
          <tr class="sm-noborder">
            <td data-title="{{t 'formServiceLinks.service.label'}}">
              {{schema/input-service
                selectClass="form-control input-sm service-link"
                selected=link.serviceId
                exclude=service.id
              }}
            </td>
            {{#if withAlias}}
              <td class="text-center">
                <p class="form-control-static"><i class="icon icon-chevron-right"></i></p>
              </td>
              <td data-title="{{t 'formServiceLinks.name.label'}}">
                {{input class="form-control input-sm" type="text" value=link.name placeholder=(t 'formServiceLinks.name.placeholder')}}
              </td>
            {{/if}}
            <td class="text-right">
              <button class="btn btn-primary btn-sm" {{action "removeServiceLink" link}}><i class="icon icon-minus"/><span class="sr-only">{{t 'generic.remove'}}</span></button>
            </td>
          </tr>
        {{/each}}
      </table>
    {{else}}
      {{#if editing}}
        <span class="text-center text-muted">{{t 'formServiceLinks.noLinks'}}</span>
      {{/if}}
    {{/if}}
  </div>
</div>
