<section class="header clearfix">
  <div class="right-buttons">
    <button class="btn bg-primary btn-sm" {{action "add"}}>
      {{t 'catalogSettings.more.addActionLabel'}}
    </button>
  </div>

  <h1>{{t 'catalogSettings.header'}}</h1>
</section>

{{#if istio}}
  <div class="row">
    <div class="col span-12">
      {{banner-message
        icon="icon-info"
        color="bg-info mb-0 mt-10"
        message=(t "globalDnsPage.entriesPage.istioHelp" htmlSafe=true)
      }}
    </div>
  </div>
{{/if}}

{{custom-catalog
  catalogs=filtered
  mode="project"
}}


<div class="footer-actions mt-20">
  <button {{action "goBack"}} class="btn bg-transparent">{{t 'generic.back'}}</button>
</div>
