<tr class="main-row">
  <td class="row-check">
    {{check-box nodeId=model.id}}
  </td>
  <td>
    {{#if canExpand}}<i role="button" {{action "toggle"}} class="icon icon-play eased text-small text-muted {{if expanded 'icon-rotate-90'}}"></i>{{/if}}
  </td>
  <td data-title="{{dt.state}}" class="state">
    {{badge-state model=model}}
  </td>
  <td data-title="{{dt.name}}" class="clip">
    <a href="{{href-to "service" model.id}}">{{model.displayName}}</a>
    {{#if model.showTransitioningMessage}}
      <div class="clip text-small {{model.stateColor}}">{{model.transitioningMessage}}</div>
    {{else if model.displayPorts}}
      <div class="clip text-small">
        {{model.displayPorts}}
      </div>
    {{/if}}
  </td>
  {{#if showImage}}
    <td data-title="{{dt.image}}" class="clip top-half">
      <small>{{model.displayImage}}</small>
      <p data-title="{{t 'generic.details'}}" class="text-small text-muted m-0 clip">
        {{#if subMatches}}
          {{#if (lt (get subMatches model.id) model.instances.length)}}
            {{t 'pagination.containerHighlightSubset' subset=(get subMatches model.id) count=model.instances.length htmlSafe=true}}
          {{else}}
            <b>{{t 'pagination.container' pages=1 count=model.instances.length}}</b>
          {{/if}}
        {{else}}
          {{t 'pagination.container' pages=1 count=(concat model.instances.length "")}}
        {{/if}} /
        {{t 'generic.createdDate' date=(date-from-now model.created)}}
      </p>
    </td>
  {{/if}}

  <td data-title="{{dt.scale}}" class="text-center">
    {{#if model.instanceStates.notGood}}
      <small class="text-muted">
        {{model.scale}}{{#if model.isGlobalScale}}{{t 'servicePage.globalScale'}}{{/if}}
      </small>
      {{progress-bar-multi
        classNames="m-5"
        labelKey="state"
        valueKey="count"
        values=model.instanceStates.byColor
        tooltipValues=model.instanceStates.byName
      }}
    {{else}}
      {{model.scale}}{{#if model.isGlobalScale}}{{t 'servicePage.globalScale'}}{{/if}}
    {{/if}}
  </td>

  <td data-title="{{dt.actions}}" class="actions">
    {{action-menu model=model}}
  </td>
</tr>

{{#if canExpand}}
  <tr class="sub-row {{unless expanded 'hide'}}">
    <td>{{! checkbox and expand}}</td>
    <td colspan="{{sub fullColspan 2}}">
      {{#if expanded}}
        {{container-table
          body=model.instances
          stickyHeader=false
          bulkActions=false
          search=false
          searchText=searchText
          subRow=true
          showHost=true
        }}
      {{/if}}
    </td>
    <td>{{! actions}}</td>
  </tr>

  {{#if expanded}}
    <tr class="separator-row">
      <td colspan="{{fullColspan}}"></td>
    </tr>
  {{/if}}
{{/if}}
