<div class="stack-info">
  <div class="catalog-icon">
    <img src="{{app.baseAssets}}assets/images/generic-catalog.svg" data-src={{model.catalogTemplateInfo.links.icon}}/>
  </div>
  <div class="stack-info-row">
    <div class="stack-info-top box-borderless">
      {{action-menu model=model classNames="pull-right"}}
      <h2>
        {{#link-to "stack" projects.current.id model.id}}{{model.displayName}}{{/link-to}}
      </h2>
    </div>
    <div class="stack-info-bottom box-borderless">
      <div class="multi-bar">
        {{progress-bar-multi
            labelKey="state"
            valueKey="count"
            values=model.serviceStates.byColor
            tooltipValues=model.serviceStates.byName
        }}
      </div>
      {{#upgrade-btn model=model classNames="btn-sm" as |btn|}}
        {{#if btn.upgradeInfo.version}}
          {{btn.upgradeInfo.version}}
          {{t (concat-str 'upgradeBtn.status.' btn.upgradeStatus character='')}}
        {{else}}
          {{t (concat-str 'upgradeBtn.status.' btn.upgradeStatus character='')}}
        {{/if}}
      {{/upgrade-btn}}
    </div>
  </div>
</div>
{{#if expanded}}
{{/if}}
