<section class="horizontal-form">
  <h2 class="text-center" style="margin-bottom: 20px;">Create Container</h2>

  {{#if error}}
    <div class="alert alert-danger">
      <i style="float: left;" class="ss-alert"></i>
      <p style="margin-left: 50px">{{error}}</p>
    </div>
  {{/if}}

  <div class="container-fluid">
    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="name" class="form-control-static">Name</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{input id="name" type="text" value=name classNames="form-control" placeholder="e.g. app01"}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="description" class="form-control-static">Description</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{textarea id="description" value=description classNames="form-control no-resize" rows="2" placeholder="e.g. It serves the website"}}
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <hr/>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="userImageUuid" class="form-control-static">Select Image</label>
      </div>
      <div class="col-sm-12 col-md-8">
        <!--
          <div class="row">
            <div class="col-sm-3">Image</div>
            <div class="col-sm-3">Image</div>
            <div class="col-sm-3">Image</div>
            <div class="col-sm-3">Image</div>
          </div>
          <div class="row">
            <div class="col-sm-3">Badger</div>
            <div class="col-sm-3">Badger</div>
            <div class="col-sm-3">Badger</div>
            <div class="col-sm-3">Mushroom</div>
          </div>

          <div class="over-hr" style="margin: 20px 0;">
            <span>or create your own</span>
            <hr/>
          </div>
        -->

        <div class="form-group">
          <div class="input-group">
            <span class="input-group-addon">docker:</span>
            {{input id="userImageUuid" disabled=isRancher type="text" class="form-control" value=userImageUuid placeholder="e.g. stackbrew/ubuntu:14.04"}}
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-10 col-xs-offset-1">
        <hr/>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-xs-6 col-md-2 form-label">
        <label for="userImageUuid" class="form-control-static">Port Map</label>
      </div>
      <div class="col-xs-2 col-md-4">
        <div class="form-control-static clearfix">
          <button class="btn btn-circle" {{action "addPort" target="view"}}><i class="ss-plus"></i></button>
        </div>
      </div>
      <div class="col-sm-4">
          <div class="form-control-static checkbox small pull-right"><label>{{input type="checkbox" checked=publishAllPorts}} Publish all ports to random host port</label></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12 col-md-8 col-md-offset-2">
        {{partial "container/edit-ports"}}
      </div>
    </div>
  </div>
</section>

<section class="text-center" style="padding: 0;">
  <ul class="nav nav-pills" style="display: inline-block">
    <li role="presentation" class="tab" data-section="command" {{action "selectTab" "command" target=view}}><a>Command</a></li>
    <li role="presentation" class="tab" data-section="volumes" {{action "selectTab" "volumes" target=view}}><a>Volumes</a></li>
    <li role="presentation" class="tab" data-section="network" {{action "selectTab" "network" target=view}}><a>Networking</a></li>
    <li role="presentation" class="tab" data-section="security" {{action "selectTab" "security" target=view}}><a>Security/Host</a></li>
  </ul>
</section>

<section class="horizontal-form" style="background-color: #f8f9fa; margin-top: -7px;">
  <div class="section container-fluid" data-section="command">
    {{partial "container/new-command"}}
  </div>

  <div class="section container-fluid" data-section="volumes">
    {{partial "container/new-volumes"}}
  </div>

  <div class="section container-fluid" data-section="network">
    {{partial "container/new-network"}}
  </div>

  <div class="section" data-section="security">
    {{partial "container/new-security"}}
  </div>
</section>

{{partial "save-cancel"}}
