<div class="toggle-advanced over-hr">
  <span>
    <a href="#" {{action "toggle"}}><i class="icon eased {{if advanced 'icon-play icon-rotate-90' 'icon-play'}}"/> {{t (if advanced 'advancedSection.hideText' 'advancedSection.showText')}}</a> </span>
</div>

<div class="{{unless advanced 'hide'}}">
  {{yield}}
</div>
