<div class="toggle-advanced over-hr">
  <span>
    <a href="#" {{action "toggle"}}>{{t 'advancedSection.hrText'}} <i class="icon {{if advanced 'icon-chevron-down' 'icon-chevron-up'}}"/></a>
  </span>
</div>

<div class="{{unless advanced 'hide'}}">
  {{yield}}
</div>
