{{#if model.isActive}}
  <table class="grid fixed">
    <thead>
      <tr>
        <th width="150">{{t 'servicePage.portsTab.table.header.port'}}</th>
        <th>{{t 'servicePage.portsTab.table.header.host'}}</th>
      </tr>
    </thead>
    <tbody>
      {{#each model.endpointsByPort as |obj|}}
        <tr>
          <td>
            {{obj.port}}
          </td>
          <td>
            {{#each obj.ipAddresses as |ip|}}
              <span class="r-pr10"><a href="http://{{ip}}:{{obj.port}}" target="_blank">{{ip}}</a></span>
            {{/each}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="2">
            <div class="text-muted text-center">{{t 'servicePage.portsTab.table.body.noData'}}</div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  <div class="text-center text-muted">{{t 'servicePage.portsTab.notActive'}}</div>
{{/if}}
