<div class="pt-20"></div>
<div class="inline-form">
  <label>{{t 'newPipelineStep.stepType.build.dockerFilePath'}}{{field-required}}</label>
  <div class="pt-10"></div>
  {{input class="form-control" value=publishImageConfig.dockerfilePath placeholder="Dockerfile Path" disabled=(if (eq modalOpts.type 'review') true false)}}
</div>

<div class="pt-20"></div>
<div class="inline-form">
  <label>{{t 'newPipelineStep.stepType.build.buildPath'}}{{field-required}}</label>
  <div class="pt-10"></div>
  {{input class="form-control" value=publishImageConfig.buildContext placeholder="Dockerfile Path" disabled=(if (eq modalOpts.type 'review') true false)}}
</div>

<div class="pt-20"></div>
<div class="inline-form">
  <label>{{t 'generic.image'}}{{field-required}}</label>
  <div class="pt-10"></div>
  {{input-image
    registryField=true
    registries=modalOpts.routeState.projectDockerCredentials
    value=publishImageConfig.tag
    modalState=modalState
    disabled=(if (eq modalOpts.type 'review') true false)
  }}
</div>
