<div class="pod-header clearfix">

  <div class="pull-left pod-state {{stateBackground}}"><span>{{model.displayState}}</span></div>
  <div class="pull-right">{{action-menu model=model}}</div>
</div>
  <div class="pod-name">
    <a href="{{href-to 'host' model.id}}">{{model.displayName}}</a>
    {{#if (and (not showOnlyMessage) model.showTransitioningMessage)}}
      <div class="pod-message {{if model.isError 'text-danger' 'text-muted'}}">
        {{model.transitioningMessage}}
      </div>
    {{/if}}
  </div>

{{#if showOnlyMessage}}
  <div class="machine-info text-center force-wrap">
    <span class="{{if isError 'text-danger' 'text-muted'}}">{{model.transitioningMessage}}</span>
  </div>
{{else}}
  <div class="pod-info">
    <div class="pod-info-container">
      {{#if model.displayIp}}
        <div class="pod-info-item"><i class="icon icon-link"></i> {{format-ip model.displayIp}}</div>
      {{/if}}

      {{#if model.dockerEngineVersion}}
        <div class="pod-info-item"><i class="icon icon-docker"></i> {{model.dockerEngineVersion}}
        </div>
      {{/if}}
    </div>
    <div class="pod-info-container">
      {{#if model.osBlurb}}
        <div class="pod-info-item clip"><i class="icon icon-linux"></i> {{model.osBlurb}}{{#if model.kernelBlurb}} ({{model.kernelBlurb}}) {{/if}}</div>
      {{/if}}
    </div>
    <div class="pod-info-container">
      {{#if model.cpuBlurb}}
        <div class="pod-info-item"><i class="icon icon-cpu" style="position: relative; top: -1px;"></i> {{model.cpuBlurb}}</div>
      {{/if}}
      {{#if model.memoryBlurb}}
        <div class="pod-info-item"><i class="icon icon-memory"></i> {{model.memoryBlurb}}</div>
      {{/if}}
      {{#if model.diskBlurb}}
        <div class="pod-info-item"><i class="icon icon-hdd"></i> {{model.diskBlurb}}</div>
      {{/if}}
    </div>
    <div class="pod-info-container">
      {{#if model.driver}}
        <div class="pod-info-item"><i class="icon icon-cloud"></i> {{model.driver}}</div>
      {{/if}}
    </div>
  </div>
  {{#if (eq model.supportState 'unsupported')}}
    <div class="pod-info lacsso pt-5">
      <a href="{{settings.docsBase}}/hosts/#supported-docker-versions" target="_blank" rel="nofollow noreferrer"><span class="lacsso tag bg-error force-wrap"><i class="icon icon-alert"></i> {{t 'hostPod.supportState.unsupported'}}</span></a>
    </div>
  {{else if (eq model.supportState 'untested')}}
    <div class="pod-info lacsso pt-5">
      <a href="{{settings.docsBase}}/hosts/#supported-docker-versions" target="_blank" rel="nofollow noreferrer"><span class="lacsso tag bg-warning force-wrap"><i class="icon icon-alert"></i> {{t 'hostPod.supportState.untested'}}</span></a>
    </div>
  {{/if}}
  {{#if strictUserLabelArray.length}}
    <div class="pod-info r-mb10">
        <div class="lacsso pt-5" style="white-space: normal;">
          {{#each strictUserLabelArray as |label|}}
            <span class="label label-default clip" style="display: inline-block; max-width: 100%;">{{label.key}}{{#if label.value}}={{label.value}}{{/if}}</span>
          {{/each}}
        </div>
    </div>
  {{/if}}
  {{#if model.requireAnyLabels.length}}
    <div class="pod-info r-mb10">
        <div class="lacsso pt-5" style="white-space: normal;">
          {{#each model.requireAnyLabels as |label|}}
            <span class="label label-warning clip" style="display: inline-block; max-width: 100%;">{{label}}</span>
          {{/each}}
        </div>
    </div>
  {{/if}}

  <div class="clearfix {{if (eq mode "dot") 'r-p5'}}" style="white-space: normal">
    {{#if (eq mode "dot")}}
      {{#each arrangedInstances as |item|}}
        {{container-dot model=item}}
      {{/each}}
    {{else}}
      {{#each groupedInstances as |group|}}
        {{#if (or showAdd group.instances.length)}}
          <div class="container-subpod-info">
            <div class="subpod-header">
              <h6 class="clip">
                {{~#if group.name~}}
                  {{#if group.kubernetes}}
                    {{t 'hostPod.groupedInstances.namespace'}}
                    {{group.name}}
                  {{else}}
                    {{t 'hostPod.groupedInstances.stack'}}
                    {{#link-to "stack" group.id}}{{group.name}}{{/link-to}}
                  {{/if}}
                {{else}}
                  {{t 'hostPod.groupedInstances.standalone'}}
                {{/if}}
              </h6>
            </div>
            <div class="subpod-inner clearfix">
              {{#each group.instances as |item|}}
                {{container-subpod model=item.main stripProject=true children=item.children}}
              {{/each}}
              {{#unless group.name}}
                {{#if showAdd}}
                  {{add-subpod action="newContainer" label="hostsPage.addContainer" groupHasChildren=group.hasChildren}}
                {{/if}}
              {{/unless}}
            </div>
          </div>
        {{/if}}
      {{else}}
        {{#if showAdd}}
          {{add-subpod action="newContainer" label="hostsPage.addContainer" groupHasChildren=group.hasChildren}}
        {{/if}}
      {{/each}}
    {{/if}}
  </div>
{{/if}}
