<div class="inline-form">
  <label>{{t 'generic.branch'}}{{field-required}}</label>
  <div class="pt-10"></div>
  {{input class="form-control" value=branch }}
</div>

{{top-errors errors=errors}}
{{save-cancel editing=editing createLabel="action.run" save="save" cancel="cancel"}}