<form class="horizontal-form container-fluid" {{action 'save' on="submit"}}>
  <div class="content">
    <div class="row">
      <div class="col span-12">
        <label class="acc-label">{{t 'modalEditPassword.new'}}</label>
        {{input type="password" value=password classNames="form-control start"}}
      </div>
      <div class="col span-12">
        <label class="acc-label">{{t 'modalEditPassword.confirm'}}</label>
        {{input type="password" value=confirm classNames="form-control"}}
      </div>
    </div>
  </div>
  <div class="footer-actions">
    {{save-cancel saveDisabled=canSave save="save" cancelDisabled=true createLabel='generic.save'}}
  </div>
</form>