<div {{bind-attr class=":pod-state model.stateBackground"}}><span>{{model.displayState}}</span></div>

<div class="right">
  {{resource-actions-menu model=model choices=model.availableActions}}
  &nbsp;
  <a {{bind-attr href=(dom-id model pound=true)}} data-toggle="collapse" class="btn btn-link collapser" aria-expanded="true"></a>
</div>

<h4>
  <span class="right-divider clip">{{#link-to "environment" model.id}}{{model.name}}{{/link-to}}</span>
  {{#link-to "service.new" (query-params environmentId=model.id) classNames="btn btn-sm btn-default right-divider-btn"}}Add Service{{/link-to}}
  {{#link-to "service.new-balancer" (query-params environmentId=model.id) classNames="btn btn-sm btn-default right-divider-btn"}}Add Balancer{{/link-to}}
</h4>
<h6 style="margin-top: 3px;">
  <span class="right-divider" tooltip="Service Count"><i class="ss-layers"></i>&nbsp;{{model.services.length}}</span>
  <span class="right-divider-btn"><i class="ss-box" tooltip="Container Count"></i>&nbsp;{{instanceCount}}</span>
</h6>

