{{#each filtered as |stage stageIndex| }}
  {{#accordion-list-item-pipeline
    title=(pipeline-stages-info stageInfo stageIndex false 'name')
    status=stage.state
    date=(date-str stage.started)
    duration=(date-diff stage.ended stage.started 'ms')
    statusClass=stage.state
    expandAll=true
    expand=(action expandFn)
    componentName='pipeline-history-table'
    as | parent |
      }}
      {{#each stage.steps as |step stepIndex|}}
        <div class="accordion-header header-pipeline item pipeline-step mb-10" class={{step.state}} {{action 'showLogs' stageIndex stepIndex}}>
          <div class="title">
            <span class="text-cell">{{pipeline-stages-info stageInfo stageIndex stepIndex true}}</span>
            <span class="text-cell">
              <i class="icon" class={{pipeline-status-to-icon step.state}}></i>&nbsp;{{step.state}}
            </span>
          </div>
          <div class="badge-state">
            <p class="mt-0 mb-0"><i class="icon icon-history"></i>
              {{#if (eq step.state 'Building')}}
                &nbsp;{{date-diff dateNow step.started 'ms'}}&nbsp;seconds
              {{else}}
                &nbsp;{{date-diff step.ended step.started 'ms'}}&nbsp;seconds
              {{/if}}
            </p>
          </div>
          <i role="button" class="icon icon-play eased btn text-small p-10 icon-rotate-180 {{if (eq stageIndexLog stageIndex) (if (eq stepIndexLog stepIndex) '' 'hide') 'hide'}}" style="position: absolute;top: 2px;right: -32px;color: #3d3d3d !important;font-size: 20px;"></i>
        </div>
      {{/each}}
  {{/accordion-list-item-pipeline}}
{{/each}}