<a class="dropdown-toggle user-toggle btn-link" href="#" role="button" id="user-dropdown" aria-haspopup="true" aria-expanded="false" aria-label={{t 'nav.user.label' username=session.user}}>
  {{#if accessEnabled}}
    {{identity-avatar link=false identity=access.identity}}
    <span class="sr-only">{{t 'nav.srToggleDropdown'}}</span>
    <i class="icon icon-chevron-down"></i>
  {{else}}
    <div class="gh-avatar">
      <div class="gh-placeholder">
        <i class="icon icon-user"></i>
      </div>
    </div>
    <span class="sr-only">{{t 'nav.srToggleDropdown'}}</span>
    <i class="icon icon-chevron-down"></i>
  {{/if}}
</a>
<ul class="dropdown-menu dropdown-menu-right user-menu" role="menu" data-dropdown-id="user">
  {{#if accessEnabled}}
    <li role="presentation" class="user-auth">
      {{identity-block avatar=false identity=access.identity}}
      {{#link-to "logout" class="user-logout"}}<i class="icon icon-logout"></i> {{t 'nav.user.logout'}}{{/link-to}}
    </li>
  {{/if}}

  {{#if isLocalAuth}}
    <li role="presentation" class="dropdown-header">
      {{t 'nav.user.yourAccount'}}
    </li>

    <li role="presentation">
      <a {{action "changePassword"}} role="menuitem">{{t 'nav.user.changePassword'}}</a>
    </li>

  {{/if}}

  <li class="dropdown-header">{{t 'nav.user.theme'}}</li>
  <li role="presentation" class="theme-toggle text-center btn-group">
    {{theme-toggle}}
  </li>
</ul>
