<section class="header clearfix">
  <div class="right-buttons">
    <button disabled={{rbac-prevents resource="catalog" scope="global" permission="create"}} class="btn bg-primary btn-sm" {{action "add"}}>
      {{t 'catalogSettings.more.addActionLabel'}}
    </button>
  </div>

  <h1>{{t 'catalogSettings.header'}}</h1>
</section>

<div class="row row-same-height">
  <div class="col span-4">
    <h2>{{t 'catalogSettings.library.label'}}</h2>
    <div>
      {{#if library}}
        <div class="btn-group no-inline-space">
          <button class="btn btn-link btn-sm bg-default" {{action "disableLibrary"}} disabled={{togglingLibrary}}>{{#if togglingLibrary}}<i class="icon icon-spinner icon-spin"></i> {{/if}}{{t 'generic.disable'}}</button>
          <button class="btn btn-link btn-sm bg-success">{{t 'generic.enabled'}}</button>
        </div>
      {{else}}
        <div class="btn-group no-inline-space">
          <button class="btn btn-link btn-sm bg-primary">{{t 'generic.disabled'}}</button>
          <button class="btn btn-link btn-sm bg-defualt" {{action "enableLibrary"}} disabled={{togglingLibrary}}>{{#if togglingLibrary}}<i class="icon icon-spinner icon-spin"></i> {{/if}}{{t 'generic.enable'}}</button>
        </div>
      {{/if}}
      {{#if customLibrary}}
        {{#banner-message color='bg-warning'}}
          {{t 'catalogSettings.errors.nameInExists' key='library' }}
        {{/banner-message}}
      {{/if}}
    </div>
    <p class="text-info">
      {{t 'catalogSettings.library.detail' appName=settings.appName}}
    </p>
  </div>

  <div class="col span-4">
    <h2>{{t 'catalogSettings.helm.stable.label'}}</h2>
    <div>
      {{#if helmStable}}
        <div class="btn-group no-inline-space">
          <button class="btn btn-link btn-sm bg-default" {{action "disableHelmStable"}} disabled={{togglingHelmStable}}>{{#if togglingHelmStable}}<i class="icon icon-spinner icon-spin"></i> {{/if}}{{t 'generic.disable'}}</button>
          <button class="btn btn-link btn-sm bg-success">{{t 'generic.enabled'}}</button>
        </div>
      {{else}}
        <div class="btn-group no-inline-space">
          <button class="btn btn-link btn-sm bg-primary">{{t 'generic.disabled'}}</button>
          <button class="btn btn-link btn-sm bg-defualt" {{action "enableHelmStable"}} disabled={{togglingHelmStable}}>{{#if togglingHelmStable}}<i class="icon icon-spinner icon-spin"></i> {{/if}}{{t 'generic.enable'}}</button>
        </div>
      {{/if}}
      {{#if customHelmStable}}
        {{#banner-message color='bg-warning'}}
          {{t 'catalogSettings.errors.nameInExists' key='helm' }}
        {{/banner-message}}
      {{/if}}
    </div>
    <p class="text-info">
      {{t 'catalogSettings.helm.stable.detail'}}
    </p>
  </div>

  <div class="col span-4">
    <h2>{{t 'catalogSettings.helm.incubator.label'}}</h2>
    <div>
      {{#if helmIncubator}}
        <div class="btn-group no-inline-space">
          <button class="btn btn-link btn-sm bg-default" {{action "disableHelmIncubator"}} disabled={{togglingHelmIncubator}}>{{#if togglingHelmIncubator}}<i class="icon icon-spinner icon-spin"></i> {{/if}}{{t 'generic.disable'}}</button>
          <button class="btn btn-link btn-sm bg-success">{{t 'generic.enabled'}}</button>
        </div>
      {{else}}
        <div class="btn-group no-inline-space">
          <button class="btn btn-link btn-sm bg-primary">{{t 'generic.disabled'}}</button>
          <button class="btn btn-link btn-sm bg-defualt" {{action "enableHelmIncubator"}} disabled={{togglingHelmIncubator}}>{{#if togglingHelmIncubator}}<i class="icon icon-spinner icon-spin"></i> {{/if}}{{t 'generic.enable'}}</button>
        </div>
      {{/if}}
      {{#if customHelmIncubator}}
        {{#banner-message color='bg-warning'}}
          {{t 'catalogSettings.errors.nameInExists' key='helm-incubator' }}
        {{/banner-message}}
      {{/if}}
    </div>
    <p class="text-info">
      {{t 'catalogSettings.helm.incubator.detail'}}
    </p>
  </div>
</div>

<section class="header clearfix">
  <h1>{{t 'catalogSettings.more.header'}}</h1>
  <div>
    <p>{{t 'catalogSettings.more.helpText.header' htmlSafe=true}}</p>
    <ul class="">
      <li>{{t 'catalogSettings.more.helpText.help-name' htmlSafe=true}}</li>
      <li>
        <span>{{t 'catalogSettings.more.helpText.help-repo' htmlSafe=true}}</span>
        <ul>
          <li>{{t 'catalogSettings.more.helpText.help-git' htmlSafe=true}}</li>
          <li>{{t 'catalogSettings.more.helpText.help-chart' htmlSafe=true}}</li>
        </ul>
      </li>
      <li>{{t 'catalogSettings.more.helpText.help-branch' htmlSafe=true}}</li>
    </ul>
  </div>
</section>

{{#sortable-table
  tableClassNames="bordered"
  paging=true
  pagingLabel="pagination.catalog"
  headers=headers
  body=custom
  sortBy=sortBy
  rightActions=true
  as |sortable kind row dt|
}}
  {{#if (eq kind "row")}}
    <tr class="main-row">
      <td class="row-check" valign="middle" style="padding-top: 2px;">
        {{check-box nodeId=row.id}}
      </td>
      <td data-title="{{dt.state}}" class="state">
        {{badge-state model=row}}
      </td>
      <td data-title="{{dt.name}}">
        {{row.name}}
      </td>
      <td data-title="{{dt.kind}}">
        {{row.displayKind}}
      </td>
      <td data-title="{{dt.url}}">
        <a href="{{row.url}}" target="_blank" rel="nofollow noopener">{{row.url}}</a>
      </td>
      <td data-title="{{dt.branch}}">
        {{row.branch}}
      </td>
      <td data-title="{{dt.actions}}" class="actions">
        {{action-menu model=row}}
      </td>
    </tr>
  {{else if (eq kind "nomatch")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'catalogSettings.more.noMatch'}}</td></tr>
  {{else if (eq kind "norows")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'catalogSettings.more.noData'}}</td></tr>
  {{/if}}
{{/sortable-table}}
