<label class="acc-label mt-5">Cloud Provider</label>
<div class="row">
  <div class="col span-6">
    <div class="radio">
      <label>
        {{radio-button selection=selectedCloudProvider value='none'}} {{t 'generic.none'}}
      </label>
    </div>
    {{#if (or (eq driver 'amazonec2') (eq driver 'custom'))}}
      <div class="radio">
        <label>
          {{radio-button selection=selectedCloudProvider value='amazonec2'}} Amazon
        </label>
      </div>
    {{/if}}
    {{#if (or (eq driver 'azure') (eq driver 'custom'))}}
      <div class="radio">
        <label>
          {{radio-button selection=selectedCloudProvider value='azure'}} Azure
        </label>
      </div>
    {{/if}}
    {{#if (and (not-eq driver 'amazonec2') (not-eq driver 'azure'))}}
      <div class="radio">
        <label>
          {{radio-button selection=selectedCloudProvider value='generic'}} {{t 'generic.generic'}}
        </label>
      </div>
    {{/if}}
  </div>
  {{#unless (eq driver 'amazonec2')}}
    <div class="col span-6">
      <div class="banner bg-warning">
        <div class="banner-icon">
          <i class="icon icon-alert"></i>
        </div>
        <div class="banner-message">
          {{t 'cloudProvider.warning'}}
        </div>
      </div>
    </div>
  {{/unless}}
</div>

{{#if (eq selectedCloudProvider 'azure')}}
  <div class="row">
        {{form-key-value
            initialMap=configAnswers
            changed=(action (mut configAnswers))
            allowEmptyValue=true
            allowAdd=false
            allowRemove=false
            allowEditKey=false
            editing=true
            showHeader=false
        }}
  </div>
{{else if (eq selectedCloudProvider 'generic')}}
  <div class="pb-10">
    <label class="acc-label">{{t 'cloudProvider.name'}}</label>
    {{input type="text" value=configName  id="cloud-provider-name"}}
  </div>
  <div>
    {{form-key-value
        initialMap=intialAnswers
        changed=(action (mut configAnswers))
        allowEmptyValue=false
        editing=true
        showHeader=false
        addInitialEmptyRow=true
    }}
  </div>
{{/if}}

<p class="text-info">
  {{t 'cloudProvider.helpText' htmlSafe=true}}
</p>
