<label class="acc-label">Cloud Provider</label>

<div class="row">
  <div class="col span-6">
    <div class="radio">
      <label>
        {{radio-button selection=useCloudProvider value=false}} {{t 'generic.none'}}
      </label>
    </div>
    <div class="radio">
      <label>
        {{radio-button selection=useCloudProvider value=true}} {{driverName}}
      </label>
    </div>
  </div>
  {{#unless (eq driver 'amazonec2')}}
    <div class="col span-6">
      <div class="banner bg-warning">
        <div class="banner-icon">
          <i class="icon icon-alert"></i>
        </div>
        <div class="banner-message">
          Using a cloud provider without passing a cloud provider config could cause your cluster to not provision correctly. It is recomendded that you add a cloud provider config before you create a cluster.
        </div>
      </div>
    </div>
  {{/unless}}
</div>

{{#if useCloudProvider}}
  <div class="row">
    {{#if (eq driver 'azure')}}
      <table class="table fixed no-lines">
        <thead>
          <tr class="hidden-sm">
            <th>Key</th>
            <th width="30">&nbsp;</th>
            <th>Value</th>
            <th width="10">&nbsp;</th>
            <th width="30">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each-in configAnswers as |key value|}}
            <tr>
              <td data-title="Key">
                {{key}}
              </td>

              <td class="valign-top text-center">
                {{t 'formKeyValue.separator'}}
              </td>

              <td data-title="Value">
                {{textarea-autogrow class="form-control input-sm value" spellcheck="false" required=true value=value placeholder='generic.emptyString'}}
              </td>
              <td>&nbsp;</td>
              <td class="valign-top text-right">
                &nbsp;
              </td>
            </tr>
          {{/each-in}}
        </tbody>
      </table>
    {{else if (and (not-eq driver 'amazonec2') (not-eq driver 'azure'))}}
      <div class="pb-10">
        <label class="acc-label">Cloud Provider Name</label>
        {{input type="text" value=configName  id="cloud-provider-name"}}
      </div>
      <div>
        {{form-key-value
            initialMap=intialAnswers
            changed=(action (mut configAnswers))
            allowEmptyValue=false
            editing=true
            showHeader=false
            addInitialEmptyRow=true
        }}
      </div>
    {{/if}}
  </div>
{{/if}}