<section class="header clearfix">
  <div class="pull-left"><h1>{{t 'accountsPage.new.header'}}</h1></div>
</section>

<div class="row">
    {{form-name-description
      name=model.account.username
      namePlaceholder="accountsPage.new.form.username.placeholder"
      nameLabel="accountsPage.new.form.username.labelText"
      nameRequired=true
      descriptionShown=false
    }}
</div>

<div class="row">
  <div class="col span-12">
    <label class="pb-5 acc-label">{{t 'accountsPage.new.form.password.labelText'}}{{field-required}}</label>
    {{schema/input-password value=model.account.password}}
    <div class="text-info">{{validateDescription}}</div>
  </div>
  <div class="col span-12">
    <label>
      {{input type="checkbox" checked=primaryResource.mustChangePassword}}
      {{t 'editUser.form.password.mustChangePassword'}}
    </label>
  </div>
</div>

<div class="row">
  <div class="col span-12">
    <label class="pb-5 acc-label">{{t 'accountsPage.new.form.name.labelText'}}</label>
    {{input type="text" value=model.account.name classNames="form-control" placeholder=(t 'accountsPage.new.form.name.placeholder')}}
  </div>
</div>

<hr class="mt-30 mb-30" />

<section class="horizontal-form container-fluid">
  {{#accordion-list
       showExpandAll=false
       as |al expandFn|
  }}
    {{#accordion-list-item
         title=(t 'editUser.form.globalRoles.label')
         detail=(t 'editUser.form.globalRoles.description')
         expandOnInit=true
         expandAll=false
         expand=(action expandFn)
    }}
      {{#sortable-table
           classNames="grid sortable-table"
           body=roles
           search=false
           sortBy=sortBy
           bulkActions=false
           pagingLabel="pagination.node"
           headers=headers as |sortable kind role dt|}}
        {{#if (eq kind "row")}}
          <tr class="main-row">
            <td data-title="{{dt.active}}" class="pl-20">
              {{input type="checkbox" checked=role.active}}
            </td>
            <td data-title="{{dt.name}}" class="state">
              {{role.name}}
            </td>
          </tr>

        {{else if (eq kind "norows")}}
          <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'editUser.form.globalRoles.noRoles'}}</td></tr>
        {{/if}}
      {{/sortable-table}}
    {{/accordion-list-item}}

  {{/accordion-list}}

</section>

{{top-errors errors=errors}}
{{save-cancel save="save" cancel="cancel"}}
