<section class="horizontal-form">
  <div class="container-fluid">
    {{partial "host/add-common"}}

    <div class="over-hr r-mt20 r-mb20">
      <span>{{t 'machine.driverAzure.accountAccessSection'}}</span>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAzure.username.label'}}</label>
      </div>
      <div class="col-md-4">
        {{input type="text" value=azureConfig.username classNames="form-control" placeholder=(t 'machine.driverAzure.username.placeholder')}}
      </div>
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAzure.password.label'}}</label>
      </div>
      <div class="col-md-4">
        {{input type="password" value=azureConfig.password classNames="form-control" placeholder=(t 'machine.driverAzure.password.placeholder')}}
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAzure.subscriptionId.label'}}*</label>
      </div>
      <div class="col-md-4">
        {{input type="text" value=azureConfig.subscriptionId classNames="form-control" placeholder=(t 'machine.driverAzure.subscriptionId.placeholder')}}
      </div>
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAzure.subscriptionCert.label'}}*</label>
      </div>
      <div class="col-md-4">
        {{input-text-file
          value=subscriptionCert
          placeholder="machine.driverAzure.subscriptionCert.placeholder"
          accept="text/*, .cer"
        }}
      </div>
    </div>

    <div class="over-hr r-mt20 r-mb20">
      <span>{{t 'machine.driverAzure.instanceSection'}}</span>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAzure.image.label'}}</label>
      </div>
      <div class="col-md-4">
        {{input type="text" value=azureConfig.image classNames="form-control" placeholder=(t 'machine.driverAzure.image.placeholder')}}
      </div>
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAzure.size.label'}}</label>
      </div>
      <div class="col-md-4">
        {{new-select
          classNames="form-control"
          content=sizeChoices
          optionLabelPath='value'
          value=azureConfig.size
        }}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAzure.sshPort.label'}}</label>
      </div>
      <div class="col-md-4">
        {{input type="text" value=azureConfig.sshPort classNames="form-control" placeholder=(t 'machine.driverAzure.sshPort.placeholder')}}
      </div>
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAzure.dockerPort.label'}}</label>
      </div>
      <div class="col-md-4">
        {{input type="text" value=azureConfig.dockerPort classNames="form-control" placeholder=(t 'machine.driverAzure.dockerPort.placeholder')}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAzure.dockerSwarm.label'}}</label>
      </div>
      <div class="col-md-4">
        {{input type="text" value=azureConfig.dockerSwarmMasterPort classNames="form-control" placeholder=(t 'machine.driverAzure.dockerSwarm.placeholder')}}
      </div>
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAzure.publishSettings'}}</label>
      </div>
      <div class="col-md-4">
        {{input-text-file
          value=azureConfig.publishSettingsFile
          placeholder="machine.driverAzure.publishSettingsFile.placeholder"
          accept="text/*, .publishsettings"
        }}
      </div>
    </div>

    <div class="over-hr r-mt20 r-mb20">
      <span>{{t 'machine.driverAzure.regionSection'}}</span>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAzure.region.label'}}</label>
      </div>
      <div class="col-md-10">
        {{new-select
          classNames="form-control"
          content=regionChoices
          optionLabelPath='region'
          optionValuePath='region'
          value=azureConfig.location
        }}
      </div>
    </div>

    {{partial "host/add-options"}}
  </div>

  {{top-errors errors=errors}}
  {{save-cancel save="save" cancel="cancel"}}
</section>
