<section class="horizontal-form">
  <div class="container-fluid">
    {{#if showNameScale}}
      <div class="box mt-20">
        <h4>{{t 'machine.driverAzure.instanceSection'}}</h4>
        <div class="row">
          {{partial "host/add-common"}}
        </div>
      </div>
    {{/if}}

    <div class="box mt-20">
      <h4>{{t 'machine.driverAzure.placementSection'}}</h4>
      <div class="row">
        <div class="col span-6">
        <label class="acc-label">{{t 'machine.driverAzure.environment.label'}}</label>
          {{new-select
            classNames="form-control"
            content=environments
            optionLabelPath='value'
            value=azureConfig.environment
          }}
        </div>

        <div class="col span-6">
        <label class="acc-label">{{t 'machine.driverAzure.region.label'}}</label>
          {{new-select
            classNames="form-control"
            content=regionChoices
            optionLabelPath='displayName'
            optionValuePath='name'
            value=azureConfig.location
          }}
        </div>
      </div>

      <div class="row">
        <div class="col span-6 mb-0">
        <label class="acc-label">{{t 'machine.driverAzure.availabilitySet.label'}}</label>
          {{input type="text" value=azureConfig.availabilitySet classNames="form-control" placeholder=(t 'machine.driverAzure.availabilitySet.placeholder')}}
        </div>
        <div class="col span-6 mb-0">
        <label class="acc-label">{{t 'machine.driverAzure.resourceGroup.label'}}</label>
          {{input type="text" value=azureConfig.resourceGroup classNames="form-control" placeholder=(t 'machine.driverAzure.resourceGroup.placeholder')}}
        </div>
      </div>
    </div>

    <div class="box mt-20">
    <h4>{{t 'machine.driverAzure.accountAccessSection'}}</h4>

    <div class="row">
        <div class="col span-4">
        <label class="acc-label">{{t 'machine.driverAzure.subscriptionId.label'}}{{field-required}}</label>
          {{input type="text" value=azureConfig.subscriptionId classNames="form-control" placeholder=(t 'machine.driverAzure.subscriptionId.placeholder')}}
        </div>
    </div>

    <div class="row">
      <div class="col span-6 mb-0">
      <label class="acc-label">{{t 'machine.driverAzure.clientId.label'}}{{field-required}}</label>
        {{input type="text" value=azureConfig.clientId classNames="form-control" placeholder=(t 'machine.driverAzure.clientId.placeholder')}}
        <p class="text-info text-small mb-0">{{t 'machine.driverAzure.helpBlock' htmlSafe=true}}</p>
      </div>

      <div class="col span-6 mb-0">
        <label class="acc-label">{{t 'machine.driverAzure.clientSecret.label'}}{{field-required}}</label>
        {{input type="password" value=model.secretValues.azureConfig.clientSecret classNames="form-control" placeholder=(t 'machine.driverAzure.clientSecret.placeholder')}}
      </div>
  </div>
</div>

    <div class="box mt-20">
      <h4>{{t 'machine.driverAzure.networkSection'}}</h4>

      <div class="row">
        <div class="col span-6">
        <label class="acc-label">{{t 'machine.driverAzure.subnet.label'}}</label>
          {{input type="text" value=azureConfig.subnet classNames="form-control" placeholder=(t 'machine.driverAzure.subnet.placeholder')}}
        </div>

        <div class="col span-6">
          <label class="acc-label">{{t 'machine.driverAzure.subnetPrefix.label'}}</label>
          {{input type="text" value=azureConfig.subnetPrefix classNames="form-control" placeholder=(t 'machine.driverAzure.subnetPrefix.placeholder')}}
        </div>
      </div>

      <div class="row">

        <div class="col span-6">
          <label class="acc-label">{{t 'machine.driverAzure.vnet.label'}}</label>
          {{input type="text" value=azureConfig.vnet classNames="form-control" placeholder=(t 'machine.driverAzure.vnet.placeholder')}}
        </div>
        <div class="col span-6">
         <label class="acc-label">{{t 'machine.driverAzure.staticPublicIp.label'}}</label>
          {{new-select
            classNames="form-control"
            content=publicIpChoices
            optionLabelPath='name'
            optionValuePath='value'
            value=publicIpChoice
          }}
        </div>
      </div>

      <div class="row inline-form">
        <div class="col span-6 mb-0">
          <label class="acc-label">{{t 'machine.driverAzure.privateIpAddress.label'}}</label>
          {{input type="text" value=azureConfig.privateIpAddress classNames="form-control" placeholder=(t 'machine.driverAzure.privateIpAddress.placeholder')}}

          <div class="text-right">
            {{input type="checkbox" checked=azureConfig.usePrivateIp disabled=privateSet}}
            <label class="pt-10 text-small">{{t 'machine.driverAzure.usePrivateIp.label'}}</label>
          </div>
        </div>
      </div>
    </div>

    <div class="box mt-20">
      <h4>{{t 'machine.driverAzure.instanceOptionsSection'}}</h4>

      <div class="row">
        <div class="col span-6">
          <label class="acc-label">{{t 'machine.driverAzure.image.label'}}</label>
          {{input type="text" value=azureConfig.image classNames="form-control" placeholder=(t 'machine.driverAzure.image.placeholder')}}
        </div>

        <div class="col span-6">
        <label class="acc-label">{{t 'machine.driverAzure.size.label'}}</label>
          {{new-select
            classNames="form-control"
            content=sizeChoices
            optionLabelPath='value'
            value=azureConfig.size
          }}
        </div>
      </div>

      <div class="row inline-form">
        <div class="col span-6">
        <label class="acc-label">{{t 'machine.driverAzure.dockerPort.label'}}</label>
          {{input type="text" value=azureConfig.dockerPort classNames="form-control" placeholder=(t 'machine.driverAzure.dockerPort.placeholder')}}
        </div>

        <div class="col span-6">
        <label class="acc-label">{{t 'machine.driverAzure.openPort.label'}}</label>
          {{input type="text" value=openPorts classNames="form-control" placeholder=(t 'machine.driverAzure.openPort.placeholder')}}
        </div>
      </div>

      <div class="row">
        <div class="col span-6 mb-0">
        <label class="acc-label">{{t 'machine.driverAzure.sshUser.label'}}</label>
          {{input type="text" value=azureConfig.sshUser classNames="form-control" placeholder=(t 'machine.driverAzure.sshUser.placeholder')}}
        </div>

        <div class="col span-6 mb-0">
        <label class="acc-label">{{t 'machine.driverAzure.storageType.label'}}</label>
          {{new-select
            classNames="form-control"
            content=storageTypeChoices
            optionLabelPath='name'
            optionValuePath='value'
            value=azureConfig.storageType
          }}
        </div>
      </div>
    </div>

    {{partial "host/add-options"}}
  </div>

  {{top-errors errors=errors}}
  {{save-cancel save=driverSaveAction cancel="cancel"}}
</section>
