<section class="horizontal-form">
  <div class="container-fluid">
      <div class="over-hr mt-20 mb-20">
        <span>{{t 'machine.driverAzure.instanceSection'}}</span>
      </div>
      <div class="row mb-20">
        {{form-name-description
            name=model.name
            description=model.description
            nameRequired=true
            namePlaceholder="hostPartial.host.addCommon.new.form.name.placeholder"
            descriptionShown=true
            descriptionExpanded=true
        }}
      </div>

    <div class="over-hr mt-20 mb-20">
      <span>{{t 'machine.driverAzure.placementSection'}}</span>
    </div>
    <div class="row">
      <div class="col span-6">
      <label class="pb-5">{{t 'machine.driverAzure.environment.label'}}</label>
        {{new-select
          classNames="form-control"
          content=environments
          optionLabelPath='value'
          value=azureConfig.environment
        }}
      </div>

      <div class="col span-6">
      <label class="pb-5">{{t 'machine.driverAzure.region.label'}}</label>
        {{new-select
          classNames="form-control"
          content=regionChoices
          optionLabelPath='displayName'
          optionValuePath='name'
          value=azureConfig.location
        }}
      </div>
    </div>

    <div class="row">
      <div class="col span-6">
      <label class="pb-5">{{t 'machine.driverAzure.availabilitySet.label'}}</label>
        {{input type="text" value=azureConfig.availabilitySet classNames="form-control" placeholder=(t 'machine.driverAzure.availabilitySet.placeholder')}}
      </div>
      <div class="col span-6">
      <label class="pb-5">{{t 'machine.driverAzure.resourceGroup.label'}}</label>
        {{input type="text" value=azureConfig.resourceGroup classNames="form-control" placeholder=(t 'machine.driverAzure.resourceGroup.placeholder')}}
      </div>
    </div>

    <div class="over-hr mt-20 mb-20">
      <span>{{t 'machine.driverAzure.accountAccessSection'}}</span>
    </div>

    <div class="row">
        <div class="col span-4">
        <label class="pb-5">{{t 'machine.driverAzure.subscriptionId.label'}}{{field-required}}</label>
          {{input type="text" value=azureConfig.subscriptionId classNames="form-control" placeholder=(t 'machine.driverAzure.subscriptionId.placeholder')}}
        </div>
    </div>

    <div class="row">
      <div class="col span-6">
      <label class="pb-5">{{t 'machine.driverAzure.clientId.label'}}{{field-required}}</label>
        {{input type="text" value=azureConfig.clientId classNames="form-control"}}
        <p class="text-info">{{t 'machine.driverAzure.helpBlock' htmlSafe=true}}</p>
      </div>

      <div class="col span-6">
        <label class="pb-5">{{t 'machine.driverAzure.clientSecret.label'}}{{field-required}}</label>
        {{input type="password" value=model.secretValues.azureConfig.clientSecret classNames="form-control"}}
      </div>


    </div>

    <div class="over-hr mt-20 mb-20">
      <span>{{t 'machine.driverAzure.networkSection'}}</span>
    </div>

    <div class="row">
      <div class="col span-6">
      <label class="pb-5">{{t 'machine.driverAzure.subnet.label'}}</label>
        {{input type="text" value=azureConfig.subnet classNames="form-control" placeholder=(t 'machine.driverAzure.subnet.placeholder')}}
      </div>

      <div class="col span-6">
        <label class="pb-5">{{t 'machine.driverAzure.subnetPrefix.label'}}</label>
        {{input type="text" value=azureConfig.subnetPrefix classNames="form-control" placeholder=(t 'machine.driverAzure.subnetPrefix.placeholder')}}
      </div>
    </div>

    <div class="row">

      <div class="col span-6">
        <label class="pb-5">{{t 'machine.driverAzure.vnet.label'}}</label>
        {{input type="text" value=azureConfig.vnet classNames="form-control" placeholder=(t 'machine.driverAzure.vnet.placeholder')}}
      </div>
      <div class="col span-6">
       <label class="pb-5">{{t 'machine.driverAzure.staticPublicIp.label'}}</label>
        {{new-select
          classNames="form-control"
          content=publicIpChoices
          optionLabelPath='name'
          optionValuePath='value'
          value=publicIpChoice
        }}
      </div>
    </div>

    <div class="row inline-form">
      <div class="col span-6">
        <label class="pb-5">{{t 'machine.driverAzure.privateIpAddress.label'}}</label>
        {{input type="text" value=azureConfig.privateIpAddress classNames="form-control" placeholder=(t 'machine.driverAzure.privateIpAddress.placeholder')}}

        <label class="pt-10">{{t 'machine.driverAzure.usePrivateIp.label'}}</label>
        {{input type="checkbox" checked=azureConfig.usePrivateIp disabled=privateSet}}
      </div>
    </div>


    <div class="over-hr mt-20 mb-20">
      <span>{{t 'machine.driverAzure.instanceOptionsSection'}}</span>
    </div>

    <div class="row">
      <div class="col span-6">
        <label class="pb-5">{{t 'machine.driverAzure.image.label'}}</label>
        {{input type="text" value=azureConfig.image classNames="form-control" placeholder=(t 'machine.driverAzure.image.placeholder')}}
      </div>

      <div class="col span-6">
      <label class="pb-5">{{t 'machine.driverAzure.size.label'}}</label>
        {{new-select
          classNames="form-control"
          content=sizeChoices
          optionLabelPath='value'
          value=azureConfig.size
        }}
      </div>
    </div>

    <div class="row inline-form">
      <div class="col span-6">
      <label class="pb-5">{{t 'machine.driverAzure.dockerPort.label'}}</label>
        {{input type="text" value=azureConfig.dockerPort classNames="form-control" placeholder=(t 'machine.driverAzure.dockerPort.placeholder')}}
      </div>

      <div class="col span-6">
      <label class="pb-5">{{t 'machine.driverAzure.openPort.label'}}</label>
        {{input type="text" value=openPorts classNames="form-control" placeholder=(t 'machine.driverAzure.openPort.placeholder')}}
      </div>
    </div>

    <div class="row">
      <div class="col span-6">
      <label class="pb-5">{{t 'machine.driverAzure.sshUser.label'}}</label>
        {{input type="text" value=azureConfig.sshUser classNames="form-control" placeholder=(t 'machine.driverAzure.sshUser.placeholder')}}
      </div>

      <div class="col span-6">
      <label class="pb-5">{{t 'machine.driverAzure.storageType.label'}}</label>
        {{new-select
          classNames="form-control"
          content=storageTypeChoices
          optionLabelPath='name'
          optionValuePath='value'
          value=azureConfig.storageType
        }}
      </div>
    </div>


    {{partial "host/add-options"}}
  </div>

  {{top-errors errors=errors}}
  {{save-cancel save=driverSaveAction cancel="cancel"}}
</section>
