<section class="header">
  <h1>{{t 'clustersPage.newCluster'}}</h1>
</section>

<section>
  <div class="row">
    <div class="col span-4  text-center option">
      <h2>{{t 'clustersPage.indexPage.cloud.header'}}</h2>
      <div class="box-sm">
        <p>{{t 'clustersPage.indexPage.cloud.desc'}}</p>
        <div class="links" style="top: auto; bottom: 30px;">
          {{#link-to "clusters.new.cloud" class="btn bg-primary"}}{{t 'clusterWelcome.select'}}{{/link-to}}
        </div>
      </div>
      <div class="bubble bg-body round p-10"><img src="{{app.baseAssets}}assets/images/cluster-cloud.svg" class="mt-5" /></div>
    </div>

    <div class="col span-4 text-center option option-primary">
      <h2>{{t 'clustersPage.indexPage.rke.header'}}</h2>
      <div class="box-sm">
        <p>{{t 'clustersPage.indexPage.rke.desc'}}</p>
        <div class="links" style="top: auto; bottom: 30px;">
          {{#link-to "clusters.new.rke" class="btn bg-primary"}}{{t 'clusterWelcome.select'}}{{/link-to}}
        </div>
      </div>
      <div class="bubble bg-body round p-10"><img src="{{app.baseAssets}}assets/images/logos/rke.svg" class="mt-5" /></div>
    </div>

    <div class="col span-4 text-center option">
      <h2>{{t 'clustersPage.indexPage.import.header'}}</h2>
      <div class="box-sm">
        <p>{{t 'clustersPage.indexPage.import.desc'}}</p>
        <div class="links" style="top: auto; bottom: 30px;">
          {{#link-to "clusters.new.import" class="btn bg-primary"}}{{t 'clusterWelcome.select'}}{{/link-to}}
        </div>
      </div>
      <div class="bubble bg-body round p-10"><img src="{{app.baseAssets}}assets/images/cluster-import.svg" class="mt-5" /></div>
    </div>
  </div>
</section>
