{{#if model.apiHostSet}}
  <section class="pt-10">
    {{#if showPicker}}
      <div class="row nav nav-boxes checked-active">
        {{#each sortedDrivers as |choice|}}
          {{#if choice.hasUi}}
            <a {{action "switchDriver" choice.name}} alt={{choice.name}} class="col nav-box-item driver machine-driver {{choice.name}} {{if (eq choice.name driver) 'active'}}" href="#"></a>
          {{/if}}
        {{/each}}

        {{#if (and allowOther hasOther)}}
          <a {{action "switchDriver" "other"}} alt="other" class="col nav-box-item driver machine-driver other {{if (eq driver 'other') 'active'}}" href="#"></a>
        {{/if}}

        {{#if allowCustom}}
          <a {{action "switchDriver" "custom"}} alt="custom" class="col nav-box-item driver machine-driver custom {{if (eq driver 'custom') 'active'}}" href="#"></a>
        {{/if}}
      </div>
    {{/if}}
    {{#if (and access.admin (not forCatalog))}}
      <p class="text-center small m-0">
        {{#link-to "admin-tab.machine"}}{{t 'hostsPage.new.manageLink'}}{{/link-to}}
      </p>
    {{/if}}
  </section>

  {{#if driver}}
    {{component (concat 'machine/driver-' driver)
        cancel=(route-action 'cancel')
        clonedModel=model.clonedModel
        driver=(concat driver 'Config')
        schemas=model.schemas
        typeDocumentations=model.typeDocumentations
        availableDrivers=model.availableDrivers
        inModal=inModal
        showNameScale=showNameScale
        completed=(action completed)
        goBack=(action goBack)
    }}
  {{/if}}
{{else}}
  <section>
    <div class="box">
      {{settings/host-registration saved=(action 'hostSet')}}
    </div>
  </section>
{{/if}}
