<section class="header clearfix">
  <h1>{{t (if isEdit 'editDns.title.edit' 'editDns.title.new')}}</h1>
</section>

<section class="horizontal-form container-fluid">
  <div class="row">
    <div class="col span-6">
      {{form-name-description
        model=record
        namePlaceholder="editDns.name.placeholder"
        nameRequired=true
        descriptionPlaceholder="editDns.description.placeholder"
      }}
    </div>
    <div class="col span-6">
      {{form-namespace
        editable=isNew
        namespace=namespace
        errors=namespaceErrors
        registerHook=(action "registerHook")
      }}
    </div>
  </div>

  <div class="row">
    <div class="col span-6">
      <div>
        <label class="acc-label">{{t 'editDns.recordType.label'}}</label>
      </div>
      <div class="mb-20">
        <div class="radio">
          <label>{{radio-button selection=recordType value="arecord"}}&nbsp;{{t 'editDns.recordType.arecord'}}</label>
        </div>
        <div class="radio">
          <label>{{radio-button selection=recordType value="cname"}}&nbsp;{{t 'editDns.recordType.cname'}}</label>
        </div>
        <div class="radio">
          <label>{{radio-button selection=recordType value="alias"}}&nbsp;{{t 'editDns.recordType.alias'}}</label>
        </div>
        <div class="radio">
          <label>{{radio-button selection=recordType value="workload"}}&nbsp;{{t 'editDns.recordType.workload'}}</label>
        </div>
        <div class="radio">
          <label>{{radio-button selection=recordType value="selector"}}&nbsp;{{t 'editDns.recordType.selector'}}</label>
        </div>
      </div>
    </div>
    <div class="col span-6">
      {{#if (eq recordType "arecord")}}
        {{form-value-array
          initialValues=model.ipAddresses
          addActionLabel='editDns.add.arecord'
          valueLabel='editDns.target.arecord'
          valuePlaceholder='editDns.placeholder.arecord'
          changed=(action (mut model.ipAddresses))
        }}
      {{else if (eq recordType "cname")}}
        <label class="acc-label">{{t 'editDns.target.cname'}}{{field-required}}</label>
        {{input value=model.hostname placeholder=(t 'editDns.placeholder.cname')}}
      {{else if (eq recordType "alias")}}
        Alias...
      {{else if (eq recordType "workload")}}
        Workload...
      {{else if (eq recordType "selector")}}
        Selector
      {{/if}}
    </div>
  </div>
</section>

{{top-errors errors=errors}}
{{save-cancel editing=isEdit save="save" cancel="cancel"}}
