<h2>
  {{t "landingPage.header"}}
</h2>
<div class="box">
  <div class="row">
    <label>
      {{radio-button selection=value value="ember"}}
      {{t "landingPage.ember" }}
    </label>
  </div>
  <div class="row">
    <label>
      {{radio-button selection=value value="vue"}}
      {{t "landingPage.vue" }}
    </label>
  </div>
</div>
