{{#if (or expandSelf expanded)}}
  <tr class="{{if execution.exception 'danger' ''}}">
    <td class="clip">
      <i class="icon icon-level-down indent-{{depth}}"></i>
      {{#if execution.exception}}
        <span {{action 'showError' execution.exception}}>
          <i class="icon icon-alert hand"></i>
        </span>
      {{/if}}
      {{#if checkExecutions }}
        <span {{action 'expand'}}>
            <i class="icon hand {{if expanded 'icon-minus-circle' 'icon-plus-circle'}}"></i>
        </span>
      {{/if}}
      {{execution.name}}
    </td>
    <td>{{execution.resourceId}}</td>
    <td>{{execution.exitReason}}</td>
    <td>{{date-from-now execution.startTime}}</td>
    <td>{{date-from-now execution.stopTime}}</td>
    <td>{{run-time execution.startTime execution.stopTime}}</td>
  </tr>
{{#if checkExecutions }}
  {{#each execution.children as |child|}}
    {{#each child.executions as |execution|}}
      {{process-execution-rows execution=execution expandSelf=expanded nodeDepth=depth expandAll=expandAll}}
    {{/each}}
  {{/each}}
{{/if}}
{{/if}}
