<section class="header">
  <h3>
    {{resource-actions-menu model=this choices=availableActions classNames="pull-right"}}
    <div class="state {{stateColor}}">
      <i class="{{stateIcon}}"></i> {{displayState}}
    </div>
    <span>{{#link-to "loadbalancerconfigs"}}LB Configs:{{/link-to}} {{displayName}}</span>
  </h3>
  {{partial "description"}}
</section>

{{partial "loadbalancer/config-detail"}}
