<section class="horizontal-form container-fluid">
  <h2>{{t (if editing 'newReceiver.title.edit' 'newReceiver.title.add')}}</h2>

  <div class="row inline-form">
    <div class="col-md-6 col-md-offset-3">
      <div class="inline-label">
        <label>{{t 'generic.name'}}*</label>
      </div>
      <div>
        {{input type="text" value=model.name classNames="form-control" placeholder=(t 'newReceiver.name.placeholder')}}
      </div>
    </div>
  </div>

  <div class="row inline-form">
    <div class="col-md-6 col-md-offset-3">
      <div class="inline-label">
        <label>{{t 'newReceiver.driver.label'}}</label>
      </div>
      <div>
        <select class="form-control">
          <option value="scaleService">{{t 'hookPage.scaleService.label'}}</option>
        </select>
      </div>
    </div>
  </div>

  <div class="row inline-form">
    <div class="col-md-6 col-md-offset-3">
      <div class="inline-label">
        <label>{{t 'newReceiver.action.label'}}</label>
      </div>
      <div>
        <span class="radio inline-block r-mr10">
          <label>{{radio-button selection=model.scaleServiceConfig.action value="up"}}&nbsp;Scale up</label>
        </span>
        <span class="radio inline-block">
          <label>{{radio-button selection=model.scaleServiceConfig.action value="down"}}&nbsp;Scale down</label>
        </span>
      </div>
    </div>
  </div>

  <div class="row inline-form">
    <div class="col-md-6 col-md-offset-3">
      <div class="inline-label">
        <label>{{t 'newReceiver.service.label'}}*</label>
      </div>
      <div>
        {{schema/input-service selected=model.scaleServiceConfig.serviceId canHaveContainers=true}}
      </div>
    </div>
  </div>

  <div class="row inline-form">
    <div class="col-md-6 col-md-offset-3">
      <div class="inline-label">
        <label>{{t 'newReceiver.amount.label'}}</label>
      </div>
      <div class="row">
        <div class="col-xs-3 col-sm-2">
          {{format-number model.scaleServiceConfig.amount}}
        </div>
        <div class="col-xs-9 col-sm-10">
          {{input-slider value=model.scaleServiceConfig.amount valueMin=1 valueMax=11}}
        </div>
      </div>
    </div>
  </div>

  <div class="row inline-form">
    <div class="col-md-3 col-md-offset-3">
      <div class="inline-label">
        <label>{{t 'newReceiver.min.label'}}</label>
      </div>
      {{input-integer min=1 value=model.scaleServiceConfig.min class="form-control" placeholder=(t 'newReceiver.min.placeholder')}}
    </div>
    <div class="col-md-3">
      <div class="inline-label">
        <label>{{t 'newReceiver.max.label'}}</label>
      </div>
      {{input-integer min=1 value=model.scaleServiceConfig.max class="form-control" placeholder=(t 'newReceiver.max.placeholder')}}
    </div>
  </div>
</section>

{{top-errors errors=errors}}
{{save-cancel editing=editing save="save" cancel="cancel"}}
