<section class="header clearfix">
  <h1 style="display: block">{{t 'k8sTab.kubectl.header'}}</h1>
</section>

<section class="well">
  {{#if (eq step 1)}}
    <p>{{format-html-message 'k8sTab.kubectl.stepOne.generateConfigText' downloadUrl=downloadUrl}}</p>
    <button {{action "generate"}} class="btn btn-primary">{{t 'k8sTab.kubectl.stepOne.generateButton'}}</button>
  {{/if}}
  {{#if (eq step 2)}}
    <i class="icon icon-spinner icon-spin"></i> {{t 'k8sTab.kubectl.stepTwo.progress'}}
  {{/if}}
  {{#if (eq step 3)}}
    <p>{{format-html-message 'k8sTab.kubectl.stepThree.helpText'}}</p>
    <pre><code>{{kubeconfig}}</code></pre>
    {{copy-to-clipboard tooltipText="" buttonText="copyToClipboard.tooltip" clipboardText=kubeconfig class="with-clip"}}
    <p class="r-mt10 r-mb0">{{format-html-message 'k8sTab.kubectl.stepThree.downloadText' downloadUrl=downloadUrl}}</p>
  {{/if}}
</section>

<section class="well">
  <p>{{format-html-message 'k8sTab.kubectl.shell.helpText'}}</p>

  {{container-shell
  classNames="inline-block"
  command=model.command
  instance=model.instance
  cols=120
  rows=30
  showProtip=false
  }}
</section>
