<tr class="group-row">
  <td colspan={{sub fullColspan 1}} class="pl-10">
    {{#if model.displayName}}
      {{t 'namespaceGroup.label' name=model.displayName}}
    {{else}}
      {{t noGroup}}
    {{/if}}
  </td>
  <td data-title="{{dt.actions}}" class="actions">
    {{#if model}}
      {{action-menu model=model}}
    {{/if}}
  </td>
</tr>
{{#if model.showTransitioningMessage}}
  <tr class="group-row group-row-error">
    <td colspan="{{fullColspan}}" class="text-small {{model.stateColor}}">
      {{uc-first model.transitioningMessage}}
    </td>
  </tr>
{{/if}}
