{{#accordion-list-item
     title=(t 'formVolumePodSecurityPolicy.title')
     detail=(t 'formVolumePodSecurityPolicy.detail')
     status=status
     statusClass=statusClass
     expandAll=expandAll
     expand=(action expandFn)
}}
  <div class="row">
    <div class="col box span-12">
      <label class="acc-label">{{t 'formVolumePodSecurityPolicy.volumes'}}</label>
      {{#if readOnly}}
        {{#if model.volumes.length}}
          <div>
            {{#each model.volumes as |choice index|}}
              {{if index ", "}} {{choice}}
            {{/each}}
          </div>
        {{else}}
          <div>{{t 'generic.none'}}</div>
        {{/if}}
      {{else}}
        <select class="form-control" multiple="true" onchange={{action 'modifyVolumes' 'volumes'}}>
          {{#each volumeChoices as |choice|}}
            <option value={{choice}} selected={{array-includes model.volumes choice}}>{{choice}}</option>
          {{/each}}
        </select>
      {{/if}}
    </div>
  </div>
{{/accordion-list-item}}
