<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t 'volumeSource.customLogPath.mountPath.label'}}</label>
    {{#if editing}}
      {{input
          type="text"
          value=mount.mountPath
          placeholder=(t 'volumeSource.customLogPath.mountPath.placeholder')
      }}
      <p class="text-info text-small">{{t 'volumeSource.customLogPath.mountPath.helpText'}}</p>
    {{else}}
      {{mount.mountPath}}
    {{/if}}
  </div>
  <div class="col span-6">
    {{#if editing}}
      <div class="clearfix">
        <label class="acc-label pull-left">{{t 'volumeSource.customLogPath.logFormat.label'}}</label>
        <a role="button" class="btn bg-transparent p-0 text-small pull-right" {{action "useCustomRegex"}}>
          {{#if useCustomRegex}}
            {{t 'volumeSource.customLogPath.logFormat.useExistingLogFormat'}}
          {{else}}
            {{t 'volumeSource.customLogPath.logFormat.useCustomRegex'}}
          {{/if}}
        </a>
      </div>
    {{/if}}
    {{#if useCustomRegex}}
      {{#if editing}}
        {{input
            type="text"
            value=config.options.format
        }}
        <p class="text-info text-small">{{t 'volumeSource.customLogPath.logFormat.helpText' htmlSafe=true}}</p>
      {{else}}
        {{config.options.format}}
      {{/if}}
    {{else}}
      {{new-select
          classNames="form-control"
          content=formats
          value=config.options.format
          disabled=(not editing)
      }}
    {{/if}}
  </div>
</div>