{{top-errors errors=errors}}

<section class="horizontal-form">
  <div class="container-fluid">
    {{partial "host/add-common"}}

    <div class="over-hr r-mt20 r-mb20">
      <span>Account Access</span>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">vCenter Host*</label>
      </div>
      <div class="col-md-4">
        {{input type="text" class="form-control" value=config.vcenter placeholder="vCenter or ESXi hostname/IP"}}
      </div>
      <div class="col-md-2 form-label">
        <label class="form-control-static">vCenter Port*</label>
      </div>
      <div class="col-md-4">
        {{input type="number" min=1 max=65535 class="form-control" value=config.vcenterPort}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">Username*</label>
      </div>
      <div class="col-md-4">
        {{input type="text" value=config.username classNames="form-control"}}
      </div>

      <div class="col-md-2 form-label">
        <label class="form-control-static">Password*</label>
      </div>
      <div class="col-md-4">
        {{input type="password" value=config.password classNames="form-control"}}
      </div>
    </div>

    <div class="over-hr r-mt20 r-mb20">
      <span>Instance</span>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">CPUs</label>
      </div>

      <div class="col-sm-2 col-md-1 form-control-static">
        {{config.cpuCount}}
      </div>
      <div class="col-sm-10 col-md-3 form-control-static">
        {{input-slider value=config.cpuCount valueMin=1 valueMax=32}}
      </div>

      <div class="col-md-2 form-label">
        <label class="form-control-static">Memory</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          {{input type="number" min=1 value=config.memorySize classNames="form-control"}}
          <div class="input-group-addon">MB</div>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">Disk</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          {{input type="number" min=1 value=config.diskSize classNames="form-control"}}
          <div class="input-group-addon">MB</div>
        </div>
      </div>

      <div class="col-md-2 form-label">
        <label class="form-control-static">OS ISO URL</label>
      </div>
      <div class="col-md-4">
        {{input type="text" value=config.boot2dockerUrl classNames="form-control" placeholder="Default: Latest boot2docker image"}}
      </div>
    </div>

    <div class="over-hr r-mt20 r-mb20">
      <span>Scheduling</span>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">Data Center</label>
      </div>
      <div class="col-md-2">
        {{input type="text" value=config.datacenter classNames="form-control"}}
      </div>

      <div class="col-md-2 form-label">
        <label class="form-control-static">Pool</label>
      </div>
      <div class="col-md-2">
        {{input type="text" value=config.pool classNames="form-control"}}
      </div>

      <div class="col-md-2 form-label">
        <label class="form-control-static">Host</label>
      </div>
      <div class="col-md-2">
        {{input type="text" value=config.hostsystem classNames="form-control" placeholder="Use '/' if using a cluster"}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">Network</label>
      </div>
      <div class="col-md-4">
        {{input type="text" value=config.network classNames="form-control"}}
      </div>

      <div class="col-md-2 form-label">
        <label class="form-control-static">Data Store</label>
      </div>
      <div class="col-md-4">
        {{input type="text" value=config.datastore classNames="form-control"}}
      </div>
    </div>

    {{partial "host/add-options"}}
  </div>

  {{partial "save-cancel"}}
</section>
