<section class="header">
  <h1>{{#link-to "k8s-tab.namespace.services"}}{{t 'k8sTab.namespace.services.service.index.header'}}{{/link-to}} {{model.displayName}}</h1>
  <div class="pull-right">
    {{action-menu model=model}}
  </div>
</section>

<section>
  <div class="container-multi-stat">
    <div class="container-flex bordered">
      <div class="col-flex"><label>{{t 'k8sTab.multistat.header.type'}}</label> {{model.spec.type}}</div>
      <div class="col-flex"><label>{{t 'k8sTab.multistat.header.cluster'}}</label> {{model.spec.clusterIP}}</div>
      <div class="col-flex"><label>{{t 'k8sTab.multistat.header.balancer'}}</label> {{default-str model.spec.loadBalancerIP default="None"}}</div>
      <div class="col-flex"><label>{{t 'k8sTab.multistat.header.session'}}</label> {{model.spec.sessionAffinity}}</div>
      <div class="col-flex">
        <label>{{t 'k8sTab.multistat.header.external'}}</label>
        {{#each model.spec.externalIPs as |ip index|}}
          {{if (eq index 0) '' ','}}{{ip}}
        {{else}}
          {{t 'generic.none'}}
        {{/each}}
      </div>
      <div class="col-flex">
        <label>{{t 'k8sTab.multistat.header.selectors'}}</label>
        {{#each model.selectorsAsArray as |sel|}}
          <span class="badge badge-default">{{sel.label}}={{sel.value}}</span>
        {{else}}
          {{t 'generic.none'}}
        {{/each}}
      </div>
    </div>
  </div>
</section>

{{#select-tab initialTab='pods' as |component|}}
  <ul class="nav nav-tabs nav-tabs-well" role="tablist">
    <li role="tab" class="tab" data-section="pods" {{action "selectTab" "pods" target="component"}}><a href="#">{{t 'k8sTab.navTabs.pods'}}</a></li>
    <li role="tab" class="tab" data-section="labels" {{action "selectTab" "labels" target="component"}}><a href="#">{{t 'k8sTab.navTabs.labels'}}</a></li>
    <li role="tab" class="tab" data-section="ports" {{action "selectTab" "ports" target="component"}}><a href="#">{{t 'k8sTab.navTabs.ports'}}</a></li>
  </ul>

  <div class="horizontal-form well nav-well" role="tabpanel">
    <div class="section container-fluid" data-section="pods">
      {{k8s/pod-section model=model.selectedPods}}
    </div>
    <div class="section container-fluid" data-section="labels">
      {{labels-section model=model labelSource=model.metadata.labels showKind=false sortBy="key"}}
    </div>
    <div class="section container-fluid" data-section="ports">
      {{k8s/service-ports model=model.spec.ports}}
    </div>
  </div>
{{/select-tab}}
