<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label>Restart Policy</label>
  </div>

  <div class="col-sm-12 col-md-8">
    <div class="radio input pull-left r-mr20">
      <label>{{radio-button selection=model.restartPolicy value="Always"}} Always</label>
    </div>
    <div class="radio input pull-left r-mr20">
      <label>{{radio-button selection=model.restartPolicy value="OnFailure"}} On Failure</label>
    </div>
    <div class="radio input pull-left r-mr20">
      <label>{{radio-button selection=model.restartPolicy value="Never"}} Never</label>
    </div>
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label>Use</label>
  </div>

  <div class="col-sm-12 col-md-8">
    <div class="checkbox input pull-left r-mr20">
      <label>{{input type="checkbox" checked=model.hostNework}} Host Network</label>
    </div>
    <div class="checkbox input pull-left r-mr20">
      <label>{{input type="checkbox" checked=model.hostPID}} Host PID</label>
    </div>
    <div class="checkbox input pull-left r-mr20">
      <label>{{input type="checkbox" checked=model.hostIPC}} Host IPC</label>
    </div>
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Active Deadline</label>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="input-group">
      {{input type="number" class="form-control" value=model.activeDeadlineSeconds}}
      <span class="input-group-addon">sec</span>
    </div>
  </div>

  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Termination Grace</label>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="input-group">
      {{input type="number" class="form-control" value=model.terminationGracePeriodSeconds}}
      <span class="input-group-addon">sec</span>
    </div>
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Node Name</label>
  </div>

  <div class="col-sm-12 col-md-3">
    {{input type="text" class="form-control" value=model.nodeName}}
  </div>

  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">Service Account</label>
  </div>

  <div class="col-sm-12 col-md-3">
    {{input type="text" class="form-control" value=model.serviceAccountName}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label>Node Selector</label>
  </div>

  <div class="col-sm-12 col-md-8">
    {{form-key-value
      initialMap=model.nodeSelector
      allowEmptyValue=false
      changedStr=(action (mut model.nodeSelector))
      nameLabel="Node Selector"
    }}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label>Pod Selector</label>
  </div>

  <div class="col-sm-12 col-md-8">
    {{form-key-value
      initialMap=model.selector
      allowEmptyValue=false
      changedStr=(action (mut model.selector))
      nameLabel="Pod Selector"
    }}
  </div>
</div>
