{{#liquid-if loading}}
  <div class="text-center">
    <p>
      <i class="icon icon-spinner icon-spin"></i> {{t 'generic.loading'}}
    </p>
  </div>
{{else}}
  <section class="horizontal-form container-fluid">
    <h2>{{t 'editService.title'}}</h2>

    {{form-scale
      editing=true
      initialLabels=service.launchConfig.labels
      initialScale=service.scale
      setScale=(action 'setScale')
    }}

    {{form-name-description
      model=service
      namePlaceholder="servicePage.new.form.name.placeholder"
      descriptionPlaceholder="servicePage.new.form.description.placeholder"
    }}

    {{form-service-links
      service=service
      changed=(action 'setServiceLinks')
    }}
  </section>

  {{top-errors errors=errors}}
  {{save-cancel editing=editing save="save" cancel="cancel"}}
{{/liquid-if}}
