{{#if isAdvanced}}
  <td class="{{rowClass}}" data-title="{{t 'formTargets.hostname.label'}}">
    {{input classNames="form-control input-sm" value=tgt.hostname placeholder=(t 'formTargets.hostname.placeholder')}}
  </td>
  <td class="{{rowClass}}" data-title="{{t 'formTargets.srcPort.label'}}">
    {{input classNames="form-control input-sm" value=tgt.srcPort placeholder=(t 'formTargets.srcPort.placeholder')}}
  </td>
  <td class="{{rowClass}}" data-title="{{t 'formTargets.path.label'}}">
    {{input classNames="form-control input-sm" value=tgt.path placeholder=(t 'formTargets.path.placeholder')}}
  </td>
  <td class="{{rowClass}}" class="text-center">
    <div class="input-sm"><i class="icon icon-chevron-right"></i></div>
  </td>
{{/if}}
<td class="{{rowClass}}" data-title="{{t 'formTargets.value.label'}}">
  {{schema/input-service
    selectClass="form-control input-sm lb-target"
    selected=tgt.value
    canBalanceTo=isBalancer
    exclude=exclude
  }}
</td>
{{#if isAdvanced}}
  <td class="{{rowClass}}" data-title="{{t 'formTargets.dstPort.label'}}">
    {{input classNames="form-control input-sm" value=tgt.dstPort placeholder=(t 'formTargets.dstPort.placeholder')}}
  </td>
{{/if}}
<td class="{{rowClass}}" class="text-right" width="30">
  <button class="btn bg-primary btn-sm" {{action "remove"}}><i class="icon icon-minus"/><span class="sr-only">{{t 'generic.remove'}}</span></button>
</td>
