<section class="header clearfix">
  <div class="pull-left">
    {{#if editing}}
        <h1>{{t 'projectsPage.editProject'}}</h1>
    {{else}}
        <h1>{{t 'projectsPage.addProject'}}</h1>
    {{/if}}
  </div>
</section>

<section class="horizontal-form container-fluid">
  {{form-name-description
      model=model.project
      nameLabel="projectsPage.name.label"
      nameRequired=true
      nameDisabled=editing
      namePlaceholder="projectsPage.name.placeholder"
  }}

  {{#if model.project.cluster.isRKE}}
    <label class="acc-label">{{t 'projectsPage.psp.label'}}</label>
    {{new-select
      content=model.psps
      optionLabelPath='displayName'
      optionValuePath='id'
      prompt='generic.none'
      localizedPrompt=true
      value=model.project.podSecurityPolicyTemplateId
    }}
  {{/if}}
</section>

<div class="row">
{{#accordion-list showExpandAll=false as | al expandFn | }}
  <div class="col span-12">
    {{#accordion-list-item
         title="Members"
         detail="Configure who has access to the resources in this project and what permissions they have"
         status=(t 'pagination.member' pages=1 count=memberArray.length)
         statusClass=(if memberArray.length 'text-success' 'text-error')
         expandAll=al.expandAll
         expand=(action expandFn)
         expandOnInit=true
    }}
      {{form-members
          creator=creator
          editing=true
          memberConfig=memberConfig
          primaryResource=primaryResource
          roles=model.roles
          users=model.users
          type="project"
          errors=(mut errors)
          registerHook=(action "registerHook")
      }}
    {{/accordion-list-item}}
  </div>
{{/accordion-list}}
</div>

{{top-errors errors=errors}}
{{save-cancel editing=editing save="save" cancel="cancel"}}
