<section class="header clearfix">
  <div class="pull-left">
    {{#if editing}}
        <h1>{{t 'projectsPage.editProject'}}</h1>
    {{else}}
        <h1>{{t 'projectsPage.addProject'}}</h1>
    {{/if}}
  </div>
</section>

<section class="horizontal-form container-fluid">
  {{form-name-description
      name=model.project.name
      nameLabel="projectsPage.new.form.name.label"
      nameRequired=true
      nameDisabled=editing
      namePlaceholder="projectsPage.new.form.name.placeholder"
  }}
</section>

{{form-members
    project=primaryResource
    memberArray=memberArray
    editing=editing
    roles=model.roles
    memberConfig=memberConfig
}}

{{top-errors errors=errors}}
{{save-cancel createLabel=(if editing 'projectsPage.saveEdit' 'projectsPage.saveNew') save="save" cancel="cancel"}}
