<section class="header clearfix">
  <h1>
    {{#if editing}}
      {{t 'editProjectTemplate.title.edit' displayName=originalProjectTemplate.name}}
    {{else}}
      {{t 'editProjectTemplate.title.add'}}
    {{/if}}
  </h1>
</section>

<section class="well r-mb0">
  {{form-name-description
    model=projectTemplate
  }}

  {{#if access.admin}}
    <div class="row">
      <div class="col-xs-12">
        <label>{{t 'editProjectTemplate.access.label'}}</label>
      </div>
    </div>
    <div class="row">
      <div class="col-md-6">
        <div class="radio">
          <label>{{radio-button selection=projectTemplate.isPublic value=false}} {{t 'editProjectTemplate.access.private'}}</label>
        </div>
      </div>
      <div class="col-md-6">
        <div class="radio">
          <label>{{radio-button selection=projectTemplate.isPublic value=true}} {{t 'editProjectTemplate.access.public'}}</label>
        </div>
      </div>
    </div>
  {{/if}}
</section>

<section class="well r-mb0">
  <div class="row">
    <div class="col-xs-12">
      <label>{{t 'editProjectTemplate.orchestration'}}</label>
      <div class="nav nav-boxes checked-active">
        {{#each orchestrationChoices as |driver|}}
          <a href="#" tabindex="1" {{action "selectOrchestration" driver.name}} title="{{driver.title}}" class="nav-box-item driver orchestration-driver r-p5 {{if driver.active 'active'}}">
            <img src="{{driver.image}}"/>
            <div class="small clip r-pt5">{{uc-first driver.title}}</div>
            {{#if showOrchestrationOrigin}}<div class="small clip r-pt5">{{driver.source}}</div>{{/if}}
          </a>
        {{/each}}
      </div>
      {{#if (not-eq activeOrchestration 'cattle')}}
        <div class="text-center">
          <button type="button" class="btn btn-default" {{action "editOrchestration"}}>{{t 'editProjectTemplate.stackEdit'}}</button>
        </div>
      {{/if}}
    </div>
  </div>
</section>

{{#each categories as |category|}}
  <section>
    <h4>{{category}}</h4>
    <hr/>
    <div class="section container-fluid container-catalog clearfix">
      {{#each-in stacksMap as |id obj|}}
        {{#if (and obj.supported (array-includes obj.tpl.categoryArray category))}}
          {{#catalog-box model=obj.tpl active=obj.enabled showSource=true as |section|}}
            {{#if (eq section 'footer')}}
              {{#if (and obj.required obj.enabled)}}
                <button type="button" class="btn btn-primary" {{action "enableStack" obj}}>{{t 'editProjectTemplate.stackEdit'}}</button>
                <button type="button" class="btn btn-default btn-disabled" {{action "disableStack" obj true allowedKeys="meta ctrl"}}>{{t 'editProjectTemplate.stackRequired'}}</button>
              {{else if obj.enabled}}
                <button type="button" class="btn btn-primary" {{action "enableStack" obj}}>{{t 'editProjectTemplate.stackEdit'}}</button>
                <button type="button" class="btn btn-danger" {{action "disableStack" obj}}>{{t 'generic.disable'}}</button>
              {{else if obj.supported}}
                <button type="button" class="btn btn-primary" {{action "enableStack" obj}}>{{t 'generic.enable'}}</button>
              {{/if}}
            {{/if}}
          {{/catalog-box}}
        {{/if}}
      {{/each-in}}
    </div>
  </section>
{{/each}}


<hr/>
{{top-errors errors=errors}}
{{save-cancel editing=editing save="save" cancel="cancel"}}
