{{#if shouldExpand}}
  <tr>
    <td class="clip">
      <i class="fa fa-level-down indent-{{depth}}"></i>
      {{#if checkExecutions }}
        <span {{action 'expand'}}>
            <i class="fa hand {{if expanded 'fa-minus-circle' 'fa-plus-circle'}}"></i>
        </span>
      {{/if}}
      {{execution.name}}
    </td>
    <td>{{execution.resourceId}}</td>
    <td>{{execution.exitReason}}</td>
    <td>{{date-from-now execution.startTime}}</td>
    <td>{{date-from-now execution.stopTime}}</td>
    <td>{{run-time execution.startTime execution.stopTime}}</td>
  </tr>
{{#if checkExecutions }}
  {{#each execution.children as |child|}}
    {{#each child.executions as |execution|}}
      {{process-execution-rows execution=execution shouldExpand=expanded nodeDepth=depth expandAll=shouldExpandChildren}}
    {{/each}}
  {{/each}}
{{/if}}
{{/if}}
