<section class="header clearfix">
  <h1>{{t 'hostTemplatesPage.keys.header'}}</h1>

  <div class="right-buttons">
    <div class="template-add-key dropdown">
      <a class="btn bg-primary dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{t 'hostTemplatesPage.keys.buttonText'}}
        <span class="sr-only">{{t 'nav.srToggleDropdown'}}</span>
        <i class="icon icon-chevron-down"></i>
      </a>

      <ul class="dropdown-menu dropdown-menu-right" data-dropdown-id="host-template-provider">
        {{#each providers as |provider|}}
          <li>
            <button class="btn bg-transparent" {{action "newTemplateKey" provider.id}}>{{t provider.translationKey}}</button>
          </li>
        {{/each}}
      </ul>
    </div>
  </div>
</section>

<section>
  <p>{{t 'hostTemplatesPage.keys.header'}}</p>
  {{#if instances.length}}
  {{#sortable-table
      classNames="grid fixed mt-10 sortable-table"
      bulkActions=false
      paging=false
      search=false
      sortBy=sortBy
      headers=headers
      body=model
      fullRows=false
      as |sortable kind key|
  }}
    {{#if (eq kind "row")}}
      <td data-title="{{t 'hostTemplatesPage.table.state'}}:">
        {{badge-state model=key}}
      </td>
      <td data-title="{{t 'hostTemplatesPage.table.flavor'}}:">
        {{#if key.flavorPrefix}}{{key.flavorPrefix}}{{else}}<span class="text-muted">{{t 'hostTemplatesPage.table.noName'}}</span>{{/if}}
      </td>
      <td data-title="{{t 'hostTemplatesPage.table.name'}}:">
        {{#if key.name}}{{key.displayName}}{{else}}<span class="text-muted">{{t 'hostTemplatesPage.table.noName'}}</span>{{/if}}
      </td>
      <td data-title="{{t 'hostTemplatesPage.table.desc'}}:">
        {{#if key.description}}{{key.description}}{{else}}<span class="text-muted">{{t 'hostTemplatesPage.table.noDesc'}}</span>{{/if}}
      </td>
      <td data-title="{{t 'hostTemplatesPage.table.public'}}:">
        {{#if key.publicValues}}
          {{#copy-to-clipboard clipboardText=key.publicValues size="small"}}
            {{key.publicValues}}
          {{/copy-to-clipboard}}
        {{else}}
          <span class="text-muted">{{t 'hostTemplatesPage.table.noPublicValue'}}</span>
        {{/if}}
      </td>
      <td data-title="{{t 'hostTemplatesPage.table.created'}}:">
        {{date-calendar key.created}}
      </td>
      <td data-title="{{t 'generic.actions'}}:" class="actions">
        {{action-menu model=key}}
      </td>
    {{else if (eq kind "norows")}}
      <tr>
        <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'hostTemplatesPage.table.noData'}}</td>
      </tr>
    {{/if}}
  {{/sortable-table}}
    {{else}}
    {{empty-table resource="container" showNew=false}}
  {{/if}}
</section>