<div class="row mt-10">
  <label class="acc-label pb-5">
    {{t "newPipelineStep.stepType.image"}}{{field-required}}
  </label>
  {{searchable-select
    allowCustom=true
    content=imagesChoices
    value=config.runScriptConfig.image
    placeholder="java:8"
  }}
</div>

<div class="row mb-10">
  <label class="acc-label pb-5">
    {{t "newPipelineStep.stepType.task.shell.label"}}{{field-required}}
  </label>
  {{pipeline-codemirror
    value=config.runScriptConfig.shellScript
    valueUpdated=(action (mut config.runScriptConfig.shellScript))
    options=(hash autofocus=true theme="monokai" lineNumbers=true mode="shell")
  }}
</div>

{{#advanced-section}}
  <div class="row mt-10 mb-20">
    <label class="acc-label pb-5">
      {{t "newPipelineStep.stepType.env"}}
    </label>
    {{form-key-value
      allowMultilineValue=false
      initialMap=config.env
      changed=(action (mut config.env))
      allowEmptyValue=false
      normalHeader=(t "newContainer.environment.label")
      addActionLabel="newContainer.environment.addAction"
      keyLabel="newContainer.environment.keyLabel"
      keyPlaceholder="newContainer.environment.keyPlaceholder"
      valueLabel="newContainer.environment.valueLabel"
      valuePlaceholder="e.g. bar"
    }}
  </div>

  <div class="row mb-20">
    {{pipeline-env-from
      sources=config.envFrom
      changed=(action (mut config.envFrom))
    }}
  </div>

  {{pipeline-condition
    type="step"
    config=config.when
  }}
{{/advanced-section}}

{{top-errors errors=errors}}
{{save-cancel
  saveDisabled=state.saveDisabled
  editing=editing
  createLabel="generic.add"
  save=(action "save")
  cancel=(action "cancel")
}}