<div>
  <label class="acc-label pt-10" for="">{{t 'hostsPage.cloudHostsPage.addPage.zone'}}</label>
  {{hostOptions.facilityCode}}
</div>
<hr/>
<div>
  <label class="acc-label pt-10" for="">{{t 'hostsPage.cloudHostsPage.addPage.instance'}}</label>
  {{hostOptions.plan}}
</div>
<hr/>
<div>
  <label class="acc-label pt-10" for="">{{t 'hostsPage.cloudHostsPage.addPage.os'}}</label>
  {{hostOptions.os}}
</div>