<section class="header has-tabs clearfix">
  <h1>{{t 'clustersPage.header'}}</h1>

  <div class="right-buttons">
    <button class="btn bg-primary btn-sm icon-btn" {{action "newCluster"}}>
      <span class="darken"><i class="icon icon-cluster"></i></span>
      <span>{{t 'clustersPage.newCluster'}}</span>
    </button>
  </div>
</section>

{{#unless projects.current}}
  <section>
    <div class="banner bg-error">
      <div class="banner-icon"><i class="icon icon-alert"></i></div>
      <div class="banner-message"><p>{{t 'clustersPage.alert'}}</p></div>
    </div>
  </section>
{{/unless}}

{{#each arrangedClusters as |cluster|}}
  {{cluster-box model=cluster}}
{{/each}}

<div class="mt-30">{{t 'clustersPage.subtext' appName=settings.appName htmlSafe=true}}</div>
