<section class="header clearfix">
  <h1 class="pull-left">{{t 'clustersPage.header'}}</h1> <div class="vertical-middle"></div>

  <div class="right-buttons">
    {{#link-to "authenticated.clusters.new" class="btn bg-primary btn-sm icon-btn"}}
      <span class="darken"><i class="icon icon-cluster"></i></span>
      <span>{{t 'clustersPage.newCluster'}}</span>
    {{/link-to}}
  </div>
</section>

{{#unless scope.current}}
  <section>
    <div class="banner bg-error">
      <div class="banner-icon"><i class="icon icon-alert"></i></div>
      <div class="banner-message"><p>{{t 'clustersPage.alert'}}</p></div>
    </div>
  </section>
{{/unless}}

{{#sortable-table
     classNames="grid sortable-table"
     body=model.clusters
     searchText=searchText
     sortBy=sortBy
     bulkActions=false
     fullRows=true
     pagingLabel="pagination.cluster"
     headers=headers as |sortable kind inst dt|
}}
  {{#if (eq kind "row")}}
    {{cluster-row
        model=inst
        fullColspan=sortable.fullColspan
        toggle=(action "toggleExpand" inst.id)
        expanded=(array-includes expandedClusters inst.id)
        launchOnCluster=(action "launchOnCluster")
        useKubernetes=(action "useKubernetes")
        dt=dt
    }}
  {{else if (eq kind "nomatch")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'clusterRow.noClusterMatch'}}</td></tr>
  {{else if (eq kind "norows")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'clusterRow.noClusterData'}}</td></tr>
  {{/if}}
{{/sortable-table}}
