<section class="header has-tabs clearfix">
  <h1>{{t 'clustersPage.header'}}</h1>

  <div class="right-buttons">
    <button class="btn bg-primary btn-sm" {{action "newCluster"}}>{{t 'clustersPage.newCluster'}}</button>
  </div>
</section>

{{#unless projects.current}}
  <section>
    <div class="banner bg-error">
      <div class="banner-icon"><i class="icon icon-alert"></i></div>
      <div class="banner-message"><p>{{t 'clustersPage.alert'}}</p></div>
    </div>
  </section>
{{/unless}}

{{#each arrangedClusters as |cluster|}}
  {{cluster-box model=cluster}}
{{/each}}

{{!-- <div class="banner bg-info mt-30">
  <div class="banner-icon" style="vertical-align: top;"><i class="icon icon-info pt-10"></i></div>
  <div class="banner-message">
    {{t 'clustersPage.subtext' appName=settings.appName htmlSafe=true}}
  </div>
</div> --}}

<p class="help-block">{{t 'clustersPage.subtext' appName=settings.appName htmlSafe=true}}</p>