<section class="header has-tabs clearfix">
  <h1>
    {{t pageHeader name=which tags=tags}}
  </h1>

  <ul class="tab-nav">
    <li><a>Volumes</a></li>
    <li><a>Balancers</a></li>
    <li><a>DNS</a></li>
    <li><a>Volumes</a></li>
  </ul>

  <div class="btn-group pull-right">
    {{#link-to "service.new" projects.current.id class="btn btn-sm bg-primary"}}{{t 'stacksPage.header.addContainer'}}{{/link-to}}
    {{#link-to "stacks.new" classNames="btn btn-sm bg-primary"}}{{t 'stacksPage.header.uploadCompose'}}{{/link-to}}
  </div>
</section>

<section class="stacks-wrap pl-0 pr-0">
  <div>
    {{#each arranged as |stack|}}
      {{stack-section model=stack showAddService=(not stack.system)}}
    {{else}}
      {{#if (and model.stacks.length tags)}}
        <div class="m-20 text-center text-muted">{{t 'stacksPage.noMatch'}}</div>
      {{else if (eq which "infra")}}
        <div class="m-20 text-center text-muted">{{t 'stacksPage.noInfra'}}</div>
      {{else}}
        {{hero-add-service}}
      {{/if}}
    {{/each}}
  </div>
</section>
