<section class="header">
  <h3>
    {{resource-actions-menu model=this choices=availableActions classNames="pull-right"}}
    <div class="state {{stateColor}}">
      <i class="{{stateIcon}}"></i> {{displayState}}
    </div>
    <span class="right-divider">{{#link-to "loadbalancers"}}Load Balancers:{{/link-to}} {{displayName}}</span>
  </h3>
  {{partial "legacy-description"}}
</section>

<section>
  <ul class="nav nav-tabs nav-tabs-well">
    {{#link-to "loadbalancer.hosts" tagName="li" href=false}}<a><i class="ss-database"></i> Hosts</a>{{/link-to}}
    {{#link-to "loadbalancer.targets" tagName="li" href=false}}<a><i class="ss-box"></i> Targets</a>{{/link-to}}
    {{#link-to "loadbalancer.config" tagName="li" href=false}}<a><i class="ss-file"></i> Config</a>{{/link-to}}
  </ul>
  <div class="well nav-well">
    {{outlet}}
  </div>
</section>
