<aside>
  <label>Load Balancer</label>
  {{resource-actions-menu model=this choices=availableActions classNames="pull-right"}}
  <h3 class="force-wrap">{{displayName}}</h3>

  <hr/>

  {{#if description}}
    <label style="margin-top: 10px;">Description</label>
    <p>{{description}}</p>
    <hr/>
  {{/if}}

  <div class="links">
    {{#link-to "loadbalancer.index"}}
      <i class="ss-barchart"></i> Monitoring
    {{/link-to}}
    {{#link-to "loadbalancer.hosts"}}
      <i class="ss-database" style="position: relative; top: 1px"></i> Hosts <span class="badge">{{hosts.length}}</span>
    {{/link-to}}
    {{#link-to "loadbalancer.targets"}}
      <i class="ss-target" style="position: relative; top: 1px"></i> Targets <span class="badge">{{loadBalancerTargets.length}}</span>
    {{/link-to}}
    {{#link-to "loadbalancer.config"}}
      <i class="ss-file"></i> Configuration
    {{/link-to}}
  </div>

  <hr/>

  <div class="clearfix">
    <label>Info</label>
  </div>

  <ul class="list-circles">
    <li>
      <i {{bind-attr class=":fa-fw stateIcon"}}></i>
      {{displayState}}
      {{#if isTransitioning}}
        <div class="progress progress-striped active" style="height: 10px; border: 0;">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" {{bind-attr aria-valuenow=displayProgress style=progressStyle}}>
            <span class="sr-only">{{displayProgress}}% Complete</span>
          </div>
        </div>
      {{/if}}
      {{#if showTransitioningMessage}}
        <div class="force-wrap">
          {{transitioningMessage}}
        </div>
      {{/if}}
    </li>

    {{#if hostsBlurb}}
      <li>
        <i class="fa-fw ss-database"></i>
        {{hostsBlurb}}
      </li>
    {{/if}}
  </ul>
</aside>

{{outlet}}
