<div class="row">
  <div class="col span-6" style="{{if isNew 'min-height: 106px;'}}">
    <label class="acc-label">{{t 'optionallyNamespaced.scope.label'}}</label>
    {{#if (and isNew (not isClone))}}
      <div class="radio">
        <label>{{radio-button selection=scope value="project"}}&nbsp;{{t 'optionallyNamespaced.scope.project'}}</label>
      </div>
      <div class="radio">
        <label>{{radio-button selection=scope value="namespace"}}&nbsp;{{t 'optionallyNamespaced.scope.namespace'}}{{if (eq scope "namespace") ':'}}</label>
      </div>
    {{else}}
      <div>
        {{#if model.namespace}}
          {{t 'optionallyNamespaced.scope.namespace'}}: {{model.namespace.displayName}}
        {{else}}
          {{t 'optionallyNamespaced.scope.project'}}
        {{/if}}
      </div>
    {{/if}}
  </div>

  {{#if (and (and isNew (eq scope "namespace")) (not isClone))}}
    <div class="col span-6 box">
      {{form-namespace
        namespace=namespace
        errors=namespaceErrors
      }}
    </div>
  {{/if}}
</div>
