<section class="header">
  {{t 'clustersPage.addPage.rke.header' count=step}}
</section>

<section>
  <div class="row">
    <form class="form text-left">
      <div class="row">
        {{form-name-description
            model=primaryResource
            namePlaceholder="clustersPage.addPage.rke.new.name.placeholder"
            descriptionPlaceholder="clustersPage.addPage.rke.new.description.placeholder"
        }}
      </div>
      <div class="row">
        <div class="col span-6">
          <div class="radio">
            <label>{{radio-button selection=scope value="embedded"}} {{t 'clustersPage.addPage.rke.new.radio.embedded.label'}}</label>
          </div>
          <div class="radio">
            <label>{{radio-button selection=scope value="dedicated"}} {{t 'clustersPage.addPage.rke.new.radio.dedicated.label'}}</label>
          </div>
        </div>
        <div class="col span-6">
          <button {{action "addHost"}} class="btn bg-primary pull-right">{{t 'clustersPage.addPage.rke.new.addHost'}}</button>
        </div>
      </div>
      <div class="row">
        {{#sortable-table
             classNames="grid sortable-table"
             body=primaryResource.hosts
             searchText=searchText
             sortBy=sortBy
             fullRows=true
             bulkActions=false
             pagingLabel="pagination.host"
             headers=headers as |sortable kind host dt|}}
          {{#if (eq kind "row")}}
            <tr class="main-row">
              <td data-title="{{dt.state}}" class="state">
                {{badge-state model=host}}
              </td>
              <td data-title="{{dt.name}}">
                {{host.displayName}}
              </td>
              <td data-title="{{dt.etcd}}">
                {{input type="checkbox" change=(action 'addRole' host 'etcd')}}
              </td>
              <td data-title="{{dt.controlplane}}">
                {{input type="checkbox" change=(action 'addRole' host 'controlplane')}}
              </td>
              <td data-title="{{dt.worker}}">
                {{input type="checkbox" change=(action 'addRole' host 'worker')}}
              </td>
            </tr>
          {{else if (eq kind "nomatch")}}
            <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'hostsPage.index.table.noMatch'}}</td></tr>
          {{else if (eq kind "norows")}}
            <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20" style="height:200px;">{{t 'hostsPage.index.table.noData'}}</td></tr>
          {{/if}}
        {{/sortable-table}}
      </div>
      <div class="row indicators">
        <div class="col span-4">
          {{#if hasEtcd}}
            <i class="icon icon-success text-success"></i>
          {{else}}
            <i class="icon icon-x-circle text-error"></i>
          {{/if}}
          Odd # of ETCD Hosts
        </div>
        <div class="col span-4">
          {{#if hasControlPlane}}
            <i class="icon icon-success text-success"></i>
          {{else}}
            <i class="icon icon-x-circle text-error"></i>
          {{/if}}
          Something about Control Planes
        </div>
        <div class="col span-4">
          {{#if hasWorkers}}
            <i class="icon icon-success text-success"></i>
          {{else}}
            <i class="icon icon-x-circle text-error"></i>
          {{/if}}
          Something about Workers
        </div>
      </div>
      <hr/>
      <div class="row pt-10">
        <h2>Options</h2>
        <div class="col span-4">
          <label>
            {{t 'clustersPage.addPage.rke.new.options.auth.label'}}
          </label>
          {{new-select
              classNames="form-control"
              content=authChoices
              localizedLabel=true
              value=config.auth
          }}
        </div>
        <div class="col span-4">
          <label>
            {{t 'clustersPage.addPage.rke.new.options.network.label'}}
          </label>
          {{new-select
              classNames="form-control"
              content=networkChoices
              localizedLabel=true
              value=config.network
          }}
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-sm bg-primary {{if (not canSave) 'disabled'}}" {{action "save"}} disabled=canSave>{{t 'generic.save'}}</button>
        <button class="btn btn-sm bg-primary" {{action "cancel"}}>{{t 'generic.cancel'}}</button>
      </div>
    </form>
  </div>
</section>