<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label">
      {{t "cruPersistentVolume.flexVolume.driver.label"}}
    </label>
    <InputOrDisplay
      @editable={{false}}
      @value={{config.driver}}
    >
      <Input
        @id="input-config-driver"
        @type="text"
        @value={{config.driver}}
        @classNames="form-control"
        @placeholder={{t "cruPersistentVolume.flexVolume.driver.placeholder"}}
      />
    </InputOrDisplay>
  </div>

  <div class="col span-6">
    <FormKeyValue
      @initialMap={{config.volumeAttributes}}
      @editing={{editing}}
      @header={{t "cruPersistentVolume.flexVolume.options.label"}}
      @addActionLabel="cruPersistentVolume.flexVolume.options.addActionLabel"
      @changed={{action (mut config.volumeAttributes)}}
    />
  </div>
</div>

<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label" for="input-node-pub-name" >
      {{t "cruPersistentVolume.csi.nodePublishSecretRef.name.label"}}
    </label>
    <InputOrDisplay
      @editable={{editing}}
      @value={{config.nodePublishSecretRef.name}}
    >
      <Input
        @id="input-node-pub-name"
        @type="text"
        @value={{config.nodePublishSecretRef.name}}
        @classNames="form-control"
        @placeholder={{t "cruPersistentVolume.csi.nodePublishSecretRef.name.placeholder"}}
      />
    </InputOrDisplay>
  </div>

  <div class="col span-6">
    <label
      class="acc-label"
      for="input-node-pub-namespace"
    >
      {{t "cruPersistentVolume.csi.nodePublishSecretRef.namespace.label"}}
    </label>
    <InputOrDisplay
      @editable={{editing}}
      @value={{config.nodePublishSecretRef.namespace}}
    >
      <Input
        @id="input-node-pub-namespace"
        @type="text"
        @value={{config.nodePublishSecretRef.namespace}}
        @classNames="form-control"
        @placeholder={{t "cruPersistentVolume.csi.nodePublishSecretRef.namespace.placeholder"}}
      />
    </InputOrDisplay>
  </div>
</div>

<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label" for="input-node-stage-name">
      {{t "cruPersistentVolume.csi.nodeStageSecretRef.name.label"}}
    </label>
    <InputOrDisplay
      @editable={{editing}}
      @value={{config.nodeStageSecretRef.name}}
    >
      <Input
        @id="input-node-stage-name"
        @type="text"
        @value={{config.nodeStageSecretRef.name}}
        @classNames="form-control"
        @placeholder={{t "cruPersistentVolume.csi.nodeStageSecretRef.name.placeholder"}}
      />
    </InputOrDisplay>
  </div>

  <div class="col span-6">
    <label class="acc-label" for="input-node-stage-namespace">
      {{t "cruPersistentVolume.csi.nodeStageSecretRef.namespace.label"}}
    </label>
    <InputOrDisplay
      @editable={{editing}}
      @value={{config.nodeStageSecretRef.namespace}}
    >
      <Input
        @id="input-node-stage-namespace"
        @type="text"
        @value={{config.nodeStageSecretRef.namespace}}
        @classNames="form-control"
        @placeholder={{t "cruPersistentVolume.csi.nodeStageSecretRef.namespace.placeholder"}}
      />
    </InputOrDisplay>
  </div>
</div>

<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label" for="input-controller-expand-name">
      {{t "cruPersistentVolume.csi.controllerExpandSecretRef.name.label"}}
    </label>
    <InputOrDisplay
      @editable={{editing}}
      @value={{config.controllerExpandSecretRef.name}}
    >
      <Input
        @id="input-controller-expand-name"
        @type="text"
        @value={{config.controllerExpandSecretRef.name}}
        @classNames="form-control"
        @placeholder={{t "cruPersistentVolume.csi.controllerExpandSecretRef.name.placeholder"}}
      />
    </InputOrDisplay>
  </div>

  <div class="col span-6">
    <label class="acc-label" for="input-controller-expand-namespace">
      {{t "cruPersistentVolume.csi.controllerExpandSecretRef.namespace.label"}}
    </label>
    <InputOrDisplay
      @editable={{editing}}
      @value={{config.controllerExpandSecretRef.namespace}}
    >
      <Input
        @id="input-controller-expand-namespace"
        @type="text"
        @value={{config.controllerExpandSecretRef.namespace}}
        @classNames="form-control"
        @placeholder={{t "cruPersistentVolume.csi.controllerExpandSecretRef.namespace.placeholder"}}
      />
    </InputOrDisplay>
  </div>
</div>

<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label" for="input-controller-pub-name">
      {{t "cruPersistentVolume.csi.controllerPublishSecretRef.name.label"}}
    </label>
    <InputOrDisplay
      @editable={{editing}}
      @value={{config.controllerPublishSecretRef.name}}
    >
      <Input
        @id="input-controller-pub-name"
        @type="text"
        @value={{config.controllerPublishSecretRef.name}}
        @classNames="form-control"
        @placeholder={{t "cruPersistentVolume.csi.controllerPublishSecretRef.name.placeholder"}}
      />
    </InputOrDisplay>
  </div>

  <div class="col span-6">
    <label class="acc-label" for="input-controller-pub-namespace">
      {{t "cruPersistentVolume.csi.controllerPublishSecretRef.namespace.label"}}
    </label>
    <InputOrDisplay
      @editable={{editing}}
      @value={{config.controllerPublishSecretRef.namespace}}
    >
      <Input
        @id="input-controller-pub-namespace"
        @type="text"
        @value={{config.controllerPublishSecretRef.namespace}}
        @classNames="form-control"
        @placeholder={{t "cruPersistentVolume.csi.controllerPublishSecretRef.namespace.placeholder"}}
      />
    </InputOrDisplay>
  </div>
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label">
      {{t "cruPersistentVolume.flexVolume.fsType.label"}}
    </label>
    <InputOrDisplay
      @editable={{editing}}
      @value={{config.fsType}}
    >
      <Input
        @type="text"
        @value={{config.fsType}}
        @classNames="form-control"
        @placeholder={{t "cruPersistentVolume.flexVolume.fsType.placeholder"}}
      />
    </InputOrDisplay>
  </div>

  <div class="col span-6">
    <label class="acc-label">
      {{t "cruPersistentVolume.flexVolume.readOnly.label"}}
    </label>
    {{#if editing}}
      <div class="text-muted">
        <label>
          {{radio-button selection=config.readOnly value=true}} {{t "generic.yes"}}
        </label>
        <label>
          {{radio-button selection=config.readOnly value=false}} {{t "generic.no"}}
        </label>
      </div>
    {{else}}
      <div class="text-muted">
        {{config.readOnly}}
      </div>
    {{/if}}
  </div>
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label" for="input-volume-handle">
      {{t "cruPersistentVolume.csi.volumeHandle.label"}}{{field-required editing=editing}}
    </label>
    <InputOrDisplay
      @editable={{editing}}
      @value={{config.volumeHandle}}
    >
      <Input
        @id="input-volume-handle"
        @type="text"
        @value={{config.volumeHandle}}
        @classNames="form-control"
        @placeholder={{t "cruPersistentVolume.csi.volumeHandle.placeholder"}}
      />
    </InputOrDisplay>
  </div>
</div>