<div class="content-box col-sm-4 col-md-4">
  <label class="text-muted">{{t 'sidekickAddtlInfo.info'}}</label>
  <div class="content">
    <label class="text-muted">{{t 'sidekickAddtlInfo.image'}}</label>
    <div class="force-wrap">
      {{sidekick.imageUuid}}
    </div>
    <label class="text-muted r-mt15">{{t 'sidekickAddtlInfo.entryPoint'}}</label>
    <div class="force-wrap">
      {{#if sidekick.launchConfig.entryPoint}}
        {{sidekick.launchConfig.entryPoint}}
      {{else}}
        <span class="text-muted">{{t 'generic.none'}}</span>
      {{/if}}
    </div>
    <label class="text-muted r-mt15">{{t 'sidekickAddtlInfo.command'}}</label>
    <div class="force-wrap">
      {{#if sidekick.launchConfig.command}}
        {{sidekick.launchConfig.command}}
      {{else}}
        <span class="text-muted">{{t 'generic.none'}}</span>
      {{/if}}
    </div>
  </div>
</div>
<div class="content-box col-sm-4 col-md-4">
  <label class="text-muted">{{t 'sidekickAddtlInfo.containers'}} ({{containers.length}})</label>
  <div class="content">
    <div class="container-dots clearfix">
      {{#each containers as |instance|}}
        {{container-dot model=instance}}
      {{else}}
        <span class="text-muted">{{t 'sidekickAddtlInfo.noContainers'}}</span>
      {{/each}}
    </div>
  </div>
</div>
<div class="content-box col-sm-4 col-md-4">
  <label class="text-muted">{{t 'sidekickAddtlInfo.labels'}}</label>
  <div class="content">
    <ul class="list-unstyled">
      {{#each labelArray as |label|}}
        <li>{{label.key}}: {{label.value}}</li>
      {{else}}
        <li class="text-muted">{{t 'sidekickAddtlInfo.noLabels'}}</li>
      {{/each}}
    </ul>
  </div>
</div>