<div class="content-box col-sm-4 col-md-4">
  <label class="text-muted">State</label>
  <div class="content">
    <div class="state">
      {{badge-state model=sidekick}}
    </div>
    <label class="text-muted r-mt15">Image</label>
    <div class="force-wrap">
      {{sidekick.imageUuid}}
    </div>
    <label class="text-muted r-mt15">Entrypoint</label>
    <div class="force-wrap">
      {{#if sidekick.launchConfig.entryPoint}}
        {{sidekick.launchConfig.entryPoint}}
      {{else}}
        <span class="text-muted">None</span>
      {{/if}}
    </div>
    <label class="text-muted r-mt15">Command</label>
    <div class="force-wrap">
      {{#if sidekick.launchConfig.command}}
        {{sidekick.launchConfig.command}}
      {{else}}
        <span class="text-muted">None</span>
      {{/if}}
    </div>
  </div>
</div>
<div class="content-box col-sm-4 col-md-4">
  <label class="text-muted">Containers ({{sidekick.serviceContainers.length}})</label>
  <div class="content">
    <div class="container-dots clearfix">
      {{#each sidekick.serviceContainers as |instance|}}
        {{container-dot model=instance}}
      {{else}}
        <span class="text-muted">No Containers</span>
      {{/each}}
    </div>
  </div>
</div>
<div class="content-box col-sm-4 col-md-4">
  <label class="text-muted">Labels</label>
  <div class="content">
    <ul class="list-unstyled">
      {{#each labelArray as |label|}}
        <li>{{label.key}}: {{label.value}}</li>
      {{else}}
        <li class="text-muted">No Labels</li>
      {{/each}}
    </ul>
  </div>
</div>
