<section class="instances">
  <table class="grid fixed" style="margin-bottom: 0;">
    <thead>
      <tr>
        {{sortable-th sortable=this action="changeSort" name="state" width="120"}}
        {{sortable-th sortable=this action="changeSort" name="name"}}
        {{sortable-th sortable=this action="changeSort" name="ip" width="110" label="IP Address"}}
        {{sortable-th sortable=this action="changeSort" name="image"}}
        {{sortable-th sortable=this action="changeSort" name="command"}}
        <th class="actions" width="50">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each arranged as |container|}}
        <tr>
          <td>
            <span class="badge state {{container.stateBackground}}">
              {{container.displayState}}
            </span>
          </td>
          <td class="force-wrap">
            {{#link-to "container" container.id}}{{container.displayName}}{{/link-to}}
          </td>
          <td>
            {{container.displayIp}}
          </td>
          <td class="clip">
            {{display-image container.imageUuid}}
          </td>
          <td class="clip">
            {{#if container.command}}
              {{container.command}}
            {{else}}
              <span class="text-muted">None</span>
            {{/if}}
          </td>
          <td class="actions">
            {{#with container controller="container" as |ctrl|}}
              {{resource-actions-menu model=ctrl choices=ctrl.availableActions parentController=this}}
            {{/with}}
          </td>
        </tr>
      {{else}}
        <tr><td colspan="6" class="text-center text-muted">This host does not have any containers yet.</td></tr>
      {{/each}}
    </tbody>
  </table>
</section>

