<table class="grid fixed container-table" style="margin-bottom: 0;">
  <thead>
    <tr>
      {{sortable-th sortable=this action="changeSort" name="state" label="hostsPage.hostPage.containersTab.table.header.state" width="125"}}
      {{sortable-th sortable=this action="changeSort" name="name" label="hostsPage.hostPage.containersTab.table.header.name" width="125"}}
      {{sortable-th sortable=this action="changeSort" name="ip" width="120" label="hostsPage.hostPage.containersTab.table.header.ip"}}
      {{sortable-th sortable=this action="changeSort" name="image" label="hostsPage.hostPage.containersTab.table.header.image" width="130"}}
      <th class="stats">{{t "hostsPage.hostPage.containersTab.table.header.stats"}}</th>
      <th class="actions" width="70">&nbsp;</th>
    </tr>
  </thead>
  <tbody>
    {{#each arranged as |container|}}
      {{container-row
        tagName="tr"
        model=container
        showStats=true
        showActions=true
        showCommand="inline"
        cpuMax=cpuMax
        memoryMax=memoryMax
        storageMax=storageMax
        networkMax=networkMax}}
    {{else}}
      <tr><td colspan="7" class="text-center text-muted">{{t 'hostsPage.hostPage.containersTab.table.body.noData'}}</td></tr>
    {{/each}}
  </tbody>
</table>
