{{#accordion-list-item
  title=(t 'podsSection.title')
  detail=(t 'podsSection.detail')
  expandAll=initExpandAll
  expand=(action expandFn)
  componentName='sortable-table'
  as | parent |
}}
  {{#sortable-table
    tableClassNames="double-rows"
    bulkActions=false
    body=pods
    sortBy=sortBy
    stickyHeader=stickyHeader
    fullRows=true
    search=search
    groupByKey=groupByKey
    groupByRef=groupByRef
    headers=headers as |sortable kind inst dt|
    }}
    {{#if (eq kind "row")}}
      <tr class="main-row">
        <td data-title="{{dt.displayState}}" class="state">
          {{badge-state model=inst}}
        </td>
        <td data-title="{{dt.name}}">
          <a href="{{href-to "container" inst.id}}">{{inst.displayName}}</a>
        </td>
        <td data-title="{{dt.displayImage}}">
          {{inst.displayImage}}
        </td>
        <td data-title="{{dt.node}}">
          {{#if (and inst.node.id inst.node.clusterId)}}
            <a href="{{href-to 'node' inst.node.clusterId inst.node.id}}">{{inst.node.displayName}}</a>
            {{#if (or inst.node.externalIpAddress inst.node.ipAddress)}}
              {{node-ip model=inst.node}}
            {{/if}}
          {{/if}}
        </td>
        <td data-title="{{dt.displayIp}}">
          {{inst.displayIp}}
        </td>
        <td data-title="{{dt.actions}}" class="actions">
          {{action-menu model=inst}}
        </td>
      </tr>
    {{else if (eq kind "nomatch")}}
      <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'pipelinesPage.table.noMatch'}}</td></tr>
    {{else if (eq kind "norows")}}
      <tr>
        <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'labelsSection.noData'}}</td>
      </tr>
    {{/if}}
  {{/sortable-table}}
{{/accordion-list-item}}
