{{#accordion-list-item
  title=(t 'podsSection.title')
  detail=(t 'podsSection.detail')
  expandAll=expandAll
  expand=(action expandFn)
  expandOnInit=expandOnInit
  componentName='sortable-table'
  as | parent |
}}
  {{#sortable-table
    tableClassNames="double-rows"
    bulkActions=true
    body=pods
    descending=descending
    sortBy=sortBy
    stickyHeader=stickyHeader
    fullRows=true
    search=search
    groupByKey=groupByKey
    groupByRef=groupByRef
    headers=headers as |sortable kind inst dt|
    }}
    {{#if (eq kind "row")}}
      <tr class="main-row">
        <td valign="middle" class="row-check" style="padding-top: 2px;">
          {{check-box nodeId=inst.id}}
        </td>
        <td data-title="{{dt.displayState}}" class="state">
          {{badge-state model=inst}}
        </td>
        <td data-title="{{dt.name}}">
          <a href="{{href-to "pod" inst.id}}">{{inst.displayName}}</a>
        </td>
        <td data-title="{{dt.displayImage}}">
          <small>{{inst.displayImage}}</small>
          <p data-title="{{t 'generic.details'}}" class="text-small text-muted m-0 clip">
            {{#if inst.displayIp}}
              {{inst.displayIp}} / 
            {{/if}}
            {{t 'generic.createdDate' date=(date-from-now inst.created) htmlSafe=true}} / {{t 'generic.restarts'}} {{inst.restarts}}
          </p>
        </td>
        <td data-title="{{dt.node}}">
          {{#if (and inst.node.id inst.node.clusterId)}}
            <a href="{{href-to 'authenticated.cluster.monitoring.node-detail' inst.node.clusterId inst.node.id}}">{{inst.node.displayName}}</a>
            {{#if (or inst.node.externalIpAddress inst.node.ipAddress)}}
              {{node-ip model=inst.node}}
            {{/if}}
          {{/if}}
        </td>
        <td data-title="{{dt.actions}}" class="actions">
          {{action-menu model=inst}}
        </td>
      </tr>
      {{#if inst.dislayContainerMessage}}
        <tr class="sub-row no-top auto-height">
          <td colspan="1"></td>
          <td class="pb-5" colspan="4">
            {{#each inst.containers as |container|}}
              {{#if container.showTransitioningMessage}}
                <div>
                  <small class="text-small {{container.stateColor}}">{{uc-first container.transitioningMessage}}</small>
                </div>
              {{/if}}
            {{/each}}
          </td>
          <td colspan="1"></td>
        </tr>
      {{/if}}
    {{else if (eq kind "nomatch")}}
      <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'pipelinesPage.table.noMatch'}}</td></tr>
    {{else if (eq kind "norows")}}
      <tr>
        <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'labelsSection.noData'}}</td>
      </tr>
    {{/if}}
  {{/sortable-table}}
{{/accordion-list-item}}
