<select class="{{selectClass}}" onchange={{action (mut selected) value="target.value"}}>
  <option selected={{eq selected null}}>{{t 'schema.inputContainer.prompt'}}</option>
  {{#each-in grouped as |group list|}}
    <optgroup label={{group}}>
      {{#each list as |svc|}}
        <option selected={{eq selected svc.id}} value={{svc.id}}>{{svc.name}}</option>
      {{/each}}
    </optgroup>
  {{/each-in}}
</select>
