{{yield}}
{{#if avatar}}
  <div class="gh-avatar">
    {{#if principal.avatarSrc}}
      {{#if (and principal.profileURL link)}}
        <a href="{{principal.profileURL}}" target="_blank">
          <img src="{{principal.avatarSrc}}" width="{{size}}" height="{{size}}">
        </a>
      {{else}}
        <img src="{{principal.avatarSrc}}" width="{{size}}" height="{{size}}">
      {{/if}}
    {{else}}
      <div class="gh-placeholder">
        <img src="{{avatarSrc}}" width="{{size}}" height="{{size}}">
      </div>
    {{/if}}
  </div>
{{/if}}
<div class="gh-block-content">
  <div class="clip gh-block-name">
    {{#if loading}}
      {{t 'identityBlock.loading'}}
    {{else}}
      {{#if (and principal.profileURL link)}}
        <a href="{{principal.profileURL}}" target="_blank">{{login}}</a>
      {{else}}
        {{#if principal.displayName}}
          {{principal.displayName}}
        {{else if principal.loginName}}
            {{principal.loginName}}
        {{else}}
          &nbsp;
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
  <div class="gh-block-detail text-small clip">
    {{#if principal.logicalType}}
      {{principal.logicalType}}
    {{else}}
      &nbsp;
    {{/if}}
  </div>
</div>
