<section class="header">
  <h1>{{t 'k8sImport.header'}}</h1>
</section>

{{form-name-description
  model=primaryResource
  nameLabel="k8sImport.name.label"
  namePlaceholder="k8sImport.name.placeholder"
}}

{{input-text-file
  label='k8sImport.kubeConfig.label'
  value=model.cluster.importedConfig.kubeConfig
  accept="text/*, .yaml, .yml"
  minHeight=60
  canChangeName=false
  nameRequired=true
  placeholder="k8sImport.kubeConfig.placeholder"
}}

{{banner-message color="bg-info" message="Only Kubernetes 1.8.x clusters are supported at this time."}}

{{top-errors errors=errors}}
{{save-cancel createLabel="k8sImport.actionLabel" save=(action "save") cancel=(action "cancel")}}
