<section>
  {{t 'machine.driverK8s.instructions'
    appName=settings.appName
    docsBase=settings.docsBase
    htmlSafe=true
  }}

  {{#if registrationCommand}}
    <div class="copy-pre m-20">
      <pre id="registration-command" style="font-size: 14px;">{{registrationCommand}}</pre>
      {{copy-to-clipboard clipboardText=registrationCommand}}
    </div>
  {{else}}
    <div><i class="icon icon-spinner icon-spin"></i> {{t 'machine.driverK8s.generating'}}</div>
  {{/if}}

  <hr/>

  <ul class="mt-20">
    <li>{{t 'machine.driverK8s.detail.version'}}</li>
    <li>{{t 'machine.driverK8s.detail.detail2'}}</li>
    <li>{{t 'machine.driverK8s.detail.detail3'}}</li>
  </ul>
</section>

{{#if newHosts}}
  <div class="banner bg-success">
    <div class="banner-icon"><span class="icon icon-success"></span></div>
    <div class="banner-message">
      <p>{{t 'machine.driverK8s.detected' count=newHosts}}</p>
    </div>
  </div>
{{/if}}

<section>
  <div class="footer-actions">
    <button {{action "cancel"}} class="btn bg-primary">{{t 'generic.closeModal'}}</button>
  </div>
</section>
