<div class="row">
  {{form-name-description model=cluster}}
</div>

{{#input-text-file
     label='cloud.driverGoogle.credential.label'
     value=config.credential
     accept="text/*, .json"
     minHeight=60
     canChangeName=false
     placeholder="cloud.driverGoogle.credential.placeholder"
     as |section|
}}
  {{#if (eq section 'help')}}
    <div class="row hide help">
      <div class="col span-6 help-block wrap mt-0">
        <ul class="mt-0">
          <li>Navigate to the IAM &amp; Admin page in your GCP Project.</li>
          <li>Select <code>Create Service Account</code></li>
          <li>Enter the SA name.</li>
          <li>Select a Role for the SA <em>Suggested: Kubernetes Engine -&gt; Kubernetes Engine Admin</em></li>
          <li>Select <code>Furnish a new Private key</code> option</li>
          <li>Create</li>
          <li>Save JSON file. Do not loose! These are your private keys!</li>
        </ul>
        <em class="ml-20"> For additional help with Service Accounts see <a href="https://cloud.google.com/iam/docs/service-accounts" target="_blank" rel="noopener noreferrer">GCP Service Account page</a>.</em>
      </div>
    </div>
   {{else if (eq section 'help-button')}}
    <a class="help-block" href="#" {{action 'help'}}>{{t 'generic.help'}}</a>
  {{/if}}
{{/input-text-file}}

<div class="box mt-30">
  <h4>{{t 'cloud.driverGoogle.location'}}</h4>
  <div class="row">
    <div class="col span-12">
      <label class="acc-label">{{t 'cloud.driverGoogle.zone.label'}}</label>
      {{new-select
        classNames="form-control"
        optionValuePath="name"
        optionLabelPath="name"
        content=zones
        value=config.zone
        prompt="cloud.driverGoogle.zone.prompt"
        localizedPrompt=true
      }}
    </div>
  </div>
</div>

<div class="box mt-30">
  <h4>{{t 'cloud.driverGoogle.machine'}}</h4>
  <div class="row">
    <div class="col span-4">
      <label class="acc-label">{{t 'cloud.driverGoogle.nodeCount.label'}}</label>
      {{input-number min=1 value=config.nodeCount}}
    </div>
    <div class="col span-4">
      <label class="acc-label">{{t 'cloud.driverGoogle.machineType.label'}}</label>
      {{new-select
        classNames="form-control"
        optionValuePath="name"
        optionLabelPath="displayName"
        content=machineTypes
        value=config.machineType
        prompt="cloud.driverGoogle.machineType.prompt"
        localizedPrompt=true
      }}
    </div>
    <div class="col span-4">
      <label class="acc-label">{{t 'cloud.driverGoogle.diskSizeGb.label'}}</label>
      <div class="input-group">
        {{input-number min=1 value=config.diskSizeGb}}
        <span class="input-group-addon bg-default">{{t 'generic.gigabyte'}}</span>
      </div>
    </div>
  </div>
</div>

<div class="box mt-30">
  <h4>{{t 'cloud.driverGoogle.customize'}}</h4>
  <div class="row">
    <div class="col span-4">
      <label class="acc-label">{{t 'cloud.driverGoogle.masterVersion.label'}}</label>
      {{new-select
        classNames="form-control"
        content=allowedVersions
        optionValuePath="value"
        optionLabelPath="value"
        value=config.masterVersion
        prompt="cloud.driverGoogle.masterVersion.prompt"
        localizedPrompt=true
      }}
    </div>
    <div class="col span-4">
      <label class="acc-label">{{t 'cloud.driverGoogle.alphaFeatures.label'}}</label>
      <div class="form-control-static">
        <label class="mr-20 hand">
          {{radio-button selection=config.enableAlphaFeature value=true}} {{t 'generic.enabled'}}
        </label>
        <label class="hand">
          {{radio-button selection=config.enableAlphaFeature value=false}} {{t 'generic.disabled'}}
        </label>
      </div>
    </div>
    <div class="col span-4">
      <label class="acc-label">{{t 'cloud.driverGoogle.clusterIpv4Cidr.label'}}</label>
      {{input value=config.clusterIpv4Cidr placeholder='config.driverGoogle.clusterIpv4Cidr.placeholder'}}
    </div>
  </div>
</div>
