<div style="max-width: 360px; margin: 100px auto 0 auto;">
  <div class="farm-box login top-colors">
    <section>
      {{inline-svg "assets/images/logo" class="logo"}}

      <h1>Welcome to Rancher</h1>
      <br/>

      <p>Rancher uses GitHub to manage accounts and teams.  Click the button below to log in and give us read-only access to your basic GitHub account information.</p>
      <br/>

      {{#if infoMsg}}
        <div {{bind-attr class=":alert infoColor"}} role="alert">{{infoMsg}}</div>
      {{/if}}

      <p class="text-center">
        <button {{bind-attr disabled=waiting}} class="btn btn-primary" {{action "authenticate"}}>
          <i class="fa fa-github"></i> Authenticate with GitHub
        </button>
      </p>
    </section>
  </div>
</div>
