<div style="max-width: 360px; margin: 100px auto 0 auto;">
  <div class="farm-box login top-colors">
    <h1>Howdy!<br>Welcome {{#if settings.appName}}to {{settings.appName}}{{/if}}</h1>
    <div class="logo"></div>
    <section>
      <br/>
      {{#if isGithub}}
        <p>{{settings.appName}} uses GitHub to manage accounts and teams.  Click the button below to log in and give us read-only access to your basic GitHub account information.</p>
        <br/>
      {{/if}}

      {{#if infoMsg}}
        <div class="alert {{if errorMsg 'alert-danger' 'alert-warning'}}" role="alert">{{infoMsg}}</div>
      {{/if}}

      {{#if (or isLocal isActiveDirectory isOpenLdap)}}
        {{login-user-pass action="authenticate" waiting=waiting}}
      {{/if}}
      {{#if isGithub}}
        {{login-github action="started" waiting=waiting}}
      {{/if}}
    </section>
  </div>
</div>
