<div class="row mt-10">
  {{#if add}}
    <h3>{{t 'addHostTemplate.add.header'}}</h3>
    {{#each-in newSelectedKey as |key value|}}
      {{#if (eq key 'name')}}
        <div class="col span-6">
          <label for="">{{key}}</label>
          {{input type='text' value=name}}
        </div>
      {{/if}}
      {{#if (eq key 'publicValues')}}
        {{#each-in (get selectedKey key) as |pKey pValue|}}
          <div class="col span-6 pt-5">
            <label for="">{{pKey}}</label>
            {{input type='text' value=publicValue}}
          </div>
        {{/each-in}}
      {{/if}}
      {{#if (eq key 'secretValues')}}
        <div class="col span-6">
          {{#each-in (get selectedKey key) as |sKey sValue|}}
            <div class="col span-12">
              <label for="">{{sKey}}</label>
              {{input type='password' value=secretValue}}
            </div>
          {{/each-in}}
          <div class="col span-12">
            <a class="pull-right" href="#" {{action 'cancelAdd'}}>{{t 'generic.cancel'}}</a>
          </div>
        </div>
      {{/if}}
    {{/each-in}}
  {{else}}
    <div class="col span-6">
      <div class="col-inline clearfix">
        <label for="">{{t 'addHostTemplate.choose.label'}}</label>
        <div class="pull-right text-small">
          <a class-="btn bg-transparent p-0" role="button" {{action "addKey"}}>{{t 'addHostTemplate.choose.add'}}</a>
        </div>
      </div>
      {{new-select
          classNames="form-control"
          content=templates
          optionLabelPath="name"
          optionValuePath="id"
          localizedLabel=false
          localizedPrompt=true
          prompt='addHostTemplate.choose.prompt'
          value=hostTemplate
      }}
    </div>
  {{/if}}
</div>
