<div class="row">
  <div class="col span-6">
    <!-- TODO use form-versions here when we have the api ready -->
    <label class="acc-label">Kubernetes Version</label>
    <div class="form-control">
      {{input-or-display
        editable=false
        value=k3sConfig.kubernetesVersion.gitVersion
      }}
    </div>
  </div>
</div>
<div class="row">
  <div class="col span-6">
    <label class="acc-label" for="node-server-concurrency">
      {{t "k3sClusterInfo.serverConcurrency"}}
    </label>
    <div class="form-control">
      {{#input-or-display
         editable=editing
         value=k3sConfig.serverConcurrency
      }}
        {{input
          id="node-server-concurrency"
          class="form-control"
          type="number"
          value=k3sConfig.serverConcurrency
        }}
      {{/input-or-display}}
    </div>
  </div>
  <div class="col span-6">
    <label class="acc-label" for="node-worker-concurrency">
      {{t "k3sClusterInfo.workerConcurrency"}}
    </label>
    <div class="form-control">
      {{#input-or-display
         editable=editing
         value=k3sConfig.workerConcurrency
      }}
        {{input
          id="node-worker-concurrency"
          class="form-control"
          type="number"
          value=k3sConfig.workerConcurrency
        }}
      {{/input-or-display}}
    </div>
  </div>
</div>