<h3>{{t 'hostSettings.header'}}</h3>
<hr>
<p>{{t 'hostSettings.subtext' appName=settings.appName}}</p>

<div class="mt-15">
  <label style="width: 250px;">{{radio-button selection=customRadio value="no"}}&nbsp;{{t 'hostSettings.hostUrl.local'}}&nbsp;&nbsp;</label>
  <code class="pl-20 pr-20">{{thisPage}}</code>
</div>

<div class="mt-10">
  <label style="width: 250px;">{{radio-button selection=customRadio value="yes"}}&nbsp;{{t 'hostSettings.hostUrl.new.labelText'}}&nbsp;&nbsp;</label>
  {{input type="text" class="form-control" value=customValue placeholder=(t 'hostSettings.hostUrl.new.placeholder') safeStyle="width: calc(100% - 170px); display: inline-block;  min-width: 300px;"}}
  <p class="text-info">
    {{format-html-message 'hostSettings.helpText.static1'}}
    {{#if settings.isRancher}}
      {{format-html-message 'hostSettings.helpText.isRancher' docsBase=settings.docsBase}}
    {{else}}
      {{t 'hostSettings.helpText.sslTerm'}}
    {{/if}}
    {{format-html-message 'hostSettings.helpText.static2' appName=settings.appName}}
  </p>
</div>

{{#unless looksPublic}}
  <div class="banner bg-info" style="margin-top: 30px;">
    <i class="icon icon-info" style="font-size: 35px; float: left;"></i>
    <p style="margin-left: 50px;">
      {{format-html-message 'hostSettings.notPublic.alert' activeValue=activeValue}}
    </p>
  </div>
{{/unless}}

{{top-errors errors=errors}}

{{save-cancel cancelDisabled=true editing=true save="save"}}
