{{#sortable-table
  tableClassNames="bordered"
  paging=true
  pagingLabel="pagination.project"
  headers=headers
  body=model
  sortBy=sortBy
  as |sortable kind p dt|
}}
  {{#if (eq kind "row")}}
    {{project-row switchProject=(route-action "switchProject") model=p dt=dt}}
  {{else if (eq kind "nomatch")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'projectsPage.table.noMatch'}}</td></tr>
  {{else if (eq kind "norows")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'projectsPage.table.noData'}}</td></tr>
  {{/if}}
{{/sortable-table}}
