<section class="header has-tabs clearfix">
  <h1>{{t 'nav.admin.settings.tab'}}</h1>

  <ul class="tab-nav">
    <li>{{#link-to "admin-tab.settings.auth"}}{{t 'nav.admin.settings.auth'}}{{/link-to}}</li>
    <li>{{#link-to "admin-tab.settings.registration"}}{{t 'nav.admin.settings.registration'}}{{/link-to}}</li>
    <li>{{#link-to "admin-tab.settings.machine"}}{{t 'nav.admin.settings.machine'}}{{/link-to}}</li>
    <li>{{#link-to "admin-tab.settings.advanced"}}{{t 'nav.admin.settings.advanced'}}{{/link-to}}</li>
  </ul>

  <div class="right-buttons">
    {{yield}}
  </div>
</section>
