<section class="well">
  <h2>
    {{#if access.enabled}}
      <b>{{t 'authPage.github.header.enabled.label' github=(t providerName)}}</b>
    {{else}}
      <b class="text-warning">{{t 'authPage.github.header.disabled.label'}}</b>
    {{/if}}
  </h2>
  <div>
    {{#if access.enabled}}
      {{t (concat-str 'authPage.github.header.enabled.' model.accessMode character='') appName=settings.appName github=(t providerName) users=numUsers orgs=numOrgs}}
    {{else}}
      {{t 'authPage.github.header.disabled.warning' appName=settings.appName}}
    {{/if}}
  </div>
</section>
{{#if access.enabled}}
  <section class="well">
    <h3>{{t 'authPage.github.authenticated.header.text'}}</h3>
    <hr/>
    {{#if githubConfig.hostname}}
      <div><b>{{t 'authPage.github.authenticated.header.enterpriseHostName'}} </b> <span class="text-muted">{{githubConfig.hostname}}</span></div>
    {{/if}}
    <div><b>{{t 'authPage.github.authenticated.header.clientId.text'}} </b> <span class="text-muted">{{githubConfig.clientId}}</span></div>
    <p class="help-block">{{t 'authPage.github.authenticated.header.clientId.helpText'}}</p>
  </section>

  {{site-access
    model=model
    collection='siteAccess.organizations'
  }}

  <section class="well">
    <h3>{{format-html-message 'authPage.github.authenticated.disableAccess.header'}}</h3>
    <hr/>

    <p>
      {{format-html-message 'authPage.github.authenticated.disableAccess.warning' appName=settings.appName}}
    </p>

    {{#if confirmDisable}}
      <button class="btn btn-danger" {{action "disable"}}>
        <i class="icon icon-alert"></i> {{t 'authPage.github.authenticated.disableAccess.confirmDisable'}}
      </button>
    {{else}}
      <button class="btn btn-danger" {{action "promptDisable"}}>
        <i class="icon icon-umbrella"></i> {{t 'authPage.github.authenticated.disableAccess.disable'}}
      </button>
    {{/if}}

  </section>
{{/if}}

{{#unless access.enabled}}
  <section class="well">
    <h3>{{t 'authPage.github.notAuthenticated.header'}}</h3>
    <hr/>
    <p>
      <ol class="alphalist">
        <li>
          {{format-html-message 'authPage.github.notAuthenticated.ul.li1.text'}}
            <ul>
              <li>{{t 'authPage.github.notAuthenticated.ul.li1.ul.li1'}}</li>
            </ul>
        </li>
        <li>
          {{t 'authPage.github.notAuthenticated.ul.li2.text'}}
          <ul>
            <li>{{format-html-message 'authPage.github.notAuthenticated.ul.li2.ul.li1' appName=settings.appName}}</li>
            <li>
              {{format-html-message 'authPage.github.notAuthenticated.ul.li2.ul.li2'}} <span>{{destinationUrl}}{{copy-to-clipboard size='small' clipboardText=destinationUrl}}</span>
            </li>
            <li>{{format-html-message 'authPage.github.notAuthenticated.ul.li2.ul.li3'}}</li>
            <li><b>{{t 'authPage.github.notAuthenticated.ul.li2.ul.li4'}}</b> <span id="auth-callback-url">{{destinationUrl}} {{copy-to-clipboard size='small' clipboardText=destinationUrl}}</span></li>
          </ul>
        </li>
        <li>{{t 'authPage.github.notAuthenticated.ul.li3.text'}}</li>
      </ol>
    </p>
  </section>

  <form autcomplete="on">
    <section class="well">
      <h4>{{t 'authPage.github.notAuthenticated.form.header' appName=settings.appName}}</h4>
      <hr/>
      <p>{{t 'authPage.github.notAuthenticated.form.subtext'}}</p>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            <label>{{t 'authPage.github.notAuthenticated.form.clientId.labelText'}}*</label>
            {{input type="text" name="username" value=githubConfig.clientId classNames="form-control"}}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{t 'authPage.github.notAuthenticated.form.clientSecret.labelText'}}*</label>
            {{input type="password" name="password" value=githubConfig.clientSecret classNames="form-control"}}
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12 col-md-6">
          <div class="checkbox">
            <label>{{input type="checkbox" checked=isEnterprise}} {{t 'authPage.github.notAuthenticated.form.ghEnterprise.labelText'}}</label>
          </div>
          {{#liquid-if isEnterprise}}
            <div class="checkbox">
              <label>{{input type="checkbox" checked=secure}} {{t 'authPage.github.notAuthenticated.form.isGHEnterprise.labelText'}} (<code>https://</code>).</label>
            </div>
          {{/liquid-if}}
        </div>
        <div class="col-xs-12 col-md-6">
          {{#liquid-if isEnterprise}}
          <label>{{t 'authPage.github.notAuthenticated.form.enterpriseHost.labelText'}}*</label>
            {{input type="text" value=githubConfig.hostname classNames="form-control" placeholder=(t 'authPage.github.notAuthenticated.form.enterpriseHost.placeholder')}}
          {{/liquid-if}}
        </div>
      </div>
      <div class="row">
        <div class="form-group">
          <button class="btn btn-primary" style="display: block;margin: 0 auto;" {{action "save"}}>
            {{#if saving}}
              <i class="icon icon-spinner icon-spin"></i> {{t 'generic.saving'}}
            {{else if doneSaving}}
              {{t 'generic.saved'}}
            {{else}}
              {{t 'generic.save'}}
            {{/if}}
          </button>
        </div>
      </div>
    </section>

    <section class="well">
      <h3>{{t 'authPage.github.testAuth.header'}}</h3>
      <hr/>

      {{top-errors errors=errors}}

      <div class="row">
        <div class="col-md-6">
          <p>{{t 'authPage.github.testAuth.subtext'}}</p>
        </div>
        <div class="col-md-6">
          <button disabled={{createDisabled}} class="btn btn-primary" {{action "authenticate"}}>
            {{#if testing}}
              <i class="icon icon-spinner icon-spin"></i> {{t 'authPage.github.testAuth.buttonText.post'}}
            {{else}}
              <i class="icon icon-github"></i> {{t 'authPage.github.testAuth.buttonText.pre'}}
            {{/if}}
          </button>
        </div>
      </div>
    </section>
  </form>
{{/unless}}

