<td>
  {{#if disk.root}}
    {{t 'formDisks.name.rootDisk'}}
  {{else}}
    {{input class="form-control input-sm" type="text" value=disk.name placeholder=(t 'formDisks.name.placeholder')}}
  {{/if}}
</td>

<td>&nbsp;</td>

<td>
  <div class="row">
    {{#if disk.root}}
      <span class="text-muted">{{t 'formDisks.size.rootDisk'}}</span>
    {{else}}
      <div class="col span-8 pt-10">{{input-slider initialValue=gigs changed=(action "setSize") valueMin=10 valueMax=500 step=10}}</div>
      <div class="col span-4 pl-0 pr-0">
        <div class="input-group input-sm pl-0">
          {{input type="text" value=gigs classNames="form-control pr-0"}}
          <div class="input-group-addon bg-default">GB</div>
        </div>
      </div>
    {{/if}}
  </div>
</td>

<td>&nbsp;</td>
<td>{{input type="text" class="form-control" value=disk.readIops placeholder=(t 'formDisks.readIops.placeholder')}}</td>
<td>&nbsp;</td>
<td>{{input type="text" class="form-control" value=disk.writeIops placeholder=(t 'formDisks.writeIops.placeholder')}}</td>
<td>&nbsp;</td>

<td>
  {{new-select
    classNames="form-control"
    content=driverChoices
    value=disk.driver
  }}
</td>

<td class="text-right">
  <button class="btn bg-primary btn-sm" {{action "remove"}}><i class="icon icon-minus"/><span class="sr-only">{{t 'generic.remove'}}</span></button>
</td>
