<section class="header">
  <h1 style="display: block">{{t 'dockerCLI.header'}}</h1>
</section>

<section class="well">
  {{#if (eq step 1)}}
    <p>{{t 'dockerCLI.start'}}:</p>
    <button {{action "generate"}} class="btn btn-primary">{{t 'dockerCLI.button'}}</button>
  {{/if}}
  {{#if (eq step 2)}}
    <i class="icon icon-spinner icon-spin"></i> {{t 'dockerCLI.generating'}}
  {{/if}}
  {{#if (eq step 3)}}
    <i class="icon icon-spinner icon-spin"></i> {{t 'dockerCLI.activating'}}
  {{/if}}
  {{#if (eq step 4)}}
    <p>{{t 'dockerCLI.complete'}}</p>
    <ul>
      <li>{{format-html-message 'dockerCLI.createDirectory'}}</li>
      <li>{{t 'dockerCLI.extractZip'}}</li>
      <li>{{format-html-message 'dockerCLI.copyFiles'}}</li>
      <li>{{format-html-message 'dockerCLI.exportVars' swarmEndpoint=endpoint.swarm}}</li>
      <li>{{format-html-message 'dockerCLI.test'}}</li>
    </ul>
  {{/if}}
</section>

<section class="well">
  <p>{{format-html-message 'dockerCLI.well'}}:</p>

  {{container-shell
    classNames="inline-block"
    command=model.command
    instance=model.instance
    cols=120
    rows=30
    showProtip=false
  }}
</section>
