<h4>{{t 'modalContainerStop.header'}}</h4>

<div style="margin: 30px 10px;">
  <h3>{{originalModel.displayName}}</h3>
</div>

<div class="row form-group">
  <div class="col-sm-12">
    {{t 'modalContainerStop.helpText'  defaultTimeout=defaultTimeout}}
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">{{t 'modalContainerStop.label'}}</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{input type="text" value=inputTimeout classNames="form-control" placeholder=(t 'modalContainerStop.placeholder')}}
  </div>
  <div class="col-sm-12 col-md-8 col-md-offset-2 text-muted" style="font-size: 12px;">
    {{t 'modalContainerStop.protip' alternateLabel=alternateLabel}}
  </div>
</div>

<div class="footer-actions">
  <button {{action "stop"}} class="btn btn-danger">{{t 'modalContainerStop.button'}}</button>
  <button {{action "cancel"}} class="btn btn-primary">{{t 'generic.closeModal'}}</button>
</div>
