<h3 class="container-header-text">
  {{t 'modalContainerStop.header'}}:
  <div class="display-name">
    {{#each resources as |resource|}}
      {{resource.displayName}}
    {{/each}}
  </div>
</h3>

<div class="footer-actions">
  <button {{action "stop"}} class="btn bg-error">{{t 'modalContainerStop.button'}}</button>
  <button {{action "cancel"}} class="btn bg-transparent">{{t 'generic.cancel'}}</button>
</div>

<hr/>
<div class="protip">{{t 'modalContainerStop.protip' key=alternateLabel}}</div>