{{#accordion-list-item
     title=(t 'formSslTermination.title')
     detail=(t 'formSslTermination.detail' appName=settings.appName)
     status=status
     statusClass=statusClass
     expandAll=expandAll
     expand=(action expandFn)
}}
  {{#each certs as |cert index|}}
    <div class="mb-10 pt-5">
      {{form-certificate-row
          cert=cert
          allCertificates=allCertificates
          editing=editing
          removeCert=(action "removeCert")
      }}
      <hr class="mt-20 mb-20" />
      {{form-ssl-rows
          editing=editing
          hosts=cert.hosts
      }}
      <hr />
    </div>
  {{else}}
    <div class="text-center">
      <div class="text-muted mb-20">{{t 'formSslTermination.noCertificatesConfiged'}}</div>
    </div>
  {{/each}}
  {{#if (and editing (or allCertificates.length (not certs.length)))}}
    <div class="row">
      <button class="btn bg-link icon-btn pull-right" {{action "addCert"}}>
        <span class="darken"><i class="icon icon-plus text-small"></i></span>
        <span>{{t 'formSslTermination.addCertLabel'}}</span>
      </button>
    </div>
  {{/if}}
{{/accordion-list-item}}
