<div class="login">
  {{#if changePassword}}
    <div class="header">
      <h1>{{t (concat 'modalEditPassword.' (if newInstall 'newInstall' 'edit') '.title') appName=settings.appName}}</h1>
      <p class="help-text">{{t (concat 'modalEditPassword.' (if newInstall 'newInstall' 'edit') '.help') appName=settings.appName htmlSafe=true}}</p>
    </div>
    {{input-edit-password
        complete="complete"
        user=user
        currentPassword=code.password
        showCurrent=false
        cancelDisabled=true
    }}
  {{else}}
    <h1>
      {{t 'loginPage.greeting' appName=settings.appName htmlSafe=true}}
      <div class="logo"></div>
    </h1>
    <section class="pb-0">
      {{language-dropdown login=true class='mb-10'}}
      <br/>
      {{#unless promptPasswordReset}}
        {{#if isGithub}}
          {{login-github action="started"}}
        {{/if}}

        {{#if isShibboleth}}
          <p>{{t 'loginPage.shibbolethMessage' appName=settings.appName}}</p>
          <br/>
        {{/if}}

        {{#if infoMsg}}
          <div class="banner p-10 {{if errorMsg 'bg-error' 'bg-warning'}}" role="alert">
            {{infoMsg}}
            {{#if (and isGithub isForbidden)}}
              <br/>
              <br/>
              <div>
                {{t 'loginGithub.thirdPartyAccessLimitation' htmlSafe=true}}
              </div>
            {{/if}}
          </div>
        {{/if}}
        {{#if isShibboleth}}
          {{login-shibboleth action="started" waiting=waiting}}
        {{/if}}
      {{/unless}}

      {{#if isCaas}}
        {{caas-login promptReset=(mut promptPasswordReset)}}
      {{/if}}

      {{!-- {{#if (or isLocal isActiveDirectory isOpenLdap isAzureAd)}} --}}
      {{#if isActiveDirectory}}
        {{login-user-pass
            classNames="row"
            action="authenticate"
            waiting=waiting
            provider="activedirectory"
        }}
      {{/if}}

      {{#if isLocal}}
        {{login-user-pass
            classNames="row"
            action="authenticate"
            waiting=waiting
            shown=onlyLocal
            provider="local"
        }}
      {{/if}}

      {{#if app.initError}}
        {{banner-message color='bg-error' icon='icon-alert' message=app.initError.message}}

        <button class="btn bg-primary" {{action "reload"}}>
          <i class="icon icon-refresh text-small"/> Reload
        </button>
      {{/if}}
    </section>
  {{/if}}
</div>
