<div class="login">
  <h1>
    {{t 'loginPage.greeting' appName=settings.appName htmlSafe=true}}
    <div class="logo"></div>
  </h1>
  <section class="pb-0">
    {{language-dropdown login=true class='mb-10'}}
    <br/>
    {{#unless promptPasswordReset}}
      {{#if isGithub}}
        {{login-github action="started"}}
      {{/if}}

      {{#if isShibboleth}}
        <p>{{t 'loginPage.shibbolethMessage' appName=settings.appName}}</p>
        <br/>
        {{login-shibboleth
            action="started"
            waiting=waiting
        }}
      {{/if}}

      {{#if isCaas}}
        {{caas-login promptReset=(mut promptPasswordReset)}}
      {{/if}}

      {{#if isActiveDirectory}}
        {{login-user-pass
            classNames="row"
            action="authenticate"
            waiting=waiting
            provider="activedirectory"
        }}
      {{/if}}

      {{#if isLocal}}
        {{login-user-pass
            classNames="row"
            action="authenticate"
            waiting=waiting
            shown=onlyLocal
            provider="local"
        }}
      {{/if}}

      {{#if infoMsg}}
        <div class="banner p-10 {{if errorMsg 'bg-error' 'bg-warning'}}" role="alert">
          {{infoMsg}}
        </div>
      {{/if}}
    {{/unless}}

    {{#if app.initError}}
      {{banner-message color='bg-error' icon='icon-alert' message=app.initError.message}}

      <button class="btn bg-primary reload-btn" {{action "reload"}}>
        <i class="icon icon-refresh text-small"/> Reload
      </button>
    {{/if}}
  </section>
</div>
