<div class="login">
  {{#if setServerUrl}}
      <div class="header">
        <h1>{{t 'loginPage.serverSettings.url.label'}}</h1>
        <p class="help-text">{{t 'loginPage.serverSettings.url.detail'}}</p>
      </div>
      <form class="horizontal-form container-fluid text-left" {{action 'save' on="submit"}}>
        <label for="server-url" class="acc-label">Server Url</label>
        <div class="input-group">
          <span class="input-group-addon bg-default">
            <label>https://</label>
          </span>
          {{input-url
              classNames="form-control"
              id="server-url"
              isInvalid=(action (mut urlInvalid))
              urlWarning=(action (mut urlWarning))
              urlError=(action (mut urlError))
              value=serverUrl
          }}
        </div>
        {{#if urlInvalid}}
          {{#each urlError as |error|}}
            <div class="banner bg-{{error.type}} mt-30">
              <div class="banner-icon"><i class="icon icon-info"></i></div>
              <div class="banner-message">
                <p>{{error.msg}}</p>
              </div>
            </div>
          {{/each}}
        {{/if}}
        {{top-errors
            errors=errors
        }}
        {{save-cancel
            cancelDisabled=true
            editLabel="loginPage.serverSettings.url.button.save"
            editing=true
            save="saveServerUrl"
            saveDisabled=(or urlInvalid (not serverUrl null))
        }}
      </form>
      <div>
        {{#each urlWarning as |warning|}}
          <div class="banner bg-{{warning.type}} mt-30">
            <div class="banner-icon"><i class="icon icon-info"></i></div>
            <div class="banner-message">
              <p>{{warning.msg}}</p>
            </div>
          </div>
        {{/each}}
      </div>
  {{else}}
    <h1>
      {{t 'loginPage.greeting' appName=settings.appName htmlSafe=true}}
      <div class="logo"></div>
    </h1>
    <section class="pb-0">
      {{language-dropdown login=true class='mb-10'}}
      <br/>
      {{#unless promptPasswordReset}}
        {{#if isGithub}}
          {{login-github action="started"}}
        {{/if}}

        {{#if isShibboleth}}
          <p>{{t 'loginPage.shibbolethMessage' appName=settings.appName}}</p>
          <br/>
          {{login-shibboleth
            action="started"
            waiting=waiting
          }}
        {{/if}}

        {{#if isCaas}}
          {{caas-login promptReset=(mut promptPasswordReset)}}
        {{/if}}

        {{#if isActiveDirectory}}
          {{login-user-pass
            classNames="row"
            action="authenticate"
            waiting=waiting
            provider="activedirectory"
          }}
        {{/if}}

        {{#if isLocal}}
          {{login-user-pass
            classNames="row"
            action="authenticate"
            waiting=waiting
            shown=onlyLocal
            provider="local"
          }}
        {{/if}}

        {{#if infoMsg}}
          <div class="banner p-10 {{if errorMsg 'bg-error' 'bg-warning'}}" role="alert">
            {{infoMsg}}
          </div>
        {{/if}}
      {{/unless}}

      {{#if app.initError}}
        {{banner-message color='bg-error' icon='icon-alert' message=app.initError.message}}

        <button class="btn bg-primary" {{action "reload"}}>
          <i class="icon icon-refresh text-small"/> Reload
        </button>
      {{/if}}
    </section>
  {{/if}}
</div>
