<section class="horizontal-form container-fluid">
  {{#if justCreated}}
    <h2>{{t 'editApiKey.title.justCreated'}}</h2>
    <hr/>

    <div class="input-group">
      <span class="input-group-addon bg-default">{{t 'apiPage.currentEndpoint'}}</span>
        <code class="form-control"><a href="{{linkEndpoint}}" target="_blank" rel="nofollow noreferer">{{displayEndpoint}}</a></code>
      <span class="input-group-addon bg-default">{{copy-to-clipboard clipboardText=linkEndpoint}}</span>
    </div>

    <div class="input-group mt-10">
      <span class="input-group-addon bg-default">{{t 'editApiKey.publicValue.label'}}</span>
        <code class="form-control">{{clone.publicValue}}</code>
      <span class="input-group-addon bg-default">{{copy-to-clipboard clipboardText=clone.publicValue}}</span>
    </div>

    <div class="input-group mt-10">
      <span class="input-group-addon bg-default">{{t 'editApiKey.secretValue.label'}}</span>
        <code class="form-control">{{clone.secretValue}}</code>
      <span class="input-group-addon bg-default">{{copy-to-clipboard clipboardText=clone.secretValue}}</span>
    </div>

{{!--     <div class="row">
      <label class="col">{{t 'apiPage.currentEndpoint'}}</label>
      <div class="col">
        <code><a href="{{linkEndpoint}}" target="_blank" rel="nofollow noreferer">{{displayEndpoint}}</a></code>
        {{copy-to-clipboard clipboardText=linkEndpoint}}
      </div>
    </div> --}}

{{!--     <div class="row">
      <label class="col">{{t 'editApiKey.publicValue.label'}}</label>
      <div class="col">
        {{#copy-to-clipboard clipboardText=clone.publicValue}}
          <code>{{clone.publicValue}}</code>
        {{/copy-to-clipboard}}
      </div>
    </div> --}}

{{!--     <div class="row">
      <label class="col">{{t 'editApiKey.secretValue.label'}}</label>
      <div class="col">
        {{#copy-to-clipboard clipboardText=clone.secretValue}}
          <code>{{clone.secretValue}}</code>
        {{/copy-to-clipboard}}
      </div>
    </div> --}}

    <div class="banner bg-warning">
      <div class="banner-icon">
        <i class="icon icon-info"></i>
      </div>
      <div class="banner-message">
        <p>{{t 'editApiKey.saveWarning1'}}<br/>{{t 'editApiKey.saveWarning2'}}</p>
      </div>
    </div>

    <div class="footer-actions">
      <button {{action "cancel"}} class="btn bg-primary">{{t 'generic.closeModal'}}</button>
    </div>
  {{else}}
    <h2>{{t (if editing 'editApiKey.title.editing' 'editApiKey.title.new')}}</h2>
    <hr/>
    {{#if editing}}
      <div class="row">
        <div class="">
          <label>{{t 'editApiKey.publicValue.label'}}</label>
          <div>{{originalModel.publicValue}}</div>
        </div>
      </div>
    {{/if}}

    {{form-name-description
      model=model
      namePlaceholder="editApiKey.name.placeholder"
      descriptionPlaceholder="editApiKey.description.placeholder"
    }}

    {{#unless editing}}
      <div class="row">
        <div class="">
          <p class="text-info">{{t 'editApiKey.noteOptional'}}</p>
        </div>
      </div>
    {{/unless}}

    {{save-cancel editing=editing save="save" cancel="cancel"}}
  {{/if}}
</section>
