<section class="horizontal-form container-fluid">
  <h2>Add External Service</h2>
  {{top-errors errors=errors}}

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label for="name">Name</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{input id="name" type="text" value=service.name classNames="form-control" placeholder="e.g. external-db"}}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label for="description">Description</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{textarea id="description" value=service.description classNames="form-control no-resize" rows="5" placeholder="e.g. External physical database"}}
    </div>
  </div>

  {{partial "form-divider"}}

  <div class="row">
    <div class="col-xs-6 col-md-2 form-label">
      <label>Targets</label>
    </div>
    <div class="col-xs-6 col-md-8">
      <button class="btn-circle-plus btn-circle-text" style="margin-right: 20px;" {{action "addTargetIp" target="view"}}>Add External IP</button>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12 col-md-8 col-md-offset-2">
      {{#if targetIpArray.length}}
        <table class="table fixed no-lines no-top-padding tight">
          {{#each tgt in targetIpArray}}
            <tr>
              <td>
                {{input type="text" class="form-control input-sm lb-target" value=tgt.value placeholder="e.g. 192.0.2.24"}}
              </td>
              <td width="30" class="text-right">
                <button {{action "removeTargetIp" tgt}} class="btn-circle-x" type="button" tabindex="-1"></button>
              </td>
            </tr>
          {{/each}}
        </table>
      {{/if}}
    </div>
  </div>
</section>

{{partial "save-cancel"}}
