<section class="header clearfix">
  <h1>{{t 'hostsPage.index.header'}}</h1>

  {{#link-to "hosts.new" classNames="btn btn-sm btn-primary"}}{{t 'hostsPage.index.addHost'}}{{/link-to}}

  <div class="btn-group pull-right">
    {{#link-to "hosts" (query-params mode="dot") classNames="btn btn-sm btn-default"}}{{tooltip-link icon="icon-ellipsis" text=(t 'hostsPage.index.tooltip.listView') options=listLinkOptions}}{{/link-to}}
    {{#link-to "hosts" (query-params mode="grouped") classNames="btn btn-sm btn-default"}}{{tooltip-link icon="icon-layeredgroup" text=(t 'hostsPage.index.tooltip.groupedView') options=groupLinkOptions}}{{/link-to}}


  </div>

  <div class="btn-group pull-right r-mr10 r-mt5">
    <label style="font-weight: normal;">{{input type="checkbox" checked=showSystem}} {{t 'hostsPage.index.showSystem'}}</label>
  </div>
</section>

{{#columns-section pods=model.hosts emptyMessage=(t 'hostsPage.index.columns.emptyMessage') as |item| }}
  {{host-pod model=item mode=mode newContainer="newContainer" show=show}}
{{/columns-section}}
