<section class="header clearfix">
  <h1>{{t 'hostsPage.index.header'}}</h1>

  <div class="btn-group pull-right">
    {{#link-to "hosts" (query-params mode="list") classNames="btn btn-sm btn-default"}}{{tooltip-link icon="icon-hamburger-nav" text=(t 'hostsPage.index.tooltip.listView') options=listLinkOptions}}{{/link-to}}
    {{#link-to "hosts" (query-params mode="dot") classNames="btn btn-sm btn-default"}}{{tooltip-link icon="icon-ellipsis" text=(t 'hostsPage.index.tooltip.iconView') options=listLinkOptions}}{{/link-to}}
    {{#link-to "hosts" (query-params mode="grouped") classNames="btn btn-sm btn-default"}}{{tooltip-link icon="icon-layeredgroup" text=(t 'hostsPage.index.tooltip.groupedView') options=groupLinkOptions}}{{/link-to}}

    {{#link-to "hosts.new" classNames="btn btn-sm bg-primary"}}{{t 'hostsPage.index.addHost'}}{{/link-to}}
  </div>

  <div class="btn-group pull-right mr-10 mt-5">
    <label style="font-weight: normal;">{{input type="checkbox" checked=showSystem}} {{t 'hostsPage.index.showSystem'}}</label>
  </div>
</section>

{{#if (eq mode "list")}}
  {{#sortable-table
    classNames="grid sortable-table"
    body=model.hosts
    sortBy=sortBy
    bulkActions=true
    bulkActionCallee=(action 'applyBulkAction')
    bulkActionsList=bulkActionsList
    subRows=true
    headers=headers as |host kind|}}
    {{#if (eq kind "row")}}
      {{host-row model=host}}
    {{else if (eq kind "sub-row")}}
      <tr class="sub-row hide">{{! make the alternating color match }}</tr>
      <tr class="sub-row text-muted">
        <td></td>
        <td>
          <span class="host-blurb text-small" role="button" {{action "toggleExpand" host.id}}>
            {{#if (array-includes expandedHosts host.id)}}
              <i class="icon icon-minus-square"></i> Hide Containers
            {{else}}
              <i class="icon icon-plus-square"></i> Show Containers
            {{/if}}
          </span>
        </td>
        <td colspan="{{sub headers.length 1}}" class="text-small">
          <span class="host-blurb"><i class="icon icon-cpu"></i> {{host.cpuBlurb}}</span>
          <span class="host-blurb"><i class="icon icon-memory"></i> {{host.memoryBlurb}}</span>
          <span class="host-blurb"><i class="icon icon-hdd"></i> {{host.diskBlurb}}</span>
          <span class="host-blurb"><i class="icon icon-host"></i> {{host.osBlurb}}</span>
        </td>
      <//tr>
      <tr class="sub-row hide">{{! make the alternating color match }}</tr>
      <tr class="sub-row">
        <td colspan="{{add 1 headers.length}}" class="pl-40 pr-40">
          {{#if (array-includes expandedHosts host.id)}}
            {{container-table
              body=host.instances
              stickyHeader=false
              showHost=false
              bulkActions=false
              search=false
            }}
          {{/if}}
        </td>
      </tr>
    {{else if (eq kind "nomatch")}}
      <tr><td colspan="{{headers.length}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'hostsPage.index.table.noMatch'}}</td></tr>
    {{else if (eq kind "norows")}}
      <tr><td colspan="{{headers.length}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'hostsPage.index.table.noData'}}</td></tr>
    {{/if}}
  {{/sortable-table}}
{{else}}
  {{#columns-section pods=model.hosts emptyMessage=(t 'hostsPage.index.columns.emptyMessage') as |item| }}
    {{host-pod model=item mode=mode newContainer="newContainer" show=show}}
  {{/columns-section}}
{{/if}}
