<section class="header">
  <h1>Hosts</h1>

  {{#link-to "hosts.new" classNames="btn btn-sm btn-primary"}}Add Host{{/link-to}}

  <div class="btn-group pull-right">
    {{tooltip-link icon="icon-ellipsis" text="List" options=listLinkOptions}}
    {{tooltip-link icon="icon-thumbnails" text="Containers" options=containerLinkOptions}}
    {{tooltip-link icon="icon-layeredgroup" text="Grouped Stacks & Sidekicks" options=groupLinkOptions}}
  </div>
</section>

{{#columns-section pods=pods emptyMessage="No hosts or containers yet." as |item| }}
  {{#if item.isPendingMachine}}
    {{host-pod model=item.machine mode=mode newContainer="newContainer"}}
  {{else}}
    {{host-pod model=item mode=mode newContainer="newContainer"}}
  {{/if}}
{{/columns-section}}
