<section class="header clearfix">
  <h1>{{t 'hostsPage.index.header'}}</h1>

  <div class="btn-group pull-right">
    {{#link-to "hosts" (query-params mode="list") classNames="btn btn-sm btn-default"}}{{tooltip-link icon="icon-hamburger-nav" text=(t 'hostsPage.index.tooltip.listView') options=listLinkOptions}}{{/link-to}}
    {{#link-to "hosts" (query-params mode="dot") classNames="btn btn-sm btn-default"}}{{tooltip-link icon="icon-ellipsis" text=(t 'hostsPage.index.tooltip.iconView') options=listLinkOptions}}{{/link-to}}
    {{#link-to "hosts" (query-params mode="grouped") classNames="btn btn-sm btn-default"}}{{tooltip-link icon="icon-layeredgroup" text=(t 'hostsPage.index.tooltip.groupedView') options=groupLinkOptions}}{{/link-to}}

    {{#link-to "hosts.new" classNames="btn btn-sm bg-primary"}}{{t 'hostsPage.index.addHost'}}{{/link-to}}
  </div>
</section>

{{#if (eq mode "list")}}
  {{#sortable-table
    classNames="grid sortable-table"
    body=model.hosts
    searchText=searchText
    sortBy=sortBy
    bulkActions=true
    subRows=true
    fullRows=true
    pagingLabel="pagination.host"
    subHeaders=containerHeaders
    subSearchField="instances"
    headers=headers as |sortable kind host dt|}}
    {{#if (eq kind "row")}}
      <tr class="main-row">
        <td width="40" class="select-for-action">
          {{check-box nodeId=host.id}}
        </td>
        {{host-row
          model=host
          toggle=(action "toggleExpand" host.id)
          expanded=(array-includes expandedHosts host.id)
          subMatches=sortable.subMatches
        }}
      </tr>
      <tr class="sub-row hide">{{! make the alternating color match }}</tr>
      <tr class="sub-row {{unless (array-includes expandedHosts host.id) 'hide'}}">
        <td colspan="{{add 1 headers.length}}" class="p-0">
          {{#if (array-includes expandedHosts host.id)}}
            {{container-table
              body=host.instances
              stickyHeader=false
              bulkActions=true
              search=false
              searchText=searchText
              subRow=true
              showHost=false
            }}
          {{/if}}
        </td>
      </tr>
      <tr class="sub-row hide">{{! make the alternating color match }}</tr>
      <tr class="separator-row {{unless (array-includes expandedHosts host.id) 'hide'}}">
        <td colspan="{{add 1 headers.length}}"></td>
      </tr>
    {{else if (eq kind "nomatch")}}
      <tr><td colspan="{{headers.length}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'hostsPage.index.table.noMatch'}}</td></tr>
    {{else if (eq kind "norows")}}
      <tr><td colspan="{{headers.length}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'hostsPage.index.table.noData'}}</td></tr>
    {{/if}}
  {{/sortable-table}}
{{else}}
  {{#columns-section pods=model.hosts emptyMessage=(t 'hostsPage.index.columns.emptyMessage') as |item| }}
    {{host-pod model=item mode=mode newContainer="newContainer"}}
  {{/columns-section}}
{{/if}}
