<tr class="main-row">
  <td class="row-check" valign="middle" style="padding-top: 2px;">
    {{#if model.canBulkRemove}}
      {{check-box nodeId=model.id}}
    {{/if}}
  </td>
  <td data-title="{{dt.state}}" class="state">
    {{badge-state model=model}}
  </td>
  <td data-title="{{dt.name}}">
    {{#link-to-external "authenticated.cluster" model.id}}
      {{model.displayName}}
    {{/link-to-external}}
    {{#if
      (and
        model.displayWarnings.length
        (not-eq model.state "waiting")
        (not-eq model.state "provisioning")
      )
    }}
      {{#tooltip-element
        type="tooltip-basic"
        tooltipTemplate="tooltip-multi-lines"
        model=model.displayWarnings
        inlineBlock=true
      }}
        <i class="icon icon-alert text-error"></i>
      {{/tooltip-element}}
    {{/if}}
    {{#if model.certsExpiring}}
      {{#tooltip-element
        type="tooltip-expiring"
        model=model
        tooltipTemplate="tooltip-static"
        aria-describedby="tooltip-base"
        tooltipFor="tooltipCertExpire"
      }}
        <i class="icon icon-alert text-warning"></i>
      {{/tooltip-element}}
    {{/if}}
    {{#if model.nodeGroupVersionUpdate}}
      {{#tooltip-element
        type="tooltip-node-group-update"
        model=model
        tooltipTemplate="tooltip-static"
        aria-describedby="tooltip-base"
        tooltipFor="tooltipNodeGroupVersionUpdate"
      }}
        <i class="icon icon-alert text-warning"></i>
      {{/tooltip-element}}
    {{/if}}
    {{cluster-template-revision-upgrade-notification cluster=model}}
  </td>
  <td data-title="{{dt.provider}}">
    {{#if model.version.gitVersion}}
      <small>
        {{model.displayProvider}}
      </small>
      <p class="text-small text-muted m-0">
        {{model.version.gitVersion}}
      </p>
    {{else}}
      <small>
        {{model.displayProvider}}
      </small>
    {{/if}}
  </td>
  {{#if (eq model.state "inactive")}}
    <td colspan="3" class="text-center">
      {{t "clusterRow.noHosts"}}
    </td>
  {{else}}
    <td data-title="{{dt.nodes}}">
      {{#link-to-external "authenticated.cluster.nodes" model.id}}
        {{#if (gt (get subMatches model.id) 0)}}
          <b>
            {{model.machines.length}}
          </b>
        {{else}}
          {{model.machines.length}}
        {{/if}}
      {{/link-to-external}}
    </td>
    <td data-title="{{dt.cpu}}">
      {{#if model.cpuUsage}}
        <small>
          {{model.cpuUsage}}
        </small>
        <p class="text-small text-muted m-0">
          {{model.cpuPercent}}
        </p>
      {{else}}
        <span class="text-muted">
          {{t "generic.na"}}
        </span>
      {{/if}}
    </td>
    <td data-title="{{dt.memory}}">
      {{#if model.memoryUsage}}
        <small>
          {{model.memoryUsage}}
        </small>
        <p class="text-small text-muted m-0">
          {{model.memoryPercent}}
        </p>
      {{else}}
        <span class="text-muted">
          {{t "generic.na"}}
        </span>
      {{/if}}
    </td>
  {{/if}}
  <td data-title="{{dt.actions}}" class="actions">
    {{action-menu model=model}}
  </td>
</tr>
{{#if model.showTransitioningMessage}}
  {{error-sub-row fullColspan=fullColspan model=model}}
{{/if}}