<h2>{{t 'userPreferencesPage.menu.header'}}</h2>
<div class="box">
  <div class="container-theme-toggle row">
    <div class="col span-6 bg-default {{if (eq menu 'top') 'active' ''}}" {{action 'toogleMenu' 'top'}}>
      <i class="icon icon-list-nested icon-3x vertical-middle"></i>
      <p class="vertical-middle">
        {{t 'userPreferencesPage.menu.top'}}
      </p>
    </div>
    <div class="col span-6 bg-default {{if (eq menu 'left') 'active' ''}}"  {{action 'toogleMenu' 'left'}} >
      <i class="icon icon-list icon-3x vertical-middle"></i>
      <p class="vertical-middle">
        {{t 'userPreferencesPage.menu.left'}}
      </p>
    </div>
  </div>
</div>
