{{top-errors errors=errors}}

<h2>Add Machine Driver</h2>

<div class="form-group">
  <label>Name*</label>
  {{input class="form-control" value=originalModel.name }}
</div>

<div class="form-group">
  <label>Download URL*</label>
  {{input class="form-control" value=originalModel.uri }}
  <span class="help-block">The URL to download the machine driver binary 64-bit Linux.</span>
</div>

<div class="form-group">
  <label>Custom UI URL</label>
  {{input class="form-control" value=originalModel.uiUrl }}
  <span class="help-block">Optional: The URL to load for customized Add Hosts screen for this driver.{{#if settings.isRancher}}  See <a href="https://github.com/rancher/ui-driver-skel" target="_blank">ui-driver-skel</a> for more info.{{/if}}</span>
</div>

<div class="form-group">
  <label>MD5 Checksum</label>
  {{input class="form-control" value=originalModel.md5checksum }}
  <span class="help-block">Optional: Verify that the downloaded driver matches the expected checksum.</span>
</div>

{{save-cancel editing=false save="save" cancel="cancel"}}
