{{top-errors errors=errors}}

<h2>{{t 'modalNewDriver.header'}}</h2>

<div class="form-group">
  <label>{{t 'modalNewDriver.name'}}</label>
  {{input class="form-control" value=originalModel.name }}
</div>

<div class="form-group">
  <label>{{t 'modalNewDriver.downloadLabel'}}</label>
  {{input class="form-control" value=originalModel.uri }}
  <span class="help-block">{{t 'modalNewDriver.downloadUrl'}}</span>
</div>

<div class="form-group">
  <label>{{t 'modalNewDriver.customUrl'}}</label>
  {{input class="form-control" value=originalModel.uiUrl }}
  <span class="help-block">{{t 'modalNewDriver.helpblock1.text'}}{{#if settings.isRancher}}  {{format-html-message 'modalNewDriver.helpblock1.link'}}{{/if}}</span>
</div>

<div class="form-group">
  <label>{{t 'modalNewDriver.checksum'}}</label>
  {{input class="form-control" value=originalModel.md5checksum }}
  <span class="help-block">{{t 'modalNewDriver.helpblock2'}}</span>
</div>

{{save-cancel editing=false save="save" cancel="cancel"}}