{{top-errors errors=errors}}

<h2>Add Custom Machine Driver</h2>
<p class="help-block">You can add your own custom Dynamic Machine Drivers here. *Each driver is required to have a name and driver URI.</p>

<div class="row">
  <div class="form-group col-sm-12 col-md-5">
    <label for="">Name*</label>
    {{input class="form-control input-sm r-mr5" value=originalModel.name }}
  </div>
  <div class="form-group col-sm-12 col-md-5">
    <label for="">Driver URI*</label>
    {{input class="form-control input-sm r-mr5" value=originalModel.uri }}
    <span class="help-block">The URL to download the machine driver for Linux/amd64.</span>
  </div>
</div>
<div class="row">
  <div class="form-group col-sm-12 col-md-10">
    <label for="">MD5 Checksum</label>
    {{input class="form-control input-sm r-mr5" value=originalModel.md5 }}
    <span class="help-block">The expected MD5 for the downloaded driver.</span>
  </div>
</div>

{{partial "save-cancel"}}
