<div>
  <div class="row">
    <ResourceList
      @type={{t "clusterNew.agentConfig.resourceRequirements.requests"}}
      @value={{requests}}
      @update={{action "updateRequests" }}
    />
  </div>
    <div class="row">
    <ResourceList
      @type={{t "clusterNew.agentConfig.resourceRequirements.limits"}}
      @value={{limits}}
      @update={{action "updateLimits"}}
    />
  </div>
</div>