<div class="agent-config">
  {{!-- <BannerMessage
    @color="bg-warning mb-10"
    @message="This is advanced blah blah"
  /> --}}
  <div class ="mb-10 box">
    <div class="row">
      <ResourceList
        @mode={{mode}}
        @type={{t "clusterNew.agentConfig.resourceRequirements.requests"}}
        @value={{requests}}
        @update={{action "updateRequests" }}
      />
    </div>
      <div class="row">
        {{!-- TODO nb display/edit mode --}}
      <ResourceList
        @mode={{mode}}
        @type={{t "clusterNew.agentConfig.resourceRequirements.limits"}}
        @value={{limits}}
        @update={{action "updateLimits"}}
      />
    </div>
  </div>
  <div class="mb-10">
    <div class="row">
      <div class="col span-12 box">
        {{scheduling-toleration editing=(or (eq mode "edit") (eq mode "new")) tolerate=appendTolerations}}
      </div>
    </div>
  </div>
  <FormAffinityK8s
    @mode={{mode}}
    @value={{overrideAffinity}}
    @update={{action "updateAffinity"}}
  />
</div>