{{#if scope.currentCluster.isReady}}
  {{#if scope.currentCluster.isK8s21Plus}}
    {{#banner-message color="bg-error"}}
      <p>{{t 'banner.pipeline21'}}</p>
    {{/banner-message}}
  {{else}}
    {{#banner-message color="bg-warning"}}
      <p>{{t 'banner.pipeline' docsBase=scope.docsBase dashboardBase=scope.dashboardBase htmlSafe=true}}</p>
    {{/banner-message}}
  {{/if}}
{{/if}}

{{#if scope.currentCluster.isWindows}}
  <BannerMessage
    @color="bg-warning"
    @message={{t "windowsCluster.pipelines"}}
  />
{{else}}
  <div class="pt-20"></div>
  {{settings-git
    providers=model.providers
    githubAuthConfig=model.githubAuthConfig
    settings=model.settings
  }}
{{/if}}