{{#liquid-if loading}}
  <div class="text-center">
    <p>
      <i class="icon icon-spinner icon-spin"></i> {{t 'generic.loading'}}
    </p>
  </div>
{{else}}
  <section class="horizontal-form container-fluid">
    <h2>{{t (if model.instance.isVm 'editContainer.title.vm' 'editContainer.title.container')}}</h2>

    {{top-errors errors=errors}}

    {{form-name-description
      model=model.instance
      namePlaceholder="editContainer.name.placeholder"
      descriptionPlaceholder="editContainer.description.placeholder"
    }}

    {{form-ports initialPorts=model.ports editing=true changed=(action "setPorts")}}

    {{form-container-links initialLinks=model.instanceLinks instance=model.instance allHosts=model.allHosts editing=true changed=(action "setLinks")}}
  </section>

  {{save-cancel editing=editing save="save" cancel="cancel"}}
{{/liquid-if}}
