{{#liquid-if loading}}
  <div class="text-center">
    <p>
      <i class="fa fa-circle-o-notch fa-spin"></i> Loading...
    </p>
  </div>
{{else}}
  <section class="horizontal-form container-fluid">
    <h2>Edit Container</h2>
    {{top-errors errors=errors}}

    {{partial "container/edit-name"}}

    {{partial "form-divider"}}

    {{partial "container/edit-ports"}}

    {{partial "form-divider"}}

    {{partial "container/edit-links"}}
  </section>

  {{partial "save-cancel"}}
{{/liquid-if}}
