  <div class="row mb-20">
    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.azureDisk.diskName.label'}}{{#if editing}}{{field-required}}{{/if}}</label>
      {{#input-or-display editable=editing value=config.diskName}}
        {{input type="text" value=config.diskName classNames="form-control" placeholder=(t 'cruPersistentVolume.azureDisk.diskName.placeholder')}}
      {{/input-or-display}}
    </div>
    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.azureDisk.diskURI.label'}}{{#if editing}}{{field-required}}{{/if}}</label>
      {{#input-or-display editable=editing value=config.diskURI}}
        {{input type="text" value=config.diskURI classNames="form-control" placeholder=(t 'cruPersistentVolume.azureDisk.diskURI.placeholder')}}
      {{/input-or-display}}
    </div>
  </div>
  <div class="row mb-20">
    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.azureDisk.kind.label'}}</label>
      {{#if editing}}
        <div class="text-muted">
          <div>
            <label>
              {{radio-button selection=config.kind value='Dedicated'}} {{t 'cruPersistentVolume.azureDisk.kind.dedicated'}}
            </label>
          </div>
          <div>
            <label>
              {{radio-button selection=config.kind value='Managed'}} {{t 'cruPersistentVolume.azureDisk.kind.managed'}}
            </label>
          </div>
          <div>
            <label>
              {{radio-button selection=config.kind value='Shared'}} {{t 'cruPersistentVolume.azureDisk.kind.shared'}}
            </label>
          </div>
        </div>
      {{else if (eq config.kind 'Dedicated')}}
        <div class="text-muted">
          {{t 'cruPersistentVolume.azureDisk.kind.dedicated'}}
        </div>
      {{else if (eq config.kind 'Managed')}}
        <div class="text-muted">
          {{t 'cruPersistentVolume.azureDisk.kind.managed'}}
        </div>
      {{else if (eq config.kind 'Shared')}}
        <div class="text-muted">
          {{t 'cruPersistentVolume.azureDisk.kind.shared'}}
        </div>
      {{/if}}
    </div>
    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.azureDisk.cachingMode.label'}}</label>
      {{#if editing}}
        <div class="text-muted">
          <div>
            <label>
              {{radio-button selection=config.cachingMode value='None'}} {{t 'cruPersistentVolume.azureDisk.cachingMode.none'}}
            </label>
          </div>
          <div>
            <label>
              {{radio-button selection=config.cachingMode value='ReadOnly'}} {{t 'cruPersistentVolume.azureDisk.cachingMode.readOnly'}}
            </label>
          </div>
          <div>
            <label>
              {{radio-button selection=config.cachingMode value='ReadWrite'}} {{t 'cruPersistentVolume.azureDisk.cachingMode.readWrite'}}
            </label>
          </div>
        </div>
      {{else if (eq config.cachingMode 'None')}}
        <div class="text-muted">
          {{t 'cruPersistentVolume.azureDisk.cachingMode.none'}}
        </div>
      {{else if (eq config.cachingMode 'ReadOnly')}}
        <div class="text-muted">
          {{t 'cruPersistentVolume.azureDisk.cachingMode.readOnly'}}
        </div>
      {{else if (eq config.cachingMode 'ReadWrite')}}
        <div class="text-muted">
          {{t 'cruPersistentVolume.azureDisk.cachingMode.readWrite'}}
        </div>
      {{/if}}
    </div>
  </div>
  <div class="row">

    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.azureDisk.fsType.label'}}</label>
      {{#input-or-display editable=editing value=config.fsType}}
        {{input type="text" value=config.fsType classNames="form-control" placeholder=(t 'cruPersistentVolume.azureDisk.fsType.placeholder')}}
      {{/input-or-display}}
    </div>

    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.azureDisk.readOnly.label'}}</label>
      {{#if editing}}
        <div class="text-muted">
          <label>
            {{radio-button selection=config.readOnly value=true}} {{t 'generic.yes'}}
          </label>
          <label>
            {{radio-button selection=config.readOnly value=false}} {{t 'generic.no'}}
          </label>
        </div>
      {{else}}
        <div class="text-muted">
          {{config.readOnly}}
        </div>
      {{/if}}
    </div>
  </div>