<section class="header clearfix">
  <div class="pull-left">
    {{#if editing}}
      <h1>{{t 'rolesPage.editRole'}}</h1>
    {{else}}
      <h1>{{t 'rolesPage.addRole'}}</h1>
    {{/if}}
  </div>
</section>

<section class="mb-10">
  {{form-name-description
    name=model.role.name
    nameRequired=true
    nameDisabled=editing
    namePlaceholder="rolesPage.new.form.name.placeholder"
    colClass="col span-7"
    descriptionShown=false
  }}
</section>

{{#accordion-list showExpandAll=false as |al expandFn|}}
  {{#accordion-list-item
    title="Grant Resources"
    detail="Grant access to specific operations on Kubernetes resources"
    expandAll=al.expandAll
    expand=(action expandFn)
    expandOnInit=true
    showExpand=false
    showStatus=false
  }}
    {{#if ruleArray.length}}
      <table class="table fixed no-lines">
        <thead>
          <tr>
            {{#each ruleVerbs as |verb|}}
              <th width="80" class="text-center">{{t verb}}</th>
            {{/each}}
            <th>{{t 'rolesPage.new.form.allow.resource'}}</th>
            <th width="10">&nbsp;</th>
            <th width="40"></th>
          </tr>
        </thead>
        <tbody>
          {{#each ruleArray as |rule|}}
            {{role-rule-row roleType=roleType rule=rule remove=(action "removeRule")}}
          {{/each}}
        </tbody>
      </table>
    {{/if}}
    <div>
      <button class="btn bg-primary icon-btn p-0" {{action "addRule"}}>
        <span class="darken"><i class="icon icon-plus text-small"/></span>
        <span>{{t 'rolesPage.new.form.allow.addAction'}}</span>
      </button>
    </div>
  {{/accordion-list-item}}

  <div class="row">
    <div class="col span-6">
      {{#accordion-list-item
        title="Inherit from a Role"
        detail="Include all the permissions of another role"
        expandAll=al.expandAll
        expand=(action expandFn)
        expandOnInit=true
        showExpand=false
        showStatus=false
      }}
        {{#if roleArray.length}}
          <table class="table fixed no-lines">
            <thead>
              <tr>
                <th>{{t 'rolesPage.new.form.otherRole.role'}}</th>
                <th width="10">&nbsp;</th>
                <th width="40"></th>
              </tr>
            </thead>
            <tbody>
              {{#each roleArray as |role|}}
                {{other-role-row model=role otherRoles=otherRoles remove=(action "removeOtherRole")}}
              {{/each}}
            </tbody>
          </table>
        {{/if}}
        <div>
          <button class="btn bg-primary icon-btn p-0" {{action "addOtherRole"}}>
            <span class="darken"><i class="icon icon-plus text-small"/></span>
            <span>{{t 'rolesPage.new.form.otherRole.addAction'}}</span>
          </button>
        </div>
      {{/accordion-list-item}}
    </div>

    <div class="col span-6">
      {{#accordion-list-item
        title="Pod Security Policies"
        detail="Apply Policies to Pods created by a user with this Role"
        expandAll=al.expandAll
        expand=(action expandFn)
        expandOnInit=true
        showExpand=false
        showStatus=false
      }}
        {{#if policyArray.length}}
          <table class="table fixed no-lines">
            <thead>
              <tr>
                <th>{{t 'rolesPage.new.form.policy.policy'}}</th>
                <th width="10">&nbsp;</th>
                <th width="40"></th>
              </tr>
            </thead>
            <tbody>
              {{#each policyArray as |policy|}}
                {{policy-row model=policy choices=model.policies remove=(action "removePolicy")}}
              {{/each}}
            </tbody>
          </table>
        {{/if}}
        <div>
          <button class="btn bg-primary icon-btn p-0" {{action "addPolicy"}}>
            <span class="darken"><i class="icon icon-plus text-small"/></span>
            <span>{{t 'rolesPage.new.form.policy.addAction'}}</span>
          </button>
        </div>
      {{/accordion-list-item}}
    </div>
  </div>
{{/accordion-list}}

{{top-errors errors=errors}}
{{save-cancel editing=editing save="save" cancel="cancel"}}
