<section class="header clearfix">
  <div class="pull-left">
    {{#if readOnly}}
      <h1>{{t 'rolesPage.title'}}: {{model.role.name}}</h1>
    {{else if editing}}
      <h1>{{t 'rolesPage.editRole'}}</h1>
    {{else}}
      <h1>{{t 'rolesPage.addRole'}}</h1>
    {{/if}}
  </div>
</section>

{{#unless readOnly}}
  <section class="mb-10">
    {{form-name-description
      model=model.role
      nameRequired=true
      namePlaceholder="rolesPage.new.form.name.placeholder"
    }}
  </section>
{{/unless}}

{{#if (and model.role.description readOnly)}}
  <div class="row mb-30">
    {{banner-message color='bg-secondary mb-0 mt-10' message=(linkify model.role.description)}}
  </div>
{{/if}}

<div class="row">
  <div class="col span-12">
    <label>{{t 'rolesPage.new.form.context.labelText' }}</label>
    {{new-select
        classNames="form-control"
        content=contexts
        optionValuePath="value"
        optionLabelPath="label"
        value=primaryResource.context
    }}
  </div>
</div>
<hr class="mt-30 mb-30" />

{{#accordion-list showExpandAll=false as |al expandFn|}}
  {{#accordion-list-item
    title="Grant Resources"
    detail="Grant access to specific operations on Kubernetes resources"
    expandAll=al.expandAll
    expand=(action expandFn)
    expandOnInit=true
    showStatus=false
  }}
    {{#if ruleArray.length}}
      <table class="table fixed no-lines">
        <thead>
          <tr>
            {{#each ruleVerbs as |verb|}}
              <th width="80" class="text-center">{{t verb}}</th>
            {{/each}}
            <th>{{t 'rolesPage.new.form.allow.resource'}}</th>
            <th width="10">&nbsp;</th>
            <th width="40"></th>
          </tr>
        </thead>
        <tbody>
          {{#each ruleArray as |rule|}}
            {{role-rule-row readOnly=readOnly roleType=roleType rule=rule remove=(action "removeRule")}}
          {{/each}}
        </tbody>
      </table>
    {{else if readOnly}}
      <span class="text-muted">{{t 'generic.none'}}</span>
    {{/if}}
    {{#unless readOnly}}
      <div>
        <button class="btn bg-primary icon-btn p-0" {{action "addRule"}}>
          <span class="darken"><i class="icon icon-plus text-small"/></span>
          <span>{{t 'rolesPage.new.form.allow.addAction'}}</span>
        </button>
      </div>
    {{/unless}}
  {{/accordion-list-item}}

  <div class="row">
    <div class="col span-12">
      {{#accordion-list-item
        title="Inherit from a Role"
        detail="Include all the permissions of another role"
        expandAll=al.expandAll
        expand=(action expandFn)
        expandOnInit=true
        showStatus=false
      }}
        {{#if roleArray.length}}
          <table class="table fixed no-lines">
            <thead>
              <tr>
                <th>{{t 'rolesPage.new.form.otherRole.role'}}</th>
                <th width="10">&nbsp;</th>
                <th width="40"></th>
              </tr>
            </thead>
            <tbody>
              {{#each roleArray as |role|}}
                {{other-role-row model=role readOnly=readOnly otherRoles=otherRoles remove=(action "removeOtherRole")}}
              {{/each}}
            </tbody>
          </table>
        {{else if readOnly}}
          <span class="text-muted">{{t 'generic.none'}}</span>
        {{/if}}
        {{#unless readOnly}}
          <div>
            <button class="btn bg-primary icon-btn p-0" {{action "addOtherRole"}}>
              <span class="darken"><i class="icon icon-plus text-small"/></span>
              <span>{{t 'rolesPage.new.form.otherRole.addAction'}}</span>
            </button>
          </div>
        {{/unless}}
      {{/accordion-list-item}}
    </div>
  </div>
{{/accordion-list}}

{{top-errors errors=errors}}

{{#unless readOnly}}
  {{save-cancel editing=editing save="save" cancel="cancel"}}
{{/unless}}
