<div class="col span-2 col-inline">
  <label>{{fieldDef.name}}{{if fieldDef.required '*'}}</label>
</div>
<div class="col span-4">
  {{#if (eq fieldDef.type 'boolean')}}
    {{input type="checkbox" checked=value}}
  {{else if (eq fieldDef.type 'float')}}
    {{input type="number" value=value classNames="form-control" placeholder=placeholder min=fieldDef.min max=fieldDef.max}}
  {{else if (eq fieldDef.type 'int')}}
    {{input-integer value=value classNames="form-control" placeholder=placeholder min=fieldDef.min max=fieldDef.max}}
  {{else}}
    {{input type="text" value=value classNames="form-control" placeholder=fieldDef.placeholder}}
  {{/if}}
</div>
<div class="col span-4">
  <p class="text-info">{{fieldDef.description}}</p>
</div>
