
<label class="acc-label">{{fieldDef.name}}{{if fieldDef.required '*'}}</label>
  {{#if (eq fieldDef.type 'boolean')}}
    {{input type="checkbox" checked=value classNames="m-10"}}
  {{else if (eq fieldDef.type 'float')}}
    {{input type="number" value=value classNames="form-control" placeholder=placeholder min=fieldDef.min max=fieldDef.max}}
  {{else if (eq fieldDef.type 'int')}}
    {{input-integer value=value classNames="form-control" placeholder=placeholder min=fieldDef.min max=fieldDef.max}}
  {{else}}
    {{input type="text" value=value classNames="form-control" placeholder=fieldDef.placeholder}}
  {{/if}}

  <p class="text-info">{{fieldDef.description}}</p>


