<div class="col-md-2 form-label">
  <label class="form-control-static">{{fieldDef.name}}{{if fieldDef.required '*'}}</label>
</div>
<div class="col-md-4 {{if (eq fieldDef.type 'boolean') 'form-control-static'}}">
  {{#if (eq fieldDef.type 'boolean')}}
    {{input type="checkbox" checked=value}}
  {{else if (eq fieldDef.type 'float')}}
    {{input type="number" value=value classNames="form-control" placeholder=placeholder min=fieldDef.min max=fieldDef.max}}
  {{else if (eq fieldDef.type 'int')}}
    {{input-integer value=value classNames="form-control" placeholder=placeholder min=fieldDef.min max=fieldDef.max}}
  {{else}}
    {{input type="text" value=value classNames="form-control" placeholder=fieldDef.placeholder}}
  {{/if}}
</div>
<div class="col-sm-12 col-md-4">
  <p class="form-control-static help-block">{{fieldDef.description}}</p>
</div>
