<div class="input-service">
  <select class="{{selectClass}}" onchange={{action (mut selected) value="target.value"}}>
    <option selected={{and (eq selected null) (not-eq customMode true)}}>{{t 'schema.inputService.prompt'}}</option>
    {{#if showCustomOption}}
      <option value="customMode" selected={{eq customMode true}}>{{t 'schema.inputService.custom.prompt'}}</option>
    {{/if}}
    {{#each-in grouped as |group list|}}
      <optgroup label={{group}}>
        {{#each list as |svc|}}
          <option selected={{eq selected svc.id}} value={{svc.id}}>{{svc.name}}</option>
        {{/each}}
      </optgroup>
    {{/each-in}}
  </select>
  {{#if customMode}}
    {{input class="form-control input-sm input-select" type="text" value=custom placeholder=(t 'schema.inputService.custom.placeholder')}}
  {{/if}}
</div>