{{#sortable-table
      classNames="grid fixed mb-0 sortable-table"
      bulkActions=false
      rowActions=false
      paging=false
      search=true
      sortBy=sortBy
      stickyHeader=false
      descending=descending
      headers=headers
      body=model
      as |sortable kind label|
}}
  {{#if (eq kind "row")}}
    <tr>
      <td data-title="{{t 'formEnvVar.labels.key'}}:" class="force-wrap">{{label.key}}</td>
      <td data-title="{{t 'formEnvVar.labels.value'}}:" class="force-wrap">{{label.value}}</td>
    </tr>
  {{else if (eq kind "norows")}}
    <tr>
      <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'formEnvVar.noData'}}</td>
    </tr>
  {{/if}}
{{/sortable-table}}