<section class="header clearfix">
  <h1>{{t 'machinePage.header'}}</h1>
  <button class="btn btn-sm btn-primary right-divider-btn" {{action 'addNewDriver'}}>{{t 'machinePage.add'}}</button>
</section>

<section>
  <h5>{{format-html-message 'machinePage.subtext'}}</h5>
  <hr>
</section>

<section class="r-plr15 clearfix">
  {{#each arranged as |driver|}}
    {{#catalog-box
      model=driver
      active=(not (or (eq driver.state 'inactive') (eq driver.type 'template')))
      classNames='machine'
      showIcon=false
      showDescription=false
      as |section|
    }}
      {{#if (eq section 'header')}}
        <div class='catalog-header r-mt5'>
          <div class="clearfix r-mb5 r-pl10 r-pr10">
            {{#if driver.state}}
              {{badge-state model=driver class="pull-left"}}
            {{else}}
              <span class="state badge text-danger bg-danger pull-left">
                <i class="icon icon-circle"></i> {{t 'machinePage.inactive'}}
              </span>
            {{/if}}
            {{#if driver.catalogId}}
              <div class=" btn-group resource-actions action-menu pull-right">
                {{#tooltip-element inlineBlock=true type="tooltip-basic" tooltipTemplate="tooltip-static" model=(t 'generic.activate') tagName="span" tooltipFor="catalogMachine"}}
                  <button class="btn btn-default btn-xs" aria-label={{t 'generic.activate'}} {{action 'addCatalogDriver' driver}}>
                    <i class="icon-fw icon icon-play" alt={{t 'generic.activate'}}></i>
                  </button>
                {{/tooltip-element~}}
              </div>
            {{else}}
              {{action-menu model=driver class="pull-right"}}
            {{/if}}
          </div>
        </div>
        {{#if driver.externalId}}
          <div class="catalog-icon r-mb10" style="background-image:url({{driver.catalogTemplateIcon}});"/>
        {{else if driver.machineHasIcon}}
          <div class="catalog-icon r-mb10" style="background-image:url({{driver.machineHasIcon}});"/>
        {{else}}
          <div class="catalog-icon r-mb10 {{driver.iconMapFromConstants}}"/>
        {{/if}}
      {{else if (eq section 'footer')}}
        {{#if (and driver.externalId (not-eq driver.state 'inactive'))}}
          {{upgrade-dropdown model=driver btnClass="btn-sm" currentId=driver.externalId upgradeOnly=false changeVersion=(action "upgradeDriver" driver)}}
        {{else if driver.builtin}}
          <span class="text-muted">{{t 'machinePage.builtin'}}</span>
        {{/if}}
      {{/if}}
    {{/catalog-box}}
  {{/each}}
</section>
