<table class="grid fixed r-mb0">
  <thead>
    {{#if model.length}}
      <tr>
        {{sortable-th sortable=this action="changeSort" name="name" label="generic.name"}}
        {{sortable-th sortable=this action="changeSort" name="port" label="k8s.servicePorts.port"}}
        {{sortable-th sortable=this action="changeSort" name="targetPort" label="k8s.servicePorts.containerPort"}}
        {{sortable-th sortable=this action="changeSort" name="nodepPort" label="k8s.servicePorts.nodePort"}}
        {{sortable-th sortable=this action="changeSort" name="protocol" label="k8s.servicePorts.protocol"}}
      </tr>
    {{/if}}
  </thead>
  <tbody>
    {{#each arranged as |obj|}}
      <tr>
        <td class="force-wrap">{{obj.name}}</td>
        <td class="force-wrap">{{obj.port}}</td>
        <td class="force-wrap">{{obj.targetPort}}</td>
        <td class="force-wrap">{{obj.nodePort}}</td>
        <td class="force-wrap">{{obj.protocol}}</td>
      </tr>
    {{else}}
      <tr><td colspan="5" class="text-center text-muted">{{t 'k8s.servicePorts.noPorts'}}</td></tr>
    {{/each}}
  </tbody>
</table>
