<section class="header clearfix">
  <h1>{{headerLabel}}</h1>
</section>

<div class="row">
  <div class="col span-11-of-23 mt-0 mb-0">
    {{form-name-description
      model=ingress
      nameDisabled=existing
      namePlaceholder="servicePage.newIngress.form.name.placeholder"
      descriptionPlaceholder="servicePage.newIngress.form.description.placeholder"
    }}
  </div>

  <div class="col span-11-of-23 mt-0 mb-0 offset-1-of-23">
    {{form-namespace
      editing=(and editing (not existing))
      namespace=namespace
      errors=namespaceErrors
    }}
  </div>
</div>

<section class="mt-40 horizontal-form container-fluid">
  {{form-ingress-rule
    ingress=ingress
    editing=true
  }}
  <hr class="mt-30 mb-30" />
</section>

{{#accordion-list as | al expandFn | }}
  {{form-ssl-termination
    editing=true
    ingress=ingress
    namespace=namespace
    namespacedCertificates=namespacedCertificates
    certificates=certificates
    expandAll=al.expandAll
    expandFn=expandFn
  }}

  {{form-labels-annotations
    classNames="accordion-wrapper"
    labelErrors=labelErrors
    initialLabels=ingress.labels
    setLabels=(action 'setLabels')
    expandAll=al.expandAll
    expandFn=expandFn
    model=ingress
    annotationErrors=annotationErrors
  }}
{{/accordion-list}}

{{#if isGKE}}
  <div class="banner bg-warning">
    <div class="banner-icon"><span class="icon icon-alert"></span></div>
    <div class="banner-message">
      <p>{{t 'ingressPage.gkeIngressWarning'}}</p>
    </div>
  </div>
{{/if}}

{{top-errors errors=errors}}
{{save-cancel editing=true save="save" cancel="cancel"}}
