<section class="header clearfix">
  <div class="pull-left"><h1>{{if isCreate (t 'alertPage.new.addHeader') (t 'alertPage.new.editHeader')}}</h1></div>
</section>
<div class="row">
  <div class="col span-12 pt-0 mt-0">
    {{form-name-description
      name=alertGroup.name
      nameDisabled=false
      description=alertGroup.description
      bothColClass="col span-6 mt-0"
      colClass="col span-12 mt-0"
    }}
  </div>
</div>

<div>
  {{alert/form-alert-rules
      pageScope=pageScope
      isCreate=isCreate
      alertRules=alertRules
      metrics=metrics
      monitoringEnabled=monitoringEnabled
  }}
  <hr/>
  {{alert/form-recipients
      pageScope=pageScope
      isCreate=isCreate
      model=alertGroup
  }}
</div>

<div class="mt-20 clearfix">

  {{#unless showAdvanced}}
  <div class="text-right text-small">
    <a role="button" class="btn bg-transparent p-0" {{action "showAdvanced"}}>{{t 'alertPage.newOrEdit.showAdvanced'}}</a>
  </div>
  {{/unless}}

  {{#if showAdvanced}}
  <div class="box">
    <div class="row">
      <div class="col span-4">
        <label class="acc-label">{{t 'alertPage.newOrEdit.groupWaitSeconds.label'}}</label>
        {{alert/time-duration value=alertGroup.groupWaitSeconds}}
        <p class="text-info text-small">
          {{t 'alertPage.newOrEdit.groupWaitSeconds.helpText'}}
        </p>
      </div>

      <div class="col span-4 offset-2">
        <label class="acc-label">{{t 'alertPage.newOrEdit.groupIntervalSeconds.label'}}</label>
        {{alert/time-duration value=alertGroup.groupIntervalSeconds}}
        <p class="text-info text-small">
          {{t 'alertPage.newOrEdit.groupIntervalSeconds.helpText'}}
        </p>
      </div>
    </div>
    <div class="row">
      <div class="col span-4">
        <label class="acc-label">{{t 'alertPage.newOrEdit.repeatIntervalSeconds.label'}}</label>
        {{alert/time-duration value=alertGroup.repeatIntervalSeconds}}
        <p class="text-info text-small">
          {{t 'alertPage.newOrEdit.repeatIntervalSeconds.helpText'}}
        </p>
      </div>
    </div>
  </div>
  {{/if}}
</div>

<div class="mt-20">
  {{top-errors errors=errors}}
</div>

<div class="mv-20">
  {{save-cancel
      createLabel=(if isCreate 'alertPage.create' 'alertPage.save')
      save="save"
      cancel="cancel"
  }}
</div>
