<div class="clearfix {{if single model.stateBackground}} {{if single 'single'}}">
  {{#unless single}}
    <div class="stack-state {{model.stateBackground}}"><i class="{{model.stateIcon}}"></i></div>
  {{/unless}}

  <div class="header-left collapser">
  </div>

  <div class="header-left">
    <h4>
      {{#if single}}
        <span class="divider clip">{{model.name}}</span>
      {{else}}
        <span class="divider clip">{{#link-to "storagepools.detail" model.id}}{{model.name}}{{/link-to}}</span>
      {{/if}}
      {{#if outputs.length}}
        <div class="btn-group r-ml10">
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Outputs <span class="caret"></span>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            {{#each outputs as |obj|}}
              <li><a href="{{obj.value}}" target="_blank">{{obj.key}}</a></li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </h4>
  </div>

  <div class="header-right right-divider stack-actions" style="width: auto">
    {{#unless single}}
      {{#action-menu model=model}}
        {{#link-to "storagepools.new-volume" (query-params driverName=model.driverName) classNames="btn btn-primary btn-xs"}}Add Volume{{/link-to}}
      {{/action-menu}}
    {{/unless}}
  </div>
</div>

<div class="stack-body r-p0">
  <div class="subsection">
    <h6>Hosts</h6>
    <div class="clearfix r-p10">
      {{#each hostsByName as |host|}}
        <span class="r-pr10"><i class="icon {{host.stateIcon}} {{host.stateBackground}}"></i> {{#link-to "host" host.id}}{{host.displayName}}{{/link-to}}</span>
      {{/each}}
    </div>
  </div>
  {{#if model.volumes.length}}
    <div class="subsection">
      <h6>Volumes</h6>
      <table class="grid fixed" style="margin-bottom: 0">
        <thead>
          <tr>
            {{sortable-th sortable=this action="changeSort" name="state" width="120"}}
            {{sortable-th sortable=this action="changeSort" name="name"}}
            {{sortable-th sortable=this action="changeSort" name="activeMounts" label="Mounts (Container:Path)"}}
            <th width="70">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each arranged as |vol|}}
            <tr>
              <td class="state">
                {{badge-state model=vol}}
              </td>
              <td class="force-wrap">
                <a class="hand">{{vol.displayName}}</a> <i classs="icon icon-info" tooltip="{{vol.displayUri}}"></i>
              </td>
              <td>
                {{#if vol.activeMounts.length}}
                  {{#each vol.activeMounts as |mount|}}
                    <div>
                      {{#link-to "container" mount.instanceId}}{{mount.instance.name}}{{/link-to}}:{{mount.path}}
                      {{#if (eq mount.permissions "ro")}}
                        <span class="text-muted">(read-only)</span>
                      {{/if}}
                    </div>
                  {{/each}}
                {{else}}
                  <span class="text-muted">None</span>
                {{/if}}
              </td>
              <td class="actions wide">
                {{action-menu model=vol}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    <div class="text-muted text-center r-p10">No Volumes</div>
  {{/if}}
</div>
