<div class="clearfix {{if single model.stateBackground}} {{if single 'single'}}">
  <div class="header-left collapser"></div>

  <div class="header-left">
    {{#unless single}}
      <div class="pull-left {{model.stateBackground}}">{{badge-state model=model}}</div>
    {{/unless}}
    <h4>
      {{#if single}}
        <span class="divider clip">{{model.name}}</span>
      {{else}}
        <span class="divider clip">{{#link-to "storagepools.detail" model.id}}{{model.name}}{{/link-to}}</span>
      {{/if}}
      {{#if outputs.length}}
        <div class="btn-group r-ml10">
          <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Outputs <i class="icon icon-fw icon-chevron-down"></i>
          </button>
          <ul class="dropdown-menu dropdown-menu-right">
            {{#each outputs as |obj|}}
              <li><a href="{{obj.value}}" target="_blank">{{obj.key}}</a></li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </h4>
  </div>

  <div class="header-right right-divider stack-actions" style="width: auto">
    {{#unless single}}
      {{#link-to "storagepools.new-volume" (query-params driverName=model.driverName) classNames="btn btn-primary btn-sm"}}Add Volume{{/link-to}}
    {{/unless}}
  </div>
</div>

<hr/>

<div class="stack-body r-p10 row row-full-height">
  <div class="subsection gutter col-xs-6 col-md-3 col-full-height">
    <h6>Hosts</h6>
    <div class="clearfix r-p10 hosts">
      {{#each hostsByName as |host|}}
        <div class="r-m10"><i class="icon {{host.stateIcon}} {{host.stateBackground}}"></i> {{#link-to "host" host.id}}{{host.displayName}}{{/link-to}}</div>
      {{/each}}
    </div>
  </div>
  {{#if model.volumes.length}}
    <div class="subsection gutter col-xs-6 col-md-9 col-full-height">
      <h6>Volumes</h6>
      <table class="grid fixed" style="margin-bottom: 0">
        <thead>
          <tr>
            {{sortable-th sortable=this action="changeSort" name="state" width="125"}}
            {{sortable-th sortable=this action="changeSort" name="name"}}
            {{sortable-th sortable=this action="changeSort" name="activeMounts" label="Mounts (Container: Path)"}}
            <th width="70">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each arranged as |vol|}}
            <tr>
              <td class="state">
                {{badge-state model=vol}}
              </td>
              <td class="force-wrap">
                {{#tooltip-element type="tooltip-basic" model=vol tooltipTemplate="tooltip-storage"}}
                  <a class="hand">{{vol.displayName}}</a> <i classs="icon icon-info"></i>
                {{/tooltip-element}}
              </td>
              <td>
                {{#if vol.activeMounts.length}}
                  {{#each vol.activeMounts as |mount|}}
                    <div>
                      {{~#if mount.instance.isVm~}}
                        {{#link-to "virtualmachine" mount.instanceId}}{{mount.instance.displayName}}{{/link-to}}
                      {{~else~}}
                        {{#link-to "container" mount.instanceId}}{{mount.instance.displayName}}{{/link-to}}
                      {{~/if~}}
                      : {{mount.path}}
                      {{#if (eq mount.permissions "ro")}}
                        <span class="text-muted">(read-only)</span>
                      {{/if}}
                    </div>
                  {{/each}}
                {{else}}
                  <span class="text-muted">None</span>
                {{/if}}
              </td>
              <td class="actions wide">
                {{action-menu model=vol}}
              </td>
            </tr>
          {{/each}}
        </tbody>
      </table>
    </div>
  {{else}}
    <div class="text-muted text-center r-p10">No Volumes</div>
  {{/if}}
</div>
