<div class="banner bg-info {{if single model.stateBackground}} {{if single 'single'}}">
  <div class="collapser"></div>

  <div class="pull-left">
    {{#unless single}}
      <div class="banner-message">
        <p>{{badge-state model=model}}</p>
      </div>
    {{/unless}}
    <div class="banner-message">
      <p class="divider clip">{{model.name}}</p>
      {{!-- when storage pools details ready --}}
      {{!-- {{#if single}} --}}
        {{!-- <span class="divider clip">{{model.name}}</span> --}}
      {{!-- {{else}} --}}
        {{!-- <span class="divider clip">{{#link-to "storagepools.detail" model.id}} {{model.name}}{{/link-to}}</span> --}}
      {{!-- {{/if}} --}}
    </div>
  </div>

  <div class="stack-actions pull-right mt-10 mr-10">
    {{#unless single}}
      {{#link-to "storagepools.new-volume" (query-params driverName=model.driverName) classNames="btn bg-primary btn-sm"}}{{t 'storagePoolSection.volumes.add'}}{{/link-to}}
    {{/unless}}
  </div>
</div>

<div class="stack-body row">
  <div class="box col span-3">
    <h2>{{t 'storagePoolSection.hosts.header'}}</h2>
    <div class="clearfix hosts">
      {{#each hostsByName as |host|}}
        <div class="mb-10"><i class="badge-state icon {{host.stateIcon}} {{host.stateBackground}}"></i> {{#link-to "host" host.id}}{{host.displayName}}{{/link-to}}</div>
      {{else}}
        <div class="text-center text-muted">{{t 'storagePoolSection.hosts.none'}}</div>
      {{/each}}
    </div>
  </div>
  {{#if model.volumes.length}}
    <div class="col span-9 col-full-height">
      <h2>{{t 'storagePoolSection.volumes.header'}}</h2>
      {{#sortable-table
          classNames="grid mb-0 sortable-table"
          bulkActions=false
          paging=false
          search=false
          sortBy=sortBy
          descending=descending
          headers=headers
          body=model.volumes
          as |sortable kind vol|
      }}
        {{#if (eq kind "row")}}
          <td class="state">
            {{badge-state model=vol}}
          </td>
          <td class="force-wrap">
            {{#tooltip-element type="tooltip-basic" model=vol tooltipTemplate="tooltip-storage" tooltipFor="storagePoolSection"}}
              <p class="hand force-wrap clip m-0">{{vol.displayName}}</p> <i classs="icon icon-info"></i>
            {{/tooltip-element}}
          </td>
          <td class="force-wrap">
            {{#if vol.mounts.length}}
              {{#each vol.mounts as |mount|}}
                <div>
                  {{~#if mount.instance.isVm~}}
                    {{#link-to "virtualmachine" mount.instanceId}}{{mount.instance.displayName}}{{/link-to}}
                  {{~else~}}
                    {{#link-to "container" mount.instanceId}}{{mount.instance.displayName}}{{/link-to}}
                  {{~/if~}}
                  : {{mount.path}}
                  {{#if (eq mount.permissions "ro")}}
                    <span class="text-muted">{{t 'storagePoolSection.readOnly'}}</span>
                  {{/if}}
                </div>
              {{/each}}
            {{else}}
              <span class="text-muted">{{t 'generic.none'}}</span>
            {{/if}}
          </td>
          <td class="actions wide">
            {{action-menu model=vol}}
          </td>
        {{else if (eq kind "norows")}}
          <tr>
            <td colspan="{{sortable.fullColspan}}" class="text-center text-muted">{{t 'storagePoolSection.volumes.none'}}</td>
          </tr>
        {{/if}}
      {{/sortable-table}}
    </div>
  {{else}}
    <div class="text-muted text-center pl-10">{{t 'storagePoolSection.volumes.none'}}</div>
  {{/if}}
</div>
