{{yield}}
{{#if avatar}}
  <div class="gh-avatar">
    {{#if avatarUrl}}
      <a {{bind-attr href=url}} target="_blank">
        <img {{bind-attr src=avatarUrl width=size height=size}}>
      </a>
    {{else}}
      <div class="gh-placeholder"></div>
    {{/if}}
  </div>
{{/if}}
<div class="gh-block-content">
  <div class="clip">
    <a {{bind-attr href=url}} target="_blank">{{login}}</a>
  </div>
  <div class="text-muted clip">
    {{#if name}}
      {{name}}
    {{else}}
      <i>No Name</i>
    {{/if}}
  </div>
</div>
