{{#if hasHosts}}
  {{#if (and model.orchestrationState.hasKubernetes (not model.orchestrationState.kubernetesReady))}}
    {{orchestration/wait-kubernetes model=model ready=(action "kubernetesReady")}}
  {{else}}
    <p>No K8s</p>
  {{/if}}

  {{#if (and model.orchestrationState.hasSwarm (not model.orchestrationState.swarmReady))}}
    {{orchestration/wait-swarm model=model ready=(action "swarmReady")}}
  {{else}}
    <p>No Swarm</p>
  {{/if}}

  {{#if (and model.orchestrationState.hasMesos (not model.orchestrationState.mesosReady))}}
    {{orchestration/wait-mesos model=model ready=(action "mesosReady")}}
  {{else}}
    <p>No Mesos</p>
  {{/if}}
{{else}}
  <section class="welcome well">
    <i class="icon icon-host"></i>
    <h2>Adding your first Host</h2>
    <p>
      Before adding your first service or launching a container, you must add at least a single Linux host that supports Docker 1.9.1+ and be able to reach the {{settings.appName}} server via HTTP.
      {{settings.appName}} supports adding Linux hosts in the form of a virtual or physical machine from any public cloud providers, privately hosted clouds, or even bare metal servers.
      {{#if settings.isRancher}}<a href="{{docsBase}}/rancher-ui/infrastructure/hosts/" target="_blank">Learn More</a>{{/if}}
    </p>
    {{#link-to "hosts.new" (query-params backTo="waiting") class="btn btn-primary"}}Add Host{{/link-to}}
  </section>
{{/if}}

