{{#if hasHosts}}
  {{#if (and projects.orchestrationState.hasKubernetes (not projects.orchestrationState.kubernetesReady))}}
    {{orchestration/wait-kubernetes model=model ready=(action "kubernetesReady")}}
  {{/if}}

  {{#if (and projects.orchestrationState.hasSwarm (not projects.orchestrationState.swarmReady))}}
    {{orchestration/wait-swarm model=model ready=(action "swarmReady")}}
  {{/if}}

  {{#if (and projects.orchestrationState.hasMesos (not projects.orchestrationState.mesosReady))}}
    {{orchestration/wait-mesos model=model ready=(action "mesosReady")}}
  {{/if}}
{{else}}

  <section class="welcome well">
    <h2>{{t 'waitingPage.hosts.header' expectHosts=expectHosts}}</h2>
    <p>
      {{format-html-message 'waitingPage.hosts.content' appName=settings.appName minVersion=settings.minDockerVersion expectHosts=expectHosts}}
      {{#if settings.isRancher}}<a href="{{settings.docsBase}}/rancher-ui/infrastructure/hosts/" target="_blank">{{t 'waitingPage.hosts.contentLink'}}</a>{{/if}}
    </p>
    {{#link-to "hosts.new" (query-params backTo="waiting") class="btn btn-primary"}}{{t 'waitingPage.hosts.linkToHost'}}{{/link-to}}
  </section>
{{/if}}
