{{#if hasHosts}}
  {{#if (and model.orchestrationState.hasKubernetes (not model.orchestrationState.kubernetesReady))}}
    {{orchestration/wait-kubernetes model=model ready=(action "kubernetesReady")}}
  {{/if}}

  {{#if (and model.orchestrationState.hasSwarm (not model.orchestrationState.swarmReady))}}
    {{orchestration/wait-swarm model=model ready=(action "swarmReady")}}
  {{/if}}

  {{#if (and model.orchestrationState.hasMesos (not model.orchestrationState.mesosReady))}}
    {{orchestration/wait-mesos model=model ready=(action "mesosReady")}}
  {{/if}}
{{else}}
  <section class="welcome well">
    <i class="icon icon-host"></i>
    <h2>{{t 'waitingPage.hosts.header'}}</h2>
    <p>
      {{t 'waitingPage.hosts.content' appName=settings.appName}}
      {{#if settings.isRancher}}<a href="{{settings.docsBase}}/rancher-ui/infrastructure/hosts/" target="_blank">{{t 'waitingPage.hosts.contentLink'}}</a>{{/if}}
    </p>
    {{#link-to "hosts.new" (query-params backTo="waiting") class="btn btn-primary"}}{{t 'waitingPage.hosts.linkToHost'}}{{/link-to}}
  </section>
{{/if}}

