{{#if showReset}}
  <div class="pt-15"><label>{{t 'caasLogin.resetHeader'}}</label>
  {{#if errMsg}}
    <div class="banner p-10 bg-error" role="alert">{{errMsg}}</div>
  {{/if}}
  {{#if showSuccess}}
    <p>{{t 'caasLogin.resetSuccess'}}</p>
    <a href="#" class="mt-10" {{action "cancel"}}>{{t 'caasLogin.login'}}</a>
  {{else}}
    <form class="form mb-10"  {{action "resetPw" on='submit'}}>
      <div class="row">
        <div class="col span-12" name="user-email">
          {{input type="email" placeholder=(t 'caasLogin.form.email') value=userEmail}}
        </div>
      </div>
      <div class="text-center mt-15">
        {{save-cancel save="resetPw" cancel="cancel" saving=loading saveDisabled=saveDisabled createLabel='caasLogin.reset'}}
      </div>
    </form>
  {{/if}}
  </div>
{{else}}
  <div class="text-center mt-15">
    {{#if app.caasSignup}}
      {{#link-to 'signup' classNames="mr-10"}}{{t 'caasLogin.new'}}{{/link-to}}
    {{/if}}
    <a href="#" onclick={{action 'toggleReset'}}>{{t 'caasLogin.reset'}}</a>
  </div>
{{/if}}
