<h2>{{#if editing}}Edit{{else}}Add{{/if}} Project</h2>
{{top-errors errors=errors}}

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="name">Name</label>
      {{input id="name" type="text" value=name classNames="form-control" placeholder="e.g. lab"}}
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      {{textarea id="description" value=description classNames="form-control no-resize" rows="3" placeholder="e.g. Project for developer experimentation"}}
    </div>
  </div>

  <div class="col-md-6">
    <label for="name">Choose an Owner</label>
    <div class="list-group" id="ownerChoices">
      {{#each choice in ownerChoices}}
        <a {{action "selectOwner" choice.type choice.login}} {{bind-attr class=":list-group-item choice.active:active"}}>
          {{github-block link=false type=choice.githubType login=choice.login}}
        </a>
      {{/each}}
    </div>
  </div>
</div>

{{partial "save-cancel"}}
{{partial "overlay-close"}}
