{{#sortable-table
  tableClassNames="bordered"
  classNames="grid sortable-table"
  bulkActions=true
  paging=true
  search=true
  sortBy=sortBy
  descending=descending
  headers=headers
  body=filteredNotifiers
  as |sortable kind row dt|
}}
  {{#if (eq kind "row")}}
    {{notifier/notifier-row model=row}}
  {{else if (eq kind "nomatch")}}
    <tr>
      <td
        colspan="{{sortable.fullColspan}}"
        class="text-center text-muted pt-20 pb-20"
      >
        {{t 'notifierPage.index.table.noMatch'}}
      </td>
    </tr>
  {{else if (eq kind "norows")}}
    <tr>
      <td
        colspan="{{sortable.fullColspan}}"
        class="text-center text-muted pt-20 pb-20"
      >
        {{t 'notifierPage.index.table.noData'}}
      </td>
    </tr>
  {{/if}}
{{/sortable-table}}
