{{top-errors errors=errors}}

<section class="horizontal-form">
  <div class="container-fluid">
    {{#if showNameScale}}
      <div class="box mt-20">
        <h4>{{t 'machine.driverRackspace.instanceSection'}}</h4>
        <div class="row mb-20">
          {{partial "host/add-common"}}
        </div>
      </div>
    {{/if}}

    <div class="over-hr mt-20 mb-20">
      <span>{{t 'machine.driverRackspace.accountSection'}}</span>
    </div>

    <div class="row inline-form">
      <div class="col span-2 col-inline">
        <label>{{t 'machine.driverRackspace.username.label'}}{{field-required}}</label>
      </div>
      <div class="col span-10">
        {{input type="text" value=rackspaceConfig.username classNames="form-control" placeholder=(t 'machine.driverRackspace.username.placeholder')}}
      </div>
    </div>

    <div class="row inline-form">
      <div class="col span-2 col-inline">
        <label>{{t 'machine.driverRackspace.apiKey.label'}}{{field-required}}</label>
      </div>
      <div class="col span-10">
        {{input type="password" value=model.secretValues.rackspaceConfig.apiKey classNames="form-control" placeholder=(t 'machine.driverRackspace.apiKey.placeholder')}}
        <p class="text-info">{{t 'machine.driverRackspace.accountHelp'}}</p>
      </div>
    </div>

    <div class="over-hr mt-20 mb-20">
      <span>{{t 'machine.driverRackspace.regionSection'}}</span>
    </div>

    <div class="row inline-form">
      <div class="col span-2 col-inline">
        <label>{{t 'machine.driverRackspace.region.label'}}</label>
      </div>
      <div class="col span-10">
        <select class="form-control" onchange={{action (mut rackspaceConfig.region) value="target.value"}}>
          {{#each regionChoices as |choice|}}
            <option value={{choice.value}} selected={{eq rackspaceConfig.region choice.value}}>{{choice.label}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="over-hr mt-20 mb-20">
      <span>{{t 'machine.driverRackspace.instanceOptionsSection'}}</span>
    </div>

    <div class="row inline-form">
      <div class="col span-2 col-inline">
        <label>{{t 'machine.driverRackspace.flavor.label'}}</label>
      </div>
      <div class="col span-10">
        <select class="form-control" onchange={{action (mut rackspaceConfig.flavorId) value="target.value"}}>
          {{#each flavorChoices as |choice|}}
            <option value={{choice.value}} selected={{eq rackspaceConfig.flavorId choice.value}}>{{choice.label}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    {{partial "host/add-options"}}
  </div>

  {{save-cancel save=driverSaveAction cancel="cancel"}}
</section>
