{{top-errors errors=errors}}

<section class="horizontal-form">
  <div class="container-fluid">
    {{partial "host/add-common"}}

    <div class="over-hr r-mt20 r-mb20">
      <span>{{t 'machine.driverRackspace.accountSection'}}</span>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverRackspace.username.label'}}*</label>
      </div>
      <div class="col-md-10">
        {{input type="text" value=rackspaceConfig.username classNames="form-control" placeholder=(t 'machine.driverRackspace.username.placeholder')}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverRackspace.apiKey.label'}}*</label>
      </div>
      <div class="col-md-10">
        {{input type="password" value=rackspaceConfig.apiKey classNames="form-control" placeholder=(t 'machine.driverRackspace.apiKey.placeholder')}}
        <p class="help-block">{{t 'machine.driverRackspace.accountHelp'}}</p>
      </div>
    </div>

    <div class="over-hr r-mt20 r-mb20">
      <span>{{t 'machine.driverRackspace.regionSection'}}</span>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverRackspace.region.label'}}</label>
      </div>
      <div class="col-md-10">
        <select class="form-control" onchange={{action (mut rackspaceConfig.region) value="target.value"}}>
          {{#each regionChoices as |choice|}}
            <option value={{choice.value}} selected={{eq rackspaceConfig.region choice.value}}>{{choice.label}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    <div class="over-hr r-mt20 r-mb20">
      <span>{{t 'machine.driverRackspace.instanceSection'}}</span>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverRackspace.flavor.label'}}</label>
      </div>
      <div class="col-md-10">
        <select class="form-control" onchange={{action (mut rackspaceConfig.flavorId) value="target.value"}}>
          {{#each flavorChoices as |choice|}}
            <option value={{choice.value}} selected={{eq rackspaceConfig.flavorId choice.value}}>{{choice.label}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    {{partial "host/add-options"}}
  </div>

  {{save-cancel save="save" cancel="cancel"}}
</section>
