<td data-title="State:" >
  {{badge-state model=model}}
</td>
<td data-title="ID:" >
  {{model.id}}
</td>
<td data-title="Type:" >
  {{uc-first model.kind}}
</td>
{{#if isLocal}}
  <td data-title="Username:" >
    {{#if model.username}}
      {{model.username}}
    {{else}}
      <span class="text-muted">None</span>
    {{/if}}
  </td>
  <td data-title="Name:" class="force-wrap">
    {{model.displayName}}
  </td>
{{else}}
  <td data-title="ID:" >
    {{#if (and model.externalId model.externalIdType)}}
      {{identity-block externalIdType=model.externalIdType externalId=model.externalId}}
    {{else}}
      <span class="text-muted">None</span>
    {{/if}}
  </td>
{{/if}}
<td data-title="Actions:" class="actions">
  {{partial "fast-action-menu"}}
</td>
