{{#if showDashboard}}
  {{cluster-basic-info cluster=cluster}}

  {{#unless scope.currentCluster.isMonitoringReady}}
    {{#if monitoringEnabled}}
      <div class="row mt-0 mb-0">
        <div class="pull-right text-small text-error">
          {{t 'clusterDashboard.monitoringNotReady'}}
        </div>
      </div>
    {{else}}
      <div class="row mt-0 mb-0">
        <div class="pull-right text-small">
          <button class="btn bg-transparent p-0" {{action "enalbeMonitoring"}}>{{t 'clusterDashboard.enalbeMonitoring'}}</button>
        </div>
      </div>
    {{/if}}
  {{/unless}}

  {{nodes-reservation nodes=nodes}}

  <div class="row mt-0">
    {{k8s-component-status
        label='clusterDashboard.etcd'
        showUrl=scope.currentCluster.isRKE
        healthy=etcdHealthy
        url=grafana.etcdUrl
    }}
    {{k8s-component-status
        label='clusterDashboard.controllerManager'
        healthy=controllerHealthy
        url=grafana.controllerUrl
    }}
    {{k8s-component-status
        label='clusterDashboard.scheduler'
        healthy=schedulerHealthy
        url=grafana.schedulerUrl
    }}
    {{k8s-component-status
        label='clusterDashboard.node'
        healthy=nodesHealthy
        url=grafana.nodesUrl
    }}
  </div>

  <div class="row">
    {{#each unhealthyComponents as |component|}}
      {{#banner-message icon='icon-alert' color='text-left bg-error mt-30'}}
        <p>{{t 'clusterDashboard.alert.component' component=component.name}}</p>
      {{/banner-message}}
    {{/each}}
    {{#each inactiveNodes as |node|}}
      {{#banner-message icon='icon-alert' color='text-left bg-error mt-30'}}
        <p>{{t 'clusterDashboard.alert.node' node=node.displayName}}</p>
      {{/banner-message}}
    {{/each}}
  </div>

  {{#if scope.currentCluster.isMonitoringReady}}
    {{cluster-dashboard-tabs dashboards=dashboards}}
  {{/if}}
{{else}}
  {{empty-table
    resource="container"
    showNew=scope.currentCluster.canAddNode
    newRoute="authenticated.cluster.nodes.templates"
    newTranslationKey="nodesPage.addNode"
    disabled=(rbac-prevents resource="machine" scope="global" permission="create")
    ctx=""
  }}
{{/if}}
