<aside>
  <label>Registry</label>
  {{resource-actions-menu model=this choices=availableActions classNames="pull-right"}}
  <h3 class="force-wrap">{{displayName}}</h3>

  <hr/>

  {{#if description}}
    <label style="margin-top: 10px;">Description</label>
    <p>{{description}}</p>
    <hr/>
  {{/if}}

  <div class="clearfix">
    <label>Info</label>
  </div>

  <ul class="list-circles">
    <li>
      <i {{bind-attr class=":fa-fw stateIcon"}}></i>
      {{displayState}}
      {{#if isTransitioning}}
        <div class="progress progress-striped active" style="height: 10px; border: 0;">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" {{bind-attr aria-valuenow=displayProgress style=progressStyle}}>
            <span class="sr-only">{{displayProgress}}% Complete</span>
          </div>
        </div>
      {{/if}}
      {{#if showTransitioningMessage}}
        <div class="force-wrap">
          {{transitioningMessage}}
        </div>
      {{/if}}
    </li>

    <li>
      <i class="fa-fw ss-link"></i>
      {{serverAddress}}
    </li>
  </ul>
</aside>

<section class="grid-header">
  <div class="row">
    <div class="col-sm-6">
      <h3>Credentials ({{#if credentials.length}}{{credentials.length}}{{else}}0{{/if}})</h3>
    </div>
    <div class="col-sm-6 text-right">
      <button {{action "newCredential"}} class="btn btn-sm btn-primary">Add Credential</button>
    </div>
  </div>
</section>

<section>
  <table class="grid fixed">
    <thead>
      <tr>
        <th width="120">State</th>
        <th>Email</th>
        <th>Username</th>
        <th width="30">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each credential in credentials itemController="registrycredential"}}
        <tr>
          <td>
            <span {{bind-attr class=":badge :state credential.stateBackground"}}>
              {{credential.displayState}}
            </span>
          </td>
          <td>
            {{credential.email}}
          </td>
          <td>
            {{credential.publicValue}}
          </td>
          <td class="actions">
            {{resource-actions-menu model=credential choices=credential.availableActions}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="4">
            <div class="text-muted text-center">This registry has no credentials.</div>
          </td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>
