<td data-title="{{dt.name}}" class="pr-15">
  <IdentityBlock
    @principalId={{ model.id }}
    @wide={{ false }}
  />
</td>

<td data-title="{{dt.globalRoleName}}">
  <div class="comma-list">
    {{#each mappedGroupRoleBindingNamesIds as |grb idx|}}
      <span>
        <LinkTo @route="security.roles.detail" @model={{grb.groupRoleBindingId}} @query={{hash type="global"}} >
          {{grb.groupRoleBindingName~}}
        </LinkTo>
      </span>
    {{/each}}
  </div>
</td>

<td data-title="{{dt.actions}}" class="actions">
  <ActionMenu @model={{groupRoleBinding}} />
</td>