<section class="horizontal-form container-fluid">
<section class="header">
  <h1>{{t (if editing 'newReceiver.title.edit' 'newReceiver.title.add')}}</h1>
</section>

  <div class="row">
    <div class="col span-6">
      <div class="form-label form-control-static">
        <label class="acc-label">{{t 'generic.name'}}{{field-required}}</label>
      </div>
      <div>
        {{input type="text" value=model.name classNames="form-control" placeholder=(t 'newReceiver.name.placeholder')}}
      </div>
    </div>

    <div class="col span-6">
      <div class="form-label form-control-static">
        <label class="acc-label">{{t 'newReceiver.driver.label'}}</label>
      </div>
      <div>
        {{new-select
            classNames="form-control"
            content=scaleTypeChoices
            localizedLabel=true
            value=kind
        }}
      </div>
    </div>
  </div>

  {{#if (eq model.driver "scaleService")}}
    {{webhook/scale-service-config model=model.scaleServiceConfig}}
  {{else if (eq model.driver "scaleHost")}}
    {{webhook/scale-host-config model=model.scaleHostConfig}}
  {{else if (eq model.driver "serviceUpgrade")}}
    {{webhook/service-upgrade-config model=model.serviceUpgradeConfig}}
  {{/if}}
</section>

{{top-errors errors=errors}}
{{save-cancel editing=editing save="save" cancel="cancel"}}
