<section class="header">
  <h1>{{t 'mesosPage.header'}}</h1>
</section>

{{!-- <section class="text-center r-p40">
  <a href="{{model.url}}" target="_blank" rel="noreferrer nofollow" class="btn btn-primary btn-lg">{{t 'mesosPage.actionLink'}}</a>
</section> --}}

<div class="alert alert-info alert-header r-ml20 r-mr20 r-mt20">
    <span class="banner-head">{{t 'mesosPage.banner.header'}} <i class="icon icon-host"></i></span>
      <span class="banner-content">
        {{t 'mesosPage.banner.content' hosts=model.hosts.length}}
        <a href="{{settings.docsBase}}/rancher-ui/infrastructure/hosts/" target="_blank">{{t 'mesosPage.banner.link'}}</a>
      </span>
</div>

<div class="row r-ml20 r-mr20">
  <div class="text-center col-md-6 gutter">
    <div class="well">
      <div class="row">
      <img style="max-height: 55px;" class="col-md-offset-3 col-md-2" src="{{app.baseAssets}}assets/images/meso-aurora.svg" />
      <img style="max-height: 55px;" class="col-md-2" src="{{app.baseAssets}}assets/images/mesos-kafka.svg" />
      <img style="max-height: 55px;" class="col-md-2" src="{{app.baseAssets}}assets/images/mesos-marathon.svg" />
      </div>
      <h4>{{t 'mesosPage.launch.header'}}</h4>
      <p>{{t 'mesosPage.laul-md-2ch.content'}}</p>
      <a class="btn btn-primary">{{t 'mesosPage.launch.button'}}</a>
    </div>
  </div>
  <div class="text-center col-md-6 gutter">
    <div class="well">
      <div class="row">
        <img style="max-height: 55px;" src="{{app.baseAssets}}assets/images/mesos-mesos.svg" />
      </div>
      <h4>{{t 'mesosPage.manage.header'}}</h4>
      <p>{{t 'mesosPage.manage.content'}}</p>
      <a class="btn btn-primary">{{t 'mesosPage.manage.button'}}</a>
    </div>
  </div> 
</div>