<section class="header clearfix">
  <h1>{{t 'mesosPage.header'}}</h1>
</section>

<div class="banner bg-info alert-header ml-20 mr-20 mt-20">
    <span class="banner-head">{{t 'mesosPage.banner.header'}} <i class="icon icon-host"></i></span>
      <span class="banner-content">
        {{t 'mesosPage.banner.content' hosts=activeHostCount}}
        {{#link-to 'hosts' class="pl-10"}}{{t 'mesosPage.banner.link'}}{{/link-to}}
      </span>
</div>

<div class="row ml-20 mr-20">
  <div class="text-center col span-6 gutter">
    <div>
      <div class="row">
        <img height="55" src="{{app.baseAssets}}assets/images/mesos-logo.svg" />
      </div>
      <h4>{{t 'mesosPage.manage.header'}}</h4>
      <p>{{t 'mesosPage.manage.content'}}</p>
      {{#if model.url}}
        <a href="{{model.url}}" target="_blank" rel="noreferrer nofollow" class="btn bg-primary">{{t 'mesosPage.manage.button'}}</a>
      {{else}}
        <button class="btn bg-primary btn-disabled">{{t 'mesosPage.manage.button'}}</button>
      {{/if}}
    </div>
  </div>
  <div class="text-center col span-6 gutter">
    <div>
      <div>
        <img height="55" src="{{app.baseAssets}}assets/images/mesos-frameworks.svg" />
      </div>
      <h4>{{t 'mesosPage.launch.header'}}</h4>
      <p>{{t 'mesosPage.launch.content'}}</p>
      {{#if model.url}}
        {{#link-to 'catalog-tab' class="btn bg-primary"}}{{t 'mesosPage.launch.button'}}{{/link-to}}
      {{else}}
        <button class="btn bg-primary btn-disabled">{{t 'mesosPage.launch.button'}}</button>
      {{/if}}
    </div>
  </div>
</div>
