{{#if hasBlock}}
  {{yield}}
{{else}}
<div {{action launchAction model.id}} role="button">
{{#if showIcon}}
  <div class="catalog-icon">
    <img src="{{app.baseAssets}}assets/images/generic-catalog.svg" data-src={{model.links.icon}}/>
  </div>
  <hr class="ml-20 mr-20" />
{{/if}}
{{#if model.certified}}
  <div class="certified">
    <span>{{model.certified}}</span>
  </div>
{{/if}}
<div class="itemwrap mt-30">
    <h3 class="mb-0">
      {{model.displayName}}
    </h3>
  </div>
</div>
{{/if}}