{{#if projectController.showClusterWelcome}}
  {{cluster-welcome}}
{{else}}
  <section class="header clearfix">
    <h1>{{t 'k8sPage.header'}}</h1>
  </section>

  <div class="row">
    <div class="col span-4 text-center option option-primary">
      <h2>{{t 'k8sPage.dashboard.title'}}</h2>
      <div class="box" style="min-height: 250px;">
        <p>{{t 'k8sPage.dashboard.detail' htmlSafe=true}}</p>

        <div class="links" style="top: auto; bottom: 47px;">
          <button class="btn bg-primary icon-btn" {{action "dashboard"}}>
            <span class="darken"><i class="icon icon-external-link"></i></span>
            <span>{{t 'k8sPage.dashboard.button'}}</span>
          </button>
        </div>
      </div>
      <div class="bubble bg-body round p-10"><img src="{{app.baseAssets}}assets/images/environment-dashboard.svg" class="mt-5" /></div>
    </div>

    <div class="col span-4 text-center option option-primary">
      <h2>{{t 'k8sPage.shell.title'}}</h2>
      <div class="box" style="min-height: 250px;">
        <p>{{t 'k8sPage.shell.detail' htmlSafe=true}}</p>

        <div class="links" style="top: auto; bottom: 47px;">
          <button class="btn bg-primary icon-btn ml-10" onClick={{action "kubectl" allowedKeys="meta"}}>

            <span class="darken"><i class="icon icon-terminal"></i></span>
            <span>{{t 'k8sPage.shell.button'}}</span>
          </button>
        </div>
      </div>
      <div class="bubble bg-body round p-10"><img src="{{app.baseAssets}}assets/images/environment-shell.svg" class="mt-5" /></div>
    </div>

    <div class="col span-4 text-center option option-primary">
      <h2>{{t 'k8sPage.configFile.title'}}</h2>
      <div class="box" style="min-height: 250px;">
        <p>{{t 'k8sPage.configFile.detail' htmlSafe=true}}</p>

        <div class="links" style="top: auto; bottom: 47px;">
          <button class="btn bg-primary icon-btn ml-10" {{action "kubeconfig"}}>
            <span class="darken"><i class="icon icon-download"></i></span>
            <span>{{t 'k8sPage.configFile.button'}}</span>
          </button>
        </div>
      </div>
      <div class="bubble bg-body round p-10"><img src="{{app.baseAssets}}assets/images/environment-config.svg" class="mt-5" /></div>
    </div>
  </div>
{{/if}}
