  {{banner-message color="bg-secondary" message=(t 'machine.driverCustom.instructions' appName=settings.appName)}}

<section>
  <div class="row">
    <div class="col span-12">
      {{form-name-description
        model=primaryResource
        nameRequired=true
        namePlaceholder="hostsPage.new.name.placeholder"
        descriptionShown=true
      }}
    </div>
  </div>

  <div class="row">
    <div class="col span-12">
      <label class="acc-label">{{t 'machine.driverCustom.address.label'}}{{field-required}}</label>
      {{input value=customConfig.address placeholder=(t 'machine.driverCustom.address.placeholder')}}
    </div>
  </div>

  <div class="row">
    <div class="col span-12">
      <label class="acc-label">{{t 'machine.driverCustom.user.label'}}{{field-required}}</label>
      {{input value=customConfig.user placeholder=(t 'machine.driverCustom.user.placeholder')}}
    </div>
  </div>

  <div class="row">
    <div class="col span-12 mt-20">
      {{input-text-file
        label='machine.driverCustom.sshKey.label'
        value=customConfig.sshKey
        accept="text/*"
        minHeight=60
        canChangeName=false
        nameRequired=true
        placeholder="machine.driverCustom.sshKey.placeholder"
      }}
    </div>
  </div>
</section>

<section>
  <div class="footer-actions">
    {{top-errors errors=errors}}
    {{save-cancel save="save" cancel="cancel" editing=true}}
  </div>
</section>
