<div class="radio">
  <label>
    {{radio-button selection=mode value="command" disabled=inModal}}
    Run a command on one or more nodes to register them.  Nodes open an outbound connection to the server container (NAT-friendly).
    {{#if inModal}}
      <div class="text-muted">This mode is only available after the cluster has been created.</div>
    {{/if}}
  </label>

  <label>
    {{radio-button selection=mode value="ssh"}}
    Connect from the server container to a node via SSH.
  </label>
</div>

{{#unless inModal}}
  <div class="row">
    <div class="col span-12">
      {{form-cluster-select
        clusters=clusters
        machine=clonedModel
        hasCluster=cluster
        requestedClusterId=requestedClusterId
        role=role
      }}
    </div>
  </div>
{{/unless}}


{{#if (eq mode "command")}}
  {{t 'machine.driverCustom.command.instructions'
      appName=settings.appName
      docsBase=settings.docsBase
      htmlSafe=true
    }}

    {{#if loading}}
      <div><i class="icon icon-spinner icon-spin"></i> {{t 'machine.driverCustom.command.generating'}}</div>
    {{else}}
      <div class="copy-pre m-20">
        {{copy-to-clipboard clipboardText=command tagName="div" classNames="copy-to-pre"}}
        <pre id="registration-command" style="font-size: 14px;">{{command}}</pre>
      </div>
    {{/if}}

    <hr/>

    {{form-user-labels setLabels=(action 'setLabels') expandAll=null expandOnInit=true}}

  {{#if newNodeCount}}
    <div class="banner bg-success">
      <div class="banner-icon"><span class="icon icon-success"></span></div>
      <div class="banner-message">
        <p>{{t 'machine.driverCustom.detected' count=newNodeCount}}</p>
      </div>
    </div>
  {{/if}}

  <div class="footer-actions">
    <button {{action "cancel"}} class="btn bg-primary">{{t 'generic.closeModal'}}</button>
  </div>
{{else}}
  {{banner-message color="bg-secondary" message=(t 'machine.driverCustom.ssh.instructions' appName=settings.appName)}}
  <div class="row">
    <div class="col span-12">
      {{form-name-description
        model=primaryResource
        nameRequired=true
        namePlaceholder="hostsPage.new.name.placeholder"
        descriptionShown=true
      }}
    </div>
  </div>

  <div class="row">
    <div class="col span-12">
      <label class="acc-label">{{t 'machine.driverCustom.ssh.address.label'}}{{field-required}}</label>
      {{input value=customConfig.address placeholder=(t 'machine.driverCustom.ssh.address.placeholder')}}
    </div>
  </div>

  <div class="row">
    <div class="col span-12">
      <label class="acc-label">{{t 'machine.driverCustom.ssh.user.label'}}{{field-required}}</label>
      {{input value=customConfig.user placeholder=(t 'machine.driverCustom.ssh.user.placeholder')}}
    </div>
  </div>

  <div class="row">
    <div class="col span-12 mt-20">
      {{input-text-file
        label='machine.driverCustom.ssh.sshKey.label'
        value=customConfig.sshKey
        accept="text/*"
        minHeight=60
        canChangeName=false
        nameRequired=true
        placeholder="machine.driverCustom.ssh.sshKey.placeholder"
      }}
    </div>
  </div>

  <div class="footer-actions">
    {{top-errors errors=errors}}
    {{save-cancel save="save" cancel="cancel" editing=true}}
  </div>
{{/if}}

