<section class="header clearfix">
  <h1 class="pull-left">
    {{t "globalDnsPage.header"}}
  </h1>
  <div class="vertical-middle"></div>

  <div class="right-buttons">
    {{#link-to
       "global-dns.entries.new"
       class="btn btn-sm bg-primary"
       disabled=(rbac-prevents resource="globaldns" scope="global" permission="create")
    }}
      {{t "globalDnsPage.newDns"}}
    {{/link-to}}
  </div>
</section>


{{#if rows.length}}
  {{#sortable-table
     classNames="grid sortable-table"
     body=rows
     searchText=searchText
     descending=descending
     sortBy=sortBy
     bulkActions=true
     pagingLabel="pagination.cluster"
     headers=headers as |sortable kind entry dt|
  }}
    {{#if (eq kind "row")}}
      <tr class="main-row">
        <td
          valign="middle"
          class="row-check"
          style="padding-top: 2px;"
        >
          {{check-box nodeId=entry.id}}
        </td>
        <td data-title="{{dt.state}}" class="state">
          {{badge-state model=entry}}
        </td>
        <td data-title="{{dt.fqdn}}">
          {{entry.fqdn}}
        </td>
        <td data-title="{{dt.providerName}}">
          {{entry.providerId}}
        </td>
        <td data-title="{{dt.target}}" class="p-10">
          {{#if (eq entry.target.type "single")}}
            <span class="block">
              {{t "globalDnsPage.entriesPage.config.multi"}} {{entry.multiClusterApp.displayName}}
            </span>
            {{#each entry.multiClusterApp.targets as |target|}}
              {{#link-to-external
                 "apps-tab.detail"
                 target.projectId
                 target.appLink
                 classNames="block"
              }}
                {{target.clusterName}}:{{target.projectName}}
              {{/link-to-external}}
            {{else}}
              <div>
                {{#tooltip-element
                   type="tooltip-basic"
                   model=(t "globalDnsPage.entriesPage.access.noAccessMulti")
                   tooltipTemplate="tooltip-static"
                   aria-describedby="tooltip-base"
                   tooltipFor="tooltipLink"
                }}
                  {{entry.multiClusterAppId}} <i class="icon icon-alert"></i>
                {{/tooltip-element}}
              </div>
            {{/each}}
          {{else}}
            {{#each entry.linkedProjects as |project|}}
              {{#if project.accessible}}
                {{#link-to-external
                   "authenticated.project"
                   project.id
                   classNames="block"
                }}
                  {{project.cluster.displayName}}:{{project.displayName}}
                {{/link-to-external}}
              {{else}}
                <div>
                  {{#tooltip-element
                     type="tooltip-basic"
                     model=(t "globalDnsPage.entriesPage.access.noAccessProject")
                     tooltipTemplate="tooltip-static"
                     aria-describedby="tooltip-base"
                     tooltipFor="tooltipLink"
                  }}
                    {{project.id}} <i class="icon icon-alert"></i>
                  {{/tooltip-element}}
                </div>
              {{/if}}
            {{/each}}
          {{/if}}
        </td>
        <td data-title="{{dt.created}}">
          {{date-calendar entry.created}}
        </td>
        <td data-title="{{dt.actions}}" class="actions">
          {{action-menu model=entry}}
        </td>
      </tr>
    {{else if (eq kind "nomatch")}}
      <tr>
        <td
          colspan="{{sortable.fullColspan}}"
          class="text-center text-muted lacsso pt-20 pb-20"
        >
          {{t "globalDnsPage.noDnsMatch"}}
        </td>
      </tr>
    {{else if (eq kind "norows")}}
      <tr>
        <td
          colspan="{{sortable.fullColspan}}"
          class="text-center text-muted lacsso pt-20 pb-20"
        >
          {{t "clusterRow.noDnsData"}}
        </td>
      </tr>
    {{/if}}
  {{/sortable-table}}
{{else}}
  {{empty-table
    resource="container"
    newRoute="global-admin.global-dns.entries.new"
    newTranslationKey="globalDnsPage.newDns"
    ctx=""
  }}
{{/if}}
