{{#if prompt}}
  <option selected={{not selection}}>
    {{prompt}}
  </option>
{{/if}}

{{#each ungroupedContent as |item|}}
  <option value="{{get item optionValuePath}}" selected={{eq value (get item optionValuePath)}}>
    {{get item optionLabelPath}}
  </option>
{{/each}}

{{#each groupedContent as |group|}}
  <optgroup label="{{group.group}}">
    {{#each group.options as |item|}}
      <option value="{{get item optionValuePath}}" selected={{eq value (get item optionValuePath)}}>
        {{get item optionLabelPath}}
      </option>
    {{/each}}
  </optgroup>
{{/each}}
