<div class="col span-4 input-group mt-0">
  <div class="clearfix">
    <label class="acc-label pt-5">{{t 'inputCertificate.key.label'}}{{field-required}}</label>
  </div>
  {{input-text-file
    value=model.key
    accept="text/plain,.pem,.pkey,.key"
    minHeight=60
    placeholder="inputCertificate.key.placeholder"
    showUploadLabel=false
  }}
</div>

<div class="col span-4 input-group mt-0">
  <div class="clearfix">
    <label class="acc-label pt-5">{{t 'inputCertificate.cert.label'}}{{field-required}}</label>
  </div>
  {{input-text-file
    value=model.cert
    accept="application/x-x509-ca-cert,text/plain,.pem,.crt"
    minHeight=60
    placeholder="inputCertificate.cert.placeholder"
    showUploadLabel=false
  }}
</div>

<div class="col span-4 input-group mt-0">
  <div class="clearfix">
    <label class="acc-label pt-5">{{t 'inputCertificate.certChain.label'}}</label>
  </div>
  {{input-text-file
    value=model.certChain
    accept="application/x-x509-ca-cert,text/plain,.pem,.crt"
    minHeight=60
    placeholder="inputCertificate.certChain.placeholder"
    showUploadLabel=false
  }}
</div>
