<div class="col-md-4 form-group">
  <div class="clearfix r-mb10 r-mt15">
    <label class="r-pt5">{{t 'inputCertificate.key.label'}}*</label>
  </div>
  {{input-text-file
    value=model.key
    accept="text/plain,.pem,.pkey,.key"
    minHeight=60
    placeholder="inputCertificate.key.placeholder"
  }}
</div>

<div class="col-md-4 form-group">
  <div class="clearfix r-mb10 r-mt15">
    <label class="r-pt5">{{t 'inputCertificate.cert.label'}}*</label>
  </div>
  {{input-text-file
    value=model.cert
    accept="application/x-x509-ca-cert,text/plain,.pem,.crt"
    minHeight=60
    placeholder="inputCertificate.cert.placeholder"
  }}
</div>

<div class="col-md-4 form-group">
  <div class="clearfix r-mb10 r-mt15">
    <label class="r-pt5">{{t 'inputCertificate.certChain.label'}}</label>
  </div>
  {{input-text-file
    value=model.certChain
    accept="application/x-x509-ca-cert,text/plain,.pem,.crt"
    minHeight=60
    placeholder="inputCertificate.certChain.placeholder"
  }}
</div>
