<div class="col span-4 inline-form">
  <div class="clearfix mb-10 mt-15">
    <label class="pt-5">{{t 'inputCertificate.key.label'}}*</label>
  </div>
  {{input-text-file
    value=model.key
    accept="text/plain,.pem,.pkey,.key"
    minHeight=60
    placeholder="inputCertificate.key.placeholder"
  }}
</div>

<div class="col span-4 inline-form">
  <div class="clearfix mb-10 mt-15">
    <label class="pt-5">{{t 'inputCertificate.cert.label'}}*</label>
  </div>
  {{input-text-file
    value=model.cert
    accept="application/x-x509-ca-cert,text/plain,.pem,.crt"
    minHeight=60
    placeholder="inputCertificate.cert.placeholder"
  }}
</div>

<div class="col span-4 inline-form">
  <div class="clearfix mb-10 mt-15">
    <label class="pt-5">{{t 'inputCertificate.certChain.label'}}</label>
  </div>
  {{input-text-file
    value=model.certChain
    accept="application/x-x509-ca-cert,text/plain,.pem,.crt"
    minHeight=60
    placeholder="inputCertificate.certChain.placeholder"
  }}
</div>
