<div class="row">
  <div class="col span-6">
    <label class="acc-label">
      {{t "authorizedEndpoint.enabled.label"}}
      {{#if clusterTemplateCreate}}
        <ClusterTemplateOverrideToggle
          @path="localClusterAuthEndpoint.enabled"
          @configVariable={{enableLocalClusterAuthEndpoint}}
          @addOverride={{addOverride}}
          @questions={{clusterTemplateRevision.questions}}
        />
      {{/if}}
    </label>
    <CheckOverrideAllowed
      @paramName="localClusterAuthEndpoint.enabled"
      @questions={{clusterTemplateRevision.questions}}
      @clusterTemplateRevision={{clusterTemplateRevision.clusterConfig}}
      @applyClusterTemplate={{applyClusterTemplate}}
    >
      <div class="radio">
        <label>
          {{radio-button
            selection=enableLocalClusterAuthEndpoint
            value=true
          }}
          {{t "generic.enabled"}}
        </label>
      </div>
      <div class="radio">
        <label>
          {{radio-button
            selection=enableLocalClusterAuthEndpoint
            value=false
          }}
          {{t "generic.disabled"}}
        </label>
      </div>
    </CheckOverrideAllowed>
  </div>
</div>

{{#if cluster.localClusterAuthEndpoint.enabled}}
  <div class="row">
    <div class="col span-4">
      <label class="acc-label" for="cluster-auth-endpoint-fqdn">
        {{t "authorizedEndpoint.fqdn.label"}}
        {{#if clusterTemplateCreate}}
          <ClusterTemplateOverrideToggle
            @path="localClusterAuthEndpoint.fqdn"
            @configVariable={{localClusterAuthEndpoint.fqdn}}
            @addOverride={{addOverride}}
            @questions={{clusterTemplateRevision.questions}}
          />
        {{/if}}
      </label>
      <CheckOverrideAllowed
        @paramName="localClusterAuthEndpoint.fqdn"
        @questions={{clusterTemplateRevision.questions}}
        @clusterTemplateRevision={{clusterTemplateRevision.clusterConfig}}
        @applyClusterTemplate={{applyClusterTemplate}}
      >
        {{input
          classNames="form-control"
          id="cluster-auth-endpoint-fqdn"
          placeholder=(t "globalDnsPage.entriesPage.config.fqdn.placeholder")
          type="text"
          value=cluster.localClusterAuthEndpoint.fqdn
        }}
      </CheckOverrideAllowed>
    </div>
    <div class="col span-8">
      <label class="acc-label" for="cluster-auth-endpoint-cacert">
        {{t "newCertificate.cert.label"}}
        {{#if clusterTemplateCreate}}
          <ClusterTemplateOverrideToggle
            @path="localClusterAuthEndpoint.caCerts"
            @configVariable={{localClusterAuthEndpoint.caCerts}}
            @addOverride={{addOverride}}
            @questions={{clusterTemplateRevision.questions}}
          />
        {{/if}}
      </label>
      <CheckOverrideAllowed
        @questions={{clusterTemplateRevision.questions}}
        @paramName="localClusterAuthEndpoint.caCerts"
        @clusterTemplateRevision={{clusterTemplateRevision.clusterConfig}}
        @applyClusterTemplate={{applyClusterTemplate}}
      >
        {{input-text-file
          accept="application/x-x509-ca-cert,text/plain,.pem,.crt"
          canChangeName=false
          classNames="box"
          id="cluster-auth-endpoint-cacert"
          minHeight=60
          multiple=true
          placeholder="newCertificate.cert.placeholder"
          shouldChangeName=false
          value=cluster.localClusterAuthEndpoint.caCerts
        }}
      </CheckOverrideAllowed>
    </div>
  </div>
{{/if}}