<div class="row">
  <div class="col span-6">
    <label class="acc-label">
      {{t "authorizedEndpoint.enabled.label"}}
      {{#if clusterTemplateCreate}}
        <ClusterTemplateOverrideToggle
          @path="localClusterAuthEndpoint.enabled"
          @configVariable={{enableLocalClusterAuthEndpoint}}
          @addOverride={{addOverride}}
          @questions={{clusterTemplateRevision.questions}}
        />
      {{/if}}
    </label>
    <CheckOverrideAllowed
      @paramName="localClusterAuthEndpoint.enabled"
      @questions={{clusterTemplateRevision.questions}}
      @clusterTemplateRevision={{clusterTemplateRevision.clusterConfig}}
      @applyClusterTemplate={{applyClusterTemplate}}
    >
      {{#input-or-display
         editable=(not-eq mode "view")
         value=enableLocalClusterAuthEndpoint
      }}
        <div class="radio">
          <label>
            {{radio-button
              selection=enableLocalClusterAuthEndpoint
              value=true
            }}
            {{t "generic.enabled"}}
          </label>
        </div>
        <div class="radio">
          <label>
            {{radio-button
              selection=enableLocalClusterAuthEndpoint
              value=false
            }}
            {{t "generic.disabled"}}
          </label>
        </div>
      {{/input-or-display}}
    </CheckOverrideAllowed>
  </div>
</div>

{{#if enableLocalClusterAuthEndpoint}}
  <div class="row">
    <div class="col span-4">
      <label class="acc-label" for="cluster-auth-endpoint-fqdn">
        {{t "authorizedEndpoint.fqdn.label"}}
        {{#if clusterTemplateCreate}}
          <ClusterTemplateOverrideToggle
            @path="localClusterAuthEndpoint.fqdn"
            @configVariable={{localClusterAuthEndpoint.fqdn}}
            @addOverride={{addOverride}}
            @questions={{clusterTemplateRevision.questions}}
          />
        {{/if}}
      </label>
      <CheckOverrideAllowed
        @paramName="localClusterAuthEndpoint.fqdn"
        @questions={{clusterTemplateRevision.questions}}
        @clusterTemplateRevision={{clusterTemplateRevision.clusterConfig}}
        @applyClusterTemplate={{applyClusterTemplate}}
      >
        {{#input-or-display
           editable=(not-eq mode "view")
           value=cluster.localClusterAuthEndpoint.fqdn
        }}
          {{input
            classNames="form-control"
            id="cluster-auth-endpoint-fqdn"
            placeholder=(t "globalDnsPage.entriesPage.config.fqdn.placeholder")
            type="text"
            value=cluster.localClusterAuthEndpoint.fqdn
          }}
        {{/input-or-display}}
      </CheckOverrideAllowed>
    </div>
    <div class="col span-8">
      <label class="acc-label" for="cluster-auth-endpoint-cacert">
        {{t "newCertificate.cert.label"}}
        {{#if clusterTemplateCreate}}
          <ClusterTemplateOverrideToggle
            @path="localClusterAuthEndpoint.caCerts"
            @configVariable={{localClusterAuthEndpoint.caCerts}}
            @addOverride={{addOverride}}
            @questions={{clusterTemplateRevision.questions}}
          />
        {{/if}}

         <span class="inline-block">
          {{#tooltip-element
             type="tooltip-basic"
             model=(t "newCertificate.cert.tooltip" htmlSafe=true)
             tooltipTemplate="tooltip-static"
             aria-describedby="tooltip-base"
             tooltipFor="tooltipPoolCreateAfter"
             placement="top"
             tagName="div"
          }}
            <i class="icon icon-help icon-blue"></i>
          {{/tooltip-element}}
        </span>
      </label>
      <CheckOverrideAllowed
        @questions={{clusterTemplateRevision.questions}}
        @paramName="localClusterAuthEndpoint.caCerts"
        @clusterTemplateRevision={{clusterTemplateRevision.clusterConfig}}
        @applyClusterTemplate={{applyClusterTemplate}}
      >
        {{#input-or-display
           editable=(not-eq mode "view")
           value=cluster.localClusterAuthEndpoint.caCerts
           obfuscate=true
           classesForDisplay="force-wrap"
        }}
          {{input-text-file
            accept="application/x-x509-ca-cert,text/plain,.pem,.crt"
            canChangeName=false
            classNames="box"
            id="cluster-auth-endpoint-cacert"
            minHeight=60
            multiple=true
            placeholder="newCertificate.cert.placeholder"
            shouldChangeName=false
            value=cluster.localClusterAuthEndpoint.caCerts
          }}
        {{/input-or-display}}
      </CheckOverrideAllowed>
    </div>
  </div>
{{/if}}