<h2>Register A New Host</h2>

{{#if error}}
  <div class="alert alert-danger">
    <i style="float: left;" class="fa fa-exclamation-circle"></i>
    <p style="margin-left: 50px">{{error}}</p>
  </div>
{{/if}}

<ul class="nav nav-tabs">
  {{#each driver in drivers}}
    {{#link-to driver.route tagName="li" href=false}}
      <a {{bind-attr href=view.href}}>{{driver.label}}</a>
    {{/link-to}}
  {{/each}}
</ul>

<section>
  {{outlet}}
</section>
{{partial "overlay-close"}}
