{{resource-actions-menu model=model choices=model.availableActions}}

<div class="subpod-name">
    <i class="{{model.stateIcon}} {{model.stateColor}}" tooltip="{{model.displayState}}"></i>
  {{#link-to "container" model.id}}
    {{model.displayName}}
  {{/link-to}}
</div>
{{#if model.showTransitioningMessage}}
  <div class="subpod-detail clip {{if model.isError 'text-danger'}}">
    {{model.transitioningMessage}}
  </div>
{{else}}
  <div class="subpod-detail">
    {{model.displayIp}}
  </div>
{{/if}}
