{{#if header}}
  <div class="clearfix">
    <label class="acc-label">{{header}}</label>
  </div>
{{/if}}

{{#sortable-table
     classNames="grid fixed mb-0 sortable-table"
     bulkActions=false
     rowActions=false
     paging=false
     search=search
     sortBy=sortBy
     stickyHeader=false
     descending=descending
     headers=headers
     body=labelArray
     as |sortable kind label|
}}
  {{#if (eq kind "row")}}
    <tr>
      <td data-title="{{t (concat labelIntlSec '.key')}}:" class="force-wrap">{{label.key}}</td>
      <td data-title="{{t (concat labelIntlSec '.value')}}:" class="force-wrap">{{pretty-json value=label.value}}</td>
    </tr>
  {{else if (eq kind "norows")}}
    <tr>
      <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t (concat labelIntlSec '.noData')}}</td>
    </tr>
  {{/if}}
{{/sortable-table}}
