<section class="header clearfix">
  <h1>{{#link-to "virtualmachines"}}{{t 'virtualMachinePage.header'}}{{/link-to}}</h1>

  {{#power-select options=model.vm.primaryHost.instances selected=model.vm onchange=(action "changeVirtualMachine") searchField="displayName" as |obj|}}
    {{select-dot model=obj}}
  {{/power-select}}

  {{#if model.vm.primaryHost}}
    <strong class="r-mr5 r-ml5">on {{#link-to "host" model.vm.primaryHost.id}}{{model.vm.primaryHost.displayName}}{{/link-to}}</strong>
  {{/if}}
  <div class="pull-right">
    {{action-menu model=model.vm size="sm" classNames="r-ml5 pull-right"}}
    {{header-state model=model.vm classNames="pull-right"}}
  </div>
</section>

<section>
  <div class="row">
    <div class="col-md-3">
      {{#if model.vm.description}}
        <div>
          <label>{{t 'virtualMachinePage.multistat.description'}} </label>
          <span>{{model.vm.description}}</span>
        </div>
        <hr>
      {{/if}}
      <div>
        <label>{{t 'virtualMachinePage.multistat.host'}}</label>
        {{#if model.vm.primaryHost}}
          {{#link-to "host" model.vm.primaryHost.id}}{{model.vm.primaryHost.displayName}}{{/link-to}}
        {{else}}
          <span class="text-muted">Unknown</span>
        {{/if}}
      </div>

      <hr>

      <div>
        <label>{{t 'virtualMachinePage.multistat.hostIp'}}</label>
        {{copy-ip ip=model.vm.primaryHost.displayIp noIp='formatIp.unknownIp'}}
      </div>

      <hr>

      <div>
        <label>{{t 'virtualMachinePage.multistat.vmIp'}}</label>
        {{copy-ip ip=model.vm.displayIp}}
      </div>

      <hr>

      <div>
        <label>{{t 'virtualMachinePage.multistat.image'}}</label>
        <span class="force-wrap">
          {{model.vm.displayImage}} {{copy-to-clipboard clipboardText=model.vm.displayImage size="small"}}
        </span>
      </div>
    </div>
    <div class="col-md-9">
      <div class="row r-p15">
        <ul class="nav nav-tabs nav-tabs-well shadowed">
          {{#link-to "virtualmachine.labels" tagName="li" href=false}}<a href="#"><i class="icon icon-tag"></i> {{t 'virtualMachinePage.navTabs.labels'}}</a>{{/link-to}}
        </ul>
        <div class="table-flat well">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</section>
