{{#unless single}}
  <div class="clearfix well r-p0 r-m0">
    <div class="stack-state {{model.stateBackground}}"><i class="{{model.stateIcon}}"></i></div>

    <div class="header-left collapser">
      &nbsp;
    </div>


    <div class="header-left name {{if model.description 'with-description'}}">
      <h4 class="divider clip">
        "{{model.name}}" Namespace
      </h4>
      {{#if model.description}}
        <div class="text-muted clip">{{model.description}}</div>
      {{/if}}
    </div>

    <div class="header-right stack-template">
      {{#link-to "k8s-tab.services.new" (query-params environmentId=model.id) classNames="btn btn-default btn-sm"}}Add Service{{/link-to}}
    </div>
  </div>
{{/unless}}

<div class="stack-body {{if single 'single-body'}}">
  {{#if filtered.length}}
    <table class="grid fixed" style="margin-bottom: 0">
      <tbody>
        {{#each filtered as |service|}}
          <tr>
            <td class="state">
              {{badge-state model=service}}
            </td>

            <td class="force-wrap">
              {{#link-to "service" service.environmentId service.id}}{{service.displayName}}{{/link-to}}
            </td>


            <td class="force-wrap service-detail">
              {{service.displayPorts}}
              {{service.displaySelectors}}
            </td>

            <td>
              {{#if service.serviceType}}
                {{service.serviceType}}
              {{else}}
                <span class="text-muted">None?</span>
              {{/if}}
            </td>

            <td class="actions wide">
              {{action-menu model=service}}
            </td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  {{else}}
    <div class="text-muted text-center r-p10">No Services</div>
  {{/if}}
</div>

