{{host-template-list
    model=templates
    launch=(action 'launch')
}}
<div class="footer-actions">
  <button {{action 'add'}} class="btn bg-primary">{{t 'generic.save'}}</button>
  <button {{action "cancel"}} class="btn bg-primary">{{t 'generic.cancel'}}</button>
</div>