<div class="header clearfix">
  <h1>Add Cluster</h1>
</div>
<div>
  {{partial "add-cluster"}}
</div>
<div class="footer-actions">
  <button {{action 'add'}} class="btn bg-primary">{{t 'generic.save'}}</button>
  <button {{action "cancel"}} class="btn bg-primary">{{t 'modalWelcome.closeModal'}}</button>
</div>