{{#if (eq mode 'hostTemplate')}}
  {{host-template-list
      model=templates
      launch=(action 'launch')
      add=(action 'add')
  }}
  <div class="footer-actions">
    <button {{action 'add'}} class="btn bg-primary">{{t 'generic.save'}}</button>
    <button {{action "cancel"}} class="btn bg-primary">{{t 'generic.cancel'}}</button>
  </div>
{{else if (eq mode 'launch')}}
  {{cloud-host-add-or-edit
      hostTemplate=launchHostTemplate
      driver=launchHostDriver
      goBack=(action 'goBack')
      save=(action 'launch')
  }}
{{else if (eq mode 'add')}}
  {{add-host allowCustom=(not app.isCaas) model=addHostModel.model driver=driver cluster=cluster hostId=hostId completed=(action 'completed') goBack=(action 'goBack') cancel=(action 'goBack')}}
{{/if}}