<section class="horizontal-form container-fluid">
  {{#if justCreated}}
    <h2>{{t 'editApiKey.title.justCreated'}}</h2>
    <hr/>

    <div>
      <label class="acc-label">{{t 'apiPage.currentEndpoint'}}</label>
      <code class="ml-20"><a href="{{linkEndpoint}}" target="_blank" rel="nofollow noreferer">{{displayEndpoint}}</a></code>
      {{copy-to-clipboard clipboardText=linkEndpoint}}
    </div>

    <div>
      <label class="acc-label">{{t 'editApiKey.accessKey'}}</label>
      <code class="ml-20">{{clone.name}}</code>
      {{copy-to-clipboard clipboardText=clone.name}}
    </div>

    <div>
      <label class="acc-label">{{t 'editApiKey.secretKey'}}</label>
      <code class="ml-20">{{displayPassword}}</code>
      {{copy-to-clipboard clipboardText=displayPassword}}
    </div>

    <p>{{t 'editApiKey.basicAuth'}}</p>

    <div>
      <label class="acc-label">{{t 'editApiKey.token'}}</label>
      <code class="ml-20">{{clone.token}}</code>
      {{copy-to-clipboard clipboardText=clone.token}}
    </div>

    <div class="banner bg-warning">
      <div class="banner-icon">
        <i class="icon icon-info"></i>
      </div>
      <div class="banner-message">
        <p>{{t 'editApiKey.saveWarning1'}}<br/>{{t 'editApiKey.saveWarning2'}}</p>
      </div>
    </div>

    <div class="footer-actions">
      <button {{action "cancel"}} class="btn bg-primary">{{t 'generic.closeModal'}}</button>
    </div>
  {{else}}
    <h2>{{t (if editing 'editApiKey.title.editing' 'editApiKey.title.new')}}</h2>
    <hr/>

    <div>
      <label class="acc-label">{{t 'generic.description'}}</label>
      {{textarea-autogrow
        id="api-description"
        value=model.description
        classNames="form-control no-resize description"
        rows="1"
        placeholder='editApiKey.description.placeholder'
      }}
    </div>

    {{#unless editing}}
      <p class="text-info">{{t 'editApiKey.noteOptional'}}</p>
    {{/unless}}

    {{save-cancel editing=editing save="save" cancel="cancel"}}
  {{/if}}
</section>
