<section>
  <div class="row">
    <div class="col span-12">
      <p class="text-info">{{t "authPage.oidc.form.replyUrl" appName=settings.appName htmlSafe=true}}</p>
      <div>
        <label class="acc-label pb-5">
          {{t "authPage.oidc.form.rancherUrl"}}:
        </label>
        <code>
          {{authConfig.rancherUrl}}
        </code>
        {{copy-to-clipboard
          class="ml-5"
          clipboardText=authConfig.rancherUrl
          size="md"
        }}
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col span-6">
      <label class="acc-label pb-5" for="oidc-input-clientid">
        {{t "authPage.oidc.form.clientId"}}
        {{field-required}}
      </label>
      {{input
        id="oidc-input-clientid"
        type="text"
        value=authConfig.clientId
        classNames="form-control"
      }}
    </div>
    <div class="col span-6">
      <label class="acc-label pb-5" for="oidc-input-client-secret">
        {{t "authPage.oidc.form.clientSecret"}}
        {{field-required}}
      </label>
      {{input
        id="oidc-input-client-secret"
        type="password"
        value=authConfig.clientSecret
        classNames="form-control"
      }}
    </div>
  </div>
  <div class="row">
    <label class="acc-label mt-5">
      {{t "authPage.oidc.form.endpoints.label"}}
      {{field-required}}
    </label>
    <div class="row">
      <div class="col span-6">
        <div class="radio">
          <label>
            {{radio-button selection=endpointSelection value="standard"}}
            {{t "authPage.oidc.form.endpoints.standard"}}
          </label>
        </div>
        <div class="radio">
          <label>
            {{radio-button selection=endpointSelection value="custom"}}
            {{t "authPage.oidc.form.endpoints.custom"}}
          </label>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col span-6">
      <label class="acc-label pb-5" for="oidc-input-issuer">
        {{t "authPage.oidc.form.issuer"}}
        {{field-required}}
      </label>
      <div class="input-group">
        <span class="input-group-addon bg-default">
          <label>
            {{protocol}}
          </label>
        </span>
        {{input-url
          classNames="form-control"
          id="oidc-input-issuer"
          isInvalid=(action (mut issuerUrlInvalid))
          urlWarning=(action (mut issuerUrlWarning))
          urlError=(action (mut urlError))
          value=issuer
        }}
      </div>
    </div>
    <div class="col span-6">
      <label class="acc-label pb-5" for="oidc-input-auth-endpoint">
        {{t "authPage.oidc.form.authEndpoint"}}
        {{field-required}}
      </label>
      <div class="input-group">
        <span class="input-group-addon bg-default">
          <label>
            {{protocol}}
          </label>
        </span>
        {{input-url
          classNames="form-control"
          id="oidc-input-auth-endpoint"
          isInvalid=(action (mut authEndpointUrlInvalid))
          urlWarning=(action (mut authEndpointUrlWarning))
          urlError=(action (mut urlError))
          value=authEndpoint
        }}
      </div>
    </div>
  </div>
  {{#if (eq endpointSelection "custom")}}
    <div class="row">
      <div class="col span-6">
        <label class="acc-label pb-5" for="oidc-input-token-endpoint">
          {{t "authPage.oidc.form.tokenEndpoint"}}
          {{field-required}}
        </label>
        <div class="input-group">
          <span class="input-group-addon bg-default">
            <label>
              {{protocol}}
            </label>
          </span>
          {{input-url
            classNames="form-control"
            id="oidc-input-token-endpoint"
            isInvalid=(action (mut tokenEndpointUrlInvalid))
            urlWarning=(action (mut tokenEndpointUrlWarning))
            urlError=(action (mut urlError))
            value=tokenEndpoint
          }}
        </div>
      </div>
      <div class="col span-6">
        <label class="acc-label pb-5" for="oidc-input-user-endpoint">
          {{t "authPage.oidc.form.userInfoEndpoint"}}
          {{field-required}}
        </label>
        <div class="input-group">
          <span class="input-group-addon bg-default">
            <label>
              {{protocol}}
            </label>
          </span>
          {{input-url
            classNames="form-control"
            id="oidc-input-user-endpoint"
            isInvalid=(action (mut userInfoEndpointUrlInvalid))
            urlWarning=(action (mut userInfoEndpointUrlWarning))
            urlError=(action (mut urlError))
            value=userInfoEndpoint
          }}
        </div>
      </div>
    </div>
  {{/if}}
  <div class="row">
    <div class="col span-12">
      {{#if urlError}}
        {{#each urlError as |error|}}
          <BannerMessage
            @classNames="banner"
            @color="bg-{{error.type}}"
            @icon="icon-alert"
            @message={{t error.msg activeValue=authConfig.issuer htmlSafe=true
            }}
          />
        {{/each}}
      {{/if}}
    </div>
  </div>
  <div class="row">
    <div class="col span-6">
      <div class="inline-form">
        <label class="acc-label pb-5" for="oidc-input-client-private-key">
          {{t "newCertificate.key.label"}}
        </label>
        {{input-text-file
          id="oidc-input-client-private-key"
          accept="text/*, .pem, .pkey, .key"
          canChangeName=false
          classNames="box"
          minHeight=60
          placeholder="newCertificate.key.placeholder"
          value=authConfig.privateKey
        }}
      </div>
    </div>
    <div class="col span-6">
      <div class="inline-form">
        <label class="acc-label pb-5" for="oidc-input-client-cert">
          {{t "newCertificate.cert.label"}}
        </label>
        {{input-text-file
          id="oidc-input-client-cert"
          accept="text/*, .pem, .crt"
          canChangeName=false
          classNames="box"
          minHeight=60
          placeholder="newCertificate.cert.placeholder"
          value=authConfig.certificate
        }}
      </div>
    </div>
  </div>
</section>