<section class="horizontal-form container-fluid">
  <h2>{{#if editing}}Edit{{else}}Add{{/if}} Environment</h2>
  {{top-errors errors=errors}}

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label for="name">Name</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{input id="name" type="text" value=name classNames="form-control" placeholder="e.g. Development"}}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label for="description">Description</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{textarea id="description" value=description classNames="form-control no-resize" rows="5" placeholder="e.g. Our development environment"}}
    </div>
  </div>
</section>

{{partial "save-cancel"}}
