{{#if inApp}}
  <a href="#" {{action "showInApp"}}>{{model.resourceType}}:{{model.resourceId}} <i class="icon icon-vm"/></a>
{{else}}
  <a href={{resourceLink}} target="_blank">{{model.resourceType}}:{{model.resourceId}}</a>
{{/if}}
