<section class="horizontal-form">
  <div class="container-fluid">
    {{#if showNameScale}}
      <div class="box mt-20">
        <h4>{{t 'nodeDriver.aliyunecs.instanceSection'}}</h4>
        <div class="row mb-20">
          <div class="row">
            <div class="col span-11-of-23 mt-0 mb-0">
              {{form-name-description
                  name=prefix
                  nameRequired=true
                  namePlaceholder="hostsPage.new.name.placeholder"
                  nameHelpText=nameCountLabel
                  descriptionShown=true
              }}
            </div>
            <div class="col span-11-of-23 mt-0 mb-0 offset-1-of-23">
              {{form-count
                  min=0
                  initialScale=1
                  setScale=(action (mut count))
              }}
            </div>
          </div>
        </div>
      </div>
    {{/if}}

    <div class="row box mt-20">
      <h4>{{t 'nodeDriver.aliyunecs.accountSection'}}</h4>

      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.accessKey.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" class="form-control" value=config.accessKeyId placeholder=(t 'nodeDriver.aliyunecs.accessKey.placeholder')}}
        </div>

        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.accessKeySecret.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="password" class="form-control" value=config.accessKeySecret placeholder=(t 'nodeDriver.aliyunecs.accessKeySecret.placeholder')}}
        </div>
      </div>

      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.apiEndpoint.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" class="form-control" value=config.apiEndpoint placeholder=(t 'nodeDriver.aliyunecs.apiEndpoint.placeholder')}}
        </div>
      </div>

    </div>


    <div class="row box mt-20">
      <h4>{{t 'nodeDriver.aliyunecs.instanceOptionsSection'}}</h4>

      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.instanceDescription.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" class="form-control" value=config.description placeholder=(t 'nodeDriver.aliyunecs.instanceDescription.placeholder')}}
        </div>

        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.instanceType.label'}}</label>
        </div>
        <div class="col span-4">
          {{!-- {{input type="text" class="form-control" value=config.instanceType placeholder=(t 'nodeDriver.aliyunecs.instanceType.placeholder')}} --}}
            {{new-select
            classNames="form-control"
            content=instanceType
            optionLabelPath='description'
            optionValuePath='value'
            value=config.instanceType
            }}
        </div>
      </div>

      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.systemImage.label'}}</label>
        </div>
        <div class="col span-4">
          {{!-- {{input type="text" class="form-control" value=config.imageId placeholder=(t 'nodeDriver.aliyunecs.systemImage.placeholder')}} --}}
            {{new-select
            classNames="form-control"
            content=images
            optionLabelPath='description'
            optionValuePath='value'
            value=config.imageId
            }}
        </div>

        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.instanceTag.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" class="form-control" value=config.tag placeholder=(t 'nodeDriver.aliyunecs.instanceTag.placeholder')}}
        </div>
      </div>

      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.internetMaxBandwidth.label'}}</label>
        </div>
        <div class="col span-4">
          <div class="input-group">
            {{input type="text" class="form-control" value=config.internetMaxBandwidth placeholder=(t 'nodeDriver.aliyunecs.internetMaxBandwidth.placeholder')}}
            <div class="input-group-addon bg-default">Mbps</div>
          </div>
        </div>
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.aliyunSLB.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" class="form-control" value=config.slbId placeholder=(t 'nodeDriver.aliyunecs.aliyunSLB.placeholder')}}
        </div>

      </div>
    </div>

    <div class="row box mt-20">
      <h4>{{t 'nodeDriver.aliyunecs.storageSection'}}</h4>

      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.ioOptimized.label'}}</label>
        </div>
        <div class="col span-4">
          {{!--{{input type="text" class="form-control" value=config.ioOptimized placeholder=(t 'nodeDriver.aliyunecs.ioOptimized.placeholder')}}--}}
          {{new-select
              classNames="form-control"
              content=ioOptimized
              optionLabelPath='value'
              value=config.ioOptimized
          }}
        </div>

        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.systemDiskCategory.label'}}</label>
        </div>
        <div class="col span-4">
          {{!-- {{input type="text" class="form-control" value=config.systemDiskCategory placeholder=(t 'nodeDriver.aliyunecs.systemDiskCategory.placeholder')}} --}}
            {{new-select
            classNames="form-control"
            content=systemDiskCategory
            optionLabelPath='value'
            value=config.systemDiskCategory
            }}
        </div>
      </div>

      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.dataDiskCategory.label'}}</label>
        </div>
        <div class="col span-4">
          {{!-- {{input type="text" class="form-control" value=config.diskCategory placeholder=(t 'nodeDriver.aliyunecs.dataDiskCategory.placeholder')}} --}}
            {{new-select
            classNames="form-control"
            content=dataDiskCategory
            optionLabelPath='value'
            value=config.diskCategory
            }}
        
        </div>

        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.dataDiskSize.label'}}</label>
        </div>
        <div class="col span-4">
          <div class="input-group">
            {{input type="text" class="form-control" value=config.diskSize placeholder=(t 'nodeDriver.aliyunecs.dataDiskSize.placeholder')}}
            <div class="input-group-addon bg-default">GB</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.region.label'}}</label>
        </div>
        <div class="col span-4">
          {{!-- {{input type="text" class="form-control" value=config.region placeholder=(t 'nodeDriver.aliyunecs.region.placeholder')}} --}}
            {{new-select
            classNames="form-control"
            content=regions
            optionLabelPath='value'
            value=config.region
            }}
        </div>

        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.zone.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" class="form-control" value=config.zone placeholder=(t 'nodeDriver.aliyunecs.zone.placeholder')}}
        </div>
      </div>
    </div>


    <div class="row box mt-20">
      <h4>{{t 'nodeDriver.aliyunecs.networkSection'}}</h4>
      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.routeCIDR.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" class="form-control" value=config.routeCidr placeholder=(t 'nodeDriver.aliyunecs.routeCIDR.placeholder')}}
        </div>

        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.vpcId.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" class="form-control" value=config.vpcId placeholder=(t 'nodeDriver.aliyunecs.vpcId.placeholder')}}
        </div>
      </div>

      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.vswitchId.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" class="form-control" value=config.vswitchId placeholder=(t 'nodeDriver.aliyunecs.vswitchId.placeholder')}}
        </div>

        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.privateIp.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" class="form-control" value=config.privateIp placeholder=(t 'nodeDriver.aliyunecs.privateIp.placeholder')}}
        </div>
      </div>

      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.privateAddressOnly.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="checkbox" class="form-control" checked=config.privateAddressOnly}}
        </div>
      </div>
    </div>

    <div class="row box mt-20">
      <h4>{{t 'nodeDriver.aliyunecs.securitySection'}}</h4>
      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.securityGroup.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" class="form-control" value=config.securityGroup placeholder=(t 'nodeDriver.aliyunecs.securityGroup.placeholder')}}
        </div>

        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.aliyunecs.sshPassword.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" class="form-control" value=config.sshPassword placeholder=(t 'nodeDriver.aliyunecs.sshPassword.placeholder')}}
        </div>
      </div>
    </div>

  </div>
  <div class="over-hr mt-40 mb-30"><span>{{templateOptionsTitle}}</span></div>
  {{form-name-description
    model=model
    nameRequired=true
  }}

  {{form-user-labels
    initialLabels=labelResource.labels
    setLabels=(action 'setLabels')
    expandAll=null
  }}

  {{form-engine-opts
    machine=model
    showEngineUrl=showEngineUrl
  }}

  {{top-errors errors=errors}}


  {{save-cancel save="save" cancel="cancel" editing=editing}}
</section>
