{{#unless model.isManaged}}
  {{resource-actions-menu model=model choices=model.availableActions}}
{{/unless}}

<div class="instance-name">
    <i {{bind-attr class="model.stateIcon model.stateColor" tooltip=model.displayState}}></i>
  {{#link-to "container" model.id}}
    {{model.displayName}}
  {{/link-to}}
</div>
{{#if model.showTransitioningMessage}}
  <div {{bind-attr class=":instance-message :clip model.isError:text-danger:text-muted model.showTransitioningMessage::hide"}}>
    {{model.transitioningMessage}}
  </div>
{{else}}
  <div class="instance-ip">
    {{model.displayIp}}
  </div>
{{/if}}

{{#if model.isTransitioning}}
  <div class="progress progress-striped active">
    <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" {{bind-attr aria-valuenow=model.displayProgress style=model.progressStyle}}>
      <span class="sr-only">{{model.displayProgress}}% Complete</span>
    </div>
  </div>
{{/if}}
