<section class="header clearfix">
  <h1>{{t 'newStack.header'}}</h1>
</section>

<section class="container-fluid">
  {{form-name-description
    model=primaryResource
    namePlaceholder="newStack.name.placeholder"
    descriptionPlaceholder="newStack.description.placeholder"
  }}

  {{input-text-file
    accept=".yml, .yaml"
    name="compose.yml"
    canChangeName=false
    value=compose
    placeholder="newStack.dockerCompose.placeholder"
  }}

  {{#advanced-section}}
  <hr class="mt-40 mb-40"/>
    <div>
      {{input-files
        accept=".yml, .yaml"
        changed=(action (mut files))
        header='newStack.files.label'
        addActionLabel='newStack.files.addActionLabel'
        namePlaceholder='newStack.files.namePlaceholder'
        valuePlaceholder='newStack.files.valuePlaceholder'
      }}
    </div>

    <div class="box mt-20">
      {{form-key-value
        header=(t 'newStack.answers.label')
        changed=(action "answersChanged")
        allowMultilineValue=true
        addActionLabel="newStack.answers.addActionLabel"
      }}
    </div>

    <hr class="mt-40 mb-40" />

    <div class="row box">
      <div class="col span-6">
        <label class="acc-label">{{t 'newStack.startOnCreate.label'}}</label>
        <div class="radio">
          <label>{{radio-button selection=primaryResource.startOnCreate value=true}}&nbsp;{{t 'newStack.startOnCreate.on'}}</label>
        </div>
        <div class="radio">
          <label>{{radio-button selection=primaryResource.startOnCreate value=false}}&nbsp;{{t 'newStack.startOnCreate.off'}}</label>
        </div>
      </div>
      <div class="col span-6">
        <label class="acc-label">{{t 'editStack.group.label'}}</label>
        <div class="input-group">
          {{input type="text" value=primaryResource.group classNames="form-control" placeholder=(t 'editStack.group.placeholder')}}
          <div class="input-group-btn bg-primary">
            <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon icon-chevron-down"></i></button>
            <ul class="dropdown-menu dropdown-menu-right" role="menu">
              {{#each tagChoices as |key|}}
                <li><a {{action "addTag" key}}>{{key}}</a></li>
              {{/each}}
            </ul>
          </div>
        </div>
        <p class="help-block">{{t 'editStack.group.help'}}</p>
      </div>
    </div>
  {{/advanced-section}}
</section>

{{top-errors errors=errors}}
{{save-cancel save="save" cancel="cancel"}}
