<section class="header clearfix">
  <h1>{{t 'newStack.header'}}</h1>
</section>

<section class="container-fluid">
  {{form-name-description
      model=primaryResource
      namePlaceholder="newStack.name.placeholder"
      descriptionPlaceholder="newStack.description.placeholder"
  }}

  {{input-files
      accept=".yml, .yaml"
      initialFiles=primaryResource.templates
      changed=(action (mut files))
      header='newStack.files.label'
      addActionLabel='newStack.files.addActionLabel'
      uploadActionLabel='newStack.files.uploadActionLabel'
      namePlaceholder='newStack.files.namePlaceholder'
      valuePlaceholder='newStack.files.valuePlaceholder'
      protipLabel='newStack.files.protipLabel'
  }}

  {{#advanced-section}}
    <hr class="mt-20 mb-20"/>

    <div class="box mt-20">
      {{form-key-value
          header=(t 'newStack.answers.label')
          changed=(action "answersChanged")
          allowMultilineValue=true
          addActionLabel="newStack.answers.addActionLabel"
      }}
    </div>

    <div class="row box mt-20">
      <label class="acc-label">{{t 'editStack.group.label'}}</label>
      <div class="input-group">
        {{input type="text" value=primaryResource.group classNames="form-control" placeholder=(t 'editStack.group.placeholder')}}
        <div class="input-group-btn bg-primary">
          <button type="button" class="btn bg-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon icon-chevron-down"></i></button>
          <ul class="dropdown-menu dropdown-menu-right" role="menu">
            {{#each tagChoices as |key|}}
              <li><a {{action "addTag" key}}>{{key}}</a></li>
            {{/each}}
          </ul>
        </div>
      </div>
      <p class="help-block">{{t 'editStack.group.help'}}</p>
    </div>
  {{/advanced-section}}
</section>

{{top-errors errors=errors}}
{{save-cancel save="save" cancel="cancel"}}
