<section>
  <div class="row">
    <div class="col-sm-6">
      <h3>{{displayName}}</h3>
    </div>
    <div class="col-sm-6 text-right">
      <h3 class="instance-status {{stateColor}}">
        <i class="{{stateIcon}}"></i> {{displayState}}
      </h3>
      <div class="force-wrap {{if isError 'text-danger' 'text-muted'}} {{unless showTransitioningMessage 'hide'}}">
        {{transitioningMessage}}
      </div>
    </div>
  </div>
</section>
