<section class="header clearfix">
  <div class="pull-left">
    <h1>{{t 'hookPage.receiver.header'}}</h1>
  </div>

  <div class="right-buttons">
    {{#link-to "authenticated.project.hooks.new-receiver" class="btn btn-sm bg-primary" disabled=true}}{{t 'hookPage.receiver.buttonText'}}{{/link-to}}
  </div>
</section>

<section>
  <p class="help-block">{{t 'hookPage.receiver.content' appName=settings.appName}}</p>
  {{#if model.receivers.length}}
    {{#sortable-table
        classNames="grid fixed r-mb0 mt-10 sortable-table"
        bulkActions=false
        paging=false
        search=false
        sortBy=sortBy
        headers=headers
        body=model.receivers
        as |sortable kind row|
    }}
      {{#if (eq kind "row")}}
          {{hook-row model=row}}
      {{else if (eq kind "norows")}}
        <tr>
          <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'hookPage.receiver.noData'}}</td>
        </tr>
      {{/if}}
    {{/sortable-table}}
  {{else if true}}
    <div class="m-40 text-center text-muted">Coming soon...</div>
  {{else}}
    {{empty-table resource="container" newRoute="authenticated.project.hooks.new-receiver" newTranslationKey="hookPage.receiver.buttonText"}}
  {{/if}}
</section>
