{{top-errors errors=errors}}

<section class="horizontal-form">
  <div class="container-fluid">
    {{partial "host/add-common"}}

    <div class="over-hr" style="margin: 20px 0;">
      <span>Account Access</span>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="accessKey" class="form-control-static">Access Key*</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="accessKey" classNames="form-control" placeholder="Your AWS access key" value=amazonec2Config.accessKey}}
      </div>
      <div class="col-sm-12 col-md-2 form-label">
        <label for="secretKey" class="form-control-static">Secret Key*</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="password" id="secretKey" classNames="form-control" placeholder="Your AWS secret key" value=amazonec2Config.secretKey}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="sessionToken" class="form-control-static">Session Token</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="sessionToken" classNames="form-control" placeholder="" value=amazonec2Config.sessionToken}}
      </div>
    </div>

    <div class="over-hr" style="margin: 20px 0;">
      <span>Instance</span>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="ami" class="form-control-static">AMI</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="ami" classNames="form-control" placeholder="An Ubuntu AMI" value=amazonec2Config.ami}}
      </div>
      <div class="col-sm-12 col-md-2 form-label">
        <label for="rootSize" class="form-control-static">Root Size</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="rootSize" classNames="form-control" placeholder="" value=amazonec2Config.rootSize}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="instanceType" class="form-control-static">Instance Type</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="instanceType" classNames="form-control" placeholder="" value=amazonec2Config.instanceType}}
      </div>
      <div class="col-sm-12 col-md-2 form-label">
        <label for="iamInstanceProfile" class="form-control-static">IAM Profile</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="iamInstanceProfile" classNames="form-control" placeholder="" value=amazonec2Config.iamInstanceProfile}}
      </div>
    </div>


    <div class="over-hr" style="margin: 20px 0;">
      <span>Region</span>
    </div>


    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="region" class="form-control-static">Region</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="region" classNames="form-control" placeholder="" value=amazonec2Config.region}}
      </div>
      <div class="col-sm-12 col-md-2 form-label">
        <label for="zone" class="form-control-static">Zone</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input type="text" id="zone" classNames="form-control" placeholder="" value=amazonec2Config.zone}}
      </div>
    </div>

    <div class="over-hr" style="margin: 20px 0;">
      <span>Network</span>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="vpcOrSubnetId" class="form-control-static">VPC/Subnet ID*</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{input type="text" id="vpcOrSubnetId" classNames="form-control" placeholder="Provide a VPC ID or Subnet ID to attach the Instance to" value=vpcOrSubnetId}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="securityGroup" class="form-control-static">Security Group</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{input type="text" id="securityGroup" classNames="form-control" placeholder="" value=amazonec2Config.securityGroup}}
        <p style="margin: 10px 0 0 0;">Your security group will need to allow traffic:</p>
        <ul>
          <li>From the internet to <code>TCP</code> ports <code>9345</code> and <code>9346</code> <span class="text-muted">(for UI hosts stats/graphs)</span></li>
          <li>From and To all other hosts on <code>UDP</code> ports <code>500</code> and <code>4500</code> <span class="text-muted">(for IPsec networking)</span></li>
        </ul>
        <p style="margin: 0;">Machine will automatically create this group if needed, but will <b>not</b> add these rules.</p>
      </div>
    </div>
  </div>
  {{partial "save-cancel"}}
</section>
