<section class="header">
  <h1>{{t (if editing 'editCluster.title.edit' 'editCluster.title.new')}}</h1>
</section>

<section class="horizontal-form container-fluid">
  <label class="acc-label pb-5">{{t 'editCluster.name.label'}}</label>
  {{input type="text" value=primaryResource.name classNames="form-control" placeholder=(t 'editCluster.name.placeholder')}}

  <label class="acc-label pt-20 pb-5">{{t 'editCluster.description.label'}}</label>
  {{textarea value=primaryResource.description classNames="form-control no-resize" rows="5" placeholder=(t 'editCluster.description.placeholder')}}
</section>

{{#unless editing}}
    <div class="over-hr mt-20 mb-20">
      <span>{{t 'editCluster.systemStacks.hr'}}</span>
    </div>
{{/unless}}

<section class="horizontal-form container-fluid">
  {{#if editCatalog}}
    {{new-catalog
        allTemplates=catalogItem.allTemplates
        stackResource=catalogItem.stack
        templateResource=catalogItem.tpl
        versionLinks=catalogItem.versionLinks
        versionsArray=catalogItem.versionsArray
        showName=(and (not editing) (not catalogItem.stack.system))
        selectedTemplateUrl=selectedTemplateUrl
        actuallySave=false
        doSave=(action 'templateEdited')
        cancel=(action 'cancelEdit')
    }}
  {{else if viewCatalog}}
    <div class="pull-right text-small">
      <a role="button" class="btn bg-transparent p-0" {{action 'cancelAddSystem'}}>{{t 'editCluster.systemStacks.cancel'}}</a>
    </div>
    <!-- application=application -->
    {{catalog-index
        model=catalogInfo
        category=category
        catalogId=catalogId
        showHeader=false
        launch=(action 'goToTemplate')
        filterAction=(action 'filterAction' )
        categoryAction=(action 'categoryAction' )
    }}
  {{else}}
    <hr/>

    <section class="header clearfix">
      <h1 class="pull-left">{{t 'editCluster.systemStacks.title'}}</h1>
      <div class="right-buttons">
        <button class="btn bg-primary" {{action (action 'addSystemStack' ) }} onMouseEnter={{action (action 'prefetchCatalog')}}  id='add-system-stack'>{{t 'editCluster.systemStacks.add'}}</button>
      </div>
    </section>
    <p class="text-info mb-0">{{t 'editCluster.systemStacks.detail'}}</p>

    <div class="section container-fluid container-catalog clearfix">
      {{#each primaryResource.systemStacks as |stack|}}
        {{#catalog-box model=stack.catalogTemplate showSource=true as |section|}}
          {{#if (eq section 'body')}}
            <h3>{{stack.catalogTemplate.name}}</h3>
            <div class="mt-10 description">{{stack.catalogTemplate.description}}</div>
          {{else if (eq section 'footer')}}
            <button type="button" class="btn bg-primary" {{action "editStack" stack true}}>{{t 'action.edit'}}</button>
            <button type="button" class="btn bg-transparent" {{action "removeStack" stack}}>{{t 'generic.remove'}}</button>
          {{/if}}
        {{/catalog-box}}
      {{else}}
        {{t 'editCluster.systemStacks.noData'}}
      {{/each}}
    </div>

    {{top-errors errors=errors}}
    {{save-cancel editing=editing save="save" cancel="cancel"}}

  {{/if}}
</section>
