{{#accordion-list-item
      title=(t 'formUpgrade.title')
      detail=(t 'formUpgrade.detail' appName=settings.appName)
      status=status
      statusClass=statusClass
      expandAll=expandAll
      expand=(action expandFn)
}}

  {{#input-or-display editable=editing value=service.startFirst}}
    <div class="row">
      <div class="col span-11-of-23">
        <label>{{t 'formUpgrade.behavior'}}</label>
        <div class="radio small mt-10">
          <label>{{radio-button selection=service.startFirst value=false}} {{t 'formUpgrade.stopFirst.label'}}</label>
          <p class="help-block">{{t 'formUpgrade.stopFirst.detail'}}</p>
        </div>
      </div>
      <div class="col span-11-of-23 offset-1-of-23">
        <label>&nbsp;</label>
        <div class="radio small mt-10">
          <label>{{radio-button selection=service.startFirst value=true}} {{t 'formUpgrade.startFirst.label'}}</label>
          <p class="help-block">{{t 'formUpgrade.startFirst.detail'}}</p>
        </div>
      </div>
    </div>
  {{/input-or-display}}

  <hr/>

  <div class="row">
    <div class="col span-11-of-23">
      <label>{{t 'formUpgrade.batchSize.label'}}</label>
      {{#input-or-display editable=editing value=service.batchSize}}
        <div class="input-group">
          {{input-integer min=1 step=100 classNames="form-control" value=service.batchSize}}
          <span class="input-group-addon bg-default">{{t 'generic.containers'}}</span>
        </div>
        <p class="help-block">{{t 'formUpgrade.batchSize.detail'}}</p>
      {{/input-or-display}}
    </div>

    <div class="col span-11-of-23 offset-1-of-23">
      <label>{{t 'formUpgrade.interval.label'}}</label>
      {{#input-or-display editable=editing value=service.interval}}
        <div class="input-group">
          {{input-integer min=0 classNames="form-control" value=service.interval}}
          <span class="input-group-addon bg-default">{{t 'generic.millisecond'}}</span>
        </div>
      {{/input-or-display}}
      <p class="help-block">{{t 'formUpgrade.interval.detail'}}</p>
    </div>
  </div>

  <hr/>

  <div class="row">
    <div class="col-23-of-23">
      <label>{{t 'formUpgrade.force.label'}}</label>
      <p class="help-block">{{t 'formUpgrade.force.detail'}}</p>

      @TODO API for force-upgrade
    </div>
  </div>
{{/accordion-list-item}}
