<tr class="main-row">
  {{#if bulkActions}}
    <td valign="middle" class="row-check" style="padding-top: 2px;">
      {{check-box nodeId=model.id}}
    </td>
  {{/if}}
  {{#if canExpand}}
    <td valign="middle">
      <i role="button" {{action "toggle"}} class="icon icon-play eased text-small text-muted {{if expanded 'icon-rotate-90'}}"><span class="visually-hidden">Open accordion</span></i>
    </td>
  {{else if expandPlaceholder}}
    <td valign="middle">
    </td>
  {{/if}}
  <td data-title="{{dt.state}}" class="state" valign="middle">
    {{badge-state model=model}}
  </td>
  <td data-title="{{dt.name}}" class="clip">
    <a href="{{href-to "pod" model.id}}">{{model.displayName}}</a>
    {{#if model.showTransitioningMessage}}
      <div class="clip text-small {{model.stateColor}}">{{uc-first model.transitioningMessage}}</div>
    {{else if model.displayEndpoints}}
      <div class="clip text-small">
        {{model.displayEndpoints}}
      </div>
    {{/if}}
  </td>
  <td data-title="{{dt.image}}" class="clip top-half">
     <small>{{model.displayImage}}</small>
     <p data-title="{{t 'generic.details'}}" class="text-small text-muted m-0 clip">
      {{#if model.displayIp}}
        {{#copy-inline clipboardText=model.displayIp}}{{format-ip model.displayIp}}{{/copy-inline}} /
      {{/if}}
      {{#if (and showNode model.node)}}
        <a class="text-vertical-top" href="{{href-to "authenticated.cluster.monitoring.node-detail" scope.currentCluster.id model.node.id}}">{{model.node.displayName}}</a> /
      {{/if}}
      {{t 'generic.createdDate' date=(date-from-now model.created) htmlSafe=true}} /
      {{t 'generic.restarts'}} {{model.restarts}}
    </p>
  </td>
  {{#if scalePlaceholder}}
    <td class="text-muted text-center">
      <small>{{t 'namespaceGroup.none'}}</small>
    </td>
  {{/if}}
  {{#if showActions}}
    <td data-title="{{dt.actions}}" class="actions">
      {{action-menu model=model showPrimary=showPrimaryActions}}
    </td>
  {{/if}}
</tr>

{{#if canExpand}}
  <tr class="sub-row {{unless expanded 'hide'}}">
    <td colspan="2">{{! checkbox and expand}}</td>
    <td colspan="{{sub fullColspan 4}}">
      {{#if expanded}}
        {{pod-dots
          pod=model
          searchText=searchText
          groupByPod=model.hasSidekicks
        }}
      {{/if}}
    </td>
    <td class="text-center">{{! scale }}</td>
    <td>{{! actions}}</td>
  </tr>

  {{#if expanded}}
    <tr class="separator-row">
      <td colspan="{{fullColspan}}"></td>
    </tr>
  {{/if}}
{{/if}}
