<section class="header clearfix">
  <h1 class="pull-left">
    {{t "clusterTemplatesPage.newRevision.header"}}
  </h1>
</section>

<CruClusterTemplate
  @clusterTemplate={{model.clusterTemplate}}
  @clusterTemplateRevision={{model.clusterTemplateRevision}}
  @updateTemplateId={{action "updateTemplateId"}}
  @clusterTemplateRevisionId={{model.clusterTemplateRevisionId}}
  @psps={{model.psps}}
  @mode="edit"
  @cancel={{action "cancel"}}
  @done={{action "done"}}
/>
