<section class="header">
  <h1>
    {{t "clusterTemplatesPage.newRevision.header"}}
  </h1>
</section>

<CruClusterTemplate @clusterTemplate={{model.clusterTemplate}}
  @clusterTemplateRevision={{model.clusterTemplateRevision}} @updateTemplateId={{action "updateTemplateId" }}
  @clusterTemplateRevisionId={{model.clusterTemplateRevisionId}} @psps={{model.psps}} @mode="edit"
  @cancel={{action "cancel" }} @done={{action "done" }} />
