<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t 'volumeSource.customLogPath.mountPath.label'}}</label>
    {{input
        type="text"
        value=mount.mountPath
        placeholder=(t 'volumeSource.customLogPath.mountPath.placeholder')
    }}
    <p class="text-info text-small">{{t 'volumeSource.customLogPath.mountPath.helpText'}}</p>
  </div>
  <div class="col span-6">
    <label class="acc-label">{{t 'volumeSource.customLogPath.logFormat.label'}}</label>
    {{searchable-select
        placeholder=(t 'volumeSource.customLogPath.logFormat.placeholder')
        allowCustom=true
        content=formats
        value=config.options.format
        readOnly=false
    }}
    <p class="text-info text-small">{{t 'volumeSource.customLogPath.logFormat.helpText'}}</p>
  </div>
</div>