<section class="row">
  <div class="col span-1">
    <div class="pt-10">
      <label>{{t 'alertPage.newOrEdit.whenA'}}</label>
    </div>
  </div>

  <div class="col span-10">
    <div class="row">
      <div class="col span-3">
        <label>
          {{radio-button selection=model._targetType value="pod"}} {{t 'alertPage.targetTypes.pod'}}
        </label>
      </div>
      <div class="col span-8 mt-0">
        {{searchable-select
            content=pods
            class="form-control"
            value=model.targetPod.podId
            optionValuePath="id"
            optionLabelPath="displayName"
            placeholder=(t 'alertPage.newOrEdit.podPlaceholder')
            readOnly=(not-eq model._targetType 'pod')
        }}
      </div>
    </div>

    <div class="row">
      <div class="col span-3">
        <label>
          {{radio-button selection=model._targetType value="workload"}} {{t 'alertPage.targetTypes.workload'}}
        </label>
      </div>
      <div class="col span-8 mt-0">
        {{searchable-select
            content=workloads
            class="form-control"
            value=model.targetWorkload.workloadId
            optionValuePath="id"
            optionLabelPath="displayName"
            placeholder=(t 'alertPage.newOrEdit.resourcePlaceholder')
            readOnly=(not-eq model._targetType 'workload')
        }}
      </div>
    </div>
    <div class="row">
      <div class="col span-3">
        <label>
          {{radio-button selection=model._targetType value="workloadSelector"}} {{t 'alertPage.targetTypes.workloadSelector'}}
        </label>
      </div>
      <div class="col span-8 mt-0">
        {{#if (eq model._targetType 'workloadSelector')}}
          {{form-key-value
              addActionLabel="alertPage.addSelectorLabel"
              initialMap=model.targetWorkload.selector
              changed=(action (mut model.targetWorkload.selector))
          }}
        {{else}}
          <button {{action "noop"}} style="cursor:not-allowed;" class="btn bg-disabled icon-btn">
            <span class="darken"><i class="icon icon-plus text-small"/></span>
            <span>{{t 'alertPage.addSelectorLabel'}}</span>
          </button>
        {{/if}}
      </div>

    </div>
  </div>
</section>
<hr/>
<section class="row">
  <div class="col span-1">
    <div style="{{if (eq model._targetType 'pod') 'padding-top: 6px;' 'padding-top: 8px;'}}">{{t 'alertPage.newOrEdit.is'}}</div>
  </div>
  <div class="col span-10">
  {{#if (eq model._targetType 'pod')}}
    <label class="mr-10">
      {{radio-button selection=model.targetPod.condition value="notrunning"}} {{t 'alertPage.newOrEdit.notRunning'}}
    </label>
    <label class="mr-10">
      {{radio-button selection=model.targetPod.condition value="notscheduled"}} {{t 'alertPage.newOrEdit.notScheduled'}}
    </label>
    <label class="">
      {{radio-button selection=model.targetPod.condition value="restarts"}} {{t 'alertPage.newOrEdit.restarted'}}
    </label>
    <div style="display:inline-block;width:80px;">
      {{input-integer
          classNames="form-contorl input-sm"
          disabled=(not-eq model.targetPod.condition 'restarts')
          placeholder="3"
          min=1
          value=model.targetPod.restartTimes
      }}
    </div>
    {{t 'alertPage.newOrEdit.restartedTimes'}}
    <div style="display:inline-block;width:80px;">
      {{input-integer
          classNames="form-contorl input-sm"
          disabled=(not-eq model.targetPod.condition 'restarts')
          placeholder="5"
          min=1
          value=restartIntervalSeconds
      }}
    </div>
    {{t 'alertPage.newOrEdit.minutes'}}
  {{else if (or (eq model._targetType 'workload') (eq model._targetType 'workloadSelector'))}}
    <div class="row">
      <div class="col span-1 mt-0">
        <div style="padding-top: 8px;">
          {{t 'alertPage.newOrEdit.lessThan'}}
        </div>
      </div>
      <div class="col span-6 mt-0">
        <div class="input-group pt-5">
          {{input-slider
              value=model.targetWorkload.availablePercentage
              valueMin=0
              valueMax=100
              step=1
          }}
          <span class="input-group-addon">{{model.targetWorkload.availablePercentage}}% {{t 'alertPage.newOrEdit.available'}}</span>
        </div>
      </div>
    </div>
  {{else}}
    <div>More targetTypes... </div>
  {{/if}}
  </div>
</section>

<hr/>
<section class="row">
  <div class="col span-1">
    {{t 'alertPage.newOrEdit.sendA'}}
  </div>
  <div class="col span-10">
    <label class="mr-10">{{radio-button selection=model.severity value="critical"}} {{t 'alertPage.newOrEdit.critical'}}</label>
    <label class="mr-10">{{radio-button selection=model.severity value="warning"}} {{t 'alertPage.newOrEdit.warning'}}</label>
    <label class="mr-10">{{radio-button selection=model.severity value="info"}} {{t 'alertPage.newOrEdit.info'}}</label>
  </div>
</section>