<section class="header r-pt20 clearfix">
  <h1>{{#link-to "hosts"}}{{t 'hostsPage.hostPage.header.linkTo'}}{{/link-to}}</h1>

  {{#power-select options=model.all selected=host onchange=(action "changeHost") searchField="displayName" as |obj|}}
    {{select-dot model=obj}}
  {{/power-select}}

  <div class="pull-right">
    {{#action-menu model=host size="sm" classNames="r-ml10 pull-right"}}
      {{#link-to "containers.new" (query-params hostId=host.id) classNames="btn btn-sm btn-primary"}}{{t 'hostsPage.hostPage.addContainer.linkTo'}}{{/link-to}}
    {{/action-menu}}

    {{header-state model=host classNames="pull-right"}}
  </div>
</section>

<section>
  <div class="row">
    <div class="col-md-3 r-mb15">
      {{#if host.description}}
        <div>
          <label>{{t 'hostsPage.hostPage.infoMultiStats.description'}} </label>
          <div>{{host.description}}</div>
        </div>
        <hr>
      {{/if}}

      <div>
        <label>{{t 'hostsPage.hostPage.infoMultiStats.ip'}}</label>
        <div>{{copy-ip ip=host.displayIp}}</div>
      </div>

      <hr>

      <div>
        <label>{{t 'hostsPage.hostPage.infoMultiStats.cpu'}}</label>
        <div>
          {{host.cpuBlurb}}
          {{#if host.cpuTooltip}}
            {{#tooltip-element type='tooltip-basic' model=host tooltipTemplate='tooltip-cpu'}}
              <i class="icon icon-info"></i>
            {{/tooltip-element}}
          {{/if}}
        </div>
      </div>

      <hr>

      <div>
        <label>{{t 'hostsPage.hostPage.infoMultiStats.memory'}}</label>
        {{#if host.memoryBlurb}}
          <div>{{host.memoryBlurb}}</div>
        {{else}}
          <div class="text-muted">{{t 'generic.unknown'}}</div>
        {{/if}}
      </div>

      <hr>

      <div>
        <label>{{t 'hostsPage.hostPage.infoMultiStats.storage'}}</label>
        {{#if host.diskBlurb}}
          {{#if host.diskDetail}}
            {{#each host.diskDetail as |disk|}}
              <div>{{disk.value}}
                {{#tooltip-element type='tooltip-basic' tooltipTemplate='tooltip-basic-literal' model=disk}}
                  <i class="icon icon-info"></i>
                {{/tooltip-element}}
             </div>
            {{/each}}
          {{else}}
            <div>{{host.diskBlurb}} (total)</div>
          {{/if}}
        {{else}}
          <div class="text-muted">{{t 'generic.unknown'}}</div>
        {{/if}}
      </div>

      <hr>

      <div>
        <label>{{t 'hostsPage.hostPage.infoMultiStats.provider.labelText'}}</label>
        {{#if host.machine}}
          <div>{{host.machine.driver}}</div>
        {{else}}
          <div class="text-muted">{{t 'hostsPage.hostPage.infoMultiStats.provider.noHost'}}</div>
        {{/if}}
      </div>

      <hr>

      <div>
        <label>{{t 'hostsPage.hostPage.infoMultiStats.kernel'}}</label>
        <div>{{host.info.osInfo.kernelVersion}}</div>
      </div>

      <hr>

      <div>
        <label>{{t 'hostsPage.hostPage.infoMultiStats.docker'}}</label>
        {{#if host.dockerBlurb}}
          <div>{{host.dockerBlurb}}</div>
        {{else}}
          <div class="text-muted">{{t 'generic.unknown'}}</div>
        {{/if}}
      </div>

      <hr>

      <div>
        <label>{{t 'hostsPage.hostPage.infoMultiStats.os'}}</label>
        {{#if host.osDetail}}
          <div>{{host.osDetail}}</div>
        {{else}}
          <div class="text-muted">{{t 'generic.unknown'}}</div>
        {{/if}}
      </div>

    </div>
    <div class="col-md-9">
      <div class="row">
        {{info-multi-stats model=host linkName="hostStats" single=true}}
      </div>
      <div class="row r-p15">
        <ul class="nav nav-tabs nav-tabs-well shadowed" role="tablist" style="display:inline-block;">
          {{#link-to "host.containers" tagName="li" href=false}}<a href="#"><i class="icon icon-box"></i> {{t 'hostsPage.hostPage.navTabs.containers'}}</a>{{/link-to}}
          {{#link-to "host.ports" tagName="li" href=false}}<a href="#"><i class="icon icon-share"></i> {{t 'hostsPage.hostPage.navTabs.ports'}}</a>{{/link-to}}
          {{#link-to "host.labels" tagName="li" href=false}}<a href="#"><i class="icon icon-tag"></i> {{t 'hostsPage.hostPage.navTabs.labels'}}</a>{{/link-to}}
          {{#link-to "host.storage" tagName="li" href=false}}<a href="#"><i class="icon icon-hdd"></i> {{t 'hostsPage.hostPage.navTabs.storage'}}</a>{{/link-to}}
        </ul>
        <div class="table-flat well">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</section>
