<section class="header clearfix">
  <h1>{{#link-to "hosts"}}{{t 'hostsPage.hostPage.header.linkTo'}}{{/link-to}}</h1>

  {{#power-select options=model.all selected=host onchange=(action "changeHost") searchField="displayName" as |obj|}}
    {{select-dot model=obj}}
  {{/power-select}}

  <div class="pull-right">
    {{#action-menu model=host size="sm" classNames="r-ml10 pull-right"}}
      {{#link-to "containers.new" (query-params hostId=host.id) classNames="btn btn-sm btn-primary"}}{{t 'hostsPage.hostPage.addContainer.linkTo'}}{{/link-to}}
    {{/action-menu}}

    {{header-state model=host classNames="pull-right"}}
  </div>
</section>

<section>
  <div class="row">
    <div class="col-md-3 r-mb15">
      {{#if host.description}}
        <div>
          <label>{{t 'hostsPage.hostPage.infoMultiStats.description'}} </label>
          <div>{{host.description}}</div>
        </div>
        <hr>
      {{/if}}

      <div>
        <label>{{t 'hostsPage.hostPage.infoMultiStats.ip'}}</label>
        <div>{{copy-ip ip=host.displayIp}}</div>
      </div>

      <hr>

      <div>
        <label>{{t 'hostsPage.hostPage.infoMultiStats.cpu'}}</label>
        <div class="row">
          <div class="col-md-6 r-p0">
            {{#if host.milliCpu}}{{t 'generic.total'}}{{/if}}: {{host.cpuBlurb}}
            {{#if host.cpuTooltip}}
              {{#tooltip-element type='tooltip-basic' model=host tooltipTemplate='tooltip-cpu' tooltipFor="tooltipCPU"}}
                <i class="icon icon-info"></i>
              {{/tooltip-element}}
            {{/if}}
          </div>
          {{#if host.milliCpu}}
            <div class="col-md-6 r-p0">
              {{t 'generic.limit'}}: {{host.milliCpu}} {{t 'hostsPage.hostPage.infoMultiStats.milliCpu.labelText'}}
            </div>
          {{/if}}
        </div>
      </div>

      <hr>

      <div>
        <label>{{t 'hostsPage.hostPage.infoMultiStats.memory'}}</label>
        <div class="row">
          <div class="col-md-6 r-p0">
            {{#if host.memory}}{{t 'generic.total'}}{{/if}}:
            {{#if host.memoryBlurb}}
              {{host.memoryBlurb}}
            {{else}}
              <span class="text-muted">{{t 'generic.unknown'}}</span>
            {{/if}}
          </div>
          {{#if host.memory}}
            <div class="col-md-6 r-p0">
              {{t 'generic.limit'}}: {{host.memoryLimitBlurb}}
            </div>
          {{/if}}
        </div>
      </div>

      <hr>

      <div>
        <label>{{t 'hostsPage.hostPage.infoMultiStats.storage'}}</label>
        <div class="row">
          {{#if host.diskBlurb}}
            {{#if host.diskDetail}}
              {{#each host.diskDetail as |disk|}}
                <div class="col-md-6 r-p0">{{disk.value}}
                  {{#tooltip-element type='tooltip-basic' tooltipTemplate='tooltip-basic-literal' model=disk tooltipFor="hostDisk"}}
                    <i class="icon icon-info"></i>
                  {{/tooltip-element}}
               </div>
              {{/each}}
            {{else}}
              <div class="col-md-6 r-p0">{{host.diskBlurb}} (total)</div>
            {{/if}}
            <div class="col-md-6 r-p0">
              {{t 'hostsPage.hostPage.infoMultiStats.localStorageMb.labelText'}}: {{host.localStorageBlurb}}
            </div>
          {{else}}
            <div class="text-muted">{{t 'generic.unknown'}}</div>
          {{/if}}
        </div>
      </div>

      <hr>

      <div>
        <label>{{t 'hostsPage.hostPage.infoMultiStats.provider.labelText'}}</label>
        {{#if host.driver}}
          <div>{{host.driver}}</div>
        {{else}}
          <div class="text-muted">{{t 'hostsPage.hostPage.infoMultiStats.provider.noHost'}}</div>
        {{/if}}
      </div>

      <hr>

      <div>
        <label>{{t 'hostsPage.hostPage.infoMultiStats.kernel'}}</label>
        <div>{{host.info.osInfo.kernelVersion}}</div>
      </div>

      <hr>

      <div>
        <label>{{t 'hostsPage.hostPage.infoMultiStats.docker'}}</label>
        {{#if host.dockerEngineVersion}}
          <div>{{host.dockerEngineVersion}}</div>
        {{else}}
          <div class="text-muted">{{t 'generic.unknown'}}</div>
        {{/if}}
      </div>

      <hr>

      <div>
        <label>{{t 'hostsPage.hostPage.infoMultiStats.os'}}</label>
        {{#if host.osDetail}}
          <div>{{host.osDetail}}</div>
        {{else}}
          <div class="text-muted">{{t 'generic.unknown'}}</div>
        {{/if}}
      </div>

    </div>
    <div class="col-md-9">
      <div class="row">
        {{info-multi-stats model=host linkName="hostStats" single=true}}
      </div>
      <div class="row r-p15">
        <ul class="nav nav-tabs nav-tabs-well shadowed" role="tablist">
          {{#link-to "host.containers" tagName="li" href=false}}<a href="#">{{t 'hostsPage.hostPage.navTabs.containers'}}</a>{{/link-to}}
          {{#link-to "host.ports" tagName="li" href=false}}<a href="#">{{t 'hostsPage.hostPage.navTabs.ports'}}</a>{{/link-to}}
          {{#link-to "host.labels" tagName="li" href=false}}<a href="#">{{t 'hostsPage.hostPage.navTabs.labels'}}</a>{{/link-to}}
          {{#link-to "host.storage" tagName="li" href=false}}<a href="#">{{t 'hostsPage.hostPage.navTabs.storage'}}</a>{{/link-to}}
        </ul>
        <div class="table-flat well">
          {{outlet}}
        </div>
      </div>
    </div>
  </div>
</section>
