<section class="header">
  <h3>
    {{resource-actions-menu model=this choices=availableActions classNames="pull-right"}}
    <div {{bind-attr class=":state stateColor"}}>
      <i {{bind-attr class="stateIcon"}}></i> {{displayState}}
    </div>
    <span class="right-divider">{{#link-to "hosts"}}Hosts:{{/link-to}} {{displayName}}</span>
    {{#link-to "containers.new" (query-params hostId=id) classNames="btn btn-sm btn-primary right-divider-btn"}}Add Container{{/link-to}}
  </h3>
  {{partial "description"}}
</section>

<section>
  {{#info-stats model=this}}
    <ul class="list-lines">
      {{#if showTransitioningMessage}}
        <li>
          <label>Message</label>
          <span {{bind-attr class=":force-wrap stateColor"}}>
            {{transitioningMessage}}
          </span>
        </li>
      {{/if}}

      <li>
        <label>IP Address</label>
        {{displayIp}} {{zero-clipboard text=displayIp}}
      </li>

      {{#if machine}}
        <li>
          <label>Provider</label>
          {{machine.driver}}
        </li>
      {{/if}}

      {{#if cpuBlurb}}
        <li>
          <label>CPU</label>
          {{cpuBlurb}}
        </li>
      {{/if}}

      {{#if memoryBlurb}}
        <li>
          <label>Memory</label>
          {{memoryBlurb}}
        </li>
      {{/if}}

      {{#if diskBlurb}}
        <li>
          <label>Storage</label>
          {{diskBlurb}}
        </li>
      {{/if}}

      {{#if osBlurb}}
        <li>
          <label>OS</label>
          {{osBlurb}}
        </li>
      {{/if}}

      {{#if info.osInfo.kernelVersion}}
        <li>
          <label>Kernel</label>
          {{info.osInfo.kernelVersion}}
        </li>
      {{/if}}

      {{#if dockerBlurb}}
        <li>
          <label>Docker</label>
          {{dockerBlurb}}
        </li>
      {{/if}}

    </ul>
  {{/info-stats}}
</section>

<section class="well" style="margin-bottom: 0;">
  <label class="section">Labels</label>
  {{labels-section model=labels}}
</section>

<section>
  <ul class="nav nav-tabs nav-tabs-well">
    {{#link-to "host.containers" tagName="li" href=false}}<a><i class="ss-box"></i> Containers</a>{{/link-to}}
    {{#link-to "host.storage" tagName="li" href=false}}<a><i class="ss-hdd"></i> Storage</a>{{/link-to}}
  </ul>
  <div class="well nav-well">
    {{outlet}}
  </div>
</section>
