<section class="header clearfix">
  <h1 class="pull-left">
    {{t 'hostsPage.hostPage.header.title' name=host.displayName}}
  </h1>
  <div class="pull-left mt-5">
    {{info-multi-stats model=host linkName="hostStats" largeTargetId="largeStats"}}
  </div>
  <div class="right-buttons">
    {{badge-state model=host}}
    {{action-menu model=host showPrimary=false classNames="ml-10 pull-right" size="sm"}}
  </div>
</section>

<div id="largeStats">
</div>

{{#if host.showTransitioningMessage}}
  <div class="force-wrap text-right mt-5 {{host.stateColor}}">
    {{host.transitioningMessage}}
  </div>
{{/if}}

<section>
  <div class="row banner bg-info basics ">
    <div class="inline-block">
      <label class="acc-label p-0">{{t 'hostsPage.hostPage.infoMultiStats.ip'}}</label>
      {{#copy-inline clipboardText=host.displayIp}}
        {{host.displayIp}}
      {{/copy-inline}}
    </div>
    <div class="inline-block">
      <label class="acc-label p-0">{{t 'hostsPage.hostPage.infoMultiStats.docker'}}</label>
      {{#if host.dockerEngineVersion}}
        {{host.dockerEngineVersion}}
      {{else}}
        <span class="text-muted">{{t 'generic.unknown'}}</span>
      {{/if}}
    </div>
    <div class="inline-block">
      <label class="acc-label p-0">{{t 'hostsPage.hostPage.infoMultiStats.provider.labelText'}}</label>
      {{#if host.driver}}
        {{host.driver}}
      {{else}}
        <span class="text-muted">{{t 'hostsPage.hostPage.infoMultiStats.provider.noHost'}}</span>
      {{/if}}
    </div>
  </div>
</section>
<section>

  {{#accordion-list as |al expandFn| }}

    {{#accordion-list-item
         classNames="physical-attrs"
         title=(t 'physicalStats.title')
         detail=(t 'physicalStats.detail')
         status=status
         statusClass=statusClass
         expandAll=al.expandAll
         expand=(action expandFn)
    }}
      <div class="row">
        <div class="col span-6">
          <label class="acc-label">{{t 'hostsPage.hostPage.infoMultiStats.os'}}</label>
          <div>
            {{#if host.osDetail}}
              {{host.osDetail}}
            {{else}}
              <span class="text-muted">{{t 'generic.unknown'}}</span>
            {{/if}}
          </div>
        </div>
        <div class="col span-6">
          <label class="acc-label">{{t 'hostsPage.hostPage.infoMultiStats.kernel'}}</label>
          <div>
            {{host.info.osInfo.kernelVersion}}
          </div>
        </div>
      </div>
      <hr/>
      <div class="row">
        <div class="col span-6 box">
          <h2>{{t 'generic.hardware'}}: </h2>
          <div>
            <label class="acc-label">{{t 'hostsPage.hostPage.infoMultiStats.cpu'}}</label>
            <div>
              {{host.cpuBlurb}}
            </div>
            <div>
              {{#if host.cpuTooltip}}
                {{host.cpuTooltip}}
              {{/if}}
            </div>
          </div>
          <div>
            <label class="acc-label pt-20">{{t 'hostsPage.hostPage.infoMultiStats.memory'}}</label>
            <div>
              {{#if host.memoryBlurb}}
                {{host.memoryBlurb}}
              {{else}}
                <span class="text-muted">{{t 'generic.unknown'}}</span>
              {{/if}}
            </div>
          </div>
          <div>
            <label class="acc-label pt-20">{{t 'hostsPage.hostPage.infoMultiStats.storage'}}</label>
            <div>
              {{#if host.diskBlurb}}
                {{#if host.diskDetail}}
                  {{#each host.diskDetail as |disk|}}
                    {{disk.value}}
                    ( {{disk.label}} )
                  {{/each}}
              {{else}}
                  {{host.diskBlurb}} (total)
                {{/if}}
            {{else}}
                <span class="text-muted">{{t 'generic.unknown'}}</span>
              {{/if}}
            </div>
          </div>
        </div>
        <div class="col span-6 box">
          <h2>{{t 'generic.limits'}}: </h2>
          <div>
            <label class="acc-label">{{t 'hostsPage.hostPage.limits.cpu'}}</label>
            <div>
              {{host.milliCpu}} {{t 'hostsPage.hostPage.infoMultiStats.milliCpu.labelText'}}
            </div>
          </div>
          <div>
            <label class="acc-label pt-20">{{t 'hostsPage.hostPage.limits.memory'}}</label>
            <div>
              {{host.memoryLimitBlurb}}
            </div>
          </div>
          <div>
            <label class="acc-label pt-20">{{t 'hostsPage.hostPage.limits.storage'}}</label>
            <div>
              {{host.localStorageBlurb}}
            </div>
          </div>
        </div>
      </div>
    {{/accordion-list-item}}

    {{#accordion-list-item
         title=(t 'hostsPage.hostPage.containersTab.header')
         detail=(t 'hostsPage.hostPage.containersTab.detail')
         status=(t 'hostsPage.hostPage.containersTab.status' count=host.arrangedInstances.length)
         statusClass=(if host.arrangedInstances.length 'bg-success' 'text-muted')
         expandAll=al.expandAll
         expand=(action expandFn)
         componentName='container-table'
         as | parent |
    }}
      {{component parent.intent
          body=host.arrangedInstances
          sortBy=sortBy
          bulkActions=true
          search=true
          paging=true
          showHost=false
          stickyHeader=false
      }}
    {{/accordion-list-item}}

    {{#accordion-list-item
         title=(t 'hostsPage.hostPage.portsTab.header')
         detail=(t 'hostsPage.hostPage.portsTab.detail')
         status=(t 'containerPage.portsTab.status' count=host.displayEndpoints.length)
         statusClass=(if host.displayEndpoints.length 'bg-success' 'text-muted')
         expandAll=al.expandAll
         expand=(action expandFn)
         componentName='sortable-table'
         as | parent |
    }}
      {{#component parent.intent
           classNames="grid fixed mb-0 sortable-table"
           bulkActions=false
           paging=true
           search=true
           sortBy=sortBy
           stickyHeader=false
           descending=descending
           headers=portHeaders
           body=host.displayEndpoints
           as |sortable kind port|
      }}
        {{#if (eq kind "row")}}
          <td>{{port.ipAddress}}</td>
          <td>{{port.port}}</td>
          <td>
            {{#if port.service}}
              <i class="{{port.service.stateIcon}} {{port.service.stateColor}}" />
              <a href="{{href-to "service" port.service.stackId port.service.id}}">{{port.service.displayName}}</a>
            {{else}}
              <span class="text-muted">-</span>
            {{/if}}
          </td>
          <td>
            {{#if port.instance}}
              <i class="{{port.instance.stateIcon}} {{port.instance.stateColor}}" />
              {{#if (eq port.instance.kind "virtualMachine")}}
                <a href="{{href-to "virtualmachine" port.instance.id}}">{{port.instance.displayName}}</a>
              {{else}}
                <a href="{{href-to "container" port.instance.id}}">{{port.instance.displayName}}</a>
              {{/if}}
            {{else}}
              <span class="text-muted">-</span>
            {{/if}}
          </td>
        {{else if (eq kind "norows")}}
          <tr>
            <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'hostsPage.hostPage.portsTab.table.body.noData'}}</td>
          </tr>
        {{/if}}
      {{/component}}
    {{/accordion-list-item}}

    {{labels-section
        model=host
        tagName=''
        expandAll=al.expandAll
        expandFn=expandFn
    }}

    {{#accordion-list-item
         title=(t 'hostsPage.hostPage.storageTab.header')
         detail=(t 'hostsPage.hostPage.storageTab.detail')
         status=(t 'hostsPage.hostPage.storageTab.status' count=nonRootVolumes.length)
         statusClass=(if nonRootVolumes.length 'bg-success' 'text-muted')
         expandAll=al.expandAll
         expand=(action expandFn)
         componentName='sortable-table'
         as | parent |
    }}
      {{#component parent.intent
           classNames="grid fixed mb-0 sortable-table"
           bulkActions=false
           paging=true
           search=true
           sortBy=sortBy
           stickyHeader=false
           descending=descending
           headers=storageHeaders
           body=nonRootVolumes
           fullRows=true
           as |sortable kind volume|
      }}
        {{#if (eq kind "row")}}
          {{volume-row model=volume}}
        {{else if (eq kind "norows")}}
          <tr>
            <td colspan="{{header.length}}" class="text-center text-muted">{{t 'hostsPage.hostPage.storageTab.table.body.noData'}}</td>
          </tr>
        {{/if}}
      {{/component}}
    {{/accordion-list-item}}
  {{/accordion-list}}
</section>
