<ol class="breadcrumb">
  {{#link-to "hosts" tagName="li" href=false}}<a>Hosts</a>{{/link-to}}
  <li class="active">{{host.displayName}}</li>
</ol>

<section class="header">
  <h3>
    {{#power-select options=model.all selected=host onchange=(action "changeHost") searchField="displayName" as |obj|}}
      <div class="clip"><i class="{{obj.stateIcon}} {{obj.stateColor}}" tooltip="{{obj.displayState}}"></i> {{obj.displayName}}</div>
    {{/power-select}}

    {{action-menu model=host classNames="left-divider r-ml5" size="sm"}}

    {{#link-to "containers.new" (query-params hostId=host.id) classNames="btn btn-sm btn-primary left-divider"}}Add Container{{/link-to}}
  </h3>
</section>

<section>
  {{#info-multi-stats model=host linkName="hostStats" single=true}}
    <div class="row multi-stats">
      <div class="col-sm-6 col-md-3">
        <label>IP Address:</label>
        {{host.displayIp}} {{zero-clipboard text=host.displayIp}}
      </div>
      <div class="col-sm-6 col-md-3">
        {{#if host.cpuBlurb}}
          <label>CPU:</label>
          {{host.cpuBlurb}}{{#if host.cpuTooltip}} <i class="icon icon-info" tooltip="{{host.cpuTooltip}}"></i>{{/if}}
        {{/if}}
      </div>
      <div class="col-sm-6 col-md-3">
        {{#if host.memoryBlurb}}
          <label>Memory:</label>
          {{host.memoryBlurb}}
        {{else}}
          <span class="text-muted">Unknown</span>
        {{/if}}
      </div>
      <div class="col-sm-6 col-md-3">
        {{#if host.diskBlurb}}
          <label>Storage:</label>
          {{#if host.diskDetail}}
            {{#each host.diskDetail as |disk|}}
              <span style="display: inline-block; padding-right: 10px;">{{disk.value}} <i class="icon icon-info" tooltip="{{disk.label}}"></i></span>
            {{/each}}
          {{else}}
            {{host.diskBlurb}} (total)
          {{/if}}
        {{else}}
          <span class="text-muted">Unknown</span>
        {{/if}}
      </div>
    </div>
    <div class="row multi-stats">
      <div class="col-sm-6 col-md-3">
        <label>Provider:</label>
        {{#if host.machine}}
          {{host.machine.driver}}
        {{else}}
          <span class="text-muted">Custom</span>
        {{/if}}
      </div>
      <div class="col-sm-6 col-md-3">
        {{#if host.info.osInfo.kernelVersion}}
          <label>Kernel:</label>
          {{host.info.osInfo.kernelVersion}}
        {{/if}}
      </div>
      <div class="col-sm-6 col-md-3">
        {{#if host.dockerBlurb}}
          <label>Docker:</label>
          {{host.dockerBlurb}}
        {{else}}
          <span class="text-muted">Unknown</span>
        {{/if}}
      </div>
      <div class="col-sm-6 col-md-3">
        {{#if host.osDetail}}
          <label>OS:</label>
          {{host.osDetail}}
        {{else}}
          <span class="text-muted">Unknown</span>
        {{/if}}
      </div>
    </div>
    {{#if host.description}}
      <div class="row multi-stats">
        <div class="col-xs-12 description">
          <label>Description: </label>
          <span>{{host.description}}</span>
        </div>
      </div>
    {{/if}}
  {{/info-multi-stats}}
</section>

<section>
  <ul class="nav nav-tabs nav-tabs-well shadowed">
    {{#link-to "host.containers" tagName="li" href=false}}<a><i class="icon icon-box"></i> Containers</a>{{/link-to}}
    {{#link-to "host.labels" tagName="li" href=false}}<a><i class="icon icon-tag"></i> Labels</a>{{/link-to}}
    {{#link-to "host.storage" tagName="li" href=false}}<a><i class="icon icon-hdd"></i> Storage</a>{{/link-to}}
  </ul>
  <div class="table-flat well">
    {{outlet}}
  </div>
</section>
