<aside>
  <label>Host</label>
  {{resource-actions-menu model=this choices=availableActions classNames="pull-right"}}
  <h3 class="force-wrap">{{displayName}}</h3>

  <hr/>

  {{#if description}}
    <label style="margin-top: 10px;">Description</label>
    <p>{{description}}</p>
    <hr/>
  {{/if}}

  <div class="links">
    {{#link-to "host.index"}}
      <i class="ss-barchart"></i> Monitoring
    {{/link-to}}
    {{#link-to "host.hostContainers"}}
      <i class="ss-box" style="position: relative; top: 1px"></i> Containers <span class="badge">{{arrangedInstances.length}}</span>
    {{/link-to}}
  </div>

  <hr/>

  <div class="clearfix">
    <label>Info</label>
  </div>

  <ul class="list-circles">
    <li>
      <i {{bind-attr class=":fa-fw stateIcon"}}></i>
      {{displayState}}
      {{#if isTransitioning}}
        <div class="progress progress-striped active" style="height: 10px; border: 0;">
          <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" {{bind-attr aria-valuenow=displayProgress style=progressStyle}}>
            <span class="sr-only">{{displayProgress}}% Complete</span>
          </div>
        </div>
      {{/if}}
      {{#if showTransitioningMessage}}
        <div class="force-wrap">
          {{transitioningMessage}}
        </div>
      {{/if}}
    </li>

    <li>
      <i class="fa-fw ss-link"></i>
      {{displayIp}}
    </li>

    {{#if machine}}
      <li>
        <i class="fa-fw ss-microwave"></i>
        {{machine.driver}}
      </li>
    {{/if}}

    {{#if osBlurb}}
      <li>
        <i class="fa fa-fw fa-linux"></i>
        {{osBlurb}}
      </li>
    {{/if}}

    {{#if cpuBlurb}}
      <li>
        <i class="fa fa-fw fa-tachometer" style="top: -2px;"></i>
        {{cpuBlurb}}
      </li>
    {{/if}}

    {{#if memoryBlurb}}
      <li>
        <i class="fa-fw ss-microchip"></i>
        {{memoryBlurb}}
      </li>
    {{/if}}

    {{#if diskBlurb}}
      <li>
        <i class="fa-fw ss-hdd"></i>
        {{diskBlurb}}
      </li>
    {{/if}}
  </ul>

</aside>

{{outlet}}
