{{#if editable}}
  {{yield}}
{{else}}
  {{#if hasValue}}
    {{#if obfuscate}}
      <div class={{classesForDisplay}}>
        {{obfuscatedValue}}
      </div>
    {{else}}
      <div class={{classesForDisplay}}>
        {{value}}
      </div>
    {{/if}}
  {{else}}
    <div class="{{classesForDisplay}} text-muted">
      {{t "generic.na"}}
    </div>
  {{/if}}
{{/if}}
