{{#with model controller="container" as |ctrl|}}
  {{resource-actions-menu model=ctrl choices=ctrl.availableActions parentController=this}}
{{/with}}

<div class="subpod-name">
    <i class="{{model.stateIcon}} {{model.stateColor}}" tooltip="{{model.displayState}}"></i>
  {{#link-to "container" model.id}}
    {{displayName}}
  {{/link-to}}
</div>
{{#if model.showTransitioningMessage}}
  <div class="subpod-detail clip {{if model.isError 'text-danger'}}">
    {{model.transitioningMessage}}
  </div>
{{else}}
  <div class="subpod-detail">
    {{model.displayIp}}
  </div>
{{/if}}
