{{resource-actions-menu model=model choices=model.availableActions}}

<div class="subpod-name">
    <i {{bind-attr class="model.stateIcon model.stateColor" tooltip=model.displayState}}></i>
  {{#link-to "container" model.id}}
    {{displayName}}
  {{/link-to}}
</div>
{{#if model.showTransitioningMessage}}
  <div {{bind-attr class=":subpod-detail :clip model.isError:text-danger"}}>
    {{model.transitioningMessage}}
  </div>
{{else}}
  <div class="subpod-detail">
    {{model.displayIp}}
  </div>
{{/if}}
