<div class="container-subpod">
  <div class="subpod-name">
    <i class="{{model.stateIcon}} {{model.stateColor}} dot "></i>
    {{#link-to (if model.isVm "virtualmachine" "container") model.id classNameBindings="showEllipsis:tiny-hellip"}}
      {{#tooltip-element type="tooltip-basic" model=model tooltipTemplate='tooltip-container-subpod' }}
        {{displayName}}
      {{/tooltip-element}}
    {{/link-to}}
  </div>
  {{#if model.showTransitioningMessage}}
    <div class="subpod-detail clip {{if model.isError 'text-danger'}}">
      {{model.transitioningMessage}}
    </div>
  {{else}}
    <div class="subpod-detail">
      {{model.displayIp}}
    </div>
  {{/if}}
  {{action-menu model=model showPrimary=false}}
</div>
{{#if children}}
<div class="subpod-children clearfix">
  <h6 class="pull-left">{{if isKubernetes 'Containers' 'Sidekicks'}}</h6>
  {{#each children as |child|}}
     {{container-dot model=child type='tooltip-action-menu' template='tooltip-select-dot'}}
  {{else}}
    &nbsp;
  {{/each}}
</div>
{{/if}}
