<tr class="sub-row no-top auto-height">
  {{#if leftColspan}}
    <td colspan="{{leftColspan}}"></td>
  {{/if}}
  <td class="pb-5" colspan="{{mainColspan}}">
    <small class="{{model.stateColor}}">{{uc-first model.transitioningMessage}}</small>
  </td>
  {{#if rightColspan}}
    <td colspan="{{rightColspan}}"></td>
  {{/if}}
</tr>
