<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.flexVolume.driver.label'}}</label>
    {{#input-or-display editable=editing value=config.driver}}
      {{input type="text" value=config.driver classNames="form-control" placeholder=(t 'cruPersistentVolume.flexVolume.driver.placeholder')}}
    {{/input-or-display}}
  </div>

  <div class="col span-6">
    {{form-key-value
      initialMap=config.options
      editing=editing
      header=(t 'cruPersistentVolume.flexVolume.options.label')
      addActionLabel="cruPersistentVolume.flexVolume.options.addActionLabel"
      changed=(action (mut config.options))
    }}
  </div>
</div>

<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.flexVolume.secretRef.label'}}</label>
    {{#input-or-display editable=editing value=config.secretRef.name}}
      {{input type="text" value=config.secretRef.name classNames="form-control" placeholder=(t 'cruPersistentVolume.flexVolume.secretRef.placeholder')}}
    {{/input-or-display}}
  </div>
  {{#if (eq volume.type "persistentVolume")}}
    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.cephfs.secretRef.namespace.label'}}</label>
      {{#input-or-display editable=editing value=config.secretRef.namespace}}
        {{input type="text" value=config.secretRef.namespace classNames="form-control" placeholder=(t 'cruPersistentVolume.cephfs.secretRef.namespace.placeholder')}}
      {{/input-or-display}}
    </div>
  {{/if}}
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.flexVolume.fsType.label'}}</label>
    {{#input-or-display editable=editing value=config.fsType}}
      {{input type="text" value=config.fsType classNames="form-control" placeholder=(t 'cruPersistentVolume.flexVolume.fsType.placeholder')}}
    {{/input-or-display}}
  </div>

  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.flexVolume.readOnly.label'}}</label>
    {{#if editing}}
      <div class="text-muted">
        <label>
          {{radio-button selection=config.readOnly value=true}} {{t 'generic.yes'}}
        </label>
        <label>
          {{radio-button selection=config.readOnly value=false}} {{t 'generic.no'}}
        </label>
      </div>
    {{else}}
      <div class="text-muted">
        {{config.readOnly}}
      </div>
    {{/if}}
  </div>


</div>
