<section class="has-tabs clearfix row">
  <h1 class="col span-2 mt-10">
    {{#if editable}}
      {{input type="text" value=model.pipeline.name classNames="form-control" placeholder="Pipeline Name" }}
    {{else}}
      {{model.pipeline.name}}
    {{/if}}
  </h1>
  {{#if (eq mode "review")}}
    <div class="pull-right mt-10">
      {{action-menu model=model.pipeline showPrimary=true}}
    </div>
  {{/if}}
</section>

<section class="pipeline-container">
  {{pipeline-stages
    clusterPipeline=model.clusterPipeline
    envvars=model.envvars
    pipeline=model.pipeline
    stagesDraggable=false
    accounts=model.accounts
    model=model
    editable=editable
    editMode="edit"
  }}
</section>

{{#if (eq mode "review")}}
<section class="header has-tabs clearfix pt-0 pb-0">
  <ul class="tab-nav">
    <li>
      <a href="javascript:void(0);" class="active ember-view">Activities</a>
    </li>
  </ul>
</section>
{{table-activity
  filteredPipelineHistory=filteredPipelineHistory
  expendAll=false
}}
{{/if}}


{{#if (not-eq mode "review")}}
  <div class="mt-10"></div>
  {{top-errors errors=errors}}
  <div class="mt-20"></div>
  <div class="text-center pipeline-wrap-header-button">
    {{#save-cancel class="pipeline-save-cancel" createLabel=(if (eq mode 'duplicate') 'newPipeline.add' 'newPipeline.save') save="save" cancel="cancel"}}
    {{/save-cancel}}
  </div>
{{/if}}