<section class="header">
  <h1>
    {{t "clustersPage.editClusterName" name=model.originalCluster.displayName}}
  </h1>
</section>

<CruCluster
  @applyClusterTemplate={{not (is-empty model.clusterTemplateRevisionId)}}
  @clusterTemplateRevisionId={{mut clusterTemplateRevision}}
  @model={{model}}
  @initialProvider={{cluster.provider}}
  @provider={{provider}}
  @mode="edit"
  @close={{action "close"}}
/>
