<section class="header clearfix">
  <h1>{{header}}</h1>
</section>

<div class="row">
  <div class="col span-11-of-23 mt-0 mb-0">
    {{form-name-description
      name=name
      bothColClass="col span-12 mt-0"
      colClass="col span-12 mt-0"
      description=description
      namePlaceholder="newContainer.name.placeholder"
      descriptionPlaceholder="newContainer.description.placeholder"
    }}
  </div>
  <div class="col span-11-of-23 mt-0 mb-0 offset-1-of-23">
    {{container/form-scale
      initialLabels=launchConfig.labels
      initialScale=scale
      isGlobal=isGlobal
      isService=isService
      launchConfigIndex=launchConfigIndex
      sidekickServiceId=service.id
      isUpgrade=isUpgrade
      errors=scaleErrors
      setLabels=(action 'setLabels' 'scale')
      setScale=(action (mut scale))
      setMode=(action 'setScaleMode')
      setSidekick=(action 'setSidekick')
    }}
  </div>
</div>

<hr class="mt-30 mb-30" />

<div class="row">
  <div class="col span-11-of-23 mt-0 mb-0">
    {{container/form-image
      initialValue=launchConfig.image
      errors=imageErrors
      changed=(action 'setImage')
    }}
  </div>

  <div class="col span-11-of-23 mt-0 mb-0 offset-1-of-23">
    {{#if (or isSidekick isUpgrade)}}
      {{!-- Only a new primary service or container picks stack --}}
    {{else}}
      {{form-stack
        stack=stack
        errors=stackErrors
      }}
    {{/if}}
  </div>
</div>
<hr class="mt-30 mb-30" />
<div class="row">
  <div class="col span-11-of-23 mt-0 mb-0">
    {{container/form-ports
      initialPorts=launchConfig.ports
      errors=portErrors
      changedStr=(action (mut launchConfig.ports))
    }}
  </div>
  <div class="col span-11-of-23 mt-0 mb-0 offset-1-of-23">
    {{form-key-value
        initialMap=launchConfig.environment
        changed=(action (mut launchConfig.environment))
        allowEmptyValue=true
        editing=true
        header=(t 'newContainer.environment.label')
        addActionLabel="newContainer.environment.addAction"
        keyLabel="newContainer.environment.keyLabel"
        keyPlaceholder="newContainer.environment.keyPlaceholder"
        valueLabel="newContainer.environment.valueLabel"
        valuePlaceholder="newContainer.environment.valuePlaceholder"
    }}
  </div>
</div>

<hr class="mt-30 mb-30" />

{{#unless isSidekick}}
  {{container/form-scheduling
    isService=isService
    isGlobal=isGlobal
    initialHostId=launchConfig.requestedHostId
    initialLabels=launchConfig.labels
    service=service
    errors=schedulingErrors
    editing=true
    expandAll=null
    setLabels=(action 'setLabels' 'scheduling')
    setRequestedHost=(action 'setRequestedHostId')
  }}
{{/unless}}

{{form-healthcheck
    classNames="accordion-wrapper"
    isService=isService
    healthCheck=launchConfig.healthCheck
    errors=healthCheckErrors
    expandAll=null
    editing=true
}}

{{container/form-volumes
  isService=isService
  isSidekick=isSidekick
  launchConfig=launchConfig
  service=service
  stack=stack
  errors=volumeErrors
  volumesToCreate=volumesToCreate
}}

{{#if (and isService (not isSidekick))}}
  {{container/form-upgrade
    service=service
    instance=launchConfig
    editing=true
    isUpgrade=isUpgrade
  }}
{{/if}}

{{#advanced-section advanced=false}}
  {{#accordion-list as | al expandFn | }}

    {{container/form-command
        classNames="accordion-wrapper"
        instance=launchConfig
        initialLabels=launchConfig.labels
        errors=commandErrors
        isService=isService
        setLabels=(action 'setLabels' 'command')
        expandAll=al.expandAll
        expandFn=expandFn
    }}

    {{form-user-labels
        classNames="accordion-wrapper"
        initialLabels=launchConfig.labels
        setLabels=(action 'setLabels' 'user')
        expandAll=al.expandAll
        expandFn=expandFn
    }}

    {{#if isService}}
      {{#unless isSidekick}}
        {{container/form-service-links
            service=service
            changed=(action 'setServiceLinks')
            expandAll=al.expandAll
            expandFn=expandFn
        }}
      {{/unless}}
    {{else}}
      {{container/form-container-links
          instance=launchConfig
          stack=stack
          expandAll=al.expandAll
          expandFn=expandFn
      }}
    {{/if}}

    {{container/form-networking
        editing=true
        instance=launchConfig
        errors=networkingErrors
        service=service
        isService=isService
        isSidekick=isSidekick
        initialLabels=launchConfig.labels
        isUpgrade=isUpgrade
        setLabels=(action 'setLabels' 'networking')
        expandAll=al.expandAll
        expandFn=expandFn
    }}

    {{#if supportsSecrets}}
      {{container/form-secrets
          classNames="accordion-wrapper"
          secrets=launchConfig.secrets
          errors=secretErrors
          editing=true
          expandAll=al.expandAll
          expandFn=expandFn
      }}
    {{/if}}

    {{container/form-security
        instance=launchConfig
        isService=isService
        errors=securityErrors editing=true
        initialLabels=launchConfig.labels
        setLabels=(action 'setLabels' 'security')
        expandAll=al.expandAll
        expandFn=expandFn
    }}
  {{/accordion-list}}
{{/advanced-section}}

{{top-errors errors=errors}}
{{save-cancel createLabel=(if isUpgrade 'newContainer.saveUpgrade' 'newContainer.saveNew') save="save" cancel="cancel"}}
