<section class="header clearfix">
  <h1>{{t headerToken}}</h1>
</section>

<div class="row">
  <div class="col span-11-of-24">
    {{form-name-description
      model=primaryResource
      nameLabel=nameToken
      namePlaceholder="newContainer.name.placeholder"
      nameDisabled=isUpgrade
      descriptionPlaceholder="newContainer.description.placeholder"
      descriptionDisabled=isUpgrade
      rowClass=""
      colClass=""
      bothColClass=""
    }}

    {{container/form-image
      initialValue=launchConfig.imageUuid
      errors=imageErrors
      changed=(action 'setImage')
    }}
  </div>

  <div class="col span-11-of-24 offset-1-of-24">
    {{#if isService}}
      {{container/form-scale
        initialLabels=launchConfig.labels
        initialScale=service.scale
        isGlobal=isGlobal
        isService=true
        errors=scaleErrors
        setLabels=(action 'setLabels' 'scale')
        setGlobal=(action 'setGlobal')
        setScale=(action  'setScale')
      }}
    {{else if (not isUpgrade)}}
      {{container/form-scale
        isService=false
        initialScale=1
        errors=scaleErrors
        setScale=(action  'setScale')
      }}
    {{/if}}

    {{#unless isUpgrade}}
      {{form-stack
        stack=stack
        errors=stackErrors
      }}
    {{/unless}}
  </div>
</div>

<hr class="mt-20 mb-20" />

<div class="row">
  <div class="col span-11-of-24">
    {{container/form-ports
      initialPorts=launchConfig.ports
      errors=portErrors
      changedStr=(action (mut launchConfig.ports))
      portsAsStrArray=launchConfig.ports
    }}
  </div>
  <div class="col span-11-of-24 offset-1-of-24">
    {{form-key-value
      initialMap=launchConfig.environment
      changed=(action (mut launchConfig.environment))
      allowEmptyValue=true
      editing=true
      header=(t 'newContainer.environment.label')
      addActionLabel="newContainer.environment.addAction"
      keyLabel="newContainer.environment.keyLabel"
      keyPlaceholder="newContainer.environment.keyPlaceholder"
      valueLabel="newContainer.environment.valueLabel"
      valuePlaceholder="newContainer.environment.valuePlaceholder"
    }}
  </div>
</div>

{{#advanced-section advanced=false}}
  {{container/form-scheduling
    isService=isService
    isGlobal=isGlobal
    initialHostId=launchConfig.requestedHostId
    initialLabels=launchConfig.labels
    errors=schedulingErrors
    editing=true
    setLabels=(action 'setLabels' 'scheduling')
    setGlobal=(action 'setGlobal')
    setRequestedHost=(action 'setRequestedHostId')
  }}

  {{form-healthcheck
    classNames="accordion-wrapper"
    isService=isService
    healthCheck=launchConfig.healthCheck
    errors=healthCheckErrors
    editing=true
  }}

  {{#if isService}}
    {{#unless isSidekick}}
      {{container/form-service-links
        service=service
        changed=(action 'setServiceLinks')
      }}
    {{/unless}}
  {{else}}
    {{container/form-container-links
      initialLinks=launchConfig.instanceLinks
      instance=launchConfig
    }}
  {{/if}}


  {{form-user-labels
    classNames="accordion-wrapper"
    initialLabels=launchConfig.labels
    setLabels=(action 'setLabels' 'user')
  }}

  {{#if supportsSecrets}}
    {{container/form-secrets
      classNames="accordion-wrapper"
      secrets=launchConfig.secrets
      errors=secretErrors
      editing=true
    }}
  {{/if}}

  {{container/form-command
    classNames="accordion-wrapper"
    instance=launchConfig
    initialLabels=launchConfig.labels
    errors=commandErrors
    isService=isService
    setLabels=(action 'setLabels' 'command')
  }}

  {{container/form-volumes
    classNames="accordion-wrapper"
    instance=launchConfig
    isService=isService
    service=service
    primaryService=primaryService
    launchConfigIndex=launchConfigIndex
    errors=volumeErrors
  }}

  {{container/form-networking
    editing=true
    instance=launchConfig
    errors=networkingErrors
    service=service
    isService=isService
    isSidekick=isSidekick
    initialLabels=launchConfig.labels
    isUpgrade=isUpgrade
    setLabels=(action 'setLabels' 'networking')
  }}

  {{container/form-security
    instance=launchConfig
    errors=securityErrors editing=true
    initialLabels=launchConfig.labels
    setLabels=(action 'setLabels' 'security')
  }}
{{/advanced-section}}

{{#if (and isService (not isSidekick))}}
  {{#each service.secondaryLaunchConfigs as |slc index|}}
    <hr/>
    <div data-launchindex="{{index}}" class="hide">
      {{container/new-edit
        isService=true
        isSidekick=true
        isUpgrade=isUpgrade
        launchConfig=slc
        service=slc
        primaryResource=slc
        primaryService=primaryService
        launchConfigIndex=index
      }}
    </div>
  {{/each}}
{{/if}}

{{top-errors errors=errors}}
{{#save-cancel saveDisabled=noLaunchConfigsEnabled createLabel=(if isUpgrade 'newContainer.saveUpgrade' 'newContainer.saveNew') save="save" cancel="cancel"}}
  {{#if isService}}
    <button class="btn bg-transparent" {{action "addSidekick"}}>{{t 'newContainer.addSidekick'}}</button>
  {{/if}}
{{/save-cancel}}
