<td data-title="State:">
  {{badge-state model=model}}
</td>
<td data-title="Name:">
  {{#if model.name}}{{model.displayName}}{{else}}<span class="text-muted">None</span>{{/if}}
</td>
<td data-title="Description:">
  {{#if model.description}}{{model.description}}{{else}}<span class="text-muted">None</span>{{/if}}
</td>
<td data-title="Username:">
  {{#if model.publicValue}}{{model.publicValue}}{{else}}<span class="text-muted">No public value</span>{{/if}}
</td>
<td data-title="Created:">
  <div class="text-muted">{{date-calendar model.created}}</div>
</td>
<td data-title="Actions:" class="actions">
  {{partial "fast-action-menu"}}
</td>


