<td>
  <span class="badge state {{model.stateBackground}}">
    {{model.displayState}}
  </span>
</td>
<td>
  {{#if model.name}}{{model.displayName}}{{else}}<span class="text-muted">None</span>{{/if}}
</td>
<td>
  {{#if model.description}}{{model.description}}{{else}}<span class="text-muted">None</span>{{/if}}
</td>
<td>
  {{#if model.publicValue}}{{model.publicValue}}{{else}}<span class="text-muted">No public value</span>{{/if}}
</td>
<td>
  <div class="text-muted">{{date-calendar model.created}}</div>
</td>
<td class="actions">
  <button type="button" class="btn-circle-menu"></button>
</td>
