<h4>{{t 'hostsPage.new.addCluster.label' htmlSafe=true }}</h4>
<div class="row">
  <div class="col span-6">
    <label class="acc-label" for="">{{t 'hostsPage.new.addCluster.cluster.label'}}</label>
    {{#if hasCluster }}
      <input name="" type="text" value="{{requestedClusterName}}" disabled=true />
    {{else}}
      {{searchable-select content=filteredClusters value=requestedClusterId optionLabelPath="name" optionValuePath="id" localizedLabel=false}}
    {{/if}}
  </div>
  <div class="col span-6">
    {{!-- <label class="acc-label" for="">{{t 'hostsPage.new.addCluster.roles.label'}}</label> --}}
    <table class="table fixed no-lines no-top-padding">
      <thead>
        <tr>
          <th>{{t 'hostsPage.new.addCluster.table.label.etcd'}}</th>
          <th>{{t 'hostsPage.new.addCluster.table.label.control'}}</th>
          <th>{{t 'hostsPage.new.addCluster.table.label.worker'}}</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td data-title="">
            {{input type="checkbox" change=(action 'addRole' 'etcd')}}
          </td>
          <td data-title="">
            {{input type="checkbox" change=(action 'addRole' 'controlplane')}}
          </td>
          <td data-title="">
            {{input type="checkbox" change=(action 'addRole' 'worker')}}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
