<section class="header clearfix">
  <h1>{{t 'catalogPage.index.header'}} <span class="text-capitalize">{{catalogId}}</span></h1>

  <div class="pull-right">
    <button type="button" class="btn btn-default btn-sm" disabled={{eq updating 'yes'}} {{action "update"}}>
      {{#if (eq updating "yes")}}
        <i class="icon icon-spinner icon-spin"></i>
      {{else}}
        {{#if (eq updating "error")}}
          <i class="icon icon-spinner icon-alert"></i>
        {{else}}
          <i class="icon icon-refresh"></i>
        {{/if}}
      {{/if}}
    </button>
    <button type="button" class="btn bg-primary btn-sm" {{ action "addEnvCatalog" }}>
      {{t 'catalogPage.index.manage'}} <i class="icon icon-edit"></i>
    </button>
  </div>

  <div class="btn-group pull-right r-ml10">
    <button type="button" class="btn btn-default btn-sm dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">{{t 'catalogPage.index.category'}} <span class="text-capitalize">{{category}}</span> <i class="icon icon-chevron-down"></i></button>
    <ul class="dropdown-menu dropdown-menu-right">
      {{#each categories as |opt|}}
        {{#if (eq opt "all")}}
          <li class="text-capitalize {{if (eq category opt) 'active'}}">{{#link-to parentRoute (query-params category=opt)}}{{opt}}{{/link-to}}</li>
          <li class="divider"></li>
        {{else}}
          <li class="{{if (eq category opt) 'active'}}">
            {{#link-to parentRoute (query-params category=opt)}}
              {{opt}}
            {{/link-to}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>

  <div class="btn-group searchable pull-right">
    <i class="icon icon-search"></i>
    {{input placeholder=(t 'catalogPage.index.search.placeholder') class="form-control input-sm" value=search}}
  </div>
</section>

<section class="r-plr15 clearfix">
  {{#each arrangedContent as |catalogItem|}}
    {{#catalog-box model=catalogItem showSource=showCatalogDropdown as |section|}}
      {{#if (eq section 'footer')}}
        {{#if (eq catalogItem.templateBase 'infra')}}
          {{#if catalogItem.exists}}
            <button type="button" class="btn btn-sm btn-default btn-disabled" {{action "launch" catalogItem.id true allowedKeys="meta ctrl"}}>{{t 'catalogPage.index.action.alreadyDeployed'}}</button>
          {{else if catalogItem.supported}}
            <button class="btn btn-sm btn-primary" {{action "launch" catalogItem.id}}>{{t 'catalogPage.index.action.launch'}}</button>
          {{else}}
            <button type="button" class="btn btn-sm btn-default btn-disabled" {{action "launch" catalogItem.id true allowedKeys="meta ctrl"}}>{{t 'catalogPage.index.action.notCompatible'}}</button>
          {{/if}}
        {{else}}
          <button type="button" class="btn btn-sm btn-primary" {{action "launch" catalogItem.id}}>{{t 'catalogPage.index.action.launch'}}</button>
        {{/if}}
      {{/if}}
    {{/catalog-box}}
  {{else}}
    <div class="text-muted r-mt20">
      {{#if showCatalogDropdown}}
        {{t 'catalogPage.index.noData.plural'}}
      {{else}}
        {{t 'catalogPage.index.noData.singular'}}
      {{/if}}
    </div>
  {{/each}}
</section>
