<section class="header clearfix">
  <div class="pull-left">
    <h1>{{t 'secretsPage.index.header'}}</h1>
  </div>

  <div class="right-buttons">
    {{#link-to "secrets.new" classNames="btn btn-sm bg-primary" disabled=scope.current.isKubernetes}}{{t 'secretsPage.index.linkTo'}}{{/link-to}}
  </div>
</section>

<section class="instances pt-5 pb-5">
  {{#if model.length}}
    {{#sortable-table
      classNames="grid sortable-table"
      body=model
      sortBy=sortBy
      bulkActions=true
      headers=headers as |sortable kind row dt|}}
      {{#if (eq kind "row")}}
        <td data-title="{{dt.state}}">{{badge-state model=row}}</td>
        <td data-title="{{dt.name}}">{{row.name}}</td>
        <td data-title="{{dt.description}}">{{row.description}}</td>
        <td data-title="{{dt.created}}">{{date-from-now row.created}}</td>
        <td data-title="{{dt.actions}}" class="actions">
          {{action-menu model=row}}
        </td>
      {{else if (eq kind "nomatch")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'secretsPage.index.noMatch'}}</td></tr>
      {{else if (eq kind "norows")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'secretsPage.index.noData'}}</td></tr>
      {{/if}}
    {{/sortable-table}}
  {{else if scope.current.isKubernetes}}
    <div class="m-40 text-center text-muted">Coming soon for Kubernetes clusters</div>
  {{else}}
    {{empty-table resource="container" newRoute="secrets.new" newTranslationKey="secretsPage.index.linkTo"}}
  {{/if}}
</section>
