<div class="lacsso banner bg-info mb-0 p-0">
  <div class="lacsso banner-icon" style="width: 68px;"><span class="icon icon-2x icon-notification"></span></div>
  <div class="lacsso banner-message">
    <p class="lacsso mt-15 mb-15">
      Experimental: Compose and CLI support coming in a future release.
    </p>
  </div>
</div>

<section class="header clearfix">
  <h1>{{t 'secretsPage.index.header'}}</h1>

  <div class="right-buttons">
    {{#link-to "secrets.new" classNames="btn btn-sm bg-primary"}}{{t 'secretsPage.index.linkTo'}}{{/link-to}}
  </div>
</section>

<section class="instances r-pt5 r-pb5">
  {{#sortable-table
    classNames="grid sortable-table"
    body=model
    sortBy=sortBy
    bulkActions=true
    headers=headers as |sortable kind row dt|}}
    {{#if (eq kind "row")}}
      <td data-title="{{dt.state}}">{{badge-state model=row}}</td>
      <td data-title="{{dt.name}}">{{row.name}}</td>
      <td data-title="{{dt.description}}">{{row.description}}</td>
      <td data-title="{{dt.created}}">{{date-from-now row.created}}</td>
      <td data-title="{{dt.actions}}" class="actions">
        {{action-menu model=row}}
      </td>
    {{else if (eq kind "nomatch")}}
      <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'secretsPage.index.noMatch'}}</td></tr>
    {{else if (eq kind "norows")}}
      <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'secretsPage.index.noData'}}</td></tr>
    {{/if}}
  {{/sortable-table}}
</section>
