<table class="grid fixed">
  <thead>
    <tr>
      <th width="80">{{t 'containersPage.containerPage.volumesTab.table.header.name'}}</th>
      <th width="175">{{t 'containersPage.containerPage.volumesTab.table.header.mount'}}</th>
      <th>{{t 'containersPage.containerPage.volumesTab.table.header.snapshot'}}</th>
      <th width="80">{{t 'containersPage.containerPage.volumesTab.table.header.actions'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.activeMounts as |mount|}}
      <tr>
        <td data-title={{t 'containersPage.containerPage.volumesTab.table.body.name'}}>
          {{mount.ownedVolume.name}}
        </td>
        <td data-title={{t 'containersPage.containerPage.volumesTab.table.body.mount'}}>
          {{mount.path}} {{if mount.isReadWrite '' '(ro)'}} {{copy-to-clipboard size='small' clipboardText=mount.path}}
        </td>
        <td data-title={{t 'containersPage.containerPage.volumesTab.table.body.snapshot'}}>
          {{snapshot-timeline model=mount.snapshotsAndBackups}}
        </td>
        <td data-title={{t 'containersPage.containerPage.volumesTab.table.body.actions'}}>
          {{action-menu model=mount.ownedVolume}}
        </td>
      </tr>
    {{else}}
      <tr>
        <td data-title={{t 'containersPage.containerPage.volumesTab.table.body.error.data'}} colspan="4">
          {{#if model.mountError}}
            <div class="text-danger text-center">{{t 'containersPage.containerPage.volumesTab.table.body.error.error'}} {{model.mountError.message}}</div>
          {{else}}
            <div class="text-muted text-center" style="display:inline-block;">{{t 'containersPage.containerPage.volumesTab.table.body.error.noData'}}</div>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
