<table class="grid fixed">
  <thead>
    <tr>
      <th width="90">State</th>
      <th>Mount Point</th>
      <th>Shared With</th>
      <th width="80">Writable</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.mounts as |mount|}}
      <tr>
        <td data-title="State:">
          <span class="state {{mount.stateBackground}}">
            {{mount.displayState}}
          </span>
        </td>
        <td data-title="Mount Point:">
          {{mount.path}} {{copy-to-clipboard size='small' clipboardText=mount.path}} 
        </td>
        <td data-title="Shared With:">
          <ul class="list-unstyled">
          {{#each mount.volume.sharedWith as |container|}}
            <li>
              {{#link-to "container" container.id}}{{container.displayName}}{{/link-to}}
            </li>
          {{else}}
            <li class="text-muted">No other containers</li>
          {{/each}}
          </ul>
        </td>
        <td data-title="Writeable:">
          <i class="icon {{if mount.isReadWrite 'icon-check' 'icon-x text-muted'}}"></i>
        </td>
      </tr>
    {{else}}
      <tr>
        <td data-title="Error:" colspan="4">
          {{#if model.mountError}}
            <div class="text-danger text-center">Error: {{model.mountError.message}}</div>
          {{else}}
            <div class="text-muted text-center">This container has no volumes.</div>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
