<table class="grid fixed">
  <thead>
    <tr>
      <th width="90">{{t 'containersPage.containerPage.volumesTab.table.header.state'}}</th>
      <th>{{t 'containersPage.containerPage.volumesTab.table.header.mount'}}</th>
      <th>{{t 'containersPage.containerPage.volumesTab.table.header.shared'}}</th>
      <th width="80">{{t 'containersPage.containerPage.volumesTab.table.header.writable'}}</th>
    </tr>
  </thead>
  <tbody>
    {{#each model.activeMounts as |mount|}}
      <tr>
        <td data-title={{t 'containersPage.containerPage.volumesTab.table.body.state'}}>
          <span class="state {{mount.stateBackground}}">
            {{mount.displayState}}
          </span>
        </td>
        <td data-title={{t 'containersPage.containerPage.volumesTab.table.body.mount'}}>
          {{mount.path}} {{copy-to-clipboard size='small' clipboardText=mount.path}}
        </td>
        <td data-title={{t 'containersPage.containerPage.volumesTab.table.body.shared'}}>
          <ul class="list-unstyled">
          {{#each mount.sharedContainers as |container|}}
            <li>
              {{#link-to "container" container.id}}{{container.displayName}}{{/link-to}}
            </li>
          {{else}}
            <li class="text-muted">{{t 'containersPage.containerPage.volumesTab.table.body.noContainers'}}</li>
          {{/each}}
          </ul>
        </td>
        <td data-title={{t 'containersPage.containerPage.volumesTab.table.body.writable'}}>
          <i class="icon {{if mount.isReadWrite 'icon-check' 'icon-x text-muted'}}"></i>
        </td>
      </tr>
    {{else}}
      <tr>
        <td data-title={{t 'containersPage.containerPage.volumesTab.table.body.error.data'}} colspan="4">
          {{#if model.mountError}}
            <div class="text-danger text-center">{{t 'containersPage.containerPage.volumesTab.table.body.error.error'}} {{model.mountError.message}}</div>
          {{else}}
            <div class="text-muted text-center">{{t 'containersPage.containerPage.volumesTab.table.body.error.noData'}}</div>
          {{/if}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
