<section class="header has-tabs clearfix">
  <h1>Choose an environment type:</h1>
</section>

<div class="row">
  <div class="col span-4 text-center option">
    <h2>Standard {{settings.appName}}</h2>
    <div class="box">
      <div>Application catalog</div>
      <div>Load balancing</div>
      <div>DNS service discovery</div>
      <div>Environment-level access controls</div>
      <div>Lower CPU and memory overhead</div>

      <div class="links">
        {{#link-to "hosts.new" class="btn bg-primary"}}Select{{/link-to}}
      </div>
    </div>
    <div class="bubble bg-body round"><img src="{{app.baseAssets}}assets/images/environment-advanced.svg" class="mt-5" /></div>
  </div>
  <div class="col span-8 text-center option">
    <h2>Enhanced with Kubernetes</h2>
    <div class="box">
      <div>All the Standard {{settings.appName}} features, plus:</div>
      <div>Resource-level access controls</div>
      <div>Helm template catalog</div>
      <div>Share hosts across environments</div>
      <div>Higher CPU and memory overhead</div>

      <div class="row">
        <div class="col span-6 p-20" style="background-color: white">
          <h3>Create a new Cluster</h3>
          <div class="help-block" class="mb-20">
            <div>Define and manage hosts within {{settings.appName}}.</div>
          </div>
          {{#link-to "authenticated.project.k8s-import" projects.current.id class="btn bg-primary"}}Select{{/link-to}}
        </div>
        <div class="col span-6 p-20" style="background-color: white">
          <h3>Import a Cluster</h3>
          <div class="help-block" class="mb-20">
            <div>Import an already existing Kubernetes 1.7+ Cluster.</div>
          </div>
          {{#link-to "authenticated.project.k8s-import" projects.current.id class="btn bg-primary"}}Select{{/link-to}}
        </div>
      </div>
    </div>
    <div class="bubble bg-body round"><img src="{{app.baseAssets}}assets/images/hexagon-kubernetes.svg" style="height: 100px; margin-top: 11px;"/></div>
  </div>
</div>
