<section class="header has-tabs clearfix">
  <h1>Select an environment type</h1>
</section>

<div class="row">
  <div class="col span-4 text-center option">
    <h2>Standard {{settings.appName}}</h2>
    <div class="box">
      <div class="fake-list">
        <div class="item">Complete management UI, CLI &amp; API</div>
        <div class="item">Application catalog</div>
        <div class="item">Load balancing & SSL Termination</div>
        <div class="item">DNS service discovery</div>
        <div class="item">Service health checks</div>
        <div class="item">Persistent volume management</div>
        <div class="item">Resource-based scheduling</div>
        <div class="item">Cross-host overlay network</div>
        <div class="item">Environment-level access controls</div>
        <div class="item">Lower CPU &amp; memory overhead</div>
      </div>

      <div class="links" style="top: auto; bottom: 47px;">
        {{#link-to "hosts.templates" projects.current.id class="btn bg-primary"}}Select{{/link-to}}
      </div>
    </div>
    <div class="bubble bg-body round"><img src="{{app.baseAssets}}assets/images/environment-advanced.svg" class="mt-5" /></div>
  </div>
  <div class="col span-8 text-center option">
    <h2>Enhanced with Kubernetes</h2>
    <div class="box">
      <div class="fake-list">
        <div>All the Standard {{settings.appName}} features, plus:</div>
        <div class="item ml-10">Fully-managed Kubernetes installation</div>
        <div class="item ml-10">Integrates with Kubernetes ecosystem &amp; tools</div>
        <div class="item ml-10">Application catalog with Helm templates <span class="text-muted">(coming soon)</span></div>
        <div class="item ml-10">Resource-level access controls <span class="text-muted">(coming soon)</span></div>
        <div class="item ml-10">Share hosts between environments <span class="text-muted">(coming soon)</span></div>
        <div class="item ml-10">Higher CPU &amp; memory overhead</div>
      </div>

      <div class="row" style="position: absolute; bottom: 20px; left: 20px; right: 20px;">
        <div class="col span-6 p-20" style="background-color: white">
          <h3>Create a new Cluster</h3>
          <div class="help-block" class="mb-20">
            <div>Define and manage hosts within {{settings.appName}}.</div>
          </div>
          {{#link-to "hosts.templates" projects.current.id class="btn bg-primary"}}Select{{/link-to}}
        </div>
        <div class="col span-6 p-20" style="background-color: white">
          <h3>Import a Cluster</h3>
          <div class="help-block" class="mb-20">
            <div>Import an already existing Kubernetes 1.7+ Cluster.</div>
          </div>
          {{#link-to "authenticated.project.k8s-import" projects.current.id class="btn bg-primary"}}Select{{/link-to}}
        </div>
      </div>
    </div>
    <div class="bubble bg-body round"><img src="{{app.baseAssets}}assets/images/hexagon-kubernetes.svg" style="height: 100px; margin-top: 11px;"/></div>
  </div>
</div>
