<div class="mb-20"><label class="acc-label">{{t title}}</label></div>

{{#if ruleArray.length}}
  <table class="table fixed no-lines mb-20">
    {{#if editing}}
      <thead>
        <tr>
          <th class="acc-label" >{{t 'formScheduling.key'}}</th>
          <th width="40"></th>
          <th class="acc-label">{{t 'formScheduling.operator'}}</th>
          <th width="40"></th>
          <th class="acc-label">{{t 'formScheduling.value'}}</th>
          <th width="10">&nbsp;</th>
          <th width="40"></th>
        </tr>
      </thead>
    {{/if}}
    <tbody>
      {{#each ruleArray as |rule|}}
        <tr>
          {{#if (gte rule.custom.length 0)}}
            <td colspan="5">
              {{#input-or-display editable=editing value=rule.custom}}
                {{input type="text" class="form-control input-sm" placeholder=(t 'formScheduling.nodeSelector.custom.placeholder') value=rule.custom}}
              {{/input-or-display}}
            </td>
          {{else}}
            <td>{{input type="text" class="form-control input-sm" value=rule.key}}</td>
            <td>&nbsp;</td>
            <td>
              {{new-select
                class="form-control input-sm"
                content=operatorChoices
                localizedLabel=true
                value=rule.operator
                readOnly=editing
                style="display: inline-block; width: auto;"
              }}
            </td>
            <td>&nbsp;</td>
            <td>
              {{#if (and (not-eq rule.operator 'Exists') (not-eq rule.operator 'DoesNotExist'))}}
                {{#if (or (eq rule.operator 'In') (eq rule.operator 'NotIn'))}}
                  {{#input-or-display editable=editing value=rule.value}}
                    {{input type="text" class="form-control input-sm" value=rule.value placeholder=(t 'formScheduling.nodeSelector.multiple.placeholder')}}
                  {{/input-or-display}}
                {{else}}
                  {{#input-or-display editable=editing value=rule.value}}
                    {{input type="text" class="form-control input-sm" value=rule.value}}
                  {{/input-or-display}}
                {{/if}}
              {{else}}
                {{t 'generic.na'}}
              {{/if}}
            </td>
          {{/if}}
          <td>&nbsp;</td>
          {{#if editing}}
            <div class="input-group-btn">
              <button class="btn bg-primary btn-sm" {{action "removeRule" rule}}><i class="icon icon-minus"/></button>
            </div>
          {{/if}}
        </tr>
      {{/each}}
    </tbody>
  </table>
{{else}}
  {{#unless editing}}
    <div class="text-muted">{{t 'formScheduling.noRules'}}</div>
  {{/unless}}
{{/if}}

{{#if editing}}
  <button class="btn bg-link icon-btn" {{action "addRule"}}>
    <span class="darken"><i class="icon icon-plus text-small"/></span>
    <span>{{t 'generic.add'}}</span>
  </button>
  <button class="btn bg-transparent" {{action "addRule" true}}>
    <span class="text-default">{{t 'generic.addCustom'}}</span>
  </button>
{{/if}}