{{top-errors errors=errors}}

<section class="horizontal-form">
  <div class="container-fluid">
    {{partial "host/add-common"}}

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Driver*</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{#if model}}
        {{new-select
          classNames="form-control"
          content=model.otherChoices
          value=driver
        }}
      {{/if}}
      </div>
    </div>

    <div class="over-hr" style="margin: 20px 0;">
      <span>Driver Options</span>
    </div>

    {{#each fieldNames as |fieldName|}}
      {{api-field
        resource=driverOpts
        resourceType=driver
        field=fieldName
        value=(get driverOpts fieldName)
        schemas=model.schemas
        typeDocs=model.typeDocumentations
      }}
    {{/each}}

    {{#if model}}
      {{partial "host/add-options"}}
    {{/if}}
  </div>

  {{partial "save-cancel"}}
</section>
