<section class="horizontal-form">
  <div class="container-fluid">
    <div class="over-hr mt-20 mb-20">
      <span>{{t 'machine.driverOther.instanceSection'}}</span>
    </div>
    <div class="row mb-20">
      {{form-name-description
          name=model.name
          description=model.description
          nameRequired=true
          namePlaceholder="hostPartial.host.addCommon.new.form.name.placeholder"
          descriptionShown=true
          descriptionExpanded=true
      }}
    </div>

    <div class="over-hr mt-20 mb-20">
      <span>{{t 'machine.driverOther.driverSection'}}</span>
    </div>

    <div class="row inline-form">
      <div class="col span-2 col-inline">
        <label>{{t 'machine.driverOther.driver.label'}}{{field-required}}</label>
      </div>
      <div class="col span-8">
        {{new-select
            classNames="form-control"
            content=otherChoices
            value=otherDriver
        }}
      </div>
    </div>

    <div class="over-hr mt-20 mb-20">
      <span>{{t 'machine.driverOther.optionsSection' driverName=(str-replace driver match="Config" with="")}}</span>
    </div>

    {{#each fieldNames as |fieldName|}}
      {{api-field
          resource=driverOpts
          resourceType=otherDriver
          field=fieldName
          value=(get driverOpts fieldName)
          schemas=schemas
          typeDocs=typeDocumentations
      }}
    {{/each}}

    {{partial "host/add-options"}}
  </div>

  {{top-errors errors=errors}}
  {{save-cancel save=driverSaveAction cancel="cancel"}}
</section>
