{{yield}}
{{#if avatar}}
  <div class="gh-avatar">
    {{#if avatarUrl}}
      {{#if link}}
        <a {{bind-attr href=url}} target="_blank">
          <img {{bind-attr src=avatarUrl width=size height=size}}>
        </a>
      {{else}}
        <img {{bind-attr src=avatarUrl width=size height=size}}>
      {{/if}}
    {{else}}
      {{#if isTeam}}
        <div class="gh-placeholder">
          <i class="fa-2x ss-users"></i>
        </div>
      {{else}}
        <div class="gh-placeholder"></div>
      {{/if}}
    {{/if}}
  </div>
{{/if}}
<div class="gh-block-content">
  <div class="clip gh-block-name">
    {{#if isTeam}}
      {{name}}
    {{else}}
      {{#if link}}
        <a {{bind-attr href=url}} target="_blank">{{name}}</a>
      {{else}}
        {{name}}
      {{/if}}
    {{/if}}
  </div>
  <div class="gh-block-detail clip">
    {{#if description}}
      {{description}}
    {{else}}
      <i>No Name</i>
    {{/if}}
  </div>
</div>
