<section class="header">
  <div class="clearfix">
    <h1 class="pull-left">
      {{t 'stackHeader.title' name=model.displayName}}
    </h1>
    <div class="pull-left mt-15">
      {{info-multi-stats model=model largeTargetId="largeStats"}}
    </div>
    <div class="right-buttons">
      <div class="right-buttons">
        {{#if outputs.length}}
          <div class="btn-group">
            <button type="button" class="btn btn-sm bg-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              {{t 'stackHeader.outputs'}} <i class="icon icon-chevron-down"></i>
            </button>
            <ul class="dropdown-menu dropdown-menu-right">
              {{#each outputs as |obj|}}
                <li><a href="{{obj.value}}" target="_blank">{{obj.key}}</a></li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
      </div>
      {{upgrade-btn model=model}}
      {{badge-state model=model}}
      {{#if model.canViewConfig}}
        <div class="btn-group ml-10 p-0">
          {{#tooltip-element type="tooltip-basic" model=(t 'tooltipLink.list') tooltipTemplate='tooltip-static' aria-describedby="tooltip-base" tooltipFor="tooltipLink"}}
            {{#link-to "stack.index" classNames="btn btn-sm bg-default"}}<i class="icon icon-tasks"></i>{{/link-to}}
          {{/tooltip-element}}
          {{#tooltip-element type="tooltip-basic" model=(t 'tooltipLink.composeYaml') tooltipTemplate='tooltip-static' aria-describedby="tooltip-base" tooltipFor="tooltipLink"}}
            {{#link-to "stack.code" classNames="btn btn-sm bg-default"}}<i class="icon icon-file"></i>{{/link-to}}
          {{/tooltip-element}}
        </div>
      {{/if}}
      {{action-menu model=model showPrimary=false classNames="ml-10 pull-right" size="sm"}}
    </div>
  </div>
  <div class="clearfix">
  </div>
</section>
