<section class="header has-tabs clearfix p-0">
  <ul class="tab-nav">
    <li>{{#link-to "authenticated.project.apikeys.account"}}{{t 'apiPage.account.header'}}{{/link-to}}</li>
    <li>{{#link-to "authenticated.project.apikeys.project"}}{{t 'apiPage.header'}}{{/link-to}}</li>
  </ul>

  <div class="right-buttons">
    <button class="btn btn-sm bg-primary" {{action "newApikey" "project"}}>{{t 'apiPage.actionButton'}}</button>
  </div>
</section>

<section>
  <p class="help-text">
    {{t 'apiPage.content'
      displayName=project.displayName
      htmlSafe=true
    }}
  </p>

  <p>
    <b>{{t 'apiPage.currentEndpoint'}}</b>
    <code>
      <a href="{{endpointService.api.auth.project.current}}" target="_blank" rel="nofollow noreferer">{{endpointService.api.display.project.current}}</a>
      {{copy-to-clipboard clipboardText=endpointService.api.auth.project.current size="sm"}}
    </code>
  </p>
</section>

<section>
  {{#sortable-table
      tableClassNames="grid fixed mt-30 sortable-table bordered"
      bulkActions=false
      paging=false
      search=false
      sortBy=sortBy
      headers=headers
      body=arranged
      fullRows=true
      as |sortable kind key|
  }}
    {{#if (eq kind "row")}}
        {{apikey-row model=key}}
    {{else if (eq kind "norows")}}
      <tr>
        <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'apiPage.table.noData'}}</td>
      </tr>
    {{/if}}
  {{/sortable-table}}
</section>
