<section>
  {{#with environment as env controller="environment"}}
    {{environment-header model=env}}
  {{/with}}
</section>
<section>
  <div class="row">
    <div class="col-md-6">
      docker-compose.yml {{zero-clipboard text=composeConfig.dockerComposeConfig}}
      <pre class="line-numbers"><code class="language-yaml">
{{composeConfig.dockerComposeConfig}}</code></pre>
    </div>
    <div class="col-md-6">
      rancher-compose.yml {{zero-clipboard text=composeConfig.rancherComposeConfig}}
      <pre class="line-numbers"><code class="language-yaml">
{{composeConfig.rancherComposeConfig}}</code></pre>
    </div>
  </div>
</section>
