<div class="protip">{{t 'modalHostEvacuate.protip' key=alternateLabel}}</div>
<hr/>
<div class="container-header-text">
  {{t 'modalHostEvacuate.header'}}:
  <div class="display-name">
    {{#each resources as |resource|}}
      {{resource.displayName}}
    {{/each}}
  </div>
</div>

<div class="row help-block mb-20">
  <div class="col span-12">
    {{t 'modalHostEvacuate.helpText'  defaultTimeout=defaultTimeout}}
  </div>
</div>

<div class="footer-actions">
  <button {{action "evacuate"}} class="btn btn-danger">{{t 'modalHostEvacuate.button'}}</button>
  <button {{action "cancel"}} class="btn btn-link">{{t 'generic.cancel'}}</button>
</div>
