<td data-title="{{t 'generic.name'}}:" class="force-wrap">
  {{model.displayName}}
</td>
<td data-title="{{t 'generic.created'}}:" class="text-right pr-20">
  {{date-calendar model.created}}
</td>
<td data-title="{{t 'generic.actions'}}:" class="actions">
  {{action-menu model=model}}
</td>