<section class="horizontal-form">
  {{#accordion-list showExpandAll=false as | al expandFn |}}
  <div class="box mt-20">
     {{#accordion-list-item
    title=(t "nodeDriver.pnap.access.title")
    detail=(t "nodeDriver.pnap.access.detail")
    expandAll=expandAll
    expand=(action expandFn)
    expandOnInit=true
  }}
    {{form-auth-cloud-credential
      driverName=driverName
      parseAndCollectErrors=(action "errorHandler")
      primaryResource=primaryResource
      cloudCredentials=cloudCredentials
      finishAndSelectCloudCredential=(action "finishAndSelectCloudCredential")
      progressStep=(action "finishAndSelectCloudCredential")
      cancel=(action "cancel")
      hideSave=true
    }}

  {{/accordion-list-item}}
  </div>
  <div class="over-hr mb-20">
    <span>
      {{driverOptionsTitle}}
    </span>
  </div>
  <div class="box mt-20">
    <h4>Server Details Section</h4>
    <div class="row inline-form">
      {{!-- <div class="col span-6">
        <label class="acc-label">
         Hostname
        </label>
        {{ input classNames="form-control" value=config.serverHostname }}
      </div> --}}

      <div class="col span-6">
        <label class="acc-label">
         Location
        </label>
        <select class="form-control" onchange={{action (mut config.serverLocation) value="target.value"}}>
          {{#each locations as |choice|}}
          <option value={{choice.value}} selected={{eq config.serverLocation choice.value}}>
            {{choice.name}}
          </option>
          {{/each}}
        </select>
      </div>
      <div class="col span-6">
        <label class="acc-label">
         OS
        </label>
        <select class="form-control" onchange={{action (mut config.serverOs) value="target.value"}}>
          {{#each osChoices as |choice|}}
          <option value={{choice.value}} selected={{eq config.serverOs choice.value}}>
            {{choice.name}}
          </option>
          {{/each}}
        </select>
      </div>
      <div class="col span-6">
        <label class="acc-label">
          Type
        </label>
         <select class="form-control" onchange={{action (mut config.serverType) value="target.value"}}>
          {{#each types as |choice|}}
          <option value={{choice.value}} selected={{eq config.serverType choice.value}}>
            {{choice.name}}
          </option>
          {{/each}}
        </select>
      </div>
    </div>
  </div>

  <div class="over-hr">
    <span>
      {{templateOptionsTitle}}
    </span>
  </div>

  {{form-name-description
        model=model
        nameRequired=true
        rowClass="row mb-10"
      }}

  {{form-user-labels
        initialLabels=labelResource.labels
        setLabels=(action "setLabels")
        expand=(action expandFn)
      }}

  {{form-node-taints
        model=model
        expand=(action expandFn)
      }}

  {{form-engine-opts
        machine=model
        showEngineUrl=showEngineUrl
      }}

  {{top-errors errors=errors}}
  {{save-cancel
        save=(action "save")
        cancel=(action "cancel")
        editing=editing
      }}
  {{/accordion-list}}
</section>
