{{#if hasBlock}}
  {{yield}}
{{else}}
  <label class="acc-label">
    {{input type="checkbox" checked=model.active}} {{t model.translationKey}}
    <p class="help-block">{{t model.descriptionTranslationKey}}</p>
  </label>
{{/if}}