<section class="horizontal-form">
  <div class="over-hr mt-20 mb-20">
    <span>{{t 'machine.driverDigitalocean.instanceSection'}}</span>
  </div>

  <div class="row mb-20">
    {{form-name-description
        name=model.name
        description=model.description
        nameRequired=true
        namePlaceholder="hostPartial.host.addCommon.new.form.name.placeholder"
        descriptionShown=true
        descriptionExpanded=true
    }}
  </div>
  {{#if step1}}
    <form>

      <div class="over-hr mb-20">
        <span>{{t 'machine.driverDigitalocean.accountSection'}}</span>
      </div>

      <div class="row inline-form">
        <div class="col span-2 col-inline">
          <label>{{t 'machine.driverDigitalocean.accessToken.label'}}</label>
        </div>
        <div class="col span-10">
          {{input type="password" value=model.secretValues.digitaloceanConfig.accessToken classNames="form-control" placeholder=(t 'machine.driverDigitalocean.accessToken.placeholder')}}
          <p class="text-info">{{t 'machine.driverDigitalocean.accessToken.help' htmlSafe=true}}</p>
        </div>
      </div>

      {{top-errors errors=errors}}
      <div class="footer-actions">
        {{#if gettingData}}
          <button class="btn bg-primary btn-disabled"><i class="icon icon-spinner icon-spin"></i> {{t 'generic.loading'}}</button>
        {{else}}
          <button {{action "getData" 'region'}} class="btn bg-primary" disabled={{not model.secretValues.digitaloceanConfig.accessToken}}>{{t 'machine.driverDigitalocean.authAccountButton'}}</button>
        {{/if}}
        <button {{action "cancel"}} class="btn bg-transparent">{{t 'generic.cancel'}}</button>
      </div>
    </form>
  {{else}}
    <div class="container-fluid">
      <div class="over-hr mt-20 mb-20">
        <span>{{t 'machine.driverDigitalocean.regionSection'}}</span>
      </div>

      <div class="row inline-form">
        <div class="col span-2 col-inline">
          <label>{{t 'machine.driverDigitalocean.region.label'}}</label>
        </div>
        <div class="col span-10">
          <select class="form-control" onchange={{action (mut digitaloceanConfig.region) value="target.value"}}>
            {{#each regionChoices as |choice|}}
              <option value={{choice.slug}} selected={{eq digitaloceanConfig.region choice.slug}}>{{choice.name}}</option>
            {{/each}}
          </select>
        </div>
      </div>

      <div class="over-hr mt-20 mb-20">
        <span>{{t 'machine.driverDigitalocean.instanceOptionsSection'}}</span>
      </div>

      <div class="row inline-form">
        <div class="col span-2 col-inline">
          <label>{{t 'machine.driverDigitalocean.image.label'}}</label>
        </div>
        <div class="col span-4">
          <select class="form-control" onchange={{action (mut digitaloceanConfig.image) value="target.value"}}>
            {{#each imageChoices as |choice|}}
              <option value={{choice.slug}} disabled={{choice.disabled}} selected={{eq digitaloceanConfig.image choice.slug}}>{{choice.distribution}} {{choice.name}}</option>
            {{/each}}
          </select>
        </div>
        <div class="col span-2 col-inline">
          <label>{{t 'machine.driverDigitalocean.size.label'}}</label>
        </div>
        <div class="col span-4">
          <select class="form-control" onchange={{action (mut digitaloceanConfig.size) value="target.value"}}>
            {{#each filteredSizeChoices as |choice|}}
            <option value={{choice.slug}} selected={{eq digitaloceanConfig.size choice.slug}}>{{t 'machine.driverDigitalocean.sizeLabel' memoryGb=choice.memoryGb highMem=choice.highMem slug=choice.slug disk=choice.disk vcpus=choice.vcpus}}</option>
            {{/each}}
          </select>
        </div>
      </div>
      <div class="row inline-form">
        <div class="col span-2 col-inline">
          <label>{{t 'machine.driverDigitalocean.sshUser.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" value=digitaloceanConfig.sshUser classNames="form-control" placeholder=(t 'machine.driverDigitalocean.sshUser.placeholder')}}
        </div>
      </div>

      <div class="over-hr mt-20 mb-20">
        <span>{{t 'machine.driverDigitalocean.optionsSection'}}</span>
      </div>

      <table style="margin: 0 auto;">
        <tr>
          <td style="padding: 0 10px;">
            <div class="col-inline checkbox">
              <label>{{input type="checkbox" checked=digitaloceanConfig.backups}} {{t 'machine.driverDigitalocean.backups.label'}}</label>
            </div>
          </td>
          <td style="padding: 0 10px;">
            <div class="col-inline checkbox">
              <label>{{input type="checkbox" checked=digitaloceanConfig.ipv6}} {{t 'machine.driverDigitalocean.ipv6.label'}}</label>
            </div>
          </td>
          <td style="padding: 0 10px;">
            <div class="col-inline checkbox">
              <label>{{input type="checkbox" checked=digitaloceanConfig.privateNetworking}} {{t 'machine.driverDigitalocean.privateNetworking.label'}}</label>
            </div>
          </td>
        </tr>
      </table>

      {{partial "host/add-options"}}
    </div>

    {{top-errors errors=errors}}
    {{save-cancel save=driverSaveAction cancel="cancel"}}
  {{/if}}
</section>
