<div class="inline-block" style="width: {{width}}">
  <label>{{t 'generic.registry'}}{{field-required}}</label>
  <div class="pt-10"></div>
  {{searchable-select class="form-control" readOnly=disabled content=state.registries value=state.imageRegistry allowCustom=true}}
</div>
<span> / </span>
<div class="inline-block" style="width: {{width}}">
  <label>{{t 'generic.repository'}}{{field-required}}</label>
  <div class="pt-10"></div>
  {{input class="form-control" value=state.imageRepo disabled=disabled}}
</div>
<span> : </span>
<div class="inline-block" style="{{state.width}}">
  <label>{{t 'generic.tag'}}</label>
  <div class="pt-10"></div>
  {{input class="form-control" value=state.imageTag disabled=disabled}}
</div>
{{#if registryField}}
  {{#if (and state.registryExist state.noEditingRegistry)}}
  {{#banner-message icon="icon-success" color='bg-success mb-0 mt-10'}}
    {{t 'newPipelineStep.stepType.build.registryExist' registry=state.imageRegistry username=state.selectedRegistry.username}}
    <button {{action "setState" "state.noEditingRegistry" false}} class="btn bg-transparent btn-sm pull-right mr-10">Edit Registry</button>
  {{/banner-message}}
  {{else}}
  {{#if state.noEditingRegistry}}
    {{banner-message color='bg-warning mb-0 mt-10' message=(concat "Please add registry " state.imageRegistry " first")}}
  {{else}}
    {{banner-message color='bg-info mb-0 mt-10' message=(concat "Edit registry " state.imageRegistry)}}
  {{/if}}
  <div class="box mt-10">
    <p class="mt-0 mb-0">{{t 'newPipelineStep.stepType.build.scope'}}</p>
    <p class="mt-10 mb-0">{{t 'registriesPage.new.form.custom.labelText'}}: {{state.imageRegistry}}</p>
    <div class="row">
      <div class="col span-12">
        <div>
          <label class="acc-label">{{t 'registriesPage.new.form.username.labelText'}}</label>
          {{input class="form-control" autofocus=true value=state.username}}
        </div>
        <div>
          <label class="acc-label">{{t 'registriesPage.new.form.password.labelText'}}</label>
          {{input type="password" class="form-control" value=state.password}}
        </div>
      </div>
      <div class="col span-12">
        <button class="btn bg-primary" {{action "saveRegistry"}} disabled={{or state.savingRegistry (eq state.imageRegistry '')}}>
          {{#if state.savingRegistry}}
            <i class="icon icon-spin icon-spinner"></i>
          {{/if}}
          {{t 'newPipeline.save'}}
        </button>
        {{#unless state.noEditingRegistry}}
          <button class="btn bg-transparent" {{action "setState" "state.noEditingRegistry" true}} disabled={{or state.savingRegistry (eq state.imageRegistry '')}}>
            {{t 'generic.cancel'}}
          </button>
        {{/unless}}
      </div>
    </div>
  </div>
  {{/if}}
{{/if}}
