{{#sortable-table
   tableClassNames="bordered"
   classNames="grid sortable-table"
   bulkActions=bulkActions
   paging=paging
   fullRows=fullRows
   search=search
   sortBy=sortBy
   suffix=true
   searchText=searchText
   descending=descending
   headers=headers
   groupByKey="groupId"
   groupByRef="group"
   body=filteredAlerts
   as |sortable kind row dt|
}}
  {{#if (eq kind "row")}}
    {{#if (eq pageScope "cluster")}}
      {{cluster-alert-row
        notifiers=filteredNotifiers
        model=row
        dt=dt
        canExpand=false
        groups=groups
      }}
    {{else if (eq pageScope "project")}}
      {{project-alert-row
        notifiers=filteredNotifiers
        model=row
        dt=dt
        canExpand=false
        groups=groups
      }}
    {{/if}}
  {{else if (eq kind "nomatch")}}
    <tr>
      <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t "alertPage.index.table.noMatch"}}</td>
    </tr>
  {{else if (eq kind "norows")}}
    {{#unless groupsWithoutAlerts.length}}
      <tr>
        <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t "alertPage.index.table.noData"}}</td>
      </tr>
    {{/unless}}
  {{else if (eq kind "group")}}
    {{alert/alert-group
      model=row
      fullColspan=sortable.fullColspan
      groups=groups
      noGroup="alertPage.index.table.noGroup"
    }}
  {{else if (eq kind "suffix")}}
    {{#if (and groupsWithoutAlerts.length (not searchText.length))}}
      <tbody class="fixed grid group">
        {{#each groupsWithoutAlerts as |group|}}
          {{alert/alert-group
              model=group
              noAlerts=true
              fullColspan=sortable.fullColspan
              groups=groups
              hasOtherGroups=(not-eq groupsWithoutAlerts.length groups.length)
          }}
        {{/each}}
      </tbody>
    {{/if}}
  {{/if}}
{{/sortable-table}}
