<div class="nav-background"></div>
<div {{bind-attr class=":aside-background asideColor hasAside::hide"}}></div>
{{page-nav activeTab=activeTab}}
{{page-header
  pageName=pageName
  projects=projects
  project=project
  backRoute=backRoute
  backPrevious=backPrevious
  hasAside=hasAside
  switchProject="switchProject"
  goToPrevious="goToPrevious"
}}
<main {{bind-attr class="hasAside:has-aside"}}>
  {{outlet}}
</main>
