<form {{action "authenticate" on="submit"}} class="text-left">
  <div class="mt-20">
    <div>
      {{#if isCaas}}
        <label>{{t 'loginUserPass.caasLabel'}}</label>
      {{else}}
        <label>{{t 'loginUserPass.userLabel'}}</label>
      {{/if}}
      <div class="pull-right">
        <label>{{t 'loginUserPass.remember'}} {{input type="checkbox" checked=rememberUsername}}</label>
      </div>
    </div>
    <div>
      {{input type="text" id="login-username" autocomplete="username" class="form-control login-user" value=username placeholder=(t 'loginUserPass.userPlaceholder')}}
    </div>
  </div>

  <div class="pt-15 pb-30">
    <label>{{t 'loginUserPass.passwordLabel'}}</label>
    <div>
      {{input id="login-password" autocomplete="password" type="password" class="form-control login-pass" value=password}}
    </div>
  </div>

  <p class="text-center">
    <button disabled={{waiting}} class="btn bg-primary" {{action "authenticate"}}>
      {{#if waiting}}
        <i class="icon icon-spinner icon-spin"></i> {{t 'loginUserPass.loggingInLabel'}}
      {{else}}
        {{t 'loginUserPass.loginLabel'}}
      {{/if}}
    </button>
  </p>
</form>
