<form {{action "authenticate" on="submit"}} class="text-left mt-10">
  <div class="mt-20">
    <div>
      <label class="acc-label">{{t 'loginUserPass.userLabel'}}</label>
      <div class="pull-right">
        <label class="acc-label">{{t 'loginUserPass.remember'}} {{input type="checkbox" checked=rememberUsername}}</label>
      </div>
    </div>
    <div>
      {{input type="text" id=(concat "login-username-" provider) name="username" autocomplete="username" class="form-control login-user" value=username placeholder=(t 'loginUserPass.userPlaceholder')}}
    </div>
  </div>

  <div class="pt-15 pb-15">
    <label class="acc-label">{{t 'loginUserPass.passwordLabel'}}</label>
    <div>
      {{input id=(concat "login-password-" provider) name="password" autocomplete="password" type="password" class="form-control login-pass" value=password}}
    </div>
  </div>

  <p class="text-center">
    <button disabled={{waiting}} class="btn bg-primary" {{action "authenticate"}}>
      {{#if waiting}}
        <i class="icon icon-spinner icon-spin"></i> {{t 'loginUserPass.loggingInLabel'}}
      {{else if readableProvider}}
        {{t 'loginUserPass.loginLabel' provider=readableProvider}}
      {{else}}
        {{t 'loginUserPass.genericLoginLabel'}}
      {{/if}}
    </button>
  </p>
</form>
