{{#if topLevel}}
  <tr class="{{if execution.exception 'danger' ''}} group-row">
    <td class="clip">
      {{#if checkProcessHandlerExecutions }}
        <span {{action 'expand'}}>
          <i class="icon hand {{if expanded 'icon-minus-square' 'icon-plus-square'}} text-muted"></i>
        </span>
      {{/if}}
      {{#if execution.exception}}
        <span {{action 'showError' execution.exception}}>
          <i class="icon icon-alert hand"></i>
        </span>
      {{/if}}
      <span title={{execution.processName}}>{{execution.processName}}</span>
    </td>
    <td class="clip"><span title={{execution.resourceType}}>{{execution.resourceType}}:{{execution.resourceId}}</span></td>
    <td>{{execution.exitReason}}</td>
    {{#if execution.startTime}}
      <td>{{date-from-now execution.startTime}}</td>
    {{else}}
      <td></td>
    {{/if}}
    {{#if execution.stopTime}}
      <td>{{date-from-now execution.stopTime}}</td>
    {{else}}
      <td></td>
    {{/if}}
    <td>{{run-time execution.startTime execution.stopTime}}</td>
  </tr>
{{else}}
  {{#if (or expandSelf expanded)}}
    <tr class="{{if execution.exception 'danger' ''}}">
      <td class="clip">
        <i class="icon icon-level-down indent-{{depth}}"></i>
        {{#if execution.exception}}
          <span {{action 'showError' execution.exception}}>
            <i class="icon icon-alert hand"></i>
          </span>
        {{/if}}
        {{#if checkProcessHandlerExecutions }}
            <span {{action 'expand'}}>
              <i class="icon hand {{if expanded 'icon-minus-circle' 'icon-plus-circle'}}"></i>
            </span>
        {{/if}}
        <span title={{execution.processName}}>{{execution.processName}}</span>
      </td>
      <td class="clip"><span title={{execution.resourceType}}>{{execution.resourceType}}:{{execution.resourceId}}</span></td>
      <td>{{execution.exitReason}}</td>
      {{#if execution.startTime}}
        <td>{{date-from-now execution.startTime}}</td>
      {{else}}
        <td></td>
      {{/if}}
      {{#if execution.stopTime}}
        <td>{{date-from-now execution.stopTime}}</td>
      {{else}}
        <td></td>
      {{/if}}
      <td>{{run-time execution.startTime execution.stopTime}}</td>
    </tr>
  {{/if}}
{{/if}}
{{#if checkProcessHandlerExecutions }}
  {{#each execution.processHandlerExecutions as |processExe|}}
    {{process-execution-handler-rows execution=processExe nodeDepth=depth expandSelf=expanded expandAll=expandAll }}
  {{/each}}
{{/if}}
