<section class="horizontal-form">
  {{#accordion-list showExpandAll=false as | al expandFn |}}
    <div class="over-hr mb-20"><span>{{driverOptionsTitle}}</span></div>

    <div class="row box mt-20">
      <h4>{{t 'nodeDriver.vmwarevspheree.accountSection'}}</h4>
      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.vmwarevspheree.vcenter.label'}}{{field-required}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" class="form-control" value=config.vcenter placeholder=(t 'nodeDriver.vmwarevspheree.vcenter.placeholder')}}
        </div>
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.vmwarevspheree.vcenterPort.label'}}{{field-required}}</label>
        </div>
        <div class="col span-4">
          {{input-integer min=1 max=65535 class="form-control" value=config.vcenterPort}}
        </div>
      </div>

      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.vmwarevspheree.username.label'}}{{field-required}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" value=config.username classNames="form-control"}}
        </div>

        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.vmwarevspheree.password.label'}}{{field-required}}</label>
        </div>
        <div class="col span-4">
          {{input type="password" value=vmwarevsphereConfig.password classNames="form-control"}}
        </div>
      </div>
    </div>

    <div class="row box mt-20">
      <h4>{{t 'nodeDriver.vmwarevspheree.instanceOptionsSection'}}</h4>
      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.vmwarevspheree.cpuCount.label'}}</label>
        </div>

        <div class="col span-1">
          {{config.cpuCount}}
        </div>
        <div class="col span-3">
          {{input-slider value=config.cpuCount valueMin=1 valueMax=32}}
        </div>

        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.vmwarevspheree.memorySize.label'}}</label>
        </div>
        <div class="col span-4">
          <div class="input-group">
            {{input-integer min=1 value=config.memorySize classNames="form-control"}}
            <div class="input-group-addon bg-default">{{t 'nodeDriver.vmwarevspheree.memorySize.unit'}}</div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.vmwarevspheree.diskSize.label'}}</label>
        </div>
        <div class="col span-4">
          <div class="input-group">
            {{input-integer min=1 value=config.diskSize classNames="form-control"}}
            <div class="input-group-addon bg-default">{{t 'nodeDriver.vmwarevspheree.diskSize.unit'}}</div>
          </div>
        </div>

        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.vmwarevspheree.boot2dockerUrl.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" value=config.boot2dockerUrl classNames="form-control" placeholder=(t 'nodeDriver.vmwarevspheree.boot2dockerUrl.placeholder')}}
        </div>
      </div>
    </div>

    <div class="row box mt-20">
      <h4>{{t 'nodeDriver.vmwarevspheree.schedulingSection'}}</h4>
      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.vmwarevspheree.dataCenter.label'}}</label>
        </div>
        <div class="col span-2">
          {{input type="text" value=config.datacenter classNames="form-control"}}
        </div>

        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.vmwarevspheree.pool.label'}}</label>
        </div>
        <div class="col span-2">
          {{input type="text" value=config.pool classNames="form-control"}}
        </div>

        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.vmwarevspheree.host.label'}}</label>
        </div>
        <div class="col span-2">
          {{input type="text" value=config.hostsystem classNames="form-control" placeholder=(t 'nodeDriver.vmwarevspheree.host.placeholder')}}
        </div>
      </div>

      <div class="row">
        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.vmwarevspheree.network.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" value=config.network classNames="form-control"}}
        </div>

        <div class="col span-2 col-inline">
          <label>{{t 'nodeDriver.vmwarevspheree.dataStore.label'}}</label>
        </div>
        <div class="col span-4">
          {{input type="text" value=config.datastore classNames="form-control"}}
        </div>
      </div>
    </div>

    <div class="over-hr"><span>{{templateOptionsTitle}}</span></div>

    {{form-name-description
      model=model
      nameRequired=true
    }}

    {{form-user-labels
      initialLabels=labelResource.labels
      setLabels=(action 'setLabels')
      expandAll=expandAll
      expand=(action expandFn)
    }}

    {{form-engine-opts
      machine=model
      showEngineUrl=showEngineUrl
    }}
  {{/accordion-list}}

  {{top-errors errors=errors}}
  {{save-cancel save="save" cancel="cancel"}}
</section>
