<div class="catalog left-nav col-md-2 col-sm-2">
  <h3 class="r-mt10 r-mb15">Catalog</h3>
  <ol class="nav nav-list">
    {{#each categories as |category|}}
    <li class="">
      {{#link-to 'applications-tab.catalog' category}}
        <span class="text-capitalize">{{category}}</span>
      {{/link-to}}
    </li>
    {{/each}}
  </ol>
</div>
<section>
  <div class="col-md-10 col-sm-10">
    <div class="form clearfix r-mb10">
      <div class="btn-group searchable col-sm-12 col-md-12">
        <i class="fa fa-search"></i>
        {{input placeholder='search' class='form-control r-pl25' value=search}}
      </div>
    </div>
    <div class="col-md-12 r-pl15 r-pr15">
      {{#each arrangedContent as |catalogItem|}}
        <div class="container-catalog text-center">
          <h5>{{catalogItem.name}}</h5>
          <img src={{catalogItem.iconLink}} alt={{catalogItem.name}} class="center-block r-mt20" style="height:75px;">
          <div class="r-mt10 description">{{catalogItem.description}}</div>
          <button class="btn btn-sm btn-primary" {{action 'launch' catalogItem}}> View Details</button>
        </div>
      {{/each}}
    </div>
  </div>
</section>
{{outlet}}
