  <div class="row mb-20">
    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.gcePersistentDisk.pdName.label'}}</label>
      {{#input-or-display editable=editing value=config.pdName}}
        {{input type="text" value=config.pdName classNames="form-control" placeholder=(t 'cruPersistentVolume.gcePersistentDisk.pdName.placeholder')}}
      {{/input-or-display}}
    </div>

    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.gcePersistentDisk.partition.label'}}</label>
      {{#input-or-display editable=editing value=config.partition}}
        {{input-integer type="text" value=config.partition classNames="form-control" placeholder=(t 'cruPersistentVolume.gcePersistentDisk.partition.placeholder')}}
      {{/input-or-display}}
    </div>
  </div>
  <div class="row">
    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.gcePersistentDisk.fsType.label'}}</label>
      {{#input-or-display editable=editing value=config.fsType}}
        {{input type="text" value=config.fsType classNames="form-control" placeholder=(t 'cruPersistentVolume.gcePersistentDisk.fsType.placeholder')}}
      {{/input-or-display}}
    </div>
    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.gcePersistentDisk.readOnly.label'}}</label>
      {{#if editing}}
        <div class="text-muted">
          <label>
            {{radio-button selection=config.readOnly value=true}} {{t 'generic.yes'}}
          </label>
          <label>
            {{radio-button selection=config.readOnly value=false}} {{t 'generic.no'}}
          </label>
        </div>
      {{else}}
        <div class="text-muted">
          {{config.readOnly}}
        </div>
      {{/if}}
    </div>
  </div>
