<section class="header clearfix">
  <h1>{{headerLabel}} {{help-btn link="/cattle/adding-load-balancers/"}}</h1>
</section>

<section class="horizontal-form container-fluid well">
  {{#liquid-if needsUpgrade}}
    {{form-upgrade
      optionsChanged=(action 'setUpgrade')
    }}
  {{/liquid-if}}

  <div class="{{if needsUpgrade 'hide'}}">
    {{form-scale
      initialLabels=launchConfig.labels
      initialScale=service.scale
      editing=editing
      isGlobal=isGlobal
      errors=scaleErrors
      setLabels=(action 'setLabels' 'scale')
      setGlobal=(action 'setGlobal')
      setScale=(action  'setScale')
    }}
  </div>
</section>

<section class="horizontal-form container-fluid well">
  {{form-name-description
    model=service
    namePlaceholder="servicePage.newBalancer.form.name.placeholder"
    descriptionPlaceholder="servicePage.newBalancer.form.description.placeholder"
  }}

  {{form-balancer-rules
    service=service
  }}
</section>

{{#select-tab initialTab='ssl' as |component|}}
  <ul class="nav nav-tabs nav-tabs-well shadowed" style="display: inline-block" role="tablist">
    <li role="tab" class="tab" data-section="ssl" {{action "selectTab" "ssl" target=component}}><a href="#">{{t 'newBalancer.tabs.ssl'}}</a></li>
    <li role="tab" class="tab" data-section="stickiness" {{action "selectTab" "stickiness" target=component}}><a href="#">{{t 'newBalancer.tabs.stickiness'}}</a></li>
    <li role="tab" class="tab" data-section="custom" {{action "selectTab" "custom" target=component}}><a href="#">{{t 'newBalancer.tabs.custom'}}</a></li>
    <li role="tab" class="tab" data-section="labels" {{action "selectTab" "labels" target=component}}><a href="#">{{t 'newBalancer.tabs.labels'}}</a></li>
    <li role="tab" class="tab" data-section="scheduling" {{action "selectTab" "scheduling" target=component}}><a href="#">{{t 'newBalancer.tabs.scheduling'}}</a></li>
  </ul>


<div class="horizontal-form well" role="tabpanel">
  <div class="section container-fluid tab-section" data-section="ssl">
    {{form-ssl-termination
      service=service
      allCertificates=allCertificates
    }}
  </div>

  <div class="section container-fluid tab-section" data-section="stickiness">
    {{form-stickiness
      service=service
    }}
  </div>

  <div class="section container-fluid tab-section" data-section="custom">
    <div class="r-mb10">{{format-html-message 'newBalancer.custom' appName=settings.appName}}</div>
    <hr/>

    {{textarea
      value=service.lbConfig.config
      placeholder=(t 'newBalancer.config.prompt')
      rows="8"
      classNames="form-control"
    }}
  </div>

  <div class="section" data-section="labels">
    {{form-user-labels
      initialLabels=launchConfig.labels
      setLabels=(action 'setLabels' 'user')
    }}
  </div>

  <div class="section" data-section="scheduling">
    {{form-scheduling
      isService=true
      isGlobal=isGlobal
      canRequestHost=false
      initialHostId=launchConfig.requestedHostId
      initialLabels=launchConfig.labels
      errors=schedulingErrors
      allHosts=allHosts
      setLabels=(action 'setLabels' 'scheduling')
      setGlobal=(action 'setGlobal')
    }}
  </div>
</div>
{{/select-tab}}

{{#if upgradeInfo}}
  <div class="lacsso banner bg-info m-20 p-0">
    <div class="lacsso banner-icon" style="width: 68px;"><span class="icon icon-2x icon-info"></span></div>
    <div class="lacsso banner-info">
      <p class="lacsso p-15 ">
        {{format-html-message 'servicePage.newBalancer.upgradeImage' from=upgradeInfo.from to=upgradeInfo.to}}
      </p>
    </div>
  </div>
{{/if}}

{{top-errors errors=errors}}
{{save-cancel editing=editing editLabel=editLabel save="save" cancel="cancel"}}
