<section class="header">
  <h1>{{t 'newBalancer.header'}} {{help-btn link="/rancher-ui/applications/stacks/adding-balancers/"}}</h1>
</section>

<section class="horizontal-form container-fluid well">
  {{form-scale
    initialLabels=launchConfig.labels
    initialScale=service.scale
    isGlobal=isGlobal
    errors=scaleErrors
    setLabels=(action 'setLabels' 'scale')
    setGlobal=(action 'setGlobal')
    setScale=(action  'setScale')
  }}
</section>

<section class="horizontal-form container-fluid well">
  {{form-name-description
    model=service
    namePlaceholder="servicePage.newBalancer.form.name.placeholder"
    descriptionPlaceholder="servicePage.newBalancer.form.description.placeholder"
  }}

  {{form-balancer-rules
    model=service
    allServices=allServices
  }}
</section>

{{#select-tab initialTab='ssl' as |component|}}
  <ul class="nav nav-tabs nav-tabs-well shadowed" style="display: inline-block" role="tablist">
    <li role="tab" class="tab" data-section="ssl" {{action "selectTab" "ssl" target=component}}><a href="#">{{t 'newBalancer.tabs.ssl'}}</a></li>
    <li role="tab" class="tab" data-section="stickiness" {{action "selectTab" "stickiness" target=component}}><a href="#">{{t 'newBalancer.tabs.stickiness'}}</a></li>
    <li role="tab" class="tab" data-section="custom" {{action "selectTab" "custom" target=component}}><a href="#">{{t 'newBalancer.tabs.custom'}}</a></li>
    <li role="tab" class="tab" data-section="labels" {{action "selectTab" "labels" target=component}}><a href="#">{{t 'newBalancer.tabs.labels'}}</a></li>
    <li role="tab" class="tab" data-section="scheduling" {{action "selectTab" "scheduling" target=component}}><a href="#">{{t 'newBalancer.tabs.scheduling'}}</a></li>
  </ul>


<div class="horizontal-form well" role="tabpanel">
  <div class="section container-fluid tab-section" data-section="ssl">
    {{form-ssl-termination
      balancer=service
      hasSslListeners=hasSslListeners
      launchConfig=launchConfig
      allCertificates=allCertificates
    }}
  </div>

  <div class="section container-fluid tab-section" data-section="stickiness">
    {{form-stickiness
      config=balancerConfig
      hasHttpListeners=hasHttpListeners
    }}
  </div>

  <div class="section container-fluid tab-section" data-section="custom">
    {{format-html-message 'newBalancer.helpBlock' appName=settings.appName}}

    <div class="row form-group">
      <div class="col-md-6">
        <label class="r-pt5 r-pb5">{{format-html-message 'newBalancer.labelGlobal'}}</label>
        {{textarea
          value=haproxyConfig.global
          prompt="Custom global section lines"
          rows="8"
          classNames="form-control"
        }}
      </div>
      <div class="col-md-6">
        <label class="r-pt5 r-pb5">{{format-html-message 'newBalancer.labelDefault'}}</label>
        {{textarea
          value=haproxyConfig.defaults
          prompt="Custom defaults section lines"
          rows="8"
          classNames="form-control"
        }}
      </div>
    </div>
  </div>

  <div class="section" data-section="labels">
    {{form-user-labels
      initialLabels=launchConfig.labels
      setLabels=(action 'setLabels' 'user')
    }}
  </div>

  <div class="section" data-section="scheduling">
    {{form-scheduling
      isService=true
      isGlobal=isGlobal
      canRequestHost=false
      initialHostId=launchConfig.requestedHostId
      initialLabels=launchConfig.labels
      errors=schedulingErrors
      allHosts=allHosts
      setLabels=(action 'setLabels' 'scheduling')
      setGlobal=(action 'setGlobal')
    }}
  </div>
</div>
{{/select-tab}}

{{top-errors errors=errors}}
{{save-cancel save="save" cancel="cancel"}}
