{{#if showProtip}}
  <div class="protip">
    {{t 'containerShell.protip' key=alternateLabel}}
  </div>
  <hr>
{{/if}}
<h2 class='mb-10'><i class="icon icon-terminal"></i> {{t 'modalShell.title' instanceName=instance.displayName}}</h2>
<div class="shell-body" contenteditable="{{contenteditable}}" oncontextmenu={{action "contextMenuHandler"}}>
</div>
<div class="footer-actions">
  <div class="console-status text-muted">{{t (concat-str 'containerShell.status' status character='.') error=error}}</div>
  {{yield}}
</div>
