<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.scaleIO.volumeName.label'}}</label>
    {{#input-or-display editable=editing value=config.volumeName}}
      {{input type="text" value=config.volumeName classNames="form-control" placeholder=(t 'cruPersistentVolume.scaleIO.volumeName.placeholder')}}
    {{/input-or-display}}
  </div>

  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.scaleIO.gateway.label'}}</label>
    {{#input-or-display editable=editing value=config.gateway}}
      {{input type="text" value=config.gateway classNames="form-control" placeholder=(t 'cruPersistentVolume.scaleIO.gateway.placeholder')}}
    {{/input-or-display}}
  </div>
</div>

<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.scaleIO.protectionDomain.label'}}</label>
    {{#input-or-display editable=editing value=config.protectionDomain}}
      {{input type="text" value=config.protectionDomain classNames="form-control" placeholder=(t 'cruPersistentVolume.scaleIO.protectionDomain.placeholder')}}
    {{/input-or-display}}
  </div>

  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.scaleIO.storageMode.label'}}</label>
    {{#input-or-display editable=editing value=config.storageMode}}
      {{input type="text" value=config.storageMode classNames="form-control" placeholder=(t 'cruPersistentVolume.scaleIO.storageMode.placeholder')}}
    {{/input-or-display}}
  </div>
</div>

<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.scaleIO.storagePool.label'}}</label>
    {{#input-or-display editable=editing value=config.storagePool}}
      {{input type="text" value=config.storagePool classNames="form-control" placeholder=(t 'cruPersistentVolume.scaleIO.storagePool.placeholder')}}
    {{/input-or-display}}
  </div>

  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.scaleIO.system.label'}}</label>
    {{#input-or-display editable=editing value=config.system}}
      {{input type="text" value=config.system classNames="form-control" placeholder=(t 'cruPersistentVolume.scaleIO.system.placeholder')}}
    {{/input-or-display}}
  </div>
</div>

<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.scaleIO.sslEnabled.label'}}</label>
    {{#if editing}}
      <div class="text-muted">
        <label>
          {{radio-button selection=config.sslEnabled value=true}} {{t 'generic.yes'}}
        </label>
        <label>
          {{radio-button selection=config.sslEnabled value=false}} {{t 'generic.no'}}
        </label>
      </div>
    {{else}}
      <div class="text-muted">
        {{config.sslEnabled}}
      </div>
    {{/if}}
  </div>

  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.scaleIO.secretRef.label'}}</label>
    {{#input-or-display editable=editing value=config.secretRef.name}}
      {{input type="text" value=config.secretRef.name classNames="form-control" placeholder=(t 'cruPersistentVolume.scaleIO.secretRef.name.placeholder')}}
    {{/input-or-display}}
  </div>
</div>

{{#if (eq volume.type "persistentVolume")}}
  <div class="row mb-20">
    <div class="col span-6">
      <label class="acc-label">{{t 'cruPersistentVolume.scaleIO.secretRef.namespace.label'}}</label>
      {{#input-or-display editable=editing value=config.secretRef.namespace}}
        {{input type="text" value=config.secretRef.namespace classNames="form-control" placeholder=(t 'cruPersistentVolume.scaleIO.secretRef.namespace.placeholder')}}
      {{/input-or-display}}
    </div>
  </div>
{{/if}}

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.scaleIO.fsType.label'}}</label>
    {{#input-or-display editable=editing value=config.fsType}}
      {{input type="text" value=config.fsType classNames="form-control" placeholder=(t 'cruPersistentVolume.scaleIO.fsType.placeholder')}}
    {{/input-or-display}}
  </div>

  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.scaleIO.readOnly.label'}}</label>
    {{#if editing}}
      <div class="text-muted">
        <label>
          {{radio-button selection=config.readOnly value=true}} {{t 'generic.yes'}}
        </label>
        <label>
          {{radio-button selection=config.readOnly value=false}} {{t 'generic.no'}}
        </label>
      </div>
    {{else}}
      <div class="text-muted">
        {{config.readOnly}}
      </div>
    {{/if}}
  </div>
</div>