<div class="row mb-20">
  <div class="col span-6">
    {{form-value-array
      initialValues=config.targetWWNs
      editing=editing
      valueLabel="cruPersistentVolume.fc.targetWWNs.label"
      addActionLabel="cruPersistentVolume.fc.targetWWNs.addActionLabel"
      changed=(action (mut config.targetWWNs))
    }}
  </div>

  <div class="col span-6">
    {{form-value-array
      initialValues=config.wwids
      editing=editing
      valueLabel="cruPersistentVolume.fc.wwids.label"
      addActionLabel="cruPersistentVolume.fc.wwids.addActionLabel"
      changed=(action (mut config.wwids))
    }}
  </div>
</div>

<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.fc.lun.label'}}</label>
    {{#input-or-display editable=editing value=config.lun}}
      {{input-integer type="text" value=config.lun classNames="form-control" placeholder=(t 'cruPersistentVolume.fc.lun.placeholder')}}
    {{/input-or-display}}
  </div>

  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.fc.fsType.label'}}</label>
    {{#input-or-display editable=editing value=config.fsType}}
      {{input type="text" value=config.fsType classNames="form-control" placeholder=(t 'cruPersistentVolume.fc.fsType.placeholder')}}
    {{/input-or-display}}
  </div>
</div>

<div class="row mb-20">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.fc.readOnly.label'}}</label>
    {{#if editing}}
      <div class="text-muted">
        <label>
          {{radio-button selection=config.readOnly value=true}} {{t 'generic.yes'}}
        </label>
        <label>
          {{radio-button selection=config.readOnly value=false}} {{t 'generic.no'}}
        </label>
      </div>
    {{else}}
      <div class="text-muted">
        {{config.readOnly}}
      </div>
    {{/if}}
  </div>
</div>
