{{#if (or showIcon title)}}
  <div class="banner-icon">
    {{#if showIcon}}
      <span class="icon {{icon}}"></span>
    {{else}}
      {{title}}
    {{/if}}
  </div>
{{/if}}
<div class="banner-message">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    <p>{{message}}</p>
  {{/if}}
</div>
