{{#if (or showIcon value)}}
  <div class="banner-icon {{valueClass}}">
    {{#if showIcon}}
      <span class="icon {{icon}}"></span>
    {{else}}
      {{value}}
    {{/if}}
  </div>
{{/if}}
<div class="banner-message">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    <p>{{message}}</p>
  {{/if}}
</div>
