{{#if (or showIcon title)}}
  {{#if showIcon}}
    <div class="banner-icon">
      <span class="icon {{icon}}"></span>
    </div>
  {{/if}}
  {{#if title}}
    <div class="banner-title" style={{titleStyle}}>
      {{title}}
    </div>
  {{/if}}
{{/if}}
<div class="banner-message">
  {{#if hasBlock}}
    {{yield}}
  {{else}}
    <p>{{message}}</p>
  {{/if}}
</div>
