<div class="banner-icon {{valueClass}}">{{#if showIcon}}<span class="icon {{icon}}"></span>{{else}}{{value}}{{/if}}</div>
<div class="banner-message">
  <p>
    {{#if hasBlock}}
      {{yield}}
    {{else}}
      {{message}}
    {{/if}}
  </p>
</div>
