{{~#if project~}}
  <li class="dropdown pull-right">
      <span class="environment-dropdown">
        <i class="{{project.icon}} project-icon icon-fw"></i>
        <a href="#" role="button" class="dropdown-toggle clip" aria-haspopup="true" aria-expanded="false" aria-label="{{t 'nav.environment.label'}}">
        {{project.displayName}}
        <span class="sr-only">{{t 'nav.srToggleDropdown'}}</span>
        </a>
        <i class="icon icon-chevron-down project-chevron"></i>
      </span>

    <ul class="dropdown-menu project-menu" role="menu" data-dropdown-id="enviroment">
      {{#if projectChoices.length}}
        <li role="presentation" class="dropdown-header">
          {{#if accessEnabled}}
            {{t 'nav.environment.your'}}
          {{else}}
            {{t 'nav.environment.all'}}
          {{/if}}
        </li>
        {{#each projectChoices as |p|}}
          <li class="{{if p.active 'active selected'}}">
            <a href="#" {{action "switchProject" p.id}} class="clip">
              <i class="icon {{p.icon}}"></i>
              &nbsp;
              {{p.displayName}}
            </a>
          </li>
        {{/each}}
      {{/if}}
      {{#if projectChoices.length}}
        <li role="presentation" class="divider"></li>
      {{/if}}
      {{#if projectIsMissing}}
        <li role="presentation" class="dropdown-header">{{t 'nav.environment.selected'}}</li>
        <li class="{{if project.active 'active selected'}}">
          <a href="#" {{action "switchProject" project.id}} class="clip">
            <i class="icon {{project.icon}}"></i>
            &nbsp;
            {{project.displayName}}
          </a>
        </li>
        <li role="presentation" class="divider"></li>
      {{/if}}
      {{#if (and isOwner projects.current)}}
        <li>{{#link-to "settings.projects.detail" projects.current.id (query-params editing="true") class="clip"}}{{t 'nav.environment.edit' name=projects.current.displayName}}{{/link-to}}</li>
      {{/if}}
      <li>{{#link-to "settings.projects"}}{{t 'nav.environment.manage'}}{{/link-to}}</li>
    </ul>
  </li>
{{~/if~}}
