{{#if project}}
  <div class="dropdown btn-group project-btn  {{if isKubernetesTab 'alt'}}">
    <a role="button" class="btn btn-link dropdown-toggle text-left" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="environment">
      <span class="clip"><i class="{{project.icon}} icon-fw"></i>&nbsp;{{project.displayName}}</span>
      <i class="icon icon-chevron-down"></i>
      <span class="sr-only">{{t 'nav.srToggleDropdown'}}</span>
      <label>{{t 'nav.environment.label'}}</label>
    </a>
    <ul class="dropdown-menu dropdown-menu-right project-menu" role="menu">
      {{#if projectChoices.length}}
        <li role="presentation" class="dropdown-header">
          {{#if accessEnabled}}
            {{t 'nav.environment.your'}}
          {{else}}
            {{t 'nav.environment.all'}}
          {{/if}}
        </li>
        {{#each projectChoices as |p|}}
          <li class="{{if p.active 'active selected'}}">
            <a href="#" {{action "switchProject" p.id}} class="clip">
              <i class="icon {{p.icon}}"></i>
              &nbsp;
              {{p.displayName}}
            </a>
          </li>
        {{/each}}
      {{/if}}
      {{#if projectChoices.length}}
        <li role="presentation" class="divider"></li>
      {{/if}}
      {{#if projectIsMissing}}
        <li role="presentation" class="dropdown-header">{{t 'nav.environment.selected'}}</li>
        <li class="{{if project.active 'active selected'}}">
          <a href="#" {{action "switchProject" project.id}} class="clip">
            <i class="icon {{project.icon}}"></i>
            &nbsp;
            {{project.displayName}}
          </a>
        </li>
        <li role="presentation" class="divider"></li>
      {{/if}}
      <li>{{#link-to "settings.projects"}}{{t 'nav.environment.manage'}}{{/link-to}}</li>
    </ul>
  </div>
{{/if}}

{{#if (and isKubernetesTab k8s.namespace)}}
  <div class="dropdown btn-group project-btn kub-btn">
    <a role="button" type="button" class="btn btn-link dropdown-toggle text-left clip" href="#"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" aria-label="environment">
      <span class="clip">
        <i class="icon icon-thumbnails icon-fw"></i>&nbsp;{{k8s.namespace.displayName}}
      </span>
      <i class="icon icon-chevron-down"></i>
      <span class="sr-only">{{nav.srToggleDropdown}}</span>
      <label>{{t 'nav.namespace.label'}}</label>
    </a>
    <ul class="dropdown-menu dropdown-menu-right project-menu" role="menu">
      {{#if k8s.namespaces.length}}
        <li role="presentation" class="dropdown-header">Namespaces</li>
        {{#each k8s.namespaces as |ns|}}
          {{#unless ns.isSystem}}
            <li class="{{if (eq ns k8s.namespace) 'active selected'}}">
              <a {{action "switchNamespace" ns.id}} class="clip">
                <i class="{{ns.icon}}"></i>
                &nbsp;
                {{ns.displayName}}
              </a>
            </li>
          {{/unless}}
        {{/each}}
        <li role="presentation" class="divider"></li>
        {{#each k8s.namespaces as |ns|}}
          {{#if ns.isSystem}}
            <li class="{{if (eq ns k8s.namespace) 'active selected'}}">
              <a {{action "switchNamespace" ns.id}} class="clip">
                <i class="{{ns.icon}}"></i>
                &nbsp;
                {{ns.displayName}}
              </a>
            </li>
          {{/if}}
        {{/each}}
        <li role="presentation" class="divider"></li>
      {{/if}}
      <li>{{#link-to "k8s-tab.namespaces"}}{{t 'nav.namespace.manage'}}{{/link-to}}</li>
    </ul>
  </div>
{{/if}}
