<td class="pr-20">
  {{t kind}}
</td>
<td class="pr-20">
  {{#if owner}}
    {{owner.displayName}}
  {{else}}
    {{searchable-select content=userList value=member.role.subjectName}}
  {{/if}}
</td>
<td class="pr-20">
  {{#if owner}}
    {{if (eq type 'project') 'Project Owner' 'Cluster Owner'}}
  {{else if (or hasCustom member.customRolesExisting)}}
    Multple Roles <span class="edit btn-sm hand" {{action "showEdit" member}}><i class="icon icon-edit"></i></span>
  {{else}}
    {{searchable-select content=choices value=member.role.roleTemplateId}}
  {{/if}}
</td>
<td>&nbsp;</td>
<div class="input-group-btn">
  {{#unless  owner}}
    <button class="btn bg-primary btn-sm" {{action "remove"}}>
      <i class="icon icon-minus" />
    </button>
  {{/unless}}
</div>
