<td class="pr-20">
  {{t kind}}
</td>
<td class="pr-20">
  {{#if (and owner owner.username)}}
    {{owner.username}} <label class="text-muted">{{owner.name}}</label>
  {{else if owner}}
    {{owner.id}} <label class="text-muted">{{owner.name}}</label>
  {{else}}
    {{searchable-select content=userList value=member.subjectName disabled=true}}
  {{/if}}
</td>
<td class="pr-20">
  {{#if owner}}
    {{if (eq type 'project') 'Project Owner' 'Cluster Owner'}}
  {{else}}
    {{searchable-select content=choices value=member.roleTemplateId}}
  {{/if}}
</td>
<td>&nbsp;</td>
<div class="input-group-btn">
  <button class="btn bg-primary btn-sm" {{action "remove"}} disabled={{if owner 'true' null}}>
    <i class="icon icon-minus" />
  </button>
</div>
