<h2>
  {{t "modalDeleteIstio.title"}}
</h2>

<ul class="list-unstyled pl-30">
  <li>
    <label>
      {{radio-button
        selection=onlyIstio
        value=true
      }}
      <span>
        {{t "modalDeleteIstio.onlyIstio.true"}}
      </span>
    </label>
  </li>
  <li>
    <label>
      {{radio-button
        selection=onlyIstio
        value=false
      }}
      <span>
        {{t "modalDeleteIstio.onlyIstio.false"}}
      </span>
    </label>
  </li>
</ul>

{{save-cancel
  editing=true
  saving=saving
  editLabel="modalDeleteIstio.disable"
  savingLabel="modalDeleteIstio.disabling"
  save=(action "confirm")
  cancel=(action "cancel")
  saveColor="bg-error"
  savedColor="bg-error"
  savingColor="bg-error"
}}
