<section class="horizontal-form container-fluid">
  <h2 class="alert-header">{{t 'modalProcessError.header'}}</h2>
  <hr>
  <div class="row inline-form">
    <div class="col span-2 col-inline">
      <label>{{t 'modalProcessError.cause'}}</label>
    </div>
    <div class="col span-8 text-muted">
      {{#if exception.cause}}
        {{exception.cause}}
      {{else}}
        {{t 'modalProcessError.none'}}
      {{/if}}
    </div>
  </div>
  <div class="row inline-form">
    <div class="col span-2 col-inline">
      <label>{{t 'modalProcessError.stackTrace'}}</label>
    </div>
    <div class="col span-12">
      {{code-block language="yaml" code=exception.stackTrace}}
    </div>
  </div>
  <div class="mb-15">
    <button class="btn bg-primary center-block" {{action 'dismiss'}}>{{t 'modalProcessError.close'}}</button>
  </div>
</section>
