{{top-errors errors=errors}}

<h2 class="alert-header">
  {{t (if editing "modalEditDriver.header.edit" "modalEditDriver.header.create") type=driverType}}
</h2>
<hr/>
<div class="inline-form">
  <label class="acc-label">
    {{t "modalEditDriver.url.label"}}{{field-required}}
  </label>
  {{input
    class="form-control"
    value=originalModel.url
  }}
  <span class="text-info">{{t "modalEditDriver.url.help"}}</span>
</div>

<div class="inline-form pt-20">
  <label class="acc-label">
    {{t "modalEditDriver.uiUrl.label"}}
  </label>
  {{input
    class="form-control"
    value=originalModel.uiUrl
  }}
  <span class="text-info">
    {{t "modalEditDriver.uiUrl.help"}}
    {{#if settings.isRancher}}
      {{t "modalEditDriver.uiUrl.link" htmlSafe=true}}
    {{/if}}
  </span>
</div>

<div class="inline-form pt-20">
  <label class="acc-label pb-5">
    {{t "modalEditDriver.checksum.label"}}
  </label>
  {{input
    class="form-control"
    value=originalModel.checksum
  }}
  <span class="text-info">{{t "modalEditDriver.checksum.help"}}</span>
</div>

<div class="inline-form pt-20">
  {{form-value-array
    initialValues=primaryResource.whitelistDomains
    valueLabel="modalEditDriver.whitelist.label"
    addActionLabel="modalEditDriver.whitelist.addActionLabel"
    noDataLabel="modalEditDriver.whitelist.noData"
    changed=(action "updateWhitelist")
  }}
</div>

{{save-cancel
  editing=editing
  save=(action "save")
  cancel=(action "cancel")
}}
