<div class="pod-header">
  {{#with model controller="service" as |ctrl|}}
    {{resource-actions-menu model=ctrl choices=ctrl.availableActions parentController=this}}
  {{/with}}

  <div class="pod-state {{stateBackground}}"><span>{{model.displayState}}</span></div>
  <div class="pod-icon"><i class="{{model.stateIcon}} fa-lg {{iconColor}}"></i></div>
  <div class="pod-name">
    {{#link-to "service" model.environmentId model.id}}{{model.displayName}}{{/link-to}}
    {{#if model.showTransitioningMessage}}
      <div class="pod-message {{if model.isError 'text-danger' 'text-muted'}}">
        {{model.transitioningMessage}}
      </div>
    {{/if}}
  </div>
</div>

{{#if (or model.consumedServicesWithNames.length model.externalIpAddresses.length)}}
  <div class="pod-info clearfix">
    <div class="pod-info-line">
      {{#each model.consumedServicesWithNames as |map|}}
        <div class="pod-info-item">
          {{#link-to "service" map.service.environmentId map.service.id}}
            <i class="{{map.service.activeIcon}}"></i>
            {{#if (eq map.name map.service.displayName)}}
              {{map.name}}
            {{else}}
              {{map.service.displayName}}{{#if map.name}} <span class="text-muted">(as {{map.name}})</span>{{/if}}
            {{/if}}
          {{/link-to}}
        </div>
      {{/each}}
    </div>
    {{#if model.externalIpAddresses.length}}
      {{#each model.externalIpAddresses as |ip|}}
        <div class="pod-info-line">
          <div class="pod-info-item"><i class="ss-link"></i> {{ip}}</div>
        </div>
      {{/each}}
    {{/if}}
  </div>
{{/if}}

<div class="clearfix no-resource-action-hover">
  {{#if hasContainers}}
    {{#each model.instances as |item|}}
      {{container-subpod model=item stripProject=true}}
    {{else}}
      <div class="text-center text-muted" style="margin: 20px 0">
        No containers yet.
        {{#if isInactive}}
          <a class="hand" {{action "activate" target=model}}>Start</a>
        {{else}}
        {{/if}}
      </div>
    {{/each}}
    {{#if showScaleUp}}
      {{add-subpod action="scaleUp" label="Scale Up"}}
    {{/if}}
  {{else}}
    {{#if isInactive}}
      <div class="text-center text-muted" style="margin: 20px 0">
        Inactive.  <a class="hand" {{action "activate" target=model}}>Start</a>
      </div>
    {{/if}}
  {{/if}}
</div>
