<div class="pod-header">
  {{resource-actions-menu model=model choices=model.availableActions}}

  <div {{bind-attr class=":pod-state stateBackground"}}><span>{{model.displayState}}</span></div>
  <div class="pod-icon"><i {{bind-attr class=":fa-lg model.stateIcon iconColor"}}></i></div>
  <div class="pod-name">
    {{#link-to "service" model.id}}{{model.displayName}}{{/link-to}}
    {{#if model.showTransitioningMessage}}
      <div {{bind-attr class=":pod-message model.isError:text-danger:text-muted"}}>
        {{model.transitioningMessage}}
      </div>
    {{/if}}
  </div>
  {{#if model.isTransitioning}}
    <div class="progress progress-striped active">
      <div class="progress-bar" role="progressbar" aria-valuemin="0" aria-valuemax="100" {{bind-attr aria-valuenow=model.displayProgress style=model.progressStyle}}>
        <span class="sr-only">{{model.displayProgress}}% Complete</span>
      </div>
    </div>
  {{/if}}
</div>

{{#if model.consumedservices.length}}
  <div class="pod-info clearfix">
    <div class="pod-info-line">
      {{#each item in model.consumedservices itemController="service"}}
        <div class="pod-info-item">{{#link-to "service" item.environmentId item.id}}<i class="ss-layergroup"></i> {{item.displayName}}{{/link-to}}</div>
      {{/each}}
    </div>
  </div>
{{/if}}

<div class="clearfix no-resource-action-hover">
  {{#each item in model.instances itemController="container"}}
    {{container-subpod model=item}}
  {{else}}
    {{#unless showAdd}}
      <div class="text-center text-muted" style="margin: 20px 0">No containers{{#if isInactive}} yet.  <a class="hand" {{action "activate" target=model}}>Start</a>{{/if}}</div>
    {{/unless}}
  {{/each}}
  {{#if showAdd}}
    {{add-subpod action="scaleUp" label="Scale Up"}}
  {{/if}}
</div>
