<button type="button" {{bind-attr class=":btn :btn-link actions.update::hide"}} {{action "edit"}} tooltip="Edit"><i class="fa fa-edit"></i></button>
<button type="button" {{bind-attr class=":btn :btn-link view.isDetail::hide"}} {{action "goToApi"}} tooltip="View in API"><i class="fa fa-external-link"></i></button>
<button type="button" {{bind-attr class=":btn :btn-link actions.execute::hide"}} {{action "console"}} tooltip="Console"><i class="fa fa-terminal"></i></button>
<button type="button" {{bind-attr class=":btn :btn-link actions.restart::hide"}} {{action "restart"}} tooltip="Restart"><i class="fa fa-refresh"></i></button>
<button type="button" {{bind-attr class=":btn :btn-link actions.start::hide"}} {{action "start"}} tooltip="Start"><i class="fa fa-arrow-up"></i></button>
<button type="button" {{bind-attr class=":btn :btn-link actions.stop::hide"}} {{action "stop"}} tooltip="Stop"><i class="fa fa-arrow-down"></i></button>
<button type="button" {{bind-attr class=":btn :btn-link actions.restore::hide"}} {{action "restore"}} tooltip="Restore"><i class="fa fa-ambulance"></i></button>
<button type="button" {{bind-attr class=":btn :btn-link canDelete::hide"}} {{action "promptDelete"}} tooltip="Delete"><i class="fa fa-trash-o"></i></button>
<button type="button" {{bind-attr class=":btn :btn-link actions.purge::hide"}} {{action "purge"}} tooltip="Purge"><i class="fa fa-fire"></i></button>
