<label>
  Environment Variables
  <button class="btn btn-link btn-sm" {{action "addEnvironment" target="view"}}><i class="ss-plus"></i> Add</button>
</label>
{{#if environmentArray.length}}
  <table class="table fixed no-lines no-top-padding tight">
    <tr class="text-muted">
      <th width="45%">Name</th>
      <th>&nbsp;</th>
      <th width="45%">Value</th>
      <th>&nbsp;</th>
    </tr>
    {{#each env in environmentArray}}
      <tr>
        <td>
          {{input class="form-control input-sm environment-name" type="text" value=env.key placeholder="e.g. SECRET"}}
        </td>

        <td class="text-center">
          <p class="form-control-static input-sm">=</p>
        </td>

        <td>
          {{input class="form-control input-sm" type="text" value=env.value placeholder="e.g. kwyjibo"}}
        </td>

        <td class="text-right">
          <button {{action "removeEnvironment" env}} class="btn btn-default btn-sm" type="button" tooltip="Remove this variable" tabindex="-1">
            <i class="ss-delete"></i>
          </button>
        </td>
      </tr>
    {{/each}}
  </table>
{{else}}
  <div class="text-muted text-italic">
    None
  </div>
{{/if}}
