<div class="form-group">
  <div class="radio">
    <label class="form-control-static">{{radio-button selection=isRequestedHost value=true}}
      {{#if isService}}
        Run <b>all</b> containers on a specific host
      {{else}}
        Run on a specific host
      {{/if}}</label>
      {{#if isRequestedHost}}:
        {{view "select"
          class="form-control"
          content=hostChoices
          value=instance.requestedHostId
          optionValuePath="content.id"
          optionLabelPath="content.name"
          disabled=(not isRequestedHost)
          style="display: inline-block; width: auto;"
        }}
      {{/if}}
  </div>

  <div class="radio">
    <label>{{radio-button selection=isRequestedHost value=false}}
      {{#if isService}}
        Automatically pick hosts for each container matching scheduling rules :
      {{else}}
        Automatically pick a host matching scheduling rules :
      {{/if}}
    </label>
  </div>

  {{#unless isRequestedHost}}
    {{partial "container/scheduling-rules"}}
  {{/unless}}
</div>
