<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label for="userImageUuid" class="form-control-static">Select Image</label>
  </div>
  <div class="col-sm-12 col-md-8">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="border-right: 0;"><span class="caret"></span> {{displayPrefix}}</button>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation" class="dropdown-header">
            Select A Registry:
          </li>
          <li {{action "chooseRegistry" null}}><a><span class="text-muted">DockerHub &ndash; </span> docker:</a></li>
          {{#if registryChoices}}
            <li class="divider"></li>
            {{#each choice in registryChoices itemController="registry"}}
              <li {{action "chooseRegistry" choice}} {{bind-attr class="choice.active:active"}}>
                <a><span class="text-muted">{{choice.displayName}} &ndash; </span> {{choice.serverAddress}}:</a>
              </li>
            {{/each}}
          {{/if}}
        </ul>
      </div>
      {{input id="userImageUuid" disabled=isRancher type="text" class="form-control" value=userImageUuid placeholder="e.g. stackbrew/ubuntu:14.04"}}
    </div>
  </div>
</div>

{{#if showCredentialChoice}}
  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label for="registryCredentialId" class="form-control-static">Credential</label>
    </div>
    <div class="col-sm-12 col-md-8">
      <div>
        {{registry-credential-select
          class="form-control"
          id="registryCredentialId"
          content=credentialChoices
          optionLabelPath="content.publicValue"
          optionValuePath="content.id"
          value=registryCredentialId
        }}
      </div>
    </div>
  </div>
{{else}}
  {{#if showCredential}}
    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Credential</label>
      </div>
      <div class="col-sm-12 col-md-8">
        <div class="form-control-static text-muted">{{credentialChoices.firstObject.email}} &ndash; {{credentialChoices.firstObject.publicValue}}</div>
      </div>
    </div>
  {{/if}}
{{/if}}
