{{#advanced-section advanced=advanced}}
  <div class="box">
    {{#if (eq level "rule")}}
      <div class="row">
        <label class="acc-label">{{t 'alertPage.newOrEdit.inherited.label'}}</label>
        <div class="radio">
          <label>
            {{radio-button selection=model.inherited value=true}}
            {{t 'alertPage.newOrEdit.inherited.enabled'}}
          </label>
        </div>
        <div class="radio">
          <label>
            {{radio-button selection=model.inherited value=false}}
            {{t 'generic.disabled'}}
          </label>
        </div>
      </div>
    {{/if}}
    {{alert/form-time-trigger
      model=model
    }}
  </div>
{{/advanced-section}}