<form>
  <div class="over-hr mb-20 mt-20">
    <span>{{t 'nodeDriver.exoscale.accountSection'}}</span>
  </div>

  <div class="row {{if (eq step 1) 'inline-form'}}">
    <div class="col span-2 col-inline">
      <label>{{t 'nodeDriver.exoscale.apiKey.label'}}</label>
    </div>
    <div class="col span-10">
      {{#if (eq step 1)}}
        {{input type="text" name="username" classNames="form-control" placeholder=(t 'nodeDriver.exoscale.apiKey.placeholder') value=config.exoscaleApiKey}}
      {{else}}
        <div>{{config.exoscaleApiKey}}</div>
      {{/if}}
    </div>
  </div>
  <div class="row {{if (eq step 1) 'inline-form'}}">
    <div class="col span-2 col-inline">
      <label>{{t 'nodeDriver.exoscale.secretKey.label'}}</label>
    </div>
    <div class="col span-10">
      {{#if (eq step 1)}}
        {{input type="password" name="password" classNames="form-control" placeholder=(t 'nodeDriver.exoscale.secretKey.placeholder') value=config.exoscaleApiSecretKey}}
      {{else}}
        <div class="text-muted text-italic">{{t 'nodeDriver.exoscale.secretKey.provided'}}</div>
      {{/if}}
      {{#if (eq step 1)}}
        <p class="text-info">{{t 'nodeDriver.exoscale.accountHelp'}}</p>
      {{/if}}
    </div>
  </div>

  {{#if (eq step 1)}}
    {{top-errors errors=errors}}

    <div class="footer-actions">
      <button {{action "exoscaleLogin"}} name="submit" class="btn bg-primary">{{t 'nodeDriver.exoscale.loginAction'}}</button>
      <button {{action "cancel"}} class="btn bg-transparent">{{t 'generic.cancel'}}</button>
    </div>
  {{/if}}
</form>

<section class="horizontal-form pt-0 {{unless (eq step 2) 'hide'}}">
  <div class="text-center">
    <i class="icon icon-spinner icon-spin"></i> {{t 'nodeDriver.exoscale.loadingSecurity'}}
  </div>
</section>

<section class="horizontal-form pt-0 {{unless (gte step 3) 'hide'}}">
  <div class="over-hr mt-20 mb-20">
    <span>{{t 'nodeDriver.exoscale.securityGroupSection'}}</span>
  </div>

  <div class="row {{if (eq step 3) 'inline-form'}}">
    <div class="col span-2 col-inline">
      <label>{{t 'nodeDriver.exoscale.securityGroup.label'}}</label>
    </div>
    <div class="col span-10">
      {{#if (eq step 3)}}
        <div class="radio"><label>
          {{radio-button selection=whichSecurityGroup value="default"}}
          {{#if defaultSecurityGroup}}
            {{t 'nodeDriver.exoscale.securityGroup.defaultExisting' groupName=defaultSecurityGroupName htmlSafe=true}}
          {{else}}
            {{t 'nodeDriver.exoscale.securityGroup.defaultCreate' groupName=defaultSecurityGroupName htmlSafe=true}}
          {{/if}}
        </label></div>

        {{#if (and settings.isRancher (not isCustomSecurityGroup))}}
          <p class="text-info ml-20"><a href="{{settings.docsBase}}/hosts/exoscale/#required-ports-for-rancher-to-work" target="_blank">{{t 'nodeDriver.exoscale.portHelp.link'}}</a> {{t 'nodeDriver.exoscale.portHelp.text'}}</p>
        {{/if}}

        <div class="radio"><label>{{radio-button selection=whichSecurityGroup value="custom"}} {{t 'nodeDriver.exoscale.securityGroup.custom'}}</label></div>
        {{#if isCustomSecurityGroup}}
          <select class="form-control" onchange={{action (mut selectedSecurityGroup) value="target.value"}}>
            {{#each allSecurityGroups as |choice|}}
              <option value={{choice.name}} selected={{eq selectedSecurityGroup choice.name}}>{{choice.name}}</option>
            {{/each}}
          </select>

          <p style="m-0 mt-10">{{t 'nodeDriver.exoscale.needs.label' appName=settings.appName}}</p>
          <ul>
            <li>{{t 'nodeDriver.exoscale.needs.item1' appName=settings.appName htmlSafe=true}}</li>
            <li>{{t 'nodeDriver.exoscale.needs.item2' appName=settings.appName htmlSafe=true}}</li>
            <li>{{t 'nodeDriver.exoscale.needs.item3' appName=settings.appName htmlSafe=true}}</li>
          </ul>
        {{/if}}
      {{else}}
        <div>
          {{config.securityGroup}}
        </div>
      {{/if}}
    </div>
  </div>

  {{#if (eq step 3)}}
    {{top-errors errors=errors}}

    <div class="footer-actions">
      <button {{action "selectSecurityGroup"}} class="btn bg-primary">{{t 'nodeDriver.exoscale.selectSecurityGroupAction'}}</button>
      <button {{action "cancel"}} class="btn bg-transparent">Cancel</button>
    </div>
  {{/if}}
</section>

<section class="horizontal-form {{unless (eq step 4) 'hide'}}" style="padding-top: 0">
  <div class="text-center">
    <i class="icon icon-spinner icon-spin"></i>
    {{#if defaultSecurityGroup}}
      {{t 'nodeDriver.exoscale.securityGroup.updating'}}
    {{else}}
      {{t 'nodeDriver.exoscale.securityGroup.creating'}}
    {{/if}}
  </div>
</section>

<section class="horizontal-form pt-0 {{unless (eq step 5) 'hide'}}">
  <div class="text-center">
    <i class="icon icon-spinner icon-spin"></i> {{t 'nodeDriver.exoscale.loadingInstance'}}
  </div>
</section>

<section class="horizontal-form pt-0 {{unless (gte step 6) 'hide'}}">
  <div class="over-hr mb-20"><span>{{driverOptionsTitle}}</span></div>

  <div class="row inline-form">
    <div class="col span-2 col-inline">
      <label>{{t 'nodeDriver.exoscale.instanceProfile.label'}}</label>
    </div>
    <div class="col span-4">
      <select class="form-control" onchange={{action (mut config.instanceProfile) value="target.value"}}>
        {{#each allInstanceProfiles as |choice|}}
          <option value={{choice.name}} selected={{eq config.instanceProfile choice.name}}>{{choice.displaytext}}</option>
        {{/each}}
      </select>
    </div>
    <div class="col span-2 col-inline">
      <label>{{t 'nodeDriver.exoscale.diskSize.label'}}</label>
    </div>
    <div class="col span-4">
      <select class="form-control" onchange={{action (mut config.diskSize) value="target.value"}}>
        {{#each allDiskSizes as |choice|}}
          <option value={{choice}} selected={{eq config.diskSize choice}}>{{choice}}</option>
        {{/each}}
      </select>
    </div>
  </div>

  <div class="row inline-form">
    <div class="col span-2 col-inline">
      <label>{{t 'nodeDriver.exoscale.sshUser.label'}}</label>
    </div>
    <div class="col span-4">
      {{input type="text" classNames="form-control" placeholder=(t 'nodeDriver.exoscale.sshUser.placeholder') value=config.sshUser}}
    </div>
  </div>

  <div class="over-hr"><span>{{templateOptionsTitle}}</span></div>

  {{form-name-description
    model=model
    nameRequired=true
  }}

  {{#accordion-list showExpandAll=false as | al expandFn |}}
    {{form-user-labels
      initialLabels=labelResource.labels
      setLabels=(action 'setLabels')
      expandAll=expandAll
      expand=(action expandFn)
    }}

    {{form-engine-opts
      machine=model
      showEngineUrl=showEngineUrl
    }}
  {{/accordion-list}}

  {{top-errors errors=errors}}
  {{save-cancel save="save" cancel="cancel"}}
</section>
