<section class="header has-tabs clearfix">
{{!--   <h1>{{t 'apiPage.account.header'}}</h1>
 --}}
  <ul class="tab-nav">
    <li><a>{{t 'apiPage.account.header'}}</a></li>
    <li><a>{{t 'apiPage.header'}}</a></li>
  </ul>
</section>
<!--end tabs-->

<section class="header clearfix">
  <h1>{{t 'apiPage.account.header'}}</h1>

  <div class="right-buttons">
    <button class="btn btn-sm bg-primary" {{action "newApikey" "account"}}>{{t 'apiPage.account.buttonText'}}</button>
  </div>
</section>

<section>
  <div class="row">
    <div class="col span-7">
      {{t 'apiPage.account.content.paragraph1'}} {{#if access.identity.name}}(<code>{{access.identity.displayName}}</code>){{/if}} {{t 'apiPage.account.content.paragraph2'}}
      </div>
    <code class="col span-5 input-group p-0">
      <div class="input-group-addon p-5 bg-code">{{t 'apiPage.currentEndpoint'}}</div>
      <div class="form-control p-10"><a href="{{endpoint.auth.account.current}}" target="_blank">{{endpoint.display.account.current}}</a></div>
      <div class="input-group-addon">{{copy-to-clipboard clipboardText=endpoint.auth.account.current size="sm"}}</div>
    </code>
    </div>

  {{#sortable-table
      classNames="grid fixed mt-10 sortable-table"
      bulkActions=false
      paging=false
      search=false
      sortBy=sortBy
      headers=headers
      body=model.account
      fullRows=true
      as |sortable kind key|
  }}
    {{#if (eq kind "row")}}
      {{apikey-row model=key}}
    {{else if (eq kind "norows")}}
      <tr>
        <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'apiPage.account.table.noData'}}</td>
      </tr>
    {{/if}}
  {{/sortable-table}}
</section>

<section class="header clearfix pt-40">
  <h1>{{t 'apiPage.header'}}</h1>

  <div class="right-buttons">
    <button class="btn btn-sm bg-primary" {{action "newApikey" "environment"}}>{{t 'apiPage.actionButton'}}</button>
  </div>
</section>

<section>
  <div class="row">
    <div class="col span-6">
      {{t 'apiPage.content'
        displayName=project.displayName
        htmlSafe=true
      }}
    </div>
    <code class="col span-6 input-group p-0">
      <div class="input-group-addon p-5 bg-code">{{t 'apiPage.currentEndpoint'}}</div>
      <div class="form-control p-10"><a href="{{endpoint.auth.environment.current}}" target="_blank">{{endpoint.display.environment.current}}</a></div>
      <div class="input-group-addon">{{copy-to-clipboard clipboardText=endpoint.auth.environment.current size="sm"}}</div>
    </code>
  </div>

  <!--
  <p>
    <label>{{t 'apiPage.legacyEndpoint'}}</label>
    <code><a href="{{endpoint.auth.environment.legacy}}" target="_blank">{{endpoint.display.environment.legacy}}</a></code>
    {{copy-to-clipboard clipboardText=endpoint.auth.environment.legacy size="sm"}}
  </p>
  -->

  {{#sortable-table
      classNames="grid fixed mt-10 sortable-table"
      bulkActions=false
      paging=false
      search=false
      sortBy=sortBy
      headers=headers
      body=model.environment
      fullRows=true
      as |sortable kind key|
  }}
    {{#if (eq kind "row")}}
        {{apikey-row model=key}}
    {{else if (eq kind "norows")}}
      <tr>
        <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'apiPage.table.noData'}}</td>
      </tr>
    {{/if}}
  {{/sortable-table}}
</section>
