<div class="row">
  <div class="col span-4">
    <div class="inline-form">
      <label class="acc-label pb-5">
        {{t "authPage.googleoauth.notAuthenticated.form.adminEmail.labelText"}}
      </label>
      <div>
        {{authConfig.adminEmail}}
      </div>
    </div>
  </div>
  <div class="col span-4">
    <div class="inline-form">
      <label class="acc-label pb-5">
        {{t "authPage.googleoauth.notAuthenticated.form.hostname.labelText"}}
      </label>
      <div>
        {{authConfig.hostname}}
      </div>
    </div>
  </div>
  <div class="col span-4">
    <div class="inline-form">
      <label class="acc-label pb-5">
        {{t "authPage.googleoauth.notAuthenticated.form.nestedGroupMembershipEnabled.labelText"}}
      </label>
      <div>
        {{#if authConfig.nestedGroupMembershipEnabled}}
          {{t "generic.enabled"}}
        {{else}}
          {{t "generic.disabled"}}
        {{/if}}
      </div>
    </div>
  </div>
</div>