<section class="header">
  <h3>
    {{resource-actions-menu model=this choices=availableActions classNames="pull-right"}}
    <div class="state {{stateColor}}">
      <i class="{{stateIcon}}"></i> {{displayState}}
    </div>
    <span class="right-divider">{{#link-to "projects"}}Environments:{{/link-to}} {{displayName}}</span>
  </h3>
  {{partial "description"}}
</section>

<section class="well">
  <label>Members</label>
  <table class="grid fixed" style="margin-bottom: 0;">
    <thead>
      <tr>
        <th>Name</th>
        <th>Type</th>
        <th>Role</th>
      </tr>
    </thead>
    <tbody>
      {{#each projectMembers itemController="projectmember" as |member|}}
        <tr>
          <td>
            {{#if member.isRancher}}
              {{#if member.isMyRancher}}
                My Rancher Account
              {{else}}
                Rancher Account: {{member.name}} ({{member.externalId}})
              {{/if}}
            {{else}}
              {{github-block type=member.githubType login=member.externalId fallback=member.name}}
            {{/if}}
          </td>
          <td>{{member.displayType}}</td>
          <td>
            {{uc-first member.role}}
          </td>
        </tr>
      {{else}}
        <tr>
          <td colspan="3" class="text-center text-muted">This project has no members.</td>
        </tr>
      {{/each}}
    </tbody>
  </table>
</section>
