{{#authorize-user}}
  <h1>
    {{t 'loginPage.greeting' appName=settings.appName htmlSafe=true}}
    <div class="logo"></div>
  </h1>
  <span style="position:absolute; color:white;">{{access.provider}}</span><!---shhh (^_^) [o_o] (^.^)  (".") ($.$)-->
  <section class="pb-0">
    {{language-dropdown login=true class='mt-10'}}
    <br/>
    {{#unless promptPasswordReset}}
      {{#if isGithub}}
        <p>{{t 'loginPage.githubMessage' appName=settings.appName}}</p>
        <br/>
      {{/if}}

      {{#if isShibboleth}}
        <p>{{t 'loginPage.shibbolethMessage' appName=settings.appName}}</p>
        <br/>
      {{/if}}

      {{#if infoMsg}}
        <div class="banner p-10 {{if errorMsg 'bg-error' 'bg-warning'}}" role="alert">{{infoMsg}}</div>
      {{/if}}

      {{#if (or isLocal isActiveDirectory isOpenLdap isAzureAd)}}
        {{login-user-pass action="authenticate" waiting=waiting}}
      {{/if}}

      {{#if isGithub}}
        {{login-github action="started" waiting=waiting}}
      {{/if}}
      {{#if isShibboleth}}
        {{login-shibboleth action="started" waiting=waiting}}
      {{/if}}
    {{/unless}}

    {{#if isCaas}}
      {{caas-login promptReset=(mut promptPasswordReset)}}
    {{/if}}
  </section>
{{/authorize-user}}
