<p>
  {{t "hostSettings.subtext" appName=settings.appName}}
</p>

<div class="mt-15">
  <label style="width: 200px;">
    {{radio-button
      selection=customRadio
      value="no"
    }}&nbsp;{{t "hostSettings.hostUrl.local"}}&nbsp;&nbsp;
  </label>
  <code class="pl-10 pr-10">
    {{thisPage}}
  </code>
</div>

<div class="mt-10">
  <label style="width: 200px;">
    {{radio-button
      selection=customRadio
      value="yes"
    }}&nbsp;{{t "hostSettings.hostUrl.new.labelText"}}&nbsp;&nbsp;
  </label>
  {{input
    type="text"
    class="form-control"
    value=customValue
    placeholder=(t "hostSettings.hostUrl.new.placeholder")
    safeStyle="width: calc(100% - 270px); display: inline-block;  min-width: 300px;"
  }}
  <p>
    {{t "hostSettings.helpText.static1" htmlSafe=true}}
    {{#if settings.isRancher}}
      {{t "hostSettings.helpText.isRancher"
        docsBase=settings.docsBase
        htmlSafe=true
      }}
    {{else}}
      {{t "hostSettings.helpText.sslTerm"}}
    {{/if}}
    {{t "hostSettings.helpText.static2"
      appName=settings.appName
      htmlSafe=true
    }}
  </p>
</div>

{{#if looksPrivate}}
  <div class="banner bg-info mt-30">
    <div class="banner-icon"><i class="icon icon-info"></i></div>
    <div class="banner-message">
      <p>
        {{t
          "hostSettings.notPublic.alert"
          activeValue=activeValue
          appName=settings.appName
          htmlSafe=true
        }}
      </p>
    </div>
  </div>
{{/if}}
{{#if badTld}}
  <div class="banner bg-error mt-30">
    <div class="banner-icon"><i class="icon icon-info"></i></div>
    <div class="banner-message">
      <p>
        {{t
          "hostSettings.badTld.alert"
          activeValue=activeValue
          appName=settings.appName
          htmlSafe=true
        }}
      </p>
    </div>
  </div>
{{/if}}

{{top-errors errors=errors}}
{{save-cancel
  cancelDisabled=true
  editing=true
  save=(action "save")
}}
