<section class="grid-header">
  <div class="row">
    <div class="col-sm-6">
      <h3>All Containers ({{model.length}})</h3>
    </div>
    <div class="col-sm-6 text-right">
      <button {{action "newContainer"}} class="btn btn-sm btn-primary"><i class="ss-plus"></i> Add Container</button>
    </div>
  </div>
</section>
<section class="instances">
  <table class="grid fixed" style="margin-bottom: 0;">
    <thead>
      <tr>
        <th width="120">State</th>
        <th>Name</th>
        <th>Host</th>
        <th>IP Address</th>
        <th>Created</th>
        <th class="actions" width="50">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each container in model itemController="container"}}
        <tr>
          <td>
            <span {{bind-attr class=":badge :state container.stateBackground"}}>
              {{container.displayState}}
            </span>
          </td>
          <td>
            {{#link-to "container" container.id}}{{container.displayName}}{{/link-to}}
          </td>
          <td>
            {{#with container.primaryHost as host controller="host"}}
              {{#link-to "host" host.id}}{{host.displayName}}{{/link-to}}
            {{/with}}
          </td>
          <td>
            {{container.displayIp}}
          </td>
          <td>
            <div class="text-muted">{{date-calendar container.created}}</div>
          </td>
          <td class="actions">
            {{resource-actions-menu model=container choices=container.availableActions}}
          </td>
        </tr>
      {{else}}
        <tr><td colspan="5" class="text-center text-muted">You do not have any containers yet.</td></tr>
      {{/each}}
    </tbody>
  </table>
</section>

