<section class="header">
  <h1>{{t 'containersPage.index.header'}}</h1>

  {{#link-to "containers.new" classNames="btn btn-sm btn-primary"}}{{t 'containersPage.index.linkTo'}}{{/link-to}}

  <div class="btn-group pull-right r-mr10 r-mt5">
    <label style="font-weight: normal;">{{input type="checkbox" checked=showSystem}} {{t 'hostsPage.index.showSystem'}}</label>
  </div>
</section>

<section class="well instances">
  <table class="grid fixed" style="margin-bottom: 0;">
    <thead>
      <tr>
        {{sortable-th sortable=this action="changeSort" name="state" label='containersPage.index.table.header.state' width="125"}}
        {{sortable-th sortable=this action="changeSort" name="name" label='containersPage.index.table.header.name'}}
        {{sortable-th sortable=this action="changeSort" name="ip" width="110" label='containersPage.index.table.header.ip'}}
        {{sortable-th sortable=this action="changeSort" name="host" label='containersPage.index.table.header.host'}}
        {{sortable-th sortable=this action="changeSort" name="image" label='containersPage.index.table.header.image'}}
        {{sortable-th sortable=this action="changeSort" name="command" label='containersPage.index.table.header.command'}}
        <th class="actions" width="75">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each arranged as |container|}}
        {{container-row model=container showCommand="column" showHost=true}}
      {{else}}
        <tr><td colspan="6" class="text-center text-muted">{{t 'containersPage.index.table.body.noData'}}</td></tr>
      {{/each}}
    </tbody>
  </table>
</section>

