{{#containers-header tags=tags}}
  {{#unless simpleMode}}
    <div class="btn-group p-0 mr-10">
      {{#link-to "containers.index" projects.current.id (query-params mode="list") classNames="btn btn-sm bg-default" tooltip=(t 'nav.containers.groupNone')}}<i class="icon icon-list"></i>{{/link-to}}
      {{#link-to "containers.index" projects.current.id (query-params mode="grouped") classNames="btn btn-sm bg-default" tooltip=(t 'nav.containers.groupStack')}}<i class="icon icon-list-nested"></i>{{/link-to}}
    </div>
  {{/unless}}

  {{#link-to "new-stack" classNames="btn btn-sm bg-default mr-10"}}{{t 'nav.containers.importCompose'}}{{/link-to}}
  {{#link-to "containers.new" classNames="btn btn-sm bg-primary"}}{{t 'nav.containers.addContainer'}}{{/link-to}}
{{/containers-header}}

<section class="instances">
  {{#if showWelcome}}
    <div class="row">
      <div class="col {{if showOrchestration 'span-6' 'span-6 offset-3'}} text-center pt-40 pb-40">
        <img style="width: 75%;" src="{{app.baseAssets}}assets/images/resources/container.svg"/>
        <h1 class="text-center text-bold">{{t 'containersPage.welcome.container1'}}</h1>
        <h2 class="text-center">{{t 'containersPage.welcome.container2'}}</h2>
        <a class="btn bg-link icon-btn mt-50" href="{{href-to 'containers.new'}}">
          <span class="darken"><i class="icon icon-plus text-small"></i></span>
          <span>{{t 'containersPage.welcome.containerLink'}}</span>
        </a>
      </div>
      {{#if showOrchestration}}
        <div class="col span-6 text-center pt-40 pb-40">
          <img style="width: 75%;" src="{{app.baseAssets}}assets/images/resources/orchestration.svg"/>
          <h1 class="text-center text-bold">{{t 'containersPage.welcome.orchestrator1'}}</h1>
          <h2 class="text-center">{{t 'containersPage.welcome.orchestrator2'}}</h2>
          <div class="row mt-20">
            <div class="col span-4 text-center">
              <img src="{{app.baseAssets}}assets/images/hexagon-kubernetes.svg" height="100">
              <br/>
              <a class="btn bg-link icon-btn mt-10" href="{{href-to 'catalog-tab.launch' 'library:infra*k8s'}}">
                <span class="darken"><i class="icon icon-plus text-small"></i></span>
                <span>{{t 'containersPage.welcome.kubernetesLink'}}</span>
              </a>
            </div>
            <div class="col span-4 text-center">
              <img src="{{app.baseAssets}}assets/images/mesos-logo.svg" height="100">
              <br/>
              <a class="btn bg-link icon-btn mt-10" href="{{href-to 'catalog-tab.launch' 'library:infra*mesos'}}">
                <span class="darken"><i class="icon icon-plus text-small"></i></span>
                <span>{{t 'containersPage.welcome.mesosLink'}}</span>
              </a>
            </div>
            <div class="col span-4 text-center">
              <img src="{{app.baseAssets}}assets/images/hexagon-swarm.svg" height="100">
              <a class="btn bg-link icon-btn mt-10" href="{{href-to 'catalog-tab.launch' 'library:infra*swarm'}}">
                <span class="darken"><i class="icon icon-plus text-small"></i></span>
                <span>{{t 'containersPage.welcome.swarmLink'}}</span>
              </a>
            </div>
          </div>
        </div>
      {{/if}}
    </div>
  {{else}}
    {{container-table
      body=filtered
      sortBy=sortBy
      bulkActions=true
      search=true
      paging=true
      showHost=true
      showInstanceState=false
      groupByKey=groupBy
      groupByRef="stack"
    }}
  {{/if}}
</section>
