{{#containers-header tags=tags}}
  {{#unless simpleMode}}
    <div class="btn-group p-0 mr-10">
      {{#link-to "containers.index" projects.current.id (query-params mode="list") classNames="btn btn-sm bg-default" tooltip=(t 'nav.containers.groupNone')}}<i class="icon icon-list"></i>{{/link-to}}
      {{#link-to "containers.index" projects.current.id (query-params mode="grouped") classNames="btn btn-sm bg-default" tooltip=(t 'nav.containers.groupStack')}}<i class="icon icon-list-nested"></i>{{/link-to}}
    </div>
  {{/unless}}

  {{#link-to "new-stack" classNames="btn btn-sm bg-default mr-10"}}{{t 'nav.containers.importCompose'}}{{/link-to}}
  {{#link-to "containers.new" projects.current.id class="btn btn-sm bg-primary"}}{{t 'nav.containers.addScalingGroup'}}{{/link-to}}
  {{#link-to "containers.new-legacy" projects.current.id class="btn btn-sm bg-primary"}}(Add Container){{/link-to}}
{{/containers-header}}

<section class="instances">
  {{#if showWelcome}}
    <div class="row">
      <div class="col {{if showOrchestration 'span-6' 'span-6 offset-3'}} text-center pt-40 pb-40">
        <img style="width: 75%;" src="{{app.baseAssets}}assets/images/resources/container.svg"/>
        <h1 class="text-center text-bold mt-20">{{t 'containersPage.welcome.container'}}</h1>
        <a class="btn bg-link icon-btn mt-20" href="{{href-to 'containers.new'}}">
          <span class="darken"><i class="icon icon-plus text-small"></i></span>
          <span>{{t 'containersPage.welcome.containerLink'}}</span>
        </a>
      </div>
      {{#if showOrchestration}}
        <div class="col span-6 text-center pt-40 pb-40">
          <img style="width: 75%;" src="{{app.baseAssets}}assets/images/resources/orchestration.svg"/>
          <h1 class="text-center text-bold mt-20">{{t 'containersPage.welcome.orchestrator'}}</h1>
          <a class="btn bg-link icon-btn mt-20" href="{{href-to 'catalog-tab.launch' 'library:infra*k8s'}}">
            <span class="darken"><i class="icon icon-plus text-small"></i></span>
            <span>{{t 'containersPage.welcome.kubernetesLink'}}</span>
          </a>
        </div>
      {{/if}}
    </div>
  {{else}}
    {{#sortable-table
      tableClassNames="double-rows"
      classNames="grid sortable-table"
      body=rows
      searchText=searchText
      sortBy=sortBy
      bulkActions=true
      subRows=true
      fullRows=true
      groupByKey=groupBy
      groupByRef="stack"
      pagingLabel="pagination.containerScalingGroup"
      subHeaders=containerHeaders
      subSearchField="instances"
      headers=headers as |sortable kind row dt|}}
      {{#if (eq kind "row")}}
        {{#if (eq row.baseType "instance")}}
          {{container-row
            model=row
            dt=dt
            showHost=true
            expandPlaceholder=true
            scalePlaceholder=true
            fullColspan=sortable.fullColspan
            }}
        {{else}}
          {{service-row
            model=row
            toggle=(action "toggleExpand" row.id)
            expanded=(array-includes expandedInstances row.id)
            searchText=searchText
            subMatches=sortable.subMatches
            fullColspan=sortable.fullColspan
            dt=dt
          }}
        {{/if}}
      {{else if (eq kind "group")}}
        <tr class="group-row">
          {{#if row.ref}}
            <td colspan={{sub sortable.fullColspan 3}}>
              {{stack-row model=row.ref}}
            </td>
            <td>
              {{upgrade-btn classNames="btn-sm" model=row.ref}}
            </td>
            <td data-title="{{dt.instanceState}}" class="progress-td">
              <div class="mt-10">
                {{progress-bar-multi
                  labelKey="state"
                  valueKey="count"
                  values=row.ref.serviceStates.byColor
                  tooltipValues=row.ref.serviceStates.byName
                }}
              </div>
            </td>
            <td data-title="{{dt.actions}}" class="actions">
              {{action-menu model=row.ref}}
            </td>
          {{else}}
            <td colspan={{sortable.fullColspan}}>{{t 'hostPod.groupedInstances.standalone'}}</td>
          {{/if}}
        </tr>
      {{else if (eq kind "nomatch")}}
        <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'containersPage.table.noMatch'}}</td></tr>
      {{/if}}
    {{/sortable-table}}
  {{/if}}
</section>
