<section class="header clearfix">
  <h1>{{t 'containersPage.index.header'}}</h1>


  <div class="btn-group pull-right mr-10 mt-5">
    <label style="font-weight: normal;">{{input type="checkbox" checked=showSystem}} {{t 'hostsPage.index.showSystem'}}</label>
    {{#link-to "containers.new" classNames="btn btn-sm bg-primary"}}{{t 'containersPage.index.linkTo'}}{{/link-to}}
  </div>
</section>

<section class="instances r-pt5 r-pb5">
  {{container-table
    body=filtered
    sortBy=sortBy
    bulkActions=true
    search=true
    paging=true
    showHost=true
  }}
</section>
