<section class="header clearfix">
  <h1>{{t 'containersPage.index.header'}}</h1>

  {{#link-to "containers.new" classNames="btn btn-sm bg-primary"}}{{t 'containersPage.index.linkTo'}}{{/link-to}}

  <div class="btn-group pull-right mr-10 mt-5">
    <label style="font-weight: normal;">{{input type="checkbox" checked=showSystem}} {{t 'hostsPage.index.showSystem'}}</label>
  </div>
</section>

<section class="well instances r-pt5 r-pb5">
  {{#sortable-table
    classNames="lacsso grid sortable-table"
    sorts=sorts
    body=filtered
    sortBy=sortBy
    bulkActions=true
    bulkActionCallee=(action 'parseBulkActions')
    bulkActionsList=bulkActionsList
    perPage=prefs.tablePerPage
    headers=headers as |container|}}
    {{#if container}}
      {{container-row model=container showCommand="column" showHost=true showActions=true showPrimaryActions=false}}
    {{else}}
      <tr><td colspan="8" class="text-center text-muted">{{t 'containersPage.index.table.body.noData'}}</td></tr>
    {{/if}}
  {{/sortable-table}}
</section>
