<form class="{{if getTemplate.isRunning 'hide'}}">
  <div class="btn-group  pull-right">
    <button class="btn btn-sm bg-primary" {{action 'showPaste'}}>{{t 'generic.advanced'}} <span class="icon icon-copy"></span></button>
    <button class="btn btn-sm bg-primary" {{action 'upload'}}>{{t 'uploadFile.label'}} <span class="icon icon-upload"></span></button>
  </div>
  <div>
    {{#if showHeader}}
      <h4 class="mb-0">{{t 'inputAnswers.config'}}</h4>
      <span class="protip">{{t 'inputAnswers.protip'}}</span>
    {{/if}}
    &nbsp;
  </div>
  <div class="mt-20">
    {{#if pasteOrUpload}}
      {{textarea-autogrow
          value=pastedAnswers
          classNames="form-control text-small"
          placeholder='tbd'
          minHeight='0'
          maxHeight='200'
      }}
      <span class="pull-right btn btn-xs bg-transparent mb-10" {{action 'cancel'}}>Cancel</span>
    {{else}}
     {{#each answerSections as |section index|}}
        {{#unless (eq index 0)}}
          <hr>
        {{/unless}}
        {{#each section as |group|}}
          <div class="row">
            {{#each group as |question|}}
              <div class="col span-6">
                <label class="acc-label">{{or question.label question.variable}}{{#if question.required}}{{field-required}}{{/if}}</label>

                {{#if question.supported}}
                  {{component question.inputComponent field=question value=question.answer}}
                {{else}}
                  {{input type="text" value=question.answer class="form-control"}}
                  <p>{{t 'inputAnswers.unknownType'}} {{question.type}}</p>
                {{/if}}

                <p class="help-block">{{question.description}}</p>
              </div>
            {{/each}}
          </div>
        {{/each}}
     {{else}}
        <span class="text-muted">{{t 'inputAnswers.noConfig'}}</span>
     {{/each}}
    {{/if}}
  </div>
</form>
<input type="file" accept="{{actualAccept}}" class="hide">