<section class="header">
  <h1>{{t 'k8sImport.header'}}</h1>
</section>

{{#if model.apiHostSet}}
  <section class="box">
    {{t 'k8sImport.instructions'
      appName=settings.appName
      docsBase=settings.docsBase
      htmlSafe=true
    }}

    {{#if loading}}
      <div><i class="icon icon-spinner icon-spin"></i> {{t 'k8sImport.generating'}}</div>
    {{else}}
      <div class="copy-pre m-20">
        {{copy-to-clipboard clipboardText=registrationCommand tagName="div" classNames="copy-to-pre"}}
        <pre id="registration-command" style="font-size: 14px;">{{registrationCommand}}</pre>
      </div>
    {{/if}}
  </section>

  {{#if newHosts}}
    <div class="banner bg-success">
      <div class="banner-icon"><span class="icon icon-success"></span></div>
      <div class="banner-message">
        <p>{{t 'machine.driverCustom.detected' count=newHosts}}</p>
      </div>
    </div>
  {{/if}}

  <section>
    <div class="footer-actions">
      <button {{action "cancel"}} class="btn bg-primary">{{t 'generic.closeModal'}}</button>
    </div>
  </section>
{{else}}
  <section>
    <div class="box">
      {{settings/host-registration saved=(action 'hostSet')}}
    </div>
  </section>
{{/if}}
