<div class="content-box col-md-3 col-md-height col-md-full-height">
  <label class="text-muted">Info (<small>{{#link-to 'service' service.environmentId service.id class=''}} View Details {{/link-to}}</small>)</label>
  <div class="content">
    <div class="state">
      {{badge-state model=service}}  {{action-menu model=service size='xs' class="no-wrap pull-right"}}
    </div>

    {{#if defaultCert}}
      <div>
        <label class="text-muted r-mt15">Default Certificate</label>
        <span class="force-wrap">
          {{defaultCert.name}}
        </span>
      </div>
    {{/if}}

    {{#if secondaryCerts.length}}
      <div>
        <label class="text-muted r-mt15">Alternate Certifates</label>
        <ul class="list-unstyled">
          {{#each secondaryCerts as |cert|}}
            <li><span class="force-wrap">{{cert.name}}</span></li>
          {{/each}}
        </ul>
      </div>
    {{/if}}

    <div>
      {{#if service.description}}
        <label class="text-muted r-mt10">Description:</label>
        {{service.description}}
      {{/if}}
    </div>
  </div>
</div>
<div class="content-box col-md-3 col-md-height col-md-full-height">
  <label class="text-muted">Containers ({{containers.length}})</label>
  <div class="content">
    <div class="container-dots clearfix">
      <div style="display:inline-block;">
        {{#each containers as |instance|}}
          {{container-dot model=instance}}
        {{else}}
          <span class="text-muted">No Containers</span>
        {{/each}}
      </div>
      <div class="r-mt10">
        <label class="text-muted">Scale</label>
        {{#if service.canScale}}
          <span class="r-ml20 r-mr20">{{service.scale}}</span>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-default btn-xs" {{action "scaleDown" target=service}} disabled={{eq service.scale 1}}><i class="icon icon-minus"></i></button>
            <button class="btn btn-default btn-xs" {{action "scaleUp" target=service}}><i class="icon icon-plus"></i></button>
          </div>
        {{else}}
          {{if service.isGlobalScale 'Global'}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div class="content-box col-md-3 col-md-height col-md-full-height">
  <label class="text-muted">Ports</label>
  <div class="content" style="overflow:auto;">
    <ul class="list-unstyled">
      {{#each service.endpointsByPort as |endpoint|}}
        {{#each endpoint.ipAddresses as |ip|}}
          <li><a href="{{if endpoint.ssl 'https' 'http'}}://{{ip}}:{{endpoint.port}}">{{ip}}:{{endpoint.port}}</a></li>
        {{/each}}
      {{else}}
        <li class="text-muted">No public host ports</li>
      {{/each}}
    </ul>
  </div>
</div>
<div class="content-box col-md-3 col-md-height col-md-full-height">
  <label class="text-muted">Targets</label>
  <div class="content" style="overflow:auto;">
    <ul class="list-unstyled">
      {{#each targetsArray as |target|~}}
        <li>
          {{~#if (or target.hostname target.srcPort target.path)~}}
            {{target.hostname}}{{if target.srcPort ":"}}{{target.srcPort}}{{target.path}}
            <span class="text-muted"> to </span>
          {{~/if~}}
          {{~#link-to 'service' target.environmentId target.id~}}
            {{~#if (not (eq target.environmentId service.environmentId))~}}{{target.service.displayEnvironment}}/{{~/if~}}
            {{target.value}}
          {{~/link-to~}}
          {{~#if target.dstPort~}}:{{target.dstPort}}{{~/if~}}
        </li>
      {{~/each}}
    </ul>
  </div>
</div>
