<div class="content-box col-md-3 col-md-height col-md-full-height">
  <label class="text-muted">{{t 'lbAddtlInfo.info'}} (<small>{{#link-to 'service' service.stackId service.id class=''}} {{t 'lbAddtlInfo.viewDetails'}} {{/link-to}}</small>)</label>
  <div class="content">
    <div class="state">
      {{badge-state model=service}}  {{action-menu model=service size='xs' class="no-wrap pull-right"}}
    </div>

    {{#if defaultCert}}
      <div>
        <label class="text-muted r-mt15">{{t 'lbAddtlInfo.defaultCertificate'}}</label>
        <span class="force-wrap">
          {{defaultCert.name}}
        </span>
      </div>
    {{/if}}

    {{#if secondaryCerts.length}}
      <div>
        <label class="text-muted r-mt15">{{t 'lbAddtlInfo.alternateCertificate'}}</label>
        <ul class="list-unstyled">
          {{#each secondaryCerts as |cert|}}
            <li><span class="force-wrap">{{cert.name}}</span></li>
          {{/each}}
        </ul>
      </div>
    {{/if}}

    <div>
      {{#if service.description}}
        <label class="text-muted r-mt10">{{t 'lbAddtlInfo.description'}}</label>
        {{service.description}}
      {{/if}}
    </div>
  </div>
</div>
<div class="content-box col-md-3 col-md-height col-md-full-height">
  <label class="text-muted">{{t 'lbAddtlInfo.containers'}} ({{containers.length}})</label>
  <div class="content">
    <div class="container-dots clearfix">
      <div style="display:inline-block;">
        {{#each containers as |instance|}}
          {{container-dot model=instance}}
        {{else}}
          <span class="text-muted">{{t 'lbAddtlInfo.noContainers'}}</span>
        {{/each}}
      </div>
      <div class="r-mt10">
        <label class="text-muted">{{t 'lbAddtlInfo.scale'}}</label>
        {{#if service.canScale}}
          <span class="r-ml20 r-mr20">{{service.scale}}</span>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-default btn-xs" {{action "scaleDown" target=service}} disabled={{eq service.scale 1}}><i class="icon icon-minus"></i></button>
            <button class="btn btn-default btn-xs" {{action "scaleUp" target=service}}><i class="icon icon-plus"></i></button>
          </div>
        {{else}}
          {{if service.isGlobalScale (t 'lbAddtlInfo.global')}}
        {{/if}}
      </div>
    </div>
  </div>
</div>
<div class="content-box col-md-3 col-md-height col-md-full-height">
  <label class="text-muted">{{t 'lbAddtlInfo.ports'}}</label>
  <div class="content" style="overflow:auto;">
    <ul class="list-unstyled">
      {{#each service.endpointsByPort as |endpoint|}}
        {{#each endpoint.ipAddresses as |ip|}}
          <li><a href="{{if endpoint.ssl 'https' 'http'}}://{{ip}}:{{endpoint.port}}" target="_blank">{{ip}}:{{endpoint.port}}</a></li>
        {{/each}}
      {{else}}
        <li class="text-muted">{{t 'lbAddtlInfo.noPorts'}}</li>
      {{/each}}
    </ul>
  </div>
</div>
<div class="content-box col-md-3 col-md-height col-md-full-height">
  <label class="text-muted">{{t 'lbAddtlInfo.targets'}}</label>
  <div class="content" style="overflow:auto;">
    <ul class="list-unstyled">
      {{#each targets as |target|~}}
        <li>
          {{#if target.selector}}
            {{target.selector}}
          {{else}}
            <a href="{{href-to "service" target.service.stackId target.service.id}}">
              {{#if (not-eq service.stackId target.service.stackId)~}}
                {{target.service.displayStack}}/
              {{~/if~}}
              {{~target.service.displayName~}}
            </a>
          {{~/if~}}
          {{~#if target.targetPort~}}:{{target.targetPort}}{{~/if~}}
        </li>
      {{~/each}}
    </ul>
  </div>
</div>
