<form>
<section class="horizontal-form">
  <div class="container-fluid">
    <div class="over-hr mt-20 mb-20">
      <span>{{t 'machine.driverPacket.instanceSection'}}</span>
    </div>
    <div class="row mb-20 box">
      {{form-name-description
          name=model.name
          description=model.description
          nameRequired=true
          namePlaceholder="hostPartial.host.addCommon.new.form.name.placeholder"
          descriptionShown=true
          descriptionExpanded=true
      }}
    </div>

    <div class="over-hr mt-20 mb-20">
      <span>{{t 'machine.driverPacket.accountSection'}}</span>
    </div>

    <div class="row inline-form box">
      <div class="col span-6">
      <label class="pb-5">{{t 'machine.driverPacket.projectId.label'}}{{field-required}}</label>
        {{input type="text" name="username" value=packetConfig.projectId classNames="form-control" placeholder=(t 'machine.driverPacket.projectId.placeholder')}}
      </div>
      <div class="col span-6">
        <label class="pb-5">{{t 'machine.driverPacket.apiKey.label'}}{{field-required}}</label>
        {{input type="password" name="password" value=model.secretValues.packetConfig.apiKey classNames="form-control" placeholder=(t 'machine.driverPacket.apiKey.placeholder')}}
        <p class="text-info">{{t 'machine.driverPacket.apiKeyHelp' htmlSafe=true}}</p>
      </div>
    </div>

    <div class="over-hr mt-20 mb-20">
      <span>{{t 'machine.driverPacket.instanceOptionsSection'}}</span>
    </div>

    <div class="row inline-form box">
      <div class="col span-6">
        <label class="pb-5">{{t 'machine.driverPacket.image.label'}}</label>
        <select class="form-control" onchange={{action (mut packetConfig.os) value="target.value"}}>
          {{#each osChoices as |choice|}}
            <option disabled={{not choice.enabled}} value={{choice.slug}} selected={{eq packetConfig.os choice.slug}}>{{choice.name}}</option>
          {{/each}}
        </select>
      </div>

      <div class="col span-6">
      <label class="pb-5">{{t 'machine.driverPacket.size.label'}}</label>
        <select class="form-control" onchange={{action (mut packetConfig.plan) value="target.value"}}>
          {{#each planChoices as |choice|}}
            <option disabled={{not choice.enabled}} value={{choice.slug}} selected={{eq packetConfig.plan choice.slug}}>{{choice.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

{{!--     <div class="over-hr mt-20 mb-20">
      <span>{{t 'machine.driverPacket.regionSection'}}</span>
    </div> --}}

    <div class="row inline-form box mt-20">
      <div class="col span-2 col-inline">
        <label>{{t 'machine.driverPacket.region.label'}}</label>
      </div>
      <div class="col span-10">
        <select class="form-control" onchange={{action (mut packetConfig.facility) value="target.value"}}>
          {{#each facilityChoices as |choice|}}
            <option value={{choice.code}} selected={{eq packetConfig.facilityCode choice.code}}>{{choice.name}}</option>
          {{/each}}
        </select>
      </div>
    </div>

    {{partial "host/add-options"}}
  </div>

  {{top-errors errors=errors}}
  {{save-cancel save=driverSaveAction cancel="cancel"}}
</section>
</form>
