<section class="horizontal-form container-fluid">
  <h2>{{t 'editHost.title'}}</h2>

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label>{{t 'editHost.hostname.label'}}</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{model.hostname}}
      <p class="help-block">{{t 'editHost.hostname.help'}}</p>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label>{{t 'editHost.customName.label'}}</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{input type="text" value=primaryResource.name classNames="form-control" placeholder=(t 'editHost.customName.placeholder')}}
      <p class="help-block">{{t 'editHost.customName.help'}}</p>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label>{{t 'editHost.description.label'}}</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{textarea value=primaryResource.description classNames="form-control no-resize" rows="5" placeholder=(t 'editHost.description.placeholder')}}
    </div>
  </div>

  {{limit-parameters model=primaryResource}}

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label class="form-control-static">{{t 'editHost.labels.label'}}</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{form-user-labels
         initialLabels=originalModel.labels
         setLabels=(action 'setLabels')
      }}
    </div>
  </div>
</section>

{{top-errors errors=errors}}
{{save-cancel editing=editing save="save" cancel="cancel"}}
