<section class="horizontal-form container-fluid">
  <h2>{{#if editing}}Edit{{else}}Add{{/if}} Host</h2>
  {{top-errors errors=errors}}

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label>Name</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{input type="text" value=primaryResource.name classNames="form-control" placeholder="e.g. myhost; Defaults to the hostname the OS reports."}}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label>Description</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{textarea value=primaryResource.description classNames="form-control no-resize" rows="5" placeholder="e.g. My development host"}}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label class="form-control-static">Labels</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{form-user-labels
         initialLabels=originalModel.labels
         setLabels=(action 'setLabels')
      }}
    </div>
  </div>
</section>

{{partial "save-cancel"}}
