<td data-title="State:" class="state">
  {{badge-state model=model}}
</td>
<td data-title="Name:" class="force-wrap">
  <a href="{{detailBaseUrl}}{{model.id}}" data-transition-link="true">{{model.displayName}}</a>
</td>
<td data-title="IP Address:">
  {{model.displayIp}}
</td>
{{#if showHost}}
  <td data-title="Primary Host:">
    {{#if model.primaryHost}}
      {{#link-to "host" model.primaryHost.id}}{{model.primaryHost.displayName}}{{/link-to}}
    {{else}}
      <span class="text-muted">Unknown</span>
    {{/if}}
  </td>
{{/if}}
<td data-title="Image:" class="clip">
  {{model.displayImage}}
  {{#if (and (eq showCommand "inline") model.command)~}}
    ({{model.command}})
  {{/if}}
</td>
{{#if showStats}}
  <td data-title="Stats:" class="spark-td">
    {{#if model.cpuSpark}}
      {{spark-line data=model.cpuSpark     width=60 height=25 max=cpuMax     prefix="CPU: " formatter="percent" type="cpu"}}
      {{spark-line data=model.memorySpark  width=60 height=25 max=memoryMax  prefix="Memory: " formatter="mib" type="memory"}}
      {{spark-line data=model.networkSpark width=60 height=25 max=networkMax prefix="Network: " formatter="kbps" type="network"}}
      {{spark-line data=model.storageSpark width=60 height=25 max=storageMax prefix="Storage: " formatter="kbps" type="storage"}}
    {{/if}}
  </td>
{{else}}
  {{#if (eq showCommand "column")}}
    <td data-title="Command:" class="clip">
      {{#if model.command}}
        {{model.command}}
      {{else}}
        <span class="text-muted">None</span>
      {{/if}}
    </td>
  {{/if}}
{{/if}}
<td data-title="Actions:" class="actions">
  {{action-menu model=model}}
</td>
