<td data-title="{{t 'generic.state'}}:" class="state">
  {{badge-state model=model}}
</td>
<td data-title="{{t 'generic.name'}}:" class="clip">
  <a href="{{href-to detailRoute model.id}}">{{model.displayName}}</a>
</td>
<td data-title="{{t 'containersPage.table.ipAddress'}}:">
  {{format-ip model.displayIp}}
</td>
{{#if showHost}}
  <td data-title="{{t 'containersPage.table.primaryHost'}}:" class="clip">
    {{#if model.primaryHost}}
      <a href="{{href-to "host" model.primaryHost.id}}">{{model.primaryHost.displayName}}</a>
    {{else}}
      <span class="text-muted">{{t 'containersPage.table.primaryHostUnknown'}}</span>
    {{/if}}
  </td>
{{/if}}
<td data-title="{{t 'containersPage.table.image'}}:" class="clip">
  {{model.displayImage}}
  {{#if (and (eq showCommand "inline") model.command)~}}
    ({{model.command}})
  {{/if}}
</td>
{{#if showStats}}
  <td data-title="{{t 'containersPage.table.stats'}}:" class="spark-td">
    {{#if (and statsAvailable model.cpuSpark)}}
      {{#tooltip-element tagName="span" inlineBlock=false type="tooltip-basic" model=sparkCPUModel tooltipTemplate='tooltip-static' tooltipFor="sparkCPU"}}
        {{spark-line
          data=model.cpuSpark
          width=60 height=25 max=cpuMax
          prefix="containersPage.table.sparkPrefixCpu"
          formatter="percent"
          type="cpu"
          tooltipModel=(mut sparkCPUModel)
        }}
      {{/tooltip-element}}
      {{#tooltip-element tagName="span" inlineBlock=false type="tooltip-basic" model=sparkMemoryModel tooltipTemplate='tooltip-static' tooltipFor="sparkMemory"}}
        {{spark-line
          data=model.memorySpark
          width=60 height=25 max=memoryMax
          prefix="containersPage.table.sparkPrefixMemory"
          formatter="mib"
          type="memory"
          tooltipModel=(mut sparkMemoryModel)
        }}
      {{/tooltip-element}}
      {{#tooltip-element tagName="span" inlineBlock=false type="tooltip-basic" model=sparkNetworkModel tooltipTemplate='tooltip-static' tooltipFor="sparkNetwork"}}
      {{spark-line
        data=model.networkSpark
        width=60 height=25 max=networkMax
        prefix="containersPage.table.sparkPrefixNetwork"
        formatter="kbps"
        type="network"
        tooltipModel=(mut sparkNetworkModel)
      }}
      {{/tooltip-element}}
      {{#tooltip-element tagName="span" inlineBlock=false type="tooltip-basic" model=sparkStorageModel tooltipTemplate='tooltip-static' tooltipFor="sparkStorage"}}
        {{spark-line
          data=model.storageSpark
          width=60 height=25 max=storageMax
          prefix="containersPage.table.sparkPrefixStorage"
          formatter="kbps"
          type="storage"
          tooltipModel=(mut sparkStorageModel)
        }}
      {{/tooltip-element}}
    {{else}}
      <span class="text-muted">{{t 'generic.na'}}</span>
    {{/if}}
  </td>
{{else}}
  {{#if (eq showCommand "column")}}
    <td data-title="{{t 'containersPage.table.command'}}:" class="clip">
      {{#if model.command}}
        {{model.command}}
      {{else}}
        <span class="text-muted">{{t 'containersPage.table.noCommand'}}</span>
      {{/if}}
    </td>
  {{/if}}
{{/if}}
{{#if showActions}}
  <td data-title="{{t 'generic.actions'}}:" class="actions">
    {{action-menu model=model showPrimary=showPrimaryActions}}
  </td>
{{/if}}
