<td data-title="{{t 'generic.state'}}:" class="state">
  {{badge-state model=model}}
</td>
<td data-title="{{t 'generic.name'}}:" class="force-wrap">
  <a href="{{href-to detailRoute model.id}}">{{model.displayName}}</a>
</td>
<td data-title="{{t 'containersPage.table.ipAddress'}}:">
  {{format-ip model.displayIp}}
</td>
{{#if showHost}}
  <td data-title="{{t 'containersPage.table.primaryHost'}}:">
    {{#if model.primaryHost}}
      <a href="{{href-to "host" model.primaryHost.id}}">{{model.primaryHost.displayName}}</a>
    {{else}}
      <span class="text-muted">{{t 'containersPage.table.primaryHostUnknown'}}</span>
    {{/if}}
  </td>
{{/if}}
<td data-title="{{t 'containersPage.table.image'}}:" class="clip">
  {{model.displayImage}}
  {{#if (and (eq showCommand "inline") model.command)~}}
    ({{model.command}})
  {{/if}}
</td>
{{#if showStats}}
  <td data-title="{{t 'containersPage.table.stats'}}:" class="spark-td">
    {{#if (and statsAvailable model.cpuSpark)}}
      {{spark-line
        data=model.cpuSpark
        width=60 height=25 max=cpuMax
        prefix="containersPage.table.sparkPrefixCpu"
        formatter="percent"
        type="cpu"
      }}
      {{spark-line
        data=model.memorySpark
        width=60 height=25 max=memoryMax
        prefix="containersPage.table.sparkPrefixMemory"
        formatter="mib"
        type="memory"
      }}
      {{spark-line
        data=model.networkSpark
        width=60 height=25 max=networkMax
        prefix="containersPage.table.sparkPrefixNetwork"
        formatter="kbps"
        type="network"}}
      {{spark-line
        data=model.storageSpark
        width=60 height=25 max=storageMax
        prefix="containersPage.table.sparkPrefixStorage"
        formatter="kbps"
        type="storage"}}
    {{else}}
      <span class="text-muted">{{t 'generic.na'}}</span>
    {{/if}}
  </td>
{{else}}
  {{#if (eq showCommand "column")}}
    <td data-title="{{t 'containersPage.table.command'}}:" class="clip">
      {{#if model.command}}
        {{model.command}}
      {{else}}
        <span class="text-muted">{{t 'containersPage.table.noCommand'}}</span>
      {{/if}}
    </td>
  {{/if}}
{{/if}}
<td data-title="{{t 'generic.actions'}}:" class="actions">
  {{action-menu model=model}}
</td>
