<tr class="main-row">
  {{#if bulkActions}}
    <td class="row-check">
      {{check-box nodeId=model.id}}
    </td>
  {{/if}}
  <td data-title="{{dt.state}}" class="state">
    {{badge-state model=model}}
  </td>
  <td data-title="{{dt.name}}" class="clip">
    <a href="{{href-to detailRoute model.id}}">{{model.displayName}}</a>
  </td>
  <td data-title="{{dt.image}}" class="clip top-half">
     <small>{{model.displayImage}}</small>
     <p data-title="{{t 'generic.details'}}" class="text-small text-muted m-0">
      {{#if model.displayIp}}
        {{#copy-inline clipboardText=model.displayIp}}{{format-ip model.displayIp}}{{/copy-inline}} /
      {{/if}}
      {{#if (and showHost model.primaryHost)}}
        <a href="{{href-to "host" model.primaryHost.id}}">{{model.primaryHost.displayName}}</a> /
      {{/if}}
      {{t 'generic.createdDate' date=(date-from-now model.created)}}
    </p>
  </td>
  {{#if showActions}}
    <td data-title="{{dt.actions}}" class="actions">
      {{action-menu model=model showPrimary=showPrimaryActions}}
    </td>
  {{/if}}
</tr>

{{#if model.showTransitioningMessage}}
  {{error-sub-row fullColspan=fullColspan model=model}}
{{/if}}
