<tr class="main-row">
  {{#if bulkActions}}
    <td valign="middle" class="row-check" style="padding-top: 2px;">
      {{check-box nodeId=model.id}}
    </td>
  {{/if}}
  {{#if expandPlaceholder}}
    <td valign="middle">
    </td>
  {{/if}}
  <td data-title="{{dt.state}}" class="state" valign="middle">
    {{badge-state model=model}}
  </td>
  <td data-title="{{dt.name}}" class="clip">
    <a href="{{href-to detailRoute model.id}}">{{model.displayName}}</a>
    {{#if model.showTransitioningMessage}}
      <div class="clip text-small {{model.stateColor}}" >{{model.transitioningMessage}}</div>
    {{else if model.displayEndpoints}}
      <div class="clip text-small">
        {{model.displayEndpoints}}
      </div>
    {{/if}}
  </td>
  <td data-title="{{dt.image}}" class="clip top-half">
     <small>{{model.image}}</small>
     <p data-title="{{t 'generic.details'}}" class="text-small text-muted m-0 clip">
      {{#if model.displayIp}}
        {{#copy-inline clipboardText=model.displayIp}}{{format-ip model.displayIp}}{{/copy-inline}} /
      {{/if}}
      {{#if (and showHost model.primaryHost)}}
        <a href="{{href-to "host" model.primaryHost.id}}">{{model.primaryHost.displayName}}</a> /
      {{/if}}
      {{t 'generic.createdDate' date=(date-from-now model.created)}}
    </p>
  </td>
  {{#if scalePlaceholder}}
    <td class="text-muted text-center">
      <small>{{t 'stackRow.standalone'}}</small>
    </td>
  {{/if}}
  {{#if showActions}}
    <td data-title="{{dt.actions}}" class="actions">
      {{action-menu model=model showPrimary=showPrimaryActions}}
    </td>
  {{/if}}
</tr>
