{{#sortable-table
     tableClassNames="bordered"
     paging=true
     pagingLabel="pagination.namespace"
     headers=headers
     descending=descending
     extraSearchFields=extraSearchFields
     bulkActions=true
     body=rows
     sortBy=sortBy
     as |sortable kind obj dt|
}}
  {{#if (eq kind "row")}}
    <tr class="main-row">
      <td class="row-check" valign="middle" style="padding-top: 2px;">
        {{check-box nodeId=obj.id}}
      </td>
      <td>
        {{badge-state model=obj}}
      </td>
      <td>
        {{obj.name}}
        {{#if obj.autoInjectionEnabled}}
          <div class="istio istio-autoinjection"></div>
        {{/if}}
        {{#if obj.description}}
          <p class="text-small text-muted m-0">{{linkify obj.description}}</p>
        {{/if}}
      </td>
      <td>
        {{#if obj.project}}
          <a href="{{href-to "authenticated.project" obj.project.id}}">{{obj.project.displayName}}</a>
          {{#if obj.project.description}}
            <p class="text-small text-muted m-0">{{linkify obj.project.description}}</p>
          {{/if}}
        {{else}}
          <b>None</b>
        {{/if}}
      </td>
      <td class="text-right pr-20">
        {{date-calendar obj.created}}
      </td>
      <td data-title="{{t 'generic.actions'}}:" class="actions">
        {{action-menu model=obj}}
      </td>
    </tr>
  {{else if (eq kind "nomatch")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'namespacesPage.noMatch'}}</td></tr>
  {{else if (eq kind "norows")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'namespacesPage.noData'}}</td></tr>
  {{/if}}
{{/sortable-table}}
