<div class="row">
  <div class="col-xs-6 col-md-2 form-label">
    <label>{{t 'formTargets.title'}}</label>
  </div>
  <div class="col-xs-6 col-md-8">
    <button class="btn-circle-text" {{action "addTargetService"}}><i class="icon icon-plus-circle"/> <span>{{t 'formTargets.addAction'}}</span></button>
  </div>
</div>
<div class="row">
  <div class="">
    {{#if targetsArray.length}}
      <table class="grid no-lines no-top-padding tight" style="margin-bottom: 0;">
        <thead>
          <tr>
            {{#if isAdvanced}}
              <th>{{t 'formTargets.hostname.label'}}</th>
              <th width="90">{{t 'formTargets.srcPort.label'}}</th>
              <th>{{t 'formTargets.path.label'}}</th>
              <th width="30">&nbsp;</th>
            {{/if}}
            {{#if isBalancer}}
              <th>{{t 'formTargets.value.label'}}*</th>
            {{else}}
              <th>&nbsp;</th>
            {{/if}}
            {{#if isAdvanced}}
              <th width="90">{{t 'formTargets.dstPort.label'}}</th>
            {{/if}}
            <th width="30">&nbsp;</th>
          </tr>
        </thead>
        <tbody>
          {{#each targetsArray as |tgt|}}
            {{form-target-row
              remove="removeTarget"
              tgt=tgt
              exclude=exclude
              isAdvanced=isAdvanced
              isBalancer=isBalancer
            }}
          {{/each}}
        </tbody>
      </table>
    {{/if}}
  </div>
</div>
{{#if isAdvanced}}
  <div class="row">
      <div class="">
      <p class="help-block">{{t 'formTargets.advanced.help1'}}</p>
      <p class="help-block">{{t 'formTargets.advanced.help2'}}</p>
    </div>
  </div>
{{else}}
  {{#if (and isBalancer targetsArray.length)}}
    <div class="row">
          <div class="">
        <button {{action "setAdvanced"}} class="btn btn-link btn-sm r-p0" type="button">{{t 'formTargets.advanced.toggle'}}</button><small>&ndash; {{t 'formTargets.advanced.detail'}}</small>
      </div>
    </div>
  {{/if}}
{{/if}}
