<div class="pipeline-child-limit">
{{#if model.sourceCodeConfig}}
 {{~#tooltip-element inlineBlock=true type="tooltip-basic" tooltipTemplate="tooltip-static" baseClass="border" model=pipeline.url tagName="span" tooltipFor="tooltip-basic"}}
    <p class="mt-0 mb-0 clip" style="width: 100%;">{{pipeline.url}}</p>
  {{~/tooltip-element}}
{{/if}}

{{#if model.applyYamlConfig}}
 {{~#tooltip-element inlineBlock=true type="tooltip-basic" tooltipTemplate="tooltip-static" baseClass="border" model=model.applyYamlConfig.path tagName="span" tooltipFor="tooltip-basic"}}
    <i class="icon icon-edit pull-right"></i>
    <p class="mt-0 mb-0 clip">{{t 'newPipelineStep.stepType.applyYaml.label'}}: </p>
    <p class="mt-0 mb-0 clip" style="width: 100%;">{{model.applyYamlConfig.path}}</p>
  {{~/tooltip-element}}
{{/if}}

{{#if model.runScriptConfig}}
  {{~#tooltip-element inlineBlock=true type="tooltip-basic" tooltipTemplate="tooltip-static" baseClass="border" model=model.runScriptConfig.image tagName="span" tooltipFor="tooltip-basic"}}
    <i class="icon icon-edit pull-right"></i>
    <p class="mt-0 mb-0 clip">{{t 'newPipelineStep.stepType.task.label'}}: </p>
    <p class="mt-0 mb-0 clip">{{model.runScriptConfig.image}}</p>
    <p class="text-small mt-0 mb-0 clip text-italic">{{model.runScriptConfig.shell}}</p>
  {{~/tooltip-element}}
{{/if}}

{{#if model.publishCatalogConfig}}
  {{~#tooltip-element inlineBlock=true type="tooltip-basic" tooltipTemplate="tooltip-static" baseClass="border" model=model.publishCatalogConfig.gitUrl tagName="span" tooltipFor="tooltip-basic"}}
    <i class="icon icon-edit pull-right"></i>
    <p class="mt-0 mb-0 clip">{{t 'newPipelineStep.stepType.publishCatalog.label'}}: </p>
    <p class="mt-0 mb-0 clip">{{model.publishCatalogConfig.catalogTemplate}}</p>
    <p class="text-small mt-0 mb-0 clip text-italic">{{model.publishCatalogConfig.gitUrl}}</p>
  {{~/tooltip-element}}
{{/if}}

{{#if model.applyAppConfig}}
  {{~#tooltip-element inlineBlock=true type="tooltip-basic" tooltipTemplate="tooltip-static" baseClass="border" model=model.applyAppConfig.catalogTemplate tagName="span" tooltipFor="tooltip-basic"}}
    <i class="icon icon-edit pull-right"></i>
    <p class="mt-0 mb-0 clip">{{t 'newPipelineStep.stepType.applyApp.label'}}: </p>
    <p class="mt-0 mb-0 clip">{{model.applyAppConfig.catalogTemplate}}</p>
    <p class="text-small mt-0 mb-0 clip text-italic">{{model.applyAppConfig.targetNamespace}}</p>
  {{~/tooltip-element}}
{{/if}}

{{#if model.publishImageConfig}}
  {{~#tooltip-element inlineBlock=true type="tooltip-basic" tooltipTemplate="tooltip-static" baseClass="border" model=model.publishImageConfig.tag tagName="span" tooltipFor="tooltip-basic"}}
    <i class="icon icon-edit pull-right"></i>
    <p class="mt-0 mb-0 clip">{{t 'newPipelineStep.stepType.build.label'}}: </p>
    <p class="mt-0 mb-0 clip">{{model.publishImageConfig.tag}}</p>
  {{~/tooltip-element}}
{{/if}}
</div>