<section>
  <p>Rancher supports grouping resources into multiple <b>projects</b>.  Each project gets its own set of hosts and other resources, and is owned by a single GitHub user, team or organization.</p>
  <p>For example, you might create separate &quot;dev&quot;, &quot;test&quot;, and &quot;production&quot; projects to keep logical environments isolated from each other, and give &quot;dev&quot; access to your entire organization but restrict the &quot;production&quot; project to a small team.</p>
  {{#unless controllers.authenticated.project}}
    <div class="alert alert-danger"><i class="ss-alert"></i> There are no active projects.  You will need to create or activate one before you can do anything else.</div>
  {{/unless}}
</section>

<section class="grid-header">
  <div class="row">
    <div class="col-sm-6">
      <h3>All Projects ({{length}})</h3>
    </div>
    <div class="col-sm-6 text-right">
      <button {{action "newProject"}} class="btn btn-sm btn-primary"><i class="ss-plus"></i> Add Project</button>
    </div>
  </div>
</section>

<section>
  <table class="grid fixed" style="margin-bottom: 0">
    <thead>
      <tr>
        <th width="120">State</th>
        <th>Name</th>
        <th>Description</th>
          <th width="80">Default</th>
        <th width="40">&nbsp;</th>
      </tr>
    </thead>
    <tbody>
      {{#each p in this}}
        <tr>
          <td {{bind-attr class="p.stateColor"}}>
            <i {{bind-attr class="p.stateIcon"}}></i> {{p.displayState}}
          </td>
          <td>
            {{#link-to "project" p.id}}{{p.displayName}}{{/link-to}}
          </td>
          <td>
            {{#if p.description}}{{p.description}}{{else}}<span class="text-italic">No description</span>{{/if}}
          </td>
            <td>
              {{#if p.isDefault}}<i class="ss-check"></i>{{/if}}
            </td>
          <td align="right">
            {{resource-actions-menu model=p choices=p.availableActions}}
          </td>
        </tr>
      {{else}}
        <tr><td colspan="4" class="text-center text-muted">You don't have any Projects yet.</td></tr>
      {{/each}}
    </tbody>
  </table>
</section>
