<section class="header clearfix">
  <h1>{{t 'accountsPage.new.header'}}</h1>
</section>

<section class="horizontal-form container-fluid">
  <div class="row form-group">
    <div class="col-sm-12 col-md-3 form-label">
      <label class="form-control-static">{{t 'accountsPage.new.form.username.labelText'}}*</label>
    </div>
    <div class="col-sm-12 col-md-7">
      {{input type="text" value=model.credential.publicValue classNames="form-control" placeholder=(t 'accountsPage.new.form.username.placeholder')}}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12 col-md-3 form-label">
      <label class="form-control-static">{{t 'accountsPage.new.form.password.labelText'}}*</label>
    </div>
    <div class="col-sm-12 col-md-7">
      {{schema/input-password value=model.credential.secretValue}}
      <div class="help-block">{{validateDescription}}</div>
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12 col-md-3 form-label">
      <label class="form-control-static">{{t 'accountsPage.new.form.name.labelText'}}</label>
    </div>
    <div class="col-sm-12 col-md-7">
      {{input type="text" value=model.account.name classNames="form-control" placeholder=(t 'accountsPage.new.form.name.placeholder')}}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12 col-md-3 form-label">
      <label class="form-control-static">{{t 'accountsPage.new.form.type.labelText'}}</label>
    </div>
    <div class="col-sm-12 col-md-7">
      {{new-select
        classNames="form-control"
        content=accountTypeChoices
        localizedLabel=true
        value=model.account.kind
      }}
    </div>
  </div>

  <div class="row form-group">
    <div class="col-sm-12 col-md-3 form-label">
      <label for="description">{{t 'accountsPage.new.form.description.labelText'}}</label>
    </div>
    <div class="col-sm-12 col-md-7">
      {{textarea value=model.account.description classNames="form-control no-resize" rows="2" placeholder=(t 'accountsPage.new.form.description.placeholder')}}
    </div>
  </div>

</section>

{{top-errors errors=errors}}
{{save-cancel save="save" cancel="cancel"}}
