{{top-errors errors=errors}}

<section class="horizontal-form">
  <div class="container-fluid">
    {{partial "host/add-common"}}

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Driver*</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{new-select
          classNames="form-control"
          content=model.otherChoices
          value=driver
        }}
      </div>
    </div>

    <div class="over-hr" style="margin: 20px 0;">
      <span>Driver Options</span>
    </div>

    {{#each fieldNames as |fieldName|}}
      {{api-field
        resource=driverOpts
        resourceType=driver
        field=fieldName
        value=(get driverOpts fieldName)
        schemas=model.schemas
        typeDocs=model.typeDocumentations
      }}
    {{/each}}

    <div class="over-hr" style="margin: 20px 0;">
      <span>{{settings.appName}}</span>
    </div>

    <div class="row">
      <div class="col-sm-12 col-md-2 form-label">
        <label class="form-control-static">Labels</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{form-user-labels initialLabels=model.machine.labels setLabels=(action 'setLabels')}}
      </div>
    </div>

    {{#advanced-section}}
      {{form-engine-opts machine=model.machine}}
    {{/advanced-section}}
  </div>

  {{partial "save-cancel"}}
</section>
