<section class="header clearfix">
  <h1>{{t 'auditLogsPage.header'}}</h1>
</section>
<section>
  <div>
    <div class="mb-25">
      <div class="row">
        <div class="col span-2">
          {{input class="input-sm" value=filters.eventType placeholder=(t "auditLogsPage.form.eventType.placeholder")}}
        </div>
        <div class="col span-4">
          <div class="input-group">
            <span class="input-group-btn">
              <button type="button" class="btn bg-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{if filters.resourceType filters.resourceType (t "auditLogsPage.form.resourceType.placeholder")}} <i class="icon icon-chevron-down"></i></button>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">
                  {{t 'auditLogsPage.form.resourceType.dropdownPlaceholder'}}
                </li>
                {{#each model.resourceTypes as |resource|}}
                  <li {{action "updateResourceType" resource}}>
                    <a href="#">{{resource}}</a>
                  </li>
                {{/each}}
              </ul>
            </span>
            {{input class="input-sm" value=filters.resourceId  placeholder=(t "auditLogsPage.form.resourceId.placeholder") disabled=resourceIdReady}}
          </div>
        </div>
        <div class="col span-2">
          {{input class="input-sm" value=filters.clientIp placeholder=(t "auditLogsPage.form.requestIp.placeholder")}}
        </div>
        <div class="col span-4">
          <span class="dropdown">
            <button type="button" class="btn btn-sm bg-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{if authTypeReadable authTypeReadable (t "auditLogsPage.form.authType.placeholder")}} <i class="icon icon-chevron-down"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" class="dropdown-header">
                {{t 'auditLogsPage.form.authType.dropdownPlaceholder'}}
              </li>
              {{#each authTypes as |type|}}
                <li {{action "updateAuthType" type}}>
                  <a href="#">{{type.value}}</a>
                </li>
              {{/each}}
            </ul>
          </span>
          <button role="button" class="btn btn-sm bg-error ml-5" {{action "clearAll"}}> {{t 'auditLogsPage.form.clearButtonText'}}</button>
          <button role="button" class="btn btn-sm bg-primary ml-5" {{action "search"}}> {{t 'auditLogsPage.form.searchButtonText'}}</button>
        </div>
      </div>
    </div>
    {{#sortable-table
         classNames="grid sortable-table audit-logs"
         bulkActions=false
         rowActions=false
         paging=showPagination
         search=false
         sortBy=sortBy
         descending=descending
         headers=headers
         body=model.auditLog
         as |sortable kind log dt|
    }}
      {{#if (eq kind "row")}}
        <td data-title="{{dt.created}}">
          {{#tooltip-element type="tooltip-basic" model=log.created tooltipTemplate='tooltip-static' aria-describedby="tooltip-base" tooltipFor="audit-log"}}
            {{date-from-now log.created}}
          {{/tooltip-element}}
        </td>
        <td data-title="{{dt.eventType}}" class="force-wrap pl-5 pr-5" title="{{log.eventType}}">
          <div>
            {{log.eventType}} <i class="icon icon-info service-icon-button" {{action 'showResponseObjects' log.requestObject log.responseObject }}></i>
          </div>
          <div class="clip text-small">
            {{#if log.description}}{{log.description}}{{/if}}
          </div>
        </td>
        <td data-title="{{dt.accountId}}" class="clip">
          {{environment-name environmentId=log.accountId onlyType="project"}}
        </td>
        <td data-title="{{dt.resourceType}}" class="clip" title="{{log.resourceType}}">
          {{#if log.links.resource}}
            <a href="{{log.links.resource}}" target="_blank">{{log.resourceType}}{{#if log.resourceId}}: {{log.resourceId}}{{/if}}</a>
          {{else}}
            {{log.resourceType}}{{#if log.resourceId}}: {{log.resourceId}}{{/if}}
          {{/if}}
        </td>
        <td data-title="{{dt.authenticatedAsIdentityId}}">{{identity-block identityNotParsed=log.authenticatedAsIdentityId}}</td>
        <td data-title="{{dt.authIp}}" class="clip">{{auth-type log.authType}}<div>{{format-ip log.clientIp noIp='generic.emptyString'}}</div></td>
      {{else if (eq kind "norows")}}
        <td colspan="{{sortable.fullColspan}}" class="text-center text-muted pt-20 pb-20">{{t 'processesPage.summary.noData'}}</td>
      {{/if}}
    {{/sortable-table}}
  </div>
</section>
{{outlet}}
