<section class="header clearfix">
  <h1>{{t 'auditLogsPage.header'}}</h1>
</section>
<section>
  <div class="well">
    <div class="form-inline r-mb25 inline-block">
      <div class="form-group">
        {{input class="form-control input-sm r-mr5" value=filters.eventType placeholder=(t "auditLogsPage.form.eventType.placeholder")}}
        <div class="input-group r-mr5">
          <span class="input-group-btn">
            {{input class="form-control input-sm pull-right" value=filters.resourceId  placeholder=(t "auditLogsPage.form.resourceId.placeholder") disabled=resourceIdReady}}
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{if filters.resourceType filters.resourceType (t "auditLogsPage.form.resourceType.placeholder")}} <i class="icon icon-chevron-down"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" class="dropdown-header">
                {{t 'auditLogsPage.form.resourceType.dropdownPlaceholder'}}
              </li>
              {{#each model.resourceTypes as |resource|}}
                <li {{action "updateResourceType" resource}}>
                  <a href="#">{{resource}}</a>
                </li>
              {{/each}}
            </ul>
          </span>
        </div>
        {{input class="form-control input-sm r-mr5" value=filters.clientIp placeholder=(t "auditLogsPage.form.requestIp.placeholder")}}
        <span class="dropdown">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{if authTypeReadable authTypeReadable (t "auditLogsPage.form.authType.placeholder")}} <i class="icon icon-chevron-down"></i></button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="dropdown-header">
              {{t 'auditLogsPage.form.authType.dropdownPlaceholder'}}
            </li>
            {{#each authTypes as |type|}}
              <li {{action "updateAuthType" type}}>
                <a href="#">{{type.value}}</a>
              </li>
            {{/each}}
          </ul>
        </span>
        <button role="button" class="btn btn-sm btn-danger r-ml5" {{action "clearAll"}}> {{t 'auditLogsPage.form.clearButtonText'}}</button>
        <button role="button" class="btn btn-sm btn-primary r-ml5" {{action "search"}}> {{t 'auditLogsPage.form.searchButtonText'}}</button>
      </div>
    </div>
    <table class="grid fixed table table-hover r-mb15">
      <thead>
        {{sortable-th sortable=this action="changeSort" name="id" label="auditLogsPage.table.time" width="115" class="r-pl10"}}
        {{sortable-th sortable=this action="changeSort" name="eventType" label="auditLogsPage.table.eventType" class="r-pl10"}}
        {{sortable-th sortable=this action="changeSort" name="description" label="auditLogsPage.table.description" class="r-pl10"}}
        {{sortable-th sortable=this action="changeSort" name="accountId" label="auditLogsPage.table.environment" width="125" class="r-pl10"}}
        {{sortable-th sortable=this action="changeSort" name="resourceType" label="auditLogsPage.table.resourceTypeId" class="r-pl10"}}
        {{sortable-th sortable=this action="changeSort" name="authenticatedAsIdentityId" label="auditLogsPage.table.identity" width="175" class="r-pl10"}}
        <th width="150" class="r-pl10">{{t 'auditLogsPage.table.authIp'}}</th>
      </thead>
      <tbody>
        {{#each model.auditLog as |log|}}
          <tr>
            <td data-title="{{t 'auditLogsPage.table.time'}}:">{{date-from-now log.created}}</td>
            <td data-title="{{t 'auditLogsPage.table.eventType'}}:" class="force-wrap" title="{{log.eventType}}">
              {{log.eventType}} <i class="icon icon-info service-icon-button" {{action 'showResponseObjects' log.requestObject log.responseObject }}></i>
            </td>
            <td data-title="{{t 'auditLogsPage.table.description'}}:">{{#if log.description}}{{log.description}}{{else}}<span class="text-muted">None</span>{{/if}}</td>
            <td data-title="{{t 'auditLogsPage.table.environment'}}:" class="clip">
              {{environment-name environmentId=log.accountId onlyType="project"}}
            </td>
            <td data-title="{{t 'auditLogsPage.table.resourceTypeId'}}:" class="clip" title="{{log.resourceType}}">
              {{#if log.links.resource}}
                <a href="{{log.links.resource}}" target="_blank">{{log.resourceType}}{{#if log.resourceId}}: {{log.resourceId}}{{/if}}</a>
              {{else}}
                {{log.resourceType}}{{#if log.resourceId}}: {{log.resourceId}}{{/if}}
              {{/if}}
            </td>
            <td data-title="{{t 'auditLogsPage.table.identity'}}:">{{identity-block identityNotParsed=log.authenticatedAsIdentityId}}</td>
            <td data-title="{{t 'auditLogsPage.table.authIp'}}:" class="clip">{{auth-type log.authType}}<div>{{format-ip log.clientIp noIp='generic.emptyString'}}</div></td>
          </tr>
        {{/each}}
      </tbody>
    </table>
      <div class="container-paginatio text-center">
        <button class="btn btn-sm btn-default" {{action 'first'}}>{{t 'auditLogsPage.first'}}</button>
        {{#if showPagination }}
          <button class="btn btn-sm btn-default" {{action 'next'}}>{{t 'auditLogsPage.next'}}</button>
        {{/if}}
      </div>
  </div>
</section>
{{outlet}}
