<section class="header">
  <ol class="breadcrumb">
    <li class="active">Audit Log</li>
  </ol>
</section>
<section>
  <div class="well">
    <div class="form-inline r-mb25 inline-block">
      <div class="form-group">
        {{input class="form-control input-sm r-mr5" value=filters.eventType placeholder="Event Type"}}
        <div class="input-group r-mr5">
          <span class="input-group-btn">
            {{input class="form-control input-sm pull-right" value=filters.resourceId  placeholder="Resource ID" disabled=resourceIdReady}}
            <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{if filters.resourceType filters.resourceType 'Resource Type:'}} <i class="icon icon-chevron-down"></i></button>
            <ul class="dropdown-menu" role="menu">
              <li role="presentation" class="dropdown-header">
                Select A Resource Type:
              </li>
              {{#each model.resourceTypes as |resource|}}
                <li {{action "updateResourceType" resource}}>
                  <a>{{resource}}</a>
                </li>
              {{/each}}
            </ul>
          </span>
        </div>
        {{input class="form-control input-sm r-mr5" value=filters.clientIp placeholder="Request IP"}}
        <span class="dropdown">
          <button type="button" class="btn btn-sm btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{if authTypeReadable authTypeReadable 'Auth Type:'}} <i class="icon icon-chevron-down"></i></button>
          <ul class="dropdown-menu" role="menu">
            <li role="presentation" class="dropdown-header">
              Select A Auth Type:
            </li>
            {{#each authTypes as |type|}}
              <li {{action "updateAuthType" type}}>
                <a>{{type.value}}</a>
              </li>
            {{/each}}
          </ul>
        </span>
        <a class="btn btn-sm btn-danger r-ml5" {{action "clearAll"}}> Clear All</a>
        <a class="btn btn-sm btn-primary r-ml5" {{action "search"}}> Search</a>
      </div>
    </div>
    <table class="grid fixed table table-hover r-mb15">
      <thead>
        {{sortable-th sortable=this action="changeSort" name="created" label="Time" width="125" class="r-pl10"}}
        {{sortable-th sortable=this action="changeSort" name="eventType" width="" class="r-pl10"}}
        {{sortable-th sortable=this action="changeSort" name="resourceType" label="Resource Type:Resource Id" width="" class="r-pl10"}}
        {{sortable-th sortable=this action="changeSort" name="clientIp" label="Request IP" width="150" class="r-pl10"}}
        {{sortable-th sortable=this action="changeSort" name="authType" width="125" class="r-pl10"}}
        {{sortable-th sortable=this action="changeSort" name="authenticatedAsAccountId" label="Environment" width="125" class="r-pl10"}}
        {{sortable-th sortable=this action="changeSort" name="authenticatedAsIdentityId" label="Identity" width="150" class="r-pl10"}}
      </thead>
      <tbody>
        {{#each model.auditLog as |log|}}
          <tr>
            <td>{{date-from-now log.created}}</td>
            <td class="force-wrap" title="{{log.eventType}}">
              {{log.eventType}} <i class="icon icon-info addtl-info-trigger" {{action 'showResponseObjects' log.requestObject log.responseObject }}></i>
            </td>
            <td class="clip" title="{{log.resourceType}}"><a href="{{log.links.resource}}" target="_blank">{{log.resourceType}}{{if log.resourceId ':'}}{{log.resourceId}}</a></td>
            <td class="clip">{{log.clientIp}}</td>
            <td class="clip" title="{{log.authType}}">{{auth-type log.authType}}</td>
            <td class="clip" title="{{if log.account.name log.account.name log.account.id}}">{{if log.account.name log.account.name log.account.id}}</td>
            <td>{{identity-block identityNotParsed=log.authenticatedAsIdentityId}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
      <div class="container-paginatio text-center">
        <button class="btn btn-sm btn-default" {{action 'first'}}>First Page</button>
        {{#if showPagination }}
          <button class="btn btn-sm btn-default" {{action 'next'}}>Next Page</button>
        {{/if}}
      </div>
  </div>
</section>
{{outlet}}
