<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.nfs.path.label'}}</label>
    {{#input-or-display editable=editing value=config.path}}
      {{input type="text" value=config.path classNames="form-control" placeholder=(t 'cruPersistentVolume.nfs.path.placeholder')}}
    {{/input-or-display}}
  </div>

  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.nfs.server.label'}}</label>
    {{#input-or-display editable=editing value=config.server}}
      {{input type="text" value=config.server classNames="form-control" placeholder=(t 'cruPersistentVolume.nfs.server.placeholder')}}
    {{/input-or-display}}
  </div>
</div>

<div class="row">
  <div class="col span-6">
    <label class="acc-label">{{t 'cruPersistentVolume.nfs.readOnly.label'}}</label>
    {{#if editing}}
      <div class="text-muted">
        <label>
          {{radio-button selection=config.readOnly value=true}} {{t 'generic.yes'}}
        </label>
        <label>
          {{radio-button selection=config.readOnly value=false}} {{t 'generic.no'}}
        </label>
      </div>
    {{else}}
      <div class="text-muted">
        {{config.readOnly}}
      </div>
    {{/if}}
  </div>
</div>