{{#sortable-table
     tableClassNames="bordered mt-30"
     paging=true
     pagingLabel="pagination.project"
     headers=headers
     descending=descending
     body=model
     sortBy=sortBy
     as |sortable kind p dt|
}}
  {{#if (eq kind "row")}}
    {{project-row model=p dt=dt}}
  {{else if (eq kind "nomatch")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'projectsPage.noMatch'}}</td></tr>
  {{else if (eq kind "norows")}}
    <tr><td colspan="{{sortable.fullColspan}}" class="text-center text-muted lacsso pt-20 pb-20">{{t 'projectsPage.noData'}}</td></tr>
  {{/if}}
{{/sortable-table}}
