<td>
  {{badge-state model=model}}
</td>
<td class="force-wrap">
  {{#link-to "k8s-tab.services.service" model.id}}{{model.displayName}}{{/link-to}}
</td>
<td>
  {{model.serviceType}}
</td>
<td class="force-wrap">
  {{#if model.selectorContainer}}
    {{model.selectorContainer}}
  {{else}}
    <span class="text-muted">None</span>
  {{/if}}
</td>
<td class="actions">
  {{partial "fast-action-menu"}}
</td>
