<tr>
  <td class="force-wrap">
    <a href="#" {{action "toggleExpand"}}><i class="icon {{if expanded 'icon-minus-square' 'icon-plus-square'}}"/></a>
    {{#link-to "k8s-tab.namespace.services.service" model.displayName}}{{model.displayName}}{{/link-to}}
  </td>
  <td>
    {{default-str model.spec.type default=(t 'k8s.serviceRow.defaultType')}}
  </td>
  <td>
    {{model.spec.clusterIP}}
  </td>
  <td class="force-wrap">
    {{#each model.spec.ports as |port|}}
      <div title="{{port.name}}">
        {{port.port}}:{{port.targetPort}}/{{lower-case port.protocol}}
      </div>
      {{else}}
        <span class="text-muted">None</span>
      {{/each}}
    {{each}}
  </td>
  <td class="force-wrap">
    {{#each model.spec.ports as |port|}}
      <div title="{{port.name}}">
        {{#if port.nodePort}}
          {{#if k8s.clusterIp}}
            <a href="http://{{k8s.clusterIp}}:{{port.nodePort}}" target="_blank" rel="noopener">{{port.nodePort}}</a>
          {{else}}
            {{port.nodePort}}
          {{/if}}
        {{else}}
          <span class="text-muted">None</span>
        {{/if}}
      </div>
      {{else}}
        <span class="text-muted">None</span>
      {{/each}}
    {{each}}
  </td>
  <td>
    {{model.selectedPods.length}}
  </td>
  <td class="force-wrap">
    {{#each model.selectorsAsArray as |sel|}}
      <span class="badge badge-primary">{{sel.label}}={{sel.value}}</span>
    {{else}}
      <span class="text-muted">{{t 'generic.none'}}</span>
    {{/each}}
  </td>
  <td class="actions">
    {{action-menu model=model}}
  </td>
</tr>
{{#if expanded}}
  <tr class="nohover">
    <td colspan="7" class="subtable">
      {{k8s/pod-section model=model.selectedPods}}
    </td>
  </tr>
{{/if}}
