<div class="protip">{{t 'modalConfirmDeactiviate.protip' alternateLabel=alternateLabel isServiceButton=isService.button}}</div>
<hr>
<div class="container-header-text">
  {{t 'confirmDelete.title'}}:
  <div class="display-name">
    {{#each resources as |resource|}}
      {{resource.displayName}}
    {{/each}}
  </div>
</div>

{{#if isEnvironment}}
  <div class="r-mb15">
    {{t 'confirmDelete.environmentNote' appName=settings.appName}}
  </div>
{{/if}}

<div class="text-muted" style="font-size: 12px;">
  {{t 'confirmDelete.protip' key=alternateLabel}}
</div>

<div class="footer-actions">
  <button {{action "confirm"}} class="btn btn-danger">{{t 'confirmDelete.confirmAction'}}</button>
  <button {{action "cancel"}} class="btn btn-link">{{t 'confirmDelete.cancelAction'}}</button>
</div>
