<div class="stack-info">
  <div class="catalog-icon">
    <img src="{{app.baseAssets}}assets/images/generic-catalog.svg" data-src={{model.catalogTemplate.links.icon}}/>
  </div>
  <div class="stack-info-row box">
    <div class="stack-info-top row">
      <div class="col">
        {{model.displayName}}
      </div>
      <div class="col text-right pull-right">
        {{badge-state model=model classNames="btn-xs"}}
        {{action-menu model=model classNames="inline-block"}}
      </div>
    </div>
    <hr>
    <div class="stack-info-bottom">
      <div class="multi-bar text-center">
        {{progress-bar-multi
            labelKey="state"
            valueKey="count"
            values=model.podStates.byColor
            tooltipValues=model.podStates.byName
        }}
        <small class="text-muted">
          {{model.pods.length}}
        </small>
      </div>
      {{#upgrade-btn model=model classNames="btn-sm" as |btn|}}
        {{model.externalIdInfo.version}}
        {{#if btn.model.externalIdInfo.version}}
          {{t (concat-str 'upgradeBtn.status.' btn.upgradeStatus character='')}}
          <span class="text-small">({{btn.latestVersion}})</span>
        {{else}}
          {{t (concat-str 'upgradeBtn.status.' btn.upgradeStatus character='')}}
        {{/if}}
      {{/upgrade-btn}}
    </div>
  </div>
</div>
{{#if expanded}}
{{/if}}
