<div class="stack-info">
  <div class="catalog-icon">
    <img src="{{app.baseAssets}}assets/images/generic-catalog.svg" data-src={{model.catalogTemplate.links.icon}}/>
  </div>
  <div class="stack-info-row box">
    <div class="stack-info-top row">
      <div class="col span-6">
        {{!-- TODO --}}
        {{!--{{#link-to "stack" scope.currentProject.id model.id}}{{model.displayName}}{{/link-to}} --}}
        {{model.displayName}} <span class="help-block">v{{model.externalIdInfo.version}}</span>
      </div>
      <div class="col span-6 text-right">
        {{badge-state model=model classNames="btn-xs"}}
        {{action-menu model=model classNames="inline-block"}}
      </div>
    </div>
    <hr>
    <div class="stack-info-bottom">
      <div class="multi-bar">
        {{progress-bar-multi
            labelKey="state"
            valueKey="count"
            values=model.serviceStates.byColor
            tooltipValues=model.serviceStates.byName
        }}
      </div>
      {{#upgrade-btn model=model classNames="btn-sm" as |btn|}}
        {{#if btn.model.externalIdInfo.version}}
          {{btn.latestVersion}}
          {{t (concat-str 'upgradeBtn.status.' btn.upgradeStatus character='')}}
        {{else}}
          {{t (concat-str 'upgradeBtn.status.' btn.upgradeStatus character='')}}
        {{/if}}
      {{/upgrade-btn}}
    </div>
  </div>
</div>
{{#if expanded}}
{{/if}}
