<section class="header">
  <h1>{{#link-to "k8s-tab.namespace.pods"}}Pod:{{/link-to}} {{model.displayName}}</h1>
  <div class="pull-right">
    {{action-menu model=model}}
  </div>
</section>

<section>
  <div class="container-multi-stat">
    <div class="container-flex bordered">
      <div class="col-flex"><label>Type:</label> {{model.spec.type}}</div>
    </div>
  </div>
</section>

<section>
  <ul class="nav nav-tabs nav-tabs-well shadowed">
    <li role="presentation" class="tab" data-section="containers" {{action "selectTab" "containers" target="view"}}><a href="#">Containers</a></li>
  </ul>

  <div class="horizontal-form well">
    <div class="section container-fluid" data-section="containers">
      {{k8s/container-section model=model.displayContainers}}
    </div>
  </div>
</section>
