<div class="pipeline-steps">
  <div class="steps-line"></div>
  <div class="steps-head-dot js-dragHandle {{dotClass}}" class={{if stagesDraggable 'draggable' ''}}></div>
  <div class="steps-wrap">
    {{#if stepsDraggble}}
      {{#sortable-objects
        class=(if stagesDraggable 'draggable' '')
        sortableObjectList=model
        enableSort=true
        sortingScope=sortingScope}}
        {{#each model as |item index|}}
          {{#draggable-object
            isDraggable=false
            class="step-content"
            content=item
            overrideClass='sortObject' 
            isSortable=true
            sortingScope=sortingScope
            dragStartAction="dragStart"
            dragStartHook=(action 'startHook')
            dragEndHook=(action "dragEnd")
            }}
              <div class="step-name text-muted" {{action 'editStep' index}}>
                {{pipeline-step model=item }}
              </div>
          {{/draggable-object}}
        {{/each}}
      {{/sortable-objects}}
    {{else}}
      {{#each model as |item index|}}
        <div class="step-content">
          <div class="step-name text-muted" {{action 'editStep' index}}>
           {{pipeline-step model=item}}
          </div>
        </div>
      {{/each}}
    {{/if}}
    {{#if editable}}
      {{#unless (eq stepMode 'scm')}}
        <div class="step-add step-content" {{action 'addStep'}}>
          <a href="javascript:void(0);" class="text-small">
            {{t 'newPipelineStage.addStep'}}
          </a>
        </div>
      {{/unless}}
    {{/if}}
  </div>
</div>
