<div class="pipeline-steps">
  <div class="steps-line"></div>
  <div class="steps-head-dot js-dragHandle {{dotClass}}" class={{if stagesDraggable 'draggable' ''}}></div>
  <div class="steps-wrap">
    {{#each model as |item index|}}
      <div class="step-content">
          <div class="step-name text-muted" {{action 'editStep' index}}>
            {{pipeline-step model=item }}
          </div>
      </div>
    {{/each}}
    {{#if editable}}
      {{#unless (eq stepMode 'scm')}}
        <button class="js-add-step-{{stageIndex}} mt-10 btn bg-link icon-btn p-0" {{action 'addStep'}} style="margin: 0 auto;">
          <span class="darken"><i class="icon icon-plus text-small"/></span>
          <span>{{t 'newPipelineStage.addStep'}}</span>
        </button>
      {{/unless}}
    {{/if}}
  </div>
</div>