<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label for="uri" class="form-control-static">HTTP Check</label>
  </div>
  <div class="col-sm-12 col-md-8">
    <div class="input-group">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="border-right: 0;">{{uriMethod}} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation" class="dropdown-header">
            Select A HTTP Method:
          </li>
          {{#each choice in uriMethodChoices}}
            <li {{action "chooseUriMethod" choice}}>
              <a>{{choice}}</a>
            </li>
          {{/each}}
        </ul>
      </div>

      {{input type="text" classNames="form-control" placeholder="e.g. /healthcheck" value=uriPath}}

      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false">{{uriVersion}} <span class="caret"></span></button>
        <ul class="dropdown-menu" role="menu">
          <li role="presentation" class="dropdown-header">
            Select A HTTP Version:
          </li>
          {{#each choice in uriVersionChoices}}
            <li {{action "chooseUriVersion" choice}}>
              <a>{{choice}}</a>
            </li>
          {{/each}}
        </ul>
      </div>
    </div>
  </div>
</div>

{{#if showUriHost}}
  <div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label">
      <label for="uriHost" class="form-control-static">Host Header</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{input type="text" id="uriHost" classNames="form-control" placeholder="e.g. www.example.com" value=uriHost}}
    </div>
  </div>
{{/if}}

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label for="interval" class="form-control-static">Check Interval</label>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="input-group">
      {{input type="number" min=1 step=1000 id="interval" classNames="form-control" value=config.healthCheck.interval}}
      <span class="input-group-addon">ms</span>
    </div>
  </div>
  <div class="col-sm-12 col-md-2 form-label">
    <label for="responseTimeout" class="form-control-static">Timeout</label>
  </div>
  <div class="col-sm-12 col-md-3">
    <div class="input-group">
      {{input type="number" min=1 step=100 id="responseTimeout" classNames="form-control" value=config.healthCheck.responseTimeout}}
      <span class="input-group-addon">ms</span>
    </div>
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-3 form-label">
    <label for="healthyThreshold" class="form-control-static">Healthy Threshold</label>
  </div>
  <div class="col-sm-12 col-md-2">
    {{input type="number" min=1 step=1 id="healthyThreshold" classNames="form-control" value=config.healthCheck.healthyThreshold}}
  </div>
  <div class="col-sm-12 col-md-3 form-label">
    <label for="unhealthyThreshold" class="form-control-static">Unhealthy Threshold</label>
  </div>
  <div class="col-sm-12 col-md-2">
    {{input type="number" min=1 step=1 id="unhealthyThreshold" classNames="form-control" value=config.healthCheck.unhealthyThreshold}}
  </div>
</div>
