<table class="grid fixed no-lines no-top-padding tight" style="margin-bottom: 0;">
  {{#if listenersArray.length}}
    <thead>
      <tr>
        <th>Public Port</th>
        <th width="30"></th>
        <th width="60">Protocol</th>
        <th width="30"></th>
        <th width="100">Algorithm</th>
        <th width="40">&nbsp;</th>
      </tr>
    </thead>
  {{/if}}
  <tbody>
    {{#each listenersArray as |listener|}}
      <tr>
        {{#if listener.id}}
          <td>{{listener.sourcePort}}</td>
          <td>&nbsp;</td>
          <td>{{listener.sourceProtocol}}</td>
          <td>&nbsp;</td>
          <td>{{listener.algorithm}}</td>
          <td class="text-right">
            <button {{action "removeListener" listener}} class="btn-circle-x" type="button" tabindex="-1"></button>
          </td>
        {{else}}
          <td>
            {{input type="text" classNames="form-control lb-listener-source-port input-sm" min="1" max="65535" step="1" value=listener.sourcePort placeholder="e.g. 80"}}
          </td>
          <td>&nbsp;</td>
          <td>
            <div class="btn-group">
              <button type="button" class="btn btn-default dropdown-toggle btn-sm" data-toggle="dropdown" aria-expanded="false">{{listener.sourceProtocol}} <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">
                  Select a protocol:
                </li>
                {{#each sourceProtocolOptions as |choice|}}
                  <li {{action "chooseProtocol" listener "sourceProtocol" choice}}>
                    <a>{{choice}}</a>
                  </li>
                {{/each}}
              </ul>
            </div>
          </td>
          <td>&nbsp;</td>
          <td>
            <div class="form-control-static input-sm">Round Robin</div>
          </td>
          <td class="text-right">
            <button {{action "removeListener" listener}} class="btn-circle-x" type="button" tabindex="-1"></button>
          </td>
        {{/if}}
      </tr>
    {{/each}}
  </tbody>
</table>
