<table class="grid fixed no-lines no-top-padding tight" style="margin-bottom: 0;">
  {{#if listenersArray.length}}
    <thead>
      <tr>
        <th>Source</th>
        <th width="30"></th>
        <th>Target</th>
        <th width="30"></th>
        <th width="100">Algorithm</th>
        <th width="40">&nbsp;</th>
      </tr>
    </thead>
  {{/if}}
  <tbody>
    {{#each listener in listenersArray}}
      <tr>
        <td>
          <div class="input-group input-group-sm">
            {{input type="text" classNames="form-control lb-listener-source-port" min="1" max="65535" step="1" value=listener.sourcePort placeholder="e.g. 80"}}
            <div class="input-group-btn">
              <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="border-left: 0;">/{{listener.sourceProtocol}} <span class="caret"></span></button>
              <ul class="dropdown-menu" role="menu">
                <li role="presentation" class="dropdown-header">
                  Select a protocol:
                </li>
                {{#each choice in sourceProtocolOptions}}
                  <li {{action "chooseProtocol" listener "sourceProtocol" choice}}>
                    <a>{{choice}}</a>
                  </li>
                {{/each}}
              </ul>
            </div>
          </div>
        </td>

        <td class="text-center"><div class="form-control-static input-sm"><i class="ss-right"></i></div></td>

        <td>
          <div class="input-group input-group-sm">
            {{input type="text" classNames="form-control lb-listener-target-port" min="1" max="65535" step="1" value=listener.targetPort placeholder="e.g. 8080"}}
            {{#if model.isService}}
              <span class="input-group-addon">/{{listener.sourceProtocol}}</span>
            {{else}}
              <div class="input-group-btn">
                <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-expanded="false" style="border-left: 0;">/{{listener.targetProtocol}} <span class="caret"></span></button>
                <ul class="dropdown-menu" role="menu">
                  <li role="presentation" class="dropdown-header">
                    Select a protocol:
                  </li>
                  {{#each choice in targetProtocolOptions}}
                    <li {{action "chooseProtocol" listener "targetProtocol" choice}}>
                      <a>{{choice}}</a>
                    </li>
                  {{/each}}
                </ul>
              </div>
            {{/if}}
          </div>
        </td>

        <td>&nbsp;</td>

        <td>
          {{#if model.isService}}
            <div class="form-control-static input-sm">Round Robin</div>
          {{else}}
            {{view "select"
              class="form-control input-sm"
              value=listener.algorithm
              content=algorithmOptions
            }}
          {{/if}}
        </td>
        <td class="text-right">
          <button {{action "removeListener" listener}} class="btn-circle-x" type="button" tabindex="-1"></button>
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
{{#if has8080}}
  <p class="help-text text-center"><b>Note:</b> Port 8080 cannot currently be used as a source port.</p>
{{/if}}
