<section class="header">
  <h1>
  {{#if editing}}
    {{t 'k8s.newOrEditResource.edit' type=(t label)}}
  {{else}}
    {{t 'k8s.newOrEditResource.add' type=(t label)}}
  {{/if}}
  </h1>
</section>

<section class="horizontal-form container-fluid">
  {{textarea value=primaryResource.body classNames="form-control text-mono" rows="20" placeholder=(t 'k8s.newOrEditResource.placeholder')}}
</section>

{{top-errors errors=errors}}
{{save-cancel editing=editing save="save" cancel="cancel"}}
