<section class="header">
  <h1>{{if editing 'Edit' 'Add'}} {{label}}</h1>
</section>

<section class="horizontal-form container-fluid">
  {{textarea value=primaryResource.body classNames="form-control text-mono" rows="20" placeholder=(t 'k8s.newOrEditResource.placeholder')}}
</section>

{{top-errors errors=errors}}
{{save-cancel editing=editing save=(t 'saveCancel.edit') cancel=(t 'saveCancel.cancel')}}
