<button type="button" {{bind-attr class=":btn :btn-link view.isDetail::hide"}} {{action "goToApi"}} tooltip="View in API"><i class="fa fa-external-link"></i></button>
<button {{bind-attr class=":btn :btn-link actions.activate::hide"}} {{action "activate"}} tooltip="Activate"><i class="fa fa-arrow-up"></i></button>
<button {{bind-attr class=":btn :btn-link actions.deactivate::hide"}} {{action "deactivate"}} tooltip="Deactivate"><i class="fa fa-arrow-down"></i></button>
<button {{bind-attr class=":btn :btn-link actions.remove::hide"}} {{action "promptDelete"}} tooltip="Delete"><i class="fa fa-trash-o"></i></button>
<button {{bind-attr class=":btn :btn-link actions.purge::hide"}} {{action "purge"}} tooltip="Purge"><i class="fa fa-fire"></i></button>
