<div class="over-hr r-mt10 r-mb10">
  <span>{{settings.appName}}</span>
</div>

<div class="row">
  <div class="col-md-2 form-label">
    <label class="form-control-static">{{t 'hostPartial.host.addOptions.labels'}}</label>
  </div>
  <div class="col-md-10">
    {{form-user-labels initialLabels=model.labels setLabels=(action 'setLabels')}}
  </div>
</div>

{{#advanced-section}}
  {{limit-parameters model=model}}
  {{form-engine-opts machine=model showEngineUrl=showEngineUrl}}
{{/advanced-section}}
