<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label>Quantity</label>
  </div>
  <div class="col-sm-2 col-md-1">
    {{count}}
  </div>
  <div class="col-sm-10 col-md-7">
    {{input-slider value=count valueMin=1 valueMax=10 scaleMin=0}}
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label for="prefix" class="form-control-static">Name*</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{input id="prefix" type="text" value=prefix classNames="form-control" placeholder="e.g. app01"}}
    <p class="help-block">{{{nameCountLabel}}}</p>
  </div>
</div>

<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label for="description" class="form-control-static">Description</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{textarea id="description" value=description classNames="form-control no-resize" rows="3" placeholder="e.g. My Rancher host"}}
  </div>
</div>

