<div class="over-hr mt-10 mb-10">
  <span>{{settings.appName}}</span>
</div>

<div class="row">
  <div class="col span-2 col-inline">
    <label>{{t 'hostPartial.host.addOptions.labels'}}</label>
  </div>
  <div class="col span-10">
    {{form-user-labels initialLabels=model.labels setLabels=(action 'setLabels')}}
  </div>
</div>

{{#advanced-section}}
  {{limit-parameters model=model}}
  {{form-engine-opts machine=model showEngineUrl=showEngineUrl}}
{{/advanced-section}}
