{{#each fieldsGroup as |fields|}}
  <div class="row mb-20">
    {{#each fields as |field|}}
    <div class="col span-4">
      {{#if field.options}}
        <label class="acc-label">{{t (concat 'cruStorageClass.' provisioner '.' field.id '.label')}}</label>
        {{#if editing}}
          {{new-select
            classNames="form-control"
            content=field.options
            value=(get model field.id)
            optionLabelPath="translationKey"
            localizedLabel=true
          }}
        {{else}}
          <div class="text-muted">
            {{get model field.id}}
          </div>
        {{/if}}
      {{else}}
        <label class="acc-label">{{t (concat 'cruStorageClass.' provisioner '.' field '.label')}}</label>
        {{#input-or-display editable=editing value=(get model field)}}
          {{input type="text" value=(get model field) classNames="form-control" placeholder=(t (concat 'cruStorageClass.' provisioner '.' field '.placeholder'))}}
        {{/input-or-display}}
      {{/if}}
    </div>
    {{/each}}
  </div>
{{/each}}