<section class="header clearfix">
  <div class="pull-left"><h1>{{t 'nav.apps.apps'}}</h1></div>

  <div class="right-buttons">
    {{#link-to "catalog-tab" classNames="btn btn-sm bg-primary mr-10"}}{{t 'nav.apps.launch'}}{{/link-to}}
  </div>
</section>

<section class="pl-0 pr-0">
  {{#each filteredNamespaces as |ns|}}
    {{namespace-app
      model=ns
      toggle=(action "toggleExpand" ns.id)
      expanded=(array-includes expandedNamespaces ns.id)
    }}
  {{else}}
    {{empty-table resource="container" newRoute="catalog-tab" newTranslationKey="nav.apps.launch"}}
  {{/each}}
</section>
