<section class="header clearfix">
  <div class="pull-left"><h1>{{t 'nav.apps.apps'}}</h1></div>

  <div class="right-buttons">
    {{#link-to "catalog-tab" classNames="btn btn-sm bg-primary mr-10" disabled=(rbac-prevents resource="app" scope="project" permission="create")}}{{t 'nav.apps.launch'}}{{/link-to}}
  </div>
</section>

<section class="pl-0 pr-0">
  {{#each filteredApps as |ns|}}
    {{namespace-app model=ns}}
  {{else}}
    {{empty-table disabled=(rbac-prevents resource="app" scope="project" permission="create") resource="container" newRoute="catalog-tab" newTranslationKey="nav.apps.launch"}}
  {{/each}}
</section>
