<section class="header has-tabs clearfix">
  <h1>{{t 'processesPage.header'}}</h1>

  <ul class="tab-nav">
    <li>{{#link-to 'admin-tab.processes.index' replace=true}}{{t 'processesPage.tab.summary'}}{{/link-to}}</li>
    <li class="hide">{{#link-to 'admin-tab.processes.pools' replace=true}}{{t 'processesPage.tab.pools'}}{{/link-to}}</li>
    <li>{{#link-to 'admin-tab.processes.list' (query-params which="running") replace=true}}{{t 'processesPage.tab.running'}}{{/link-to}}</li>
    <li>{{#link-to 'admin-tab.processes.list' (query-params which="ready") replace=true}}{{t 'processesPage.tab.ready'}}{{/link-to}}</li>
    <li>{{#link-to 'admin-tab.processes.list' (query-params which="delayed") replace=true}}{{t 'processesPage.tab.delayed'}}{{/link-to}}</li>
    <li>{{#link-to 'admin-tab.processes.list' (query-params which="completed") replace=true}}{{t 'processesPage.tab.completed'}}{{/link-to}}</li>
  </ul>
</section>
<div class="tab-content">
  {{outlet}}
</div>