<h2>Add Host</h2>

<p class="help-block" style="margin: 0;">Choose one or more hosts to run balancing agents on</p>
<button class="btn-circle-plus" {{bind-attr disabled=hostDisabled}} {{action "addHost" target="view"}}></button>
{{partial "loadbalancer/edit-hosts"}}


{{partial "add-cancel"}}
{{partial "overlay-close"}}
