<section>
  {{#if access.enabled}}
    <p>{{t 'authPage.azuread.header.enabled'}}</p>
    {{t 'authPage.azuread.subtext.enabled' appName=settings.appName}}
  {{else}}
    <div class="banner bg-warning">
      <div class="banner-icon">
        <span class="icon icon-alert"></span>
      </div>
      <div class="banner-message">
        <p>{{t 'authPage.azuread.header.disabled'}}</p>
      </div>
    </div>
    <p>{{t 'authPage.azuread.subtext.disabled' appName=settings.appName}}</p>
  {{/if}}
</section>

{{#if access.enabled}}
  <section class="box mt-30">
    <h3>{{t 'authPage.azuread.enabled.header' htmlSafe=true}}</h3>
    <hr/>

    <p>
      {{t 'authPage.azuread.enabled.warning' appName=settings.appName htmlSafe=true}}
    </p>

    {{#if confirmDisable}}
      <button class="btn bg-error" {{action "disable"}}>
        <i class="icon icon-alert"></i> {{t 'authPage.azuread.enabled.reallyDisable'}}
      </button>
    {{else}}
      <button class="btn bg-error" {{action "promptDisable"}}>
        <i class="icon icon-umbrella"></i> {{t 'authPage.azuread.enabled.promptDisable'}}
      </button>
    {{/if}}

  </section>
{{/if}}

{{#unless access.enabled}}
  <section class="box mt-30">
    <h3>{{t 'authPage.azuread.configure.header'}}</h3>
    <hr/>

    <div class="row">
      <div class="col span-4">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'authPage.azuread.configure.tenantId.label'}}{{field-required}}</label>
          {{input type="text" value=model.tenantId placeholder=(t 'authPage.azuread.configure.tenantId.placeholder') classNames="form-control"}}
          <p class="help-block">{{t 'authPage.azuread.configure.tenantId.help'}}</p>
        </div>
      </div>
      <div class="col span-4">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'authPage.azuread.configure.clientId.label'}}{{field-required}}</label>
          {{input type="text" value=model.clientId placeholder=(t 'authPage.azuread.configure.clientId.placeholder') classNames="form-control"}}
        </div>
      </div>
      <div class="col span-4">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'authPage.azuread.configure.domain.label'}}{{field-required}}</label>
          {{input type="text" value=model.domain placeholder=(t 'authPage.azuread.configure.domain.placeholder') classNames="form-control"}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col span-6">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'authPage.azuread.configure.adminAccountUsername.label'}}{{field-required}}</label>
          {{input type="text" value=model.adminAccountUsername placeholder=(t 'authPage.azuread.configure.adminAccountUsername.placeholder') classNames="form-control"}}
          <p class="help-block">{{t 'authPage.azuread.configure.adminAccountUsername.help'}}</p>
        </div>
      </div>
      <div class="col span-6">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'authPage.azuread.configure.adminAccountPassword.label'}}{{field-required}}</label>
          {{input type="password" value=model.adminAccountPassword classNames="form-control"}}
        </div>
      </div>
    </div>
  </section>

  <section class="box mt-30">
    <h3>{{t 'authPage.azuread.test.header'}}</h3>
    <hr/>
    <p class="text-info">{{t 'authPage.azuread.test.help'}}</p>
    {{top-errors errors=errors}}

    <div class="row">
      <div class="col span-4">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'authPage.azuread.test.username.label'}}{{field-required}}</label>
          {{input type="text" value=loginUsername prompt=(t 'authPage.azuread.test.username.placeholder') classNames="form-control"}}
        </div>
      </div>
      <div class="col span-4">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'authPage.azuread.test.password.label'}}{{field-required}}</label>
          {{input type="password" value=loginPassword classNames="form-control"}}
        </div>
      </div>
      <div class="col span-4">
        <div class="inline-form">
          <label class="acc-label pb-5">&nbsp;</label>
          <button class="btn bg-primary" style="display: block;" {{action "test"}}>
            {{#if testing}}
              <i class="icon icon-spinner icon-spin"></i> {{t 'authPage.azuread.test.post'}}
            {{else}}
              {{t 'authPage.azuread.test.pre'}}
            {{/if}}
          </button>
        </div>
      </div>
    </div>
  </section>
{{/unless}}
