<section class="header clearfix">
  {{#if (eq type 'scm')}}
    <h2>{{t 'newPipelineStep.stepType.scm.add'}}</h2>
  {{else}}
    <div class="modal-pipeline-head">
      {{#if (eq modalOpts.type 'review')}}
        <h2>{{modalOpts.stageIndex}}. {{modalOpts.stageInfo}}</h2>
      {{else}}
        <h2>{{t (if editing 'newPipelineStep.header.edit' 'newPipelineStep.header.create')}}</h2>
        <br>
        <p class="text-muted">{{modalOpts.stageIndex}}. {{modalOpts.stageInfo}}</p>
      {{/if}}
    </div>
    {{#if editing}}
      <div class="right-buttons">
        <button class="btn bg-error" {{action 'remove'}}>
          {{t 'generic.remove'}}
        </button>
      </div>
    {{/if}}
  {{/if}}
  
</section>
{{pipeline-step-form
  pipeline=modalOpts.pipeline
  model=editingModels
  type=type
  editing=editing
  modalOpts=modalOpts
  modalState=state
}}
{{top-errors errors=errors}}
{{#if (eq modalOpts.type 'review')}}
  <div style="text-align: center" class="mt-20 text-center">
    <button {{action "cancel"}} class="btn bg-transparent">{{t "generic.cancel"}}</button>
  </div>
{{else}}
  {{save-cancel saveDisabled=state.saveDisabled editing=editing createLabel="generic.add" save="add" cancel="cancel"}}
{{/if}}
