<section class="header clearfix">
  {{#if (eq type 'scm')}}
    <h2>{{t 'newPipelineStep.stepType.scm.add'}}</h2>
  {{else}}
    <div class="modal-pipeline-head">
      <h2>{{t (if editing 'newPipelineStep.header.edit' 'newPipelineStep.header.create')}}</h2>
      <br>
      <p class="text-muted">{{modalOpts.stageIndex}}. {{modalOpts.stageInfo}}</p>
    </div>
    {{#if editing}}
      <div class="right-buttons">
        <button class="btn bg-error" {{action 'remove'}}>
          {{t 'generic.remove'}}
        </button>
      </div>
    {{/if}}
  {{/if}}
</section>
{{pipeline-step-form
  projectDockerCredentials=modalOpts.projectDockerCredentials
  model=step
  editing=editing
  save=(action 'save')
  cancel=(action 'cancel')
}}