<div>
  <div class="row">
    <div class="col span-6">
      <label>{{t 'clustersPage.addPage.host.clusterName'}}{{field-required}}</label>
      {{input type="text" value=newHost.user }}
    </div>
    <div class="col span-6">
      <label>{{t 'clustersPage.addPage.host.hostName'}}{{field-required}}</label>
      {{input type="text" value=newHost.advertisedHostname }}
    </div>
  </div>
  <div class="pt-10 pb-15">
    <label>{{t 'clustersPage.addPage.host.ssh'}}{{field-required}}</label>
    {{textarea value=newHost.ssh classNames="form-control no-resize" rows="6"}}
  </div>
</div>