<div>
  <div class="row">
    <div class="col span-6">
      <label>User{{field-required}}</label>
      {{input type="text" value=newHost.clusterName }}
    </div>
    <div class="col span-6">
      <label>Host{{field-required}}</label>
      {{input type="text" value=newHost.hostName }}
    </div>
  </div>
  <div class="pt-10 pb-15">
    <label>SSH Key{{field-required}}</label>
    {{textarea value=newHost.ssh classNames="form-control no-resize" rows="6"}}
  </div>
</div>