<div class="content-box col-sm-12 col-md-12">
  <label class="text-muted">{{t 'aliasServicePartial.serviceLinks.labelText'}} (<small>{{#link-to 'service' service.environmentId service.id class=''}} {{t 'aliasServicePartial.serviceLinks.linkTo'}} {{/link-to}}</small>)</label>
  <div class="content">
    <label class="text-muted">{{t 'aliasServicePartial.links'}}</label>
    <ul class="list-unstyled">
      {{#each service.consumedServicesWithNames as |link|}}
        <li>
          {{#link-to 'service' link.service.environmentId link.service.id~}}
            {{#if (not (eq link.service.environmentId service.environmentId))}}{{link.service.displayEnvironment}}/{{/if}}
            {{~link.service.displayName~}}
          {{~/link-to}}
        </li>
      {{else}}
        <li class="text-muted">{{t 'aliasServicePartial.noLinks'}}</li>
      {{/each}}
    </ul>
    {{#if service.description}}
      <label class="text-muted r-mt10">{{t 'aliasServicePartial.description'}}:</label>
      {{service.description}}
    {{/if}}
  </div>
</div>
