<div id="underlay" class="underlay hide"></div>
<div id="loading-underlay" class="underlay"></div>
<div id="loading-overlay" class="loading-overlay">
  <div class="loading-box">
    <h3><i class="fa fa-spinner fa-spin fa-fw"></i> Loading&hellip;</h3>
  </div>
</div>
{{outlet "overlay"}}
{{outlet "error"}}
{{page-nav expand=navExpand}}
{{page-header pageName=pageName}}
<main>
  {{outlet}}
</main>
