{{log service}}
<div class="content-box col-sm-12 col-md-12">
  <label class="text-muted">{{t 'externalServicePartial.extService.labelText'}} (<small>{{#link-to 'service' service.stackId service.id class=''}} {{t 'externalServicePartial.extService.linkTo'}} {{/link-to}}</small>)</label>
  <div class="content">
    {{#if service.externalIpAddresses}}
      <label class="text-muted">{{t 'externalServicePartial.ips'}}</label>
      {{#if service.externalIpAddresses.length}}
        <ul class="list-unstyled" style="mergin:0 auto;">
          {{#each service.externalIpAddresses as |ip|}}
            <li style="display: inline-block;vertical-align: top;margin: 15px 10px;">
              <i class="icon icon-link"></i> {{ip}}
            </li>
          {{/each}}
        </ul>
      {{/if}}
    {{/if}}
    {{#if service.hostname}}
      <label class="text-muted">{{t 'externalServicePartial.hostname'}} </label>
      <div>
        {{service.hostname}}
      </div>
    {{/if}}
    {{#if service.description}}
      <label class="text-muted r-mt10">{{t 'externalServicePartial.description'}}</label>
      <div>
        {{service.description}}
      </div>
    {{/if}}
  </div>
</div>
