<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6">
    <div class="farm-box">
      <section>
        <h2 class="bg-danger">Error</h2>
        <h4 class="r-mt20">{{model.code}} {{#if model.status}}({{model.status}}){{/if}}</h4>
        <p>{{model.message}}</p>
        <p class="small">{{model.detail}}</p>
        <div class="r-mt20">
          <a href="#" onclick="window.location.href = window.location.href; return false;">Reload</a> to try again
          or <a class="hand" {{action "logout"}}>log out</a>
        </div>
      </section>
    </div>
  </div>
  <div class="col-sm-3"></div>
</div>
