<div class="col-sm-3 col-md-3">
  <label class="text-muted text-bold text-uppercase">State</label>
  <div class="content">
    <div class="state">
      <h3 class="{{service.stateColor}} text-capitalize">{{service.state}}</h3>
      {{#link-to 'service' service.id class='btn btn-success btn-xs r-mr15'}} View Details {{/link-to}}
      {{svg-action-menu model=service size='xs'}}
    </div>
    <label class="text-muted text-bold text-uppercase r-mt15">DNS Name</label>
    <div class="force-wrap">
      wiating for api
    </div>
    <label class="text-muted text-bold text-uppercase r-mt15">Default SSL Cert.</label>
    <div class="force-wrap">
      {{#if defaultCert}}
        {{defaultCert.name}}
      {{else}}
        <span class="text-muted">No Certificates</span>
      {{/if}}
    </div>
    <label class="text-muted text-bold text-uppercase r-mt15">Alternate SSL Cert.</label>
    <div class="force-wrap">
      <ul class="list-unstyled">
        {{#each secondaryCerts as |cert|}}
          <li>{{cert.name}}</li>
        {{else}}
          <li class="text-muted">No Certificates</li>
        {{/each}}
      </ul>
    </div>
  </div>
</div>
<div class="col-sm-3 col-md-3">
  <label class="text-muted text-bold text-uppercase">Containers ({{serviceContainers.primary.length}})</label>
  <div class="content">
    <div class="container-dots clearfix">
      {{#each serviceContainers.primary as |instance|}}
        {{container-dot model=instance}}
      {{/each}}
    </div>
    <div>
      <label class="text-muted text-bold text-uppercase">Scale</label>
      {{#if service.canScale}}
        <span class="r-ml20 r-mr20">{{service.scale}}</span>
        <button class="btn btn-default btn-sm" {{action "scaleUp" target=service}}><i class="icon icon-plus"></i></button>
        <button class="btn btn-default btn-sm" {{action "scaleDown" target=service}} disabled={{eq service.scale 1}}><i class="icon icon-minus"></i></button>
      {{else}}
        {{if service.isGlobalScale 'Global'}}
      {{/if}}
    </div>
  </div>
</div>
<div class="col-sm-3 col-md-3">
  <label class="text-muted text-bold text-uppercase">Listeners</label>
  <div class="content r-pr20" style="overflow:auto;">
    <table class="table-responsive grid no-lines tight">
      <thead>
        <tr>
          <th>Source Port</th>
          <th width="60">Protocol</th>
          <th width="50" class="text-center">SSL</th>
          <th>Default Target Port</th>
          <th width="50">Access</th>
        </tr>
      </thead>
      <tbody>
        {{#each listenersArray as |listener| }}
          <tr>
            <td>{{listener.sourcePort}}</td>
            <td>{{listener.sourceProtocol}}</td>
            <td>{{listener.ssl}}</td>
            <td>{{listener.targetPort}}</td>
            <td>{{listener.isPublic}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
<div class="col-sm-3 col-md-3">
  <label class="text-muted text-bold text-uppercase">Targets</label>
  <div class="content r-pr20" style="overflow:auto;">
    <table class="table-responsive grid no-lines tight">
      <thead>
        <tr>
          <th>Request Host</th>
          <th width="60">Source Port</th>
          <th width="50" class="text-center">Request Path</th>
          <th width="50">Target Service*</th>
          <th width="50">Target Port*</th>
        </tr>
      </thead>
      <tbody>
        {{#each targetsArray as |target| }}
          <tr>
            <td>{{target.hostname}}</td>
            <td>{{target.srcPort}}</td>
            <td>{{target.path}}</td>
            <td>{{target.value}}</td>
            <td>{{target.dstPort}}</td>
          </tr>
        {{/each}}
      </tbody>
    </table>
  </div>
</div>
