<section class="well">
  <h2>{{t 'openLdap.configuredIndication.header.providerName' providerName=providerName}} {{#if access.enabled}}<b>{{t 'openLdap.configuredIndication.header.enabled'}}</b>{{else}}<b class="text-warning">{{t 'openLdap.configuredIndication.header.disabled'}}</b>{{/if}}</h2>
  <div>
    {{#if access.enabled}}
      {{t 'openLdap.configuredIndication.header.subtext.enabled'
        appName=settings.appName
        providerName=providerName}}
    {{else}}
      {{t 'openLdap.configuredIndication.header.subtext.disabled' appName=settings.appName}}
    {{/if}}
  </div>
</section>

{{#if access.enabled}}
  <section class="well">
    <h4>{{t 'openLdap.accessEnabled.header'}}</h4>
    <hr/>
    <p class="help-block">{{t 'openLdap.accessEnabled.subtext'}}</p>

    <div class="row">
      <div class="col-md-4">
        <h4>{{t 'openLdap.accessEnabled.general.header'}}</h4>
        <div><b>{{t 'openLdap.accessEnabled.general.server'}} </b> <span class="text-muted">{{model.server}}:{{model.port}}</span></div>
        <div><b>{{t 'openLdap.accessEnabled.general.tls'}} </b> <span class="text-muted">{{if model.tls "Yes" "No"}}</span></div>
        <div><b>{{t 'openLdap.accessEnabled.general.serviceAccount'}} </b> <span class="text-muted">{{model.serviceAccountUsername}}</span></div>
        <div><b>{{t 'openLdap.accessEnabled.general.searchBase'}} </b> <span class="text-muted">{{model.domain}}</span></div>
        <div><b>{{t 'openLdap.accessEnabled.general.defaultDomain'}} </b> <span class="text-muted">{{model.loginDomain}}</span></div>
      </div>
      <div class="col-md-4">
        <h4>{{t 'openLdap.accessEnabled.users.header'}}</h4>
        <div><b>{{t 'openLdap.accessEnabled.users.objectClass'}} </b> <span class="text-muted">{{model.userObjectClass}}</span></div>
        <div><b>{{t 'openLdap.accessEnabled.users.login'}} </b> <span class="text-muted">{{model.userLoginField}}</span></div>
        <div><b>{{t 'openLdap.accessEnabled.users.name'}} </b> <span class="text-muted">{{model.userNameField}}</span></div>
        <div><b>{{t 'openLdap.accessEnabled.users.search'}} </b> <span class="text-muted">{{model.userSearchField}}</span></div>
        <div><b>{{t 'openLdap.accessEnabled.users.enabled'}} </b> <span class="text-muted">{{model.userEnabledAttribute}}</span></div>
        <div><b>{{t 'openLdap.accessEnabled.users.disabledBitMask'}} </b> <span class="text-muted">{{model.userDisabledBitMask}}</span></div>
      </div>
      <div class="col-md-4">
        <h4>{{t 'openLdap.accessEnabled.group.header'}}</h4>
        <div><b>{{t 'openLdap.accessEnabled.group.objectClass'}} </b> <span class="text-muted">{{model.groupObjectClass}}</span></div>
        <div><b>{{t 'openLdap.accessEnabled.group.name'}} </b> <span class="text-muted">{{model.groupNameField}}</span></div>
        <div><b>{{t 'openLdap.accessEnabled.group.search'}} </b> <span class="text-muted">{{model.groupSearchField}}</span></div>
      </div>
    </div>
  </section>

  <section class="well">
    <h4>{{format-html-message 'openLdap.accessEnabled.disable.header'}}</h4>
    <hr/>

    <p>
      {{format-html-message 'openLdap.accessEnabled.disable.warning' appName=settings.appName}}
    </p>

    {{#if confirmDisable}}
      <button class="btn btn-danger" {{action "disable"}}>
        <i class="icon icon-alert"></i> {{t 'openLdap.accessEnabled.disable.confirmDisable.post'}}
      </button>
    {{else}}
      <button class="btn btn-danger" {{action "promptDisable"}}>
        <i class="icon icon-umbrella"></i> {{t 'openLdap.accessEnabled.disable.confirmDisable.pre'}}
      </button>
    {{/if}}

  </section>
{{/if}}

{{#unless access.enabled}}
  <section class="well">
    <h4></h4>
    <h4>{{t 'openLdap.accessConfig.header' providerName=providerName}}</h4>
    <hr/>
    <p class="help-block">{{format-html-message 'openLdap.accessConfig.subtext1' providerName=providerName}}</p>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>{{t 'openLdap.accessConfig.hostName.labelText'}}</label>
          {{input type="text" value=model.server classNames="form-control"}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>{{t 'openLdap.accessConfig.port.labelText'}}</label>
          <div class="input-group">
            {{input type="text" value=model.port type="number" min=1 max=65535 classNames="form-control"}}
            <span class="input-group-addon">
              <label>{{t 'openLdap.accessConfig.port.checkbox'}} {{input type="checkbox" checked=model.tls}}</label>
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="checkbox">
        </div>
      </div>
    </div>

    <p class="help-block">{{t 'openLdap.accessConfig.subtext2' appName=settings.appName}}</p>
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label>{{t 'openLdap.accessConfig.serviceUsername.labelText'}}</label>
          {{input type="text" value=model.serviceAccountUsername classNames="form-control"}}
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label>{{t 'openLdap.accessConfig.servicePassword.labelText'}}</label>
          {{input type="password" value=model.serviceAccountPassword classNames="form-control"}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <p class="help-block">{{t 'openLdap.accessConfig.searchBase.helpText'}}</p>
          <label>{{t 'openLdap.accessConfig.searchBase.labelText'}}</label>
          {{input type="text" value=model.domain classNames="form-control" placeholder=(t 'openLdap.accessConfig.searchBase.placeholder')}}
        </div>
      </div>
      {{#unless isOpenLdap}}
        <div class="col-md-6">
          <p class="help-block">{{t 'openLdap.accessConfig.defaultDomain.helpText'}}</p>
          <div class="form-group">
            <label>{{t 'openLdap.accessConfig.defaultDomain.labelText'}}</label>
            {{input type="text" value=model.loginDomain classNames="form-control" placeholder=(t 'openLdap.accessConfig.defaultDomain.placeholder')}}
          </div>
        </div>
      {{/unless}}
    </div>
  </section>

  <section class="well">
    <h4>{{t 'openLdap.customizeSchema.header'}}</h4>
    <hr/>
    <p class="help-block">{{t 'openLdap.customizeSchema.helpText'}}</p>
    <div class="row">
      <div class="col-md-6">
        <h4>{{t 'openLdap.customizeSchema.users.header'}}</h4>
        <div class="form-group">
          <label>{{t 'openLdap.customizeSchema.users.objectClass.labelText'}}</label>
          {{input type="text" value=model.userObjectClass type="text" classNames="form-control"}}
        </div>
        <div class="form-group">
          <label>{{t 'openLdap.customizeSchema.users.login.labelText'}}</label>
          {{input type="text" value=model.userLoginField type="text" classNames="form-control"}}
        </div>
        <div class="form-group">
          <label>{{t 'openLdap.customizeSchema.users.name.labelText'}}</label>
          {{input type="text" value=model.userNameField type="text" classNames="form-control"}}
        </div>
        <div class="form-group">
          <label>{{t 'openLdap.customizeSchema.users.search.labelText'}}</label>
          {{input type="text" value=model.userSearchField type="text" classNames="form-control"}}
        </div>
        <div class="form-group">
          <label>{{t 'openLdap.customizeSchema.users.status.labelText'}}</label>
          {{input type="text" value=model.userEnabledAttribute type="text" classNames="form-control"}}
        </div>
        <div class="form-group">
          <label>{{t 'openLdap.customizeSchema.users.disabledBitMask.labelText'}}</label>
          {{input type="text" value=model.userDisabledBitMask type="number" min=1 classNames="form-control"}}
        </div>
      </div>
      <div class="col-md-6">
        <h4>{{t 'openLdap.customizeSchema.groups.header'}}</h4>
        <div class="form-group">
          <label>{{t 'openLdap.customizeSchema.groups.objectClass.labelText'}}</label>
          {{input type="text" value=model.groupObjectClass type="text" classNames="form-control"}}
        </div>
        <div class="form-group">
          <label>{{t 'openLdap.customizeSchema.groups.name.labelText'}}</label>
          {{input type="text" value=model.groupNameField type="text" classNames="form-control"}}
        </div>
        <div class="form-group">
          <label>{{t 'openLdap.customizeSchema.groups.search.labelText'}}</label>
          {{input type="text" value=model.groupSearchField type="text" classNames="form-control"}}
        </div>
      </div>
    </div>
  </section>

  <section class="well">
    <h4>{{t 'openLdap.testAuth.header'}}</h4>
    <hr/>
    <p class="help-block">{{t 'openLdap.testAuth.helpText' providerName=providerName}}</p>
    {{top-errors errors=errors}}

    <div class="row">
      <div class="col-md-4">
        <div class="form-group">
          <label>{{t 'openLdap.testAuth.userName.labelText'}}</label>
          {{input type="text" value=username classNames="form-control"}}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>{{t 'openLdap.testAuth.password.labelText'}}</label>
          {{input type="password" value=password classNames="form-control"}}
        </div>
      </div>
      <div class="col-md-4">
        <div class="form-group">
          <label>&nbsp;</label>
          <button disabled={{createDisabled}} class="btn btn-primary" style="display: block;" {{action "test"}}>
            {{#if testing}}
              <i class="icon icon-spinner icon-spin"></i> {{t 'openLdap.testAuth.authenticate.post'}}
            {{else}}
              {{t 'openLdap.testAuth.authenticate.pre'}}
            {{/if}}
          </button>
        </div>
      </div>
    </div>
  </section>
{{/unless}}

