<section>
    {{#if access.enabled}}
      <p>{{t 'ldap.header.enabled.label' providerName=(t providerName)}}</p>
    {{else}}
      <div class="banner bg-warning">
        <div class="banner-icon"><span class="icon icon-alert"></span></div>
        <div class="banner-message">
          <p>{{t 'ldap.header.disabled.label' providerName=(t providerName)}}</p>
         </div>
      </div>
    {{/if}}

  <div>
    {{#if access.enabled}}
      {{t (concat-str 'ldap.header.enabled.' model.accessMode character='') appName=settings.appName providerName=(t providerName) users=numUsers groups=numGroups}}
    {{else}}
      {{t 'ldap.header.disabled.warning' appName=settings.appName providerName=(t providerName)}}
    {{/if}}
  </div>
</section>

{{#if access.enabled}}
  <section class="box mt-30">
    <h3>{{t 'ldap.accessEnabled.header'}}</h3>
    <hr/>
    <p class="text-info">{{t 'ldap.accessEnabled.subtext'}}</p>

    <div class="row">
      <div class="col span-4">
        <h3>{{t 'ldap.accessEnabled.general.header'}}</h3>
        <div><b>{{t 'ldap.accessEnabled.general.server'}} </b> <span class="text-muted">{{model.server}}:{{model.port}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.general.tls'}} </b> <span class="text-muted">{{if model.tls "Yes" "No"}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.general.serviceAccount'}} </b> <span class="text-muted">{{model.serviceAccountUsername}}</span></div>
        {{#unless isOpenLdap}}
          <div><b>{{t 'ldap.accessEnabled.general.defaultDomain'}} </b> <span class="text-muted">{{model.loginDomain}}</span></div>
        {{/unless}}
      </div>
      <div class="col span-4">
        <h3>{{t 'ldap.accessEnabled.users.header'}}</h3>
        <div><b>{{t 'ldap.accessEnabled.general.searchBase'}} </b> <span class="text-muted">{{model.domain}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.users.objectClass'}} </b> <span class="text-muted">{{model.userObjectClass}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.users.login'}} </b> <span class="text-muted">{{model.userLoginField}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.users.name'}} </b> <span class="text-muted">{{model.userNameField}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.users.search'}} </b> <span class="text-muted">{{model.userSearchField}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.users.enabled'}} </b> <span class="text-muted">{{model.userEnabledAttribute}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.users.disabledBitMask'}} </b> <span class="text-muted">{{model.userDisabledBitMask}}</span></div>
      </div>
      <div class="col span-4">
        <h3>{{t 'ldap.accessEnabled.group.header'}}</h3>
        <div><b>{{t 'ldap.accessEnabled.general.searchBase'}} </b> <span class="text-muted">{{model.groupDomain}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.group.objectClass'}} </b> <span class="text-muted">{{model.groupObjectClass}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.group.name'}} </b> <span class="text-muted">{{model.groupNameField}}</span></div>
        <div><b>{{t 'ldap.accessEnabled.group.search'}} </b> <span class="text-muted">{{model.groupSearchField}}</span></div>
      </div>
    </div>
  </section>

  {{site-access
    model=model
    collection='siteAccess.organizations'
  }}

  <section class="box mt-30">
    <h3>{{t 'ldap.accessEnabled.disable.header' htmlSafe=true}}</h3>
    <hr/>

    <p>
      {{t 'ldap.accessEnabled.disable.warning' appName=settings.appName htmlSafe=true}}
    </p>

    {{#if confirmDisable}}
      <button class="btn bg-error" {{action "disable"}}>
        <i class="icon icon-alert"></i> {{t 'ldap.accessEnabled.disable.confirmDisable.post'}}
      </button>
    {{else}}
      <button class="btn bg-error" {{action "promptDisable"}}>
        <i class="icon icon-umbrella"></i> {{t 'ldap.accessEnabled.disable.confirmDisable.pre'}}
      </button>
    {{/if}}

  </section>
{{/if}}

{{#unless access.enabled}}
  <section class="box mt-30">
    <h3>{{t 'ldap.accessConfig.header' providerName=(t providerName)}}</h3>
    <hr/>
    <p class="text-info mb-0">{{t 'ldap.accessConfig.subtext1' providerName=(t providerName) htmlSafe=true}}</p>
    <div class="row">
      <div class="col span-6 mb-0">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'ldap.accessConfig.hostName.labelText'}}{{field-required}}</label>
          {{input value=model.server classNames="form-control"}}
        </div>
      </div>
      <div class="col span-6 mb-0">
        <label class="acc-label pb-5">{{t 'ldap.accessConfig.port.labelText'}}</label>
        <div class="input-group">
          {{input-integer value=model.port min=1 max=65535 classNames="form-control"}}
                      <span class="input-group-addon bg-default">
              <label>{{t 'ldap.accessConfig.port.checkbox'}} {{input type="checkbox" checked=model.tls}}</label>
            </span>
        </div>
      </div>
    </div>
    <hr class="mt-30 mb-30"/>
    <p class="text-info mb-0">{{t 'ldap.accessConfig.subtext2' appName=settings.appName}}</p>
    <div class="row">
      {{#unless isOpenLdap}}
        <div class="col span-4">
          <div class="inline-form">
            <label class="acc-label pb-5">{{t 'ldap.accessConfig.defaultDomain.labelText'}}</label>
            {{input value=model.loginDomain classNames="form-control" placeholder=(t 'ldap.accessConfig.defaultDomain.placeholder')}}
            <p class="help-block">{{t 'ldap.accessConfig.defaultDomain.helpText'}}</p>
          </div>
        </div>
      {{/unless}}
      <div class="col span-4">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'ldap.accessConfig.serviceUsername.labelText'}}{{field-required}}</label>
          {{input value=model.serviceAccountUsername classNames="form-control"}}
        </div>
      </div>
      <div class="col span-4">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'ldap.accessConfig.servicePassword.labelText'}}{{field-required}}</label>
          {{input type="password" value=model.serviceAccountPassword classNames="form-control"}}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col span-6">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'ldap.accessConfig.userSearchBase.labelText'}}{{field-required}}</label>
          {{input value=model.domain classNames="form-control" placeholder=(t 'ldap.accessConfig.userSearchBase.placeholder')}}
          <p class="help-block">{{t 'ldap.accessConfig.userSearchBase.helpText'}}</p>
        </div>
      </div>
      <div class="col span-6">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'ldap.accessConfig.groupSearchBase.labelText'}}{{field-required}}</label>
          {{input value=model.groupDomain classNames="form-control" placeholder=(t 'ldap.accessConfig.groupSearchBase.placeholder')}}
          <p class="help-block">{{t 'ldap.accessConfig.groupSearchBase.helpText'}}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="box mt-30">
    <h3>{{t 'ldap.customizeSchema.header'}}</h3>
    <hr/>
    <p class="text-info">{{t 'ldap.customizeSchema.helpText'}}</p>
    <div class="row">
      <div class="col span-6">
        <h3>{{t 'ldap.customizeSchema.users.header'}}</h3>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.users.objectClass.labelText'}}</label>
          {{input value=model.userObjectClass classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.users.login.labelText'}}</label>
          {{input value=model.userLoginField classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.users.name.labelText'}}</label>
          {{input value=model.userNameField classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.users.search.labelText'}}</label>
          {{input value=model.userSearchField classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.users.status.labelText'}}</label>
          {{input value=model.userEnabledAttribute classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.users.disabledBitMask.labelText'}}</label>
          {{input-integer value=model.userDisabledBitMask min=1 classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.users.userMemberAttribute.labelText'}}</label>
          {{input value=model.userMemberAttribute classNames="form-control"}}
        </div>
      </div>
      <div class="col span-6">
        <h3>{{t 'ldap.customizeSchema.groups.header'}}</h3>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.groups.objectClass.labelText'}}</label>
          {{input value=model.groupObjectClass classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.groups.name.labelText'}}</label>
          {{input value=model.groupNameField classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.groups.search.labelText'}}</label>
          {{input value=model.groupSearchField classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.groups.groupMemberUser.labelText'}}</label>
          {{input value=model.groupMemberUserAttribute classNames="form-control" placeholder=(t 'ldap.customizeSchema.groups.groupMemberUser.placeholder')}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.groups.groupMemberMapping.labelText'}}</label>
          {{input value=model.groupMemberMappingAttribute classNames="form-control"}}
        </div>
        <div class="pb-20">
          <label class="acc-label pb-5">{{t 'ldap.customizeSchema.groups.groupDN.labelText'}}</label>
          {{input value=model.groupDNField classNames="form-control" placeholder=(t 'ldap.customizeSchema.groups.groupDN.placeholder')}}
        </div>
      </div>
    </div>
  </section>

  <section class="box mt-30">
    <h3>{{t 'ldap.testAuth.header'}}</h3>
    <hr/>
    <p class="text-info">{{t 'ldap.testAuth.helpText' providerName=(t providerName)}}</p>
    {{top-errors errors=errors}}

    <div class="row">
      <div class="col span-5">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'ldap.testAuth.userName.labelText'}}{{field-required}}</label>
          {{input value=username classNames="form-control"}}
        </div>
      </div>
      <div class="col span-5">
        <div class="inline-form">
          <label class="acc-label pb-5">{{t 'ldap.testAuth.password.labelText'}}{{field-required}}</label>
          {{input type="password" value=password classNames="form-control"}}
        </div>
      </div>
      <div class="col span-2">
          <a style="height: 38px; line-height: 28px;" disabled={{createDisabled}} class="btn bg-primary mt-25"  {{action "test"}}>
            {{#if testing}}
              <i class="icon icon-spinner icon-spin"></i> {{t 'ldap.testAuth.authenticate.post'}}
            {{else}}
              {{t 'ldap.testAuth.authenticate.pre'}}
            {{/if}}
          </a>
      </div>
    </div>
  </section>
{{/unless}}

