<div class="content-box col-md-3 col-md-height col-md-full-height">
  <label class="text-muted">{{t 'serviceInfoPartial.info.label'}} (<small>{{#link-to 'service' service.stackId service.id class=''}} {{t 'serviceInfoPartial.info.linkTo'}} {{/link-to}}</small>)</label>
  <div class="content">
    <div class="state">
      <div class="pull-left">{{badge-state model=service}}</div>
      <div class="pull-right">{{action-menu model=service size='xs'}}</div>
    </div>
    <div>
      {{#if service.showTransitioningMessage}}
        <span class="{{service.stateColor}}">{{service.transitioningMessage}}</span>
      {{/if}}
    </div>

    <div>
      <label class="text-muted r-mt10">{{t 'serviceInfoPartial.image'}} </label>
      <span class="force-wrap">
        {{service.launchConfig.displayImage}}
      </span>
    </div>
    <div>
      <label class="text-muted r-mt10">{{t 'serviceInfoPartial.entryPoint'}} </label>
      <span class="force-wrap">
        {{#if service.launchConfig.entryPoint}}
          {{concat-str service.launchConfig.entryPoint}}
        {{else}}
          <span class="text-muted">{{t 'generic.none'}}</span>
        {{/if}}
      </span>
    </div>
    <div>
      <label class="text-muted r-mt10">{{t 'serviceInfoPartial.command'}} </label>
      <span class="force-wrap">
        {{#if service.launchConfig.command}}
          {{concat-str service.launchConfig.command}}
        {{else}}
          <span class="text-muted">{{t 'generic.none'}}</span>
        {{/if}}
      </span>
    </div>
    <div>
      {{#if service.description}}
        <label class="text-muted r-mt10">{{t 'serviceInfoPartial.description'}}</label>
        {{service.description}}
      {{/if}}
    </div>
  </div>
</div>
<div class="content-box col-md-3 col-md-height col-md-full-height">
  <label class="text-muted">{{t 'serviceInfoPartial.containers'}} ({{primaryContainers.length}})</label>
  <div class="content">
    <div class="container-dots clearfix">
      <div>
        <label class="text-muted">{{t 'serviceInfoPartial.scale'}}</label>
        {{#if service.canScale}}
          <span class="r-ml20 r-mr20">{{service.scale}}</span>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-default btn-xs" {{action "scaleDown" target=service}} disabled={{eq service.scale 1}}><i class="icon icon-minus"></i></button>
            <button class="btn btn-default btn-xs" {{action "scaleUp" target=service}}><i class="icon icon-plus"></i></button>
          </div>
        {{else}}
          {{if service.isGlobalScale (t 'serviceInfoPartial.global')}}
        {{/if}}
      </div>
      <div style="display:inline-block;">
        {{#each primaryContainers as |instance|}}
          {{container-dot model=instance}}
        {{else}}
          <span class="text-muted">{{t 'serviceInfoPartial.noContainers'}}</span>
        {{/each}}
      </div>

    </div>
  </div>
</div>
<div class="content-box col-md-3 col-md-height col-md-full-height">
  <label class="text-muted">{{t 'serviceInfoPartial.ports'}}</label>
  <div class="content" style="overflow: auto;">
    <ul class="list-unstyled">
      {{#each service.endpointsByPort as |endpoint|}}
        {{#each endpoint.ipAddresses as |ip|}}
          <li><a href="http://{{ip}}:{{endpoint.port}}" target="_blank">{{ip}}:{{endpoint.port}}</a></li>
        {{/each}}
      {{else}}
        <li class="text-muted">{{t 'serviceInfoPartial.noPublicPorts'}}</li>
      {{/each}}
    </ul>
  </div>
</div>
<div class="content-box col-md-3 col-md-height col-md-full-height">
  <label class="text-muted">{{t 'serviceInfoPartial.links'}}</label>

  {{#if service.fqdn}}
    <label class="text-muted">{{t 'serviceInfoPartial.fqdn'}}</label>
    <span>{{service.fqdn}} {{copy-to-clipboard clipboardText=service.fqdn size='small'}}</span>
  {{/if}}

  <div class="content">
    <ul class="list-unstyled">
      {{#each service.consumedServicesWithNames as |link|}}
        <li>{{consumed-service-link link=link stackId=service.stackId}}</li>
      {{else}}
        <li class="text-muted">{{t 'serviceInfoPartial.noLinks'}}</li>
      {{/each}}
    </ul>
  </div>
</div>

