<div class="content-box col-md-3 col-md-height col-md-full-height">
  <label class="text-muted">Info (<small>{{#link-to 'service' service.environmentId service.id class=''}} View Details {{/link-to}}</small>)</label>
  <div class="content">
    <div class="state">
      <div class="pull-left">{{badge-state model=service}}</div>
      <div class="pull-right">{{action-menu model=service size='xs'}}</div>
    </div>
    <div>

    </div>
    <div>
      <label class="text-muted r-mt10">Image: </label>
      <span class="force-wrap">
        {{service.launchConfig.displayImage}}
      </span>
    </div>
    <div>
      <label class="text-muted r-mt10">Entrypoint: </label>
      <span class="force-wrap">
        {{#if service.launchConfig.entryPoint}}
          {{concat-str service.launchConfig.entryPoint}}
        {{else}}
          <span class="text-muted">None</span>
        {{/if}}
      </span>
    </div>
    <div>
      <label class="text-muted r-mt10">Command: </label>
      <span class="force-wrap">
        {{#if service.launchConfig.command}}
          {{concat-str service.launchConfig.command}}
        {{else}}
          <span class="text-muted">None</span>
        {{/if}}
      </span>
    </div>
    <div>
      {{#if service.description}}
        <label class="text-muted r-mt10">Description:</label>
        {{service.description}}
      {{/if}}
    </div>
  </div>
</div>
<div class="content-box col-md-3 col-md-height col-md-full-height">
  <label class="text-muted">Containers ({{primaryContainers.length}})</label>
  <div class="content">
    <div class="container-dots clearfix">
      <div>
        <label class="text-muted">Scale</label>
        {{#if service.canScale}}
          <span class="r-ml20 r-mr20">{{service.scale}}</span>
          <div class="btn-group btn-group-xs">
            <button class="btn btn-default btn-xs" {{action "scaleDown" target=service}} disabled={{eq service.scale 1}}><i class="icon icon-minus"></i></button>
            <button class="btn btn-default btn-xs" {{action "scaleUp" target=service}}><i class="icon icon-plus"></i></button>
          </div>
        {{else}}
          {{if service.isGlobalScale 'Global'}}
        {{/if}}
      </div>
      <div style="display:inline-block;">
        {{#each primaryContainers as |instance|}}
          {{container-dot model=instance}}
        {{else}}
          <span class="text-muted">No Containers</span>
        {{/each}}
      </div>

    </div>
  </div>
</div>
<div class="content-box col-md-3 col-md-height col-md-full-height">
  <label class="text-muted">Ports</label>
  <div class="content" style="overflow: auto;">
    <ul class="list-unstyled">
      {{#each service.endpointsByPort as |endpoint|}}
        {{#each endpoint.ipAddresses as |ip|}}
          <li><a href="http://{{ip}}:{{endpoint.port}}">{{ip}}:{{endpoint.port}}</a></li>
        {{/each}}
      {{else}}
        <li class="text-muted">No public ports</li>
      {{/each}}
    </ul>
  </div>
</div>
<div class="content-box col-md-3 col-md-height col-md-full-height">
  <label class="text-muted">Links</label>

  {{#if service.fqdn}}
    <label class="text-muted">FQDN:</label>
    <span>{{service.fqdn}} {{copy-to-clipboard clipboardText=service.fqdn size='small'}}</span>
  {{/if}}

  <div class="content">
    <ul class="list-unstyled">
      {{#each service.consumedServicesWithNames as |link|}}
        <li>{{#link-to 'service' link.service.environmentId link.service.id}} {{link.service.name}} {{/link-to}}</li>
      {{else}}
        <li class="text-muted">No Links</li>
      {{/each}}
    </ul>
  </div>
</div>

