<section class="well">
  <h2>
    <b class="text-warning">{{t 'authPage.shibboleth.enabled.header' providerName=(t providerName)}}</b>
  </h2>
  <div>
    {{t (concat-str 'authPage.shibboleth.enabled.' model.accessMode character='') appName=settings.appName providerName=(t providerName) users=numUsers orgs=numOrgs}}
  </div>
</section>

<section class="well">
  <div class="row">
    <h3>{{t 'authPage.shibboleth.enabled.authenticated.header.text'}}</h3>
    <hr/>
    <div class="col-md-4 r-pl0">
      <div>
        <b>{{t 'authPage.shibboleth.enabled.displayName'}}</b> <span class="text-muted">{{config.displayNameField}}</span>
      </div>
      <div>
        <b>{{t 'authPage.shibboleth.enabled.userName'}}</b> <span class="text-muted">{{config.userNameField}}</span>
      </div>
    </div>
    <div class="col-md-4">
      <div>
        <b>{{t 'authPage.shibboleth.enabled.userId'}}</b> <span class="text-muted">{{config.uidField}}</span>
      </div>
      <div>
        <b>{{t 'authPage.shibboleth.enabled.groupsField'}}</b> <span class="text-muted">{{config.groupsField}}</span>
      </div>
    </div>
  </div>

</section>

{{site-access
  model=model
  collection='siteAccess.organizations'
}}

<section class="well">
  <h3>{{format-html-message 'authPage.shibboleth.enabled.disableAccess.header'}}</h3>
  <hr/>

  <p>
    {{format-html-message 'authPage.shibboleth.enabled.disableAccess.warning' appName=settings.appName}}
  </p>

  {{#if confirmDisable}}
    <button class="btn btn-danger" {{action "disable"}}>
      <i class="icon icon-alert"></i> {{t 'authPage.shibboleth.enabled.disableAccess.confirmDisable'}}
    </button>
  {{else}}
    <button class="btn btn-danger" {{action "promptDisable"}}>
      <i class="icon icon-umbrella"></i> {{t 'authPage.shibboleth.enabled.disableAccess.disable'}}
    </button>
  {{/if}}

</section>
