<div class="well">
  <label class="section">Storage</label>
  {{#if view.stats.available}}
    {{#if view.stats.active}}
      <table class="grid fixed" width="100%">
        <thead>
          <tr>
            <th>Device</th>
            <th width="100">Size</th>
            <th width="120">Usage</th>
          </tr>
        </thead>
        <tbody>
        {{#each fs in view.stats.filesystem}}
          <tr>
            <td>{{fs.device}}</td>
            <td>{{fs.size_gb}} GB</td>
            <td>
              {{progress-bar value=fs.used_percent textSuffix="% Used"}}
            </td>
          </tr>
        {{/each}}
        </tbody>
      </table>
    {{else}}
      <div style="padding: 20px; text-align: center;" class="text-muted">
        <i class="fa fa-spinner fa-spin"></i> Connecting...
      </div>
    {{/if}}
  {{else}}
    <div style="padding: 20px; text-align: center;" class="text-muted">
      Storage utilization is available only when active.
    </div>
  {{/if}}
</div>
