<div class="tooltip-content-inner tooltip-dot">
  {{action-menu model=model showPrimary=false inTooltip=true class="pull-right tooltip-more-actions"}}

  <div class="display-name"><a href="{{href-to 'pod' model.id}}">{{displayName}}</a></div>

  <div class="clearfix">
    <div class="pull-right">{{badge-state classNames="btn-xs" model=model}}</div>
    <div class="display-ip pull-left pr-5">{{format-ip model.displayIp}}</div>
    {{#if model.node.displayName}}
      <div class="display-ip pull-left pr-5">
        {{model.node.displayName}}
      </div>
    {{/if}}
  </div>

  {{#if model.showTransitioningMessage}}
    <div class="text-small bg-body p-5 mt-5 force-wrap {{model.stateColor}}">{{uc-first model.transitioningMessage}}</div>
  {{/if}}
</div>
