<h1>{{#if editing}}Edit Registry{{else}}Add Private Registry{{/if}}</h1>

<div class="row">
  <div class="col-md-6">
    <div class="form-group">
      <label for="serverAddress">Registry Address</label>
      {{#if editing}}
        <div class="form-control-static">{{serverAddress}}</div>
      {{else}}
        {{input id="serverAddress" type="text" value=serverAddress classNames="form-control" placeholder="e.g. index.docker.io"}}
      {{/if}}
    </div>

    <div class="form-group">
      <label for="name">Name</label>
      {{input id="name" type="text" value=name classNames="form-control" placeholder="e.g. MyCompany Registry"}}
    </div>
  </div>
  <div class="col-md-6">
    <div class="form-group">
      <label for="description">Description</label>
      {{textarea id="description" value=description classNames="form-control no-resize" rows="5" placeholder="e.g. This registry stores all MyCompany images"}}
    </div>
  </div>
</div>

{{#unless editing}}
  <div class="row form-group">
    <div class="col-xs-6 col-md-2 form-label">
      <label class="form-control-static">Credentials</label>
    </div>
    <div class="col-xs-2 col-md-4">
      <div class="form-control-static clearfix">
        <button class="btn-circle-plus" {{action "addCredential" target="view"}}></button>
      </div>
    </div>
  </div>
  {{#if credentials.length}}
    <table class="table fixed no-lines no-top-padding tight">
      <tr class="text-muted">
        <th>Email</th>
        <th width="30">&nbsp;</th>
        <th>Username</th>
        <th width="30">&nbsp;</th>
        <th>Password</th>
        <th width="30">&nbsp;</th>
        <th width="30">&nbsp;</th>
      </tr>
      {{#each credential in credentials}}
        <tr>
          <td>
            {{input type="text" class="form-control input-sm email" value=credential.email placeholder="e.g. you@domain.com"}}
          </td>
          <td>&nbsp;</td>
          <td>
            {{input type="text" class="form-control input-sm" value=credential.publicValue placeholder="e.g. username"}}
          </td>
          <td>&nbsp;</td>
          <td>
            {{input type="text" class="form-control input-sm" value=credential.secretValue placeholder="e.g. password"}}
          </td>
          <td>&nbsp;</td>
          <td>
            <button {{action "removeCredential" vol}} class="btn-circle-x" type="button" tabindex="-1"></button>
          </td>
        </tr>
      {{/each}}
    </table>
  {{else}}
    <div class="text-muted">If your registry requires authentication, add one or more credentials here.</div>
  {{/if}}
{{/unless}}

{{partial "save-cancel"}}

