<section class="header clearfix">
  <h1>{{t 'newExternalService.header'}} {{help-btn link="/cattle/adding-external-services/"}}</h1>
</section>

<section class="horizontal-form container-fluid well">
  {{form-name-description
    model=service
    namePlaceholder="editExternalService.name.placeholder"
    descriptionPlaceholder="editExternalService.description.placeholder"
  }}
</section>

<section class="horizontal-form container-fluid well">
  {{form-target-ip
    service=service
  }}
</section>

<section class="horizontal-form container-fluid well">
  {{form-healthcheck
    isService=true
    showStrategy=false
    healthCheck=service.healthCheck
  }}
  <div class="alert alert-info">{{t 'newExternalService.alert'}}</div>
</section>

{{top-errors errors=errors}}
{{save-cancel save="save" cancel="cancel"}}
