<section class="header">
  <h1>Add External Service {{help-btn link="/rancher-ui/applications/stacks/adding-external-services/"}}</h1>
</section>

<section class="horizontal-form container-fluid well">
  {{form-name-description
    model=service
    namePlaceholder="editExternalService.name.placeholder"
    descriptionPlaceholder="editExternalService.description.placeholder"
  }}
</section>

<section class="horizontal-form container-fluid well">
  {{form-target-ip
    service=service
  }}
</section>

<section class="horizontal-form container-fluid well">
  {{form-healthcheck
    isService=true
    showStrategy=false
    healthCheck=service.healthCheck
  }}
  <div class="alert alert-info">Note: This will only be used if the external service is a target of a load balancer.</div>
</section>

{{top-errors errors=errors}}
{{save-cancel save="save" cancel="cancel"}}
