<section class="header">
  <h1>Add External Service {{help-btn "/rancher-ui/applications/stacks/adding-external-services/"}}</h1>
</section>

<section class="horizontal-form container-fluid well">
  {{form-name-description
    model=service
    namePlaceholder="e.g. external-db"
    descriptionPlaceholder="e.g. External physical database server"
  }}
</section>

<section class="horizontal-form container-fluid well">
  {{form-target-ip
    service=service
  }}
</section>

<section class="horizontal-form container-fluid well">
  {{form-healthcheck
    isService=true
    healthCheck=service.healthCheck
  }}
</section>

{{top-errors errors=errors}}
{{partial "save-cancel"}}
