<section class="horizontal-form">
  <form>
    <div class="container-fluid">
      <div class="over-hr r-mb20">
        <span>{{t 'machine.driverAmazon.accessSection'}}</span>
      </div>

      <div class="row {{if isStep1 'form-group'}}">
        <div class="col-md-2 form-label">
          <label class="form-control-static">{{t 'machine.driverAmazon.region.label'}}</label>
        </div>
        <div class="col-md-8">
          {{#if isStep1}}
            <select class="form-control" onchange={{action (mut amazonec2Config.region) value="target.value"}}>
              {{#each regionChoices as |choice|}}
                <option value={{choice}} selected={{eq amazonec2Config.region choice}}>{{choice}}</option>
              {{/each}}
            </select>
          {{else}}
            <div class="form-control-static">{{amazonec2Config.region}}</div>
          {{/if}}
        </div>
      </div>
      <div class="row {{if isStep1 'form-group'}}">
        <div class="col-md-2 form-label">
          <label class="form-control-static">{{t 'machine.driverAmazon.accessKey.label'}}</label>
        </div>
        <div class="col-md-8">
          {{#if isStep1}}
            {{input type="text" name="username" classNames="form-control" placeholder=(t 'machine.driverAmazon.accessKey.placeholder') value=amazonec2Config.accessKey}}
          {{else}}
            <div class="form-control-static">{{amazonec2Config.accessKey}}</div>
          {{/if}}
        </div>
      </div>
      <div class="row {{if isStep1 'form-group'}}">
        <div class="col-md-2 form-label">
          <label class="form-control-static">{{t 'machine.driverAmazon.secretKey.label'}}</label>
        </div>
        <div class="col-md-8">
          {{#if isStep1}}
            {{input type="password" name="password" classNames="form-control" placeholder=(t 'machine.driverAmazon.secretKey.placeholder') value=amazonec2Config.secretKey}}
          {{else}}
            <div class="form-control-static text-muted text-italic">{{t 'machine.driverAmazon.secretKey.provided'}}</div>
          {{/if}}
          {{#if isStep1}}
            <p class="help-block">{{t 'machine.driverAmazon.accessKeyHelp'}}</p>
          {{/if}}
        </div>
      </div>
    </div>
    {{#if isStep1}}
      {{top-errors errors=errors}}

      <div class="footer-actions">
        <button {{action "awsLogin"}} name="submit" class="btn btn-primary">{{t 'machine.driverAmazon.loginAction'}}</button>
        <button {{action "cancel"}} class="btn btn-link">{{t 'generic.cancel'}}</button>
      </div>
    {{/if}}
  </form>
</section>

<section class="horizontal-form {{unless isStep2 'hide'}}" style="padding-top: 0">
  <div class="text-center">
    <i class="icon icon-spinner icon-spin"></i> {{t 'machine.driverAmazon.loadingAvailability'}}
  </div>
</section>

<section class="horizontal-form {{unless isGteStep3 'hide'}}" style="padding-top: 0">
  <div class="container-fluid">
    <div class="over-hr r-mt20 r-mb20">
      <span>{{t 'machine.driverAmazon.vpcSection'}}</span>
    </div>
    <div class="row {{if isStep3 'form-group'}}">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAmazon.availabilityZone'}}</label>
      </div>
      <div class="col-md-8">
        {{#if isStep3}}
          <select class="form-control" onchange={{action (mut selectedZone) value="target.value"}}>
            {{#each zoneChoices as |choice|}}
              <option value={{choice}} selected={{eq selectedZone choice}}>{{choice}}</option>
            {{/each}}
          </select>
        {{else}}
          <div class="form-control-static">
            {{amazonec2Config.region}}{{amazonec2Config.zone}}
          </div>
        {{/if}}
      </div>
    </div>
    <div class="row {{if isStep3 'form-group'}}">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAmazon.subnet'}}</label>
      </div>
      <div class="col-md-8">
        {{#if isStep3}}
          {{#if subnetChoices.length}}
            {{#each subnetChoices as |choice|}}
              {{#if choice.isVpc}}
                <div class="radio"><label class="text-bold">
                  {{radio-button selection=selectedSubnet value=choice.value}} {{choice.label}}
                </label></div>
              {{else}}
                <div class="radio"><label class="text-bold" style="margin-left: 20px;">
                  {{radio-button selection=selectedSubnet value=choice.value}} {{choice.label}}
                </label></div>
              {{/if}}
            {{/each}}
          {{/if}}
        {{else}}
          <div class="form-control-static">
            {{#if amazonec2Config.subnetId}}
              {{amazonec2Config.subnetId}}
            {{else}}
              {{amazonec2Config.vpcId}}
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  {{#if isStep3}}
    {{top-errors errors=errors}}

    <div class="footer-actions">
      <button {{action "selectSubnet"}} class="btn btn-primary">{{t 'machine.driverAmazon.securityGroupSelect'}}</button>
      <button {{action "cancel"}} class="btn btn-link">{{t 'generic.cancel'}}</button>
    </div>
  {{/if}}
</section>

<section class="horizontal-form {{unless isStep4 'hide'}}" style="padding-top: 0">
  <div class="text-center">
    <i class="icon icon-spinner icon-spin"></i> {{t 'machine.driverAmazon.loadingSecurity'}}
  </div>
</section>

<section class="horizontal-form {{unless isGteStep5 'hide'}}" style="padding-top: 0">
  <div class="container-fluid">
    <div class="over-hr r-mt20 r-mb20">
      <span>{{t 'machine.driverAmazon.securityGroupSection'}}</span>
    </div>

    <div class="row {{if isStep5 'form-group'}}">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAmazon.securityGroup.label'}}</label>
      </div>
      <div class="col-md-8">
        {{#if isStep5}}
          <div class="radio r-pt10">
            <label>
              {{radio-button selection=whichSecurityGroup value="default"}}
              {{#if defaultSecurityGroup}}
                {{format-html-message 'machine.driverAmazon.securityGroup.defaultExisting' groupName=defaultSecurityGroupName}}
              {{else}}
                {{format-html-message 'machine.driverAmazon.securityGroup.defaultCreate' groupName=defaultSecurityGroupName}}
              {{/if}}
            </label>
          </div>

          {{#if (and settings.isRancher (not isCustomSecurityGroup))}}
            <p class="help-block r-ml20"><a href="{{settings.docsBase}}/hosts/amazon/#required-ports-for-rancher-to-work" target="_blank">{{t 'machine.driverAmazon.portHelp.link'}}</a> {{t 'machine.driverAmazon.portHelp.text'}}</p>
          {{/if}}

          <div class="radio">
            <label>
              {{radio-button selection=whichSecurityGroup value="custom"}}
              {{t 'machine.driverAmazon.securityGroup.custom'}}
            </label>
          </div>

          {{#if isCustomSecurityGroup}}
            <select class="form-control existing-security-groups" multiple="true" onchange={{action 'multiSecurityGroupSelect' ''}}>
              {{#each allSecurityGroups as |choice|}}
                <option value={{choice.name}} selected={{include selectedSecurityGroup choice.name}}>{{choice.name}} ({{choice.id}})</option>
              {{/each}}
            </select>

            <p style="r-m0 r-mt10">{{t 'machine.driverAmazon.needs.label' appName=settings.appName}}</p>
            <ul>
              <li>{{format-html-message 'machine.driverAmazon.needs.item1' appName=settings.appName}}</li>
              <li>{{format-html-message 'machine.driverAmazon.needs.item2' appName=settings.appName}}</li>
              <li>{{format-html-message 'machine.driverAmazon.needs.item3' appName=settings.appName}}</li>
            </ul>
          {{/if}}
        {{else}}
          <div class="form-control-static">
            {{#if (is-array amazonec2Config.securityGroup)}}
              <div class="comma-seperated-list">
                {{#each amazonec2Config.securityGroup as |group|}}
                  <span>{{group}}</span>
                {{/each}}
              </div>
            {{else}}
              {{amazonec2Config.securityGroup}}
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  {{#if isStep5}}
    {{top-errors errors=errors}}

    <div class="footer-actions">
      <button {{action "selectSecurityGroup"}} class="btn btn-primary">{{t 'machine.driverAmazon.setInstanceAction'}}</button>
      <button {{action "cancel"}} class="btn btn-link">{{t 'generic.cancel'}}</button>
    </div>
  {{/if}}
</section>

<section class="horizontal-form {{unless isStep6 'hide'}}" style="padding-top: 0">
  <div class="text-center">
    <i class="icon icon-spinner icon-spin"></i>
    {{#if defaultSecurityGroup}}
      {{t 'machine.driverAmazon.securityGroup.updating'}}
    {{else}}
      {{t 'machine.driverAmazon.securityGroup.creating'}}
    {{/if}}
  </div>
</section>

<section class="horizontal-form {{unless isGteStep7 'hide'}}" style="padding-top: 0;">
  <div class="container-fluid">
    <div class="over-hr r-mt20 r-mb20">
      <span>{{t 'machine.driverAmazon.instanceSection'}}</span>
    </div>

    {{partial "host/add-common"}}

    <div class="over-hr r-mt20 r-mb20">
      <span>{{t 'machine.driverAmazon.instanceOptionsSection'}}</span>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAmazon.instanceType.label'}}</label>
      </div>
      <div class="col-md-4">
        <select class="form-control" onchange={{action (mut amazonec2Config.instanceType) value="target.value"}}>
          {{#each instanceTypes as |choice|}}
            <option value={{choice}} selected={{eq amazonec2Config.instanceType choice}}>{{choice}}</option>
          {{/each}}
        </select>
      </div>
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAmazon.rootSize.label'}}</label>
      </div>
      <div class="col-md-4">
        <div class="input-group">
          {{input type="text" classNames="form-control" placeholder="" value=amazonec2Config.rootSize}}
          <span class="input-group-addon">{{t 'machine.driverAmazon.rootSize.unit'}}</span>
        </div>
      </div>
    </div>

    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAmazon.ami.label'}}</label>
      </div>
      <div class="col-md-4">
        {{input type="text" classNames="form-control" placeholder=(t 'machine.driverAmazon.ami.placeholder') value=amazonec2Config.ami}}
        {{#if settings.isRancher}}
          <p class="help-block">
            <a href="https://github.com/rancher/os/blob/master/README.md/#user-content-amazon" target="_blank">{{t 'machine.driverAmazon.ami.rancherList'}}</a>
          </p>
        {{/if}}
      </div>
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAmazon.sshUser.label'}}</label>
      </div>
      <div class="col-md-4">
        {{input type="text" classNames="form-control" placeholder=(t 'machine.driverAmazon.sshUser.placeholder') value=amazonec2Config.sshUser}}
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAmazon.iam.label'}}</label>
      </div>
      <div class="col-md-4">
        {{input type="text" classNames="form-control" value=amazonec2Config.iamInstanceProfile}}
      </div>
      <div class="col-md-2 form-label">
        <label class="form-control-static">{{t 'machine.driverAmazon.privateIp.label'}}</label>
      </div>
      <div class="col-md-4">
        <div class="checkbox form-control-static">
          <label>{{input type="checkbox" checked=amazonec2Config.privateAddressOnly}} {{t 'machine.driverAmazon.onlyPrivate.label'}}</label>
        </div>
      </div>
    </div>

    {{#if model}}
      {{partial "host/add-options"}}
    {{/if}}
  </div>

  {{top-errors errors=errors}}
  {{save-cancel save="save" cancel="cancel"}}
</section>
