<section class="horizontal-form">
  <form>
    <div class="container-fluid">
      {{#if showNameScale}}
        <div class="box mt-20">
          <h4>{{t 'machine.driverAmazon.instanceSection'}}</h4>
          <div class="row">
            {{partial "host/add-common"}}
          </div>
        </div>
      {{/if}}

      <div class="box mt-30">
        <h4>{{t 'machine.driverAmazon.accessSection'}}</h4>
        <div class="row">
          <div class="col span-4 {{if isStep1 'inline-form'}}">
              <label class="acc-label">{{t 'machine.driverAmazon.region.label'}}</label>
              {{#if isStep1}}
                <select class="form-control" onchange={{action (mut amazonec2Config.region) value="target.value"}}>
                  {{#each regionChoices as |choice|}}
                    <option value={{choice}} selected={{eq amazonec2Config.region choice}}>{{choice}}</option>
                  {{/each}}
                </select>
              {{else}}
                <div>{{amazonec2Config.region}}</div>
              {{/if}}
          </div>
          <div class="col span-4 {{if isStep1 'inline-form'}}">
              <label class="acc-label">{{t 'machine.driverAmazon.accessKey.label'}}</label>
              {{#if isStep1}}
                {{input type="text" name="username" classNames="form-control" placeholder=(t 'machine.driverAmazon.accessKey.placeholder') value=amazonec2Config.accessKey}}
              {{else}}
                <div>{{amazonec2Config.accessKey}}</div>
              {{/if}}
          </div>
          <div class="col span-4 {{if isStep1 'inline-form'}}">
              <label class="acc-label">{{t 'machine.driverAmazon.secretKey.label'}}</label>
              {{#if isStep1}}
                {{input type="password" name="password" classNames="form-control" placeholder=(t 'machine.driverAmazon.secretKey.placeholder') value=model.secretValues.amazonec2Config.secretKey}}
              {{else}}
                <div class="text-muted text-italic">{{t 'machine.driverAmazon.secretKey.provided'}}</div>
              {{/if}}
          </div>
        </div>
        <div class="row">
          <div class="span-8 offset-4">
            {{#if isStep1}}
              <p class="text-info text-small m-0">{{t 'machine.driverAmazon.accessKeyHelp'}}</p>
            {{/if}}
          </div>
        </div>
      </div>
    </div>
    {{#if isStep1}}
      {{top-errors errors=errors}}

      <div class="footer-actions">
        <button {{action "awsLogin"}} name="submit" class="btn bg-primary">{{t 'machine.driverAmazon.loginAction'}}</button>
        <button {{action "cancel"}} class="btn bg-transparent">{{t 'generic.cancel'}}</button>
      </div>
    {{/if}}
  </form>
</section>

<section class="horizontal-form {{unless isStep2 'hide'}}">
  <div class="text-center p-20">
    <i class="icon icon-spinner icon-spin"></i> {{t 'machine.driverAmazon.loadingAvailability'}}
  </div>
</section>

<section class="horizontal-form {{unless isGteStep3 'hide'}}" style="padding-top: 0">
  <div class="box mt-20">
      <h4>{{t 'machine.driverAmazon.vpcSection'}}</h4>
    <div class="row {{if isStep3 'inline-form'}}">
      <label class="acc-label">{{t 'machine.driverAmazon.availabilityZone'}}</label>
      {{#if isStep3}}
        <select class="form-control" onchange={{action (mut selectedZone) value="target.value"}}>
          {{#each zoneChoices as |choice|}}
            <option value={{choice}} selected={{eq selectedZone choice}}>{{choice}}</option>
          {{/each}}
        </select>
      {{else}}
        <div>
          {{amazonec2Config.region}}{{amazonec2Config.zone}}
        </div>
      {{/if}}
    </div>
    <div class="row {{if isStep3 'inline-form'}}">
      <div class="col span-2 col-inline">
        <label class="acc-label">{{t 'machine.driverAmazon.subnet'}}</label>
      </div>
      <div class="col span-10">
        {{#if isStep3}}
          {{#if subnetChoices.length}}
            {{#each subnetChoices as |choice|}}
              {{#if choice.isVpc}}
                <div class="radio">
                  <label class="acc-label pb-0">{{radio-button selection=selectedSubnet value=choice.value}} {{choice.label}}</label>
                </div>
              {{else}}
                <div class="radio">
                <label class="ml-20">
                  {{radio-button selection=selectedSubnet value=choice.value}} {{choice.label}}
                </label>
                </div>
                <hr class="mt-20 mb-20" />
              {{/if}}
            {{/each}}
          {{/if}}
        {{else}}
          <div>
            {{#if amazonec2Config.subnetId}}
              {{amazonec2Config.subnetId}}
            {{else}}
              {{amazonec2Config.vpcId}}
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  {{#if isStep3}}
    {{top-errors errors=errors}}

    <div class="footer-actions">
      <button {{action "selectSubnet"}} class="btn bg-primary">{{t 'machine.driverAmazon.securityGroupSelect'}}</button>
      <button {{action "cancel"}} class="btn bg-transparent">{{t 'generic.cancel'}}</button>
    </div>
  {{/if}}
</section>

<section class="horizontal-form {{unless isStep4 'hide'}}" style="padding-top: 0">
  <div class="text-center">
    <i class="icon icon-spinner icon-spin"></i> {{t 'machine.driverAmazon.loadingSecurity'}}
  </div>
</section>

<section class="horizontal-form {{unless isGteStep5 'hide'}}" style="padding-top: 0">
  <div class="box mt-20">
    <span>{{t 'machine.driverAmazon.securityGroupSection'}}</span>

    <div class="row {{if isStep5 'inline-form'}}">
      <div class="col span-2 col-inline">
        <label class="acc-label">{{t 'machine.driverAmazon.securityGroup.label'}}</label>
      </div>
      <div class="col span-8">
        {{#if isStep5}}

          {{#if (and settings.isRancher (not isCustomSecurityGroup))}}
            <p class="text-info ml-20"><a href="{{settings.docsBase}}/hosts/amazon/#required-ports-for-rancher-to-work" target="_blank">{{t 'machine.driverAmazon.portHelp.link'}}</a> {{t 'machine.driverAmazon.portHelp.text'}}</p>
          {{/if}}

          <div class="radio pt-10">
            <label class="acc-label">
              {{t 'machine.driverAmazon.securityGroup.choose'}}
            </label>
          </div>

          {{#if isCustomSecurityGroup}}
            <select class="form-control existing-security-groups" multiple="true" onchange={{action 'multiSecurityGroupSelect' ''}}>
              {{#each allSecurityGroups as |choice|}}
                <option value={{choice.name}} selected={{include selectedSecurityGroup choice.name}}>{{choice.name}} ({{choice.id}})</option>
              {{/each}}
            </select>

            <p style="m-0 mt-10">{{t 'machine.driverAmazon.needs.label' appName=settings.appName}}</p>
            <ul>
              <li>{{t 'machine.driverAmazon.needs.item1' appName=settings.appName htmlSafe=true}}</li>
              <li>{{t 'machine.driverAmazon.needs.item2' appName=settings.appName htmlSafe=true}}</li>
              <li>{{t 'machine.driverAmazon.needs.item3' appName=settings.appName htmlSafe=true}}</li>
            </ul>
          {{/if}}
        {{else}}
          <div>
            {{#if (is-array amazonec2Config.securityGroup)}}
              <div class="comma-seperated-list">
                {{#each amazonec2Config.securityGroup as |group|}}
                  <span>{{group}}</span>
                {{/each}}
              </div>
            {{else}}
              {{amazonec2Config.securityGroup}}
            {{/if}}
          </div>
        {{/if}}
      </div>
    </div>
  </div>
  {{#if isStep5}}
    {{top-errors errors=errors}}

    <div class="footer-actions">
      <button {{action "selectSecurityGroup"}} class="btn bg-primary">{{t 'machine.driverAmazon.setInstanceAction'}}</button>
      <button {{action "cancel"}} class="btn bg-transparent">{{t 'generic.cancel'}}</button>
    </div>
  {{/if}}
</section>

<section class="horizontal-form {{unless isStep6 'hide'}}" style="padding-top: 0">
  <div class="text-center">
    <i class="icon icon-spinner icon-spin"></i>
    {{#if defaultSecurityGroup}}
      {{t 'machine.driverAmazon.securityGroup.updating'}}
    {{else}}
      {{t 'machine.driverAmazon.securityGroup.creating'}}
    {{/if}}
  </div>
</section>

<section class="horizontal-form {{unless isGteStep7 'hide'}}" style="padding-top: 0;">
  <div class="container-fluid">
    <div class="over-hr mt-20 mb-20">
      <span>{{t 'machine.driverAmazon.instanceOptionsSection'}}</span>
    </div>
    <div class="box">
    <div class="row">
     <div class="col span-6">
        <label class="acc-label">{{t 'machine.driverAmazon.instanceType.label'}}</label>
        {{new-select
          classNames="form-control"
          value=amazonec2Config.instanceType
          content=instanceTypes
          optionValuePath="name"
          optionLabelPath="name"
          optionGroupPath="group"
        }}
      </div>

      <div class="col span-6">
        <label class="acc-label">{{t 'machine.driverAmazon.rootSize.label'}}</label>
        <div class="input-group">
          {{input type="text" classNames="form-control" placeholder="" value=amazonec2Config.rootSize}}
          <span class="input-group-addon bg-default">{{t 'machine.driverAmazon.rootSize.unit'}}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col span-6">
        <label class="acc-label">{{t 'machine.driverAmazon.ami.label'}}</label>
        {{input type="text" classNames="form-control" placeholder=(t 'machine.driverAmazon.ami.placeholder') value=amazonec2Config.ami}}
        {{#if settings.isRancher}}
          <p class="help-block">
            <a href="https://github.com/rancher/os/blob/master/README.md/#user-content-amazon" target="_blank">{{t 'machine.driverAmazon.ami.rancherList'}}</a>
          </p>
        {{/if}}
      </div>

      <div class="col span-6">
        <label class="acc-label">{{t 'machine.driverAmazon.sshUser.label'}}</label>
        {{input type="text" classNames="form-control" placeholder=(t 'machine.driverAmazon.sshUser.placeholder') value=amazonec2Config.sshUser}}
      </div>
    </div>

    <div class="row">
      <div class="col span-6">
        <label class="acc-label">{{t 'machine.driverAmazon.iam.label'}}</label>
        {{input type="text" classNames="form-control" value=amazonec2Config.iamInstanceProfile}}
      </div>

      <div class="col span-6">
        <label class="acc-label">{{t 'machine.driverAmazon.privateIp.label'}}</label>
        <div class="checkbox">
          <label class="acc-label">{{input type="checkbox" checked=amazonec2Config.privateAddressOnly}} {{t 'machine.driverAmazon.onlyPrivate.label'}}</label>
        </div>
      </div>
    </div>

    {{#if model}}
      {{partial "host/add-options"}}
    {{/if}}
    </div>
  </div>

  {{top-errors errors=errors}}
  {{save-cancel save=driverSaveAction cancel="cancel"}}
</section>
