<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">{{t 'formCommand.command.label'}}</label>
  </div>

  <div class="col-sm-12 col-md-8">
    {{input-command class="form-control" type="text" changed=(action (mut instance.command)) initialValue=instance.command placeholder=(t 'formCommand.command.placeholder')}}
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">{{t 'formCommand.entryPoint.label'}}</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{input-command class="form-control" type="text" changed=(action (mut instance.entryPoint)) initialValue=instance.entryPoint placeholder=(t 'formCommand.entryPoint.placeholder')}}
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">{{t 'formCommand.workingDir.label'}}</label>
  </div>
  <div class="col-sm-12 col-md-4">
    {{input type="text" value=instance.workingDir classNames="form-control" placeholder=(t 'formCommand.workingDir.placeholder')}}
  </div>
  <div class="col-sm-12 col-md-1 form-label" style="text-align: left">
    <label class="form-control-static">{{t 'formCommand.user.label'}}</label>
  </div>
  <div class="col-sm-12 col-md-3">
    {{input type="text" value=instance.user classNames="form-control" placeholder=(t 'formCommand.user.placeholder')}}
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-md-2 form-label">
    <label>{{t 'formCommand.console.label'}}</label>
  </div>

  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="radio small">
      <label>{{radio-button selection=terminal value="both"}} {{format-html-message 'formCommand.console.both'}}</label>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="radio small">
      <label>{{radio-button selection=terminal value="interactive"}} {{format-html-message 'formCommand.console.interactive'}}</label>
    </div>
  </div>
</div>
<div class="row form-group">
  <div class="hidden-xs hidden-sm col-md-2 form-label">&nbsp;</div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="radio small">
      <label>{{radio-button selection=terminal value="terminal"}} {{format-html-message 'formCommand.console.terminal'}}></label>
    </div>
  </div>
  <div class="col-xs-12 col-sm-6 col-md-4">
    <div class="radio small">
      <label>{{radio-button selection=terminal value="none"}} {{format-html-message 'formCommand.console.none'}}</label>
    </div>
  </div>
</div>

{{#if isService}}
  <div class="row">
    <div class="col-sm-12 col-md-2 form-label">
      <label>{{t 'formCommand.autoRestart.label'}}</label>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="radio small">
        <label>{{radio-button selection=startOnce value=false}} {{t 'formCommand.autoRestart.startOnceFalse'}}</label>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="radio small">
        <label>{{radio-button selection=startOnce value=true}} {{t 'formCommand.autoRestart.startOnceTrue'}}</label>
      </div>
    </div>
  </div>
{{else}}
  <div class="row">
    <div class="col-sm-12 col-md-2 form-label">
      <label>{{t 'formCommand.autoRestart.label'}}</label>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="radio small">
        <label>{{radio-button selection=restart value="no"}} {{t 'formCommand.autoRestart.no'}}</label>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="radio small">
        <label>{{radio-button selection=restart value="on-failure"}} {{t 'formCommand.autoRestart.onFailure'}}</label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="hidden-xs hidden-sm col-md-2 form-label">&nbsp;</div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="radio small">
        <label>{{radio-button selection=restart value="always"}} {{t 'formCommand.autoRestart.always'}}</label>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="radio small">
        <label>
          {{radio-button selection=restart value="on-failure-cond"}}
          <span class="with-input">
            {{t 'formCommand.autoRestart.onFailureCondPrefix' limit=restartLimit}}
            {{input type="number" min=1 safeStyle="width: 60px; padding: 0 2px; display: inline-block;" class="form-control input-sm" value=restartLimit}}
            {{t 'formCommand.autoRestart.onFailureCondSuffix' limit=restartLimit}}
          </span>
        </label>
      </div>
    </div>
  </div>
{{/if}}

<div class="row">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">{{t 'formCommand.environment.label'}}</label>
  </div>

  <div class="col-sm-12 col-md-8">
    {{form-key-value
      initialMap=instance.environment
      changed=(action (mut instance.environment))
      addActionLabel="formCommand.environment.addAction"
      keyLabel="formCommand.environment.keyLabel"
      keyPlaceholder="formCommand.environment.keyPlaceholder"
      valueLabel="formCommand.environment.valueLabel"
      valuePlaceholder="formCommand.environment.valuePlaceholder"
      allowEmptyValue=true
    }}
  </div>
</div>

