<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">{{t 'formCommand.command.label'}}</label>
  </div>

  <div class="col-sm-12 col-md-8">
    {{#input-or-display editable=editing value=instance.command}}
      {{input-command class="form-control" type="text" changed=(action (mut instance.command)) initialValue=instance.command placeholder=(t 'formCommand.command.placeholder')}}
    {{/input-or-display}}
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">{{t 'formCommand.entryPoint.label'}}</label>
  </div>
  <div class="col-sm-12 col-md-8">
    {{#input-or-display editable=editing value=instance.entryPoint}}
      {{input-command class="form-control" type="text" changed=(action (mut instance.entryPoint)) initialValue=instance.entryPoint placeholder=(t 'formCommand.entryPoint.placeholder')}}
    {{/input-or-display}}
  </div>
</div>
<div class="row form-group">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">{{t 'formCommand.workingDir.label'}}</label>
  </div>
  <div class="col-sm-12 col-md-4">
    {{#input-or-display editable=editing value=instance.workingDir}}
      {{input type="text" value=instance.workingDir classNames="form-control" placeholder=(t 'formCommand.workingDir.placeholder')}}
    {{/input-or-display}}
  </div>
  {{#if editing}}
    <div class="col-sm-12 col-md-1 form-label" style="text-align: left">
      <label class="form-control-static">{{t 'formCommand.user.label'}}</label>
    </div>
    <div class="col-sm-12 col-md-3">
      {{input type="text" value=instance.user classNames="form-control" placeholder=(t 'formCommand.user.placeholder')}}
    </div>
  {{/if}}
</div>

{{#unless editing}}
<div class="row form-group">
    <div class="col-sm-12 col-md-2 form-label" style="text-align: left">
      <label class="form-control-static">{{t 'formCommand.user.label'}}</label>
    </div>
    <div class="col-sm-12 col-md-8">
      {{#if instance.user}}
        <div class='form-control-static text-muted'>{{instance.user}}</div>
      {{else}}
        <div class="form-control-static text-muted">{{t 'generic.na'}}</div>
      {{/if}}
    </div>
</div>
{{/unless}}
<div class="row">
  <div class="col-sm-12 col-md-2 form-label">
    <label>{{t 'formCommand.console.label'}}</label>
  </div>

  {{#input-or-display editable=editing value=terminal.name classesForDisplay="col-sm-12 col-md-8"}}
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="radio small">
        <label>{{radio-button selection=terminal.type value="both"}} {{format-html-message 'formCommand.console.both'}}</label>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="radio small">
        <label>{{radio-button selection=terminal.type value="interactive"}} {{format-html-message 'formCommand.console.interactive'}}</label>
      </div>
    </div>
  {{/input-or-display}}
</div>
{{#if editing}}
  <div class="row form-group">
    <div class="hidden-xs hidden-sm col-md-2 form-label">&nbsp;</div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="radio small">
        <label>{{radio-button selection=terminal.type value="terminal"}} {{format-html-message 'formCommand.console.terminal'}}</label>
      </div>
    </div>
    <div class="col-xs-12 col-sm-6 col-md-4">
      <div class="radio small">
        <label>{{radio-button selection=terminal.type value="none"}} {{format-html-message 'formCommand.console.none'}}</label>
      </div>
    </div>
  </div>
{{/if}}

{{#if isService}}
  <div class="row {{unless editing 'form-group'}}">
    <div class="col-sm-12 col-md-2 form-label">
      <label>{{t 'formCommand.autoRestart.label'}}</label>
    </div>

    {{#if editing}}
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="radio small">
          <label>{{radio-button selection=startOnce value=false}} {{t 'formCommand.autoRestart.startOnceFalse'}}</label>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="radio small">
          <label>{{radio-button selection=startOnce value=true}} {{t 'formCommand.autoRestart.startOnceTrue'}}</label>
        </div>
      </div>
    {{else}}
      {{#if startOnce}}
        <div>{{startOnce}}</div>
      {{else}}
        <div>{{t 'generic.none'}}</div>
      {{/if}}
    {{/if}}
  </div>
{{else}}
  <div class="row {{unless editing 'form-group'}}">
    <div class="col-sm-12 col-md-2 form-label">
      <label>{{t 'formCommand.autoRestart.label'}}</label>
    </div>

    {{#if editing}}
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="radio small">
          <label>{{radio-button selection=restart value="no"}} {{t 'formCommand.autoRestart.no'}}</label>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="radio small">
          <label>{{radio-button selection=restart value="on-failure"}} {{format-html-message 'formCommand.autoRestart.onFailure'}}</label>
        </div>
      </div>
    {{else}}
      <div class="col-xs-12 col-sm-6 col-md-4">
        {{#if restart}}
          <div>{{restart}}</div>
        {{else}}
          <div>{{t 'generic.none'}}</div>
        {{/if}}
      </div>
    {{/if}}
  </div>
  {{#if editing}}
    <div class="row">
      <div class="hidden-xs hidden-sm col-md-2 form-label">&nbsp;</div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="radio small">
          <label>{{radio-button selection=restart value="always"}} {{t 'formCommand.autoRestart.always'}}</label>
        </div>
      </div>
      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="radio small">
          <label>
            {{radio-button selection=restart value="on-failure-cond"}}
            <span class="with-input">
              {{t 'formCommand.autoRestart.onFailureCondPrefix' limit=restartLimit}}
              {{input-integer min=1 safeStyle="width: 60px; padding: 0 2px; display: inline-block;" class="form-control input-sm" value=restartLimit}}
              {{t 'formCommand.autoRestart.onFailureCondSuffix' limit=restartLimit}}
            </span>
          </label>
        </div>
      </div>
    </div>
  {{/if}}
{{/if}}

<div class="row">
  <div class="col-sm-12 col-md-2 form-label">
    <label class="form-control-static">{{t 'formCommand.environment.label'}}</label>
  </div>

  <div class="col-sm-12 col-md-8">
    {{form-key-value
      initialMap=instance.environment
      changed=(action (mut instance.environment))
      addActionLabel="formCommand.environment.addAction"
      keyLabel="formCommand.environment.keyLabel"
      keyPlaceholder="formCommand.environment.keyPlaceholder"
      valueLabel="formCommand.environment.valueLabel"
      valuePlaceholder="formCommand.environment.valuePlaceholder"
      allowEmptyValue=true
      editing=editing
    }}
  </div>
</div>

