{{top-errors errors=errors}}

<section class="horizontal-form">
  <div class="container-fluid">
    {{partial "host/add-common"}}

    <div class="over-hr" style="margin: 20px 0;">
      <span>Account Access</span>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="authUrl" class="form-control-static">Keystone URL*</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{input id="authUrl" type="text" value=openstackConfig.authUrl classNames="form-control" placeholder="The URL for your Keystone endpoint"}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="username" class="form-control-static">Username*</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input id="username" type="text" value=openstackConfig.username classNames="form-control" placeholder="Keystone Username"}}
      </div>
      <div class="col-sm-12 col-md-2 form-label">
        <label for="password" class="form-control-static">Password*</label>
      </div>
      <div class="col-sm-12 col-md-3">
        {{input id="password" type="password" value=openstackConfig.password classNames="form-control" placeholder="Keystone Password"}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="tenantName" class="form-control-static">Tenant Name*</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{input id="tenantName" type="text" value=openstackConfig.tenantName classNames="form-control" placeholder="Name of the tenant to deploy into"}}
      </div>
    </div>

    <div class="over-hr" style="margin: 20px 0;">
      <span>Instance</span>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="flavorName" class="form-control-static">Flavor Name</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{input id="flavorName" type="text" value=openstackConfig.flavorName classNames="form-control" placeholder="Name of the flavor to use"}}
      </div>
    </div>

    <div class="row form-group">
      <div class="col-sm-12 col-md-2 form-label">
        <label for="imageName" class="form-control-static">Image Name</label>
      </div>
      <div class="col-sm-12 col-md-8">
        {{input id="imageName" type="text" value=openstackConfig.imageName classNames="form-control" placeholder="Name of the image to use"}}
      </div>
    </div>
  </div>

  {{partial "save-cancel"}}
</section>
