<div class="row">
  <div class="row-same-height row-full-height">
    <div class="col-sm-12 col-md-4 col-md-height col-md-full-height col-top" style="margin-bottom: 20px;">
      <div class="well no-padding-margin" style="height: 100%;">
        <div style="padding: 20px;">
          <label class="section">Info</label>
          <div>
            {{yield}}
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-md-height col-md-full-height col-top" style="margin-bottom: 20px;">
      <div class="well no-padding-margin" style="height: 100%;">
        <div style="padding: 20px;">
          <label class="section">CPU Utilization</label>
          <div class="{{unless stats.active 'hide'}}">
            <div id="cpuGraph"></div>
          </div>
          <div class="text-center text-muted {{unless stats.loading 'hide'}}" style="height: 200px; padding-top: 80px;">
            <i class="fa fa-circle-o-notch fa-spin"></i> Connecting...
          </div>
          <div class="text-center text-muted {{unless stats.available 'hide'}}" style="height: 200px; padding-top: 80px;">
            Utilization stats are only available while active/running.
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12 col-md-4 col-md-height col-md-full-height col-top" style="margin-bottom: 20px;">
      <div class="well no-padding-margin" style="height: 100%;">
        <div style="padding: 20px;">
          <label class="section">Memory Utilization</label>
          <div class="{{unless stats.available 'hide'}}"}}>
            <div id="memoryGraph"></div>
          </div>
          <div class="text-center text-muted {{unless stats.loading 'hide'}}" style="height: 200px; padding-top: 80px;">
            <i class="fa fa-circle-o-notch fa-spin"></i> Connecting...
          </div>
          <div class="text-center text-muted {{if stats.available 'hide'}} style="height: 200px; padding-top: 80px;">
            Utilization stats are only available while active/running.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
