<tr>
  <td class="force-wrap">
    {{badge-state model=model}}
  </td>
  <td class="force-wrap">
    <a href="#" {{action "toggleExpand"}}><i class="icon {{if expanded 'icon-minus-square' 'icon-plus-square'}}"/></a>
    {{#link-to "swarm-tab.projects.project" model.id}}{{model.displayName}}{{/link-to}}
  </td>
  <td>
    {{#if model.services.length}}
      {{model.services.length}}
    {{else}}
      <span class="text-muted">{{t 'generic.none'}}</span>
    {{/if}}
  </td>
  <td class="actions">
    {{action-menu model=model showPrimary=false}}
  </td>
</tr>
{{#if expanded}}
  <tr class="nohover">
    <td colspan="4" class="subtable">
      {{swarm/service-section model=model.unremovedServices}}
    </td>
  </tr>
{{/if}}
