<td data-title="{{t 'apiPage.table.state'}}:">
  {{badge-state model=model}}
</td>
<td data-title="{{t 'apiPage.table.name'}}:">
  {{#if model.name}}{{model.displayName}}{{else}}<span class="text-muted">{{t 'apiPage.table.noName'}}</span>{{/if}}
</td>
<td data-title="{{t 'apiPage.table.description'}}:">
  {{#if model.description}}{{model.description}}{{else}}<span class="text-muted">{{t 'apiPage.table.noDescription'}}</span>{{/if}}
</td>
<td data-title="{{t 'apiPage.table.publicValue'}}:">
  {{#if model.publicValue}}
    {{#copy-to-clipboard clipboardText=model.publicValue size="small"}}
      {{model.publicValue}}
    {{/copy-to-clipboard}}
  {{else}}
    <span class="text-muted">{{t 'apiPage.table.noPublicValue'}}</span>
  {{/if}}
</td>
<td data-title="{{t 'apiPage.table.created'}}:">
  {{date-calendar model.created}}
</td>
<td data-title="{{t 'generic.actions'}}:" class="actions">
  {{action-menu model=model}}
</td>
