<div class="clearfix">
  <div class="stack-state {{model.stateBackground}}"><i class="{{model.stateIcon}}"></i></div>

  <div class="right left-divider stack-actions">
    {{upgrade-btn environmentResource=model}}
    {{action-menu model=model}}
  </div>

  <div class="right left-divider count">
    <p class="count">{{instanceCount}}</p>
    <label>Container{{unless (eq instanceCount 1) 's'}}</label>
  </div>

  <div class="right left-divider count">
    <p>{{model.unremovedServices.length}}</p>
    <label>Service{{unless (eq model.unremovedServices.length 1) 's'}}</label>
  </div>

  <div class="left collapser">
    <a {{action "toggleCollapse"}} class="btn btn-link"><i class="icon {{if collapsed 'icon-plus' 'icon-x'}}" alt="Toggle stack details" title=""></i></a>
  </div>

  <div class="left">
    <h4>
      <span class="divider clip">{{#link-to "environment" model.id}}{{model.name}}{{/link-to}}</span>
    </h4>
  </div>
</div>

{{#liquid-if (not collapsed)}}
  <div class="r-pl10 r-pr10 r-pb10">
    <table class="grid fixed" style="margin-bottom: 0">
      <tr>
        <th>&nbsp;</th>
        <th>&nbsp;</th>
        <th width="230">&nbsp;</th>
        <th width="50">&nbsp;</th>
      </tr>
      {{#each model.services as |service|}}
        <tr>
          <td><i class="{{service.stateIcon}} {{service.stateColor}}"></i> {{#link-to "service" model.id service.id}}{{service.displayName}}{{/link-to}}</td>
          <td>{{service.displayDetail}}</td>
          <td>
            {{#if service.displayType}}
              <span class="badge badge-primary">{{service.displayType}}</span>
            {{/if}}
            {{#if service.hasSidekicks}}
              <span class="badge badge-default">{{service.secondaryLaunchConfigs.length}} Sidekick{{unless (eq service.secondaryLaunchConfigs.length 1) 's'}}</span>
            {{/if}}
            {{#if service.hasContainers}}
              <span class="badge badge-warning"><i class="icon icon-box"></i> {{default-str service.instances.length default="0"}}</span>
            {{/if}}
          </td>
          <td class="actions">{{action-menu model=service}}</td>
        </tr>
      {{/each}}
    </table>
  </div>
{{/liquid-if}}
