{{#if hasBlock}}
  {{yield}}
{{else}}
  <div class="pt-15 pb-30">
    <label>{{t 'newPassword.password'}}{{field-required}}</label>
    <div class="inline-form">
      {{input type="password" placeholder=(t 'newPassword.placeholder') value=newPassword}}
    </div>
  </div>
  <div class="pt-15 pb-30">
    <label>{{t 'newPassword.confirmPassword'}}{{field-required}}</label>
    <div class="inline-form">
      {{input type="password" placeholder=(t 'newPassword.placeholder') value=confirmPassword}}
    </div>
  </div>
  <div class="{{if passwordsMatch 'hide' ''}}">
    <p>{{t 'newPassword.passwordNoMatch'}}</p>
  </div>
{{/if}}
