<td data-title="{{t 'generic.name'}}:">
  {{model.displayName}}
</td>
<td data-title="{{t 'generic.description'}}:">
  {{#if model.description}}{{model.description}}{{else}}<span class="text-muted">{{t 'projectRow.none'}}</span>{{/if}}
</td>
<td data-title="{{t 'projectList.indexTemplate.table.header.stacks'}}:">
  {{model.displayStacks}}
</td>
<td data-title="{{t 'projectList.indexTemplate.table.header.isPublic'}}:">
  {{#if model.isPublic}}<i class="icon icon-check"></i>{{else}}<span class="text-muted">&ndash;</span>{{/if}}
</td>
<td data-title="{{t 'generic.actions'}}:"class="actions">
  {{action-menu model=model}}
</td>
